<script type="text/javascript" charset="utf-8">
      $(document).ready(function(){    
      var counter =0     
        $("a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'normal',theme:'light_square',slideshow:5000, autoplay_slideshow: false, show_title: true,  social_tools:false, deeplinking:false, changepicturecallback: function(){
          add_nav_link_for_images()},
        callback: function() { counter =0;}
      }); 

       function add_nav_link_for_images()
          {  
            <% images.each do |image| %>  
                <% unless image.pics_file_name.blank? %>  
                 if(counter == 0)
                  { 
                    $(".pp_hoverContainer").wrap('<a target="_blank" id="sample" href="#" />');
                    counter++;
                  }                 
                  
                  var img_src = $("#fullResImage").attr('src')
                  var img_from_app = '<%=image.pics(:thumb) %>'

                        if (img_src ==  img_from_app)
                        {   
                            nav_link = '<%= image.navigation_link%>'
                            if(nav_link.length>0)
                            { 
                              $("#sample").attr("href", nav_link);
                              $(".pp_hoverContainer").css("display", "block");
                            }
                            else
                            {
                               $("#sample").removeAttr("href");
                            }
                        }             
                 <%end%>  
             <%end%>   
          }
});
</script>
<%= form_tag delete_images_status_key_index_path, :id=>"delete_images" do %>
  <%= hidden_field_tag "plan_name", plan_name %>
  <%= hidden_field_tag "plan_id", plan_id %>
  <table class="table scroll_body" style="display:table;width:100%">
    <% if images.count > 0 %>
      <thead style="float:left;width:100%">
        <tr class="table_heading">
          <td >Image</td>    
          <td style="width: 24%;">Title</td>      
          <td style="width: 25%;">Description</td>      
          <td style="width: 23%;">Navigation Link</td>      
          <td style="width: 8%;">Key Image</td>  
          <td>Action</td>
        </tr>
      </thead>
      <tbody style="float:left;width:100%;overflow:auto;height:299px">
        <% unless images.empty?%>
          <% images.each do |image| %>  
            <tr>
              <td style="padding-left:0px;">
                <% if image.pics_file_name.blank? %>        
                    <div>
                        <a href="<%=image.youtube_url%>" target="_blank" rel="prettyPhoto" title="<%= image.description%>">  
                        <img src="http://img.youtube.com/vi/<%= image.ytube_video_id%>/default.jpg" alt="<%= image.title%>">
                         <img class="OverlayIcon" src="/assets/youtube_logo.png" style="position: relative;margin-left: -51%" alt="" />
                        </a>
                    </div>  
                <%else%>
                    <a href="<%=image.pics(:thumb) %>" rel="prettyPhoto" title="<%= image.description%>"><img src="<%=image.pics(:thumb_add_images) %>" alt="<%= image.title%>" />
                      </a>  
                <% end %>
              </td>
              <td>                
                <%= text_area_tag "tbldataattachments[][title]" , image.title, :class=>"form-control", :autocomplete => "off",:data => {:value => image.title}, :maxlength=> 50, 
                          :style=>"height:75px;", :placeholder => "Tiltle (max length 50 characters)"%>
              </td>
              <td>                
                <%= text_area_tag "tbldataattachments[][description]" , image.description, :class=>"form-control", :style=>"height:80px;", :autocomplete => "off",:data => {:value => image.description},  :maxlength=> 250, :placeholder => "Description (max length 250 characters)"%>
              </td>
              <td>                
                <%= text_field_tag "tbldataattachments[][navigation_link]" , image.navigation_link, :class=>"form-control", :autocomplete => "off",:data => {:value => image.navigation_link}%>
              </td>
              <td>
                <%= hidden_field_tag 'key_image[][id]', image.id %>   
                <%= hidden_field_tag 'key_image[][pics_file_name]', image.pics_file_name %>     
                <% if @selected_key_image_id == image.id %>                   
                  <%= radio_button_tag 'key_image[][_key_image]', 1, true, :style => "margin-left: 20px;" %>
                <%else%>
                  <%= radio_button_tag 'key_image[][_key_image]', 1, false, :style => "margin-left: 20px;" %>
                <%end%>
              </td>    
              <td style="font-size:11px;">   
                <%= hidden_field_tag 'tbldataattachments[][id]', image.id %>      
                <%= hidden_field_tag 'tbldataattachments[][pics_file_name]', image.pics_file_name %>      
                <%= hidden_field_tag 'tbldataattachments[][youtube_url]', image.youtube_url %>      
                <%= check_box_tag 'tbldataattachments[][_destroy]', '', false, :style=>"margin-top:2px;font-size:11px;"%> Remove
              </td> 
            </tr>
          <%end%>             
        <%end%>             
      </tbody>
      <tr>
        <td colspan="6">
          <div class="pull-right">                  
            <span>
            <%= submit_tag "Delete", :class => "btn btn-primary", :id=> "update_images", :value => "Save" %>
            <a href='#' onclick="close_popup()" data-dismiss="modal" style="color:red;" class="cancel_btn_css">cancel</a></span>
          </div>
        </td>
      </tr>  
    <% else %>            
      <tr>
        <td colspan="6">
          <center><p>No Images to Display</p></center>
        </td>
      </tr>
    <%end%>
              
   
  </table>
<% end %>
 <div id ="edit_plan_ajax_loader" style="display:none;top: 45%;left: -31%;">
      <%= image_tag SITE_ROOT_DOMAIN_NAME+"/assets/ajax-loader.gif", :alt => "loader", :id=> "ajax_loader_img" %>
    </div>
<script>
  var touch_or_nontouch = 0;
  if(navigator.userAgent.match(/(ipad)|(android)|(android 3.0)|(xoom)|(sch-i800)|(playbook)|(kindle)|(iphone)|(ipod)|(blackberry)|(opera)|(mini)|(palm)|(smartphone)|(iemobile)/i)){
          touch_or_nontouch=1;
  }
  function close_popup()
  {   
      $("#image_edit").dialog("close")
  }
  var del_options = {     
      success: function(res) 
      {  
          if(res.status=="success"){
              if ($(".ui-dialog.ui-widget.ui-widget-content").length > 0) {
                    $(".ui-dialog.ui-widget.ui-widget-content").remove();
                }       
                $.ajax({
                  url:'/status_key/render_statuskey_list',
                  type:'get',
                  dataType:'html',
                               
                  success:function (response) {   
                      $("#edit_plan_ajax_loader").css("display", "none");
                      $("body").removeClass("inactiveLink")
                      $("#status_key_list").html(response);
                      edit_images('<%= plan_id%>','<%= plan_name%>')      
                      
                  }
              });
       }else
       { 
       	alert(res.msg);              
          $("#edit_plan_ajax_loader").css("display", "none");
          $("body").removeClass("inactiveLink")
       }	
      },
      complete: function(response) 
      {
      
      },
      error: function()
      {
      }
  }; 
  $("#delete_images").submit(function(){
  	$("#edit_plan_ajax_loader").css({"display": "block", "opacity":"0.5"});
    $("body").addClass("inactiveLink")
      $("#delete_images").ajaxSubmit(del_options); 
      $("#image_delete_error").empty();
      return false;
  });

</script>
<style type="text/css">
 table.scroll_body td:nth-child(1)  {
        width: 139px;
    }
</style>