<script>
    $(document).ready(function () {
        $('#tbldata_tbldataattachments_image').MultiFile();  
    });

    function browse_image(){        
        $('input[type="file"]').change(function() {            
           $('input[type="file"]').css('color', 'transparent'); 
           $("#image_upload_error").empty();   
           $("#image_already_exists").empty();   
        });
    }
</script>
<%= form_tag(upload_images_status_key_index_path,:multipart => true,:id=>"upload_files") do %>
    <%= hidden_field_tag "plan_id", "" %>    
    <%= hidden_field_tag "plan_name", "" %>    

    <div class="border_upload_popup"></div>
    <p id="tbldata_tbldataattachments_image_wrap" class="margin_top_upload_popup" style="margin-left:2%"></p>
    <div id="image_already_exists"></div>
    <table style="margin-left:2%">
        <tr>
            <td>Youtube Url:</td>
            <td><%= text_field_tag "youtube_url","",:class=>"form-control", :style => "width: 90%" %></td>
        </tr>
    </table>
    <p id="image_upload_error" class="upload_err_css"></p>
    <div class="text-right" style="margin-bottom:1%;margin-right:2%">
       <%= submit_tag "Upload Files", :class => "btn btn-primary", :id=> "upload_file_btn", :value => "Upload"%>
       <a href='#' onclick="close_image_popup()" data-dismiss="modal" style="color:red;" class="cancel_btn_css">cancel</a>
    </div>
    <div id ="ajax_loader" style="display:none;position: absolute;top: -23%;left: -11%;">
      <%= image_tag SITE_ROOT_DOMAIN_NAME+"/assets/ajax-loader.gif", :alt => "loader", :id=> "ajax_loader_img" %>
    </div>
<% end %>


<script>
function close_image_popup()
{   
    $("#image_upload").dialog("close")
}

var options = {     

    success: function(res) 
    { 
        // res = $.parseJSON(res);
        if(res.status=="success"){        	     
           if ($(".ui-dialog.ui-widget.ui-widget-content").length > 0) {
                  $(".ui-dialog.ui-widget.ui-widget-content").remove();
              }         
    	      $.ajax({
                url:'/status_key/render_statuskey_list',
                type:'get',
                dataType:'html',
                             
                success:function (response) {
                      var plan_id = $('#upload_files #plan_id').val();
                      var plan_name = $('#upload_files #plan_name').val();
                      edit_images(plan_id, plan_name)
                    $("#status_key_list").html(response);
                    $("#ajax_loader").css("display", "none");
                    $("body").removeClass("inactiveLink")
                }
            });
     }
     else{

        $("#image_upload_error").text(res.msg);
        $("#image_already_exists").empty();
        if(res.upload_image_errors !=null ){
        res.upload_image_errors.forEach(function(each_error_msg) {
        $("#image_already_exists").append($("<li/>").text(each_error_msg));
        });
       }
        $("#ajax_loader").css("display", "none");
        $("body").removeClass("inactiveLink")
     }	

    },
    complete: function(response) 
    {
    
    },
    error: function()
    {
    
    }
 
}; 
$("#upload_files").submit(function(){
    $("#image_already_exists").empty();
    $("#image_upload_error").empty();
    $("#ajax_loader").css("display", "block");
    $("body").addClass("inactiveLink")
    $("#upload_files").ajaxSubmit(options); 
    return false;
});

</script>