<!-- <div id="image_upload" style="display:none;">
  <= render :partial => 'status_key/image_upload' %>
</div> -->

<div class="modal fade" role="dialog" style="z-index:2000" id="status_image_upload_modal">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header" style="text-align:left !important;padding-bottom: 2px;
            padding-top: 3px;">
            <label class="modal_title_ui" style="padding-left:0%"> Upload Images</label>
            <button type="button" class="close modal_title_cross_button" data-dismiss="modal" style="margin-right:0% !important">&times;</button>
          </div>
          <div class="modal-body table-responsive" id="image_upload" style="margin-bottom:0px !important;text-align:left !important;">
                  <%= render :partial => 'status_key/image_upload' %>
          </div>
        </div>
    </div>
</div>


<table id="outer_table" class="table table_bottom tablesorter" style="float:left">
<thead>
<tr class="table_heading">
<%PlanFieldDisplayName.all.each do |planfield|%>
    <td class="sort_table" id="Plan_Name"><%= planfield.Plan_Name %></td>
	<td class="sort_table" id="community">Community</td>
    <td class="sort_table" id="Plan_Url"><%= planfield.Plan_Url %></td>
    <td class="sort_table">Media Count</td>
    <td class="sortable_edit sort_table" >Action</td>
    <td class="sortable_edit sort_table"></td>
<% end %>

</tr>
</thead>
    <%unless @statuskey.blank?%>
        <%@statuskey.each do |statuskey|%>
            <tr>
                <td style="white-space:initial !important;word-break:keep-all !important;word-wrap: break-word;"> 
                    <%=link_to statuskey.StatusKey, "/status_key/#{statuskey.id}"%>
                </td>
                <td style="white-space:initial !important;word-break:keep-all !important;word-wrap: break-word;">           
                    <%= StatusDetail.where("StatusKey" => statuskey.StatusKey).map(&:Community).uniq.join(", ") %>
                </td>
                <td style="white-space:initial !important;word-break:keep-all !important;word-wrap: break-word;">          
                    <%= statuskey.Link_Name %>
                </td>
                <td style="padding-left:45px;">
                    <% count_of_images =  ImageGallery.where(:plan_id => statuskey.id).count %>
                    <% if count_of_images >=1 %>
                        <%= link_to "#{count_of_images}", "", :onclick=>"edit_images('#{statuskey.id}', '#{statuskey.StatusKey}');return false;" %>
                    <%else%>
                        <%= count_of_images %>
                    <%end%>
                </td>
                <td> 
                   <%=link_to 'Add Media', "" ,:onclick=> "upload_images('#{statuskey.id}', '#{statuskey.StatusKey}');return false;", :plan_id => "#{statuskey.id}"%>
                </td>  

                <td>            
                    <%=link_to 'Edit ', "/status_key/#{statuskey.id}/edit" %>            
                </td>
            </tr>  
        <% end %>
    <%else%>
        <tr>
            <td colspan="3">
                <center>No Statuses added</center>
            </td>
        </tr>
    <%end%>
   <!--  <div id ="ajax_loader" style="display:none">
        <= image_tag "ajax-loader.gif", :alt => "loader", :id=> "ajax_loader_img" %>
    </div> -->
    <div id="image_edit" style="z-index:2000"></div>
</table>

<style>
    .disabled_label
    {
        color:#999967;font-weight:normal
    }
</style>
<%= javascript_include_tag  "jquery.tablesorter.min.js" %>
<%= javascript_include_tag  "jquery.tablesorter.widgets.js" %>
<%= stylesheet_link_tag    "theme.default" %>
<script>
    $(function(){
        $('table').tablesorter({
            widgets        : ['zebra', 'columns'],
            usNumberFormat : false,
            emptyTo        : 'none',
            sortRestart    : true
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#tbldata_tbldataattachments_image').MultiFile();
    });

    function upload_images(plan_id, plan_name){       
        $("#youtube_url").val("");            
        $("#image_already_exists").empty();
        $("#image_upload_error").empty();
        $("#tbldata_tbldataattachments_image_wrap_list").empty();            
        $("#image_upload #plan_id").val(plan_id);
        $("#image_upload #plan_name").val(plan_name);
        filehtml='<input type="file" multiple accept="gif|jpg|png|jpeg" name="tbldataattachments_attributes[][pics]" id="tbldata_tbldataattachments_image" onChange="browse_image()" class="multi" value="">';
        $("#tbldata_tbldataattachments_image_wrap").html(filehtml);
        $('#tbldata_tbldataattachments_image').MultiFile();
        $('input[type="file"]').css('color', 'transparent'); 
      //   $("#image_upload").dialog({              
      //     resizable:false,
      //     title: "Upload Images",
      //     modal:false,
      //     width:497,
      //     closeOnEscape:false,
      //     draggable:false,
      //      close:function (event, ui) {                        
      //               $("#close").attr("disabled",false)                                               
      //           }             
      // });
            $("#status_image_upload_modal").modal({
                backdrop: false,
                keyboard: false,
                show: true
            });
    }
    function edit_images(plan_id, plan_name){        
        $.ajax({
            url:'/status_key/edit_plan_images/' + plan_id,
            type:'GET',
            dataType:'html',
            data: {"plan_name": plan_name},
            success:function (response, status) {
                $("#image_edit").html(response);
                $("#image_edit").dialog({
                    draggable:false,
                    height:450,
                    width:1120,
                    left:178,
                    resizable:false,
                    modal:true,
                    closeOnEscape:false,
                    close:function (event, ui) {
                        $("#image_edit").dialog("destroy");
                        $("#close").attr("disabled",false)                        
              }
                }).data();
                $("#image_edit").prev().removeClass('ui-widget-header');
            }
        });
    };
</script>