<%= stylesheet_link_tag "demo" %> 

<script type="text/javascript" charset="utf-8">

      $(document).ready(function(){    
      var counter =0     
        $("a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'normal',theme:'light_square',slideshow:5000, autoplay_slideshow: false, show_title: true,  social_tools:false, deeplinking:false, changepicturecallback: function(){
          add_nav_link_for_images()},
        callback: function() { counter =0;}
      }); 
            

       function add_nav_link_for_images()
          { 
             if(counter == 0)
              { 
                $(".pp_hoverContainer").wrap('<a target="_blank" id="sample" href="#" />');
                counter++;
              }                 
              
              var img_src = $("#fullResImage").attr('src')
              <% images.each do |image| %>  
                 <% unless image.pics_file_name.blank? %>                         
                      var img_from_app = '<%=image.pics(:thumb) %>'                       

                      if (img_src ==  img_from_app)
                      {   
                          nav_link = '<%= image.navigation_link%>'
                          
                          if(nav_link.length>0)
                          { 
                            $("#sample").attr("href", nav_link);
                            $(".pp_hoverContainer").css("display", "block");
                          }
                          else
                          {  
                             $("#sample").removeAttr("href");
                          }
                      }                                      
              <%end%>   
            <%end%>   
          }

  var api_images = []
  var api_titles = []
  var api_desc = []
  <% unless images.empty? %>
      <% images.each do |image| %>
          api_titles.push('<%= image.title unless image.title.blank? %>')
          api_desc.push('<%= image.description unless image.description.blank? %>')
         <%if image.pics_file_size.blank?%>
            api_images.push('<%=image.youtube_url %>')                     
        <%else%>
            api_images.push('<%=image.pics(:thumb) %>')                                   
        <%end%>            
      <%end%>      
      $.prettyPhoto.open(api_images,api_titles,api_desc);
      $.prettyPhoto.changePage('next');
      $.prettyPhoto.changePage('previous');            
  <%end%>

});
</script>
<% if images.count == 1 %>
  <style type="text/css">
    .pp_previous, .pp_next
    {
      display: none !important;
    }
  </style>
<%end%>

<div class="callbacks_container" id="display_lot_images">
	<ul class="rslides" id="images-slider">
	<% unless images.empty? %>
		<%images.each do |image|%>
		<li>			

<% if image.pics_file_name.blank? %>        
        <div>
          <a>
          <img src="http://img.youtube.com/vi/<%= image.youtube_url.split("=").last%>/default.jpg">
           <img class="OverlayIcon" src="/assets/youtube_logo.png" style="width: 20%;margin-top: 25%;margin-left: -61%;" />
          </a>
      </div>  
<%else%>  		
  			<% if image.navigation_link.blank?%>	
  				<%= image_tag(image.pics(:thumb) , :class => "img_preview") %>	
  			<% else %>			        		
  	     		<%= link_to image_tag(image.pics(:thumb)), image.navigation_link, :target => "_blank" %> 
  	    <% end %>
<% end %>
     		</li>
		<%end%>			
	</ul>
    <% else %>
        <% end %>
</div>


    
 
</script>