
<div id="content" class='content_mid' > 
<div class="css_back_to_map_div">
    <img src="/assets/back_arrow.png" class="css_back_arrow">
    <%= render :partial => 'layouts/back_to_map'%>  
</div>
<div class="flash_notice"><font size="3" color="red" align="center"><%= flash[:notice] %></font></div>
<div class="col-xs-11 col-sm-6 col-md-6 col-lg-4 col-lg-push-4 col-sm-push-3 col-md-push-3 col_content_mid xs_cols_push">
<div class="names_align">Modify Display Names</div>
<br />
<hr>
        <%= form_tag "/plan_field_display_name/display_names",:id=>"create_link_form", :method => :post do %>
         <div>   
           <table>
           <% PlanFieldDisplayName.all.each do |planfield| %>
					<tr>
						<td valign="top">&emsp;Plan Name </td>
						<td>&emsp;<input type="text" name="plan_name" id="plan_name" class="input_filed_border" value="<%= planfield.Plan_Name %>"/></td>
					</tr>
		    		<tr>
						<td valign="top">&emsp;Plan Url </td>
						<td>&emsp;<input type="text" name="link_name" id="link_name" class="input_filed_border" value="<%= planfield.Plan_Url %>"/>
						</td>
		    		</tr>
		    		<tr>
						<td valign="top">&emsp;Plan Description </td>
						<td>&emsp;<input type="text" name="plan_description" id="plan_description" class="input_filed_border" value="<%= planfield.Plan_Description %>"/>
						</td>
		    		</tr>
		    		
		    		<tr>
						<td valign="top">&emsp;Sq. Feet </td>
						<td>&emsp;<input type="text" name="sq_feet" id="sq_feet" class="input_filed_border" value="<%= planfield.Sq_Feet %>"/>
						</td>
		    		</tr>
		    		<tr>
						<td valign="top">&emsp;Floors </td>
						<td>&emsp;<input type="text" name="floors" id="floors" class="input_filed_border" value="<%= planfield.Floors %>"/>
						</td>
		    		</tr>
		    		<tr>
						<td valign="top">&emsp;Bedrooms </td>
						<td>&emsp;<input type="text" name="bedrooms" id="bedrooms" class="input_filed_border" value="<%= planfield.Bedrooms %>"/>
						</td>
		    		</tr>
		    		<tr>
						<td valign="top">&emsp;Bathrooms </td>
						<td>&emsp;<input type="text" name="bathrooms"  id="bathrooms" class="input_filed_border" value="<%= planfield.Bathrooms %>"/>
						</td>
		    		</tr>
		    		<tr>
						<td valign="top">&emsp;Garages </td>
						<td>&emsp;<input type="text" name="garages" id="garages"  class="input_filed_border" value="<%= planfield.Garages %>"/>
						</td>
		    		</tr>
    		<% end %>
          </table>
        </div>
        	<div class="create_collection_button">
	                <button type="submit" class="btn btn-success">Save</button>
	                <a href="/status_key" class="cancel_text_color cancel_css_users_page">cancel</a>
        	</div>
        <% end %>
</div>
</div>
<style>
	tr:not(:first-child)> td {
    padding-top: 7px;
	}
	.input_filed_border{
		width:200px;
	}
</style>
