<%= javascript_include_tag 'MultiFile' %>
<div class="modal fade" role="dialog" style="z-index:2000" id="edit_status_image_upload_modal">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header" style="text-align:left !important;padding-bottom: 2px;
            padding-top: 3px;">
            <label class="modal_title_ui" style="padding-left:0%"> Upload Images</label>
            <button type="button" class="close modal_title_cross_button" data-dismiss="modal" style="margin-right:0% !important">&times;</button>
          </div>
          <div class="modal-body table-responsive" id="image_upload" style="margin-bottom:0px !important;text-align:left !important;">
                  <%= render :partial => 'status_key/image_upload' %>
          </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
		$("#update_link_form :input").click(function() {	
	        $('#update_link_form input, select, textarea').bind('keyup change blur', function(){  
	            $(".save_details").attr("disabled",false);
	        });
	    });
	});
    $(document).on('change', 'input[type="checkbox"]', function(){
       $(".save_details").attr("disabled",false);
        });   
</script>
<style>
	#edit_status_table tr td:nth-child(2){
		width:115px;
	}
</style>
<div id="content" class='content_mid'>
	<div class="css_back_to_map_div">
	    <img src="/assets/back_arrow.png" class="css_back_arrow">
	    <%= render :partial => 'layouts/back_to_map'%>  
	</div>
	<div class="col-xs-11 col-sm-10 col-md-6 col-sm-push-1 col-md-push-3 col_content_mid xs_cols_push">
		<div class="names_align" style="margin-top:2.5%">&ensp;Edit Plan</div>
		<br />
		<hr>
		<div>
		    <%= form_tag "/status_key/#{@legend_details.id}",:id=>"update_link_form", :method => :put do %>
		    
				<table id="edit_status_table" style="width:100%">
					<tr>
					<td></td>
					<td valign="top">&emsp;Plan Name</td>
					<td>&emsp;<%= @legend_details.StatusKey %>
					</td>
					</tr>

					<tr>
					<td></td>
					<td valign="top">&emsp;Plan Url</td>
					<td>&emsp;<input type="text" name="link_name" value="<%= @legend_details.Link_Name %>"   class="input_filed_border" placeholder = "Enter Link Name" />
					</td>
					</tr>

					<tr>
					<td></td>
					<td valign="top">&emsp;Community</td>	
					<!-- <td>
					<% @communities_edit.each do |community| %>
					<%legend_id = StatusDetail.find_by_Community_and_StatusKey(community.Community, @legend_details.StatusKey).id unless StatusDetail.find_by_Community_and_StatusKey(community.Community, @legend_details.StatusKey).blank? %>
					<% count = Tbldatum.where(:Community => community.Community).select{|x| x if (( x.Floor_Plan_Id.split(",").include?(legend_id.to_s) unless x.Floor_Plan_Id.blank?) )}.count%>
						<% if StatusDetail.where("StatusKey" => @legend_details.StatusKey).map(&:Community).uniq.include?(community.Community)%>
							&emsp;<input type="checkbox" name="community[]" id="<%= community.Community%>" value="<%= community.Community%>" class="lot_active_status" style="margin-right:5px;" data-status_count="<%= count %>" checked/><%= community.Community%>
						<%else%>
							&emsp;<input type="checkbox" name="community[]" id="<%= community.Community%>" value="<%= community.Community%>" class="lot_active_status" style="margin-right:5px;" data-status_count="<%= count %>"/><%= community.Community%>
						<%end%>
					<%end%>
					</td> -->
					<td>&emsp;
						<%@plans_for_community.each_with_index do |each_comm,i|%>
						 	<% if i != @plans_for_community.length-1 %>
								<%=each_comm%>,
							<%else%>
								<%= each_comm%>
							<%end%>
						<%end%>
					</td>
					</tr>
					<tr>
					<% if @legend_details.Plan_Description_Status == "off"%>	
						<td class="checkbox_td" valign="top"><input type="checkbox" name="plan_description_status" id="plan_description_status" onclick="disable_input(this.id)" ></td>
						<td valign="top">&emsp;Plan Description</td>
						<td>&emsp;<textarea name="plan_description" id="plan_description" class="input_filed_border" disabled  style= "resize:vertical"><%= @legend_details.Plan_Description %></textarea>
						</td>
					<% else %>
						<td class="checkbox_td" valign="top"><input type="checkbox" name="plan_description_status" id="plan_description_status" onclick="disable_input(this.id)" checked="true"></td>
						<td valign="top">&emsp;Plan Description</td>
						<td>&emsp;<textarea name="plan_description" id="plan_description" class="input_filed_border" style= "resize:vertical"><%= @legend_details.Plan_Description %></textarea>
						</td>
					<% end %>
					</tr>

					<!-- <tr>
					<% if @legend_details.Priced_From_Status == "off"%>
						<td class="checkbox_td" valign="top"><input type="checkbox" name="priced_from_status" id="priced_from_status" onclick="disable_input(this.id)" ></td>
						<td valign="top">&emsp;Priced From</td>
						<td>&emsp;<input type="text" name="priced_from" id="priced_from" value="<%= @legend_details.Priced_From %>"   class="input_filed_border" disabled/>
						</td>
					<% else %>
						<td class="checkbox_td" valign="top"><input type="checkbox" name="priced_from_status" id="priced_from_status" onclick="disable_input(this.id)" checked="true"></td>
						<td valign="top">&emsp;Priced From</td>
						<td>&emsp;<input type="text" name="priced_from" id="priced_from" value="<%= @legend_details.Priced_From %>"   class="input_filed_border"/>
						</td>
					<% end %>
					</tr> -->

					<tr>
					<% if @legend_details.Sq_Feet_Status == "off"%>
						<td class="checkbox_td" valign="top"><input type="checkbox" name="sq_feet_status" id="sq_feet_status" onclick="disable_input(this.id)" ></td>
						<td valign="top">&emsp;Sq Feet</td>
						<td>&emsp;<input type="text" name="sq_feet" id="sq_feet" value="<%= @legend_details.Sq_Feet %>"   class="input_filed_border" disabled/>
						</td>
					<% else %>
						<td class="checkbox_td" valign="top"><input type="checkbox" name="sq_feet_status" id="sq_feet_status" onclick="disable_input(this.id)" checked="true"></td>
						<td valign="top">&emsp;Sq Feet</td>
						<td>&emsp;<input type="text" name="sq_feet" id="sq_feet" value="<%= @legend_details.Sq_Feet %>"   class="input_filed_border"/>
						</td>
					<% end %>
					</tr>

					<tr>
					<% if @legend_details.Floors_Status == "off"%>
						<td class="checkbox_td" valign="top"><input type="checkbox" name="floors_status" id="floors_status" onclick="disable_input(this.id)"></td>
						<td valign="top">&emsp;Floors</td>
						<td>&emsp;<input type="text" name="floors" id="floors" value="<%= @legend_details.Floors %>"   class="input_filed_border" disabled/>
					</td>
					<% else %>
						<td class="checkbox_td" valign="top"><input type="checkbox" name="floors_status" id="floors_status" onclick="disable_input(this.id)" checked="true"></td>
						<td valign="top">&emsp;Floors</td>
						<td>&emsp;<input type="text" name="floors" id="floors" value="<%= @legend_details.Floors %>"   class="input_filed_border"/>
						</td>
					<% end %>
					</tr>

					<tr>
					<% if @legend_details.Bedrooms_Status == "off"%>
						<td class="checkbox_td" valign="top"><input type="checkbox" name="bedrooms_status" id="bedrooms_status" onclick="disable_input(this.id)" ></td>
						<td valign="top">&emsp;Bedrooms</td>
						<td>&emsp;<input type="text" name="bedrooms" id="bedrooms" value="<%= @legend_details.Bedrooms %>"   class="input_filed_border" disabled/>
					</td>
					<% else %>
						<td class="checkbox_td" valign="top"><input type="checkbox" name="bedrooms_status" id="bedrooms_status" onclick="disable_input(this.id)" checked="true"></td>
						<td valign="top">&emsp;Bedrooms</td>
						<td>&emsp;<input type="text" name="bedrooms" id="bedrooms" value="<%= @legend_details.Bedrooms %>"   class="input_filed_border"/>
						</td>
					<% end %>
					</tr>

					<tr>
					<% if @legend_details.Full_Bathrooms_Status == "off"%>
						<td class="checkbox_td" valign="top"><input type="checkbox" name="full_bathrooms_status" id="full_bathrooms_status" onclick="disable_input(this.id)" ></td>
						<td valign="top">&emsp;Full Bathrooms</td>
						<td>&emsp;<input type="text" name="full_bathrooms" id="full_bathrooms" value="<%= number_to_human(@legend_details.Full_Bathrooms,  strip_insignificant_zeros: true) %>"   class="input_filed_border" disabled/>
					</td>
					<% else %>
						<td class="checkbox_td" valign="top"><input type="checkbox" name="full_bathrooms_status" id="full_bathrooms_status" onclick="disable_input(this.id)" checked="true"></td>
						<td valign="top">&emsp;Full Bathrooms</td>
						<td>&emsp;<input type="text" name="full_bathrooms" id="full_bathrooms" value="<%= number_to_human(@legend_details.Full_Bathrooms,  strip_insignificant_zeros: true) %>"   class="input_filed_border"/>
						</td>
					<% end %>
					</tr>


					<tr>
					<% if @legend_details.Bathrooms_Status == "off"%>
						<td class="checkbox_td" valign="top"><input type="checkbox" name="bathrooms_status" id="bathrooms_status" onclick="disable_input(this.id)" ></td>
						<td valign="top">&emsp;Half Bathrooms</td>
						<td>&emsp;<input type="text" name="bathrooms" id="bathrooms" value="<%= number_to_human(@legend_details.Bathrooms,  strip_insignificant_zeros: true) %>"   class="input_filed_border" disabled/>
					</td>
					<% else %>
						<td class="checkbox_td" valign="top"><input type="checkbox" name="bathrooms_status" id="bathrooms_status" onclick="disable_input(this.id)" checked="true"></td>
						<td valign="top">&emsp;Half Bathrooms</td>
						<td>&emsp;<input type="text" name="bathrooms" id="bathrooms" value="<%= number_to_human(@legend_details.Bathrooms,  strip_insignificant_zeros: true) %>"   class="input_filed_border"/>
						</td>
					<% end %>
					</tr>

					<tr>
					<% if @legend_details.Garages_Status == "off"%>
						<td class="checkbox_td" valign="top"><input type="checkbox" name="garages_status" id="garages_status" onclick="disable_input(this.id)"></td>
						<td valign="top">&emsp;Garages</td>
						<td>&emsp;<input type="text" name="garages" id="garages" value="<%= @legend_details.Garages %>"   class="input_filed_border" disabled/>
						</td>
					<% else %>
						<td class="checkbox_td" valign="top"><input type="checkbox" name="garages_status" id="garages_status" onclick="disable_input(this.id)" checked="true"></td>
						<td valign="top">&emsp;Garages</td>
						<td>&emsp;<input type="text" name="garages" id="garages" value="<%= @legend_details.Garages %>"   class="input_filed_border"/>
						</td>
					<% end %>
					</tr>

				</table><br />

			    <div class="create_collection_button"  style="margin-top:-2%">
			   		<%=link_to 'Add Media', "" ,:class=>"btn btn-success", :onclick=> "upload_images('#{@legend_details.id}', '#{@legend_details.StatusKey}');return false;", :plan_id => "#{@legend_details.id}"%>
			   		<% if @count_of_images > 0 %>
			   			<div class="btn btn-success" onclick="edit_images('<%= @legend_details.id%>','<%= @legend_details.StatusKey %>')">Edit Media</div>	   		
			   		<%end%>
			       <button type="submit" class="btn btn-success save_details" style="margin-right:3px;" disabled>Save</button>	         
			    	<a href="/status_key" class="cancel_text_color cancel_css_users_page"  style="margin-right:3px" id="cancel_link">cancel</a>
			    </div>
		    <% end %>    
		</div>
	</div>
	<div id ="edit_pl_ajax_loader" style="display:none;position: absolute;top: 76%;left: 48%;">
		 <%= image_tag SITE_ROOT_DOMAIN_NAME+"/assets/ajax-loader.gif", :alt => "loader", :id=> "ajax_loader_img" %>
    </div>

	 <!-- <div id="image_edit" style="z-index:2000"></div> -->
	<div class="modal fade" role="dialog" style="z-index:2000" id="status_image_edit_modal">
	    <div class="modal-dialog">
	        <!-- Modal content-->
	        <div class="modal-content">
		        <div class="modal-header" style="text-align:left !important;padding-bottom: 2px;
		            padding-top: 3px;">
		            <label class="modal_title_ui" style="padding-left:0%"> Upload Images</label>
		            <button type="button" class="close modal_title_cross_button" data-dismiss="modal" style="margin-right:0% !important">&times;</button>
		        </div>
	            <div class="modal-body table-responsive" id="image_edit" style="margin-bottom:0px !important;text-align:left !important;">
	                  <%= render :partial => 'status_key/image_upload' %>
	            </div>
	        </div>
	    </div>
	</div>
</div>
	 <div id="image_view" style="z-index:2000"></div>
<style>
	tr:not(:first-child)> td {
    padding-top: 7px;
	}
	.checkbox_td{
		width:30px;text-align:right
	}
	.input_filed_border{
		/*width:200px;*/
		width:58%;
	}
</style>
<script>
$(".save_details").click(function(){
	$("#edit_pl_ajax_loader").css({"display": "block", "opacity":"0.5"});
	$("body").addClass("inactiveLink")
})
var changed_data =""
$(document).ready(function(){
	original_data = $("#update_link_form").serialize();
	$('#tbldata_tbldataattachments_image').MultiFile();
});

$("#cancel_link,  #back_to_map,  .logo-margin-padding, .dropdown-menu li, .navbar-nav li:first").click(function(event){
	changed_data = $("#update_link_form").serialize();
	if(changed_data!= original_data){
		 var result = confirm("You have unsaved changes. Press OK to discard and continue or Cancel to continue editing");
            if(result == true){
			}
			else{
				event.preventDefault();
			}
	}
});
$(".lot_active_status").click(function(){ 
    var checkbox_status = this.checked
    var checkbox_ref = this.getAttribute("data-checkbox_ref")

    $("#update_notification").css("visibility","hidden");
        status_count = this.getAttribute("data-status_count")
        
        if(status_count != 0 )
           {
                $(this).prop("checked",true)
                var result = alert("This Plan is assigned to "+this.getAttribute("data-status_count")+" lots. The plan of these lots must be changed before you can un-check this community.");
                $(this).prop("checked",true)
            }
        // else{
        //     var result = confirm("Are You Sure?");
        //     if (result == true) {
        //         if(checkbox_status == false)
        //         {
        //             $('input[data-checkbox_ref="'+checkbox_ref+'"]').prop("checked",false);
        //         }
        //         else{
        //             $('input[data-checkbox_ref="'+checkbox_ref+'"]').prop("checked",true);  
        //         }
        //     }
        //     else{
        //         if(checkbox_status == true)
        //         {
        //             $('input[data-checkbox_ref="'+checkbox_ref+'"]').prop("checked",false);
                    
        //         }
        //         else{
        //             $('input[data-checkbox_ref="'+checkbox_ref+'"]').prop("checked",true);
        //         }
        //     }
        // }
});
function disable_input(id){
	input_id= id.replace("_status","")
	if($("#"+id).is(":checked") == false){
		$("input[type='text']#"+input_id).attr("disabled",true)
	}
	else{
		$("input[type='text']#"+input_id).attr("disabled",false)
	}
}


 function validateURL(value){
      var expression = /[-a-zA-Z0-9@:%_\+.~#?&//=]{2,256}\.[a-z]{2,4}\b(\/[-a-zA-Z0-9@:%_\+.~#?&//=]*)?/gi;
      var regex = new RegExp(expression);
      return value.match(regex);
    }
$.validator.addMethod("registeredPlan", function(value, element){			
			var registered_builder = $.inArray($("#plan_name").val().toLowerCase(), 

				<%= @plan_name.map{|plan_name| plan_name.StatusKey.downcase}.to_json.html_safe unless @plan_name.nil?%>);
			if(registered_builder>-1){
				return false
			}else
			{
				return true		
			}			 
		},"Plan Name Already registered");

    $.validator.addMethod("urlvalidation", function(value, element) {
      return this.optional(element) || validateURL(value);
    }, "URL is not valid");

$.validator.addMethod('bathroom_validation', function(value, element) { 
  return value.match(/^(\d?)+(\.?5)?$/) || value=="";
}, 'Please specify a valid Value');

	$("#update_link_form").validate({		
		rules: {
			"link_name": {			
			urlvalidation : true		
			},
			"plan_name":{
                 required:true,
                 registeredPlan : true,
			},	
			
			// "sq_feet":{
			// 	number:true,
			// },
			// "floors":{
			// 	number:true,
			// },
			// "bedrooms":{
			// 	number:true,
			// },
			// "garages":{
			// 	number:true,
			// },
			// "full_bathrooms":{
			//     // bathroom_validation : true
			//     digits: true,
			// },
			// "bathrooms":{
			// 	digits:true,
			// }
		},
		
		messages: {
    	"plan_name":{
    		required : "Please Enter Plan Name",					
			registeredBuilder: "Plan Name Already registered",
    	},

	},
		errorElement: 'span',
		errorClass: 'help-block style_block',
	    highlight: function(element) {
	        $(element).closest('.form-group').addClass('has-error');
	    },
	    unhighlight: function(element) {
	        $(element).closest('.form-group').removeClass('has-error');
	    }			
	});		

	function edit_images(plan_id, plan_name){        
        $.ajax({
            url:'/status_key/edit_plan_images/' + plan_id,
            type:'GET',
            dataType:'html',
            data: {"plan_name": plan_name},
            success:function (response, status) {
                $("#image_edit").html(response);
                var dWidth = $(window).width() * 0.9;
            	var dHeight = $(window).height() * 0.9;
           		$("#status_image_edit_modal").modal({
                    backdrop: false,
                    keyboard: false,
                    show: true
                });
                $("#status_image_edit_modal .modal-dialog").css("width","90%");
                $('#status_image_edit_modal').on('hidden.bs.modal', function (e) {
                    $("#close").attr("disabled",false) 
                })
                $("#image_edit").prev().removeClass('ui-widget-header');
            }
        });
    };

    	function view_plan_images(plan_id, plan_name){    
        $.ajax({
            url:'/status_key/view_plan_images/' + plan_id,
            type:'GET',
            dataType:'html',
            data: {"plan_name": plan_name},
            success:function (response, status) {
                $("#image_view").html(response);
                $("#image_view").dialog({
                	title: "Plan: "+plan_name,
                    draggable:false,
                    height:680,
                    width:800,
                    top:190,
                    resizable:false,
                    modal:true,
                    closeOnEscape:false,
                    close:function (event, ui) {
                        $("#image_view").dialog("destroy");
                        $("#close").attr("disabled",false)                        
              }
                }).data();
                  $("#images-slider").responsiveSlides({
                    auto: false,
                    nav: true,
                    speed: 50,
                    namespace: "callbacks",
                    pause:true,
                    pauseControls:true,
                    pager:false
            });
                  $("#image_view").prev().removeClass('ui-widget-header');
            }
        });
    };   

	function upload_images(plan_id, plan_name){       
            $("#youtube_url").val("");            
            $("#image_already_exists").empty();
            $("#image_upload_error").empty();
            $("#tbldata_tbldataattachments_image_wrap_list").empty();            
            $("#image_upload #plan_id").val(plan_id);
            $("#image_upload #plan_name").val(plan_name);
            filehtml='<input type="file" multiple accept="gif|jpg|png|jpeg" name="tbldataattachments_attributes[][pics]" id="tbldata_tbldataattachments_image" onChange="browse_image()" class="multi" value="">';
            $("#tbldata_tbldataattachments_image_wrap").html(filehtml);
            $('#tbldata_tbldataattachments_image').MultiFile();
            $('input[type="file"]').css('color', 'transparent'); 
			$("#edit_status_image_upload_modal").modal({
                backdrop: false,
                keyboard: false,
                show: true
            });
        }
</script>
<style>
	.style_block{
		margin-left:12px;
	}
</style>