<%= javascript_include_tag 'jQuery-ui-1.9.2' %>
<%= javascript_include_tag 'MultiFile' %>
<%= javascript_include_tag 'jquery.mobileevents' %>
<%= stylesheet_link_tag "demo" %> 
<%= stylesheet_link_tag "bootstrap" %>
<%= stylesheet_link_tag "common" %>
<center>
	<div id="content" class='content_mid'>
		<% if LotFieldDisplayName.find(1).Avble_Clk_Status == "on"%>
			<div class="css_back_to_map_div" >
		    	<img src="/assets/back_arrow.png" class="css_back_arrow">
		    	<%= render :partial => 'layouts/back_to_map'%>  
			</div>

			<div class="col-xs-11 col-sm-10 col-md-10 col-sm-push-1 col-md-push-1 col_content_mid xs_cols_push plans_index" >
				<div class="names_align" style="margin-top: 1.5%;font-size: 17px;">Manage Plans</div>
				<div class="buttons_list" style="margin-top:1.6%;margin-bottom:0.8%">
					<%=link_to 'Edit Preferred Names', "/status_key/display_names" ,class:"btn btn-success", :id=>"display_name"%>
				</div>
				<br />
				<div id="status_key_list" class="table-responsive table_bottom"></div>
			</div>
		<%else%>
			<div style="padding-top:23%;font-weight:bold;font-size:15px;">Please Select the Available Plans in Manage Lot Fields.</div>
		<%end%>
	    <!-- <div id ="ajax_loader" style="display:none;position: absolute;top: 45%;left: -31%;">
  		   <= image_tag SITE_ROOT_DOMAIN_NAME+"/assets/ajax-loader.gif", :alt => "loader", :id=> "ajax_loader_img" %>
        </div> -->
	</div>
</center>

<script type="text/javascript">
	$(document).ready(function () {
	  $("#ajax_loader").css("display", "block");
	  $("body").addClass("inactiveLink")
	   $.ajax({
		    url:'/status_key/render_statuskey_list',
		    type:'get',
		    dataType:'html',
		    success:function (response) {                	
		        $("#ajax_loader").css("display", "none");
		        $("body").removeClass("inactiveLink")
		        $("#status_key_list").html(response);
		        
		    }
		});
	});
</script>