
<div id="content" class='content_mid' > 
<div class="css_back_to_map_div">
    <img src="/assets/back_arrow.png" class="css_back_arrow">
    <%= render :partial => 'layouts/back_to_map'%>  
</div>
<div class="flash_notice"><font size="3" color="red" align="center"><%= flash[:notice] %></font></div>
<div class="col-xs-11 col-sm-10 col-md-6 col-sm-push-1 col-md-push-3 col_content_mid xs_cols_push">
<div class="names_align">Add Plan</div>
<br />
<hr>
        <%= form_tag "/status_key",:id=>"create_link_form", :method => :post do %>
         <div>   
           <table>
			<tr>
			<td></td>
			<td valign="top">&emsp;Community</td>
			<td>
			<% @communities.each do |community| %>
			&emsp;<input type="checkbox" name="community[]" style="margin-right:5px;"  id="<%= community%>" value="<%= community%>"/><%= community%>
			<%end%>
			</td>
			</tr>
			<tr>
			    <td></td>
				<td valign="top">&emsp;Plan Name* </td>
				<td>&emsp;<input type="text" name="plan_name" id="plan_name" class="input_filed_border" /></td>
			</tr>
    		<tr>
             	<td></td>
				<td valign="top">&emsp;Plan Url </td>
				<td>&emsp;<input type="text" name="link_name" id="link_name" class="input_filed_border"/>
				</td>
    		</tr>
    		<tr>
             	<td class="checkbox_td" valign="top"><input type="checkbox" name="plan_description_status" id="plan_description_status" onclick="disable_input(this.id)" checked="true"></td>
				<td valign="top">&emsp;Plan Description </td>
				<td>&emsp;<input type="text" name="plan_description" id="plan_description" class="input_filed_border"/>
				</td>
    		</tr>
    		<tr>
             	<td class="checkbox_td" valign="top"><input type="checkbox" name="priced_from_status" id="priced_from_status" onclick="disable_input(this.id)" checked="true"></td>
				<td valign="top">&emsp;Priced From </td>
				<td>&emsp;<input type="text" name="priced_from" id="priced_from" class="input_filed_border"/>
				</td>
    		</tr>
    		<tr>
             	<td class="checkbox_td" valign="top"><input type="checkbox" name="sq_feet_status" id="sq_feet_status" onclick="disable_input(this.id)" checked="true"></td>
				<td valign="top">&emsp;Sq. Feet </td>
				<td>&emsp;<input type="text" name="sq_feet" id="sq_feet" class="input_filed_border"/>
				</td>
    		</tr>
    		<tr>
             	<td class="checkbox_td" valign="top"><input type="checkbox" name="floors_status" id="floors_status" onclick="disable_input(this.id)" checked="true"></td>
				<td valign="top">&emsp;Floors </td>
				<td>&emsp;<input type="text" name="floors" id="floors" class="input_filed_border"/>
				</td>
    		</tr>
    		<tr>
             	<td class="checkbox_td" valign="top"><input type="checkbox" name="bedrooms_status" id="bedrooms_status" onclick="disable_input(this.id)" checked="true"></td>
				<td valign="top">&emsp;Bedrooms </td>
				<td>&emsp;<input type="text" name="bedrooms" id="bedrooms" class="input_filed_border"/>
				</td>
    		</tr>
    		<tr>
             	<td class="checkbox_td" valign="top"><input type="checkbox" name="full_bathrooms_status" id="full_bathrooms_status" onclick="disable_input(this.id)" checked="true"></td>
				<td valign="top">&emsp;Full Bathrooms </td>
				<td>&emsp;<input type="text" name="full_bathrooms"  id="full_bathrooms" class="input_filed_border"/>
				</td>
    		</tr>
    		<tr>
             	<td class="checkbox_td" valign="top"><input type="checkbox" name="bathrooms_status" id="bathrooms_status" onclick="disable_input(this.id)" checked="true"></td>
				<td valign="top">&emsp;Half Bathrooms </td>
				<td>&emsp;<input type="text" name="bathrooms"  id="bathrooms" class="input_filed_border"/>
				</td>
    		</tr>
    		<tr>
             	<td class="checkbox_td" valign="top"><input type="checkbox" name="garages_status" id="garages_status" onclick="disable_input(this.id)" checked="true"></td>
				<td valign="top">&emsp;Garages </td>
				<td>&emsp;<input type="text" name="garages" id="garages"  class="input_filed_border"/>
				</td>
    		</tr>

          </table>
        </div>
        	<div class="create_collection_button">
	                <button type="submit" class="btn btn-success">Save</button>
	                <a href="/status_key" class="cancel_text_color cancel_css_users_page">cancel</a>
        	</div>
        <% end %>
</div>
</div>
<style>
	tr:not(:first-child)> td {
    padding-top: 7px;
	}
	.checkbox_td{
		width:30px;text-align:right
	}
	.input_filed_border{
		width:200px;
	}
</style>
<script>

function disable_input(id){
	input_id= id.replace("_status","")
	if($("#"+id).is(":checked") == false){
		$("input[type='text']#"+input_id).attr("disabled",true)
	}
	else{
		$("input[type='text']#"+input_id).attr("disabled",false)
	}
}
 function validateURL(value){
      var expression = /[-a-zA-Z0-9@:%_\+.~#?&//=]{2,256}\.[a-z]{2,4}\b(\/[-a-zA-Z0-9@:%_\+.~#?&//=]*)?/gi;
      var regex = new RegExp(expression);
      return value.match(regex);
    }
$.validator.addMethod("registeredPlan", function(value, element){			
			var registered_builder = $.inArray($("#plan_name").val().toLowerCase(), 

				<%= @plan_name.map{|plan_name| plan_name.StatusKey.downcase}.to_json.html_safe unless @plan_name.nil?%>);
			if(registered_builder>-1){
				return false
			}else
			{
				return true		
			}			 
		},"Plan Name Already registered");
    $.validator.addMethod("urlvalidation", function(value, element) {
      return this.optional(element) || validateURL(value);
    }, "URL is not valid");

$.validator.addMethod('bathroom_validation', function(value, element) { 
  return value.match(/^(\d?)+(\.?5)?$/) || value=="";
}, 'Please specify a valid Value');

		$("#create_link_form").validate({		
			rules: {
				"link_name": {					
					urlvalidation : true		
				},	
				"status_dropdown": {
					required : true			
				},
				"community_dropdown": {
					required : true			
				},
				"menuoption_dropdown": {
					required : true			
				},
				"plan_name": {
					required : true	,
					registeredPlan : true,		
				},	
				"priced_from":{
					number:true,
				},
				"sq_feet":{
					number:true,
				},
				"floors":{
					number:true,
				},
				"bedrooms":{
					number:true,
				},
				"garages":{
					number:true,
				},
				"bathrooms":{
				    bathroom_validation : true
				}
			},
			messages: {
				"status_dropdown": {
					required : "Please Select Plan Name"			
				},
				"community_dropdown": {
					required : "Please Select Community Name"			
				},
				"menuoption_dropdown": {
					required : "Please Select Menu Option Name"			
				},
				"plan_name": {
					required : "Please Enter Plan Name",
					registeredBuilder: "Plan Name Already registered",			
				}         
			},
			errorElement: 'span',
    		errorClass: 'help-block style_block',
		    highlight: function(element) {
		        $(element).closest('.form-group').addClass('has-error');
		    },
		    unhighlight: function(element) {
		        $(element).closest('.form-group').removeClass('has-error');
		    }			
		});						
</script>
<style>
	.style_block{
		margin-left:12px;
	}
</style>

