<style type="text/css">
.inner_td_lotlevel
{
    width: 23%;
    text-align: right;
}
</style>
<div id="content" class='content_mid'>
<div class="col-sm-8 col-md-6 col-sm-push-2 col-md-push-3">
<div class="panel panel-default panel-success">
<div class="names_align">View Plan</div>
<br />
<hr>
<table id="outer_table" style="table-layout: fixed; width: 100%">

        <tr>
           <td id="outer_td">
                <table style="table-layout: fixed; width: 100%">
                    <tr>
                        <td class="inner_td_lotlevel" valign="top"><b>&emsp;Plan Name:</b></td>
                        <td>&emsp;<%= @legend_details.StatusKey %></td>
                    </tr>
                    <tr>
                        <td class="inner_td_lotlevel" valign="top"><b>&emsp;Plan Url:</b></td>
                        <td style="word-wrap:break-word;padding-left: 13px;"><%= @legend_details.Link_Name %></td>
                    </tr>
                    <tr>
                        <td class="inner_td_lotlevel" valign="top"><b>&emsp;Plan Description:</b></td>
                        <td  style="word-wrap:break-word;padding-left: 13px;"><%= @legend_details.Plan_Description %></td>
                    </tr>
                  
                    <tr>
                        <td class="inner_td_lotlevel" valign="top"><b>&emsp;Sq Feet:</b></td>
                        <td>&emsp;<%= @legend_details.Sq_Feet %></td>
                    </tr>
                    <tr>
                        <td class="inner_td_lotlevel" valign="top"><b>&emsp;Floors:</b></td>
                        <td>&emsp;<%= @legend_details.Floors %></td>
                    </tr>
                    <tr>
                        <td class="inner_td_lotlevel" valign="top"><b>&emsp;Bedrooms:</b></td>
                        <td>&emsp;<%= @legend_details.Bedrooms %></td>
                    </tr>
                    <tr>
                        <td class="inner_td_lotlevel" valign="top"><b>&emsp;Full Bathrooms:</b></td>
                        <td>&emsp;<%= @legend_details.Full_Bathrooms %></td>
                    </tr>
                    <tr>
                        <td class="inner_td_lotlevel" valign="top"><b>&emsp;Half Bathrooms:</b></td>
                        <td>&emsp;<%= @legend_details.Bathrooms %></td>
                    </tr>
                    <tr>
                        <td class="inner_td_lotlevel" valign="top"><b>&emsp;Garages:</b></td>
                        <td>&emsp;<%= @legend_details.Garages %></td>
                    </tr>
     	  </table>
        </td></tr>
</table>
<div style="float:right;margin-right:1%">    
	<%=link_to 'Edit ', "/status_key/#{@legend_details.id}/edit" ,class:"btn btn-success"%>
    <%=link_to 'Cancel', "/status_key" ,class:"cancel_text_color"%>
</div>
		<br /><br />
	</div>
	</div>

</div>
