<div id="legend" style="right:24px;top:5%">
  <div id="legend_title">
  
    <h4><%= @legend_type %></h4>  
  </div>
  <div id="legend_data">
    <% @lot_details.each do |legend| %>
        <div class="legend_data">
          <div class="legend_data_controls">
            <span class="legend_text" data-description= "<%= legend.Status_Display_Name %>" data-role= "<%= @role %>">
            <%= check_box_tag "legend_keys_ids[][#{legend.LegendType}]", legend.StatusKey,false,:onclick => "filterLegend(this.value);", :class =>legend.id,:style => "vertical-align: top;" %></span>
         
            <%if @legend_type == "Floor Plan" %>
               <span data-description= "<%= legend.Status_Display_Name %>" data-role= "<%= @role %>" class="legend_color" style="display:none"></span>
            <%else%>
              <span data-description= "<%= legend.Status_Display_Name %>" data-role= "<%= @role %>" class="legend_color" style="background-color:<%= legend.ColorCode %>;display: inline-block;vertical-align: middle;"></span>
            <%end%>
          </div>
          <div class="legend_data_content">
            <%if @legend_type == "Floor Plan" %>
                <span class="legend_text floor_plan_txt" id="<%= legend.id %>"><%=legend.Status_Display_Name %></span>
                <% floor_img = ImageGallery.find_by_plan_id_and_plan_key_image(legend.id,1)%>
                <div id="floor_plan_image_modal_<%= legend.id %>" style="display:none;cursor:default !important">
                  <div class="modal-body"> 
                    <% if !floor_img.blank?%>       
                     <%= image_tag(floor_img.pics(:thumb_add_images), :class => "floor_plan_key_image img-thumbnail", :style=>"width:150px") %>
                    <% end %>
                  </div>
                </div>
            <% else %>
                <span class="legend_text"><%= legend.Status_Display_Name %></span>
            <% end %>

            (<%= Tbldatum.get_lot_count(@community_name,"Sales Status", legend.StatusKey,"", @all_lots, @legend_type) %>)


          </div> 
        </div>
    <% end %>
  </div>
</div>
<style>
  .legend_data {
    line-height: 18px;
    word-break: break-word;
    /*overflow: hidden;*/
}
.legend_text{
  padding-left:2px;
}

.legend_data_controls {
    float: left;
}

.legend_data_controls input {
    vertical-align: middle;
    display: inline-block;
}



</style>
<script type="text/javascript">
  $(".floor_plan_txt").mouseover(function(e) {
    floor_plan_id = $(this).attr("id")
    var mouseX = e.pageX-120;
    var mouseY = e.pageY+40;
    $("#floor_plan_image_modal_"+floor_plan_id).show();
    $("#floor_plan_image_modal_"+floor_plan_id).dialog({
      position:[mouseX, mouseY],
      create:function (event, ui) {
          $("#floor_plan_image_modal_"+floor_plan_id).prev().hide();
          $(".ui-widget-content").css("border", 0);
          $(".ui-dialog").css("padding",0);
          $(".ui-dialog .ui-dialog-content").css("padding",0);
          
      },
      resizable:false,
      modal:false,
      width:140,
      closeOnEscape:false,
      draggable:false,
      minHeight:0
    });   
      }).mouseout(function() {
      $("#floor_plan_image_modal_"+floor_plan_id).hide();
      if ($("#floor_plan_image_modal"+floor_plan_id).dialog( "isOpen" )==true) {
        $("#floor_plan_image_modal_"+floor_plan_id).dialog("close");
      }     
  });

  $(".floor_plan_txt").click(function(){
    l_id = $(this).attr("id")
    plan_name = $(this).html()
    $.ajax({
      url:'/images/display_plan_images',
      type:'GET',
      dataType:'html',
      data:{ "project": 'Lot Buzz', "plan_view":"plan_click_view", "community": "<%= @community_name %>", "plan_id":l_id},
      success:function (response, status) {                
          msg={"body_html" : response, "header_html" : "<h5>Plan:  "+plan_name+" </h5>"} 
          parent.postMessage(msg,"<%= @lotbuzz_site_url %>");
      }
    });
  })

  $(document).ready(function(){
    if("<%= @legend_type %>"  == "Floor Plan"){
      // $("#legend2 #legend_data .legend_data div:nth-child(2)").css("margin-left","14px")
    }
  });
<% unless @legend_keys.blank? %>
    <%unless @legend_keys['filter1'].blank?%>
        <% @legend_keys['filter1'].each do |key1|%>
        <% status_key_rec_id = StatusDetail.find_by_StatusKey_and_LegendType(key1, 'Sales Status').id %>
        
            if($('input:checkbox[name="legend_keys_ids[][Sales Status]"]').hasClass('<%=status_key_rec_id %>') == true)
            {
                 $(".<%= status_key_rec_id %>").attr("checked", true)
            }
        <%end%>            
    <%end%>
<%end%>

<% unless @legend_keys.blank? %>
        <%unless @legend_keys['filter2'].blank?%>
            <% @legend_keys['filter2'].each do |key2|%>
            <% status_key_rec_id = StatusDetail.find_by_Status_Display_Name_and_LegendType_and_Community(key2, 'Floor Plan', @community_name).id %>
              if($('input:checkbox[name="legend_keys_ids[][Floor Plan]"]').hasClass('<%=status_key_rec_id %>') == true)
              {                              
                   $(".<%= status_key_rec_id %>").attr("checked", true)
              }
            <%end%>            
        <%end%>
<%end%>
var legend_toggle = 0;
function filterLegend(elem){
      var vals = [];
      var vals1 = [];
      var first_filter =[];
      var second_filter =[];

      $('input:checkbox[name="legend_keys_ids[][Sales Status]"]').each(function() {
          if (this.checked) {
              vals.push(this.value);  
              first_filter.push("Sales Status")
          }
      });
      $('input:checkbox[name="legend_keys_ids[][Floor Plan]"]').each(function() {
          if (this.checked) {
              vals1.push(this.value); 
              second_filter.push("Floor Plan") 
          }
      }); 
        
        first_filter =  $.unique(first_filter)
        second_filter = $.unique(second_filter)
        var legend_keys = elem;
        var filter = "filter";
        var community = '<%= @community_name%>';        
        var filter_flag = "filter_flag";
        var lotbuzz_site_url = '<%= @lotbuzz_site_url %>';
        

      $("#ajax_loader").css("display", "block");
      if ($(".ui-dialog.ui-widget.ui-widget-content").length > 0) {
                  $(".ui-dialog.ui-widget.ui-widget-content").remove();
              }

              if (vals.length<1 && vals1.length< 1){
                filter = null;
              }              
       $.ajax({
              url: '/lotbuzz/lotbuzz_view',
              data: {legend_keys: {"filter1":vals,"filter2":vals1},filter_type: {"first_filter":first_filter, "second_filter":second_filter},filter: filter, community: community, "lotbuzz_site_url": lotbuzz_site_url, is_touch :'<%= @is_touch%>'},
              success:function (response) {
                      $("#community_render").html(response);
                      $("#ajax_loader").css("display", "none");
                      on_click_out_legend();
                  }
          });


        <% @legendtypes = StatusKey.get_distinct_legendtypes.map{|x| x.LegendType}%>
        <% @legendtypes = @legendtypes.select{|x| x unless StatusDetail.find_all_by_LegendType(x).empty? } %>
               
        <% @legendtypes.each_with_index do |legend_type,counter| %>
      
            $.ajax({
                url:'/lotbuzz/render_communitylegend_view',
                type:'get',
                dataType:'html',
                data:{            
                    "legendtype" : "<%= legend_type %>" ,
                     community: "<%= @community_name%>", "lotbuzz_site_url": lotbuzz_site_url, legend_keys: {"filter1":vals,"filter2":vals1},filter_type: {"first_filter":first_filter, "second_filter":second_filter} , is_touch : '<%= @is_touch%>'         
                },
                success:function (response) {   
                    $("#legend<%= counter+1 %>").html(response);
                    $("#legend_border").css("border", '1px solid');
                    on_click_out_legend()
                }
            });
        <%end %>
      }

 <% if LotFieldDisplayName.find(1).Avble_Clk_Status == "on"%>
    $(".legend2").show();
    <%else%>
    $(".legend2").hide();
    <%end%>
</script>