 <% community = @community_name.delete(" ")%>
<div>
  <input type="hidden" id="is_draggable" value="false">
  <input type="hidden" id="hover_draggable" value="false">
  <object data="/<%= community%>.svg" type="image/svg+xml" id="alphasvg" width="100%" height="100%"></object>
</div>
<script>
$("#filter_toggle, #filter_text").click(function(){
  $(".close_icon").show();
  on_click_out_legend()
});
function hide_hover_fields()
 {
    if($("#lot_nbr_status").val() == "off")
    {
       $("#lot_nbr_row").hide();
    }
    if($("#lot_status_status").val() == "off")
    {
       $("#lot_status_row").hide();
    }
    if($("#lot_address_status").val() == "off")
    {
       $("#lot_address_row").hide();
    }
   
    if($("#sale_price_status").val() == "off")
    {
       $("#sale_price_row").hide();
    }
    if($("#est_cmp_date_status").val() == "off")
    {
       $("#date_row").hide();
    }
    if($("#size_status").val() == "off")
    {
       $("#size_row").hide();
    }
    if($("#description_status").val() == "off")
    {
       $("#desc_row").hide();
    }
    if($("#lot_type_status").val() == "off")
    {
       $("#lt_type_row").hide();
    }        
 }

    var array = <%= raw @legend_keys.to_json unless @legend_keys.nil?%>
    edit_mode = 0;
    hide_rollover_on_dbl_click =0; 
    var unknownid;
    var unknwonclass;
    var lot_to_color;
    var a = document.getElementById("alphasvg");
    $("#alphasvg").css("visibility","hidden");
    var load_map = function () {     
         
        var svgDoc = a.contentDocument;
        lot_class = svgDoc.getElementsByClassName("land");
        Tbldatum_svg_ids_arr = "<%= Tbldatum.get_all_svg_ids %>"
              for(i=0;i<lot_class.length;i++)
                {
                  svg_lot_id = lot_class[i].getAttribute("id")
                  
                    result = Tbldatum_svg_ids_arr.indexOf(svg_lot_id)
                    if(result == -1)
                    {
                      $(lot_class[i]).css("fill","#D8d8d8")                                           
                      text_element = svgDoc.getElementById("Txt_"+svg_lot_id)
                      if(text_element != null)
                      { 
                        text_element.style.opacity= "0.2"
                      }
                    }                    
                    else
                    {
                      $(lot_class[i]).css("fill","#FFFFFF")
                      $(svgDoc.getElementById(svg_lot_id)).mouseenter(function(){                        
                            originl_style = $(svgDoc.getElementById(this.id)).attr("style") 
                            $(svgDoc.getElementById(this.id)).attr("style",""+originl_style+";stroke-opacity:0.5 !important;stroke-width:5px !important");
                        }).mouseleave(function() {            
                            $(svgDoc.getElementById(this.id)).attr('style',originl_style)
                      });                     
                    }
                  }

         <% @colorize_lots= @click_data%>          
          <% if @filter %>          
              <% @colorize_lots.each do |l| %>  
                <% unless l.SVG_ID.blank? %>
                  svgDoc.getElementById('<%=l.SVG_ID %>').style.fill = '#FFFBFF' 
                  svgDoc.getElementById("Cir_" + '<%=l.SVG_ID %>').style.fill = '#FFFBFF'  
                  svgDoc.getElementById("Star_" + '<%=l.SVG_ID %>').style.fill = '#FFFBFF'  
                <% end %>  
              <% end %>
              <% @all_lots.each do |l| %>                
                <% unless l.SVG_ID.blank? %>
                  lot_to_color = svgDoc.getElementById('<%=l.SVG_ID %>');    
                  lot_to_circle = svgDoc.getElementById("Cir_" + '<%=l.SVG_ID %>');                 
                  lot_to_star = svgDoc.getElementById("Star_" + '<%=l.SVG_ID %>');                 
                  if(lot_to_color)
                  {
                    lot_to_color.style.fill = '<%= l.Lot_Buzz_Status.blank? ? "#FFFFFF" : l.get_color_code %>';
                    lot_to_circle.style.fill = '<%= l.Lot_Buzz_Status.blank? ? "#FFFFFF" : l.get_color_code %>';
                    lot_to_star.style.fill = '<%= l.Lot_Buzz_Status.blank? ? "#FFFFFF" : l.get_color_code %>';
                  }          
                <% end %>  
           <% end %>
        <% else %>       
                 
            <% @colorize_lots.each do |l| %>
                lot_to_color = svgDoc.getElementById('<%=l.SVG_ID %>');
                lot_to_circle = svgDoc.getElementById("Cir_" + '<%=l.SVG_ID %>');  
                lot_to_star = svgDoc.getElementById("Star_" + '<%=l.SVG_ID %>');     
                if(lot_to_color)
                {          
                  lot_to_color.style.fill = '<%= l.Lot_Buzz_Status.blank? ? "#FFFFFF" : l.get_color_code %>';
                  lot_to_circle.style.fill = '<%= l.Lot_Buzz_Status.blank? ? "#FFFFFF" : l.get_color_code %>';
                  lot_to_star.style.fill = '<%= l.Lot_Buzz_Status.blank? ? "#FFFFFF" : l.get_color_code %>';
                }
            <% end %>    
        <% end %>    
        var delta = svgDoc.getElementsByTagName('path');
        <% if @filter %>
            svgLots = new Array();
            svgLots1 = new Array();
            svgLots2 = new Array();
            <% if @hover_data.present? %>
                mappingIds = new Array('<%= @hover_data.map(&:SVG_ID).join(',') %>')[0].split(',');
                $(mappingIds).each(function(i, mId){
                    $(delta).each(function(i, lot)
                    {
                        if(mId==lot.id)
                        {
                            svgLots.push(lot); 
                            return false;
                        }
                    });

                    $(delta).each(function(i, lot)
                    {                     
                        if(("Cir_" + mId) ==lot.id )
                        {  
                          svgLots1.push(lot); 
                          return false;
                        }
                    });

                   $(delta).each(function(i, lot)
                   {                     
                       if(("Star_" + mId) ==lot.id )
                       {  
                          svgLots2.push(lot); 
                          return false;
                      }
                  });
                });
            <% end %>
            result = $.merge(svgLots, svgLots1)
            delta = $.merge(result, svgLots2)
        <% end %>

        delta = $(delta).filter("[class=land]");
        var clickCount = 0;
        doubleclickhandler = function (ev) {
            if ($("#dialog_toolltip").dialog( "isOpen" )==true) {
                $('#dialog_toolltip').dialog('close');
             } 
           var image_count=doc_count= 0;
                <% @click_data && @click_data.each do |tl| %>
            
                var svg = '<%= tl.SVG_ID %>';
                var circle_svg = "Cir_" + '<%= tl.SVG_ID %>';
                var star_svg = "Star_" + '<%= tl.SVG_ID %>';
                        
                if ( (svg == this.id) || (circle_svg == this.id) || (star_svg == this.id) ) {
                
                l_id = '<%= tl.id%>';            
                        $.ajax({
                            url:'/images/display/' + l_id,
                            type:'GET',
                            dataType:'html',
                            data:{ "project": 'Lot Buzz', "view":"community_website", "community": "<%= @community_name %>"},
                            success:function (response, status) {                       
                              msg={"body_html" : response, "header_html" : "<h5>Lot "+"<%= tl.Lot_Number%> <%= @community_name %></h5>"} 
                              parent.postMessage(msg,"<%= @lotbuzz_site_url %>");
                            }
                        });
                    }
            <% end %>
        } //end of click handler
    zoom_control_functionality();
    $("#alphasvg").css("visibility","visible");
        for (c = 0; c < delta.length; c++) {
            $(delta[c]).on('click', doubleclickhandler);
        }// end of forloop for  intitialsizing double click

        for (c = 0; c < delta.length; c++) {
            delta[c].onmouseover = function (e) {
           if(document.getElementById("hover_draggable").value=="false"){
               var mouseX = (e.pageX+120)-window.pageXOffset;
               var mouseY = (e.pageY+200)-window.pageYOffset;
               var windowWidth=$(window).width();
               var windowHeight=$(window).height();

               if(windowWidth- mouseX<250){
                   mouseX=mouseX-530;
               }
               if(windowHeight- mouseY<250){
                   mouseY=mouseY-330;
               }
               $("#dialog_toolltip .modal-body .table tbody > tr#imagecountrow").removeClass("hide_control");
               $("#dialog_toolltip .modal-body .table tbody > tr > td > span#imagecount").removeClass("hide_control");
               $("#dialog_toolltip .modal-body .table tbody > tr > td > span#documentcount").removeClass("hide_control");
               $("#dialog_toolltip .modal-body .table tbody > tr#image_hover_row").removeClass("hide_control");
                 $("#dialog_toolltip .modal-body .table tbody > tr > td#image_hover").removeClass("hide_control");

                 var test = lotn = address =lotcity = allocation = owner =lot_width_status = filing = image_count = idlot =thas =planno =plansqft =requiredelevation =phase =builder=planname=floor_plan=sale_price=est_cmp_date=lot_size=description=lot_type=avbl_plans=lotarea=lotarea_v=floor_plan=lb_status="";
                    document_count_rollover=image_count_rollover=0;
                unknown = this.id;
                test = unknown;
                var filter = '<%= @filter%>';
                var thisAllocation = '<%= @allocation%>';
                var flag = 0;
                <% @hover_data && @hover_data.each do |tl| %>
                
                    var svg = '<%= tl.SVG_ID %>';
                    var circle_svg = "Cir_" + '<%= tl.SVG_ID %>';
                    var star_svg = "Star_" + '<%= tl.SVG_ID %>';
                        
                    if ( (svg == test) || (circle_svg == test) || (star_svg == test) ) {
                    
                        flag = 1;
                            lotn = '<%= tl.Lot_Number %>';
                             filing = '<%= tl.Phase_Name%>'
                                                    
                            lb_status = '<%= StatusDetail.find(tl.Lot_Buzz_Status).Status_Display_Name unless tl.Lot_Buzz_Status.blank?%>';
                             floor_plan="";

                             <% lot_fields = LotFieldDisplayName.find(1)%>
                        $("#dialog_toolltip input#lot_nbr_status").val("<%= lot_fields.Lot_Number_Hover_Status %>");
                        $("#dialog_toolltip input#lot_status_status").val("<%= lot_fields.Hover_Status %>");                        
                        $("#dialog_toolltip input#lot_address_status").val("<%= lot_fields.Address_Hvr_Status %>");
                        $("#dialog_toolltip input#sale_price_status").val("<%= lot_fields.Price_Hvr_Status %>");
                        $("#dialog_toolltip input#est_cmp_date_status").val("<%= lot_fields.Date_Hvr_Status %>");
                        $("#dialog_toolltip input#size_status").val("<%= lot_fields.Size_Hvr_Status %>");
                        $("#dialog_toolltip input#description_status").val("<%= lot_fields.Desc_Hvr_Status %>");
                        $("#dialog_toolltip input#lot_type_status").val("<%= lot_fields.Lt_Type_Hvr_Status %>");
                        
                        sale_price = '<%= (tl.Rp_Sales_Price.blank?) ? "": number_to_currency(tl.Rp_Sales_Price, :precision => 2)%>';   
                            est_cmp_date = '<%= tl.Estimated_Completion_Date %>';
                            lot_size = '<%= tl.Lot_SF %>';
                            description = '<%= tl.Description.gsub(/\r/, ' ').gsub(/\n/, ' ') unless tl.Description.blank? %>';
                            
                            lot_type = '<%=LotType.find_by_id(tl.Lot_Type_Id).Lot_Type unless LotType.find_by_id(tl.Lot_Type_Id).blank? %>';
                            address = '<%= tl.Address %>'
                          
                          floor_plan = '<%= tl.Floor_Plan_Name%>'
                    
                 
                    <% unless tl.Lot_Buzz_Status.blank? %>
                        $("#lot_status_row").show();
                    <%else%>
                        $("#lot_status_row").hide();
                    <%end%>

                     <% unless tl.Address.blank? %>
                        $("#lot_address_row").show();
                    <%else%>
                        $("#lot_address_row").hide();
                    <%end%>

                    <% unless tl.Rp_Sales_Price.blank? %>
                        $("#sale_price_row").show();
                    <%else%>
                        $("#sale_price_row").hide();
                    <%end%>

                    <% unless tl.Estimated_Completion_Date.blank? %>
                        $("#date_row").show();
                    <%else%>
                        $("#date_row").hide();
                    <%end%>

                    <% unless tl.Lot_SF.blank? %>
                        $("#size_row").show();
                    <%else%>
                        $("#size_row").hide();
                    <%end%>

                    <% unless tl.Description.blank? %>
                        $("#desc_row").show();
                    <%else%>
                        $("#desc_row").hide();
                    <%end%> 
                      <% unless tl.Lot_Type_Id.blank? %>
                        $("#lt_type_row").show();
                    <%else%>
                        $("#lt_type_row").hide();
                    <%end%>
  
                    <% unless tl.Floor_Plan_Id.blank? %>
                        $("#floor_plan_row").show();
                    <%else%>
                        $("#floor_plan_row").hide();
                    <%end%>
                    
                    <% unless tl.Rp_Sales_Price.blank? %>
                        $("#sale_price_row").show();
                    <%else%>
                        $("#sale_price_row").hide();
                    <%end%>

                    //  <unless tl.Lot_Buzz_Status_Val.blank? %> 
                    //   < if tl.Lot_Buzz_Status_Val == "Quick Move In"%>
                    //     $("#sale_price_row").show();
                    //   <else%>
                    //     $("#sale_price_row").hide();
                    //   <end%>
                    // <else%>
                    //  $("#sale_price_row").hide();
                    // <end%>
                    
                    hide_hover_fields();                   

                      var plan_images_count=''
                      <% floor_names = tl.Floor_Plan_Id.split(",") unless tl.Floor_Plan_Id.blank? %>
                    <%unless floor_names.blank?%>
                        <% if floor_names.count == 1 %>
                            var plan_images_count = '<%= ImageGallery.find_all_by_plan_id(tl.Floor_Plan_Id).count unless tl.Floor_Plan_Id.blank? && ImageGallery.find_all_by_plan_id(tl.Floor_Plan_Id).blank? %>'
                            <%plan_hover_image = ImageGallery.find_by_plan_id_and_plan_key_image(tl.Floor_Plan_Id,1 )   %>  
                            <%if (tl.pic_count_lotbuzz <= 0)%>
                                 image_count_rollover = plan_images_count
                            <%else%>
                                image_count_rollover = parseInt('<%= tl.pic_count_lotbuzz%>') + parseInt(plan_images_count) 
                            <%end%>
                        <%else%>
                            image_count_rollover = '<%= tl.pic_count_lotbuzz%>'
                        <%end%>                   
                     <%else%>
                        image_count_rollover = '<%= tl.pic_count_lotbuzz%>'    
                    <%end%>  
                    document_count_rollover = '<%= tl.doc_count_lotbuzz%>';
                    $('#image_hover').empty();

                            <%unless tl.Key_Image_Url.blank?%>
                                key_image_url = '<%= tl.Key_Image_Url %>';
                                if (/^\/pictures*/i.test('<%= tl.Key_Image_Url %>') == true)
                                {
                                   $('#image_hover').append("<img src='"+key_image_url+"' />");   
                                }
                                else
                                {
                                  $('#image_hover').append("<img src='http://img.youtube.com/vi/<%= tl.Key_Image_Url%>/default.jpg' />")
                                  $('#image_hover').append("<img src='/assets/youtube_logo.png' class='OverlayIcon' style='margin-left:-19%' />")
                                }
                            <%else%>
                                $("#dialog_toolltip .modal-body .table tbody > tr#image_hover_row").addClass("hide_control");                            
                            <%end%>
                    }
                <% end %>
                 if(flag){
                  if (image_count_rollover == 0) {
                    $("#imagecount").addClass("hide_control");
                    $("#image_hover").addClass("hide_control");
                  }
                if (document_count_rollover == 0) {
                    $("#dialog_toolltip .modal-body .table tbody > tr > td >span#documentcount").addClass("hide_control");
                }
                if(document_count_rollover == 0 && image_count_rollover == 0){
                         $("#dialog_toolltip .modal-body .table tbody > tr#imagecountrow").addClass("hide_control");
                         $("#dialog_toolltip .modal-body .table tbody > tr#image_hover_row").addClass("hide_control");
                        }
                // if (flag == 0) {
                //     lotn = address =lotcity= lotarea = owner = lot_width_status = filing = allocation =planno=plansqft=requiredelevation=phase=builder= '';
                //         document_count_rollover=image_count_rollover=0;
                // }
                unknwonclass = this.class;
                
                if(hide_rollover_on_dbl_click == 0){
                    var dWidth = $(window).width() * 0.5;
                        if(dWidth > 270 )
                        {
                            dWidth = 330
                        } 
                            $("#dialog_toolltip").dialog({
                                position:[mouseX, mouseY],
                                create:function (event, ui) {
                                    $("#dialog_toolltip").prev().hide();
                                    $(".ui-widget-content").css("border", 0);
                                    $(".ui-dialog").css("padding",0);
                                $(".ui-dialog .ui-dialog-content").css("padding",0);
                                },
                                resizable:false,
                                modal:false,
                                // width:400,
                                width:dWidth,
                                closeOnEscape:false,
                                draggable:false,
                                minHeight:10
                            });

                        $("#dialog_toolltip").dialog().data();
                        $("#dialog_toolltip #lotn").html(lotn);
                        $("#dialog_toolltip #sales_status").html(lb_status);
                        $("#dialog_toolltip #total_area").html(lotarea);
                        $("#dialog_toolltip #floor_plan").html(floor_plan);
                        $("#dialog_toolltip #filing").html(filing);
                        $("#dialog_toolltip #sale_price").html(sale_price);
                        $("#dialog_toolltip #est_cmp_date").html(est_cmp_date);
                        $("#dialog_toolltip #lot_size").html(lot_size);
                        $("#dialog_toolltip #description").html(description);
                        $("#dialog_toolltip #lot_type").html(lot_type);
                        $("#dialog_toolltip #image_count_rollover").html(image_count_rollover);
                        $("#dialog_toolltip #document_count_rollover").html(document_count_rollover);
                        $("#dialog_toolltip  label#address_info").html(address);
                    }
                   }         
                }
               else
               {
                 document.getElementById("hover_draggable").value="false";
               }
            }//// end of initialising mouse hover
            delta[c].onmouseout = function () {
           if(hide_rollover_on_dbl_click==0){
                  if ($("#dialog_toolltip").dialog( "isOpen" )==true) {
                    $("#dialog_toolltip").dialog("close");
                  }              
              } 
            } // end of initialising mouse out
        } // end of initialising mouse hover and mouse out
    } // end of load map
    a.addEventListener("load", load_map, false);

    $('#dialog').on('hidden.bs.modal', function (e) {
        hide_rollover_on_dbl_click = 0;
    });

</script>



<div id="dialog_toolltip" title="LOT TOOLTIP">
<div class="modal-body">        
<table style="width:100%" class="table table-bordered table-striped table-hover"> 
<%LotFieldDisplayName.all.each do |each_lot_field|%>   
        <tr id="lot_nbr_row">
        <td style="width:40%"><%= each_lot_field.Lot_Number%></td>
        <td><label id="lotn"></label></td> 
         <input type="hidden" id="lot_nbr_status">
        </tr>
        <tr id="lot_status_row">
        <td><%= each_lot_field.Lot_Status%></td>
        <td><label id="sales_status"></label></td> 
        <input type="hidden" id="lot_status_status">
        </tr>
        <tr id="lot_address_row">
        <td><%= each_lot_field.Address%></td>
        <td><label id="address_info"></label></td> 
        <input type="hidden" id="lot_address_status">
        </tr>
        <tr id="lot_status_row">
        <td>Filing</td>
        <td><label id="filing"></label></td>         
        </tr>
         <tr id="sale_price_row">
        <td><%= each_lot_field.Sale_Price%></td>
        <td><label id="sale_price"></label> </td> 
        <input type="hidden" id="sale_price_status">
        </tr>
        <tr id="date_row">
        <td><%= each_lot_field.Estimated_Completion_Date%></td>
        <td><label id="est_cmp_date"></label> </td>
        <input type="hidden" id="est_cmp_date_status"> 
        </tr>
        <tr id="size_row">
        <td><%= each_lot_field.Lot_Size%></td>
        <td><label id="lot_size"></label> </td> 
        <input type="hidden" id="size_status">
        </tr>
        <tr id="desc_row">
        <td><%= each_lot_field.Description%></td>
        <td><label id="description"></label> </td>
        <input type="hidden" id="description_status"> 
        </tr>
        <tr id="lt_type_row">
        <td><%= each_lot_field.Lot_Type%></td>
        <td><label id="lot_type"></label> </td> 
        <input type="hidden" id="lot_type_status">
        </tr>    
    <%end%>
    <%PlanFieldDisplayName.all.each do |planfield|%>
        <tr id="floor_plan_row1">
        <td><%= planfield.Plan_Name%></td>
        <td>
        <label id="floor_plan">       
        </label> 
        </td> 
        </tr>
    <%end%>
       <tr id="image_hover_row" style="text-align:center;">
        <td id="image_hover" colspan='2'></td>
        </tr>
        <tr id="imagecountrow" >
        <td colspan="2" align="right">
        <span id="imagecount">
        <span class="glyphicon glyphicon-picture"></span>(<label id="image_count_rollover"></label>)</span>
        <span id="documentcount"><span class="glyphicon glyphicon-file"></span>(<label id="document_count_rollover"></label>)</span>
      </td>
      </tr>
</table></div>

</div>
<style>
    .prev{
        margin-left:17%;
    }
    .next{
        margin-right:17%;
    }

  .modal-xl {
    width: 100%;
   max-width:1500px;
  }

</style>


