<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Theme Starz">
      <%= javascript_include_tag 'inputmask' %>
 <script type="text/javascript">
  var lotbuzz_site_url=""
  var touch_or_nontouch = 0;
  if(navigator.userAgent.match(/(ipad)|(android)|(android 3.0)|(xoom)|(sch-i800)|(playbook)|(kindle)|(iphone)|(ipod)|(blackberry)|(opera)|(mini)|(palm)|(smartphone)|(iemobile)/i)){
        touch_or_nontouch=1;
    }
  window.addEventListener('message',function(e){ 
    lotbuzz_site_url=e.data
  $("#ajax_loader").css("display", "block");
  $.ajax({
          url:'/lotbuzz/lotbuzz_view',
          type:'get',
          dataType:'html',
          data:{"community": '<%= @community_name %>', "lotbuzz_site_url": lotbuzz_site_url, "is_touch":touch_or_nontouch},                
          success:function (response) {
              $("#community_render").html(response);
              $("#nav_filter_div, #cta_btn").show();
              $("#ajax_loader").css("display", "none");
          }
  });

<% @legendtypes = StatusKey.get_distinct_legendtypes.map{|x| x.LegendType}%>
<% @legendtypes = @legendtypes.select{|x| x unless StatusDetail.find_all_by_LegendType(x).empty? } %>
      <% @legendtypes.each_with_index do |legend_type,counter| %>     
            $.ajax({
                url:'/lotbuzz/render_communitylegend_view',
                type:'get',
                dataType:'html',
                data:{            
                    "legendtype" : "<%= legend_type %>" ,
                     community: "<%= @community_name%>" ,
                     "lotbuzz_site_url": lotbuzz_site_url, "is_touch":touch_or_nontouch
                },
                success:function (response) {   
                    $("#legend<%= counter+1 %>").append(response);
                    $("#legend_border").css("border", '1px solid');
                }
            });
        <%end %>
  });

$(document).ready(function(){
  $('.toggle-menu').jPushMenu();
  cta_button_size();

});
$(window).resize(function(){
  cta_button_size()
})

function cta_button_size(){
  if(window.matchMedia('(max-width: 515px)').matches){
    $("#cta_toggle").addClass("cta_button_sm").removeClass("cta_button_lg")
  }
  else{
    $("#cta_toggle").removeClass("cta_button_sm").addClass("cta_button_lg")
  }
}
</script>

<style>
  .cta_button_lg{
    background-color: #006698;  font-weight: bold;font-size: 14px; padding: 6px;border-radius: 5px;margin-top: 9px;  color: #ffffff;
  }
  .cta_button_sm{
    background-color: #006698;  font-weight: bold;font-size: 11px; padding: 3px;border-radius: 5px;margin-top: 9px;  color: #ffffff;
  }
</style>
</head>
<body>
    <div id="nav_filter_div" style="  display:none;position: absolute;right: 15px;z-index: 1;word-break: normal;border: 1px solid #006698; padding: 2px; border-radius: 3px;background-color:#006698">
      <!-- <div style="font-size: 11px; color: #006698;float: left;font-weight: bold;margin-left:1px;line-height:28px;cursor:pointer" id="filter_text" class="toggle-menu menu-right">Show Lot Filter</div> -->
      <div style="font-size: 11px;color: #ffffff;float: left;font-weight: bold;margin-left:1px;line-height:28px;cursor:pointer" id="filter_text" class="toggle-menu menu-right">Show Lot Filter</div>
      <div style="float: right;">
        <img src="/assets/website_filter.png" class="toggle-menu menu-right" id="filter_toggle" style="margin-top:3px;width: 24px;cursor:pointer" title="Click to filter Lots">
      </div>
    </div>
    <div style="margin-top:30px;z-index:1;position: absolute;right: 15px;display:none" id="cta_btn">
      <button class="toggle-cta" id="cta_toggle">Contact US</button>
    </div>


    <div class="col-xs-10 col-sm-6 panel panel-default cta_form" style="border:1px solid #000000 !important; position: absolute;right: 15px; z-index: 1;display:none;width:264px;margin-top:76px">
        <%= form_tag "/lotbuzz/lead_request", :id=>"phase_cta_form", :class=>"form-horizontal", :method => :post do %>
            <%= hidden_field_tag "community", @community_name  %>
            <%= hidden_field_tag "community_parcel", @parcel_name  %>
            <%= hidden_field_tag "development_status", @parcel_development_status  %>
          
            <h5 style="margin: 0px !important;">
              <label  style="margin-top: 3%;color: #225ea8;">
                <img src="/assets/call_m1.png" style="width:20px">
                  Call: <%= ContactForm.first.Contact_Num %> 
              </label>
            </h5>
            <div class="form-group" style="margin-bottom:0px !important">
              <div style="margin:2%;background-color:#006698;border-radius:5px;padding-left: 5%;padding-right: 5%;min-height: 134px;">
              
                    <label style="color:#ffffff;margin-top:1%"><%= ContactForm.first.Name %></label>
                  
                    <input type="text" name="name" id="name" placeholder="Full Name" class="form-control input-sm CTA_input_fields_display" style="margin-top:1%">
                  
                    <input type="text" name="email_address" id="email_address" placeholder="Email" class="form-control input-sm CTA_input_fields_display">
                  
                    <input type="text" name="phone_number" id="phone_number" placeholder="Phone" class="form-control input CTA_input_fields_display" >
                   <div style="text-align:center">
                    <input type='submit' value="Submit" class="btn btn-primary" id="cta_details"  style=";color: #ffffff;background-color: #005179;  border-color: #225ea8;margin-top: 6px;margin-bottom:6px">
                  </div>
              </div>
            </div>
        <% end %>
    </div>
    <div class="col-xs-12"> 
      <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="filter_legend">

        <div id="legends" style="margin-bottom:0px !important;margin-top:0px !important;min-height:0px !important;padding-right: 0px !important;padding-left:0px !important;width:240px;background-color:#ffffff;margin-right:5%">
          <span class="glyphicon glyphicon-remove close_icon" style="color:#225ea8;display:none;font-size:13px !important;float:right;cursor:pointer;margin-right:2%"></span>
          <div  id="legend1"></div>
          <div id="legend2" style="max-height:440px;overflow-y:auto"></div>

        </div>
      </nav>
      <div id="community_render" style="  padding-left: 0px !important;padding-right: 0px !important;"></div>
    </div>

    <div id ="ajax_loader" style="display:none">
        <%= image_tag "ajax-loader.gif", :alt => "loader", :id=> "ajax_loader_img" %>
    </div>  
</body>

<style>
.btn-link:hover { text-decoration: none }
      .modal-xl {
        width: 92%;
       max-width:1500px;
      }

    @media (min-width: 992px) {
      
          #legend2 {
              margin-top:2%;
          }
      
          #legends{
              float: right;
          }
      
          #maintitle{
            font-size:40px; 
          }
      
          #subtitle{
            font-size:25px; 
          }

          #header_text{
            margin-top:-15%  
          }  
      
      }

      
      @media (max-width: 992px) {          
        
          #legends,#legend1{
              margin-bottom: 2%;
          }
       
          #list_of_features{
            text-align: center;
          }    
       
          #maintitle{
            font-size:40px;
          }
       
          #subtitle{
            font-size:20px;
          }
       
           #header_text{
            margin-top:-15%  
          }   
      }


        @media (max-width: 768px) {          
        
          #legends,#legend1{
              margin-bottom: 2%;
          }
        
          #list_of_features{
            text-align: center;
          }    
        
          #maintitle{
            font-size:19px;
          }
        
          #subtitle{
            font-size:16px;
          } 
        
          #header_text{
            margin-top:-20%  
          }          
      }

    #legends
    {
      margin-top: 10px;
    }   
    .CTA_input_fields_display
{
  margin-top:5px; border-radius:4px !important;font-size:12px !important;height: 25px;
}
</style>
    
<script>
$(function($) {
  $.mask.definitions['~']='[+-]';
  $('input#phone_number').mask('?999-999-9999');
});

if(touch_or_nontouch == 1){
    $("#cta_toggle").on("tap",function(){
      $(".cta_form").toggle(500);
      $('.cbp-spmenu').hide();
      on_click_out_legend()
    });
    $("#nav_filter_div").on("tap",function(){
      $('.cbp-spmenu').show();
      $(".cta_form").hide();
      on_click_out_legend()
    })
}
else{
  $("#nav_filter_div").click(function(){
    $('.cbp-spmenu').show();
    $(".cta_form").hide();
    on_click_out_legend()
  })
  $("#cta_toggle").click(function(){
    $(".cta_form").toggle(500);
    $('.cbp-spmenu').hide();
    on_click_out_legend()
  })
}
function zoom_control_functionality(){
  dynm_viewbx_values();
    var panZoom = window.panZoom =svgPanZoom('#alphasvg', {
        zoomEnabled: true,
        controlIconsEnabled: true
    });
}

function dynm_viewbx_values(){
    if(document.getElementById("alphasvg") != null){
      document.getElementById("alphasvg").contentDocument.getElementsByTagName('svg')[0].setAttribute("viewBox", "0 0 "+$(window).width()+" "+$(window).height());
      document.getElementById("alphasvg").contentDocument.getElementsByTagName('svg')[0].setAttribute("width",$(window).width());
      document.getElementById("alphasvg").contentDocument.getElementsByTagName('svg')[0].setAttribute("height", $(window).height());
    }
}

function hide_filter_onclk_outside(){
  $('.jPushMenuBtn,body,.cbp-spmenu').removeClass('disabled active cbp-spmenu-open cbp-spmenu-push-toleft cbp-spmenu-push-toright');
  $('.cbp-spmenu').hide();
  $("#filter_toggle, #filter_div").show();
  $(".close_icon").hide();
  $(".cta_form").hide(500);
}
$(".close_icon").click(function(){
  hide_filter_onclk_outside();
})

function on_click_out_legend(){
  if(touch_or_nontouch == 0){
    setTimeout(function(){ 
        document.getElementById("alphasvg").contentDocument.onclick = function (e) {
          $('.jPushMenuBtn,body,.cbp-spmenu').removeClass('disabled active cbp-spmenu-open cbp-spmenu-push-toleft cbp-spmenu-push-toright');
          $('.cbp-spmenu').hide();
          $("#nav_filter_div").show();
          $(".cta_form").hide(500);
        }
    },100);
  }
  else{
    setTimeout(function(){ 
       $(document.getElementById("alphasvg").contentDocument).on('tap',function(){
          $('.jPushMenuBtn,body,.cbp-spmenu').removeClass('disabled active cbp-spmenu-open cbp-spmenu-push-toleft cbp-spmenu-push-toright')
          $("#nav_filter_div").show();
          $('.cbp-spmenu').hide();
          $(".cta_form").hide(500);
        });
    },100);
  }
}

   $("#cta_detailsd").click(function(){
    $.ajax({
        type: "GET",
        url: '/lotbuzz/lead_request',
        data:{name: $("#name").val(), email_address: $("#email_address").val(), phone_number: $("#phone_number").val(), lot_number: $("#lot_number").val(), "is_touch":touch_or_nontouch},
        success: function(data) { 

          }
    });
 })
var options = {     
    success: function(res) 
    { 
        $("#ajax_loader").css("display", "none");
        $('#phase_cta_form').trigger("reset");
        $("input#phone_number").unmask();
        on_click_out_legend()
        if(res.status=="success"){
            $.mask.definitions['~']='[+-]';
            $('input#phone_number').mask('?999-999-9999');

            if ($(".ui-dialog.ui-widget.ui-widget-content").length > 0) {
                  $(".ui-dialog.ui-widget.ui-widget-content").remove();
            }
            var data_string={
                "community": '<%= @community_name %>', "is_touch":touch_or_nontouch
            };
        }
         $.ajax({
            url:'/lotbuzz/demo',
            type:'get',
            dataType:'html',
            data:data_string,
            success:function (response) {                
            }
        }); 
    },
}; 
$("#phase_cta_form").submit(function(){
    $("#image_already_exists").empty();
    $("#image_upload_error").empty();
    if($("#phase_cta_form").valid()){
      $("#ajax_loader").css("display", "block");
      $("#phase_cta_form").ajaxSubmit(options); 
    }
    return false;
});

jQuery.validator.addMethod("usPhoneFormat", function (value, element) {
  value_splitted = value.split("_").join("")
  value1 = value_splitted.replace(/-/g,"")
    return value.match(/^\d{3}\-\d{3}\-\d{4}?$/) || value1=="";
}, "Enter a valid phone number.");

$("#phase_cta_form").validate({    
    rules: {
      "name":{
        required: true,
      },
      "email_address": {    
        required: true,  
        email: true    
      },
      "phone_number":{
        // number: true,
        usPhoneFormat: true,
      },  
    },
    
    messages: {

  },
    errorPlacement: function(){
        return false;
    },
    errorElement: 'span',
    errorClass: 'help-block style_block',
      highlight: function(element) {
          $(element).closest('.form-group').addClass('has-error');
          $(element).css({ border: "2px solid red" });
      },
      unhighlight: function(element) {
          $(element).closest('.form-group').removeClass('has-error');
          $(element).css({ border: "0px solid red" });
      }     
  });   

</script>
<style>
::-webkit-input-placeholder { font-size: 10pt;}
::-moz-placeholder { font-size: 10pt;}
:-ms-input-placeholder { font-size: 10pt;}
input:-moz-placeholder { font-size: 10pt;}
.CTA_input_fields_display
    {
      margin-top:5px; border-radius:4px !important;font-size:12px !important;height: 25px;
    }

    #legend1 #legend, #legend2 #legend{
      border:1px solid;
    }


</style>
<style>
  @media (min-width: 768px) {
      #legend2 {
          margin-top:2%;
      }
      #legends{
          float: right;
      }
  }
  @media (max-width: 768px) {
   #legends{
          margin-bottom: 4%;
      }    
  }
  #legend2 #legend{margin-bottom: 0px !important}
</style>