
<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Theme Starz">
    <script src="/assets/jquery-1.9.0.js"></script>    
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />

    <!-- <link rel="stylesheet" href="/assets/css_for_website/bootstrap.css" type="text/css"> -->
    <%= stylesheet_link_tag "bootstrap" %>
     <%= javascript_include_tag 'inputmask' %>
 <%= javascript_include_tag "jquery.form" %>
    <link rel="stylesheet" href="/assets/css_for_website/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="/assets/css_for_website/magnific-popup.css" type="text/css">    

<script src="/assets/jquery-ui.js"></script>
<script src="/assets/bootstrap.min.js"></script>
<%= stylesheet_link_tag    "jquery-ui" %> 
 <script type="text/javascript">
 var touch_or_nontouch = 0;    

    if(navigator.userAgent.match(/(ipad)|(android)|(android 3.0)|(xoom)|(sch-i800)|(playbook)|(kindle)|(iphone)|(ipod)|(blackberry)|(opera)|(mini)|(palm)|(smartphone)|(iemobile)/i)){
        touch_or_nontouch=1;
    }


</script>

    <link href="<%= SITE_ROOT_DOMAIN_NAME %>/assets/extra_css_for_comm.css" rel="stylesheet" type="text/css" />
    <script src="<%= SITE_ROOT_DOMAIN_NAME %>/assets/bootstrap.min.js"></script>
    <link rel="stylesheet" href="<%= SITE_ROOT_DOMAIN_NAME %>/assets/prettyPhoto.css">

    <script src="<%= SITE_ROOT_DOMAIN_NAME %>/assets/jquery.validate-1.11.1.js"></script>
    <script src="<%= SITE_ROOT_DOMAIN_NAME %>/assets/jquery.form.js"></script>
    <script src="<%= SITE_ROOT_DOMAIN_NAME %>/assets/inputmask.js"></script>
    <script src="<%= SITE_ROOT_DOMAIN_NAME %>/assets/jquery.prettyPhoto.js"></script>
    <link rel="stylesheet" href="<%= SITE_ROOT_DOMAIN_NAME %>/assets/lotbuzz_embed.css">


    <link rel="stylesheet" href="/assets/css_for_website/style.css" type="text/css">
    <title>LotVue - Constructions</title>
<style>
    .hide_control{
    display: none !important; 
}

 #image_display{
    /*border: 1px solid #aaaaaa !important;*/
}


</style>
</head>

<!-- <body data-spy="scroll" data-target=".navigation" data-offset="90"> -->
<body style="padding-top:50px;">
<!-- Wrapper -->
<section id="home"></section>
<div class="wrapper">
    

  



  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img src="/assets/logo.png" id="lotvue_logo" alt="brand" class="img-responsive">
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a>Home</a></li>
          <li><a>Projects</a></li>
          <li><a>About Us</a></li>
        </ul>
      </div>
    </div>
  </nav>

    <section id="slider">
        <img src="/assets/images_for_website/header-4.jpg" width="100%">
        <div class="slider-banner">
            <div>
                <div class="row">                    
                        <center>
                            <div id="header_text" class="title">
                                <label id="maintitle"><b>Final inspection just started!</b></label>
                                <figure id="subtitle">Subscribe and get notified about new units for you</figure>                            
                            </div><!-- /.title -->
                        </center>                    
                
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.slider-banner -->
    </section><!-- /#slider -->
    <section id="features" style="background-color:#222222">
        <div class="container">
                       
            <div class="col-md-2 col-sm-12" id="list_of_features">
                <p style="font-size:20px"><b>Overview</b></p>
                <ul class="features-list">
                <li>Amenities</li>
                <li>Floor Plans</li>
                <li>Specification</li>
                <li id="site_plan">Site Plan</li>
                <li>Project Brochure</li>
                </ul><!-- /.features-list -->
            </div><!-- /.col-md-4 --> 
            
            <div class="col-md-10 col-sm-12">
            <iframe id="frame_comm_filing_not_modal" class="Phases" style="width: 1100px; height: 690px" src="<%= SITE_ROOT_DOMAIN_NAME %>/lotbuzz/<%= @community %>"></iframe>
            <div>    

            <script type="text/javascript">
                $('#frame_comm_filing_not_modal').load(function () {
                    var iframe_content = document.getElementById('frame_comm_filing_not_modal').contentWindow
                    iframe_content.postMessage(window.location.href, "<%= SITE_ROOT_DOMAIN_NAME %>/lotbuzz/<%= @community %>");
                });

                
            </script>

            <style>
                .legend2 .legend_data {
                  margin-top: 0px !important;
                  line-height: 18px;
                  word-break: break-word;
                }
            </style>

        </div><!-- /.container -->
    </section><!-- /#features .block -->
    <section id="features-boxes" class="block background-color-grey-light">
        <div class="container">
            <header><h3>Our Features</h3></header>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="feature-box">
                        <header>
                            <img src="/assets/images_for_website/icon-01.png" alt="">
                            <h4>Nature All Around You</h4>
                        </header>
                        <p>Fresh air, singing birds during the day and peaceful silence during the night.
                            Let your life surrounds by the nature.
                        </p>
                    </div><!-- /.feature-box -->
                </div><!-- /.col-md-4 -->
                <div class="col-xs-12 col-sm-4">
                    <div class="feature-box">
                        <header>
                            <img src="/assets/images_for_website/icon-02.png" alt="">
                            <h4>Get Free Parking Place</h4>
                        </header>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse faucibus,
                            risus sit amet auctor sodales, justo erat tempor eros, non
                        </p>
                    </div><!-- /.feature-box -->
                </div><!-- /.col-md-4 -->
                <div class="col-xs-12 col-sm-4">
                    <div class="feature-box">
                        <header>
                            <img src="/assets/images_for_website/icon-03.png" alt="">
                            <h4>You Are Safe. 24/7 Security</h4>
                        </header>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse faucibus,
                            risus sit amet auctor sodales, justo erat tempor eros, non
                        </p>
                    </div><!-- /.feature-box -->
                </div><!-- /.col-md-4 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /#features-boxes .block -->
    <section id="boxes" class="block background-color-grey-light">
        <div class="container">
            <div class="box">
                <div class="image width-50 pull-left">
                    <img src="/assets/images_for_website/box-image-01.jpg" class="top-50" alt="">
                </div>
                <div class="description width-50">
                    <div class="description-wrapper">
                        <header><h3>Plenty of Room For Everyone <br> Even For Your Car</h3></header>
                        <p>We understand your privacy. Every person should have his own space where he can live his own private live.
                            Even the smallest apartments are big and space enough to feel comfortable.
                            And we think that your car deserves the same in the garage.</p>
                        <a class="btn roll">Be the first to know!</a>
                    </div>
                </div><!-- /.description -->
            </div><!-- /.box -->
            <div class="box">
                <div class="description width-30 pull-left">
                    <div class="description-wrapper top-180">
                        <header><h3>Spectacular Views</h3></header>
                        <p>Start your day by enjoying the unforgettable view from your home.
                            Open the window and smell the fresh air of the pure nature.</p>
                        <a class="btn roll">Be the first to know!</a>
                    </div>
                </div><!-- /.description -->
                <div class="image width-70">
                    <img src="/assets/images_for_website/box-image-02.jpg" alt="">
                </div>
            </div><!-- /.box -->
            <section class="video">
                <!-- <iframe src="//player.vimeo.com/video/34741214?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
            </section>
            <div class="box with-empty-space">
                <div class="width-40 pull-left">
                    <div class="empty-space"></div>
                </div>
                <div class="description width-60">
                    <div class="description-wrapper">
                        <header><h3>Plenty of Room For Everyone <br> Even For Your Car</h3></header>
                        <p>We understand your privacy. Every person should have his own space where he can live his own private live.
                            Even the smallest apartments are big and space enough to feel comfortable.
                            And we think that your car deserves the same in the garage.</p>
                        <a class="btn roll">Be the first to know!</a>
                    </div>
                </div><!-- /.description -->
            </div><!-- /.box -->
        </div><!-- /.container -->
    </section><!-- /#boxes -->
   
    <section id="testimonials" class="block">
        <div class="container">
            <!-- <header class="section-title"><h3>Testimonials</h3></header> -->
            <div class="owl-carousel testimonials-carousel">
                <blockquote class="testimonial">
                    <figure>
                        <div class="image">
                            <img alt="" src="/assets/images_for_website/client-01.jpg">
                        </div>
                    </figure>
                    <aside class="cite">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In orci justo, commodo non ante molestie, rhoncus tincidunt neque.</p>
                        <footer>John Doe</footer>
                    </aside>
                </blockquote>
                <blockquote class="testimonial">
                    <figure>
                        <div class="image">
                            <img alt="" src="/assets/images_for_website/client-02.jpg">
                        </div>
                    </figure>
                    <aside class="cite">
                        <p>Fusce risus metus, placerat in consectetur eu, porttitor a est sed sed dolor lorem cras adipiscing</p>
                        <footer>Natalie Jenkins</footer>
                    </aside>
                </blockquote>
            </div><!-- /.testimonials-carousel -->
        </div><!-- /.container -->
    </section><!-- /#testimonials -->
    <hr>
   
    <section id="testimonials" class="block">
        <div class="container">
            <header class="section-title"><h3>Testimonials</h3></header>
            <div >
                <blockquote class="testimonial">
                    <figure>
                        <div class="image">
                            <img alt="" src="/assets/images_for_website/person_icon.jpg">
                        </div>
                    </figure>
                    <aside class="cite">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In orci justo, commodo non ante molestie, rhoncus tincidunt neque.</p>
                        <footer>John Doe</footer>
                    </aside>
                </blockquote>
                <blockquote class="testimonial">
                    <figure>
                        <div class="image">
                            <img alt="" src="/assets/images_for_website/person_icon.jpg">
                        </div>
                    </figure>
                    <aside class="cite">
                        <p>Fusce risus metus, placerat in consectetur eu, porttitor a est sed sed dolor lorem cras adipiscing</p>
                        <footer>Natalie Jenkins</footer>
                    </aside>
                </blockquote>
            </div><!-- /.testimonials-carousel -->
        </div><!-- /.container -->
    </section><!-- /#testimonials -->
    <hr>

    <section id="contact" class="block background-color-grey-dark has-dark-background">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <header><h3>Our Agent</h3></header>
                    <section class="agent">
                        <div class="agent-id">
                            <img src="/assets/images_for_website/person_icon.jpg" alt="" style="width:22%">
                            <div class="agent-wrapper">
                                <h4>John Doe</h4>
                                <p>Aliquam sit amet augue non arcu mollis suscipit. Quisque scelerisque</p>
                            </div>
                        </div>
                        <div class="agent-contact col-xs-12">
                            <div><strong>Phone:</strong> (123) 456 789 000</div>
                            <div><strong>E-mail:</strong> <a>john.doe@example.com</a></div>
                            <div><strong>Skype:</strong> John Doe</div>
                        </div>
                    </section>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <header><h3>Contact Form</h3></header>
                    <form role="form" id="form-contact" method="post" action="">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="contact-form-name">Your Name<em>*</em></label>
                                    <input type="text" class="form-control" id="contact-form-name" name="contact-form-name" required>
                                </div><!-- /.form-group -->
                            </div><!-- /.col-md-6 -->
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="contact-form-email">Your Email<em>*</em></label>
                                    <input type="email" class="form-control" id="contact-form-email" name="contact-form-email" required>
                                </div><!-- /.form-group -->
                            </div><!-- /.col-md-6 -->
                        </div><!-- /.row -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="contact-form-message">Your Message<em>*</em></label>
                                    <textarea class="form-control" id="contact-form-message" rows="6" name="contact-form-message" required></textarea>
                                </div><!-- /.form-group -->
                            </div><!-- /.col-md-12 -->
                        </div><!-- /.row -->
                        <div class="form-group">
                            <div type="submit" class="btn pull-right btn-large" >Send a Message</div>
                        </div><!-- /.form-group -->
                        <div id="form-status"></div>
                    </form><!-- /#form-contact -->
                </div>
            </div>
        </div>
    </section>
    <footer id="footer">
        <div class="container">
            <figure>(C) ThemeStarz</figure>
        </div>
    </footer>
</div>
<!-- end Wrapper -->
    
<style type="text/css">
.ui-dialog .ui-dialog-content
{ 
overflow: hidden !important;
}
#legend_border
{
margin: 0 0 0 !important;
}
 #legend_title
  {
    font-size:11px;
  }
  .Phases{
        width:100% !important;
        /*display: none;*/
    }

    .ui-state-hover
    {
        background:none !important;
        border:0px !important;
        /*background-image: none !important;*/
    }


    #dialog_toolltip{
        display: none;
    }   
    .ui-widget-header {
        border: 0px !important;
        background: none !important;
    }
    .ui-dialog
    {
        /*top:500px!important;*/
    }

</style>
<script>
 <% if @community == "LotVue Highlands" %>        
        $("#legend2").hide();
<%elsif @community == "LotVue Indus" || @community == "LotVue Indus1" %>
        $("#legend1").hide();
        $("#legend2").hide();
<% else%>
    $("#legend1").show();
<% end %>
</script>
<style>
    .legend1
    {
        /*width:11%;*/
        width:22%;
        float:right;
        border:1px solid #000000;
        font-size:10px;
        /*margin-right:7%;*/
        /*margin-right:11.8%;*/
        margin-right:-31px;
        margin-bottom: 2px
    }
   .col-md-4 {
    width: 31.33333333%;
  }

  .legend_data_content {
    /*margin-left: 34px !important;*/
}
    .legend_color{    
        height: 14px !important;     
        width: 14px !important;       
    }

</style>    
<script>
    
    $.ajax({
                url:'/lotbuzz/render_community_web_legend_view',
                type:'get',
                dataType:'html',
                data:{"community": '<%= @community %>'},                
                success:function (response) {
                    $("#community_render").html(response)
                    $("#ajax_loader").css("display", "none");
                }
            });



</script>

<div class="modal fade bs-example-modal-lg" id="community_view" role="dialog">
    <div class="modal-dialog  modal-xl">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <button type="button" class="btn-link" style="margin-right:5px;float:right;color: #428bca;" id="phase_modal" ></button>
          <label style="font-size:14px;" class="modal-title" id="phase_header">Modal Header</label>
        </div>
        <div class="modal-body container" id="image_display">
        
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div> -->
      </div>      
    </div>
</div>

</body>
<style>
.btn-link:hover { text-decoration: none }
      .modal-xl {
        width: 92%;
       max-width:1500px;
      }

    @media (min-width: 992px) {
      
          #legend2 {
              margin-top:2%;
          }
      
          #legends{
              float: right;
          }
      
          #maintitle{
            font-size:40px; 
          }
      
          #subtitle{
            font-size:25px; 
          }

          #header_text{
            margin-top:-15%  
          }  
      
      }

      
      @media (max-width: 992px) {          
        
          #legends,#legend1,#legend2{
              margin-bottom: 2%;
          }
       
          #list_of_features{
            text-align: center;
          }    
       
          #maintitle{
            font-size:40px;
          }
       
          #subtitle{
            font-size:20px;
          }
       
           #header_text{
            margin-top:-15%  
          }   
      }


        @media (max-width: 768px) {          
        
          #legends,#legend1,#legend2{
              margin-bottom: 2%;
          }
        
          #list_of_features{
            text-align: center;
          }    
        
          #maintitle{
            font-size:19px;
          }
        
          #subtitle{
            font-size:16px;
          } 
        
          #header_text{
            margin-top:-20%  
          }          

      }

#list_of_features{  color:#ffffff;}
.features-list li:not(#site_plan){
    color:#CA6828;
}
.features-list li#site_plan{
    color:#006698;cursor:pointer;
}
</style>



<div class="modal fade bs-example-modal-lg" id="community_filing_view" role="dialog" style="z-index:1200">
    <div class="modal-dialog  modal-xl">        
      <div class="modal-content">
        <div class="modal-header" style="border-bottom:0px !important">
          <button type="button" class="close" data-dismiss="modal">&times;</button>          
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body container">
          <iframe id="frame_comm_filing" class="Phases" src="<%= SITE_ROOT_DOMAIN_NAME %>/lotbuzz/<%= @community%>" style="width:1100px;height:600px"></iframe>
        </div>
      </div>      
    </div>
  </div>

  <div class="modal fade bs-example-modal-lg" id="data_view" role="dialog" style="z-index:3000;">
    <div class="modal-dialog  modal-xl">
          
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="data_view_header" style="margin-top: 5px;margin-bottom: 5px;">Modal Header</h4>
        </div>
        <div class="modal-body container" id="image_display1">
        </div>
      </div>      
    </div>
</div>
<script type="text/javascript">
    $('#frame_comm_filing').load(function() {
       var iframe_content=document.getElementById('frame_comm_filing').contentWindow
        iframe_content.postMessage(window.location.href,"<%= SITE_ROOT_DOMAIN_NAME %>/lotbuzz/<%= @community %>")
    });

 $("#site_plan").click(function(e){        
        $("#community_filing_view").modal({
            backdrop: false
        })
        
 });
 

window.addEventListener('message', function(e){
    if (e.origin === "<%= SITE_ROOT_DOMAIN_NAME %>") {     
      if(e.data.event_on="Lot"){
          $("#image_display1").html(e.data.body_html)
          $("#data_view_header").html(e.data.header_html)
          $("#data_view").modal({
            backdrop: false
          });

      }
    }
})
</script>