<%= render :partial => "lotbuzz/legend" %>

<script>
  $.ajax({
            url:'/lotbuzz/lotbuzz_view',
            type:'get',
            dataType:'html',
            data:{
                community: "<%= @community_name%>", parcel_name: "<%= @parcel_map %>", phase_parcel: "<%= @parcel_name%>"
            },
            success:function (response) {              
                $(".map_render").html(response);
                $("#ajax_loader").css("display", "none");                
            }
        });
    
</script>

<div class="map_render" style="width:100%;height:500px"></div> 
<div id ="ajax_loader" style="display:none;">
    <%= image_tag "ajax-loader.gif", :alt => "loader", :id=> "ajax_loader_img" %>
</div>