<% if @cost_codes.present? %>
    <%= select_tag 'cost_code[]', options_from_collection_for_select(@cost_codes, "COSTCODE", "COSTCODE", @selected_cost_codes), :class => "form-control", :multiple => "multiple", :id => "cost_code" %>
<% else %>
    <%= select_tag 'cost_code[]', '' , :id => "cost_code" %>
<% end %>

