<div id="content" class='content_mid'>
  <div class="col-xs-8 col-sm-6 col-md-4 col-sm-push-3 col-md-push-4 col_content_mid xs_egt_push">
    <div class="names_align">&ensp;Manage Lot Basis</div>
    <br />
    <hr>
    <div>
      <%= form_tag "/lot_bases/#{@lot_basis.id}",:id=>"update_lot_basis_form", :method => :put do %>
        <table>
          <tr>
            <td valign="top" class="edt_type_td">&emsp;Category Code </td>
            <td>
              <%= select_tag "category_code", options_for_select(HouseCostSummaryOds.pluck(:CATEGORYCODE).uniq, selected:  @lot_basis.category_code),:class => "form-control category_code_cls"%>
            </td>
          </tr>
          <tr>
            <td valign="top" class="edt_type_td">&emsp;Cost Code </td>
            <!-- <td>&emsp;<input type="text" name="cost_code" value="<%= @lot_basis.cost_code %>" class="input_filed_border cost_code"/> -->
           <td>
               <div id="cost_code_div"></div>
               <!-- <= select_tag "cost_code", options_for_select([]), :class => "form-control", :multiple => "multiple" %> -->
            </td>
          </tr>
        </table><br />
        <div class="create_collection_button"  style="margin-top:-4%">
          <button type="submit" class="btn btn-success" style="margin-right:3px">Save</button>
          <a href="/lot_bases" class="cancel_text_color cancel_css_users_page"  style="margin-right:3px">cancel</a>
        </div>
      <% end %>    
    </div>
  </div>
</div>
<style>
  .category_code_cls{
    margin-left: 11px;width: 86px;border-color:#000000;
  }
  .btn-group{
    margin-left:10px;
  }
</style>
<script>
  category_code_change("<%= @lot_basis.category_code %>","<%= @lot_basis.category_code %>");
  $("#category_code").change(function(){
    category_code_change($(this).val(),"<%= @lot_basis.category_code %>");
  })

  function category_code_change(category_code, selected_category_code){
    $.ajax({
      url: '/lot_bases/cost_codes_for_category',
      data: {category_code: category_code, selected_category_code: selected_category_code, id : "<%= @lot_basis.id %>"},
      dataType: 'html',
      type: 'GET',
      success: function(data){
        $("#cost_code_div").html(data);
        $("select[name='cost_code[]']").multiselect({
          includeSelectAllOption: true,
          enableFiltering:true         
        });
      }
    });
  }


  $(document).ready(function() {    
    $("#update_lot_basis_form").validate({   
      rules: {
        "cost_code[]": {
          required : {          
            depends: function(element){
                if($("select[name='cost_code[]']").find('option:selected').length == 0){
                    return true;
                }
                else{return false }
            }
          },
        },
      },
      messages:
      {
        "cost_code[]":{
          required: "Please select atleast one cost code"
        }
      },
      ignore: ':hidden:not("#cost_code")',
      errorElement: 'span',
        errorClass: 'help-block lot_basis_err_cls',
        highlight: function(element) {
            $(element).closest('.form-group').addClass('has-error');
        },
        unhighlight: function(element) {
            $(element).closest('.form-group').removeClass('has-error');
        },
        errorPlacement: function(error, element) {
            if (element.attr("name") == "cost_code[]" )
            {
              error.insertAfter(element.next('.btn-group'));
            }
            else 
            {
              element.after(error); // default error placement                  
            }
        }   
    });         
  });
</script>
