<div id="content" class='content_mid'>
  <div class="css_back_to_map_div" >
      <img src="/assets/back_arrow.png" class="css_back_arrow">
      <%= render :partial => 'layouts/back_to_map'%>  
  </div>


  <div class="col-xs-11 col-sm-8 col-md-4 col-sm-push-2 col-md-push-4 col_content_mid xs_cols_push" >
    <div class="names_align">Manage Lot Basis</div>
    <div class="buttons_list" style="margin-top:1.6%;margin-bottom:0.8%"></div>
    <br />
    <div id="lot_basis">
      <table id="outer_table" class="table lot_collection_table table_bottom tablesorter" style="margin-top:5%">
        <thead>
            <tr class="table_heading">
                <th class="sort_table">Category Code</th>
                <th class="sort_table">Cost Code</th>
                <th class="sortable_edit" style="border-bottom: 0px !important"></th>
            </tr>
        </thead>
        <%unless @lot_basis.blank?%>
          <% @lot_basis.each do |lb| %>
            <tr>
                <td class="lot_collection_button_table_td">          
                     <%= lb.category_code %>
                </td>
                <td class="lot_collection_button_table_td">          
                     <%= lb.cost_code %>
                </td>
               <td class="text-center">
                    <%=link_to 'Edit ', "/lot_bases/#{lb.id}/edit" %>  
                </td>
            </tr>
          <% end %> 
        <%else%>
            <tr>
              <td colspan="3">
                  <center>No data added</center>
              </td>
            </tr>
        <%end%>
        <div id ="ajax_loader" style="display:none">
            <%= image_tag "ajax-loader.gif", :alt => "loader", :id=> "ajax_loader_img" %>
        </div>
      </table>
    </div>
  </div>
</div>

<%= javascript_include_tag  "jquery.tablesorter.min.js" %>
<%= javascript_include_tag  "jquery.tablesorter.widgets.js" %>
<%= stylesheet_link_tag    "theme.default" %>
<script>
    $(function(){
        $('table').tablesorter({
            widgets        : ['zebra', 'columns'],
            usNumberFormat : false,
            emptyTo        : 'none',
            sortRestart    : true
        });
    });
</script>