
<div id="content" class='content_mid'> 
    <div class="css_back_to_map_div">
        <img src="/assets/back_arrow.png" class="css_back_arrow">
        <%= render :partial => 'layouts/back_to_map'%>  
    </div>
    <div class="flash_notice"><font size="3" color="red" align="center"><%= flash[:notice] %></font></div>
    <div class="col-sm-10 col-md-10 col-sm-push-1 col-lg-8 col-lg-push-2 col-md-push-1 col_content_mid mr_btm_for_cnt_mid">
        <div class="names_align">Manage Models</div>
        <br />
        <hr>
        <%= hidden_field_tag  "stngs_form_data"%>           
        <%= form_tag "/models",:id=>"manage_settings_form", :method => :post do %>
               <table class="models_create" >
        	        <tr>
        				<td>Community </td>
        				<td> <%= select_tag "Community", options_for_select(@communities), :onchange=>"showbuilders(this.value)", :class => "form-control .reviews_table", :autocomplete=>"off"%>
        				</td>
        			</tr>
                </table>

        		<div id="builders"></div>

            <div class="create_collection_button">
                <button type="submit" class="btn btn-success">Save</button>
                <a href="/models" class="cancel_text_color cancel_css_users_page" id="checkbefore">cancel</a>
            </div>
        <% end %>
    </div>
</div>

<script type="text/javascript">
community_selection=$("#Community").val();
showbuilders(community_selection);
function showbuilders(community_selection){  
 $.ajax({
        type: "GET",
        url: '/models/builders_for_community',
        data: { Community: community_selection},        
        success: function(data) {
          $("#builders").html(data);
          $("#stngs_form_data").val($("#manage_settings_form").serialize());
        }
});
}

   
</script>
