<div id="content" class='content_mid'>      
    <%= select_tag "communities_dropdown", options_for_select(Tbldatum.get_all_communities), :onchange=>"showCommunityMap(this.value)", :class => "form-control community_dropdown", :autocomplete=>"off"%> 
    <div id="show_community_map"></div>

<script type="text/javascript">
value = $("#communities_dropdown").val();
showCommunityMap(value);
function showCommunityMap(value){	
 $.ajax({
        type: "GET",
        url: 'show_map_based_on_community',
        data: {"project": '<%= @opted_product%>',Community: value},
        success: function(data) {
          $("#show_community_map").html(data);
        }
});
}
</script>