<div id="content" class='content_mid'>
	<div class="col-xs-8 col-sm-6 col-md-4 col-sm-push-3 col-md-push-4 col_content_mid xs_egt_push">
		<div class="names_align">&ensp;Manage Zero Count Status</div>
		<br />
		<hr>
		<div>
	    	<%= form_tag "/zero_count_statuses/#{@zero_sts_details.id}",:id=>"update_zero_status_form", :method => :put do %>
	           <table>
	                <tr>
	    				<td class="edt_type_td">&emsp;Zero Count Status </td>
	    				<td>&emsp;
		    				<% if @zero_sts_details.zero_status_check == "Show" %>
		    					<%= radio_button_tag 'zero_status_check','Show', true, :class=> "align_chbx_n_lbl" %> Show&emsp;
		    					<%= radio_button_tag 'zero_status_check','Hide', false, :class=> "align_chbx_n_lbl" %> Hide
		    				<% else %>
		    					<%= radio_button_tag 'zero_status_check','Show', false, :class=> "align_chbx_n_lbl" %> Show&emsp;
		    					<%= radio_button_tag 'zero_status_check','Hide', true, :class=> "align_chbx_n_lbl" %> Hide
		    					<!-- <= check_box_tag "zero_status_check", @zero_sts_details.id, true, :class=> "    align_chbx_n_lbl" %>&ensp;Hide -->
		    				<% end %>
	    				</td>
	    			</tr>
	            </table><br />
			    <div class="create_collection_button"  style="margin-top:-4%">
			       <button type="submit" class="btn btn-success" style="margin-right:3px">Save</button>
			    	<a href="/zero_count_statuses" class="cancel_text_color cancel_css_users_page"  style="margin-right:3px">cancel</a>
			    </div>
	    	<% end %>    
		</div>
	</div>
</div>
