<div id="content" class='content_mid'>
    <div class="css_back_to_map_div" >
        <img src="/assets/back_arrow.png" class="css_back_arrow">
        <%= render :partial => 'layouts/back_to_map'%>  
    </div>
    <div class="col-xs-11 col-sm-8 col-md-4 col-sm-push-2 col-md-push-4 col_content_mid xs_cols_push" >
        <div class="names_align">Manage Zero Count Status</div>
        <br />
        <div id="zero_status_list">
            <table id="outer_table" class="table lot_collection_table table_bottom tablesorter" style="margin-top:5%">
                <thead>
                    <tr class="table_heading">
                        <th class="sort_table">Zero Count Status</th>
                        <th class="sortable_edit sort_table"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="lot_collection_button_table_td">          
                            <%= @zero_status.zero_status_check %>
                        </td>
                        <td>
                            <%=link_to 'Edit ', "/zero_count_statuses/#{@zero_status.id}/edit" %>  
                        </td>
                    </tr>
                </tbody> 
                <div id ="ajax_loader" style="display:none">
                    <%= image_tag "ajax-loader.gif", :alt => "loader", :id=> "ajax_loader_img" %>
                </div>
            </table>

        </div>
    </div>
</div>
