/* Scss Document */
/* Variables */
/* Main */
p {
  font-family: "muli", sans-serif;
  font-size: 16px;
  line-height: 29px; }

h1 {
  font-family: "Oswald", sans-serif;
  color: #CACACA;
  font-size: 72px;
  font-weight: bold;
  line-height: 72px;
  padding: 0px; }
  @media screen and (max-width: 995px) {
    h1 {
      font-size: 52px;
      line-height: 52px; } }

h2 {
  font-family: "economica", sans-serif;
  font-size: 34px;
  line-height: 39px;
  color: #4D4D4D; }

h3 {
  font-family: "economica", sans-serif;
  color: #A67C52;
  font-size: 26px;
  line-height: 31px; }

.wrapper {
  max-width: 100%;
  margin-bottom: 0px;
  /* not working */ }

.mainWrapper {
  width: 80%;
  margin: 0 auto;
  background: url("/assets/images_for_website/four-squares.png") no-repeat;
  padding-top: 2rem;
  position: relative;
  top: -30px; }

.mainWrapperPlain {
  width: 80%;
  margin: 0 auto;
  padding-top: 0;
  position: relative;
  top: -30px; }

hr {
  height: 1px;
  background-color: #7F7F7F; }

a.bodylink {
  color: #603813;
  text-decoration: underline; }

a {
  color: #603813;
  text-decoration: none; }

a:hover {
  color: #E9E9E9; }

li {
  list-style-type: none; }

.navWrapper {
  margin: 0 auto;
  max-width: 972px;
  /*min-width: 972px;  breaking layout on chrome*/
  /*  width: 50%; */ }
  @media screen and (max-width: 995px) {
    .navWrapper {
      width: 100%;
      min-width: 300px; } }

nav {
  font-family: "montserrat", sans-serif;
  /* for anything out of the P tag */
  text-align: center; }
  nav ul {
    margin: 0;
    position: relative; }
  nav li {
    margin: 0; }
  nav a {
    color: #FFF;
    text-decoration: none; }
  nav p {
    font-family: "montserrat", sans-serif;
    padding: 2.5rem 0 0 0; }
  @media screen and (max-width: 995px) {
    nav p {
      padding: 1rem 0 0 0; } }

nav ul li ul li {
  background-color: #8C6239; }

.level1 {
  display: block; }
  @media screen and (max-width: 995px) {
    .level1 {
      display: block; } }

.navtop {
  z-index: 3;
  background-color: #BA8648; }
  .navtop li {
    display: inline;
    float: left;
    height: 8.5rem;
    width: 25rem;
  box-sizing: border-box;} /* test to fix resolution issue */
    .navtop li ul li {
      height: auto; }
      .navtop li ul li p {
        padding: 0;
        margin: 0; }
    @media screen and (max-width: 995px) {
      .navtop li {
        width: 100%;
        height: 5rem; } }

.navbottom li {
  display: inline;
  float: left;
  height: 3.5rem;
  width: 18.75rem;
  box-sizing: border-box;} /* test to fix resolution issue */  
  .navbottom li p {
    padding: 0;
    margin: 0; }
  @media screen and (max-width: 995px) {
    .navbottom li {
      width: 100%; } }

.navbottom li ul, .navtop li ul {
  display: none;
  top: 0.5rem;
  z-index: 2; }

@media screen and (max-width: 995px) {
  .navtop li ul {
    top: -1.4rem; } }

.navbottom li:hover ul, .navtop li:hover ul {
  display: block; }

.navContact li {
  text-align: left;
  width: 78rem;
  height: 16rem;
  padding: 1rem 1rem; /* 1rem 2.6rem */
  background-color: #C69C6D;
  position: absolute;
  left: -200%;
  border-radius: 0 0 1rem 1rem; }
  .navContact li p {
    font-size: 14px;
    line-height: 17px; }

.navContact li:hover {
  background-color: #C69C6D; }

.logo {
  padding: 1rem 4rem;
  float: left; }

.mapPDF {
  padding-top: 2rem;
  width: 6rem; }
  @media screen and (max-width: 995px) {
    .mapPDF {
      display: none; } }

.thinWidth {
  width: 8rem !important; }

.darkBrown {
  background-color: #603813; }

.lightBrown {
  background-color: #BA8648; }

.darkGray {
  background-color: #4D4D4D; }

.lightGray {
  background-color: #666; }

.blackBg {
  background-color: #000; }

.button-nav {
  background-color: #FFF;
  color: #603813;
  border-radius: 0;
  margin-bottom: 1rem; }

.button-nav:hover {
  background-color: #4D4D4D;
  color: #FFF; }

.button-basic {
  background-color: #FFF;
  color: #603813;
  border-radius: 0;
  font-size: 1.4rem;
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  vertical-align: top; }
  @media screen and (max-width: 995px) {
    .button-basic {
      width: 100%; } }

/* Burger Menu */
.menuIcon {
  height: 2rem;
  background: url("../images/mobilemenu.png") no-repeat;
  background-size: contain;
  z-index: 1;
  top: 5rem;
  position: absolute;
  right: 2rem;
  padding: 2rem 2rem 3rem; }

/* would like sub ul to push extra menu down instead of overlap, COM hides the rest of the links below */
@media screen and (max-width: 995px) {
  .navWrapper nav li {
    display: none; }

  .navWrapper:hover .navtop li, .navWrapper:hover .navbottom li {
    display: block; } }
/* End burger menu */
.sectionBlock {
  margin: 0px 0 0 3rem;
  padding: 1rem 0rem; }
  @media screen and (max-width: 995px) {
    .sectionBlock {
      margin: 0; } }

.sectionBlock2 {
  margin: 0px;
  padding: 0px; }

.mobileShow {
  display: none; }
  @media screen and (max-width: 995px) {
    .mobileShow {
      display: block; } }

.desktopShow {
  display: block; }
  @media screen and (max-width: 995px) {
    .desktopShow {
      display: none !important; } }

.sideImg {
  background: url("http://www.vantagehomescolorado.com/newhomes/images/vantage-fingerprint2.png") no-repeat; }
  .sideImg img {
    padding: 5rem 0;
    margin: 9rem 0; }
  @media screen and (max-width: 400px) {
    .sideImg {
      display: none !important; } }

footer {
  padding: 2rem 5rem;
  background-color: #000;
  color: #FFF;
  border-top: 0.5px solid #FFF; }
  footer p {
    line-height: 14px;
    font-size: 9px; }
  footer ul {
    list-style-type: none; }
  footer li {
    display: inline-block; }

/* Print cleanup */
@media print {
  .navtop, .navbottom, .printBtn, .emailBtn, .socialLinks, .ownerLogin, .literature-container, .grayBar, .socialBtns {
    display: none; }

  h1 {
    font-size: 34px !important;
    line-height: 34px !important; }

  h2 {
    font-size: 24px !important;
    line-height: 24px !important; }

  p {
    font-size: 14px !important;
    line-height: 20px !important; }

  .logo {
    padding: 0; }

  .bx-viewport {
    height: 350px !important;
    width: 100% !important; }

  .mainWrapper {
    width: 100% !important; } }
/* Available Homes */
.availableHome {
  padding: 2rem 0 2rem 0;
  color: #FFF;
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  margin: 0 auto; }

.imgBlock {
  height: 19rem;
  width: 100%;
  position: relative;
  background-color: #000;
  background-size: cover;
  background-position: center; }
  @media screen and (max-width: 995px) {
    .imgBlock {
      height: 19.1rem; } }

.left {
  float: left;
  position: relative;
  width: 100%;
  float: left;
  margin-left: 0; }
  .left .communityBlock {
    background-color: #A67C52;
    padding: 2.3rem;
    min-height: 46px; }
  .left .floorBlock {
    background-color: #C7B299;
    padding: 1.6rem 2% 1.6rem 2%; }
  @media screen and (max-width: 995px) {
    .left {
      width: 100%; }
      .left .communityBlock, .left .floorBlock {
        min-height: auto;
        padding: 1.15rem; } }

.middle {
  position: relative;
  float: left;
  margin-left: 0; }
  .middle .sqftBlock {
    background-color: #4D4D4D;
    padding: 2.3rem;
    min-height: 46px; }
  .middle .priceBlock {
    background-color: #FBE8D2;
    color: #000;
    padding: 1.6rem; }
  @media screen and (max-width: 995px) {
    .middle {
      width: 100%; }
      .middle .sqftBlock, .middle .priceBlock {
        min-height: auto;
        padding: 1.15rem; } }

.right {
  float: left;
  position: relative;
  margin-left: 0; }
  .right .styleBlock {
    background-color: #000;
    padding: 1.15rem; }
  .right .availableBlock {
    background-color: #FFF;
    padding: 1.15rem;
    color: #666; }
  .right .detailsBlock {
    background-color: #C7B299;
    padding: 1.6rem;
    text-decoration: underline; }
  .right .detailsBlock:hover {
    background-color: #8C6239;
    cursor: pointer; }
  @media screen and (max-width: 400px) {
    .right {
      width: 100%; }
      .right .availableBlock, .right .detailsBlock, .right .styleBlock {
        padding: 1.15rem;
        text-align: left; } }

.addressBlock {
  float: left;
  position: relative;
  margin-left: 0;
  background-color: #603813;
  padding: 1rem 0rem 1rem 3.5rem;
  width: 89.2%;
  text-align: left;
  box-sizing: border-box; }
  @media screen and (max-width: 995px) {
    .addressBlock {
      display: none; } }

.addressBlockMobile {
  font-style: "Oswald", sans-serif;
  padding: 1.15rem;
  background-color: #603813;
  margin-left: 0;
  display: none; }
  @media screen and (max-width: 995px) {
    .addressBlockMobile {
      display: block; } }

/* AvailableHomes Details page */
ul.bxslider li img {
  width: 100%; }

.grayBar {
  background-color: #cacaca;
  height: 6px;
  width: 100%;
  margin: 1rem 0; }
  @media screen and (max-width: 400px) {
    .grayBar {
      height: 2px; } }

.detailRight {
  font-family: "Oswald", sans-serif; }
  @media screen and (max-width: 400px) {
    .detailRight h1, .detailRight h2 {
      font-size: 26px;
      line-height: 26px;
      margin-bottom: 0.5rem; } }

.colorBrown {
  color: #A67C52; }

.contactBlock a {
  color: #603813;
  text-decoration: underline; }
.contactBlock img {
  float: left; }
.contactBlock .detailContactName {
  float: left;
  padding: 0 1rem; }
  .contactBlock .detailContactName h2, .contactBlock .detailContactName h3 {
    margin: 0; }

.moreHomes {
  display: block;
  color: #FFF;
  background-color: #7F7F7F;
  padding: 0 1rem; }
  @media screen and (max-width: 400px) {
    .moreHomes {
      display: none; } }

.sideBtn {
  float: right;
  color: #fff;
  font-family: "montserrat", sans-serif;
  display: block; }
  .sideBtn a {
    color: #FFF; }

.printBtn {
  padding: 1rem 2rem;
  background-color: #4D4D4D; }
  .printBtn a {
    color: #FFF; }
  @media screen and (max-width: 995px) {
    .printBtn {
      display: none; } }

.printBtn:hover {
  background-color: #A67C52; }

.emailBtn {
  padding: 1rem 2rem;
  background-color: #7F7F7F; }
  @media screen and (max-width: 995px) {
    .emailBtn {
      display: none; } }

.emailBtn:hover {
  background-color: #603813; }

@media screen and (max-width: 995px) {
  .leftFloat {
    float: left; }

  .rightFloat {
    float: right; } }
.leftFloat {
  float: left; }

.rightFloat {
  float: right; }

/* Philosophy */
.philosophy p {
  margin: 0; }
.philosophy li p {
  padding-left: 2rem; }
.philosophy h3 {
  margin: 0; }
.philosophy ul li {
  margin-bottom: 3rem; }
.philosophy ul li ul li {
  margin-bottom: 0; }
.philosophy ul li ul li p {
  padding-left: 0rem; }

/* Testimonials */
.ownerName {
  font-size: 1.3rem;
  padding-left: 5rem;
  font-style: italic; }

/* Process */
.process h3 {
  margin-bottom: 0.5rem; }
.process p {
  margin-bottom: 3rem; }

/* Social */
.social a:link {
  color: #000; }
@media screen and (max-width: 995px) {
  .social {
    width: 100%; } }

.socialLinks {
  padding-bottom: 5rem; }

/* Community */
.community li {
  list-style-type: circle; }

.communityLogos {
  text-align: center; }
  .communityLogos a {
    padding: 4rem;
    opacity: 0.5; }
  .communityLogos a:hover {
    opacity: 1;
    transition: all 0.7s ease-in-out; }
  @media screen and (max-width: 995px) {
    .communityLogos a img {
      padding-bottom: 5rem; } }

/* Floor Plan Details */
/* accordion */
#accordion section, #accordion h1, #accordion p {
  /*  -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;  */ }

#accordion {
  margin-bottom: 30px; }

#accordion h1 {
  line-height: 2.5rem;
  font-size: 2.1rem;
  font-family: "montserrat", sans-serif;
  background-color: #4D4D4D;
  margin: 0;
  padding: 1rem; }

#accordion h1 a {
  color: #FFF; }

#accordion section {
  overflow: hidden;
  height: 100%;
  background-color: #FBE8D2; }

#accordion p {
  padding: 0 1rem;
  font-size: 1.9rem;
  line-height: 2.7rem; }

#accordion section.ac_hidden {
  height: 44px; }

#accordion section:not(.ac_hidden) h1 {
  background-color: #BA8648; }

/* Search */
.listSmall {
  float: left;
  margin: 0;
  text-align: center;
  color: #FFF;
  font-family: "montserrat", sans-serif; }
  .listSmall .floorBlock {
    background-color: #A67C52;
    height: 4rem;
    padding-top: 0.7rem; }
  .listSmall .priceBlock {
    background-color: #C7B299;
    height: 4rem;
    padding-top: 0.7rem; }
  .listSmall .availableBlock {
    background-color: #4D4D4D;
    height: 4rem;
    padding-top: 0.7rem; }
  .listSmall .detailsBlock {
    background-color: #FFF;
    height: 4rem;
    padding-top: 1rem; }
    .listSmall .detailsBlock a {
      text-decoration: underline; }

table td {
  background-color: #FBE8D2;
  opacity: 0.8;
  line-height: 5px;
  font-family: "Montserrat",Trebuchet MS,Arial,Helvetica,sans-serif;
  font-size: 14px;
  padding: 1rem 1rem 0 1rem !important; }

td {
  border-bottom: none !important; }

.form label, .webform2 label {
  font-size: 16px;
  font-family: "Montserrat",Trebuchet MS,Arial,Helvetica,sans-serif;
  font-weight: normal;
  line-height: normal;
  color: #603813; }

select.cat_dropdown {
  width: 100%; }

input.cat_button {
  margin-bottom: 1rem; }

/*  Floorplans */
.showRanch2, .showRanch3, .showRanch4, .showRanch5, .showRanch6, .showRanch7, .showRanch8, .showRanch9, .showRanch10, .showRanch11, .showRanch12, .showRanch13{
  display: none; }

.showTwoStory2, .showTwoStory3, .showTwoStory4, .showTwoStory5 {
  display: none; }

.showVilla2, .showVilla3, .showVilla4, .showVilla5 {
  display: none; }

div.tabbed {
  position: relative;
  font-size: 0; }

div.tabbed > a {
  display: inline-block;
  padding: .5em;
  font-size: 16px;
  border-radius: 3px 3px 0 0;
  background-color: #BA8648;
  color: #eee;
  text-decoration: none;
  line-height: 1em; }

div.tabbed > a + a {
  margin-left: .5em; }

div.tabbed > a:target {
  color: #333;
  background-color: #eee; }

div.tabbed > a > div {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: .5em;
  border-radius: 0 3px 3px 3px;
  display: none;
  color: #333;
  background-color: #eee; }

div.tabbed > a:hover > div {
  display: block; }

/* Floor Plan page */
.planHeader {
  background-color: #4D4D4D;
  padding: 1rem 2rem;
  margin: 2rem 0; }
  .planHeader h2 {
    margin-bottom: 0;
    color: #fff; }

.floorList {
  font-family: "montserrat", sans-serif;
  margin-bottom: 2rem;
  text-align: center; }
  .floorList li {
    list-style-type: none;
    color: #FFF;
    background-color: #BA8648;
    border: 1px solid #BA8648;
    padding: 0.3rem 0; }
  .floorList li:hover {
    background-color: #FFF;
    border: 1px solid #999; }
    .floorList li:hover .field2 {
      display: block !important;
      z-index: 10; }
  .floorList a:hover li {
    color: #4D4D4D !important; }

.floorPreview {
  width: 100%;
  margin-bottom: 2rem; }

.rendering img {
  width: 100%;
  padding-left: 1rem; }

.view3dBtn {
  background-color: #000;
  font-family: "montserrat", sans-serif;
  padding: 1rem 2rem;
  text-align: center;
  margin-top: 1rem;
  color: #FFF;
  /*  width: 505px; */ }
  @media screen and (max-width: 995px) {
    .view3dBtn {
      padding: 1rem 0; } }

.interactiveBtn {
  background-color: #603813;
  font-family: "montserrat", sans-serif;
  padding: 1rem 2rem;
  text-align: center;
  margin-top: 1rem;
  color: #FFF;
  /*  width: 505px; */ }
  @media screen and (max-width: 995px) {
    .interactiveBtn {
      padding: 1rem 0; } }

.floorName {
  font-family: "economica",sans-serif;
  font-size: 36px;
  line-height: 39px;
  color: #4D4D4D; }
  @media screen and (max-width: 995px) {
    .floorName {
      padding-bottom: 1rem; } }

/* Search Results */
.searchResults {
  height: 19rem;
  background-color: #E2B4B5; }
  .searchResults .communityBlock {
    height: 18rem;
    padding: 1rem 0 0 0; }

/* Slider */
#preview img {
  width: 100%; }

/*# sourceMappingURL=child_styles.css.map */