#contenholder body,div,dl,dt,dd,ol,li,nav,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,a
{
	margin: 0;
	padding: 0;
	border-width: 0;
	-webkit-transform-origin: left top;
	-ms-transform-origin: left top;
	-o-transform-origin: left top;
	transform-origin: left top;
}


#contentholder h1,h2,h3,h4,h5,h6,
{
	font-size: 100%;
	font-weight: inherit;
}

#contentholder h1
{
	font-family: economica, sans-serif;
	font-size: 36px;
	font-weight: 400;
	line-height: 39px;
	padding: 0px;
}

#contentholder h2
{
	color: #4D4D4D;
	font-family: economica, sans-serif;
	font-size: 30px;
	font-weight: 400;
	letter-spacing: 0px;
	padding: 0px;
    line-height: 36px;
    padding-top:10px;
   
}

#contentholder h3
{
	color: #A67C52;
	font-family: economica, sans-serif;
	font-size: 26px;
	font-weight: 400;
	letter-spacing: 0px;
	line-height: 42px;
	padding: 0px;
}


#contentholder ul {

 
 padding-left: 34px;
    margin: 0;}


#contentholder li {
   list-style-type: circle;
   font-family: muli, sans-serif;
	font-weight: 400;
	text-align: left;
	font-size: 14px;
	line-height: 25px;
	word-wrap: break-word;
	text-rendering: optimizeLegibility;/* kerning, primarily */
}




#contentholder body
{
	font-family: muli, sans-serif;
	font-weight: 400;
	text-align: left;
	font-size: 14px;
	line-height: 17px;
	word-wrap: break-word;
	text-rendering: optimizeLegibility;/* kerning, primarily */
}

#contentholder p{
	font-family: muli, sans-serif;
	font-weight: 400;
	text-align: left;
	font-size: 16px;
	line-height: 26px;
	word-wrap: break-word;
	text-rendering: optimizeLegibility;/* kerning, primarily */
    padding-bottom: 20px;
}

@media screen and (-webkit-min-device-pixel-ratio:0)
{
	.contentholder body { text-rendering:auto; }
}

#contentholder a:link
{
	color: #603813;
	text-decoration: underline;
}

#contentholder a:visited
{
	color: #603813;
	text-decoration: underline;
}

#contentholder a:hover
{
	color: #4D4D4D;
	text-decoration: underline;
}

#contentholder a:active
{
	color: #000000;
	font-weight: bold;
	text-decoration: underline;
}

#contentholder a.nontext /* used to override default properties of 'a' tag */
{
	color: black;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
}


