@charset "utf-8";
/* CSS Document */

#planlist {
border-style: none;
border-color: transparent;
background-color: transparent;
}

#planlist p{
line-height: 19px;
font-size: 19px;
color: #603813;
font-family: montserrat, sans-serif;
font-weight: 400;
position: relative;

margin-top: 13px;
    left: 32px;}

#planlist a:hover { 
   
    color: black;

}