<style type="text/css">
    .checkbox_td
    {
        padding-left: 50px !important;
    }
    .lc_td_width{
        width:35%;
        word-break: keep-all !important;
         white-space: inherit !important;
    }
</style>

<br />
<div  class="table-responsive">
    <table id="outer_table" class="table table_bottom tablesorter clk_fld_lst">
        <thead>
        <tr class="table_heading">
            <td class="sort_table" >Default Field Name</td>
            <td class="sort_table">Preferred Name</td>    
            <td class="sortable_edit sort_table" style="padding-left:30px !important;">Select </td>    
            <td class="sortable_edit sort_table">Show on Hover </td>    
            
        </tr>
        </thead>
       <%= form_tag "/manage_click_fields/#{@lot_click_fields.first.id}",:id=>"update_link_form", :method => :put do %>
        <%unless @lot_click_fields.blank?%>
            <%@lot_click_fields.each do |click_field|%>
            <tr>
                <td class="lc_td_width">Lot Number</td>
                <td class="lc_td_width">
                    <% if click_field.Lot_Number == "Lot Number" %>
                    <%else%>
                        <%= click_field.Lot_Number %>
                    <%end%>
                </td>        
                <td class="checkbox_td" valign="top">
                    <input type="checkbox" name="lot_nb_hver_status" id="lot_nb_hver_status" checked="true" disabled>
                </td>
                 <td class="checkbox_td" valign="top">
                       <input type="checkbox" name="lot_nb_clk_status" id="lot_nb_clk_status"  onclick="disable_input(this.id)" checked="true" disabled>
                </td>        
            </tr> 
            <tr>
                <td class="lc_td_width">Section Number / Block Number</td>
                <td class="lc_td_width">
                    <% if click_field.sec_r_block == "Section Number / Block Number" %>
                    <%else%>
                        <%= click_field.sec_r_block %>
                    <%end%>
                </td>        
                 <td class="checkbox_td" valign="top">
                    <% if click_field.sec_r_block_Clk_Status == "off"%>    
                        <input type="checkbox" name="sec_r_block_clk_status" id="sec_r_block_clk_status" onclick="disable_input(this.id)" >
                    <% else %>
                       <input type="checkbox" name="sec_r_block_clk_status" id="sec_r_block_clk_status" onclick="disable_input(this.id)" checked="true">
                    <% end %>
                </td>
                <td class="checkbox_td" valign="top">
                    <% if click_field.sec_r_block_Clk_Status == "off"%>    
                        <input type="checkbox" name="sec_r_block_hver_status" id="sec_r_block_hver_status" disabled>      
                    <%else%>
                        <% if click_field.sec_r_block_Hvr_Status == "off"%>    
                            <input type="checkbox" name="sec_r_block_hver_status" id="sec_r_block_hver_status"  >
                        <% else %>
                           <input type="checkbox" name="sec_r_block_hver_status" id="sec_r_block_hver_status" checked="true">
                        <% end %>
                    <% end %>
                </td>     
            </tr>
            <tr>
                <td class="lc_td_width">Lot Status</td>
                <td class="lc_td_width">
                    <% if click_field.Lot_Status == "Lot Status" %>            
                    <%else%>            
                        <%= click_field.Lot_Status %>
                    <%end%>
                </td>        
                 <td class="checkbox_td" valign="top">
                    <% if click_field.Click_Status == "off"%>    
                        <input type="checkbox" name="clk_status" id="clk_status"  onclick="disable_input(this.id)" >
                    <% else %>
                       <input type="checkbox" name="clk_status" id="clk_status"  onclick="disable_input(this.id)" checked="true">
                    <% end %>
                </td>   
                <td class="checkbox_td" valign="top">
                    <% if click_field.Click_Status == "off"%>    
                        <input type="checkbox" name="hver_status" id="hver_status" disabled>      
                    <%else%>
                        <% if click_field.Hover_Status == "off"%>    
                            <input type="checkbox" name="hver_status" id="hver_status"  >
                        <% else %>
                           <input type="checkbox" name="hver_status" id="hver_status" checked="true">
                        <% end %>
                    <% end %>
                </td>  
            </tr>
            <tr>
                <td class="lc_td_width">Address</td>
                <td class="lc_td_width">
                    <% if click_field.Address == "Address" %>            
                    <%else%>            
                        <%= click_field.Address %>
                    <%end%>
                </td>        
                 <td class="checkbox_td" valign="top">
                    <% if click_field.Address_Clk_Status == "off"%>    
                        <input type="checkbox" name="addr_clk_status" id="addr_clk_status"  onclick="disable_input(this.id)" >
                    <% else %>
                       <input type="checkbox" name="addr_clk_status" id="addr_clk_status"  onclick="disable_input(this.id)" checked="true">
                    <% end %>
                </td>   
                <td class="checkbox_td" valign="top">
                    <% if click_field.Address_Clk_Status == "off"%>    
                        <input type="checkbox" name="addr_hver_status" id="addr_hver_status" disabled>      
                    <%else%>
                        <% if click_field.Address_Hvr_Status == "off"%>    
                            <input type="checkbox" name="addr_hver_status" id="addr_hver_status"  >
                        <% else %>
                           <input type="checkbox" name="addr_hver_status" id="addr_hver_status" checked="true">
                        <% end %>
                    <% end %>
                </td>  
            </tr>  
            <tr>
                <td class="lc_td_width">Lot Premium</td>
                <td class="lc_td_width">
                    <% if click_field.Lot_Premium == "Lot Premium" %>
                    <%else%>
                        <%= click_field.Lot_Premium %>
                    <%end%>
                </td>        
                 <td class="checkbox_td" valign="top">
                    <% if click_field.Lot_Premium_Clk_Status == "off"%>    
                        <input type="checkbox" name="lot_premium_clk_status" id="lot_premium_clk_status" onclick="disable_input(this.id)" >
                    <% else %>
                       <input type="checkbox" name="lot_premium_clk_status" id="lot_premium_clk_status" onclick="disable_input(this.id)" checked="true">
                    <% end %>
                </td>
                <td class="checkbox_td" valign="top">
                    <% if click_field.Lot_Premium_Clk_Status == "off"%>    
                        <input type="checkbox" name="lot_premium_hver_status" id="lot_premium_hver_status" disabled>      
                    <%else%>
                        <% if click_field.Lot_Premium_Hvr_Status == "off"%>    
                            <input type="checkbox" name="lot_premium_hver_status" id="lot_premium_hver_status"  >
                        <% else %>
                           <input type="checkbox" name="lot_premium_hver_status" id="lot_premium_hver_status" checked="true">
                        <% end %>
                    <% end %>
                </td>     
            </tr> 

            <tr>
                <td class="lc_td_width">Lot Size</td>
                <td class="lc_td_width">
                    <% if click_field.Lot_Size == "Lot Size" %>
                    <%else%>
                        <%= click_field.Lot_Size %>
                    <%end%>
                </td>    
                 <td class="checkbox_td" valign="top">
                    <% if click_field.Size_Clk_Status == "off"%>    
                        <input type="checkbox" name="size_clk_status" id="size_clk_status" onclick="disable_input(this.id)"  >
                    <% else %>
                       <input type="checkbox" name="size_clk_status" id="size_clk_status" onclick="disable_input(this.id)" checked="true">
                    <% end %>
                </td>     
                <td class="checkbox_td" valign="top">
                    <% if click_field.Size_Clk_Status == "off"%>    
                        <input type="checkbox" name="size_hver_status" id="size_hver_status" disabled>      
                    <%else%>
                        <% if click_field.Size_Hvr_Status == "off"%>    
                            <input type="checkbox" name="size_hver_status" id="size_hver_status"  >
                        <% else %>
                           <input type="checkbox" name="size_hver_status" id="size_hver_status" checked="true">
                        <% end %>
                    <% end %>
                </td>
            </tr> 

            <tr>
                <td class="lc_td_width">Sale Price</td>
                <td class="lc_td_width">
                    <% if click_field.Sale_Price == "Sale Price" %>
                    <%else%>
                        <%= click_field.Sale_Price %>
                    <%end%>
                </td>        
                 <td class="checkbox_td" valign="top">
                    <% if click_field.Price_Clk_Status == "off"%>    
                        <input type="checkbox" name="price_clk_status" id="price_clk_status" onclick="disable_input(this.id)" >
                    <% else %>
                       <input type="checkbox" name="price_clk_status" id="price_clk_status" onclick="disable_input(this.id)" checked="true">
                    <% end %>
                </td>
                <td class="checkbox_td" valign="top">
                    <% if click_field.Price_Clk_Status == "off"%>    
                        <input type="checkbox" name="price_hver_status" id="price_hver_status" disabled>      
                    <%else%>
                        <% if click_field.Price_Hvr_Status == "off"%>    
                            <input type="checkbox" name="price_hver_status" id="price_hver_status"  >
                        <% else %>
                           <input type="checkbox" name="price_hver_status" id="price_hver_status" checked="true">
                        <% end %>
                    <% end %>
                </td>     
            </tr> 
            <tr>
                <td class="lc_td_width">Description</td>
                <td class="lc_td_width">
                    <% if click_field.Description == "Description" %>
                    <%else%>
                        <%= click_field.Description %>
                    <%end%>
                </td>      
                 <td class="checkbox_td" valign="top">
                    <% if click_field.Desc_Clk_Status == "off"%>    
                        <input type="checkbox" name="desc_clk_status" id="desc_clk_status" onclick="disable_input(this.id)" >
                    <% else %>
                       <input type="checkbox" name="desc_clk_status" id="desc_clk_status" onclick="disable_input(this.id)" checked="true">
                    <% end %>
                </td>   
                  <td class="checkbox_td" valign="top">
                    <% if click_field.Desc_Clk_Status == "off"%>    
                        <input type="checkbox" name="desc_hver_status" id="desc_hver_status" disabled>      
                    <%else%>
                        <% if click_field.Desc_Hvr_Status == "off"%>    
                            <input type="checkbox" name="desc_hver_status" id="desc_hver_status"  >
                        <% else %>
                           <input type="checkbox" name="desc_hver_status" id="desc_hver_status" checked="true">
                        <% end %>
                    <% end %>
                </td>  
            </tr>
            <tr>
                <td class="lc_td_width">Available Plans</td>
                <td class="lc_td_width">
                    <% if click_field.Available_Plans == "Available Plans" %>
                    <%else%>
                        <%= click_field.Available_Plans %>
                    <%end%>
                </td>    
                <td class="checkbox_td" valign="top">
                    <% if click_field.Avble_Clk_Status == "off"%>    
                        <input type="checkbox" name="avbl_clk_status" id="avbl_clk_status" onclick="disable_input(this.id)" >
                    <% else %>
                       <input type="checkbox" name="avbl_clk_status" id="avbl_clk_status" onclick="disable_input(this.id)" checked="true">
                    <% end %>
                </td>
                <td class="checkbox_td" valign="top">
                    <% if click_field.Avble_Clk_Status == "off"%>    
                        <input type="checkbox" name="avbl_hver_status" id="avbl_hver_status" disabled>      
                    <%else%>
                        <% if click_field.Avble_Hvr_Status == "off"%>    
                            <input type="checkbox" name="avbl_hver_status" id="avbl_hver_status"  >
                        <% else %>
                           <input type="checkbox" name="avbl_hver_status" id="avbl_hver_status" checked="true">
                        <% end %>
                    <% end %>
                </td> 
            </tr> 
            <tr>
                <td class="lc_td_width">Elevation</td>
                <td class="lc_td_width">
                    <% if click_field.Elevation == "Elevation" %>
                    <%else%>
                        <%= click_field.Elevation %>
                    <%end%>
                </td>        
                 <td class="checkbox_td" valign="top">
                    <% if click_field.Elevation_Clk_Status == "off"%>    
                        <input type="checkbox" name="elevation_clk_status" id="elevation_clk_status" onclick="disable_input(this.id)" >
                    <% else %>
                       <input type="checkbox" name="elevation_clk_status" id="elevation_clk_status" onclick="disable_input(this.id)" checked="true">
                    <% end %>
                </td>
                <td class="checkbox_td" valign="top">
                    <% if click_field.Elevation_Clk_Status == "off"%>    
                            <input type="checkbox" name="elevation_hver_status" id="elevation_hver_status" disabled>      
                    <%else%>
                        <% if click_field.Elevation_Hvr_Status == "off"%>    
                            <input type="checkbox" name="elevation_hver_status" id="elevation_hver_status"  >
                        <% else %>
                           <input type="checkbox" name="elevation_hver_status" id="elevation_hver_status" checked="true">
                        <% end %>
                    <% end %>
                </td>     
            </tr>
            <tr>
                <td class="lc_td_width"  style="">Estimated Completion Date</td>
                <td class="lc_td_width"><% if click_field.Estimated_Completion_Date == "Estimated Completion Date" %>
                <%else%>
                <%= click_field.Estimated_Completion_Date %>
                <%end%>
                </td>   
                <td class="checkbox_td" valign="top">
                    <% if click_field.Date_Clk_Status == "off"%>    
                        <input type="checkbox" name="date_clk_status" id="date_clk_status" onclick="disable_input(this.id)" >
                    <% else %>
                       <input type="checkbox" name="date_clk_status" id="date_clk_status" onclick="disable_input(this.id)" checked="true">
                    <% end %>
                </td>  
                <td class="checkbox_td" valign="top">
                <% if click_field.Date_Clk_Status == "off"%>    
                        <input type="checkbox" name="date_hver_status" id="date_hver_status" disabled>      
                <%else%>
                    <% if click_field.Date_Hvr_Status == "off"%>    
                        <input type="checkbox" name="date_hver_status" id="date_hver_status"  >
                    <% else %>
                       <input type="checkbox" name="date_hver_status" id="date_hver_status" checked="true">
                    <% end %>
                    <% end %>
                </td>   
            </tr> 
             
            <tr>
                <td class="lc_td_width">Lot Type</td>
                <td class="lc_td_width">
                    <% if click_field.Lot_Type == "Lot Type" %>
                    <%else%>
                        <%= click_field.Lot_Type %>
                    <%end%>
                </td>
                 <td class="checkbox_td" valign="top">
                    <% if click_field.Lt_Type_Clk_Status == "off"%>    
                        <input type="checkbox" name="lt_type_clk_status" id="lt_type_clk_status" onclick="disable_input(this.id)" >
                    <% else %>
                       <input type="checkbox" name="lt_type_clk_status" id="lt_type_clk_status" onclick="disable_input(this.id)" checked="true">
                    <% end %>
                </td> 
                <td class="checkbox_td" valign="top">
                    <% if click_field.Lt_Type_Clk_Status == "off"%>    
                        <input type="checkbox" name="lt_type_hver_status" id="lt_type_hver_status" disabled>      
                    <%else%>
                        <% if click_field.Lt_Type_Hvr_Status == "off"%>    
                            <input type="checkbox" name="lt_type_hver_status" id="lt_type_hver_status"  >
                        <% else %>
                           <input type="checkbox" name="lt_type_hver_status" id="lt_type_hver_status" checked="true">
                        <% end %>
                    <% end %>
                </td>    
            </tr> 
            <% end %>
        <%end%>

        <div id ="ajax_loader" style="display:none">
            <%= image_tag "ajax-loader.gif", :alt => "loader", :id=> "ajax_loader_img" %>
        </div>
    </table>
</div>
 <div class="create_collection_button clk_fld_btn_div"  style="margin-top: 0%;
  margin-bottom: 1%;">
   <button type="submit" class="btn btn-success" style="margin-right:3px" id="active_status_id">Save</button>
    <a href="/manage_click_fields" class="cancel_text_color cancel_css_users_page"  style="margin-right:3px">cancel</a>
</div>
<%end%>

<%= javascript_include_tag  "jquery.tablesorter.min.js" %>
<%= javascript_include_tag  "jquery.tablesorter.widgets.js" %>
<%= stylesheet_link_tag    "theme.default" %>

<script type="text/javascript">
$(function(){
        $('table').tablesorter({            
            usNumberFormat : false,
            emptyTo        : 'none',
            sortRestart    : true
        });
    });

function disable_input(id){    
    input_id= id.replace("clk","hver")    
    if($("#"+id).is(":checked") == false)
    {        
        $("#"+input_id).attr("disabled",true)
        $("#"+input_id).attr("checked",false)
    }
    else
    {
        $("#"+input_id).attr("disabled",false)        
    }
}
</script>