
<div id="content" class='content_mid' > 
<div class="css_back_to_map_div">
    <img src="/assets/back_arrow.png" class="css_back_arrow">
    <%= render :partial => 'layouts/back_to_map'%>  
</div>
<div class="flash_notice"><font size="3" color="red" align="center"><%= flash[:notice] %></font></div>
<div class="col-xs-11 col-sm-8 col-md-6 col-lg-4 col-sm-push-2 col-md-push-3 col-lg-push-4 col_content_mid xs_cols_push">
<div class="names_align">Edit Preferred Names</div>
<br />
<hr>
        <%= form_tag "/manage_click_fields/update_display_names",:id=>"create_link_form", :method => :post do %>
         <div>   
           <table>
           <% LotFieldDisplayName.all.each do |each_lot_field| %>
					<tr>
						<td valign="top">&emsp;Lot Number </td>
						<% if each_lot_field.Lot_Number == "Lot Number"%>
						<td>&emsp;<input type="text" name="lot_number" id="lot_number" class="input_filed_border" value="" maxlength="30"/></td>
						<%else%>
						<td>&emsp;<input type="text" name="lot_number" id="lot_number" class="input_filed_border" value="<%= each_lot_field.Lot_Number %>" maxlength="30"/></td>
						<%end%>
					</tr>
					<tr>
						<td valign="top">&emsp;Lot Status </td>
						<% if each_lot_field.Lot_Status == "Lot Status" %>
						<td>&emsp;<input type="text" name="lot_status" id="lot_status" class="input_filed_border" value="" maxlength="30"/></td>
						<%else%>
						<td>&emsp;<input type="text" name="lot_status" id="lot_status" class="input_filed_border" value="<%= each_lot_field.Lot_Status %>" maxlength="30"/></td>
						<%end%>
					</tr>
					<tr>
						<td valign="top">&emsp;Address </td>
						<% if each_lot_field.Address == "Address" %>
						<td>&emsp;<input type="text" name="address" id="address" class="input_filed_border" value="" maxlength="30"/></td>
						<%else%>
						<td>&emsp;<input type="text" name="address" id="address" class="input_filed_border" value="<%= each_lot_field.Address %>" maxlength="30"/></td>
						<%end%>
					</tr>

					<tr>
						<td valign="top">&emsp;Sale Price </td>
						<% if each_lot_field.Sale_Price == "Sale Price"%>
						<td>&emsp;<input type="text" name="sale_price" id="sale_price" class="input_filed_border" value="" maxlength="30"/></td>
						<%else%>
						<td>&emsp;<input type="text" name="sale_price" id="sale_price" class="input_filed_border" value="<%= each_lot_field.Sale_Price %>" maxlength="30"/></td>
						<%end%>
					</tr>
		    		<tr>
						<td valign="top">&emsp;Estimated Completion Date </td>
						<% if each_lot_field.Estimated_Completion_Date == "Estimated Completion Date"%>
						<td>&emsp;<input type="text" name="est_com_date" id="est_com_date" class="input_filed_border" value="" maxlength="30"/>
						</td>
						<%else%>
						<td>&emsp;<input type="text" name="est_com_date" id="est_com_date" class="input_filed_border" value="<%= each_lot_field.Estimated_Completion_Date %>" maxlength="30"/>
						</td>
						<%end%>
		    		</tr>
		    		<tr>
						<td valign="top">&emsp;Lot Size </td>
						<% if each_lot_field.Lot_Size == "Lot Size"%>
						<td>&emsp;<input type="text" name="lot_size" id="lot_size" class="input_filed_border" value="" maxlength="30"/>
						</td>
						<%else%>
						<td>&emsp;<input type="text" name="lot_size" id="lot_size" class="input_filed_border" value="<%= each_lot_field.Lot_Size %>" maxlength="30"/>
						</td>
						<%end%>
		    		</tr>
		    		<tr>
						<td valign="top">&emsp;Description </td>
						<% if each_lot_field.Description == "Description"%>
						<td>&emsp;<input type="text" name="description" id="description" class="input_filed_border"value="" maxlength="30"/>
						</td>
						<%else%>
						<td>&emsp;<input type="text" name="description" id="description" class="input_filed_border"value="<%= each_lot_field.Description %>" maxlength="30"/>
						</td>
						<%end%>
		    		</tr>
		    		<tr>
		    			<td valign="top">&emsp;Lot Type</td>
		    			<% if each_lot_field.Lot_Type == "Lot Type"%>						
						<td>&emsp;<input type="text" name="lot_type" id="lot_type" class="input_filed_border" value="" maxlength="30"/>
						</td>
						<%else%>
						<td>&emsp;<input type="text" name="lot_type" id="lot_type" class="input_filed_border" value="<%= each_lot_field.Lot_Type %>" maxlength="30"/>
						</td>
						<%end%>
		    		</tr>
		    		<tr>
						<td valign="top">&emsp;Available Plans </td>
						<% if each_lot_field.Available_Plans == "Available Plans"%>		
						<td>&emsp;<input type="text" name="available_plans" id="available_plans" class="input_filed_border" value="" maxlength="30"/>
						</td>
						<%else%>
						<td>&emsp;<input type="text" name="available_plans" id="available_plans" class="input_filed_border" value="<%= each_lot_field.Available_Plans %>" maxlength="30"/>
						</td>
						<%end%>
		    		</tr>		    		
    		<% end %>
          </table>
        </div>
        	<div class="create_collection_button">
	                <button type="submit" class="btn btn-success">Save</button>
	                <a href="/manage_click_fields" class="cancel_text_color cancel_css_users_page">cancel</a>
        	</div>
        <% end %>
</div>
</div>
<style>
	tr:not(:first-child)> td {
    padding-top: 7px;
	}
	.input_filed_border{
		width:200px;
	}
</style>
