<!-- <div id="update_notification" class="alert alert-success" style="visibility:hidden;"></div> -->
<center>
<div id="content" class='content_mid'>
	<div class="css_back_to_map_div" >
    <img src="/assets/back_arrow.png" class="css_back_arrow">
    <%= render :partial => 'layouts/back_to_map'%>  
</div>

<div class="col-xs-11 col-sm-10 col-md-8 col-sm-push-1 col-md-push-2 col_content_mid xs_cols_push" >

<div class="names_align">Manage Lot Fields</div>
<div class="buttons_list lt_fileds_btn" style="margin-bottom:0.8%">
<%=link_to 'Edit Preferred Names', "/manage_click_fields/display_names_for_lot" ,class:"btn btn-success", :id=>"display_name"%>
</div>
<br />
<div id="status_key_list">
    <%= render :partial => "click_fields_list"%>
</div>
</div></div>
</center>
