<table class="floor_plan">
    <tr>
        <td width="20%"><h6><b>Communities</b></h6></td>
        <td>
        <% if @community_from_edit.blank? %>
          <%= select_tag "community_dropdown", options_for_select(@communities), :onchange => "community_change(this.value)", :class => "form-control drop_down_select",:autocomplete=>"off",:style => "margin-left:0%"%>
        <% else %>
          <%= select_tag "community_dropdown", options_for_select(@communities,@community_from_edit), :onchange => "community_change(this.value)", :class => "form-control drop_down_select",:autocomplete=>"off",:style => "margin-left:0%"%>
        <% end %>
        </td>
    </tr>
</table>
<div id="menus"></div>
<script>
 product_type = "<%= @type %>";
 community = $("#community_dropdown").val();

 
legend_type_from_edit = "<%= @legend_type_from_edit %>"
community_change(community)
function community_change(community){ 
 if (community != "<%= @community_from_edit %>")
 {
  legend_type_from_edit = "";
 
 }
  $.ajax({
        type: "GET",
        url: '/status_color/get_filter_values',
        data: {product_type: product_type, community : community, legend_type_from_edit : legend_type_from_edit },
        success: function(data){
           $("#menus").html(data); 
        }
  });        
};
</script>