<table class="floor_plan">
    <tr>
        <td width="20%"><h6><b>Filters</b></h6></td>
        <td>
      <% if @legend_type_from_edit .blank? %>
        <%= select_tag "filter_dropdown", options_for_select(@filter_values), :onchange=>"filter_change(this.value)", :class => "form-control drop_down_select", :autocomplete=>"off",:style => "margin-left:0%"%>
      <% else %>
        <%= select_tag "filter_dropdown", options_for_select(@filter_values,@legend_type_from_edit ), :onchange=>"filter_change(this.value)", :class => "form-control drop_down_select", :autocomplete=>"off",:style => "margin-left:0%"%>
      <% end %>
        </td>
    </tr>
</table>
<div id="lot_status"></div>
<script>
 value = $("#filter_dropdown").val();
 menu = "<%= @menu%>"
 type = "<%= @type %>";
 community = "<%= @community %>"
filter_change(value)
function filter_change(value){  
  $.ajax({
        type: "GET",
        url: '/status_color/get_lot_status',
        data: {product_type:type, menu_name:menu, legend_type: value, community : community, },
        success: function(data){
           $("#lot_status").html(data); 
        }
  });        
};
</script>