<table class="floor_plan">
    <tr>
        <td width="20%"><h6><b>Views Category</b></h6></td>
        <td>
        <% if @menu_from_edit.blank? %>
          <%= select_tag "menu_dropdown", options_for_select(@menus), :onchange => "menu_change(this.value)", :class => "form-control drop_down_select",:autocomplete=>"off",:style => "margin-left:0%"%>
        <% else %>
          <%= select_tag "menu_dropdown", options_for_select(@menus,@menu_from_edit), :onchange => "menu_change(this.value)", :class => "form-control drop_down_select",:autocomplete=>"off",:style => "margin-left:0%"%>
        <% end %>
        </td>
    </tr>
</table>
<div id="sub_menus"></div>
<script>
 value = $("#menu_dropdown").val();
 type = "<%= @type%>";
 menu_option_from_edit = "<%= @menu_option_from_edit %>"
 community = "<%= @community %>"
menu_change(value)
function menu_change(value){ 
  $.ajax({
        type: "GET",
        url: '/status_color/get_sub_menu',
        data: {product_type: type ,menu_name: value, menu_option_from_edit: menu_option_from_edit, community : community},
        success: function(data){
           $("#sub_menus").html(data); 
        }
  });        
};
</script>