<table id="outer_table" class="table lot_collection_table table_bottom tablesorter">
<thead>
<tr class="table_heading">
    <th class="sort_table" width="38%">Status</th>
    <!-- <th class="sort_table">Status</th> -->
    <th class="sort_table">Color Code</th>
    <th class="sortable_edit sort_table">Color</th>
    <th class="sortable_edit sort_table"></th>
</tr>
</thead>
<%unless @status_color.blank?%>
<%@status_color.each do |status_color|%>
         <!-- if status_color.Is_Active !=0 %> -->
            <tr>
                <td class="lot_collection_button_table_td">          
                     <%= status_color.StatusKey %>
                </td>
                <td class="lot_collection_button_table_td">          
                     <%= status_color.ColorCode %>
                </td>
                <td class="lot_collection_button_table_td">          
                    <div style="" onclick="sample('<%= status_color.id %>')">
                     <!-- <input type="color" name="status_color" id="status_color" value="<=status_color.ColorCode %>" disabled = "disabled" style="background:#ffffff;cursor:pointer;"/> -->
                       <div style="background-color: <%= status_color.ColorCode %>;width: 37px;height: 13px;margin-left: 3px;"></div>
                    </div>                     
                </td>
                <!-- <td>Active</td> -->
                <td style="text-align:center">
                    <b><%=link_to 'Edit ', "/status_color/#{status_color.id}/edit?product_type="+@type+"&&filter="+@legend_type%></b>                
               </td>
            </tr>  
   
<% end %>
<%else%>
    <tr>
    <td colspan="3">
        <center>No Status Color added</center>
    </td>
    </tr>
<%end%>
<div id ="ajax_loader" class="loader" style="display:none;margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%;">
    <p style="position: absolute; top: 50%; left: 45%;">
    <%= image_tag "ajax-loader.gif", :alt => "loader", :id=> "ajax_loader_img" %>
    </p>
</div>
</table>

<%= javascript_include_tag  "jquery.tablesorter.min.js" %>
<%= javascript_include_tag  "jquery.tablesorter.widgets.js" %>
<%= stylesheet_link_tag    "theme.default" %>
<script>
    $(function(){
        $('table').tablesorter({
            widgets        : ['zebra', 'columns'],
            usNumberFormat : false,
            sortReset      : true,
            sortRestart    : true
        });
    });
</script>
<script>
$(".delete_status_color").click(function(){ 
            var result = confirm("Are you sure ?");
            $("#ajax_loader").css("display", "block");
            $("body").addClass("inactiveLink")
            if (result==true) {
                $.ajax({
                    type: "GET",
                    url: '/status_color/lot_color_status',
                    data:{id : this.getAttribute("data-status_color_id"), status : this.getAttribute("data-status")},
                    success: function(data) { 
                        $("#status_color_list").html(data);
                        $("#ajax_loader").css("display", "none");
                        $("body").removeClass("inactiveLink")
                      }
                });
            }
            else
            {
                $("#ajax_loader").css("display", "none");
                $("body").removeClass("inactiveLink")
            }
});
</script>
<div class="modal fade" id="delete_msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <label style="float:left">Sale Type Information</label>
        </div>
        <div class="modal-body">        
            <table class="table table_bottom" >
                <tr>
                    <td>
                        This sale type has assigned to <label id="delete_count"></label> lots.Delete the sale type or reassign to another sale type
                    </td>
                </tr>
            </table>            
        </div>
        <div class="modal-footer" style="margin-top:0px !important">          
          <a href="#" class="cancel_text_color cancel_css_users_page" data-dismiss="modal">cancel</a>                  
        </div>
      </div>      
    </div>
  </div>

<script type="text/javascript">
function sample(status_color_id)
{    
    window.location.href="/status_color/"+status_color_id+"/edit?product_type="+'<%=@type%>'+"&&filter="+'<%=@legend_type%>'
}
</script>