<table class="floor_plan">
    <tr>
        <td width="20%"><h6><b>View</b></h6></td>
        <td>
      <% if @menu_option_from_edit.blank? %>
        <%= select_tag "menu_option_dropdown", options_for_select(@sub_menus), :onchange=>"menu_option_change(this.value)", :class => "form-control drop_down_select", :autocomplete=>"off",:style => "margin-left:0%"%>
      <% else %>
        <%= select_tag "menu_option_dropdown", options_for_select(@sub_menus,@menu_option_from_edit), :onchange=>"menu_option_change(this.value)", :class => "form-control drop_down_select", :autocomplete=>"off",:style => "margin-left:0%"%>
      <% end %>
        </td>
    </tr>
</table>
<div id="lot_status"></div>
<script>
 value = $("#menu_option_dropdown").val();
 menu = "<%= @menu%>"
 type = "<%= @type %>";
 community = "<%= @community %>"
menu_option_change(value)
function menu_option_change(value){  
  $.ajax({
        type: "GET",
        url: '/status_color/get_lot_status',
        data: {product_type:type, menu_name:menu, menu_option_name: value, community : community},
        success: function(data){
           $("#lot_status").html(data); 
        }
  });        
};
</script>