<div id="content" class='content_mid'>
 <div class="css_back_to_map_div" >
    <img src="/assets/back_arrow.png" class="css_back_arrow">
    <%= render :partial => 'layouts/back_to_map'%>  
</div>
 <div class="col-xs-8 col-sm-4 col-md-4 col-sm-push-4 col-md-push-4 col_content_mid xs_egt_push">
<div class="names_align names_align_text">&ensp;Manage Filter</div>
<hr class="hr_mg">
<div>
    <%= form_tag "/status_color/#{@status_color_details.id}",:id=>"update_status_color_form", :method => :put do %>
    <%= hidden_field_tag "product_type",@type %>
    <%= hidden_field_tag "menu",@menu_name %>
    <%= hidden_field_tag "menu_option",@menu_option_name %>
    <%= hidden_field_tag "community",@community %>
    <%= hidden_field_tag "legend_type",@legend_type %>
    <%= hidden_field_tag "status_key",@status_color_details.StatusKey %>
           <table class="edit_sts_clr">
           <tr>
    		    <td valign="top" class="edit_stst_clr_frst_td">&emsp;Status Key </td>
    			<td>&emsp;<input type="text" name="status_key" value="<%= @status_color_details.StatusKey %>" readonly></label>
    			</td>
    			</tr>
             <tr>
    				<td valign="top"  class="edit_stst_clr_frst_td">&emsp;Status Color </td>
    				<td>&emsp;
    				<!-- <input type="color" name="status_color" id="status_color" value="@status_color_details.ColorCode %>" class="input_filed_border" placeholder = "Enter Status Color"  style="padding-left:0px !important"/> -->
    				<input type="text" class="color" value="<%= @status_color_details.ColorCode %>" name="status_color" id="status_color" class="input_filed_border">
    				</td>
    			</tr>
            
          </table><br />

   <div class="create_collection_button"  style="margin-top:-4%">
       <button type="submit" class="btn btn-success" style="margin-right:3px">Save</button>
    	<a href="/status_color" class="cancel_text_color cancel_css_users_page"  style="margin-right:3px">cancel</a>
    </div>

    <% end %>    
</div>
</div></div>
<script>
$("#edit_save").click(function(){ 
            // $("#ajax_loader").css("display", "block");
                $.ajax({
                    type: "GET",
                    url: '/status_color/#{@status_color_details.ID}',
                    data:{id : id , status : $(this).attr("status")},
                    success: function(data) { 
                        $("#builders_list").html(data);
                        $("#ajax_loader").css("display", "none");
                      }
                });
});
</script>