<center>
<div id="content" class='content_mid'>
 <div class="css_back_to_map_div" >
    <img src="/assets/back_arrow.png" class="css_back_arrow">
    <%= render :partial => 'layouts/back_to_map'%>  
</div>
<div class="col-xs-11 col-sm-8 col-md-6 col-sm-push-2 col-md-push-3 col_content_mid xs_cols_push" >
<div class="names_align names_align_text">Manage Filter</div>

<div class="buttons_list">
</div>
<hr class="hr_mg">
<!-- <div id="status_color_list">
      render :partial => "status_color_list"%> 
</div> -->

<table class="floor_plan">
    <tr>
        <td width="20%"><h6><b>Product</b></h6></td>
        <td>
        <% disabled_options= ProductType.fetch_diabled_product%>
        <% if @type.blank?%>
          <%= select_tag "product_dropdown", options_for_select(ProductType.get_all_products, :disabled => disabled_options), :onchange => "product_change(this.value)", :class => "form-control drop_down_select",:autocomplete=>"off",:style => "margin-left:0%"%>
        <% else %>
          <%= select_tag "product_dropdown", options_for_select(ProductType.get_all_products, selected: @type,:disabled => disabled_options),:onchange => "product_change(this.value)", :class => "form-control drop_down_select",:autocomplete=>"off",:style => "margin-left:0%" %>
        <% end %>
        </td>
    </tr>
</table>
<div id="community"></div>
</div>
</div>
</center>
<script>
 value = $("#product_dropdown").val();
 menu_from_edit = "<%= @menu %>"
 menu_option_from_edit = "<%= @menu_option %>"
 community_from_edit = "<%= @community %>"
 legend_type_from_edit = "<%= @legend_type %>"
product_change(value)
function product_change(value){ 

  $.ajax({
        type: "GET",
        url: '/status_color/get_filter_values',
        data: {product_type: value, menu_from_edit: menu_from_edit, menu_option_from_edit: menu_option_from_edit, community_from_edit : community_from_edit, legend_type_from_edit: legend_type_from_edit},
        success: function(data){
           $("#community").html(data); 
        }
  });        
};
</script>