<div class="table-responsive lot_status_table">
    <table id="outer_table" class="table table_bottom tablesorter  table_bottom lt_stus_table">
        <thead>
        <tr class="table_heading">
            <td class="sort_table">Default Status Name</td>    
            <td class="sort_table">Preferred Name</td>    
            <td class="sort_table">No. of Lots</td>
            <td class="sortable_edit sort_table">Show</td>

        </tr>
        </thead>
        <%unless @lot_status.blank?%>
        <% @lot_status.each do |lot_status|%>
            <% count = count = Tbldatum.all.select{|x|  x.Lot_Buzz_Status_Val == lot_status.StatusKey and x.SVG_ID != nil}.count%>
                <tr>
                    <td style=";word-break:keep-all !important;word-wrap: break-word;"> 
                        <%= lot_status.StatusKey %>
                    </td>             
                    <td style=";word-break:keep-all !important;word-wrap: break-word;">
                        <%= lot_status.Status_Display_Name %>
                    </td>
                    <td style="padding-left: 34px;"> 
                        <%= count %>
                    </td>
                    <td style="padding-left:24px;">
                        <div id="active_status_list" class="active_status_list">
                            <%=hidden_field_tag "lot_status[][status_key]", lot_status.StatusKey%>
                            <% if lot_status.Is_Active == 1 %>
                                <input type="checkbox" name="lot_status[][active]" id="lot_status[][active]" data-status_id="<%= lot_status.id%>" class="lot_active_status" checked data-status_count="<%= count %>" data-checkbox_ref="<%= lot_status.StatusKey.gsub(" ","") unless lot_status.StatusKey.blank? %>" >
                            <% else %>
                                <input type="checkbox" name="lot_status[][active]" id="lot_status[][active]" class="lot_active_status" data-status_id="<%= lot_status.id%>" data-status_count="<%= count %>"   data-checkbox_ref="<%= lot_status.StatusKey.gsub(" ","") unless lot_status.StatusKey.blank? %>">
                            <% end %>
                        </div>
                    </td>

                </tr>  
            <% end %>
        <%else%>
            <tr>
            <td colspan="4">
                <center>No Statuses added</center>
            </td>
            </tr>
        <%end%>
        <div id ="ajax_loader" style="display:none">
            <%= image_tag "ajax-loader.gif", :alt => "loader", :id=> "ajax_loader_img" %>
        </div>
    </table>    
</div>
 <div class="create_collection_button"  style="
  margin-bottom: 1%;margin-top:0% !important">
   <button type="submit" class="btn btn-success" style="margin-right:3px" id="active_status_id">Save</button>
    <a href="/lot_status" class="cancel_text_color cancel_css_users_page"  style="margin-right:3px">cancel</a>
</div>

<style>
    tr> td {
        /*white-space: nowrap !important;*/
    }
    .disabled_label
    {
        color:#999967;font-weight:normal
    }

</style>

<%= javascript_include_tag  "jquery.tablesorter.min.js" %>
<%= javascript_include_tag  "jquery.tablesorter.widgets.js" %>
<%= stylesheet_link_tag    "theme.default" %>
<script>
    $(function(){
        $('table').tablesorter({
            widgets        : ['zebra', 'columns'],
            usNumberFormat : false,
            emptyTo        : 'none',
            sortRestart    : true
        });
    });

$(".lot_active_status").click(function(){ 
    var checkbox_status = this.checked
    var checkbox_ref = this.getAttribute("data-checkbox_ref")
    $("#update_notification").css("visibility","hidden");
        status_count = this.getAttribute("data-status_count")
        if(status_count != 0 )
           {
                $(this).prop("checked",true)
                var result = alert("This Status is assigned to "+this.getAttribute("data-status_count")+" lots. The status of these lots must be changed before you can un-check this status.");
                $(this).prop("checked",true)
            }
        else{
            var result = confirm("Are You Sure?");
            if (result == true) {
                if(checkbox_status == false)
                {
                    $('input[data-checkbox_ref="'+checkbox_ref+'"]').prop("checked",false);
                }
                else{
                    $('input[data-checkbox_ref="'+checkbox_ref+'"]').prop("checked",true);  
                }
            }
            else{
                if(checkbox_status == true)
                {
                    $('input[data-checkbox_ref="'+checkbox_ref+'"]').prop("checked",false);
                    
                }
                else{
                    $('input[data-checkbox_ref="'+checkbox_ref+'"]').prop("checked",true);
                }
            }
        }
});


$("#active_status_id").click(function(){
    $("#ajax_loader").css("display", "block");
    $("body").addClass("inactiveLink")
     var mydata = $('.active_status_list :input').serialize(); 
    $.ajax({
        type: "get",
            url: '/lot_status/status_update',
            data: mydata,
            success: function(data){
                $("#ajax_loader").css("display", "none");
                $("body").removeClass("inactiveLink")
               $("#update_notification").css("visibility", "visible");
               $("#update_notification").text("Lot Status updated successfully");
               $("#all_lot_status_list").html(data); 
               // $("#update_notification").delay(4000).fadeOut();
               setTimeout(function () {
                    $('#update_notification').css('visibility', 'hidden');
                }, 4000);

            }
    });
})

  // $("input[type=checkbox]").click(function(){  
  //       $("#update_notification").hide(); //hide the button
  // });

  //  $(".lot_status_table > td").click(function(){  
  //       $("#update_notification").hide(); //hide the button
  // });
// $(".lot_status_table td").click(function(){
//     console.log("========")
//     $("#update_notification").css("visibility","hidden");
// })

</script>
<style>
    @media (max-width: 922px){
        .status_buttons{
            margin-top:-2%;
        }
    }
    @media (min-width: 923px){
        .status_buttons{
            margin-top: 0%;
        }
    }
</style>
