
<div id="content" class='content_mid' > 
<div class="css_back_to_map_div">
    <img src="/assets/back_arrow.png" class="css_back_arrow">
    <%= render :partial => 'layouts/back_to_map'%>  
</div>
<div class="flash_notice"><font size="3" color="red" align="center"><%= flash[:notice] %></font></div>
<div class="col-xs-11 col-sm-8 col-md-6 col-lg-4 col-lg-push-4 col-sm-push-2 col-md-push-3 col_content_mid xs_cols_push">
<div class="names_align">Edit Preferred Names</div>
<br />
<hr>
        <%= form_tag "/lot_status/display_names",:id=>"create_link_form", :method => :post do %>
         <div>   
           <table class="display_nms">
           <%@all_stkey_recs.each do |each_rec| %>
            <%=hidden_field_tag "lot_status[][status_key]", each_rec.StatusKey%>
					<tr>
						<td valign="top">&emsp; <%= each_rec.StatusKey%></td>
						<td>&emsp;<input type="text" name="lot_status[][display_name]" id="lot_status[][display_name]" class="input_filed_border display_nms_txt" value="<%= each_rec.Status_Display_Name %>"/></td>
					</tr>
		    		
    		<% end %>
          </table>
        </div>
        	<div class="create_collection_button">
	                <button type="submit" class="btn btn-success">Save</button>
	                <a href="/lot_status" class="cancel_text_color cancel_css_users_page">cancel</a>
        	</div>
        <% end %>
</div>
</div>
<style>
	tr:not(:first-child)> td {
    padding-top: 7px;
	}
	.input_filed_border{
		width:200px;
	}
</style>
