<div id="content" class='content_mid'>
<div class="css_back_to_map_div">
    <img src="/assets/back_arrow.png" class="css_back_arrow">
    <%= render :partial => 'layouts/back_to_map'%>  
</div>
	<div class="col-sm-4 col-md-5 col-sm-push-4 col-md-push-3 col_content_mid">
	<div class="names_align" style="margin-top:4%">&ensp;Manage Lot Status</div>
	<br />
	<hr>
	<div>
	    <%= form_tag "/lot_status/#{@legend_details.id}",:id=>"update_link_form", :method => :put do %>
		<table>
			<tr>
				<td valign="top">&emsp;Default Status Name</td>
				<td>&emsp;<%= @legend_details.StatusKey %>
				</td>
			</tr>

			<tr>
				<td valign="top">&emsp;Preferred Name</td>
				<td>&emsp;<input type="text" name="display_status_name" id="display_status_name" value="<%= @legend_details.Status_Display_Name %>" class="input_filed_border" />
				</td>
			</tr>

		</table><br />

	   <div class="create_collection_button"  style="margin-top:-2%">
	       <button type="submit" class="btn btn-success" style="margin-right:3px">Save</button>
	    	<a href="/lot_status" class="cancel_text_color cancel_css_users_page"  style="margin-right:3px">cancel</a>
	    </div>
	    <% end %>    
	</div>
	</div>
</div>
<style>
	tr:not(:first-child)> td {
    padding-top: 7px;
	}
	.checkbox_td{
		width:30px;text-align:right
	}
	.input_filed_border{
		width:200px;
	}
</style>

<script type="text/javascript">
 $("#update_link_form").validate({     
            rules: {
               
                "display_status_name":{
                    maxlength: 30
                },
            },
        
            messages: {
                             
          },
    errorElement: 'span',
    errorClass: 'help-block style_block',
    highlight: function(element) {
        $(element).closest('.form-group').addClass('has-error');
    },
    unhighlight: function(element) {
        $(element).closest('.form-group').removeClass('has-error');
    }
         
});
    </script>

 <style>
	.style_block{
		margin-left:12px;
	}
</style>