<div id="update_notification" class="alert alert-success" style="visibility:hidden;"></div>
<center>
<div id="content" class='content_mid'>
	<div class="css_back_to_map_div" >
    <img src="/assets/back_arrow.png" class="css_back_arrow">
    <%= render :partial => 'layouts/back_to_map'%>  
</div>

<div class="col-xs-11 col-sm-10 col-md-10 col-sm-push-1 col-md-push-1 col_content_mid xs_cols_push" style="margin-top:0%" >

<div class="names_align lt_status_name" style="padding-bottom: 11px;margin-top:1% !important">Manage Lot Status</div>
<div class="buttons_list">
	<%=link_to 'Edit Preferred Names', "/lot_status/display_names_for_status" ,class:"btn btn-success edt_prfred_names", :id=>"display_name"%>
</div>
<br />
<div id="all_lot_status_list">
    <%= render :partial => "lot_status_list"%>
</div>
</div></div>
</center>
