<div id="content" class='content_mid'>
  
<div class="css_back_to_map_div" style="margin-left: 66.5%;">
  <img src="/assets/back_arrow.png" class="css_back_arrow" style="width:3.5%">
    <%= render :partial => 'layouts/back_to_map'%>  
</div>

	<div class="flash_notice"><font size="3" color="red" align="center"><%= flash[:notice] %></font></div>
	<div id ="ajax_loader">
        <%= image_tag "ajax-loader.gif", :alt => "loader", :id=> "ajax_loader_img" %>
    </div>
	<div class="col-sm-4 col-md-6 col-sm-push-4 col-md-push-3">
		<h4>Data Refresh Details:</h4>
		<h6>Last Data Refresh Date: <b><%= @successful_data_load_date_view %></b></h6>
		<table class="table" style="border: 1px solid black;">	
		    <tr class="table_heading">
		      <td>Refresh Date</td>
		      <td>Status</td>
		      <td>Type</td>
		    </tr>
		    <%  @data_loads.each do |load|%>
		    <tr>
		    	<% if Rails.env == "production" %>
		    		<% date_rec = load.StartDate.utc.in_time_zone(SetTimeZone.first.TimeZone) %>
		    		<% date_rec_minus_5 = (date_rec).strftime("%m/%d/%Y %H:%M:%S") unless date_rec.nil? %>
		      		<td><%= date_rec_minus_5 %></td>
		      	<% elsif Rails.env == "development"%>

		      		<td><%= (load.StartDate - 330.minutes).in_time_zone(SetTimeZone.first.TimeZone).strftime("%m/%d/%Y %H:%M:%S") unless load.StartDate.nil? %></td>
		      	<% end %>
		      <td><%= load.Status %></td>
		      <td><%= load.Refreshed_Mode %></td>
		    </tr>
		  <% end %>    
		</table>
		<%= link_to "Manual Refresh",'#', {:id => 'data_refresh', :class=>'btn btn-success', :style=> 'float: left;'} %>
		<%= link_to "Home",'/', {:class=>'btn btn-success', :style=> 'float: right;'} %>
		<a href="#" class="btn btn-success" id="refresh_page" title="Page Refresh" style="float: right;margin-right:30%;"><span class="glyphicon glyphicon-repeat"></span></a>
	</div>

</div>

<script type='text/javascript'>
  
  $(document).ready(function(){
    $("#ajax_loader").css("display", "none");
    dataRefresh();
  });

  $('#refresh_page').click(function(){
      window.location.reload();
  });

  var dataRefresh = function(){
    $('#data_refresh').click(function(){
    	$("#ajax_loader").css("display", "block");
      	$.ajax({
              type: "GET",
              url: '/data_load_statuses/data_refresh',
              dataType: "json",
                success: function(data){                  
                    if (data.success == "Completed"){                      
                        window.location.reload();                        
                        alert('Manual Data Refresh Completed');
                        $("#ajax_loader").css("display", "none");
                    }else if (data.success == "Already running"){                    	
                        window.location.reload();
                      	alert('Data Refresh job already running');
                      	$("#ajax_loader").css("display", "none");
                    }
                }
            });        
        });    
    }

  function loaderTillRecordInserts(){  	
  	$.ajax({
  		  	type: "GET",
  		  	url: '/data_load_statuses/check_new_record_inserted',
  		  	dataType: "json",
  		  		success: function(data){
  		  			if(data.success == "Running"){
  		  				$("#ajax_loader").css("display", "none");
  		  				window.location.reload();
  		  				return;
  		  			}else if(data.success == "Not Running"){  		  				
  		  				loaderTillRecordInserts();
  		  				$("#ajax_loader").css("display", "block");
  		  			}
  		  		} 
  	});
  }

  function reloadAfterRefresh(){
    $.ajax({
        type: "GET",
        url:'/data_load_statuses/check_refresh_completed',
        dataType: "json",
          success: function(data){
            if(data.success == "Started"){
              $("#ajax_loader").css("display", "none");
              reloadAfterRefresh();
            }else if(data.success == "Not Started"){
              alert("Manual Data Refresh Completed");
              window.location.reload();
            }
          }
    });
  }

</script>