<hr class="border_above_spec_community_filters">
<div style="position:relative">
  <div id="community_filter_table" class="pull-left" style="width:888px;">
    <table class="table filters" style="margin-bottom:0px !important;width:30%;">
      <tr  style="padding-bottom:1%">   
        <td style="vertical-align: middle;" class="no_of_records_css filter_first_td"><b># of Records : </b>{{filtered_lots_by_community.length}}</td>
        <td class="filter_tds">
          <div class="icon-addon addon-lg pull-left">
            <select ng-model="filter.dev_code" class="form-control dev_code_comm_view filter_tds" style="display:inline;">
              <option value="" selected>Dev Code</option>
              <option ng-repeat="dev_code in dev_code" value="{{dev_code}}">{{dev_code}}
              </option>
            </select>
            <label for="search" class="glyphicon glyphicon-search" rel="tooltip" title="dev"></label>
          </div>
          <span ng-show="filter.dev_code.length" style="padding-left:1%;cursor:pointer" ng-click="resetDevcodeFilterCOMMVIEW()" class="glyphicon glyphicon-remove filter_cross_icon" aria-hidden="true" ></span>
        </td>
      </tr>
    </table>
  </div>
  <div  class="pull_right" id="spec_community_report_button_fixed_position" style="right:0;position:absolute;width: 215px;margin-top:1%">
    <button  ng-click="exportDataCOMMVIEW()" class="btn btn-success" style="float: right;margin-left:5px;margin-top:2px !important">
    <span class="glyphicon glyphicon-download-alt"></span>             
    Download Excel</button>
  </div>
</div>

<div> 
    <table class="table spec_community_view table-bordered table-hover" style="display:table;width:100%; border-right: 0px;" >
      <thead style="float:left;" class="spec_community_thead">
        <tr class="table_heading">         
          <th class="cols_spec_xsm_community text-center" >        
            <a href="" style="color:#ffffff" ng-click="orderByField='Development_Code_Val';reverseSort = !reverseSort">Dev Code
              <span ng-show="orderByField=='Development_Code_Val'">
                <span  ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                <span  ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>   
              </span>
            </a>
          </th>

          <th class="cols_spec_sm_address text-center">        
            <a href="" style="color:#ffffff" ng-click="orderByField='Address';reverseSort = !reverseSort">Address
              <span ng-show="orderByField=='Address'">
                <span  ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                <span  ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>   
              </span>
            </a>
          </th>
          <th class="cols_spec_sm_address text-center">        
            <a href="" style="color:#ffffff" ng-click="orderByField='Model_Name';reverseSort = !reverseSort">Plan
              <span ng-show="orderByField=='Model_Name'">
                <span  ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                <span  ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>   
              </span>
            </a>
          </th>



           <th class="cols_sm_date_width_th text-center">        
            <a href="" style="color:#ffffff" ng-click="orderByField='Rp_Sales_Price';reverseSort = !reverseSort">Sales Price
              <span ng-show="orderByField=='Rp_Sales_Price'">
                <span  ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                <span  ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>   
              </span>
            </a>
          </th>       
          <th class="cols_sm_date_width_th text-center" id="sp_comm_last_td">        
            Count                          
          </th>          
        </tr>
      </thead>      
      <tbody style="float:left;">  
      <tr ng-repeat="lot in lots_by_community | filter:{Development_Code:filter.dev_code} | orderBy:orderByField:reverseSort as filtered_lots_by_community">        
        <td class="cols_spec_xsm_community text-center">     
          <span>{{lot.Development_Code}}</span>
        </td>
        <td class="cols_spec_sm_address text-center">
          <span>{{lot.Address}} </span>
       </td>
        <td class="cols_spec_sm_address text-center">
          <span>{{lot.Model_Name}}</span>
        </td>  
        <td class="cols_sm_date_width_th text-right">
          <span>{{lot.Rp_Sales_Price_wd}}</span>
        </td>
        <td class="cols_sm_date_width_th text-center">
          <span>{{lot.Count}}</span>
        </td>
      </tr>      
      <td class="cols_spec_xsm_community text-center">     
          <span>Totals</span>
        </td>
        <td class="cols_spec_sm_address">          
       </td>
        <td class="cols_spec_sm_address">          
        </td>  
        <td class="cols_sm_date_width_th text-right">          
          <span>{{SalesPriceBasedOnCommunity() | currency:"$":0}}</span>
        </td>
        <td class="cols_sm_date_width_th text-center">
          <span>{{LotTotalBasedOnCommunity()}}</span>
        </td>
      <tr>
        <td colspan="6" ng-hide="filtered_lots_by_community.length" style="width:1325px"><center><b>No Records Found</b></center></td>
      </tr>
    </table>
  <script>
    if(navigator.userAgent.match(/(Mozilla)/i)){
      $(".spec_community_view").css("margin-top","5%")
    }
    // $(".dev_code_comm_view").click(function(){
    //   spec_community_view_offset_left = $(".spec_community_view thead tr:first th:last").position().left;
    //     spec_community_view_td_n_th_width = window_width - spec_community_view_offset_left
    //   $(".spec_community_view tbody tr:first td:last,  .spec_community_view thead tr:first th:last").css({"max-width": spec_community_view_td_n_th_width, "min-width":spec_community_view_td_n_th_width});
    //   $(".spec_community_view tbody tr td:last").each(function() {
    //     $(this).css({"max-width": spec_community_view_td_n_th_width, "min-width":spec_community_view_td_n_th_width});;
    //   });
    // })
  </script>
</div>    
  <style>
  .cols_sm_community{ max-width: 189px; min-width: 189px; }
  .cols_width_buttons_td {   min-width: 189px; }
  .cols_width_buttons_th{ max-width: 206px;min-width: 206px;}
  .cols_spec_xsm_community{ max-width: 108px; min-width: 108px;}
  .cols_spec_sm_address{ max-width: 350px; min-width: 350px; }
</style>