<style>
  .spec_filter_table_width{
    width:68%;
  }
</style>
<hr class="border_above_spec_dash_bord_filters">
<div style="position:relative" id="filter_div">
  <div id="filter_table" class="pull-left" style="width: 888px;">
    <table class="table filters  spec_filter_table_width" id="spec_filters" style="margin-bottom:0px !important; border-right: 0px;">     
      <tr style="padding-bottom:1%">    
        <td style="vertical-align: middle;" class="no_of_records_css filter_first_td"><b># of Records : </b>{{filtered_lots.length}}</td>  
        <td class="filter_tds">
          <div class="icon-addon addon-lg pull-left">
            <select ng-model="filter.dev_code" ng-change="DevCodeDropdownChange()" ng-disabled="!add_new_spec||isEdit" class="form-control selected_devcode filter_tds" style="display:inline;">
              <option value="" selected>Dev Code</option>
              <option ng-repeat="dev_code in dev_code" ng-selected="selected_devcode == dev_code" value="{{dev_code}}">{{dev_code}}
              </option>
            </select>
             <label for="search" class="glyphicon glyphicon-search" rel="tooltip" title="dev"></label>
          </div>
           <span ng-show="filter.dev_code.length" style="padding-left:1%;cursor:pointer" ng-click="resetDevcodeFilter()" class="glyphicon glyphicon-remove filter_cross_icon" aria-hidden="true"></span>
          
        </td>
        <td class="filter_tds">
          <div class="icon-addon addon-lg pull-left">
            <select ng-model="filter.filing" ng-disabled="!add_new_spec||isEdit" class="form-control selected_filing_spec_rpt filter_tds" style="display:inline;">
              <option value="" selected>Filing</option>
              <option ng-repeat="filing in filings" ng-selected="selected_filing == filing" value="{{filing}}">{{filing}}
              </option>
            </select>
            <label for="search" class="glyphicon glyphicon-search" rel="tooltip" title="filing"></label>
          </div>
           <span ng-show="filter.filing.length" style="padding-left:1%;cursor:pointer" ng-click="resetFilingFilter()" class="glyphicon glyphicon-remove filter_cross_icon" aria-hidden="true" ></span>
        </td>
          <td class="filter_tds">
            <div class="icon-addon addon-lg pull-left">
              <select ng-model="filter.type" ng-disabled="!add_new_spec||isEdit" class="form-control selected_type filter_tds" style="display:inline;">
                <option value="" selected>Type</option>
                <option ng-repeat="type in types" ng-selected="selected_type == type" value="{{type}}">{{type}}
                </option>
              </select>
              <label for="search" class="glyphicon glyphicon-search" rel="tooltip" title="type"></label>
            </div>
             <span ng-show="filter.type.length" style="padding-left:1%;cursor:pointer" ng-click="resetTypeFilter()" class="glyphicon glyphicon-remove filter_cross_icon" aria-hidden="true" ></span>
          </td>
      </tr>      
    </table>
  </div>
  <div  class="pull_right" id="spec_details_report_button_fixed_position" style="right:0;position:absolute;width: 138px;margin-top:0.7%">
    <!-- <button ng-if="access_permission=='Edit Access'" ng-disabled="!add_new_spec||isEdit" ng-click="onSpecAdd()" type="button" class="btn btn-success" style="margin-top:2px !important"><span class="glyphicon glyphicon-plus"></span> Add </button> -->
    <button ng-disabled="!add_new_spec||isEdit" ng-click="exportData_spec_dashboard()" class="btn btn-success" style=";margin-top:2px !important" id="spec_download_excel">
      <span class="glyphicon glyphicon-download-alt"></span>             
      Download Excel</button>
  </div>
</div>

<form name="specaging_edit" novalidate>
  <input type="hidden" ng-model="id"/>
  <table class="table" ng-show="isEdit" style="width:40%;  border: 1px solid #dddddd;margin-left: 20%;  margin: auto;margin-right: 24%;margin-top: 0.5%;">
        
        <tr>
          <td><div><span class="pull-right"><b>Type:</b></span></div></td>
          <td><span >What If</span></td>
        </tr>

        <tr>
          <td><div><span class="pull-right"><b>Dev Code:</b></span></div></td>
          <td class="cols_xsm_width">
              <select ng-model="Development_Code" ng-change="changedValue(Development_Code,Filing, lots, HouseNumber)" class="form-control" style="display:inline;width:92%"  name="spec_dev_code_edit_{{$index}}"  required>
                <option value="" selected>Select Dev Code</option>
                <option ng-repeat="dev_code in distinct_dev_codes" ng-selected="Development_Code == dev_code" value="{{dev_code}}">{{dev_code}}
                </option>
              </select> 
              <div>
              <p style="color:red" ng-show="specaging_edit.spec_dev_code_edit_{{$index}}.$error.required">*Required</p>
              </div>
          </td>
        </tr>

        <tr>
          <td><div><span class="pull-right"><b>Filing:</b></span></div></td>
          <td class="cols_xsm_width"> 
              <select ng-model="Filing" ng-change="changedValueFiling(Filing, Development_Code,lots, HouseNumber)" class="form-control" style="display:inline;width:92%" name="spec_filing_edit_{{$index}}" required>
                  <option value="" selected>Select Filing</option>
                  <option ng-repeat="filing in distinct_filings" ng-selected="Filing == filing" value="{{filing}}">{{filing}}
                  </option>
              </select>
              <div>
              <p style="color:red" ng-show="specaging_edit.spec_filing_edit_{{$index}}.$error.required">*Required</p>
              </div>  
          </td> 
        </tr>

        <tr>
          <td><div><span class="pull-right"><b>House Number:</b></span></div></td>
          <td class="cols_sm_date_width_th">          
              <select ng-model="HouseNumber" class="form-control spec_house_number_edit_{{$index}}" style="display:inline;width:92%" name="spec_house_number_edit_{{$index}}"  ng-change="changedHouseValue(HouseNumber)" required>
                <option value="" selected>Select HouseNumber</option>
                <option ng-repeat="housenumber in distinct_housenumbers" ng-selected="HouseNumber == housenumber" ng-disabled="housenumbers.indexOf(housenumber) !== -1" value="{{housenumber}}" >{{housenumber}} 
                </option>
              </select>
             <p style="color:red" ng-show="specaging_edit.spec_house_number_edit_{{$index}}.$error.required">*Required</p>                          
          </td>
 
          <tr>
            <td><div><span class="pull-right"><b>Address:</b></span></div></td>
           <td class="cols_sm_address text-center">
            <span><input type="text"  class="form-control"  ng-model="Address" ></input></span>
          </td> 
        </tr> 

        <tr>
           <td><div><span class="pull-right"><b>Plan:</b></span></div></td>
          <td class="cols_width_tbody text-center">          
            <span><input type="text"  class="form-control"  ng-model="Model_Name" ></input></span>
          </td>  
        </tr>

       <tr>
        <td><div><span class="pull-right"><b>Qc/Stake Date:</b></span></div></td>
        <td class="cols_sm_date_width_th text-center">          
          <span>            
            <input type="text"  class="form-control"  ng-model="Rp_QC_Stake_Date"datepicker readonly name="spec_rp_qc_date_edit_{{$index}}" required></input>
              <p style="color:red" ng-show="specaging_edit.spec_rp_qc_date_edit_{{$index}}.$error.required">*Required</p>
          </span>
        </td>  
      </tr>

      <tr>
        <td><div><span class="pull-right"><b>Aging:</b></span></div></td>
        <td class="cols_xsm_width text-right">
          <span><input type="text" ng-disabled="isEdit" class="form-control"  ng-model="Rp_Aging" ></input></span>
        </td> 
      </tr>

      <tr>
        <td><div><span class="pull-right"><b>Retail Price:</b></span></div></td>
        <td class="cols_sm_date_width_th text-right">
          <span><input type="text"  class="form-control"  ng-model="Rp_Retail_Price" ></input></span>
        </td>
      </tr>
      
      <tr>
        <td><div><span class="pull-right"><b>Discount:</b></span></div></td>
        <td class="cols_xsm_width text-right">          
          <span><input type="text"  class="form-control"  ng-model="Rp_Discount" ></input></span>
        </td>
      </tr>

      <tr>
        <td><div><span class="pull-right"><b>Sales Price:</b></span></div></td>
        <td class="cols_sm_date_width_th text-right">
          <span><input type="text"  class="form-control"  ng-model="Rp_Sales_Price" ></input></span>
        </td>     
      </tr>

     <tr>
        <td><div><span class="pull-right"><b>Landscaped:</b></span></div></td>
        <td class="cols_sm_width_th text-center">
          <span><input type="text"  class="form-control"  ng-model="Landscaped" ></input></span>
        </td>        
      </tr>

      <tr>
        <td><div><span class="pull-right"><b>GM %:</b></span></div></td>
        <td class="cols_xsm_width text-right">
          <span><input type="text"  class="form-control"  ng-model="Rp_GM_Percent" ></input></span>
        </td>    
      </tr>

      <tr>
        <td><div><span class="pull-right"><b>Loan Amount:</b></span></div></td>
        <td class="cols_sm_date_width_th text-right">
          <span><input type="text"  class="form-control"  ng-model="Rp_Loan_Amount" ></input></span>
        </td>  
        </tr>

      <tr>
        <td><div><span class="pull-right"><b>Construction Lender:</b></span></div></td>     
        <td class="cols_sm_width_th text-center">
          <span><input type="text"  class="form-control"  ng-model="Rp_Construction_Lender" ></input></span>
        </td>  
        </tr> 
        
        <tr>
        <td colspan="2">
          <button ng-disabled="specaging_edit.$invalid" ng-click="onUpdate();$parent.$parent.edit_spec=true" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span>Update</button>
          <button ng-click="onAddCancel();" type="button" class="btn btn-success"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button> 
        </td>
        </tr>
  </table>
</form>


  <form name="specaging"  novalidate>
    <table class="table spec_dash_add" ng-hide="add_new_spec" style="width:40%;  border: 1px solid #dddddd;margin-left: 20%;  margin: auto;margin-right: 24%;margin-top: 0.5%;">
        <tr>
          <td>
            <div>                      
              <span class="pull-right"><b>Type:</b></span>          
            </div>
          </td>
          <td>
              <span >What If</span>
          </td>
        </tr>  
        <tr>
          <td>
            <div>                      
              <span class="pull-right"><b>Dev Code:</b></span>          
            </div>
          </td>
          <td>
              <span >            
              <select ng-model="new_rec.Development_Code" ng-change="changedValue(new_rec.Development_Code, new_rec.Filing, lots, '')" class="form-control dev_code_selected" style="display:inline;width:92%" name="spec_dev_code" required>
                <option value="" selected>Select Dev Code</option>
                <option ng-repeat="dev_code in distinct_dev_codes" value="{{dev_code}}">{{dev_code}}
                </option>
              </select>
              <div ng-show="specaging.spec_dev_code.$touched">
                <p style="color:red;font-weight:normal" ng-show="specaging.spec_dev_code.$error.required">*Required</p>
              </div>                                  
              </span>
          </td>
        </tr> 
        <tr>
          <td>
            <div>                      
              <span class="pull-right"><b>Filing:</b></span>          
            </div>
          </td>
          <td>
              <span >            
                <select ng-model="new_rec.Filing" ng-change="changedValueFiling(new_rec.Filing, new_rec.Development_Code, lots, '')" class="form-control" style="display:inline;width:92%" name="spec_filing" required>
                  <option value="" selected>Select Filing</option>
                  <option ng-repeat="filing in distinct_filings" value="{{filing}}">{{filing}}
                  </option>
                </select> 
                <div ng-show="specaging.spec_filing.$touched">
                  <p style="color:red;font-weight:normal" ng-show="specaging.spec_filing.$error.required">*Required</p>
                </div>           
                </span>
          </td>
        </tr> 
        <tr>
          <td >
            <div>                      
              <span class="pull-right"><b>House Number:</b></span>          
            </div>
          </td>
          <td>
              <span>
                 <select ng-model="new_rec.HouseNumber" class="form-control" style="display:inline;width:92%"  name="spec_house_number" required>
                  <option value="" selected>Select HouseNumber</option>
                  <option ng-repeat="housenumber in distinct_housenumbers" ng-disabled="housenumbers.indexOf(housenumber) !== -1" value="{{housenumber}}">{{housenumber}}
                  </option>
                </select> 
                <div ng-show="specaging.spec_house_number.$touched">
                  <p style="color:red;font-weight:normal" ng-show="specaging.spec_house_number.$error.required">*Required</p>
                </div>               
              </span>
             
          </td>
        </tr> 
        <tr>
          <td>
            <div>                      
              <span class="pull-right"><b>Address:</b></span>          
            </div>
          </td>
          <td>
              <span >            
                  <input type="text"  class="form-control"  ng-model="new_rec.Address" ></input>                
                                              
                </span>
          </td>
        </tr> 
        <tr>
          <td>
            <div>                      
              <span class="pull-right"><b>Plan:</b></span>          
            </div>
          </td>
          <td>
              <span >            
                  <input type="text"  class="form-control"  ng-model="new_rec.Model_Name" ></input>                
                                            
                </span>
          </td>
        </tr> 
        <tr>
          <td>
            <div>                      
              <span class="pull-right"><b>Qc/Stake Date:</b></span>          
            </div>
          </td>
          <td>
              <span >            
                <input type="text"  class="form-control"  ng-model="new_rec.Rp_QC_Stake_Date" datepicker readonly name="spec_rp_qc_date" required></input>
              </span>
              <div ng-show="specaging.spec_rp_qc_date.$touched">
                <p style="color:red" ng-show="specaging.spec_rp_qc_date.$error.required">*Required</p>
              </div>
          </td>
        </tr>  
        <tr>
          <td>
            <div>                      
              <span class="pull-right"><b>Retail Price:</b></span>          
            </div>
          </td>
          <td>
              <span >            
                  <input type="text"  class="form-control"  ng-model="new_rec.Rp_Retail_Price" ></input>
              </span>
          </td>
        </tr> 
        <tr>
          <td>
            <div>                      
              <span class="pull-right"><b>Discount:</b></span>          
            </div>
          </td>
          <td>
              <span >            
                <input type="text"  class="form-control"  ng-model="new_rec.Rp_Discount" ></input>
              </span>
          </td>
        </tr> 
        <tr>
          <td>
            <div>                      
              <span class="pull-right"><b>Sales Price:</b></span>          
            </div>
          </td>
          <td>
              <span >            
                <input type="text"  class="form-control"  ng-model="new_rec.Rp_Sales_Price" ></input>
              </span>
          </td>
        </tr> 
        <tr>
          <td>
            <div>                      
              <span class="pull-right"><b>Landscaped:</b></span>          
            </div>
          </td>
          <td>
              <span >            
                <input type="text"  class="form-control"  ng-model="new_rec.Landscaped" ></input>
              </span>
          </td>
        </tr> 
        <tr>
          <td>
            <div>                      
              <span class="pull-right"><b>GM %:</b></span>          
            </div>
          </td>
          <td>
              <span >            
                <input type="text"  class="form-control"  ng-model="new_rec.Rp_GM_Percent" ></input>
              </span>
          </td>
        </tr> 
        <tr>
          <td>
            <div>                      
              <span class="pull-right"><b>Loan Amount:</b></span>          
            </div>
          </td>
          <td>
              <span >            
                <input type="text"  class="form-control"  ng-model="new_rec.Rp_Loan_Amount" ></input>
              </span>
          </td>
        </tr> 
        <tr>
          <td>
            <div>                      
              <span class="pull-right"><b>Construction Lender:</b></span>          
            </div>
          </td>
          <td>
              <span >            
                <input type="text"  class="form-control"  ng-model="new_rec.Rp_Construction_Lender" ></input>
              </span>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button ng-disabled="specaging.$invalid" ng-hide="add_new_spec" type="button" class="btn btn-success" ng-click="onAddSpecSave()"><span class="glyphicon glyphicon-ok-sign"></span> Create</button>
            <button  ng-hide="add_new_spec" ng-click="onAddCancel()" type="button" class="btn btn-success"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
          </td>
        </tr>
    </table>    
  </form>

<div> 
  <form name="specaging_edit" novalidate id="spd_tbl_view">
    <table class="table  spec_dash  table-bordered table-hover" style="border-right: 0px;" >
      <thead style="float:left;" class="spec_dash_thead">
        <tr class="table_heading">                  
          <th class="cols_xsm_width text-center" >        
            <a href="" style="color:#ffffff" ng-click="orderByField='Development_Code_Val';reverseSort = !reverseSort">Dev Code
              <span ng-show="orderByField=='Development_Code_Val'">
                <span  ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                <span  ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>   
              </span>
            </a>
          </th>
          <th class="cols_xsm_width text-center">        
            <a href="" style="color:#ffffff" ng-click="orderByField='Filing_Val';reverseSort = !reverseSort">Filing
              <span ng-show="orderByField=='Filing_Val'">
                <span  ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                <span  ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>   
              </span>
            </a>
          </th>
          <th class="cols_sm_date_width_th text-center">        
            <a href="" style="color:#ffffff" ng-click="orderByField='HouseNumber';reverseSort = !reverseSort">House Number
              <span ng-show="orderByField=='HouseNumber'">
                <span   ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                <span  ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>   
              </span>
            </a>
          </th>
           <th class="cols_sm_width_th text-center">        
            <a href="" style="color:#ffffff" ng-click="orderByField='Rp_SPEC_or_MODEL';reverseSort = !reverseSort">Type
              <span ng-show="orderByField=='Rp_SPEC_or_MODEL'">
                <span  ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                <span  ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>   
              </span>
            </a>
          </th>
          <th class="cols_sm_address text-center">        
            <a href="" style="color:#ffffff" ng-click="orderByField='Address';reverseSort = !reverseSort">Address
              <span ng-show="orderByField=='Address'">
                <span  ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                <span  ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>   
              </span>
            </a>
          </th>
          <th class="cols_width_ho text-center">        
            <a href="" style="color:#ffffff" ng-click="orderByField='Model_Name';reverseSort = !reverseSort">Plan
              <span ng-show="orderByField=='Model_Name'">
                <span  ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                <span  ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>   
              </span>
            </a>
          </th>
          <th class="cols_sm_date_width_th text-center" >        
            <a href="" style="color:#ffffff" ng-click="orderByField='Rp_QC_Stake_Date';reverseSort = !reverseSort">QC/Stake Date
              <span ng-show="orderByField=='Rp_QC_Stake_Date'">
                <span  ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                <span  ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>   
              </span>
            </a>
          </th>
          <th class="cols_xsm_width text-center">        
            <a href="" style="color:#ffffff" ng-click="orderByField='Rp_Aging';reverseSort = !reverseSort">Aging
              <span ng-show="orderByField=='Rp_Aging'">
                <span  ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                <span  ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>   
              </span>
            </a>
          </th>
          <th class="cols_sm_date_width_th text-center">        
            <a href="" style="color:#ffffff" ng-click="orderByField='Rp_Retail_Price';reverseSort = !reverseSort">Retail Price
              <span ng-show="orderByField=='Rp_Retail_Price'">
                <span  ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                <span  ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>   
              </span>
            </a>
          </th>

          <th class="cols_xsm_width text-center">        
            <a href="" style="color:#ffffff" ng-click="orderByField='Rp_Discount';reverseSort = !reverseSort">Discount
              <span ng-show="orderByField=='Rp_Discount'">
                <span  ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                <span  ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>   
              </span>
            </a>
          </th>


          <th class="cols_sm_date_width_th text-center">        
            <a href="" style="color:#ffffff" ng-click="orderByField='Rp_Sales_Price';reverseSort = !reverseSort">Sales Price
              <span ng-show="orderByField=='Rp_Sales_Price'">
                <span  ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                <span  ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>   
              </span>
            </a>
          </th>


          <!-- <th class="cols_sm_width_th text-center">        
            <a href="" style="color:#ffffff" ng-click="orderByField='Landscaped';reverseSort = !reverseSort">Landscape Added
              <span ng-show="orderByField=='Landscaped'">
                <span  ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                <span  ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>   
              </span>
            </a>
          </th> -->

          <th class="cols_xsm_width text-center">        
            <a href="" style="color:#ffffff" ng-click="orderByField='Rp_GM_Percent';reverseSort = !reverseSort">GM %
              <span ng-show="orderByField=='Rp_GM_Percent'">
                <span  ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                <span  ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>   
              </span>
            </a>
          </th>
          <th class="cols_sm_date_width_th text-center">        
            <a href="" style="color:#ffffff" ng-click="orderByField='Rp_Loan_Amount';reverseSort = !reverseSort">Loan Amount
              <span ng-show="orderByField=='Rp_Loan_Amount'">
                <span  ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                <span  ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>   
              </span>
            </a>
          </th>
          <th class="cols_sm_width_th text-center">        
            <a href="" style="color:#ffffff" ng-click="orderByField='Rp_Construction_Lender';reverseSort = !reverseSort">Construction Lender
              <span ng-show="orderByField=='Rp_Construction_Lender'">
                <span  ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                <span  ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>   
              </span>
            </a>
          </th>
          <th class="cols_buttons"></th>
          <th class="cols_width_ho_th"></th>

        </tr>
      </thead>
      <tbody style="float:left;" id="specaging_tbody">         
        <tr ng-repeat="lot in lots | filter:{Development_Code_Val:filter.dev_code} | filter:{Filing_Val:filter.filing}:exceptEmptyComparator | filter:{Rp_SPEC_or_MODEL:filter.type} | orderBy:orderByField:reverseSort as filtered_lots">   
          <td class="cols_xsm_width text-center">
            <span>{{lot.Development_Code_Val}}</span>
           
          </td>  
            <td class="cols_xsm_width text-center"> 
            <span>{{lot.Filing_Val}}</span>            
        </td> 
          <td class="cols_sm_date_width_th text-center">          
           <span> {{lot.HouseNumber}}</span>
          </td>  
          <td class="cols_sm_width_th text-center">
            <span>{{lot.Rp_SPEC_or_MODEL}}</span>          
          </td>  
           
        <td class="cols_sm_address text-center">
          <span>{{lot.Address}}</span>
        </td>  
        <td class="cols_width_tbody text-center">
          <span>{{lot.Model_Name}}</span>
        </td>  
        <td class="cols_sm_date_width_th text-center">
          <span>{{lot.Rp_QC_Stake_Date}}</span>
        </td>  
        <td class="cols_xsm_width text-right">
          <span>{{lot.Rp_Aging}}</span>
        </td>    
        <td class="cols_sm_date_width_th text-right">
          <span>{{lot.Rp_Retail_Price_wd}}</span>
        </td>

        <td class="cols_xsm_width text-right">
          <span>{{lot.Rp_Discount_wd}}</span>
        </td>
        <td class="cols_sm_date_width_th text-right">
          <span>{{lot.Rp_Sales_Price_wd}}</span>         
        </td>            
        <!-- <td class="cols_sm_width_th text-center">
          <span>{{lot.Landscaped}}</span>
        </td> -->        
        <td class="cols_xsm_width text-right">
          <span>{{lot.Rp_GM_Percent}}</span>
        </td>     
        <td class="cols_sm_date_width_th text-right">
          <span>{{lot.Rp_Loan_Amount_wd}}</span>
        </td>        
        <td class="cols_sm_width_th text-center">
          <span>{{lot.Rp_Construction_Lender}}</span>
        </td>
 
          <td class="cols_buttons">                      
            <span ng-if="access_permission=='Edit Access'" >
                <button ng-disabled="!add_new_spec" ng-if="lot.Class_Name=='SpecAgingLot'" ng-click="onEdit(lot, lots);$parent.$parent.edit_spec = false;" type="button" class="btn btn-success" ><span class="glyphicon glyphicon-pencil"></span> 
                Edit
                </button>    
            </span>                
          </td>
          <td class="cols_width_ho_th">
            <span ng-if="access_permission=='Edit Access'" >          
              <button ng-if="lot.Class_Name=='SpecAgingLot'" ng-disabled="isEdit||!add_new_spec" ng-click="onSpecDelete($index)" type="button" class="btn btn-success"><span class="glyphicon glyphicon-pencil"></span> 
              Delete 
             </button>  
            </span>       
          </td>
        
      </tr>
       <tr ng-show="filtered_lots.length">   
          <td class="cols_xsm_width">
            <span>AVERAGES</span>
          </td>  
          <td class="cols_xsm_width"></td> 
          <td class="cols_sm_date_width_th"></td>  
          <td class="cols_sm_width_th"></td>  
          <td class="cols_sm_address"></td>  
          <td class="cols_width_tbody"></td>  
          <td class="cols_sm_date_width_th"></td>  
          <td class="cols_xsm_width"></td>    
          <td class="cols_sm_date_width_th text-right"><span>{{RetailPriceAvg() | currency}}</span></td>
          <td class="cols_xsm_width text-right"><span>{{discount_avg() | currency}}</span></td>
          <td class="cols_sm_date_width_th text-right"><span>{{SalePriceAvg() | currency}}</span></td> 
          <!-- <td class="cols_sm_width_th"></td>         -->
          <td class="cols_xsm_width text-right"><span>{{GMPrcAvg()}}</span></td>     
          <td class="cols_sm_date_width_th text-right"><span>{{LoanAmountAvg() | currency}}</span></td>        
          <td class="cols_sm_width_th"></td>  
          <td class="cols_buttons"> </td>
          <td class="cols_width_ho_th">  </td>                   
      </tr>
      <tr>
        <td colspan="6" ng-hide="filtered_lots.length" style="width:1325px"><center><b>No Records Found</b></center></td>
      </tr>
      </tbody>
    </table>
  </form>
</div>    
<style>
  .cols_width_ho{  max-width: 245px;  min-width: 239px;   }
  .cols_width_tbody{ max-width: 240px; min-width: 239px;   }
  .cols_width_ho_td { min-width:92px; }
  .cols_width_ho_th{ max-width: 159px;min-width: 114px;}
  .cols_sm_width_th{ max-width:151px;min-width:151px; }
  .cols_xsm_width{ max-width: 90px; min-width: 90px;}
  .cols_sm_date_width_th{ max-width: 118px;min-width: 118px;}
  .cols_sm_address{ max-width: 195px; min-width: 189px; }
  .cols_buttons{ min-width: 193px;max-width:195px;}
  .filters tr td{border-top:0px !important;}
</style>
