<hr class="border_above_spec_plan_filters">
<div style="position:relative">
  <div id="plan_filter_table" class="pull-left" style="width:888px">
    <table class="table filters" style="margin-bottom:0px !important;width:30%;">
      <tr>   
        <td style="vertical-align: middle;" class="no_of_records_css filter_first_td"><b># of Records : </b>{{filtered_lots_by_plan.length}}</td>
        <td class="filter_tds">
          <div class="icon-addon addon-lg pull-left">
            <select ng-model="filter.plan_name" class="form-control plan_name filter_tds" style="display:inline;">
              <option value="" selected>Plans</option>
              <option ng-repeat="plan_name in distinct_plans" value="{{plan_name}}">{{plan_name}}
              </option>
            </select>
            <label for="search" class="glyphicon glyphicon-search" rel="tooltip" title="dev"></label>
          </div>
          <span ng-show="filter.plan_name.length" style="padding-left:1%;cursor:pointer" ng-click="resetDevcodeFilterPLANVIEW()" class="glyphicon glyphicon-remove filter_cross_icon" aria-hidden="true" ></span>
        </td>
      </tr>
    </table>
  </div>
  <div class="pull_right" id="spec_plan_report_button_fixed_position" style="right:0;position:absolute;width: 215px;margin-top:1%">
     <button  ng-click="exportDataPLANVIEW()" class="btn btn-success" style="float: right;margin-left:5px;margin-top:0.5% !important">
        <span class="glyphicon glyphicon-download-alt"></span>             
        Download Excel
      </button>
  </div>
</div>

<div> 
    <table class="table spec_plan_view table-bordered table-hover" style="display:table;width:100%;border-right:0">
      <thead style="float:left;" class="spec_plan_thead">
        <tr class="table_heading">         
          <th class="cols_spec_xsm_community text-center" >        
            <a href="" style="color:#ffffff" ng-click="orderByField='Development_Code_Val';reverseSort = !reverseSort">Dev Code
              <span ng-show="orderByField=='Development_Code_Val'">
                <span  ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                <span  ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>   
              </span>
            </a>
          </th>

          <th class="cols_spec_sm_address text-center">        
            <a href="" style="color:#ffffff" ng-click="orderByField='Address';reverseSort = !reverseSort">Address
              <span ng-show="orderByField=='Address'">
                <span  ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                <span  ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>   
              </span>
            </a>
          </th>
          <th class="cols_width_ho text-center">        
            <a href="" style="color:#ffffff" ng-click="orderByField='Model_Name';reverseSort = !reverseSort">Plan
              <span ng-show="orderByField=='Model_Name'">
                <span  ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                <span  ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>   
              </span>
            </a>
          </th>          
          <th class="cols_width_tbody text-center">
            Count
          </th>
        </tr>
      </thead>      
      <tbody style="float:left;">  

      <tr ng-repeat="lot in lots_by_plan | filter:{Model_Name:filter.plan_name} | orderBy:orderByField:reverseSort as filtered_lots_by_plan">        

        <td class="cols_spec_xsm_community text-center">
          <span>{{lot.Development_Code}}</span>
        </td>
        <td class="cols_spec_sm_address text-center">
          <span>{{lot.Address}}  </span>
       </td>
        <td class="cols_width_tbody text-center">
          <span>{{lot.Model_Name}}</span>
        </td>  
        <td class="cols_width_tbody text-center">
          <span>{{lot.Count}}</span>
        </td>  
      </tr>
      <tr>
        <td class="cols_spec_xsm_community text-center">          
          <span>Totals</span>
        </td>
        <td class="cols_spec_sm_address">
          
       </td>
        <td class="cols_width_tbody">
          
        </td>  
        <td class="cols_width_tbody text-center">
          <span>{{LotTotalBasedOnPlan()}}</span>
        </td>  
      </tr>
      <tr>
        <td colspan="6" ng-hide="filtered_lots_by_plan.length" style="width:1325px"><center><b>No Records Found</b></center></td>
      </tr>
    </table>
  <script>
    if(navigator.userAgent.match(/(Mozilla)/i)){
      $(".spec_plan_view").css("margin-top","5%")
    }
  </script>
</div>    
  <style>
  .cols_sm_community{ max-width: 189px; min-width: 189px; }
  .cols_width_buttons_td {   min-width: 189px; }
  .cols_width_buttons_th{ max-width: 206px;min-width: 206px;}
</style>