<div id="content" class='content_mid'>
<div class="col-xs-10  col-sm-6 col-md-5 col-sm-push-3 col-md-push-3  col_content_mid xs_ten_push">
<div class="names_align" style="margin-top:4%;text-align:left;float:none">&ensp;Manage Contact Form</div>
<br/>
<div>
    <%= form_tag "/contact_form/#{@contact_info.id}",:id=>"cta_edit_form", :method => :put do %>
           <table style="width:100%">
             	<tr>
    				<td valign="top" style="width:35%" class="text-right">&emsp;Contact Form Text: </td>
    				<td>&emsp;<input type="text" name="name" value="<%= @contact_info.Name %>"   class="input_filed_border input_field"/>
    				</td>
    			</tr>
    			<tr>
    				<td valign="top" class="text-right">&emsp;Lead Mail To Email: </td>
    				<td>&emsp;<input type="text" name="email_address" value="<%= @contact_info.Email_Address %>"   class="input_filed_border input_field"/>
    				</td>
    			</tr>
    			<tr>
    				<td valign="top" class="text-right">&emsp;Contact Number: </td>
    				<td>&emsp;<input type="text" name="contact_num" value="<%= @contact_info.Contact_Num %>"   class="input_filed_border input_field" id="contact_num"/>
    				</td>
    			</tr>
            
          </table><br />

   <div class="create_collection_button"  style="margin-top:0%">
       <button type="submit" class="btn btn-success" style="margin-right:3px">Save</button>
    	<a href="/contact_form" class="cancel_text_color cancel_css_users_page"  style="margin-right:3px">cancel</a>
    </div>

    <% end %>    
</div>
</div></div>
<%= javascript_include_tag  "lot_collection" %> 
<%= javascript_include_tag 'inputmask' %>
<script>

 jQuery.validator.addMethod("usPhoneFormat", function (value, element) {
  value_splitted = value.split("_").join("")
  value1 = value_splitted.replace(/-/g,"")
    return value.match(/^\d{3}\-\d{3}\-\d{4}?$/) || value1=="";
}, "Enter a valid phone number.");

 $("#cta_edit_form").validate({    
    rules: {
      "email_address": { 
        required:true,   
        email: true    
      },
      "contact_num":{
        maxlength: 20
      },
      "name":{
        maxlength: 30
      } 
    },
    
    messages: {

  },
    errorElement: 'span',
    errorClass: 'help-block style_block',
      highlight: function(element) {
          $(element).closest('.form-group').addClass('has-error');
      },
      unhighlight: function(element) {
          $(element).closest('.form-group').removeClass('has-error');
      }     
  }); 

  // $(document).ready(function(){
  //   $.mask.definitions['~']='[+-]';
  //   $('input#contact_num').mask('?999-999-9999');
  // });
</script>
<style>
  .style_block{
    margin-left:12px;
  }
  .input_field{
    width:90%;
  }
</style>