<div id="content" class='content_mid'>
    <div class="css_back_to_map_div" >
        <img src="/assets/back_arrow.png" class="css_back_arrow">
        <%= render :partial => 'layouts/back_to_map'%>  
    </div>
    <div class="col-xs-11  col-sm-7 col-md-5 col-sm-push-2 col-md-push-3  col_content_mid xs_cols_push" >
        <div class="names_align" style="margin-bottom:2%">Manage Contact Form</div>
        <br />
        <div id="contact_form_list" style=" margin-top: 4%;">
            <table id="outer_table" class="table lot_collection_table table_bottom tablesorter">
                <%unless @contact_info.blank?%>
                <%@contact_info.each do |contact_info|%>
                    <tr>
                        <td class="text-right" style="width:23%"><b>Contact Form Text:</b> </td>
                        <td class="lot_collection_button_table_td">          
                             <%= contact_info.Name %>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right"><b>Lead Mail To Email: </b></td>
                        <td class="lot_collection_button_table_td">          
                             <%= contact_info.Email_Address %>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right"><b>Contact Number: </b></td>
                        <td class="lot_collection_button_table_td">          
                             <%= contact_info.Contact_Num %>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-top: 0px;"></td>
                         <td style="text-align: right;border-top: 0px;font-weight: bold;">
                            <%=link_to 'Edit ', "/contact_form/#{contact_info.id}/edit", :style=> "margin-right: 8%;",class:"btn btn-success" %>  
                       </td>
                    </tr> 
                <% end %>
                <%else%>
                    <tr>
                        <td colspan="3">
                            <center>No Conatct_info added</center>
                        </td>
                    </tr>
                <%end%>
                <div id ="ajax_loader" style="display:none">
                    <%= image_tag "ajax-loader.gif", :alt => "loader", :id=> "ajax_loader_img" %>
                </div>
            </table>
        </div>
    </div>
</div>
<%= javascript_include_tag  "jquery.tablesorter.min.js" %>
<%= javascript_include_tag  "jquery.tablesorter.widgets.js" %>
<%= stylesheet_link_tag    "theme.default" %>
<script>
    $(function(){
        $('table').tablesorter({
            widgets        : ['zebra', 'columns'],
            usNumberFormat : false,
            sortReset      : true,
            sortRestart    : true
        });
    });
</script>