  <table width="70%" style="margin-left:16%">
              <tr>
                    <td width="26%" style="font-weight:bold;">Product Type:</td>

                    <td><%= select_tag "communities_drop_down", options_for_select(@total_communities), :onchange=>"showlotnumbers(this.value)", :class => "form-control", :autocomplete=>"off" ,:style => "width:65%"%> 

                    </td>
                </tr>
            </table>
<br/>
<div id="display_lots"></div>


 <!-- FloorPlan.order("Floor_Type").all(:select => 'DISTINCT Floor_Type,Product_Type_Id', :conditions => {:builder_id => @builder.id ,:Is_Active  => 1}).map{|g| [g.Floor_Type, g.Product_Type_Id]} -->

<script type="text/javascript">

community_selection = $("#communities_drop_down").val();
showlotnumbers(community_selection);
function showlotnumbers(community_selection){	
  $.ajax({
  		type: "GET",
  		url: '/lot_collection/lots_of_community',
  		data: { community: community_selection},
  		success: function(data){
  			$("#display_lots").html(data);
  		}
 });	
};
</script>



