
<script>
 $(document).ready(function () {
                var $sourceFields = $("#sourceFields");
                var $destinationFields = $("#destinationFields");
                var $chooser = $("#fieldChooser").fieldChooser(sourceFields, destinationFields);
            });
</script>
<!-- 
<div class="collection_name">
<b>Lot Collection Name:</b> <input type="text" name="lot_collection_name" value="<%= @lot_collection_name %>" style="border:1px solid #000000;border-radius:3px;padding-left:5px"/>
</div>
<div style="clear:both" class="collection_name">
    <b>Plan Collection:</b><%= select_tag "floor_plan_collection", options_for_select(@floor_plans_collection,@selected_floor_plan),
     :class => "form-control", :autocomplete=>"off", :style => "width:20%;display:inline"%>
</div> -->
<table class="lots_of_parcel_table">
  <tr>
    <td class="collection_name">Lot Collection Name:</td>
    <td><input type="text" name="lot_collection_name" value="<%= @lot_collection_name %>" class="input_filed_border" /></td>
  </tr>

  <label>Plan Collection:</label><br>
  <%=@floor_plans %>
  <% if @floor_plans %>
    <% @floor_plans.each do |floor_plan| %>
        <%= check_box_tag "floor_plans[]"%>
            <%= label_tag floor_plan%><br/>      
    <% end %>        
  <% end %> 
  
</table>
<table id="outer_table" class="table">    
        <tr>
           <td id="outer_td" class="lotlevel_table_td">
                <table  class="table table-bordered">
                    <tr>
                        <td class="inner_td_lotlevel"><b>Source Lots</b>
                          <label id="source_filed"></label>
                        </td>
                        <td class="inner_td_lotlevel"><b>Destination Lots</b>
                        </td>
                    </tr>
        <tr><td>            
            <div  tabIndex="1">    
            <br /> 
                <div id="sourceFields">
                    <%unless @lots.nil? || @lots.empty?%>
                       <% @lots.each do |lot| %>                
                           <div><%= lot %></div>
                        <% end %>
                     <% end %>
                </div></td><td>                
                <div>
                <br />
                    <%unless @selected_lots.nil? || @selected_lots.empty?%>
                    <% @selected_lots.each do |lot| %>                
                        
                     <% end %>
                     <% end %>
                </div>
                <input type="hidden" name="selected_lots" id="selected_lot_list" value="">
            </div>
        </td></tr>
        </table></td></tr>
</table>
