
<script>
 $(document).ready(function () {
                var $sourceFields = $("#sourceFields");
                var $destinationFields = $("#destinationFields");
                var $chooser = $("#fieldChooser").fieldChooser(sourceFields, destinationFields);
    
  });
</script>


<center>
<div class="table-responsive"> 
  <table id="outer_table" class="table">    
          <tr>
             <td id="outer_td" class="lotlevel_table_td">
                  <table  class="table table-bordered table_bottom">
                      <tr>
                          <td class="inner_td_lotlevel"><b>Unassigned Lots</b>
                            <label id="source_filed"></label>
                          </td>
                          <td class="inner_td_lotlevel"><b>Selected Lots</b>
                          </td>
                      </tr>
                      <tr>
                          <td>
                          <div id="fieldChooser" tabIndex="1">                            
                              <div id="sourceFields" class="lc_src_desc_fields">
                                  <%unless @lots.nil? || @lots.empty?%>
                                     <% @lots.each do |lot| %>                
                                         <div><%= "#{lot[0]}" %></div>
                                      <% end %>
                                  <% else %>
                                    No Unassigned lots exist for selected product type
                                   <% end %>
                              </div>
                          </td>
                          <td>                          
                              <div id="destinationFields" class="lc_src_desc_fields">                            
                                  <%unless @selected_lots.nil? || @selected_lots.empty?%>
                                  <% @selected_lots.each do |lot| %>                
                                    
                                      <div><%= "#{lot[0]}" %></div>
                                                                       
                                   <% end %>
                                   <% end %>
                              </div>
                             
                              <input type="hidden" name="selected_lots" id="selected_lot_list" value="">
                              </div>
                          </td>
                      </tr>
                  </table>
              </td>
          </tr>
  </table>
</div></center>