<table id="outer_table" class="table table_bottom tablesorter">
	<thead>
		<tr class="table_heading" style="border-bottom:0px !important">
			<th class="sort_table">&ensp;Collection Name</th>
			<th style="width:86px" class="sort_table"># of Lots</th>
			<!-- <th style="width:15%;" class="sort_table">Description</th>
			<th style="width:10%;" class="sort_table">Status</th> -->

		</tr>
	</thead>
	<% @admin = RoleDefinition.find_by_Role_Definition("Admin") %>
    <% message_array = Array.new%>
    <% lot_status_array  = Array.new %>
	<% if @role.blank?%>
		<% @lot_collections.each do |lot_collection| %>
			<% message_array.clear() %>
			<% lot_status_array.clear() %>
		    <% roles = lot_collection.rds_lot_collections.map(&:Role_Definition_Id)%>
		    <% roles.delete(@admin.id)%>
		    <% c = 0%>
		    <% roles.each do |role|%>
		        <% x = RoleDefinition.find(role)%>
		        <% c = x.lot_collections.count %>
	        	<% message_array << c %>
	        <% end %>
		    <% count = message_array.include?(1) %>
		    <% lot_status = lot_collection.lot_collection_lots%>
		    <% lot_status.each do|c|%>
	      		<%status =  c.lot.Status unless c.lot.blank? %>
	      		<% lot_status_array << status %>
		    <% end %>
		    <% status = lot_status_array.any? { |x| ["Closed","Firm"].include?(x) } %>
			<% @lot_collection_count = LotCollectionLot.lot_count_for_collection(lot_collection.id) %>
			    <tr>
			    	<td>
			        	<%= lot_collection.collection_name%>
			        </td>
			        <td class="text-right">
			            <span class="collection_count"><%= lot_collection.lot_collection_lots.count %></span>
			        </td>

			        <!-- <td align="center">
			        	<%=lot_collection.description %>
			        </td>
			        <td>Active</td>	 -->		    
				</tr>
		<% end %>
		<tr>
			<td><b>Total</b></td>
			<td class="text-right"><b><%= @total_lots%></b></td>
			<!-- <td></td>
			<td></td> -->
		</tr>
	<% elsif  @role.present? %>
        <%= hidden_field_tag "role",@role %>
        <%@collection_for_role.each do |collection_for_role|%>
		    <% message_array.clear() %>
		    <% roles = collection_for_role.rds_lot_collections.map(&:Role_Definition_Id)%>
		    <% roles.delete(@admin.id)%>
		    <% c = 0%>
		    <% roles.each do |role|%>
		        <% x = RoleDefinition.find(role)%>
		        <% c = x.lot_collections.count %>
	        	<% message_array << c %>
	        <% end %>
	        <% count = message_array.include?(1) %>
	        <% lot_status = collection_for_role.lot_collection_lots%>
		    <% lot_status.each do|c|%>
		      	<%status =  c.lot.Status  unless c.lot.blank?%>
		      	<% lot_status_array << status %>
		    <% end %>
		    <% status = lot_status_array.any? { |x| ["Available","Firm"].include?(x) } %>
			<% @lot_collection_count = LotCollectionLot.lot_count_for_collection(collection_for_role.id) %>
	        <tr>
	          	<td>
	        		<%= collection_for_role.collection_name %>
				</td>		        
		        <td align="center">
		            <span class="collection_count"><%= @lot_collection_count %></span>
		        </td>
		       <!--  <td align="center"><%=collection_for_role.description %></td>
		        <td>Active</td>  -->			    
			</tr>
		<% end %>
	<% end %>
	<div id ="ajax_loader" style="display:none">
	    <%= image_tag "ajax-loader.gif", :alt => "loader", :id=> "ajax_loader_img" %>
	</div>
</table>

<script>
$(".delete_lot_collection").click(function(){ 
        // if(this.dataset.lot_collection_role_count == "false" && this.dataset.lot_status == "false" )
        if(this.getAttribute("data-lot_collection_role_count") == "false" )
        {
        	if($("#builder").length!=0)
        	{
        		builder = $("#builder").val();
        	}
        	else{ builder ="" }

        	if($("#role").length!=0)
        	{
        		role = $("#role").val();
        	}
        	else{ role="" }
            // status= this.dataset.status
            // id = this.dataset.lot_collection_id
            var result = confirm("Are you sure ?");
            $("#ajax_loader").css("display", "block");
            $("body").addClass("inactiveLink")
            if (result==true) {
                $.ajax({
                    type: "GET",
                    url: '/lot_collection/destroy',
                    data:{id : $(this).attr("data-lot_collection_id") , status : $(this).attr("data-status"), builder : builder, role : role},
                    success: function(data) { 
                        $("#collections_list").html(data);
                        $("#ajax_loader").css("display", "none");
                        $("body").removeClass("inactiveLink")
                      }
                });
            }
            else
            {
                $("#ajax_loader").css("display", "none");
                $("body").removeClass("inactiveLink")
            }
        }
        else{
        $("#delete_msg #delete_count").text();
            $("#delete_msg").modal({
                backdrop: false,
                keyboard: false,
                show: true
            });
   
            } 
        return false;
});

$(function(){
        $('table').tablesorter({
            widgets        : ['zebra', 'columns'],
            usNumberFormat : false,
            sortReset      : true,
            sortRestart    : true
        });
    });
</script>
<div class="modal fade" id="delete_msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="margin-bottom:2%">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <label style="float:left">Lot Collection Information</label>
        </div>
        <div class="modal-body">        
            <table class="table table_bottom" >
                <tr>
                    <td>
                        This lot collection has <label id="delete_count"></label> Roles or all the lots in the collection are not Available.
                    </td>
                </tr>
            </table>            
        </div>
        <div class="modal-footer" style="margin-top:0px !important">          
          <a href="#" class="cancel_text_color cancel_css_users_page" data-dismiss="modal">cancel</a>   
        </div>
      </div>      
    </div>
  </div>

