<%= select_tag "parcels_dropdown", options_for_select(@parcels), :onchange=>"showlots(this.value)", :class => "form-control parcel_dropdown", :autocomplete=>"off"%> 
<div id="show_lots"></div>

<script type="text/javascript">
parcel_selection = $("#parcels_dropdown").val();
showlots(parcel_selection);
function showlots(parcel_selection){
 $.ajax({
        type: "GET",
        url: '/lot_collection/lots_of_parcel',
        data: {Parcel: parcel_selection, Community: "<%= @community %>"},        
        success: function(data) {
          $("#show_lots").html(data);
        }
});
}
</script>

