
<%= javascript_include_tag "fieldChooser" %>
<%= stylesheet_link_tag  "fieldchooser" %> 
<div id="content" class='content_mid'>
 <div class="css_back_to_map_div" >
    <img src="/assets/back_arrow.png" class="css_back_arrow">
    <%= render :partial => 'layouts/back_to_map'%>  
</div>
<div class="col-xs-11 col-sm-10 col-md-8 col-sm-push-1 col-lg-6 col-lg-push-3 col-md-push-2 col_content_mid xs_cols_push">
<div class="names_align">View Lot Collections</div>
<hr style="margin-top:6%">
<div style="margin-top:2%">
    <%= form_tag "/lot_collection/#{@lot_collection.id}",:id=>"update_lot_collection_form", :method => :put do %>
        
      
      <table width="70%" style="margin-left:21%;">
          <tr>
            <td style="width:16%"><label> Name</label></td>
            <td><input type="text" name="name" value="<%= @lot_collection_name %>" class="input_filed_border lc_edit_txt_fld" style="width:58%;margin-left:3%;border:1px solid #dddddd" /></td>
          </tr>
          <tr>
            <td><label>Description</label></td>
            <td>
                <textarea type="text" name="description"class="input_filed_border lc_edit_txt_fld" style="width:58%;margin-left:3%;border:1px solid #dddddd" ><%= @lot_collection_desc %></textarea>
            </td>
          </tr>
       
            
      </table>
    	<%= render :partial => "lots_of_community"%>
        <div class="create_collection_button" style="margin-top:-1%">
         <button type="submit" class="btn btn-success "  style="margin-right:3px">Save</button>
         <a href="/lot_collection" class="cancel_text_color cancel_css_users_page"  style="margin-right:3px">cancel</a>
      </div>
    <% end %>    
</div>
</div>

<script>
 $(document).ready(function () {                
      
	$.validator.addMethod("registeredLotCollection", function(value, element){          
	    var registered_lot_collection = $.inArray($("#update_lot_collection_form .input_filed_border").val().toLowerCase(), <%= @lot_collections.map{|collection| collection.collection_name.downcase}.to_json.html_safe %>);                    
	    if(registered_lot_collection>-1){
		   return false
	    }else
	    {
	      return true   
	    }
	},"Lot Collection already registered");                

	$.validator.addMethod("requiredOne", function(value, element){                  
          var plan_collection_fields = $("input[name='floor_plan_ids[][plan_ids][]']").serializeArray();
          if(plan_collection_fields.length == 0){
            return false
          }else 
          {
            return true
          } 
      },"Atleast one Plan needs to be checked");

    $("#update_lot_collection_form").validate({    
      rules: {
       "lot_collection_name": {
        required : true,          
        registeredLotCollection: true,        
      	},
      	"floor_plan_ids[][plan_ids][]" :{
            requiredOne: true
        }     
      },
      messages: {
        "lot_collection_name": {
          required : "Please Enter Lot Collection Name",         
          registeredLotCollection: "Lot Collection already registered",        
        },        
        "floor_plan_ids[][plan_ids][]" :{
            requiredOne: "Atleast one Plan needs to be checked"
        }
      },
      errorElement: 'span',
        errorClass: 'help-block',
        highlight: function(element) {
            $(element).closest('.form-group').addClass('has-error');
        },
        unhighlight: function(element) {
            $(element).closest('.form-group').removeClass('has-error');
        },
        errorPlacement: function(error, element){
          if(element.attr("type") == "checkbox"){
            error.insertAfter('.plan_container');
          }
          else{
            error.insertAfter(element);
          }
        }     
      });                 
  });
</script>