<div id="content" class='content_mid'>
<div class="css_back_to_map_div">
    <img src="/assets/back_arrow.png" class="css_back_arrow">
    <%= render :partial => 'layouts/back_to_map'%>  
</div>
	<div class="col-xs-11 col-sm-10 col-md-6 col-lg-4 col-lg-push-4 col-sm-push-1 col-md-push-3 col_content_mid xs_cols_push plans_index">
			<div class="names_align lc_names_align">View Lot Collections</div>				
				<% if @role.blank? %>
				<% else %>
				<hr style="margin-top:5px;margin-bottom:5px">
				    <label style="margin-left:1%"> Role Name:</label> <%= @role_name%>
				<% end %>
				<div  id="collections_list" class=" table-responsive table_bottom">
					 <%= render :partial => "lot_collections_list"%>
				</div>
		</div>
</div>


