<%= javascript_include_tag "fieldChooser" %>
<%= stylesheet_link_tag  "fieldchooser" %> 
<div id="content" class='content_mid' > 
 <div class="css_back_to_map_div" >
    <img src="/assets/back_arrow.png" class="css_back_arrow">
    <%= render :partial => 'layouts/back_to_map'%>  
</div>
<div class="col-sm-4 col-md-6 col-sm-push-2 col-md-push-2 col_content_mid" style="width:63%;margin-left:3%">
<div class="names_align">View Lot Collections</div>

<hr style="margin-top:6%">

    <% if @builder_count>0 %>
        <%= form_tag "/lot_collection",:id=>"create_lot_collection_form", :method => :post do %>

         
            <table width="70%" style="margin-left:16%">

              <tr>
                <td width="26%" style="font-weight:bold;">Name: </td>
                <td width="75%"><input type="text" name="name" value="<%= @lot_collection_name %>" class="input_filed_border" style="width:65%;border:1px solid #dddddd" /></td>
              </tr>
              <tr>
                <td width="26%" style="font-weight:bold;">Description:</td>
                <td width="75%">
                    <textarea type="text" name="description" value="" class="input_filed_border" style="width:65%;border:1px solid #dddddd" ></textarea>
                </td>
              </tr>
              
            </table>

            <div id="community_dropdown"></div>                    
            <div class="create_collection_button" style="margin-top:1%">
                <button type="submit" class="btn btn-success" >Save</button>
                <a href="/lot_collection" class="cancel_text_color cancel_css_users_page">cancel</a>
            </div>
           
            
        <% end %>
    <% else %>
        Atleast One Builder is required to create a Lot Collection
        <a href="/builder/new" class="cancel_text_color cancel_css_users_page">Create Builder</a>
    <% end %>

</div></div>


<script>
    $(document).ready(function() {                                  
        $.validator.addMethod("registeredLotCollection", function(value, element){           
          var registered_lot_collection = $.inArray($("#create_lot_collection_form .input_filed_border").val().toLowerCase(), <%= @lot_collections.map{|collection| collection.collection_name.downcase}.to_json.html_safe %>);                    
          if(registered_lot_collection>-1){
            return false
          }else
          {
            return true   
          }
      },"Lot Collection already registered");                
      
      $.validator.addMethod("requiredOne", function(value, element){                  
          var plan_collection_fields = $("input[name='floor_plan_ids[][plan_ids][]']").serializeArray();
          if(plan_collection_fields.length == 0){
            return false
          }else 
          {
            return true
          } 
      },"Atleast one Plan needs to be checked");

      $("#create_lot_collection_form").validate({    
      rules: {
        "name": {
          required : true,          
          registeredLotCollection: true,        
        },
        "floor_plan_ids[][plan_ids][]" :{
            requiredOne: true
        }  
      },
      messages: {
        "name": {
          required : "Please Enter Lot Collection Name",         
          registeredLotCollection: "Lot Collection already registered",        
        },
        "floor_plan_ids[][plan_ids][]" :{
            requiredOne: "Atleast one Plan needs to be checked"
        }  
      },
      errorElement: 'span',
        errorClass: 'help-block',
        highlight: function(element) {
            $(element).closest('.form-group').addClass('has-error');
        },
        unhighlight: function(element) {
            $(element).closest('.form-group').removeClass('has-error');
        },
        errorPlacement: function(error, element){
          if(element.attr("type") == "checkbox"){
            error.insertAfter('.plan_container');
          }
          else{
            error.insertAfter(element);
          }
        }
      
      });

  });
</script>
