<div id="content" class='content_mid'>
<div class="modal-dialog" style="width:75%">
<div class="modal-content">
  <%= form_tag "/lot_collection/security_definition", :id=>"create_security_definition", :method => :post do %>
    <div class="form-group">
      <b>Security Definition Name:<span style="color:red">*</span></b> 
          <input type="text" name="security_definition" value="" style="border:1px solid #000000;border-radius:3px;padding-left:5px"/>
    </div>  

    <div class="form-group">
        <% LotCollection.all.each do |collection| %>
          <div>                                
            <a href="#"><span id="btn_views_expand_<%=collection.id%>" class="glyphicon glyphicon-plus expand" style="float:left;"></span></a>&nbsp;
            <a href="#"><span id="btn_views_collapse_<%=collection.id%>" class="glyphicon glyphicon-minus collapse" style="display:none;float:left;"></span></a>&nbsp;
          
          
            <%= check_box_tag "collection_keys_ids[][lot_collection_id]", collection.id %>
            <%= label_tag collection.collection_name%><br/>

              <div class="menu_options_list" id="menu_option_container_<%=collection.id%>" style="display:none;margin-left:5%;">
                <% MenuOption.all.each do |option| %>                  
                    <%= check_box_tag "collection_keys_ids[][menu_options_ids][]", option.Id %>
                    <%= label_tag option.MenuOptionName %><br/>                  
                <% end %><br/>&nbsp;
                
                <%= label_tag "Access Permissions:" %>
                <%= select_tag "role_access", options_for_select(Access.fetch_access), :name=>"collection_keys_ids[][role_access_id]" %><br/><br/>   

              </div>  
          </div>  
        <% end %>

        <%= submit_tag "Save", :class => "btn btn-primary", :id=> "update_images", :value => "Save"%>
        <a href='#' style="color:red;" class="cancel_btn_css">cancel</a>
    </div>                
  <% end %>
</div>
</div>
</div>


<script>
  $(document).ready(function(){
     $("span.expand").click(function(){
        var buttonId=$(this).attr('id'); 
        var objectId = buttonId.split("_").pop();
        $("#menu_option_container_"+objectId).css("display", "block");
        $("#btn_views_collapse_"+objectId).css("display", "block");
        $(this).css("display", "none");
     }); 
     $("span.collapse").click(function(){
        var buttonId=$(this).attr('id'); 
        var objectId = buttonId.split("_").pop();  
        $("#menu_option_container_"+objectId).css("display", "none");
        $("#btn_views_collapse_"+objectId).css("display", "none");
        $("#btn_views_expand_"+objectId).css("display", "block");
     });
  });
</script>
