
<div id="content" class='content_mid' style="margin-top:2%">
  <div class="col-sm-8 col-md-6 col-sm-push-2 col-md-push-3">
    <div class="panel panel-default panel-success">
      <div class="names_align">Manage Lot Collections</div>
      <br />
      <hr style="margin-bottom:5px">

        <table id="outer_table" class="lc_show" style="width:100%;">    
                <tr>
                   <td id="outer_td" style="width:100%">
                        <table class="table" style="margin-bottom:5px;">
                            <tr>
                                <td class="inner_td_border"><b>Lot Collection Name:</b></td>
                                <td class="inner_td_border" style="width:70%"><%= @lot_collection.collection_name %>&ensp;<b><%= link_to 'Edit', "/lot_collection/#{@lot_collection.id}/edit?view=show" %></b> </td>
                            </tr>
                            
                            <tr>
                                <td class="inner_td_border"><b>Description:</b></td>
                                <td class="inner_td_border"><%= @lot_collection.description %>&ensp;<b>

                                <%= link_to 'Edit', "/lot_collection/#{@lot_collection.id}/edit?view=show" unless @lot_collection.description.blank?%></b> </td>
                            </tr>
                         
                        </table>
                        <table class="table" style="margin-bottom:5px;">
                          <tr>
                            <td class="inner_td_border">
                              <b>Lot IDs:</b>
                              
                            </td><td class="inner_td_border" style="width:70%"><b><%= link_to 'Edit ', "/lot_collection/#{@lot_collection.id}/edit?view=show" %></b></td>
                          </tr>
                        </table>
                    </td>
                </tr>
        </table>

      <div id="index_plans" class="lc_show_plans" style="width:108px;margin-left:28%;height:198px">
                <%unless @selected_lots.nil? || @selected_lots.empty?%>
                  <% @selected_lots.each do |lot| %> 
                      <label style="font-weight:normal"><%= lot %></label>
                <% end %>
                <% end %>

      </div>

      <div style="float:right;margin-right:1%" class="lc_show_btn_list">
      	<%=link_to 'Lot Collection List', "/lot_collection" ,class:"btn btn-success"%>
      </div>
      <br /><br />
    </div>
  </div>
</div>