<div id="content" class='content_mid'>
  <div class="css_back_to_map_div" >
      <img src="/assets/back_arrow.png" class="css_back_arrow">
      <%= render :partial => 'layouts/back_to_map'%>  
  </div>
  <div class="flash_notice"><font size="3" color="red" align="center"><%= flash[:notice] %></font></div>
 <!--  <div > -->
    <!-- <div class="panel panel-success"> -->
    <div id="list_users" class="col-xs-11 col-sm-11 col-md-10 col-sm-push-0 col-md-push-1 col_content_mid xs_cols_push sm_cols_push" >
      <div class="panel-heading main_heading">
        Manage Users 
          <div class="btn-group btn-group-sm pull-right">               
          <a class="btn btn-success" id="create_user">Add User</a>
          <!-- <a href="/products" class="cancel_text_color cancel_css_users_page" >cancel</a>         -->
        </div>
      </div>  

      <% if @role.blank? %>
      <% else %>
          <label style="margin-top:1%">&ensp;Role Name:</label> <%= @role_name%>
      <% end %>
      <div class="table-responsive tblusers_div table_bottom">
        <table class="table tablesorter table_bottom tblusers_tbl" >
          <thead>
            <tr class="table_heading">
              <th class="sort_table">First Name</th>
              <th class="sort_table">Last Name</th>
              <th class="sort_table">Email Address</th>      
              <th class="sort_table">Registration Status</th>
              <th class="sort_table">Roles</th>
              <th class="sort_table">Date</th>
              <th>Email Notifications</th> 
              <th class="sortable_edit sort_table"></th>
              <th class="sortable_edit sort_table"></th>
              <th class="sortable_edit sort_table"></th>
            </tr>
          </thead>
          <% if @role.blank?%>
            <%  @users.each do |user|%>
              <tr>
                <td><%= user.First_Name %></td>
                <td><%= user.Last_Name %></td>
                <td><%= user.Email_Address %></td>      
                <td><%= user.Invitation_Status %></td>
                <td width="20%"><%= user.roles.map(&:Role_Definition).sort.join(', ') %></td>
                <td><%= user.Invitation_Date.strftime("%m/%d/%Y") unless user.Invitation_Date.nil? %></td>
                <td><%= user.Email_Notifications%></td>

                <% unless @udata.Email_Address == user.Email_Address %>
                  <% if user.Email_Address != "support@lotvue.com"%>
                    <td>
                      <a href="#" class="reinvite_user" data-email_address=<%= user.Email_Address %> data-first_name="<%= user.First_Name %>" data-last_name="<%= user.Last_Name %>" data-user_id=<%= user.ID%> data-user_group=<%= user.group.Group_Name %> data-user_group_id=<%= user.group.ID%> data-user_roles='<%= user.get_roles %>' data-user_email_notifications='<%= user.Email_Notifications %>' name="<%= user.Invitation_Action %>"><%= user.Invitation_Action%>
                      </a>
                    </td>
                 
                  
                    <td>
                      <a href="#" class="edit_user" data-email_address=<%= user.Email_Address %> data-first_name="<%= user.First_Name %>" data-last_name="<%= user.Last_Name %>" data-user_id=<%= user.ID%> data-user_group=<%=   user.group.Group_Name %> data-user_group_id=<%= user.group.ID%> data-user_roles='<%= user.get_roles %>' data-user_email_notifications='<%= user.Email_Notifications %>'>Edit
                      </a>
                    </td>       
                    <td>
                      <a href="#" class="delete_user lot_collection_index_delete" data-user_id=<%= user.ID%> data-email_address=<%= user.Email_Address %> >Delete
                      </a>
                    </td>
                    <% else %>
                    <td></td><td></td><td></td>
                    <% end %>
                <% else %>
                    <td></td><td></td><td></td>
                 <%end%>
              </tr>
            <% end %>
          <% else %>

            <%  @users_for_role.each do |user_role|%>
              <tr>
                <td><%= user_role.First_Name %></td>
                <td><%= user_role.Last_Name %></td>
                <td><%= user_role.Email_Address %></td>      
                <td><%= user_role.Invitation_Status %></td>
                <td width="20%"><%= user_role.roles.map(&:Role_Definition).sort.join(', ') %></td>
                <td><%= user_role.Invitation_Date.strftime("%m/%d/%Y") unless user_role.Invitation_Date.nil? %></td>      
                <% unless @udata.Email_Address == user_role.Email_Address %>
                    <td>
                      <a href="#" class="reinvite_user" data-email_address=<%= user_role.Email_Address %> data-first_name="<%= user_role.First_Name %>" data-last_name="<%= user_role.Last_Name %>" data-user_id=<%= user_role.ID%> data-user_group=<%= user_role.group.Group_Name %> data-user_group_id=<%= user_role.group.ID%> data-user_roles='<%= user_role.get_roles %>' name="<%= user_role.Invitation_Action %>"><%= user_role.Invitation_Action%>
                      </a>
                    </td>

                    <td>
                      <a href="#" class="edit_user" data-email_address=<%= user_role.Email_Address %> data-first_name="<%= user_role.First_Name %>" data-last_name="<%= user_role.Last_Name %>" data-user_id=<%= user_role.ID%> data-user_group=<%=   user_role.group.Group_Name %> data-user_group_id=<%= user_role.group.ID%> data-user_roles='<%= user_role.get_roles %>'>Edit
                      </a>
                    </td>       
                    <td>
                      <a href="#" class="delete_user lot_collection_index_delete" data-user_id=<%= user_role.ID%> data-email_address=<%= user_role.Email_Address %> >Delete
                      </a>
                    </td>

                  <% else %>
                    <td></td><td></td><td></td>
                 <%end%>
              </tr>
            <% end %>


          <%end %>    

        </table>
      </div>
    </div>
  <!-- </div> -->

    <div class="modal fade" id="edit_user_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:50%">
      <div class="modal-content">
        <%= form_tag update_info_users_url,:id=>"edit_user_form", :method => :post do %>
        <% if flash.now[:error] .present? %>
             <div class="help-block" id="login_error_msg"> 
              <%= flash.now[:error] %> 
             </div> 
            <% end %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">User Details</h4>
        </div>
        <div class="modal-body">        
          <div class="table-responsive">
            <table style="width:100%" class="table table-bordered table-striped table-hover">
              <%= hidden_field_tag "ID", '', :name => "user[ID]" %>
                <tr class="form-group">
                  <td style="width:50%" class="text_center">Email Address</td>
                    <td>
                  <label id="Email_Address" class="td_lbl_visible"></label>
                </td>
            </tr>
            <tr>
                  <td class="text_center">First Name*</td>
                    <td>
                  <%= text_field_tag "First_Name", "", :class => "form-control" , :name=>"user[First_Name]" %>
              </td>
            </tr>
            <tr>
                  <td class="text_center">Last Name*</td>
                    <td>
                  <%= text_field_tag "Last_Name", "", :class => "form-control" , :name=>"user[Last_Name]" %>
              </td>
            </tr>
            <tr>
                <td class="text_center">Roles</td>
                <td>
                    <% all_role_definitions.each do |rd|%>
                        <input type="checkbox" name="[Roles][]" value="<%= rd[1]%>" > <label><%= rd[0]%></label></input>
                         <br />
                    <% end %>
                </td>
            </tr>
            <tr id="enable_notification_tr" style="display:none">
              <td class="text_center">Email Notifications</td>
              <td>
                  <input type="checkbox"  id="enable_notification_chk"> <label> Enable</label></input>
              </td>
            </tr> 
            <%= hidden_field_tag "user[Email_Notifications]", "No" %>          
        </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" >Save</button>          
          <a href="#" class="cancel_text_color" data-dismiss="modal">cancel</a>          
        </div>
      </div>
      <% end %>
    </div>
  </div>


  <div class="modal fade" id="reinvite_user_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:50%">
      <div class="modal-content">
        <%= form_tag reinvite_info_users_url,:id=>"reinvite_info_form", :method => :post do %>
        <% if flash.now[:error] .present? %>
             <div class="help-block" id="login_error_msg"> 
              <%= flash.now[:error] %> 
             </div> 
            <% end %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">User Details</h4>
        </div>
        <div class="modal-body">        
          <div class="table-responsive">
            <table style="width:100%" class="table table-bordered table-striped table-hover">
              <%= hidden_field_tag "ID", '', :name => "user[ID]" %>
                <tr class="form-group">
                  <td style="width:50%" class="text_center">Email Address</td>
                  <td>
                    <label id="Email_Address" class="td_lbl_visible"></label>
                  </td>
                </tr>

                <tr>
                  <td class="text_center">First Name*</td>
                  <td>
                    <%= text_field_tag "First_Name", "", :class => "form-control" , :name=>"user[First_Name]" %>
                  </td>
                </tr>

                <tr>                  
                  <td class="text_center">Last Name*</td>
                  <td>
                    <%= text_field_tag "Last_Name", "", :class => "form-control" , :name=>"user[Last_Name]" %>
                  </td>
                </tr>

                <tr>
                  <td class="text_center">Roles</td>
                  <td>
                    <% all_role_definitions.each do |rd|%>
                      <input type="checkbox" name="[Roles][]" value="<%= rd[1]%>" ><label> <%= rd[0]%></label></input>
                         <br />
                    <% end %>
                  </td>
                </tr>
                <tr id="enable_notification_tr" style="display:none">
              <td class="text_center">Email Notifications</td>
              <td>
                  <input type="checkbox"  id="enable_notification_chk"> <label> Enable</label></input>
              </td>
            </tr>
                <%= hidden_field_tag "user[Email_Notifications]", "No" %>
            </table>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" >Invite</button>          
          <a href="#" class="cancel_text_color" data-dismiss="modal">cancel</a>          
        </div>
      </div>
      <% end %>
    </div>
  </div>


  <div class="modal fade" id="delete_user_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:50%">
      <div class="modal-content">
        <%= form_tag delete_info_users_url,:id=>"delete_user_form", :method => :post do %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">User Details</h4>
        </div>
        <div class="modal-body">           
              <%= hidden_field_tag "ID", '', :name => "user[ID]" %>                
        
                  Do you want to delete <label id="Email_Address" class="td_lbl_visible">Email Address</label> ?          
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" >Delete</button>          
          <a href="#" class="cancel_text_color" data-dismiss="modal">cancel</a>          
        </div>
      </div>
      <% end %>
    </div>
  </div>



    <div class="modal fade" id="create_user_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:50%">
      <div class="modal-content">
        <%= form_tag create_info_users_url,:id=>"create_user_form",:remote=>true, :method => :post do %>
        <% if flash.now[:error].present? %>
             <div class="help-block" id="login_error_msg"> 
              <%= flash.now[:error] %> 
             </div> 
            <% end %>
            <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">User Details</h4>
        </div>
        <div id="error_message"></div>
        <div class="modal-body">        
          <div class="table-responsive">
            <table style="width:100%" class="table table-bordered table-striped table-hover">             
              <tr class="form-group">
                  <td style="width:50%" class="text_center">Email Address*</td>
                    <td>                  
                  <%= text_field_tag "Email_Address", "", :class => "form-control" , :name=>"user[Email_Address]", :autocomplete=>"off"%>
                </td>
            </tr>    
            <tr>
                  <td class="text_center">First Name*</td>
                    <td>
                      <%= text_field_tag "First_Name", "", :class => "form-control" , :name=>"user[First_Name]", :autocomplete=>"off"%>
              </td>
            </tr>
            <tr>
                  <td class="text_center">Last Name*</td>
                    <td>
                      <%= text_field_tag "Last_Name", "", :class => "form-control" , :name=>"user[Last_Name]", :autocomplete=>"off"%>
              </td>
            </tr>          
            <tr>
                  <td class="text_center">Roles*</td>
                    <td>
                      <% all_role_definitions.each do |rd|%>
                        <input type="checkbox" name="[Roles][]" value="<%= rd[1]%>" > <label><%= rd[0]%></label></input>
                         <br />
                      <% end %>
              </td>
            </tr>
            <tr id="enable_notification_tr" style="display:none">
              <td class="text_center">Email Notifications</td>
              <td>
                  <input type="checkbox"  id="enable_notification_chk"> <label> Enable</label></input>
              </td>
            </tr>
            <%= hidden_field_tag "user[Access_Group]", 1 %>
            <%= hidden_field_tag "user[Email_Notifications]", "No" %>
        </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" value="save" name="save_only">Save & Invite Later</button>
          <button type="submit" class="btn btn-primary" value="invite" name="save_and_invite">Invite Now</button>          
          <a href='#' data-dismiss="modal" class="cancel_text_color">cancel</a>          
        </div>
      </div>
      <% end %>
    </div>
  </div>
   <div style="clear: both"></div><br />

</div>


<script>
$(".edit_user").click(function(){   
  var emailAddress=firstName=lastName=selectedUserGroup=userGroupID=ID=""
  // emailAddress = this.dataset.email_address    // doesn't work in
  // firstName =  this.dataset.first_name
  // lastName =  this.dataset.last_name
  emailAddress = this.getAttribute("data-email_address")  // getAttribute works in all browsers
  firstName =  this.getAttribute("data-first_name")
  lastName =  this.getAttribute("data-last_name")
  // userGroupID = this.dataset.user_group_id
  user_roles = this.getAttribute("data-user_roles").split(",")
  ID = this.getAttribute("data-user_id")
  email_notifications = this.getAttribute("data-user_email_notifications")
  $("#edit_user_modal #user_Email_Notifications").val(email_notifications)
  
  $("#edit_user_modal label#Email_Address").text(emailAddress); 
  $("#edit_user_modal input#First_Name").val(firstName); 
  $("#edit_user_modal input#Last_Name").val(lastName);
  $("#edit_user_modal #ID").val(ID);


  $.each($("#edit_user_form  input[name='[Roles][]']"), function(){        
    $(this).prop('checked', false);
  });
  $("#edit_user_modal  #enable_notification_tr").css("display","none");
  $('#edit_user_modal #enable_notification_chk').prop('checked', false);
  
  $.each(user_roles,function(index,va){
    $("#edit_user_form :checkbox[name='[Roles][]'][value='"+va+"']").prop('checked', true);
  });

  is_admin_role = false
  $.each($("#edit_user_modal input[name='[Roles][]']:checked"), function(){
    if($.trim($(this).next().text())=="Admin"){          
      is_admin_role = true;          
    }    
  });
  if(is_admin_role){
    $("#edit_user_modal  #enable_notification_tr").css("display","table-row");
    if(email_notifications=="Yes"){
      $('#edit_user_modal #enable_notification_chk').prop('checked', true);
    }else{
      $('#edit_user_modal #enable_notification_chk').prop('checked', false);
    }
  }
    $('#edit_user_modal').modal({
            backdrop: false,
            keyboard: false,
            show: true
          });    
    $('#edit_user_modal').on('hidden.bs.modal', function(){  
    $("#edit_user_form .form-group").removeClass('has-error');    
    edit_user_form_validation.resetForm();    
});   
})


$('.reinvite_user').click(function(){
  var emailAddress=firstName=lastName=selectedUserGroup=userGroupID=ID=""  
  // emailAddress = this.dataset.email_address;  
  emailAddress = this.getAttribute("data-email_address")
  firstName =  this.getAttribute("data-first_name")
  lastName =  this.getAttribute("data-last_name")
  user_roles = this.getAttribute("data-user_roles").split(",")
  ID = this.getAttribute("data-user_id")
  
  $("#reinvite_user_modal label#Email_Address").text(emailAddress); 
  $("#reinvite_user_modal input#First_Name").val(firstName); 
  $("#reinvite_user_modal input#Last_Name").val(lastName);
  $("#reinvite_user_modal #ID").val(ID);
  email_notifications = this.getAttribute("data-user_email_notifications")
  $("#edit_user_modal #user_Email_Notifications").val(email_notifications)
  

  $.each($("#reinvite_user_modal  input[name='[Roles][]']"), function(){        
    $(this).prop('checked', false);
  });
  $("#reinvite_user_modal  #enable_notification_tr").css("display","none");
  $('#reinvite_user_modal #enable_notification_chk').prop('checked', false);

  $.each(user_roles,function(index,va){
    $("#reinvite_user_modal :checkbox[name='[Roles][]'][value='"+va+"']").prop('checked', true);
  });

  is_admin_role = false
  $.each($("#reinvite_user_modal input[name='[Roles][]']:checked"), function(){
    if($.trim($(this).next().text())=="Admin"){          
      is_admin_role = true;          
    }    
  });
  if(is_admin_role){
    $("#reinvite_user_modal  #enable_notification_tr").css("display","table-row");
    if(email_notifications=="Yes"){
      $('#reinvite_user_modal #enable_notification_chk').prop('checked', true);
    }else{
      $('#reinvite_user_modal #enable_notification_chk').prop('checked', false);
    }
  }
    $('#reinvite_user_modal').modal({
          backdrop: false,
          keyboard: false,
          show: true
        });
    $('#reinvite_user_modal').on('hidden.bs.modal', function(){
    $("#reinvite_user_modal .form-group").removeClass('has-error');
    $("#reinvite_user_modal .form-group").removeClass('has-error');
    reinvite_user_form_validation.resetForm();
    });  
});


$(".delete_user").click(function(){  
  var emailAddress=ID=""
  emailAddress = this.getAttribute("data-email_address")
  ID = this.getAttribute("data-user_id")

    $("#delete_user_modal label#Email_Address").text(emailAddress);     
    $("#delete_user_modal #ID").val(ID);    
  
    $('#delete_user_modal').modal({
            backdrop: false,
            keyboard: false,
            show: true
          });       
})

$.validator.addMethod("registeredUser", function(value, element) { 
  var registered_users = $.inArray($("#create_user_form #Email_Address").val(), <%= @users.map{|user| user.Email_Address unless user.Is_Confirmed=="0"}.to_json.html_safe %>);  
   if(registered_users>-1){
    return false
   }
   else
   {
    return true
   }
},"User already registered");
  $.validator.addMethod("registrationPendingUser", function(value, element) { 
    var registered_users = $.inArray($("#create_user_form #Email_Address").val(), <%= @users.map{|user| user.Email_Address unless user.Is_Confirmed=="1"}.to_json.html_safe %>);  
     if(registered_users>-1){
      return false
     }
     else
     {
      return true
     }
  },"Invitation already sent, registration process pending");
  $.validator.addClassRules({
      registeredUser : { registeredUser : true },
      registrationPendingUser : { registrationPendingUser : true }  
  });

 var edit_user_form_validation = $("form#edit_user_form").validate({    
   rules: {          
          "user[First_Name]": {            
            required: true
        },
        "user[Last_Name]": {            
            required: true
        },
        "[Roles][]": {
          required: true
        }
      },
       messages: {
        "user[First_Name]": {
            required: "Please Enter First Name"
        },
         "user[Last_Name]": {
            required: "Please Enter Last Name"
        },
        "[Roles][]": {
          required: "Please Select Role(s)"
        }
    },
    errorElement: 'span',
    errorClass: 'help-block',
    highlight: function(element) {
        $(element).closest('.form-group').addClass('has-error');
    },
    unhighlight: function(element) {
        $(element).closest('.form-group').removeClass('has-error');
    },
    errorPlacement: function(error, element){          
           error.appendTo( element.parent());             
        } 
});

 var reinvite_user_form_validation = $("form#reinvite_info_form").validate({    
   rules: {          
          "user[First_Name]": {            
            required: true
        },
        "user[Last_Name]": {            
            required: true
        },
        "[Roles][]": {
          required: true
        }
      },
       messages: {
        "user[First_Name]": {
            required: "Please Enter First Name"
        },
         "user[Last_Name]": {
            required: "Please Enter Last Name"
        },
        "[Roles][]": {
          required: "Please select Role(s)"
        }
    },
    errorElement: 'span',
    errorClass: 'help-block',
    highlight: function(element) {
        $(element).closest('.form-group').addClass('has-error');
    },
    unhighlight: function(element) {
        $(element).closest('.form-group').removeClass('has-error');
    },
    errorPlacement: function(error, element){          
         error.appendTo( element.parent());             
    }           
});

  var create_user_form_validation = $("form#create_user_form").validate({    
   rules: {
          "user[Email_Address]": {            
              required: true,
              email: true,
              registeredUser: true,
              registrationPendingUser: true              
          },
           "user[First_Name]": {            
            required: true
        },
         "user[Last_Name]": {            
            required: true
        },
        "[Roles][]": {
          required: true
        }       
      },
       messages: {
        "user[Email_Address]": {            
            required: "Please Enter Email",
            email: "Please Enter Email in valid format",
            registeredUser: "User already registered",
            registrationPendingUser: "Invitation already sent, registration process pending"
        },
         "user[First_Name]": {
            required: "Please Enter First Name"
        },
         "user[Last_Name]": {
            required: "Please Enter Last Name"
        },
        "[Roles][]": {
          required: "Please select Role(s)"
        }  
    },
    errorElement: 'span',
    errorClass: 'help-block',
    highlight: function(element) {
        $(element).closest('.form-group').addClass('has-error');
    },
    unhighlight: function(element) {
        $(element).closest('.form-group').removeClass('has-error');
    },
    errorPlacement: function(error, element){          
           error.appendTo( element.parent());             
        }                 
});

$("#create_user").click(function(){
    $('#create_user_modal').modal({
            backdrop: false,
            keyboard: false,
            show: true
          });           
 $('#create_user_modal').on('hidden.bs.modal', function(){   
    $("#create_user_form .form-group").removeClass('has-error');
    create_user_form_validation.resetForm();
    $("#enable_notification_tr").css("display","none");    
});
});

  if (navigator.platform == "Win32")
    { 
      $('#list_users').css('margin' , '2% 0.3% 0 0%');
  }

  //email notifications logic while creating user
  $("#create_user_form  :checkbox[name='[Roles][]']").click(function(){
    var is_admin_role=false;
    $.each($("#create_user_form  input[name='[Roles][]']:checked"), function(){
      if($.trim($(this).next().text())=="Admin"){          
        is_admin_role = true;          
      }       
    });
    if(is_admin_role==true){
      $("#create_user_form  #enable_notification_tr").css("display","table-row")
    }else{    
      $('#create_user_form  #user_Email_Notifications').val("No");
      $('#create_user_form #enable_notification_chk').prop('checked', false);
      $("#create_user_form  #enable_notification_tr").css("display","none")    
    }   
  });

  $('#create_user_form #enable_notification_chk').change(function(){
      if(this.checked==true){
        $('#create_user_form #user_Email_Notifications').val("Yes");
      }else{
        $('#create_user_form  #user_Email_Notifications').val("No");
      }      
  });

  //email notifications logic while editing user

  $("#edit_user_form  :checkbox[name='[Roles][]']").click(function(){
    var is_admin_role=false;
    $.each($("#edit_user_form  input[name='[Roles][]']:checked"), function(){
      if($.trim($(this).next().text())=="Admin"){          
        is_admin_role = true;          
      }       
    });
    if(is_admin_role==true){
      $("#edit_user_form  #enable_notification_tr").css("display","table-row")
    }else{    
      $('#edit_user_form  #user_Email_Notifications').val("No");
      $('#edit_user_form #enable_notification_chk').prop('checked', false);
      $("#edit_user_form  #enable_notification_tr").css("display","none")    
    }         
  });

  $('#edit_user_form #enable_notification_chk').change(function(){
      if(this.checked==true){
        $('#edit_user_form #user_Email_Notifications').val("Yes");
      }else{
        $('#edit_user_form  #user_Email_Notifications').val("No");
      }      
  });
  
  //email notifications logic while re inviting user

  $("#reinvite_info_form  :checkbox[name='[Roles][]']").click(function(){
    var is_admin_role=false;
    $.each($("#reinvite_info_form  input[name='[Roles][]']:checked"), function(){
      if($.trim($(this).next().text())=="Admin"){          
        is_admin_role = true;          
      }       
    });
    if(is_admin_role==true){
      $("#reinvite_info_form  #enable_notification_tr").css("display","table-row")
    }else{    
      $('#reinvite_info_form  #user_Email_Notifications').val("No");
      $('#reinvite_info_form #enable_notification_chk').prop('checked', false);
      $("#reinvite_info_form  #enable_notification_tr").css("display","none")    
    }    
  });

  $('#reinvite_info_form #enable_notification_chk').change(function(){
      if(this.checked==true){
        $('#reinvite_info_form #user_Email_Notifications').val("Yes");
      }else{
        $('#reinvite_info_form  #user_Email_Notifications').val("No");
      }      
  });

</script>
<%= javascript_include_tag  "jquery.tablesorter.min.js" %>
<%= javascript_include_tag  "jquery.tablesorter.widgets.js" %>
<%= stylesheet_link_tag    "theme.default" %>
<script>
    $(function(){
        $('table').tablesorter({
            widgets        : ['zebra', 'columns'],
            usNumberFormat : false,
            sortReset      : true,
            sortRestart    : true
        });
    });
</script>

