<div id="content" class='content_mid'>
	<!-- <div class="col-xs-8 col-sm-6 col-md-4 col-sm-push-3 col-md-push-4 col-lg-2 col-lg-push-5 col_content_mid xs_egt_push"> -->
	<div class="col-xs-11 col-sm-8 col-md-4 col-sm-push-2 col-md-push-4 col_content_mid xs_cols_push" >
		<div class="names_align">&ensp;Manage Option Lots Status</div>
		<br />
		<hr>
		<div>
		    <%= form_tag "/option_lots_status/#{@option_details.id}",:id=>"update_spec_aging_form", :method => :put do %>
		        <table>
		            <tr>
						<td class="edt_type_td">&ensp;&ensp;Option Lots&emsp;</td>
						<td>
						<% if @yes_checked == "true"%>
						 	<input type="radio" name="option_lots" value="Yes" id="yes_option" class="align_radio_n_lbl" checked >&nbsp;Yes&emsp;
						<% else %>
						 	<input type="radio" name="option_lots" value="Yes" id="yes_option" class="align_radio_n_lbl">&nbsp;Yes&emsp;
						<% end %>
						<% if @no_checked == "true"%>
						 	<input type="radio" name="option_lots" value="No" id="no_option" class="align_radio_n_lbl" checked >&nbsp;No
						<% else %>
							<input type="radio" name="option_lots" value="No" id="no_option" class="align_radio_n_lbl">&nbsp;No
						<% end %>
						</td>
					</tr>
			    </table><br />
			    <div class="create_collection_button"  style="margin-top:-4%">
			       <button type="submit" class="btn btn-success option_lots_sub_btn" style="margin-right:3px">Save</button>
			    	<a href="/option_lots_status" class="cancel_text_color cancel_css_users_page"  style="margin-right:3px">cancel</a>
			    </div>
		    <% end %>    
		</div>
	</div>
</div>


<div id ="ajax_loader" class="loader" style="display:none;margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%;">
    <p style="position: absolute; top: 50%; left: 45%;">
    <%= image_tag "ajax-loader.gif", :alt => "loader", :id=> "ajax_loader_img" %>
    </p>
</div>

<script>
	$(".option_lots_sub_btn").click(function(e){
		var result = confirm("Are you sure ?");
		if(result == true){
			$("#ajax_loader").css("display","block");
		}
		else{
			e.preventDefault();
		}
	})
</script>