<div id="content" class='content_mid'>
<div class="css_back_to_map_div" >
    <img src="/assets/back_arrow.png" class="css_back_arrow">
    <%= render :partial => 'layouts/back_to_map'%>  
</div>


<div class="col-xs-11 col-sm-8 col-md-4 col-sm-push-2 col-md-push-4 col_content_mid xs_cols_push" >
<!-- <div class="col-xs-8 col-sm-6 col-md-4 col-sm-push-3 col-md-push-4 col-lg-2 col-lg-push-5 col_content_mid xs_egt_push"> -->

<div class="names_align">Manage Option Lots Status</div>
<div class="buttons_list" style="margin-top:1.6%;margin-bottom:0.8%">
<!-- <=link_to 'Add Lot Type', "/spec_aging/new" ,class:"btn btn-success", :id=>"hello"%> -->
</div>
<br />
<div id="option_lots_status_list">
    <!-- <= render :partial => "spec_aging"%> -->
    <table id="outer_table" class="table lot_collection_table table_bottom tablesorter" style="margin-top:5%">
    <thead>
        <tr class="table_heading">
            <th class="sort_table">Option Lots Status</th>
            <th class="sortable_edit sort_table"></th>
        </tr>
    </thead>
    <%unless @option_lots.blank?%>
            <tr>
                <td class="lot_collection_button_table_td">          
                     <%= @option_lots.option_lots %>
                </td>
               <td class="text-center">
                    <%=link_to 'Edit ', "/option_lots_status/#{@option_lots.id}/edit" %>  
                </td>
            </tr> 
    <%else%>
        <tr>
        <td colspan="3">
            <center>No data added</center>
        </td>
        </tr>
    <%end%>
    <div id ="ajax_loader" style="display:none">
        <%= image_tag "ajax-loader.gif", :alt => "loader", :id=> "ajax_loader_img" %>
    </div>
</table>

<%= javascript_include_tag  "jquery.tablesorter.min.js" %>
<%= javascript_include_tag  "jquery.tablesorter.widgets.js" %>
<%= stylesheet_link_tag    "theme.default" %>
<script>
    $(function(){
        $('table').tablesorter({
            widgets        : ['zebra', 'columns'],
            usNumberFormat : false,
            emptyTo        : 'none',
            sortRestart    : true
        });
    });
</script>

</div>
</div>
</div>
