
<table id="outer_table" class="table lot_collection_table table_bottom tablesorter" style="margin-top:5%">
<thead>
<tr class="table_heading">
    <th class="sort_table">Lot Type</th>
     <td class="sort_table">Status</td>
    <th class="sortable_edit sort_table"></th>
</tr>
</thead>

<%unless @lot_types.blank?%>
<%@lot_types.each do |lot_type|%>
<% count =  Tbldatum.all.select{|x| x.Lot_Type_Id.include?(lot_type.id.to_s) unless x.Lot_Type_Id.blank?}.count %>     
    <% if lot_type.Is_Active !=0 %>   
            <tr>
                <td class="lot_collection_button_table_td">          
                     <%= lot_type.Lot_Type %>
                </td>
                <td>Active</td>
                 <td style="text-align:center">
                    <%=link_to 'Edit ', "/lot_types/#{lot_type.id}/edit" %>  
                    <% if  count !=0 %>
                 <a id="delete_status_key" style="cursor:pointer" class="delete_status_key delete_pointer lot_collection_index_delete" data-status_color_count="<%= count%>" data-status_key_id=<%= lot_type.id %> data-status="archive">Archive</a>
            <% else %>
                 <a id="delete_status_key" style="cursor:pointer" class="delete_status_key delete_pointer lot_collection_index_delete" data-status_color_count="<%= count%>" data-status_key_id=<%= lot_type.id %> data-status="archive">Delete</a>
            <% end %>                  
               </td>
            </tr> 
    <%else%>
         <tr>
        <td class="lot_collection_button_table_td">          
            <%= lot_type.Lot_Type %>
        </td>         
        <td>Archived</td>
        <td style="text-align:center">
            <a style="cursor:default">Edit</a>
            <a style="cursor:pointer" class="delete_status_key delete_pointer lot_collection_index_delete" data-status="active" data-status_color_count="<%=count%>" data-status_key_id=<%= lot_type.id %> >Activate</a>
        </td>
    </tr>  
    <%end%> 
<% end %>
<%else%>
    <tr>
    <td colspan="3">
        <center>No lot Types added</center>
    </td>
    </tr>
<%end%>
<div id ="ajax_loader" style="display:none">
    <%= image_tag "ajax-loader.gif", :alt => "loader", :id=> "ajax_loader_img" %>
</div>
</table>

<%= javascript_include_tag  "jquery.tablesorter.min.js" %>
<%= javascript_include_tag  "jquery.tablesorter.widgets.js" %>
<%= stylesheet_link_tag    "theme.default" %>
<script>
    $(function(){
        $('table').tablesorter({
            widgets        : ['zebra', 'columns'],
            usNumberFormat : false,
            emptyTo        : 'none',
            sortRestart    : true
        });
    });
</script>
<script>
$(".delete_status_key").click(function(){         
            status = this.dataset.status            
            var result = confirm("Are you sure ?");
            $("#ajax_loader").css("display", "block");
            $("body").addClass("inactiveLink")
        if(this.getAttribute("data-status_color_count")!=0)
        {
            if (result==true) {
                $.ajax({
                    type: "GET",
                    url: '/lot_types/change_status',
                    data:{id : this.getAttribute("data-status_key_id"), status : this.getAttribute("data-status")},
                    success: function(data) { 
                        $("#lot_types_list").html(data);
                        $("#ajax_loader").css("display", "none");
                        $("body").removeClass("inactiveLink")
                      }
                });
            }
            else
            {
                $("#ajax_loader").css("display", "none");
                $("body").removeClass("inactiveLink")
            }
        }
         else
        {
            if (result==true) {
                $.ajax({
                    type: "GET",
                    url: '/lot_types/destroy',
                    data:{id : this.getAttribute("data-status_key_id"), status : this.getAttribute("data-status")},
                    success: function(data) { 
                        $("#lot_types_list").html(data);
                        $("#ajax_loader").css("display", "none");
                        $("body").removeClass("inactiveLink")
                      }
                });
            }
            else
            {
                $("#ajax_loader").css("display", "none");
                $("body").removeClass("inactiveLink")
            }
        }
});
</script>