<div id="content" class='content_mid'>
<div class="col-xs-8 col-sm-6 col-md-4 col-sm-push-3 col-md-push-4 col_content_mid xs_egt_push">
<div class="names_align" style="margin-top:4%">&ensp;Manage Lot Types</div>
<br />
<hr>
<div>
    <%= form_tag "/lot_types/#{@lot_type_details.id}",:id=>"update_lot_type_form", :method => :put do %>
    
           <table>
             <tr>
    				<td class="edt_type_td">&emsp;Lot Type </td>
    				<td>&emsp;<input type="text" name="lot_type" value="<%= @lot_type %>"   class="input_filed_border" placeholder = "Enter Lot Type" />
    				</td>
    			</tr>
            
          </table><br />

   <div class="create_collection_button"  style="margin-top:-4%">
       <button type="submit" class="btn btn-success" style="margin-right:3px">Save</button>
    	<a href="/lot_types" class="cancel_text_color cancel_css_users_page"  style="margin-right:3px">cancel</a>
    </div>

    <% end %>    
</div>
</div></div>
<%= javascript_include_tag  "lot_collection" %> 

<script>

	$(document).ready(function() {							
		$.validator.addMethod("registeredBuilder", function(value, element){			
			var registered_builder = $.inArray($("#update_lot_type_form .input_filed_border").val().toLowerCase(), 
				<%= @lot_types.map{|lot_type| lot_type.Lot_Type.downcase}.to_json.html_safe unless @lot_types.nil?%>);
			if(registered_builder>-1){
				return false
			}else
			{
				return true		
			}			 
		},"Lot Type Already registered");

		$("#update_lot_type_form").validate({		
			rules: {
				"lot_type": {
					required : true,					
					registeredBuilder: true,				
				},
				
			},
			
			messages: {
				"lot_type": {
          required : "Please Enter lot Type",          
          registeredBuilder: "Lot Type Already registered",        
        }
			},
			errorElement: 'span',
    		errorClass: 'help-block',
		    highlight: function(element) {
		        $(element).closest('.form-group').addClass('has-error');
		    },
		    unhighlight: function(element) {
		        $(element).closest('.form-group').removeClass('has-error');
		    }			
		});					

		
	});
</script>
