<div id="content" class='content_mid'>
<div class="css_back_to_map_div" >
    <img src="/assets/back_arrow.png" class="css_back_arrow">
    <%= render :partial => 'layouts/back_to_map'%>  
</div>


<div class="col-xs-11 col-sm-8 col-md-4 col-sm-push-2 col-md-push-4 col_content_mid xs_cols_push" >

<div class="names_align">Manage Lot Types</div>
<div class="buttons_list" style="margin-top:1.6%;margin-bottom:0.8%">
<%=link_to 'Add Lot Type', "/lot_types/new" ,class:"btn btn-success", :id=>"hello"%>
</div>
<br />
<div id="lot_types_list">
    <%= render :partial => "lot_type"%>
</div>
</div>
</div>
<script>
    $(function(){
        $('table').tablesorter({
            widgets        : ['zebra', 'columns'],
            usNumberFormat : false,
            sortReset      : true,
            sortRestart    : true
        });
    });
</script>