<div id="content" class='content_mid'>
<div class="col-sm-4 col-md-6 col-sm-push-4 col-md-push-3">
<div class="panel panel-default panel-success">
<div class="names_align">Manage Lot Types</div>
<br />
<hr>
<table id="outer_table">

        <tr>
           <td id="outer_td">
                <table>
                    <tr>
                        <td class="inner_td_lotlevel"><b>Lot Type:</b></td>
	                           <td><%= @lot_type_details.Lot_Type %></td>
                    </tr>
     	  </table>
        </td></tr>
</table>
<div style="float:right;margin-right:1%">    
	<%=link_to 'Edit ', "/lot_types/#{@lot_type_details.id}/edit" ,class:"btn btn-success"%>
	<%=link_to 'Add lot Type', "/lot_types/new" ,class:"btn btn-success"%>
	<%=link_to 'lot Type List', "/lot_types" ,class:"btn btn-success"%>
</div>
		<br /><br />
	</div>
	</div>

</div>
