<!-- content -->
<div id="content" class='content_mid'>

<div class="row">
  <div class="col-sm-4 col-md-4 col-sm-push-4 col-md-push-4" style="">      
      <div class="panel panel-default panel-success">             
        <div class="panel-heading">
           <h3 class="panel-title">Reset Password</h3>
        </div>
          <div class="panel-body">

        <%= form_tag :controller => 'home', :action => 'confirm_forgotpwd_signin', :method => :post do %>
        <% if flash.now[:error].present? %>
             <div class="help-block" id="login_error_msg"> 
              <%= flash.now[:error] %> 
             </div> 
            <% end %>

        <%= hidden_field_tag "Email_Address", params[:Email_Address], :name => "Email_Address" %>
            <%= hidden_field_tag "token", params[:token], :name => "token" %>

          <div class="form-group">
            <label for="password">Enter New Password*</label>
                  <%= password_field_tag "Password", "", :class => "form-control" , :name=>"user[Password]" %>
          </div>          
          <div class="form-group">
            <label for="confoirm_password">Re-enter Confirm Password*</label>
                  <%= password_field_tag "ConfirmPassword", "", :class => "form-control" , :name=>"user[ConfirmPassword]" %>
          </div>

          <button type="submit" class="btn btn-primary" onclick = 'return passwordform();' >Update</button>          
      <% end %>

      </div>
      </div>      
  </div>
</div>
</div>
<script type="text/javascript">

function passwordform(){

  var pass1 = document.getElementById("Password").value;
  var pass2 = document.getElementById("ConfirmPassword").value;

  if (pass1 == "" || pass2 ==""){
    alert('Please enter password/confirm password');
    return false;
  }
  if (pass1 != pass2) { 
   alert("Your password and confirmation password do not match.");
   return false; 
}   
}

</script>