<!-- content -->
<div id="content" class='content_mid'>

<div class="row">
	<div class="col-sm-4 col-md-4 col-sm-push-4 col-md-push-4" style="">			
			<div class="panel panel-default panel-success">  						
				<div class="panel-heading">
					 <h3 class="panel-title">Forgot Password</h3>
				</div>
			    <div class="panel-body">
			    <%= form_tag "/home/update_forgotpwd",:id=>'login_form' do|f| %>
			      <% if flash.now[:error].present? %>
			    	 <div class="help-block" id="login_error_msg"> 
			    	 	<%= flash.now[:error] %> 
			    	 </div>	
			      <% end %>			      
			      <% if flash[:notice].present? %>
			    	 <div class="help-block" id="login_error_msg"> 
			    	 	<%= flash[:notice] %> 
			    	 </div>	
			      <% end %>
		    	  <div class="form-group">
				    <label for="email_address">Email address*</label>
				    <input type="email" class="form-control" id="email_address" placeholder="Enter email" name="email_address">
				  </div>
				  <button  type="submit" class="btn btn-success pull-right">Submit</button>				  
			    <% end %>
				<%= link_to "<<Back To Home",'/' %>

			</div>
			</div> 			
	</div>
</div>
</div>