
<!-- content -->
		<div id="top"></div>
		<div id="content"><div class="inner_copy"></div>
			<div id="right">
				<h1>Latest Updates</h1>
				<div class="right_b">
					<img src="/assets/temp/img2.jpg" class="img" alt="" /><span>Sold Lots</span><br />
					Sed a tortor in erat fermentum dapibus. Vestibulum at mi arcu, quis varius <br />enim. Proin neque metus, ullamcorper vitae pharetra nec, laoreet ut arcu. Pellentesque et libero vitae ligula
					<div class="read"><a href="#">read more</a></div><br /><br />
				</div>
				<div class="right_b">
					<img src="/assets/temp/img3.jpg" class="img" alt="" /><span>Allocated Lots</span><br />
					Sed a tortor in erat fermentum dapibus. Vestibulum at mi arcu, quis varius <br />enim. Proin neque metus, ullamcorper vitae pharetra nec, laoreet ut arcu. Pellentesque et libero vitae ligula
					<div class="read"><a href="#">read more</a></div><br /><br />
				</div>
				<div class="right_b">
					<img src="/assets/temp/img4.jpg" class="img" alt="" /><span>Vacant Lots</span><br />
					Sed a tortor in erat fermentum dapibus. Vestibulum at mi arcu, quis varius <br />enim. Proin neque metus, ullamcorper vitae pharetra nec, laoreet ut arcu. Pellentesque et libero vitae ligula
					<div class="read"><a href="#">read more</a></div><br /><br />
				</div><br />
			</div> 
			<div id="left">
				<div class="tit_bot">
					<h1>LogicMatter</h1>
					<div class="text">
					
						<p>A welcome alternative to life in the conventional sprawl, LogicMatter's thoughtfully laid out community blends a network of walking paths, green spaces, new homes, and businesses.</p>
						<p>
Here you'll find a walkable, close-knit community where there's time to enjoy an active life.<br /> And that's a good thing because being centrally located has benefits... just minutes to downtown and the region's best parks and recreation.<br />
						</p>
						<div class="read"><a href="#">read more</a></div><br />
					</div>
					<div class="text">
						<img src="/assets/temp/img1.jpg" width="120" height="80" class="img_fr" alt="" />
						<ol>
							<li><a href="#">Walking paths</a></li>
							<li><a href="#">Green spaces</a></li>
							<li><a href="#">New homes</a></li>
							<li><a href="#">Business</a><br /></li>
						</ol><br />
					</div>
				</div>
				<div class="razd"></div>
				<div class="tit_bot">
					<div class="col_l">
						<div class="col_top"><h5>Properties</h5></div>
						<div class="col_mid">
							<img src="/assets/temp/img5.jpg" width="110" height="83" class="img" alt="" /><span>Morbi dignissim varius risus eu ullamcorper.</span><br />
							Morbi lacinia mauris lectus. Maecenas dignissim cursus lobortis. Praesent <br />
							varius risus eu ullamcorper. Morbi lacinia mauris lectus. Maecenas dignissim cursus lobortis. Praesent malesuada gravida metus sit amet... 
							<div class="read"><a href="#">read more</a></div>
						</div>
						<div class="col_bot"></div>
					</div> 
					<div class="col_r">
						<div class="col_top"><h5>Builders</h5></div>
						<div class="col_mid">
							<img src="/assets/temp/img6.jpg" width="110" height="83" class="img" alt="" /><span>Quisque id enim tincidunt libero tempus aliquet. </span><br />
							Sed a tortor in erat fermen- tum dapibus. Vestibulum at mi arcu, quis varius enim. <br />
							Proin neque metus, ullamcorper vitae pharetra nec, laoreet ut arcu. Pellentesque et libero vitae... 
							<div class="read"><a href="#">read more</a></div><br />
						</div>
						<div class="col_bot"></div>
					</div>
				</div>
			</div><br />
			<div style="clear: both"></div><br />
		</div><br />
<!-- / content  -->
