<html>
  <div id="content" class='content_mid'>
	<head>  
	  <style type="text/css">	    
	    div.dialog {
	      width: 35em;	      
	      margin: 16em auto 0 auto;	      
	    }
	    h1 { font-size: 20px; color: #f00; border: 2px solid #ccc; padding: 10px; text-align: center;}
	  </style>
	</head>
	<body>	  
	  <div class="dialog">
	    <h1>Sorry.The Link has expired</h1>
	  </div>
	</body>
  </div>
</html>
