<!-- content -->
<div id="content" class='content_mid'>

<div class="row">
  <div class="col-sm-4 col-md-4 col-sm-push-4 col-md-push-4" style="">      
      <div class="panel panel-default panel-success">             
        <div class="panel-heading">
           <h3 class="panel-title">User Registration</h3>
        </div>
          <div class="panel-body">

        <%= form_tag :controller => 'home', :action => 'update_registration', :method => :post do %>
        <% if flash.now[:error].present? %>
             <div class="help-block" id="login_error_msg"> 
              <%= flash.now[:error] %> 
             </div> 
            <% end %>

            <%= hidden_field_tag "Email_Address", params[:Email_Address], :name => "Email_Address" %>
            <%= hidden_field_tag "token", params[:token], :name => "token" %>

          <div class="form-group">
            <label for="first_name">First Name*</label>
              <%= text_field_tag "First_Name", @user.First_Name, :class => "form-control" , :name=>"user[First_Name]" %>
          </div>  
          <div class="form-group">
            <label for="last_name">Last Name*</label>
              <%= text_field_tag "Last_Name", @user.Last_Name, :class => "form-control" , :name=>"user[Last_Name]" %>
          </div>         
          <div class="form-group">
            <label for="password">Password*</label>
                  <%= password_field_tag "Password", "", :class => "form-control" , :name=>"user[Password]" %>
          </div>          
          <div class="form-group">
            <label for="first_name">Confirm Password*</label>
              <%= password_field_tag "ConfirmPassword", "", :class => "form-control" , :name=>"user[ConfirmPassword]" %>
          </div>           

          <button type="submit" class="btn btn-primary" onclick = 'return validateform();' >Register</button>          
      <% end %>
      </div>
      </div>      
  </div>
</div>
</div>
<script type="text/javascript">

function validateform(){

  var pass1 = document.getElementById("Password").value;
  var pass2 = document.getElementById("ConfirmPassword").value;
  var first_name = document.getElementById("First_Name").value;
  var last_name = document.getElementById("Last_Name").value;

  if (first_name ==""){
    alert('Please enter First Name');
    return false;
  }
  if (last_name ==""){
    alert('Please enter Last Name');
    return false;
  }
  if (pass1 == "" || pass2 ==""){
    alert('Please enter password/confirm password');
    return false;
  }
  if (pass1 != pass2) { 
   alert("Your password and confirmation password do not match.");
   return false; 
}   
}

</script>
