<!-- content -->
<div id="content" class='content_mid'>

<div class="row">
	<div class="col-sm-4 col-md-4 col-sm-push-4 col-md-push-4" style="">			
			<div class="panel panel-default panel-success">  						
				<div class="panel-heading">
					 <h3 class="panel-title">Update Password</h3>
				</div>
			    <div class="panel-body">
			    <%= form_tag "/home/update_password" ,:id=>"update_password_form" do|f| %>
			      <% if flash.now[:error].present? %>
			    	 <div class="help-block" id="update_error_msg"> 
			    	 	<%= flash.now[:error] %> 
			    	 </div>	
			      <% end %>
		    	  <div class="form-group">				    
				  <div class="form-group">
				    <label for="password">Current Password*</label>
				    <input type="password" class="form-control" id="old_password" placeholder="Current Password" name="old_password">
				  </div>				  
				  <div class="form-group">
				    <label for="password">New Password*</label>
				    <input type="password" class="form-control" id="password" placeholder="Enter New Password" name="password">
				  </div>
				  <div class="form-group">
				    <label for="password">Confirm New Password*</label>
				    <input type="password" class="form-control" id="ConfirmPassword" placeholder="Confirm Password" name="ConfirmPassword">
				  </div>				  
				  <button  type="submit" class="btn btn-success pull-right" onclick = 'return changePasswordform();'>Update</button>
				  <a href="/products" class="cancel_text_color cancel_css_users_page">cancel</a>
			    <% end %>
			</div>
			</div> 			
	</div>
</div>
</div>
<script type="text/javascript">

function changePasswordform(){

  var oldpass = document.getElementById("old_password").value;
  var pass1 = document.getElementById("password").value;
  var pass2 = document.getElementById("ConfirmPassword").value;

  if (oldpass==""){
    alert('Please enter Current password');
    return false;
  }

  if (pass1 == "" || pass2 ==""){
    alert('Please enter password/confirm password');
    return false;
  }

  if (pass1 != pass2) { 
   alert("Your password and confirmation password do not match.");
   return false; 
}   
}

</script>