<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Newland LotVue</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width">
<%= stylesheet_link_tag    "bootstrap" %>
  <%= stylesheet_link_tag    "jquery-ui" %>
  <%= stylesheet_link_tag    "common" %>  
  <%= stylesheet_link_tag    "zebra_datepicker" %>  
<link href="/assets/styles.css" rel="stylesheet" type="text/css" />
<style>
div #label_id
{
  color : #FF0000 ;
  font-size:18px;
  font-weight: normal;
  position:absolute !important;
 
  left: 43% !important;
  top: 50% !important;
  margin-left: -130px !important;
  margin-top: -50px !important;
}
</style>
<%#= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
<meta equiv="X-UA-Compatible" content="chrome=1">
</head>
<body>
  <div id="bg">
      <!-- main -->
      <div id="main">
          <!-- header -->
          <div id="header">
            <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
              <div class="container">
                  <div class="navbar-header">
                  <img src="/assets/logo.png" class="logo-margin-padding">    
                  </div>          
                  <div class="navbar-collapse collapse"></div>           
              </div>
            </div>
          </div>          
          <!-- / header-->
          <!-- <div class="container" > -->

        <div id="content" class="content_mid">   
          <div id="label_id">
           Reset password link is sent            
          </div>  
        </div>
      </div>
         
  </div>

  <%= javascript_include_tag "bootstrap.min" %>
  </body>
</html>