<div class="row">	
	<div id="content" class='content_mid'>
	<div class="flash_notice"><font size="3" color="red" align="center"><%= flash[:notice] %></font></div>
	<div class="col-xs-10 col-sm-6 col-md-4 col-sm-push-3 col-md-push-4 xs_ten_push" style="">
			<div class="panel panel-default panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">Sign in</h3>
				</div>	
				<div class="panel-body">					
				<%= form_tag "/home/sign_in_process", :method=>:post  do %>					
					<div class='error_msg'><%= flash[:msg] if flash[:msg].present?%></div>		
					<div class="form-group">
					    <label for="email_address">Email address*</label>
					    <input type="email" class="form-control" id="email_address" placeholder="Enter email" name="Email_Address">
				  	</div>
					<div class="form-group">
					    <label for="password">Password*</label>
					    <input type="password" class="form-control" id="password" placeholder="Enter Password" name="Password">
					</div>
					
					<button  type="submit" id="submit_button" class="btn btn-success pull-right">Sign in</button>	
						
						
				<% end %>	
				<%= link_to "Forgot Password",'/home/forgotpwd' %>
			</div>	
			</div>	
	</div>	
</div>	