<div class="row">	
	<div id="content" class='content_mid'>
	<div class="flash_notice"><font size="3" color="red" align="center"><%= flash[:notice] %></font></div>
	<div class="col-sm-4 col-md-4 col-sm-push-4 col-md-push-4" style="">
			<div class="panel panel-default panel-success">		
				<div class="panel-body">					
				 You are not an authorised user to view this page
				</div>	
			</div>	
	</div>	
</div>	