
<%= form_tag images_add_images_path, :id=>"add_images" do %>
<%= hidden_field_tag "lot_id", lot_id %>
<%= hidden_field_tag "lot_number", lot_number %>
<%= hidden_field_tag "user_role", user_role %>   
<%= hidden_field_tag "parent_tab_id", parent_tab_id %>    
<%= hidden_field_tag "access_permission", access_permission %>    
<%= hidden_field_tag "product_type", product_type %> 
<%= hidden_field_tag "community", community %> 
<%= hidden_field_tag "phase_parcel", phase_parcel %> 

  <% if images.count > 0 %>
  <div id="edit_lot_images" style="z-index:4000">     
      <table class="table scroll_body" style="display:table;width:100%">
      <thead style="float:left;width:100%">
        <tr class="table_heading">
          <td>Image</td>
          <td>Add</td>
          <td>Delete</td>
        </tr>
        </thead>
      <tbody style="float:left;width:100%;overflow:auto;height:299px">
        <% unless images.empty?%>

          <%images.each do |image|%>
          <%= hidden_field_tag "image_galleries[][product_type]", @opted_product%>
          <%= hidden_field_tag 'image_galleries[][id]', image.id %> 
          <% if image.plan_id.blank?%> 

              <tr>
                <td>     
                <% if image.pics_file_name.blank? %>        
                    <div>
                        <a>
                        <img src="http://img.youtube.com/vi/<%= image.ytube_video_id%>/default.jpg">
                         <img class="OverlayIcon" src="/assets/youtube_logo.png" style="margin-left:-18%" />
                        </a>
                    </div>
                  <%else%>           
                  <%= image_tag image.pics(:thumb_add_images) %>   
                  <%end%>          
                </td>
                <td>           
                  <% unless selected_image_ids.include?(image.id)%>
            <%= check_box_tag 'image_galleries[][image]' %>
            <%else%>
            <span class="glyphicon glyphicon-ok-circle"></span>
            </td>
                <td>  
            <%= check_box_tag 'image_galleries[][_delete]' %>             
                </td>    
            <%end%>
                     
            </tr>
             <%else%>
        <tr>
                <td>    
                <% if image.pics_file_name.blank? %>        
                    <div>
                        <a>
                        <img src="http://img.youtube.com/vi/<%= image.ytube_video_id%>/default.jpg">
                         <img class="OverlayIcon" src="/assets/youtube_logo.png" style="margin-left:-18%" />
                        </a>
                    </div>  
                  <%else%>             
                  <%= image_tag image.pics(:thumb_add_images) %> 
                    <%end%>            
                </td>
                <td>           
                  <% unless selected_image_ids.include?(image.id)%>
            <%= check_box_tag 'image_galleries[][image]', '', false,:disabled=> true %>
            <%else%>
            <span class="glyphicon glyphicon-ok-circle"></span>
            <%end%>
                </td>
                <td>  
            <%= check_box_tag 'image_galleries[][_delete]', '', false,:disabled=> true %>             
                </td>         
            </tr>
            <%end%>
            <%end%> 
            </tbody>
            <div style="max-height: 300px;overflow: auto;">                       
            <tr>
              <td colspan="3">
                <div class="pull-right">
                 <%= submit_tag "ADD", :class => "btn btn-primary", :id=> "update_images", :value => "Save" %>
             <a href='#' onclick="close_add_images_popup()"  data-dismiss="modal" style="color:red;" class="cancel_btn_css">cancel</a>
               </div>
              </td>
            </tr>
            
          <% end %>
      
      </table>  
      <!-- </div> -->
</div>
<% else %>            
  <tr>
    <td>
      <center class="css_for_red_text">No images in the gallery, please add images.</center> 
    </td>
  </tr>           
<%end%>
<% end %>
<script>
var touch_or_nontouch = 0;
if(navigator.userAgent.match(/(ipad)|(android)|(android 3.0)|(xoom)|(sch-i800)|(playbook)|(kindle)|(iphone)|(ipod)|(blackberry)|(opera)|(mini)|(palm)|(smartphone)|(iemobile)/i)){
        touch_or_nontouch=1;
    }
function close_add_images_popup()
{   
    $("#add_lot_images").dialog("close")
}



var add_img_options = {     
    success: function(res) 
    {       
        // res = $.parseJSON(res);
        if(res.status=="success"){
          
             if ($(".ui-dialog.ui-widget.ui-widget-content").length > 0) {
                  $(".ui-dialog.ui-widget.ui-widget-content").remove();
              }
           var filter = "filter";
           var vals = [];
           var clicked_lot_num = $('#add_images #lot_number').val();

            $('input:checkbox[name="legend_keys_ids[]"]').each(function() {
                if (this.checked) {
                    vals.push(this.value);
                }
            });

            if (vals.length<1){                
                      filter = "";
            } 
            var data_string={
               "filter":filter,                
                "role":$('#add_images #user_role').val(),
                "parent_tab_id":$('#add_images #parent_tab_id').val(),
                "access_permission":$('#add_images #access_permission').val(),
                "legend_keys": vals,
                "project": "<%= @opted_product%>",
                "community": $('#add_images #community').val() ,
                "phase_parcel": $('#add_images #phase_parcel').val(),
                 "is_touch":touch_or_nontouch     
                     
            };
           
         $.ajax({
            url:'/tbldata/render_role_view',
            type:'get',
            dataType:'html',
            data:data_string,
            success:function (response) {     
                $("body").removeClass("modal-open")
                var l_id = $('#add_images #lot_id').val();                        
                $(".map_render").html(response);    
                $("#update_notification").css("display", "block");
                $("#update_notification").text("Media for lot" + " " + clicked_lot_num + " " + "updated successfully"); 
                update_notification()  
                edit_lot_images(l_id) ;
                $(".modal-backdrop").remove();                           
                $(".ui-dialog").remove();
                $("#ajax_loader").css("display", "none"); 
                $("body").removeClass("inactiveLink") ;
            }
        }); 
     }else{
       
        $("#ajax_loader").css("display", "none");
        $("body").removeClass("inactiveLink")
     }  

    },
    complete: function(response) 
    {
    
    },
    error: function()
    {
    
    }
 
}; 
$("#add_images").submit(function(){
    
    $("#ajax_loader").css("display", "block");
    $("body").addClass("inactiveLink")
    $("#add_images").ajaxSubmit(add_img_options); 
    return false;
});


</script>
