<script type="text/javascript" charset="utf-8">
function gallery_table_last_col(){
	if($(".gallery_filtering").is(":visible")){
		$(".gallery_images").css("margin-top",$(".gallery_filtering").height()+5+"px")
		gallery_image_offset_left = $(".gallery_images thead tr:first td:last").position().left;
	    gallery_image_td_n_th_width = $(".gallery_images").width() - gallery_image_offset_left
	    if($("#lots_dropdown").val() == ""){
	    	$(".gallery_images tbody tr td:nth-last-child(2),  .gallery_images thead tr:first td:last").css({"max-width": gallery_image_td_n_th_width, "min-width":gallery_image_td_n_th_width}); 
	    }
	    else{
	    	$(".gallery_images tbody tr:first td:last,  .gallery_images thead tr:first td:last").css({"max-width": gallery_image_td_n_th_width, "min-width":gallery_image_td_n_th_width})
	    }
	}
    
}


$("#lots_dropdown").click(function(){
	gallery_table_last_col()
})
$(window).resize(function(){
	// $(".gallery_images").css("margin-top",$(".gallery_filtering").height()+5+"px")
	gallery_table_last_col();
	gallery_buttons_left_position = $(window).width()-$("#gallery_add_buttons").outerWidth()
	bck_buttons = $(window).width()-$("#gallery_back_to_map").outerWidth()-10
	if($(".gallery_filtering").is(":visible")){
		gallery_max_scroll = $(this).scrollLeft()+$(window).width()
    	if(gallery_max_scroll <=  $('.gallery_thead').width()){
		    $("#gallery_add_buttons").css({
		        left: gallery_buttons_left_position+ parseInt($(this).scrollLeft())
		    });
		     $("#gallery_add_save_buttons").css({
		        left: gallery_buttons_left_position+ parseInt($(this).scrollLeft())
		    });
		     $("#gallery_back_to_map").css({
		        left: bck_buttons+ parseInt($(this).scrollLeft())
		    });
		}
    }
})
    $(document).ready(function(){ 
    	gallery_table_last_col()

      var counter =0     
        $("a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'normal',theme:'light_square',slideshow:5000, autoplay_slideshow: false, show_title: true,  social_tools:false, deeplinking:false, changepicturecallback: function(){
          add_nav_link_for_images()},
        callback: function() { counter =0;}
      }); 

       function add_nav_link_for_images()
          {  
          	<% @images.each do |image| %>  
              	<% unless image.pics_file_name.blank? %>  
		             if(counter == 0)
		              { 
		                $(".pp_hoverContainer").wrap('<a target="_blank" id="sample" href="#" />');
		                counter++;
		              }                 
		              
		              var img_src = $("#fullResImage").attr('src')
		              var img_from_app = '<%=image.pics(:thumb) %>'

	                      if (img_src ==  img_from_app)
	                      {   
	                          nav_link = '<%= image.navigation_link%>'
	                          if(nav_link.length>0)
	                          { 
	                            $("#sample").attr("href", nav_link);
	                            $(".pp_hoverContainer").css("display", "block");
	                          }
	                          else
	                          {
	                             $("#sample").removeAttr("href");
	                          }
	                      } 		        
                 <%end%>  
             <%end%>   
          } 
});

// vertical scrolling
		main_nav_offset = $("#main_nav").offset().top+$("#main_nav").outerHeight()
		gallery_thead_scroll_top = main_nav_offset
		    $(window).scroll(function(){
		    	if($(".gallery_filtering").is(":visible")){
			        var gallery_sticky = $('.gallery_thead'),
			            gallery_scroll = $(window).scrollTop();
			        if (gallery_scroll >= $("#show_images_based_on_lots").offset().top-$("#main_nav").offset().top){ 
			          gallery_sticky.addClass('fixed')
			          $(".fixed").css("top",gallery_thead_scroll_top);
			          gallery_sticky.css('left', 0-$(window).scrollLeft());
			        }
			        else {
			          gallery_sticky.removeClass('fixed');
			        }
			    }
		    });

// Horizontal scrolling
		gallery_buttons_left_position = $(window).width()-$("#gallery_add_buttons").outerWidth()
		bck_buttons = $(window).width()-$("#gallery_back_to_map").outerWidth()-10
		
			$(window).scroll(function () {
				if($(".gallery_filtering").is(":visible")){
					gallery_max_scroll = $(this).scrollLeft()+$(window).width()
    				if(gallery_max_scroll <=  $('.gallery_thead').width()){
					    $("#gallery_add_buttons").css({
					        left: gallery_buttons_left_position+ parseInt($(this).scrollLeft())
					    });
					     $("#gallery_add_save_buttons").css({
					        left: gallery_buttons_left_position+ parseInt($(this).scrollLeft())
					    });
					     $("#gallery_back_to_map").css({
					        left: bck_buttons+ parseInt($(this).scrollLeft())
					    });
					}
			    }
			});
		

</script>

<style type="text/css">
	.fixed{position:fixed;}
    .pp_previous, .pp_next
    {
      display: none !important;
    }  
    .img_th_td{ max-width: 140px;min-width: 140px; padding-left:2px; }
    .title_th{ 	max-width: 234px;min-width: 231px; }
    .title_td{max-width: 229px;min-width: 227px;}
    .desc_th{ max-width: 234px;min-width: 228px; }
    .nav_th{ max-width: 223px;min-width: 232px; }
    .lot_th{ min-width:218px;max-width:218px }
    .delete_th{max-width:90px;min-width:90px}
    .key_img_th{ max-width: 223px;min-width: 232px; }
    #delete_chkbx_lb{font-weight:normal !important;}
	#delete_chkbx_lb input[type=checkbox]{   vertical-align: sub;
    }
</style>

<table class="table gallery_images" style="margin-bottom:0px;">
	<thead style="float:left;" class="gallery_thead">
		<tr class="table_heading">
			<td class="img_th_td">Image</td>		
			<td class="title_th">Title</td>
			<td class="desc_th">Description</td>
			<td class="nav_th">Navigation link</td>
			<%if @key_image_flag == false%>
			<td class="lot_th">Lot</td>		
			<%end%>
			<td class="delete_th">Delete</td>
			<% if @key_image_flag == true %>
				<td align="center" class="key_img_th">Key Image</td>
			<%else%>
				<!-- <td style="display:none"></td> -->
			<%end%>
	    </tr>
    </thead>
	<tbody style="float:left;">
		<% unless @images.empty?%>
		    <% @images.each do |image| %>  
		        <% if image.plan_id.blank?%>
			        <tr>
			        	<td class="img_th_td">
				        	<% if image.pics_file_name.blank? %>		
								<div>
									<a href="<%=image.youtube_url%>" target="_blank" rel="prettyPhoto" title="<%= image.description%>">
									<img src="http://img.youtube.com/vi/<%= image.ytube_video_id%>/default.jpg" alt="<%= image.title%>">
									 <img class="OverlayIcon" style="position: relative;margin-left: -58%" src="/assets/youtube_logo.png" />
									</a>
								</div>		
							<%else%>
								<a href="<%=image.pics(:thumb) %>" rel="prettyPhoto" title="<%= image.description%>"><img src="<%=image.pics(:thumb_add_images) %>" alt="<%= image.title%>" />
								</a>				
						    <% end %>
			        	</td>
			        	<td class="title_td">		        		
			        		<%= text_area_tag "image_gallery[][title]" , image.title, :class=>"form-control", :autocomplete => "off",:data => {:value => image.title}, :maxlength=> 50, 
			        		:style=>"height:80px;resize: vertical;", :placeholder => "Tiltle (max length 50 characters)"%>			        		
			        	</td>
			        	<td class="title_td">	

			        	    <%= text_area_tag "image_gallery[][description]" , image.description, :class=>"form-control", :style=>"height:80px;resize: vertical;", :autocomplete => "off",:data => {:value => image.description},  :maxlength=> 250, :placeholder => "Description (max length 250 characters)"%>
			        	</td>
			        	<td class="title_td">

			        		<%= text_area_tag "image_gallery[][navigation_link]" , image.navigation_link, :class=>"form-control", :autocomplete => "off",:data => {:value => image.navigation_link}, :style=>"height:80px;resize: vertical;"%>
			        	</td>
				        <%if @key_image_flag == false%>
							<td class="lot_th">
								<div style="overflow:auto;height:100px;">
									<%lots_array= GalleryImagesToLot.get_lot_ids_array(image.id, @opted_parcel)%>
									<% unless lots_array.blank?%>
										<% if @opted_parcel.blank? %>
											<!-- < lots_array.map{|x| x['lot_nbr']}.uniq.each do |each_lnbr|%>
												<=each_lnbr%>
												(<= GalleryImagesToLot.get_filings_for_ltnbrs(lots_array,each_lnbr)%>)<br/>										
											<end%> -->
											<% lots_array.each do |each_lnbr| %>
													<%= each_lnbr["lot_nbr"] %>(<%= each_lnbr["phase_name"]%>)<br />
											<% end %>
										<%else%>
											<%= lots_array.map{|x|x["lot_nbr"]}.join(", ")%>
										<%end%>
										
									<%end%>
								</div>
							</td>
						<%end%>
			        	<td class="delete_th">
			        		<%= hidden_field_tag 'image_gallery[][id]', image.id %>
			        		<label id="delete_chkbx_lb"><%= check_box_tag 'image_gallery[][_destroy]'%> Delete</label>
			        	</td>
			        	<% if @key_image_flag == true %>
				        	<td align="center"   class="key_img_th">
								<%= hidden_field_tag 'key_image[][id]', image.id %>
							    <% if @selected_key_image_id == image.id %>		        	 	
							 		<%= radio_button_tag 'key_image[][_key_image]', 1, true %>
							 	<%else%>
							 		<%= radio_button_tag 'key_image[][_key_image]', 1, false %>
							 	<%end%>
						    </td>	
						<% else %>
						    <td style="display:none"></td>
						<%end%>							
				    </tr>
			    <%else%>
			        <tr>
			        	<td class="img_th_td">
				        	<% if image.pics_file_name.blank? %>		
								<div>
									<a href="<%=image.youtube_url%>" target="_blank" rel="prettyPhoto" title="<%= image.description%>">
									<img src="http://img.youtube.com/vi/<%= image.ytube_video_id%>/default.jpg" alt="<%= image.title%>">
									 <img class="OverlayIcon" style="position: relative;margin-left: -58%" src="/assets/youtube_logo.png" />
									</a>
								</div>		
							<%else%>
								<a href="<%=image.pics(:thumb) %>" rel="prettyPhoto" title="<%= image.description%>"><img src="<%=image.pics(:thumb_add_images) %>" alt="<%= image.title%>" />
								</a>				
						    <% end %>
			        	</td>
			        	<td class="title_td">	

			        		<%= text_area_tag "image_gallery[][title]" , image.title, :class=>"form-control", :autocomplete => "off", :style=>"height:80px;resize: vertical;", :data => {:value => image.title, toggle: "tooltip", placement: "left"}, title:"Go to manage plans to update title", :disabled=> true%>
			        	</td>
			        	<td class="title_td">		        		
			        		
			        		<%= text_area_tag "image_gallery[][description]" , image.description, :class=>"form-control", :style=>"height:80px;resize: vertical;", :autocomplete => "off",:data => {:value => image.description, toggle: "tooltip", placement: "left"}, title:"Go to manage plans to update description", :disabled=> true%>
			        	</td>
			        	<td class="title_td">		        		
			        		
			        		<%= text_area_tag "image_gallery[][navigation_link]" , image.navigation_link, :class=>"form-control", :style=>"height:80px;resize: vertical;", :autocomplete => "off",:data => {:value => image.navigation_link, toggle: "tooltip", placement: "left"}, title:"Go to manage plans to update navigation link", :disabled=> true %>
			        	</td>
			        	<%if @key_image_flag == false%>
							<td class="lot_th">
								<div style="overflow:auto;height:100px;">
									<%lots_array= GalleryImagesToLot.get_lot_ids_array_for_plans(image.plan_id, @opted_parcel)%>
									<% unless lots_array.blank?%>
										<% if @opted_parcel.blank? %>
											<% lots_array.map{|x| x['lot_nbr']}.uniq.each do |each_lnbr|%>
												<%=each_lnbr%>
												(<%= GalleryImagesToLot.get_filings_for_ltnbrs(lots_array,each_lnbr)%>)<br/>										
											<%end%>
										<%else%>
											<%= lots_array.map{|x|x["lot_nbr"]}.join(", ")%>
										<%end%>
										
									<%end%>
								</div>
							</td>
						<%end%>
			        	<td class="delete_th">
			        		<%= check_box_tag 'image_gallery[][_destroy]', '', false, :disabled=> true%> Delete
			        	</td>
			        	<% if @key_image_flag == true %>	
				        	<td align="center" class="key_img_th">
								<% if @selected_key_image_id == image.id %>		        	 	
							 		<%= radio_button_tag 'key_image[][_key_image]', 1, true, :disabled=> true %>
							 	<%else%>
							 		<%= radio_button_tag 'key_image[][_key_image]', 1, false, :disabled=> true %>
							 	<%end%>
						    </td>
						<% else %>
							<td style="display:none"></td>
						<%end%>								
				    </tr>
				<%end%>
		    <%end%>	
	    <% else %>			  		
	  		<tr>
	  			<td colspan="6"  style="width:1200px">
	  				<center>No images added</center>
	  			</td>
	  		</tr>
  		<% end %>
	</tbody>
</table>
<div class="pull-right" style="margin-right:1%;right:0;position:absolute;width: 215px;  margin-bottom: 40px !important;" id="gallery_add_save_buttons">
<% unless @images.empty?%>
	<span>
		<div id="add_image_gallery" class="btn btn-primary" onclick="add_images_in_gallery()">Add Media
		</div>
	</span>
	<span>
	    <%= submit_tag "save", :class => "btn btn-primary", :id=> "upload_file_btn", :value => "Save" %>
	    <%= link_to "cancel","/products/#{@opted_product}/communities/#{@opted_community}/#{@opted_parcel}", :class=>"cancel_btn_css"%>
	</span>
 <% end %>
</div>