<div class="callbacks_container" id="display_lot_images">
	<ul class="rslides" id="images-slider">
		<%images.each do |image|%>
		<li>				
		<%= image_tag image.pics(:thumb) %>
		</li>
		<%end%>		
	</ul>
</div>