<%= form_tag "/image_gallery/delete_images", :id=>"delete_images", :autocomplete =>"off" do %>
<%= hidden_field_tag "community", @opted_community %>
<%= hidden_field_tag "block", @opted_parcel %>
<%= hidden_field_tag "product_type", @opted_product %>

<div id="content" class="content_mid">
  <div class="back_map_div" style="text-align:right;margin-right: 1%;right:0;position:absolute;width:101px;" id="gallery_back_to_map">
    <img src="/assets/back_arrow.png" class="css_back_arrow" style="width:12px">
    <%= render :partial => 'layouts/back_to_map'%>  
  </div>
	<!-- <div id="views_list_for_gallery" style="margin-bottom:0px !important"> -->
	  <center><span id="error_message" style="color:red"></span></center>
		<div class="list-group" style="position:relative">
      <div class="pull-left" style="width:89%">
    		<table class="table gallery_filtering" style="margin-top:3%">
    			<tr>                          
      			<td style="padding:0px !important;padding-left:8px !important">Filter by Lot: <%= select_tag "lots_dropdown", options_for_select(@houses.map{|x|x["lot_nbr"]}.uniq.sort_by(&:to_i)), :onchange=>"showimages(this.value)", :class => "form-control lots_dropdown", :prompt=> "All", :style=>"width:72px;height:30px;  display: inline-block !important;"%>
      			</td>
    			</tr>
    		</table>
      </div>
      <div  class="pull_right" id="gallery_add_buttons" style="right:0;position:absolute;width: 215px;margin-top:3%">
          <span>
            <div id="add_image_gallery" class="btn btn-primary" onclick="add_images_in_gallery()">Add Media
            </div>
          </span>
          <span>
            <% unless @images.empty?%>
              <%= submit_tag "save", :class => "btn btn-primary", :id=> "upload_file_btn", :value => "Save" %>
            <% end %>
              <%= link_to "cancel","/products/#{@opted_product}/communities/#{@opted_community}/#{@opted_parcel}", :class=>"cancel_btn_css"%>
          </span>
      </div>
    </div>

    
		<div id="show_images_based_on_lots" class="tabsle-responsive" style="margin-top:6%">
			<%= render :partial => "image_gallery/show_images"%>
		</div>
	<!-- </div> -->
</div>
<% end %>
<!-- <div id="add_images_gallery" style="display:none;">
  
</div> -->

<div class="modal fade" role="dialog" style="z-index:2001" id="add_images_gallery_modal">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <label class="modal_title_ui">Upload Images</label>
            <button type="button" class="close modal_title_cross_button" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body table-responsive" id="add_images_gallery" style="margin-bottom:0px !important">
            <%= render :template => 'image_gallery/upload_view' %>
          </div>
        </div>
    </div>
</div>


<style>
  #legend_border{
    border:0px !important;
  }
  .gallery_filtering tbody tr td{
    border-top: 0px !important;
  }
  .gallery_filtering{
    margin-bottom: 0px !important;
  }
</style>
<script type="text/javascript">
function add_images_in_gallery(){             
      $("#image_already_exists").empty();
      $("#image_upload_error").empty();
      $("#image_gallery_items_wrap_list").empty();   
        filehtml='<input type="file" multiple class="multi" onChange="browse_image()" id="image_gallery_items" style="margin-left: 2%;" name="image_gallery[][pics]" accept="gif|jpg|png|jpeg|pdf"/>';
 			$("#image_gallery_items_wrap").html(filehtml);
 			$('#image_gallery_items').MultiFile();
      $('input[type="file"]').css('color', 'transparent'); 
      $("#add_images_gallery_modal").modal({
            backdrop: false,
            keyboard: false,
            show: true
      });
}

function manage_gallery()
		  {	 	
			$.ajax({
			async: true,
			url: '/image_gallery/index',
			type: 'GET',
			data: {
                project : '<%= @opted_product %>' ,
                community : '<%= @opted_community %>',
                parcel : '<%= @opted_parcel %>'
        	},
         	success:function () {                   
            if ($(".ui-dialog.ui-widget.ui-widget-content").length > 0) {
    					$(".ui-dialog.ui-widget.ui-widget-content").remove();
    					$(".loader").css("display","none");
              $("body").removeClass("inactiveLink") ;
    				}
          }
			});
		}

function manage_gallery_after_save()
      {   
      $.ajax({
      async: true,
      url: '/image_gallery/show_images_based_on_product_type',
      type: 'GET',
      data: {
                project : '<%= @opted_product %>' ,
                community : '<%= @opted_community %>',
                access_permission: '<%= @access_permission%>',
                lot_number: $("#lots_dropdown").val(),
                parcel : '<%= @opted_parcel %>'
          },
         success: function(response) {
          $("#show_images_based_on_lots").html(response);
        }
      });
    }

  var del_options = {     
      success: function(msg) 
      {     
          // res = $.parseJSON(res);
          if(msg.status=="success"){
      	    $.ajax({
              url:'',
              type:'get',
              dataType:'html',
              success:function (response) { 
                if(msg.message == "Deleted")
                  {
                    manage_gallery();
                    alert("Updated Successfully");
                    $(window).scrollTop(0)
                  }
                  else if(msg.message == "Saved")
                  {
                    manage_gallery_after_save();
                    alert("Updated Successfully");
                    $(window).scrollTop(0)
                  }
                  else
                  {
                    manage_gallery();
                    alert("Updated Successfully");
                    $(window).scrollTop(0)
                  }
        				$(".ui-dialog").remove();                
                $(".loader").css("display","none")
                $("body").removeClass("inactiveLink") ;
              }
            }); 
          }else{
            $(".loader").css("display", "none");
            $("body").removeClass("inactiveLink") ;
          }	

      },
      complete: function(response) 
      {
      
      },
      error: function()
      {
      
      }
  }; 
  $("#delete_images").submit(function(){
  	var i = 0
    $('input:checkbox[name="image_gallery[][_destroy]"]').each(function() {
        if (this.checked) 
        {        
           i+= 1;              
        }
    });
    if(i > 0)
    {
      	if(confirm("Are you sure you want to delete this image(s)?"))
      	{
        	$("#ajax_loader").css("display", "block");
          $("body").addClass("inactiveLink")
  		    $("#delete_images").ajaxSubmit(del_options); 
  		    return false; 
      	}
      	else
      	{
          $("body").removeClass("inactiveLink")	
      		return false;       		
      	}      
    }
    else
    {    
  		$("#ajax_loader").css("display", "block");
      $("body").addClass("inactiveLink")
  		$("#delete_images").ajaxSubmit(del_options); 
  		return false; 
    }    
  });

  function showimages(value){		
    $("#ajax_loader").css("display", "block");
    $("body").addClass("inactiveLink")
    $.ajax({
      type: "GET",
      url: '/image_gallery/show_images_based_on_product_type',
      data: 
      {
      	lot_number: value,
      	access_permission: '<%= @access_permission%>',
      	project : '<%= @opted_product %>' ,
        community : '<%= @opted_community %>',
        parcel: '<%= @opted_parcel %>'
      },
      success: function(data) {
        $("#ajax_loader").css("display", "none");
        $("body").removeClass("inactiveLink")
        $("#show_images_based_on_lots").html(data);
        if(value != "")
         {
          $(".delete_after_filter_tr").addClass("delete_after_filter");
         }
         else{
          $(".delete_after_filter_tr").removeClass("delete_after_filter")
         }
      }
    });
  }
</script>

<div id ="ajax_loader" class="loader" style="display:none;margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%;">
    <p style="position: absolute; top: 50%; left: 45%;">
    <%= image_tag "ajax-loader.gif", :alt => "loader", :id=> "ajax_loader_img" %>
    </p>
</div>
