<script>
    $(document).ready(function () {
        $('#image_gallery_items').MultiFile();  
        gallery_items_align();
        $("#gallery_add_buttons").css({
                        left: gallery_buttons_left_position+ parseInt($(this).scrollLeft())
        });
         $("#gallery_add_save_buttons").css({
            left: gallery_buttons_left_position+ parseInt($(this).scrollLeft())
        });
         $("#gallery_back_to_map").css({
            left: bck_buttons+ parseInt($(this).scrollLeft())
        });
    });
function close_add_image_popup()
{   
    $("#add_images_gallery").dialog("close")
}
function browse_image(){        
        $('input[type="file"]').change(function() {            
           $('input[type="file"]').css('color', 'transparent'); 
           $("#image_upload_error").empty();   
           $("#image_already_exists").empty();   
        });
    }
</script>
<%= form_tag("/image_gallery/save_images",:multipart => true,:id=>"upload_files") do %>
<%= hidden_field_tag "product_type", @opted_product %>
<%= hidden_field_tag "community", @opted_community %>
		<div class="border_upload_popup"></div>
		<p id="image_gallery_items_wrap" class="margin_top_upload_popup"></p>

		<div id="image_already_exists"></div>
          <table>
            <tr>
                <td>Youtube Url:</td>
                <td><%= text_field_tag "youtube_url","",:class=>"form-control", :style => "width: 200%" %></td>
            </tr>
        </table>

                <p id="image_upload_error" class="upload_err_css"></p>
                
		<div class="text-right" style="margin-bottom:1%;margin-right:2%">
		<%= submit_tag "Upload Filessssss", :class => "btn btn-primary img_gal_upload", :id=> "upload_file_btn", :value => "Upload"%>

		<a href='#' onclick="close_add_image_popup()" data-dismiss="modal" style="color:red;" class="cancel_btn_css">cancel</a>
		</div>
<% end %>
<script>
function close_image_popup()
{   
    $("#image_upload").dialog("close")
}

var options = {     
    success: function(res) 
    {       
        res = $.parseJSON(res);
        if(res.status=="success"){
         
    	   $.ajax({
            url:'',
            type:'get',
            dataType:'html',
            success:function (response) {   
				manage_gallery()
				$(".ui-dialog").remove();
                $("#ajax_loader").css("display", "none");
                $("body").removeClass("inactiveLink")
                $('body').removeClass("modal-open")
                $(".loader").css("display","none")
                $("#image_upload_error").empty();
            }
        }); 
     }else{
        $("#image_upload_error").text(res.msg);
        $("#image_already_exists").empty();
        $("#ajax_loader").css("display", "none");
        $("body").removeClass("inactiveLink")
         if(res.upload_image_errors !=null ){
        res.upload_image_errors.forEach(function(each_error_msg) {
        $("#image_already_exists").append($("<li/>").text(each_error_msg));
        });
       }
     }	

    },
    complete: function(response) 
    {
    
    },
    error: function()
    {
    
    }
 
}; 
$("#upload_files").submit(function(){
    $("#image_already_exists").empty();
    $("#ajax_loader").css("display", "block");
    $("body").addClass("inactiveLink")
    $("#upload_files").ajaxSubmit(options); 
    return false;
});

</script>
<style>
#ajax_loader_img {
    left: 30%;
    position: absolute;
    top: -60%;

}
.ui-dialog .ui-dialog-content
{
	overflow: hidden !important;
}
span.MultiFile-label {
  display: block;
}
span.MultiFile-label:first-child {
  display: inline;
}
</style>