
<div id="content" class='content_mid' ng-app="activityLogMdl" ng-controller="activityLogCtrl">  
<div class="flash_notice"><font size="3" color="red" align="center"><%= flash[:notice] %></font></div>
<div id="list_users">
<!-- <div class="panel panel-success"> -->
<div class="col-sm-12 col-md-12 col-sm-push-0 col-md-push-0 col_content_mid" >
  <div class="panel-heading main_heading">
    Activity Log      
  </div>
  <div style="padding-bottom:1%;">
  <table style="width:100%">     
    <tr style="padding-bottom:1%">
      <td style="padding: 0 2%">
    <select ng-model="filter.filings" class="form-control" style="display:inline;width:93%">
      <option value="" selected>search by event</option>
      <option ng-repeat="filing in filings" value="{{filing}}">{{filing}}
      </option>
    </select>
    <span ng-show="filter.filings.length" style="padding-left:1%;cursor:pointer" ng-click="resetEventTypeFilter()" class="glyphicon glyphicon-remove" aria-hidden="true" ></span>
  </td>
  <td style="padding: 0 2%">
    <input type="text" class="form-control" style="display:inline;width:94%" id="filterLotNumber" ng-model="filter.lotNumber" placeholder="search by lot number"></input><span ng-show="filter.lotNumber.length" style="padding-left:1%;cursor:pointer" ng-click="resetLotNumberFilter()" class="glyphicon glyphicon-remove" aria-hidden="true" ></span>    
  </td>
  <td style="padding: 0 2%">
    <select ng-model="filter.user" class="form-control" style="display:inline;width:93%">
      <option value="" selected>search by email</option>
      <option ng-repeat="user in users" value="{{user}}">{{user}}
      </option>
    </select>
     <span ng-show="filter.user.length" style="padding-left:1%;cursor:pointer" ng-click="resetUserFilter()" class="glyphicon glyphicon-remove" aria-hidden="true" >
     </span>
   </td>
 </tr>
   <tr><td></td> <tr/>
   <tr><td></td> <tr/> 
  <tr style="margin-bottom:1%">
   <td style="padding: 0 2%">
        <input type="text" class="form-control" style="display:inline;width:94%" id="filterFromEventDate" ng-model="filter.fromEventDate" placeholder="search by event date from" datepicker readonly></input><span ng-show="filter.fromEventDate.length" style="padding-left:1%;cursor:pointer" ng-click="resetFromEventDateFilter()" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
   </td>
    <td style="padding: 0 2%">
      <input type="text" class="form-control" style="display:inline;width:94%" id="filterToEventDate" ng-model="filter.toEventDate" placeholder="search by event date to" datepicker readonly></input><span ng-show="filter.toEventDate.length" style="padding-left:1%;cursor:pointer" ng-click="resetToEventDateFilter()" class="glyphicon glyphicon-remove" aria-hidden="true" ></span>
    </td>
   <td style="padding: 0 2%">
    <b># of Records : </b>{{filtered_lots.length}}    
  </td>
  </tr>
  <tr><td></td> <tr/> 
    </table>
  </div>
  <table class="table " >
  <thead>
    <tr class="table_heading">
      <th>        
        <a href="" style="color:#ffffff" ng-click="orderByField='event_date_time';reverseSort = !reverseSort"> Held_By
          <span ng-show="orderByField=='event_date_time'">
            <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
            <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>            
          </span>
        </a>        
      </th>
      <th >        
        <a href="" style="color:#ffffff" ng-click="orderByField='event';reverseSort = !reverseSort">    Filing
          <span ng-show="orderByField=='event'">
            <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
            <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>   
          </span>
        </a>
      </th>
      <th >
        <a href="" style="color:#ffffff" ng-click="orderByField='event_on_id';reverseSort = !reverseSort">    Lot_N
          <span ng-show="orderByField=='event_on_id'">
            <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
            <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>   
          </span>
        </a>        
      </th>      
      <th >
        <a href="" style="color:#ffffff" ng-click="orderByField='event_by';reverseSort = !reverseSort"> Address
          <span ng-show="orderByField=='event_by'">
            <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
            <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>   
          </span>
        </a>        
      </th>
      <th >
        <a href="" style="color:#ffffff" ng-click="orderByField='event_by';reverseSort = !reverseSort"> Street Width
          <span ng-show="orderByField=='event_by'">
            <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
            <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>   
          </span>
        </a>        
      </th>
       <th >
        <a href="" style="color:#ffffff" ng-click="orderByField='event_by';reverseSort = !reverseSort"> Adjusted List Price
          <span ng-show="orderByField=='event_by'">
            <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
            <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>   
          </span>
        </a>        
      </th>
      <th >
        <a href="" style="color:#ffffff" ng-click="orderByField='event_by';reverseSort = !reverseSort"> Community
          <span ng-show="orderByField=='event_by'">
            <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
            <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>   
          </span>
        </a>        
      </th>
    </thead>
    
    <tr ng-repeat="event in logs | filter:{event: filter.filings}" >
      <td>{{event.Held_By}}</td>
      <td>{{event.Filing}}</td>      
      <td>{{event.Lot_N}}</td>
      <td>{{event.Address}}</td>            
      <td>{{event.Lot_Width}}</td>     
      <td>{{event.Adjusted_Lot_List_Price}}</td>
      <td>{{event.Community}}</td>
    </tr>
    <tr>
      <td colspan="6" ng-hide="filtered_lots.length"><center><b>No Records Found</b></center></td>
    </tr>

  </table>
</div>
</div>
<script>
var app=angular.module("activityLogMdl",[]);

app.controller("activityLogCtrl",function($scope,$http){

$scope.filter={}
$scope.logs=[];
$scope.users=[];
$scope.filings=[];
$scope.filter.fromEventDate="";
$scope.filter.toEventDate="";
$scope.orderByField = "event_date_time";
$scope.reverseSort = true;
$scope.filter.lotNumber = '<%= @lot_id %>';
$http({"method":"GET", "url":"/activity_log/get_logs"}).success(
  function(logs){
    $scope.isCollapsed=true;
    $scope.logs = logs;
    $scope.users=[];    
    angular.forEach(logs, function(logged_item){      
      if(logged_item.event_by!= null && ($.inArray(logged_item.event_by, $scope.users)==-1)) {        
        $scope.users.push(logged_item.event_by)
      }

    });    
    $scope.users.sort();    
    angular.forEach(logs, function(logged_item){      
      if(logged_item.Filing!= null && ($.inArray(logged_item.Filing, $scope.filings)==-1)) {        
        $scope.filings.push(logged_item.Filing)
      }
    });     
  }
);

$scope.filterByLotId=function(lot_id){
  $scope.isCollapsed=true;
  $scope.filter.lotNumber=lot_id;
  $scope.orderByField = "event_date_time";
  $scope.reverseSort = true;
}

$scope.filterByUser=function(user){  
  $scope.isCollapsed=true;
  $scope.filter.user=user;
  $scope.orderByField="event_date_time";
  $scope.reverseSort=true;  
}
$scope.resetLotNumberFilter=function(){
  $scope.isCollapsed=true;
  $scope.filter.lotNumber="";
  $scope.orderByField = "event_date_time";
  $scope.reverseSort = true;
}

$scope.resetFromEventDateFilter=function(){
  $scope.isCollapsed=true;
  $scope.filter.fromEventDate="";
  $scope.orderByField = "event_date_time";
  $scope.reverseSort = true;
}

$scope.resetToEventDateFilter=function(){
  $scope.isCollapsed=true;
  $scope.filter.toEventDate="";
  $scope.orderByField = "event_date_time";
  $scope.reverseSort = true;
}

$scope.resetEventTypeFilter=function(){
  $scope.isCollapsed=true;
  $scope.filter.filings="";
  $scope.orderByField = "event_date_time";
  $scope.reverseSort = true; 
}

$scope.resetUserFilter=function(){
  $scope.isCollapsed=true;
  $scope.filter.user="";
  $scope.orderByField = "event_date_time";
  $scope.reverseSort = true; 
}

});

function parseDate(input) {
  var parts = input.split('-');  
  return new Date(parts[2], parts[0]-1, parts[1]); 
}

app.directive('datepicker', function() {
    return {
        restrict: 'A',
        require : 'ngModel',
        link : function (scope, element, attrs, ngModelCtrl) {
            $(function(){
                element.datepicker({
                    dateFormat:'mm-dd-yy',
                    onSelect:function (date) {
                        scope.$apply(function () {
                            ngModelCtrl.$setViewValue(date);
                        });
                    }
                });
            });
        }
    }
});

app.filter("dateRangeFilter", function() {
  return function(items, fromEventDate, toEventDate) {
          
        var df = (fromEventDate && !isNaN(parseDate(fromEventDate))) ? parseDate(fromEventDate) : new Date(0);
        var dt = (toEventDate && !isNaN(parseDate(toEventDate))) ? parseDate(toEventDate) : new Date(); 
        var result = [];    
        for(var i=0; i<items.length; i++){
            var tf = parseDate(items[i].event_date);           
            if(tf >= df && tf <= dt)  {
                result.push(items[i]);
            }
        }            
        return result;
  };
});

</script>