
<script>
    $(document).ready(function () {
        $('#tbldata_tbldataattachments_image').MultiFile();
    });
    nav_filter_click();
</script>
<div class="modal fade" role="dialog" style="z-index:2001" id="add_lot_images_modal">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <label class="modal_title_ui"></label>
            <button type="button" class="close modal_title_cross_button" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body table-responsive" id="add_lot_images" style="margin-bottom:0px !important">
          </div>
        </div>
    </div>
</div>
<div class="modal fade" role="dialog" style="z-index:2000" id="image_upload_modal">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <label class="modal_title_ui"> Upload Images</label>
            <button type="button" class="close modal_title_cross_button" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body table-responsive" id="image_upload" style="margin-bottom:0px !important">
            <%= render :partial => 'images/image_upload', locals: {role: @role, 
            access_permission_id: @access_permission_id, phase_parcel: @opted_parcel, product_type: @opted_product} %>
          </div>
        </div>
    </div>
</div>
<div class="modal fade" role="dialog" style="z-index:2000" id="file_upload_modal">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <label class="modal_title_ui"> Upload Files</label>
            <button type="button" class="close modal_title_cross_button" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body table-responsive" id="file_upload"  style="margin-bottom:0px !important">
        <%= render :partial => 'images/file_upload', locals: {role: @role, access_permission_id: @access_permission_id, phase_parcel: @opted_parcel, product_type: @opted_product} %>
          </div>
        </div>

    </div>
</div>
<% community = @opted_community.delete(" ")%>
<div class="svgview">
  <input type="hidden" id="is_draggable" value="false">
  <input type="hidden" id="hover_draggable" value="false">  
  <%= render :partial => "tbldata/map_based_on_community_and_filing", :locals => {:community => community, :filing =>@parcel_map} %>
</div>
<script>
    var array = <%= raw @legend_keys.to_json unless @legend_keys.nil?%>
    edit_mode = 0;
    hide_rollover_on_dbl_click =0; 
    var unknownid;
    var unknwonclass;
    var lot_to_color;
    var a = document.getElementById("alphasvg");
    $("#alphasvg").css("visibility","hidden");
var load_map = function () {
        var svgDoc = a.contentDocument;
        lot_class = svgDoc.getElementsByClassName("land");
        Tbldatum_svg_ids_arr = <%= Tbldatum.get_all_svg_ids.compact.to_json.html_safe %>
                for(i=0;i<lot_class.length;i++)
                {
                    svg_lot_id = lot_class[i].getAttribute("id")
                  
                    result = $.inArray(svg_lot_id, Tbldatum_svg_ids_arr)
                    if(result == -1)
                    {
                      $(lot_class[i]).css("fill","#D8d8d8")                                           
                      text_element = svgDoc.getElementById("Txt_"+svg_lot_id)
                      if(text_element != null)
                      { 
                        text_element.style.opacity= "0.2"
                      }
                    }                    
                    else
                    {
                      $(lot_class[i]).css("fill","#FFFFFF") 
                      // $(svgDoc.getElementById(svg_lot_id)).mouseenter(function(){                        
                      //       originl_style = $(svgDoc.getElementById(this.id)).attr("style") 
                      //       $(svgDoc.getElementById(this.id)).attr("style",""+originl_style+";stroke-opacity:0.5 !important;stroke-width:5px !important");
                      //   }).mouseleave(function() {            
                      //       $(svgDoc.getElementById(this.id)).attr('style',originl_style)
                      // });                    
                    }
                  }
                  
        <% @colorize_lots= @click_data%>          
          <% if @filter %>          
              <% @colorize_lots.each do |l| %>  
                <% unless l.SVG_ID.blank? %>
                  svgDoc.getElementById('<%=l.SVG_ID %>').style.fill = '#FFFBFF' 
                  svgDoc.getElementById("Cir_" + '<%=l.SVG_ID %>').style.fill = '#FFFBFF' 
                  svgDoc.getElementById("Star_" + '<%=l.SVG_ID %>').style.fill = '#FFFBFF' 
                <% end %>  
              <% end %>
              <% @all_lots.each do |l| %>                
                <% unless l.SVG_ID.blank? %>
                  lot_to_color = svgDoc.getElementById('<%=l.SVG_ID %>');                  
                  lot_to_circle = svgDoc.getElementById("Cir_" + '<%=l.SVG_ID %>');
                  lot_to_star = svgDoc.getElementById("Star_" + '<%=l.SVG_ID %>');    
                  if(lot_to_color)
                  {                  
                    lot_to_color.style.fill = '<%= l.Lot_Status.blank? ? "#FFFFFF" : l.get_color_code_for_sales_view %>';
                  }
                  if(lot_to_circle)
                  {

                    lot_to_circle.style.fill = '<%= l.Lot_Status.blank? ? "#FFFFFF" : l.get_color_code_for_sales_view %>';
                  }
                  if(lot_to_star)
                  {
                    lot_to_star.style.fill = '<%= l.Lot_Status.blank? ? "#FFFFFF" : l.get_color_code_for_sales_view %>';
                  }   
                <% end %>  
           <% end %>
        <% else %>                
            <% @colorize_lots.each do |l| %>
                lot_to_color = svgDoc.getElementById('<%=l.SVG_ID %>');
                lot_to_circle = svgDoc.getElementById("Cir_" + '<%=l.SVG_ID %>');
                lot_to_star = svgDoc.getElementById("Star_" + '<%=l.SVG_ID %>');        
                if(lot_to_color)
                {        
                  lot_to_color.style.fill = '<%= l.Lot_Status.blank? ? "#FFFFFF" : l.get_color_code_for_lot_sts_view %>';
                }
                if(lot_to_circle)
                {
                  lot_to_circle.style.fill = '<%= l.Lot_Status.blank? ? "#FFFFFF" : l.get_color_code_for_lot_sts_view %>';
                }
                 if(lot_to_star)
                {
                  lot_to_star.style.fill = '<%= l.Lot_Status.blank? ? "#FFFFFF" : l.get_color_code_for_lot_sts_view %>';
                }
            <% end %>    
        <% end %>     
        var delta = svgDoc.getElementsByTagName('path');
        <% if @filter %>
            svgLots = new Array();
            svgLots1 = new Array();
            svgLots2 = new Array();
            <% if @hover_data.present? %>
                mappingIds = new Array('<%= @hover_data.map(&:SVG_ID).join(',') %>')[0].split(',');
                $(mappingIds).each(function(i, mId){
                    $(delta).each(function(i, lot){
                        if(mId==lot.id){
                            svgLots.push(lot); 
                            return false;
                        }
                    });
                    $(delta).each(function(i, lot)
                    {                     
                        if(("Cir_" + mId) ==lot.id )
                        {  
                          svgLots1.push(lot); 
                          return false;
                        }
                    });

                   $(delta).each(function(i, lot)
                   {                     
                       if(("Star_" + mId) ==lot.id )
                       {  
                          svgLots2.push(lot); 
                          return false;
                      }
                  });
                });
            <% end %>
            result = $.merge(svgLots, svgLots1)
            delta = $.merge(result, svgLots2)
        <% end %>

        delta = $(delta).filter("[class=land]");
        on_page_load_blink_lot();
        zoom_control_functionality();
        $("#alphasvg").css("visibility","visible");
        doubleclickhandler = function (ev) {
          rm_blink_after_click_on_lot()
          $("#update_notification").css("display", "none");
          $("#left.map_render").css("margin-top",$("#main_nav").outerHeight()+"px");
           if(document.getElementById("is_draggable").value=="false"){
          var clickEvent = ((document.ontouchstart!==null)?'click':'touchstart');
          // console.log(clickEvent, ev.type)
          if(clickEvent=='touchstart' && ev.type =="touchstart"){
                   var mouseX = (ev.originalEvent.touches[0].pageX+120)-window.pageXOffset;
                   var mouseY = (ev.originalEvent.touches[0].pageY+200)-window.pageYOffset;
                   var windowWidth=$(window).width();
                   var windowHeight=$(window).height();
                   if(windowWidth- mouseX<450){
                       mouseX=mouseX-530;
                   }
                   if(windowHeight- mouseY<250){
                       mouseY=mouseY-330;
                   }

                   $("#dialog_toolltip .modal-body .table tbody > tr#imagecountrow").removeClass("hide_control");
                   $("#dialog_toolltip .modal-body .table tbody > tr > td > span#imagecount").removeClass("hide_control");
                   $("#dialog_toolltip .modal-body .table tbody > tr > td > span#documentcount").removeClass("hide_control");
                   $("#dialog_toolltip .modal-body .table tbody > tr#image_hover_row").removeClass("hide_control");
                   $("#dialog_toolltip .modal-body .table tbody > tr > td#image_hover").removeClass("hide_control");
          
                    var test = lotn  = image_count = idlot  = lot_builder =lot_status_tool = lot_cost ='';
                    document_count_rollover=image_count_rollover=0;

                    unknown = this.id;
                    test = unknown;

                    var filter = '<%= @filter%>';
                    var thisAllocation = '<%= @allocation%>';
                    var flag = 0;
                    <% @hover_data && @hover_data.each do |tl| %>
                        var svg = '<%= tl.SVG_ID %>';
                        var circle_svg = "Cir_" + '<%= tl.SVG_ID %>';
                        var star_svg = "Star_" + '<%= tl.SVG_ID %>';
                        
                        if ( (svg == test) || (circle_svg == test) || (star_svg == test) ) {
                            flag = 1;
                            lotn = '<%= tl.Lot_Number %>';
                            idlot = '<%= tl.Unique_ID%>';                            
                            house_number = '<%= tl.HouseNumber %>'
                            Estimated_Settlement_Date = Estimated_Settlement_Date = '<%= ( tl.Estimated_Settlement_Date.present?)?tl.Estimated_Settlement_Date.strftime("%m/%d/%Y"):'' %>'
                            buyer_name = '<%= tl.Buyer_Name%>'  
                            Mortgage_Lender = '<%= tl.Mortgage_Lender%>'  
                            Loan_Officer = '<%= tl.Loan_Officer%>'  
                            Coop_Agent = '<%= tl.Coop_Agent %>'
                            Coop_Broker = '<%= tl.Coop_Broker %>'
                            lot_status = '<%= tl.Lot_Status_Val %>'
                            
                            image_count_rollover = '<%= tl.pic_count_lotinsight%>'; 
                            document_count_rollover = '<%= tl.doc_count_lotinsight%>';
                            $('#image_hover').empty();               


                            <%unless tl.Key_Image_Url.blank?%>
                                <% unless tl.Key_Image_Id.blank?%>
                                  <% unless ImageGallery.find(tl.Key_Image_Id).youtube_url.blank?%>
                                    $('#image_hover').append("<img src='/assets/youtube_logo.png' class='OverlayIcon' style='padding-left: 10px;' />") 
                                  <% else %>
                                    key_image_url = '<%= tl.Key_Image_Url %>';
                                    $('#image_hover').append("<img src='"+key_image_url+"' />");   
                                  <% end %>  
                                <% else %>
                                  key_image_url = '<%= tl.Key_Image_Url %>';
                                  $('#image_hover').append("<img src='"+key_image_url+"' />");   
                                <% end %>
                            <%else%>
                                $("#dialog_toolltip .modal-body .table tbody > tr#image_hover_row").addClass("hide_control");                            
                            <%end%>

                        }
                   <% end %>
                    $("#dialog_toolltip #view_edit_full_details").empty();
                    $("#dialog_toolltip #view_edit_full_details").append("<div></div>");
                    $("#dialog_toolltip #view_edit_full_details div").attr('id', this.id);
                    $("#dialog_toolltip #view_edit_full_details div").attr('class', this.class);
                    $("#dialog_toolltip #view_edit_full_details div").on("tap", doubleclickhandler);
                    $("#dialog_toolltip #view_edit_full_details div").text("View Full Details");
                    $("#dialog_toolltip #lnk_for_click_popup").show();
                   if(flag){
                    if (image_count_rollover == 0) {
                       $("#imagecount").addClass("hide_control");
                       $("#image_hover").addClass("hide_control");
                    }
                    if (document_count_rollover == 0) {
                        $("#dialog_toolltip .modal-body .table tbody > tr > td >span#documentcount").addClass("hide_control");
                    }
                    if(document_count_rollover == 0 && image_count_rollover == 0){
                         $("#dialog_toolltip .modal-body .table tbody > tr#imagecountrow").addClass("hide_control");
                         $("#dialog_toolltip .modal-body .table tbody > tr#image_hover_row").addClass("hide_control");
                        }

                    unknwonclass = this.class;
                
                    if(hide_rollover_on_dbl_click == 0){
                      var dWidth = $(window).width() * 0.5;
                        if(dWidth > 270 )
                        {
                            dWidth = 330
                        } 
                        $("#dialog_toolltip").dialog({
                            position:[mouseX, mouseY],
                            create:function (event, ui) {
                                $("#dialog_toolltip").prev().hide();
                                $(".ui-widget-content").css("border", 0);
                                $(".ui-dialog").css("padding",0);
                                $(".ui-dialog .ui-dialog-content").css("padding",0);
                                
                            },
                            buttons:{
                                CLOSE:function () {
                              $(this).dialog("destroy");
                                }
                            },
                            resizable:false,
                            modal:false,
                            // width:400,
                            width: dWidth,
                            closeOnEscape:false,
                            draggable:false,
                            minHeight:0
                        });

                    
                        $("#dialog_toolltip").dialog().data();
                        $("#dialog_toolltip #address").html(address);
                        $("#dialog_toolltip #lotn").html(lotn);
                        $("#dialog_toolltip #house_number").html(house_number);
                        $("#dialog_toolltip #Coop_Agent").html(Coop_Agent);
                        $("#dialog_toolltip #lot_status").html(lot_status);
                        $("#dialog_toolltip #Coop_Broker").html(Coop_Broker);
                        $("#dialog_toolltip #Estimated_Settlement_Date").html(Estimated_Settlement_Date);
                        $("#dialog_toolltip #buyer_name").html(buyer_name);
                        $("#dialog_toolltip #Mortgage_Lender").html(Mortgage_Lender);
                        $("#dialog_toolltip #Loan_Officer").html(Loan_Officer);
                        $("#dialog_toolltip #image_count_rollover").html(image_count_rollover);
                        $("#dialog_toolltip #document_count_rollover").html(document_count_rollover);
                    }
                  }
                      // }
                ev.preventDefault()
          }//touch
          else{

              $("#dialog_toolltip #view_full_details").html("")            
             $(".lot_info_image_rotate, .finance_image_rotate, .sales_broker_image_rotate, .close_info_image_rotate").addClass("image_rotate_oncollapse").removeClass("image_rotate_onexpand");
             $(".lot_info, .finance, .sales_broker, .close_info").hide();

            $(".close_in_view_mode").css("display","inline");
            $(".close_in_edit_mode").css("display","none")
            $(".tb_visible").addClass("tb_hidden");
            $(".tb_visible").removeClass("tb_visible");
            $(".lb_hidden").addClass("lb_visible");
            $(".lb_hidden").removeClass("lb_hidden");
            $("#dialog #validation_msgs_td").empty(); 
            if ($("#dialog_toolltip").dialog( "isOpen" )==true) {
                $('#dialog_toolltip').dialog('close');
             } 
            $(".close").css("margin-top","0.2%")
            $(".tb_visible").addClass("tb_hidden");
            $(".tb_visible").removeClass("tb_visible");
            $(".lb_hidden").addClass("lb_visible");
            $(".lb_hidden").removeClass("lb_hidden");
            $("#dialog .footer_buttons").addClass("tb_visible").removeClass("tb_hidden");
            $(".Zebra_DatePicker_Icon_Wrapper").addClass("Zebra_DatePicker_Hidden").removeClass("Zebra_DatePicker_Visible");
            $("#dialog #view_images, #dialog #edit_images").removeClass("hide_control");
            $("#dialog #edit_docs, #dialog #view_docs").removeClass("hide_control");
            var idlot = lotn = Address = house_number = filing = phase = block = Development_Code = lot_status = ownership = release_date = Contract_Date  = Elevation = Elevation_Description  = Lot_Number = Lot_Status_Val = Model_Code = Model_Description = Ratified_Date= Release_Sale_Date = Settlement_Date = Estimated_Settlement_Date = base_sales = Lot_Premium = Total_Options = Incentive_1 = Incentive_2 = Incentive_3 = Incentive_1 = Incentive_2 = Incentive_3 = Total_Customer_Deposits = total_loan_drawn_to_date = Salesperson_1 = Salesperson_2 = Salesperson_3 = Coop_Agent = Coop_Broker = Coop_Agent_Fee = Coop_Broker_Fee = Contingency_Fee_Paid = Mortgage_Lender = Loan_Officer = Title_Company = Points = Closing_Costs = Closing_Costs_Credit = loan_num = loan_bank_name = upgrades_price = "";
            var image_count=doc_count= 0;
                role = '<%= @role %>';
                parent_tab_id='<%= @parent_tab_id %>';
                access_permission='<%= @access_permission_id %>';
                phase_parcel='<%= @opted_parcel %>';
                project='<%= @opted_product %>';
                test = this.id;
                var flag=0     
               

                <% @click_data && @click_data.each do |tl| %>                  
                  <% if @is_admininstrator %>
                      $("#dialog .footer_buttons").addClass("tb_visible").removeClass("tb_hidden");
                  <% elsif tl.permission.include? 1 %>
                      $("#dialog .footer_buttons").addClass("tb_visible").removeClass("tb_hidden");
                  <% else %>
                      $("#dialog .footer_buttons").addClass("tb_hidden").removeClass("tb_visible");
                 <% end %>


                    var svg = '<%= tl.SVG_ID %>';
                    var circle_svg = "Cir_" + '<%= tl.SVG_ID %>';
                    var star_svg = "Star_" + '<%= tl.SVG_ID %>';
                        
                    if ( (svg == this.id) || (circle_svg == this.id) || (star_svg == this.id) ) 
                    {
                        flag=1;

                      <% is_admin = @is_admininstrator%>
                      $("#is_admin").val("<%= is_admin%>")

                      $("#dialog  input.date_picker").Zebra_DatePicker({
                                  format: 'm/d/Y',
                       onSelect: function(){
                           $(".update_lot").attr("disabled", false);
                       },
                       onChange: function() {
                          $(".update_lot").attr("disabled",false);
                      }
                     });    
                        idlot = '<%= tl.Unique_ID%>';
                        lotn = '<%= tl.Lot_Number %>'; 
                        Address = '<%= tl.Address %>'
                        house_number = '<%= tl.HouseNumber %>'
                        filing = '<%= tl.Phase_Name %>'
                        phase = '<%= tl.Phase %>'
                        block = '<%= tl.Block %>'
                        development_code = '<%= tl.Development_Code %>'

                        //  common section
                        Address = '<%= tl.Address %>'
                        house_number = '<%= tl.HouseNumber %>'
                        Contract_Date = '<%= ( tl.Contract_Date.present?)?tl.Contract_Date.strftime("%m/%d/%Y"):'' %>'
                        Development_Code = '<%= tl.Development_Code%>'
                        Elevation = '<%= tl.Elevation%>'
                        Elevation_Description = '<%= tl.Elevation_Description%>'
                        Lot_Number = '<%= tl.Lot_Number%>'
                        Lot_Status_Val = '<%= tl.Lot_Status_Val%>'
                        Model_Code = '<%= tl.Model_Code%>'
                        Model_Description = '<%= tl.Model_Description%>'
                        Ratified_Date = '<%= ( tl.Ratified_Date.present?)?tl.Ratified_Date.strftime("%m/%d/%Y"):'' %>'
                        Release_Sale_Date = '<%= ( tl.Release_Sale_Date.present?)?tl.Release_Sale_Date.strftime("%m/%d/%Y"):'' %>'
                        Settlement_Date = '<%= ( tl.Settlement_Date.present?)?tl.Settlement_Date.strftime("%m/%d/%Y"):'' %>'

                        // closing info
                        Estimated_Settlement_Date = '<%= ( tl.Estimated_Settlement_Date.present?)?tl.Estimated_Settlement_Date.strftime("%m/%d/%Y"):'' %>'
                        
                        
                        
                        '<% inc_dec1 =  tl.Incentive_Description_1%>'
                        '<% inc_dec2 =  tl.Incentive_Description_2%>'
                        '<% inc_dec3 = tl.Incentive_Description_3%>'
                        '<% inc1 =  number_to_currency(tl.Incentive_1.to_i, :precision => 2) %>'
                        '<% inc2 =  number_to_currency(tl.Incentive_2.to_i, :precision => 2) %>'
                        '<% inc3 =  number_to_currency(tl.Incentive_3.to_i, :precision => 2) %>'

                        Incentive_1 = '<%= inc_dec1.blank? ? inc1 : inc_dec1+", "+inc1 %>'
                        Incentive_2 = '<%= inc_dec2.blank? ? inc2 : inc_dec2+", "+inc2 %>'
                        Incentive_3 = '<%= inc_dec3.blank? ? inc3 : inc_dec3+", "+inc3 %>'
                        Total_Customer_Deposits = "<%= number_to_currency(tl.customer_deposits_received, :precision => 2)%>"
                        total_loan_drawn_to_date = "<%= number_to_currency(tl.total_loan_drawn_to_date,:precision => 2) %>"
                        loan_bank_name = "<%= tl.Loan_Bank_Name%>"
                        loan_num = "<%= tl.Loan_Number%>"
                        Salesperson_1 = "<%= tl.Salesperson_1%>"
                        Salesperson_2 = "<%= tl.Salesperson_2%>"
                        Salesperson_3 = "<%= tl.Salesperson_3%>"
                        Coop_Agent = "<%= tl.Coop_Agent%>"
                        Coop_Broker = "<%= tl.Coop_Broker%>"
                        Coop_Agent_Fee = "<%= number_to_currency(tl.Coop_Agent_Fee, :precision => 2) %>"
                        Coop_Broker_Fee = "<%= number_to_currency(tl.Coop_Broker_Fee, :precision => 2)%>"
                        Contingency_Fee_Paid = "<%= number_to_currency(tl.Contingency_Fee_Paid, :precision => 2)%>"
                        Mortgage_Lender = "<%= tl.Mortgage_Lender%>"
                        Loan_Officer = "<%= tl.Loan_Officer%>"
                        Title_Company = "<%= tl.Title_Company%>"
                        Points = "<%= number_to_currency(tl.Points, :precision => 2)%>"
                        Closing_Costs = "<%= number_to_currency(tl.Closing_Costs, :precision => 2)%>"
                        Closing_Costs_Credit = "<%= number_to_currency(tl.Closing_Costs_Credit, :precision => 2)%>"
                        base_sales = '<%= number_to_currency(tl.base_sales, :precision => 2)%>'
                        Incentives = '<%= number_to_currency(tl.Incentives, :precision => 2) %>'
                        Total_Options = "<%= number_to_currency(tl.option_sales, :precision => 2) %>"
                        upgrades_price = "<%= number_to_currency(tl.upgrades_price, :precision => 2) %>"
                        Lot_Premium = "<%= number_to_currency(tl.Lot_Premium_Val, :precision => 2) %>"
                        total_sales_price = ' <%=number_to_currency(tl.total_sales_price, :precision => 2) %>'
                        buyer_name = '<%= tl.Buyer_Name %>'

                        image_count = '<%= tl.pic_count_lotinsight %>'; 
                        doc_count = '<%= tl.doc_count_lotinsight %>'

                    }

                <% end %>    
                if(flag){
                    if (image_count==0) {
                        $("#dialog #view_images, #dialog #edit_images").addClass("hide_control");
                    }
                 
                     if (doc_count==0) {
                        $("#dialog #edit_docs, #dialog #view_docs").addClass("hide_control");
                    }
                    $("#dialog").data("lot_id", idlot).data("lotn", lotn).data("user_role", role).data("parent_tab_id", parent_tab_id).data("phase_parcel",phase_parcel).data("access_permission", access_permission).data("product_type","<%= @opted_product%>").data("community","<%= @opted_community%>").modal({
                                                backdrop: true,
                                                keyboard: false,
                                                show: true
                        }); 


                    $("#dialog  input#idlot").val(idlot);  
                    $("#dialog  label#idlot").html(idlot);  
                    $("#dialog  input#user_role").val(role);  
                    $("#dialog  input#parent_tab_id").val(parent_tab_id);
                    $("#dialog  input#access_permission").val(access_permission);
                    $("#dialog  input#phase_parcel").val(phase_parcel);
                    $("#dialog  input#product_type").val(project);
                    $("#dialog  label#lotdetails_Id").html(lotn);

                    $("#dialog  label#lotn").html(lotn);
                    $("#dialog  input#lotn").val(lotn);
                    $("#dialog  label#filing").html(filing);
                    $("#dialog  input#filing").val(filing);
                    $("#dialog  label#phase").html(phase);
                    $("#dialog  input#phase").val(phase);
                    $("#dialog  label#block").html(block);
                    $("#dialog  input#block").val(block);

                    $("#dialog  label#Address").html(Address);
                    $("#dialog  label#House_Number").html(house_number);
                    $("#dialog  label#Contract_Date").html(Contract_Date);
                    $("#dialog  label#Development_Code, #dialog #dev_nm").html(Development_Code);
                    $("#dialog  label#Elevation").html(Elevation);
                    $("#dialog  label#Elevation_Description").html(Elevation_Description);
                    $("#dialog  label#Lot_Number").html(Lot_Number);
                    $("#dialog  label#Lot_Status").html(Lot_Status_Val);
                    $("#dialog  label#Model_Code").html(Model_Code);
                    $("#dialog  label#Model_Description").html(Model_Description);
                    $("#dialog  label#Ratified_Date").html(Ratified_Date);
                    $("#dialog  label#Release_Sale_Date").html(Release_Sale_Date);
                    $("#dialog  label#Settlement_Date").html(Settlement_Date);


                    // closing view
                    $("#dialog  label#Estimated_Settlement_Date").html(Estimated_Settlement_Date);
                    $("#dialog  label#base_sales").html(base_sales);
                    $("#dialog  label#Lot_Premium").html(Lot_Premium);
                    $("#dialog  label#Total_Options").html(Total_Options);
                    $("#dialog  label#upgrades_price").html(upgrades_price);
                    $("#dialog  label#Incentive_1").html(Incentive_1);
                    $("#dialog  label#Incentive_2").html(Incentive_2);
                    $("#dialog  label#Incentive_3").html(Incentive_3);
                    $("#dialog  label#Total_Customer_Deposits").html(Total_Customer_Deposits);
                    $("#dialog  label#total_loan_drawn_to_date").html(total_loan_drawn_to_date);
                    $("#dialog  label#loan_bank_name").html(loan_bank_name);
                    $("#dialog  label#loan_num").html(loan_num);
                    $("#dialog  label#Salesperson_1").html(Salesperson_1);
                    $("#dialog  label#Salesperson_2").html(Salesperson_2);
                    $("#dialog  label#Salesperson_3").html(Salesperson_3);
                    $("#dialog  label#Coop_Agent").html(Coop_Agent);
                    $("#dialog  label#Coop_Broker").html(Coop_Broker);
                    $("#dialog  label#Coop_Agent_Fee").html(Coop_Agent_Fee);
                    $("#dialog  label#Coop_Broker_Fee").html(Coop_Broker_Fee);
                    $("#dialog  label#Contingency_Fee_Paid").html(Contingency_Fee_Paid);
                    $("#dialog  label#Mortgage_Lender").html(Mortgage_Lender);
                    $("#dialog  label#Loan_Officer").html(Loan_Officer);
                    $("#dialog  label#Title_Company").html(Title_Company);
                    $("#dialog  label#Points").html(Points);
                    $("#dialog  label#Closing_Costs").html(Closing_Costs);
                    $("#dialog  label#Closing_Costs_Credit").html(Closing_Costs_Credit);
                    $("#dialog  label#total_sales_price").html(total_sales_price);
                    $("#dialog  label#buyer_name").html(buyer_name);





                    
                    footer_buttons_visibility();
                    dialog_header_style();
                    hide_rollover_on_dbl_click = 1;         
                }        
             }//non-touch   
            } // if close
            else
            {
                document.getElementById("is_draggable").value="false"
            }

        } //end of click handler
        for (c = 0; c < delta.length; c++) {
            var clickEvent = ((document.ontouchstart!==null)?'click':'touchstart');
            $(delta[c]).on(clickEvent, doubleclickhandler);
            // $(delta[c]).on('mousedown', doubleclickhandler);
            if(clickEvent=='touchstart'){
              $(delta[c]).on('mousedown', doubleclickhandler);              
            }
        }// end of forloop for  intitialsizing double click


           for (c = 0; c < delta.length; c++) {
            delta[c].onmouseover = function (e) { 
                if(document.getElementById("hover_draggable").value=="false"){
                   var mouseX = (e.pageX+120)-window.pageXOffset;
                   var mouseY = (e.pageY+200)-window.pageYOffset;
                   var windowWidth=$(window).width();
                   var windowHeight=$(window).height();

                   if(windowWidth- mouseX<450){
                       mouseX=mouseX-530;
                   }
                   if(windowHeight- mouseY<250){
                       mouseY=mouseY-330;
                   }
                   $("#dialog_toolltip .modal-body .table tbody > tr#imagecountrow").removeClass("hide_control");
                   $("#dialog_toolltip .modal-body .table tbody > tr > td > span#imagecount").removeClass("hide_control");
                   $("#dialog_toolltip .modal-body .table tbody > tr > td > span#documentcount").removeClass("hide_control");
                   $("#dialog_toolltip .modal-body .table tbody > tr#image_hover_row").removeClass("hide_control");
                   $("#dialog_toolltip .modal-body .table tbody > tr > td#image_hover").removeClass("hide_control");
          
                    var test = lotn  = image_count = idlot = house_number = address = model_name = lot_status  = lot_premium = '';
                    document_count_rollover=image_count_rollover=0;

                    unknown = this.id;
                    test = unknown;
                    var filter = '<%= @filter%>';
                    var thisAllocation = '<%= @allocation%>';
                    var flag = 0;
                    <% @hover_data && @hover_data.each do |tl| %>
                        var svg = '<%= tl.SVG_ID %>';
                        var circle_svg = "Cir_" + '<%= tl.SVG_ID %>';
                        var star_svg = "Star_" + '<%= tl.SVG_ID %>';
                        
                        if ( (svg == test) || (circle_svg == test) || (star_svg == test) ) {
                            flag = 1;
                            lotn = '<%= tl.Lot_Number %>';
                            idlot = '<%= tl.Unique_ID%>';                            
                            house_number = '<%= tl.HouseNumber %>'
                            Estimated_Settlement_Date = '<%= tl.Estimated_Settlement_Date %>'       
                            buyer_name = '<%= tl.Buyer_Name%>'  
                            Mortgage_Lender = '<%= tl.Mortgage_Lender%>'  
                            Loan_Officer = '<%= tl.Loan_Officer%>'  
                            Coop_Agent = '<%= tl.Coop_Agent %>'
                            Coop_Broker = '<%= tl.Coop_Broker %>'
                            lot_status = '<%= tl.Lot_Status_Val %>'
                            
                            image_count_rollover = '<%= tl.pic_count_lotinsight%>'; 
                            document_count_rollover = '<%= tl.doc_count_lotinsight%>';
                            $('#image_hover').empty();               

                            <%unless tl.Key_Image_Url.blank?%>
                                <% unless tl.Key_Image_Id.blank?%>
                                  <% unless ImageGallery.find(tl.Key_Image_Id).youtube_url.blank?%>
                                    $('#image_hover').append("<img src='/assets/youtube_logo.png' class='OverlayIcon' style='padding-left: 10px;' />") 
                                  <% else %>
                                    key_image_url = '<%= tl.Key_Image_Url %>';
                                    $('#image_hover').append("<img src='"+key_image_url+"' />");   
                                  <% end %>  
                                <% else %>
                                  key_image_url = '<%= tl.Key_Image_Url %>';
                                  $('#image_hover').append("<img src='"+key_image_url+"' />");   
                                <% end %>
                            <%else%>
                                $("#dialog_toolltip .modal-body .table tbody > tr#image_hover_row").addClass("hide_control");                            
                            <%end%>

                        }
                   <% end %>
                   if(flag){
                    if (image_count_rollover == 0) {
                       $("#imagecount").addClass("hide_control");
                       $("#image_hover").addClass("hide_control");
                    }
                    if (document_count_rollover == 0) {
                        $("#dialog_toolltip .modal-body .table tbody > tr > td >span#documentcount").addClass("hide_control");
                    }
                    if(document_count_rollover == 0 && image_count_rollover == 0){
                         $("#dialog_toolltip .modal-body .table tbody > tr#imagecountrow").addClass("hide_control");
                         $("#dialog_toolltip .modal-body .table tbody > tr#image_hover_row").addClass("hide_control");
                        }

                    unknwonclass = this.class;
                
                    if(hide_rollover_on_dbl_click == 0){
                      var dWidth = $(window).width() * 0.5;
                        if(dWidth > 270 )
                        {
                            dWidth = 330
                        } 
                        $("#dialog_toolltip").dialog({
                            position:[mouseX, mouseY],
                            create:function (event, ui) {
                                $("#dialog_toolltip").prev().hide();
                                $(".ui-widget-content").css("border", 0);
                                $(".ui-dialog").css("padding",0);
                                $(".ui-dialog .ui-dialog-content").css("padding",0);
                                
                            },
                            buttons:{
                            },                                                        
                            resizable:false,
                            modal:false,
                            // width:400,
                            width:dWidth,
                            closeOnEscape:false,
                            draggable:false,
                            minHeight:0
                        });
                        $("#dialog_toolltip #view_edit_full_details").empty();
                        $("#dialog_toolltip #lnk_for_click_popup").hide();                    
                        $("#dialog_toolltip").dialog().data();
                        $("#dialog_toolltip #address").html(address);
                        $("#dialog_toolltip #lotn").html(lotn);
                        $("#dialog_toolltip #house_number").html(house_number);
                        $("#dialog_toolltip #Coop_Agent").html(Coop_Agent);
                        $("#dialog_toolltip #lot_status").html(lot_status);
                        $("#dialog_toolltip #Coop_Broker").html(Coop_Broker);
                        $("#dialog_toolltip #Estimated_Settlement_Date").html(Estimated_Settlement_Date);
                        $("#dialog_toolltip #buyer_name").html(buyer_name);
                        $("#dialog_toolltip #Mortgage_Lender").html(Mortgage_Lender);
                        $("#dialog_toolltip #Loan_Officer").html(Loan_Officer);
                        $("#dialog_toolltip #image_count_rollover").html(image_count_rollover);
                        $("#dialog_toolltip #document_count_rollover").html(document_count_rollover);
                    }                        
            }
          }
              else
               {
                 document.getElementById("hover_draggable").value="false";
               }
            }//// end of initialising mouse hover

            delta[c].onmouseout = function () {              
              if(hide_rollover_on_dbl_click==0){
                  if ($("#dialog_toolltip").dialog( "isOpen" )==true) {
                    $("#dialog_toolltip").dialog("close");
                  }              
              } 
            } // end of initialising mouse out
        } // end of initialising mouse hover and mouse out
    } // end of load map
    a.addEventListener("load", load_map, false);
     $('#dialog').on('hidden.bs.modal', function (e) {
        hide_rollover_on_dbl_click = 0;
     });   
    
$("#edit_images, .edit_docs, .files_upload, .view_docs").click(function(){
    $("#close, .btn_view_mode, .edit_images, .upload_images, .update_lot, .edit_docs, .files_upload, .edit_mode, .view_docs, .view_images").attr("disabled","true")
  })

  $(".upload_images").click(function(){
    $("#close, .btn_view_mode, .edit_images, .upload_images, .update_lot, .edit_docs, .files_upload, .edit_mode, .view_docs, .view_images, close_in_edit_mode").attr("disabled","true")        
  })
</script>
<div class="modal fade" id="dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= hidden_field_tag  "original_data"%>
    <div class="modal-dialog views_dialog">
      <div class="modal-content">
        <%= form_tag "",:id=> "upload_data" do %>
          <%= hidden_field_tag "idlot" %>
          <%= hidden_field_tag "lotn" %>
          <%= hidden_field_tag "user_role" %>
          <%= hidden_field_tag "parent_tab_id" %>
          <%= hidden_field_tag "access_permission" %>
          <%= hidden_field_tag "phase_parcel" %>
          <%= hidden_field_tag "product_type" %>
          <%= hidden_field_tag "community", @opted_community %>         
          <div class="modal-header header_hgt">
            <h5 class="modal-title" id="myModalLabel"><div class="clk_lt_nm"><span id="dev_nm"></span> Lot: <label id="lotdetails_Id"></label></div>
            
              <div class="modal-footer">                 
                <div id="footer_buttons" class="footer_buttons">
                  <div id="view_images" class="btn btn-primary view_images btn_mrg" onclick="view_images()">View Images</div>
                  <div id="view_docs" class="btn btn-primary view_docs btn_mrg" onclick="view_docs()">View Docs</div>
                  <div id="edit_images" class="btn btn-primary edit_images btn_mrg" onclick="edit_images()">Edit Images</div>     
                  <div id="edit_docs" class="btn btn-primary edit_docs btn_mrg" onclick="edit_docs()">Edit Docs</div>   
                  <div id="upload_images" class="btn btn-primary upload_images btn_mrg" onclick="upload_images()">Add Images
                  </div>            
                  <div id="files_upload" class="btn btn-primary files_upload btn_mrg" onclick="files_upload()">Upload Files
                  </div>              
                  <a href='#' id="close" data-dismiss="modal" class="cancel_text_color close_in_view_mode" style="font-size:12px">cancel</a>
                  <a href='#' id="close_in_edit_mode" class="cancel_text_color close_in_edit_mode" style="display:none;font-size:12px">cancel</a>                
                </div>
                <!-- <button id="close_cross_button" type="button" data-dismiss="modal" class="close" aria-hidden="true" style="z-index:2000;margin-left:0.7%;margin-top:0.2%">&times;</button> -->
              </div>
            </h5>
          </div>
          
          <div class="modal-body">        
            <div class="table-responsive">
                <%= hidden_field_tag "is_admin"%>
                  <table id="outer_table" class="table table-bordered table-striped " >           
                    <tr>
                        <td class="outer_td">
                          <%= render :partial => "common_section_partial"%>
                          <table  class="table table-bordered table-striped inner_table">
                            <tr class="inner_th" style="background-color:#f5f5f5 !important" onclick="toggleDiv('close_info')">
                                <td class="table_th" colspan=2 style="background-color:#f5f5f5 !important">
                                <h5 class="modal-title" id="myModalLabel"> <label class="clk_header">Closing Info</label><img src="/assets/arrow.gif" class="close_info_image_rotate"></h5>
                                </td>
                            </tr>
                            <tr class = "inner_tr close_info">
                                <td>Estimated Settlement Date</td>
                                <td>
                                  <label id="Estimated_Settlement_Date"></label>
                                </td>
                            </tr>

                            <tr class = "inner_tr close_info">
                              <td class="text_align_right">Base Price</td>
                              <td>
                                  <label id="base_sales"></label></td>
                            </tr>
                            <tr class = "inner_tr close_info">
                              <td class="text_align_right">Incentive 1</td>
                              <td>
                                  <label id="Incentive_1"></label></td>
                            </tr>

                            <tr class = "inner_tr close_info">
                              <td class="text_align_right">Incentive 2</td>
                              <td>
                                  <label id="Incentive_2"></label></td>
                            </tr>

                            <tr class = "inner_tr close_info">
                              <td class="text_align_right">Incentive 3</td>
                              <td>
                                  <label id="Incentive_3"></label></td>
                            </tr>

                            <tr class = "inner_tr close_info">
                              <td class="text_align_right">Total Options</td>
                              <td>
                                  <label id="Total_Options"></label>                               
                              </td>
                            </tr>
                            <tr class = "inner_tr close_info ">
                                <td class="text_align_right">Upgrades Price</td>
                                <td>
                                    <label id="upgrades_price"></label>
                                </td>
                            </tr>

                            <tr class = "inner_tr close_info">
                              <td class="text_align_right">Lot Premium</td>
                              <td>
                                  <label id="Lot_Premium"></label>
                              </td>
                            </tr>
                            <tr class = "inner_tr close_info">
                              <td class="text_align_right">Total Sales Price</td>
                              <td>
                                  <label id="total_sales_price"></label>
                              </td>
                            </tr>
                            <tr class = "inner_tr close_info">
                              <td class="text_align_right">Total Customer Deposits</td>
                              <td>
                                <label id="Total_Customer_Deposits"></label></td>
                            </tr>

                            <tr class = "inner_tr close_info">
                              <td class="text_align_right">Total Loan Drawn to Date</td>
                              <td>
                                  <label id="total_loan_drawn_to_date"></label></td>
                            </tr>

                            <tr class = "inner_tr close_info">
                              <td class="text_align_right">Loan Bank Name</td>
                              <td>
                                  <label id="loan_bank_name"></label></td>
                            </tr>

                            <tr class = "inner_tr close_info">
                              <td class="text_align_right">Loan #</td>
                              <td>
                                  <label id="loan_num"></label></td>
                            </tr>
                                
                            </table>

                          <table  id="outer_table" class="table table-bordered table-striped inner_table model_info_table">
                                <tr class="inner_th" style="background-color:#f5f5f5 !important" onclick="toggleDiv('sales_broker')">
                                    <td class="table_th" colspan=2 style="background-color:#f5f5f5 !important">
                                    <h5 class="modal-title" id="myModalLabel"><label class="clk_header">Sales Person / Brokers</label><img class="sales_broker_image_rotate" src="/assets/arrow.gif" ></h5>
                                    </td>
                                </tr>
                                <tr class = "inner_tr sales_broker ">
                                    <td class="text_align_right">Salesperson 1</td>
                                    <td>
                                        <label id="Salesperson_1"></label>
                                    </td>
                                </tr>
                                <tr class = "inner_tr sales_broker ">
                                    <td class="text_align_right">Salesperson 2</td>
                                    <td>
                                        <label id="Salesperson_2"></label>
                                    </td>
                                </tr>
                                  <tr class = "inner_tr sales_broker ">
                                    <td class="text_align_right">Salesperson 3</td>
                                    <td>
                                        <label id="Salesperson_3"></label>
                                    </td>
                                </tr>
                                  <tr class = "inner_tr sales_broker ">
                                    <td class="text_align_right">Coop Agent</td>
                                    <td>
                                        <label id="Coop_Agent"></label>
                                    </td>
                                </tr>
                                  <tr class = "inner_tr sales_broker ">
                                    <td class="text_align_right">Coop Broker</td>
                                    <td>
                                        <label id="Coop_Broker"></label>
                                    </td>
                                </tr>
                                  <tr class = "inner_tr sales_broker ">
                                    <td class="text_align_right">Coop Agent Fee</td>
                                    <td>
                                        <label id="Coop_Agent_Fee"></label>
                                    </td>
                                </tr>
                                 
                                  <tr class = "inner_tr sales_broker ">
                                    <td class="text_align_right">Coop Broker Fee</td>
                                    <td>
                                        <label id="Coop_Broker_Fee"></label>
                                    </td>
                                </tr>
                                  <tr class = "inner_tr sales_broker ">
                                    <td class="text_align_right">Contingency Fee Paid</td>
                                    <td>
                                        <label id="Contingency_Fee_Paid"></label>
                                    </td>
                                </tr>
                            </table>

                            <table  id="outer_table" class="table table-bordered table-striped inner_table color_scheme_table">
                                <tr class="inner_th" style="background-color:#f5f5f5 !important" onclick="toggleDiv('finance')">
                                    <td class="table_th" colspan=2  style="background-color:#f5f5f5 !important">
                                    <h5 class="modal-title" id="myModalLabel"><label class="clk_header">Financing</label><img class="finance_image_rotate" src="/assets/arrow.gif" ></h5>
                                    </td>
                                </tr>
                                <tr class = "inner_tr finance ">
                                    <td class="text_align_right">Mortgage Lender</td>
                                    <td>
                                        <label id="Mortgage_Lender"></label>
                                    </td>
                                </tr>
                                <tr class = "inner_tr finance ">
                                    <td class="text_align_right">Loan Officer</td>
                                    <td>
                                        <label id="Loan_Officer"></label>
                                    </td>
                                </tr>
                                <tr class = "inner_tr finance ">
                                    <td class="text_align_right">Title Company</td>
                                    <td>
                                        <label id="Title_Company"></label>
                                    </td>
                                </tr>
                                <tr class = "inner_tr finance ">
                                    <td class="text_align_right">Points</td>
                                    <td>
                                        <label id="Points"></label>
                                    </td>
                                </tr>
                                <tr class = "inner_tr finance ">
                                    <td class="text_align_right">Closing Costs</td>
                                    <td>
                                        <label id="Closing_Costs"></label>
                                    </td>
                                </tr>
                                <tr class = "inner_tr finance ">
                                    <td class="text_align_right">Closing Costs Credit</td>
                                    <td>
                                        <label id="Closing_Costs_Credit"></label>
                                    </td>
                                </tr>                          
                            </table>
                        </td>                   
                    </tr>              
                  </table>
            </div>
          </div>
       
          <div class="modal-footer">                           
              <div id="footer_buttons" class="footer_buttons bottom_footer_buttons">
                  <div id="view_images" class="btn btn-primary view_images btn_mrg" onclick="view_images()" >View Images</div>
                  <div id="view_docs" class="btn btn-primary view_docs btn_mrg" onclick="view_docs()" >View Docs</div>
                  <div id="edit_images" class="btn btn-primary edit_images btn_mrg" onclick="edit_images()" >Edit Images</div>     
                  <div id="edit_docs" class="btn btn-primary edit_docs btn_mrg" onclick="edit_docs()" >Edit Docs</div>   
                  <div id="upload_images" class="btn btn-primary upload_images btn_mrg" onclick="upload_images()" >Add Images
                  </div>            
                  <div id="files_upload" class="btn btn-primary files_upload btn_mrg" onclick="files_upload()" >Upload Files
                  </div>              
                  <a href='#' id="close" data-dismiss="modal" class="cancel_text_color close_in_view_mode" style="font-size:12px">cancel</a>
                  <a href='#' id="close_in_edit_mode" class="cancel_text_color close_in_edit_mode" style="display:none;font-size:12px">cancel</a>                
              </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
<div id="dialog_toolltip" title="LOT TOOLTIP">
<div class="modal-body">        

<table style="width:100%" class="table table-bordered table-striped table-hover" >    
        <tr class = "inner_tr_tooltip">
          <td width="30%">House Number</td>
          <td><label id="house_number"></label></td> 
        </tr>
        <tr class = "inner_tr_tooltip">
          <td>Estimated Settlement Date</td>
          <td><label id="Estimated_Settlement_Date"></label></td>         
        </tr>
        <tr class = "inner_tr_tooltip">
          <td>Coop Agent</td>
          <td><label id="Coop_Agent"></label></td>         
        </tr>
        <tr class = "inner_tr_tooltip">
          <td>Coop Broker</td>
          <td><label id="Coop_Broker"></label></td>         
        </tr>
        <tr class = "inner_tr_tooltip">
          <td>Lot Status</td>
          <td><label id="lot_status"></label></td>         
        </tr>
        <tr class = "inner_tr_tooltip">
          <td>Buyer Name</td>
          <td><label id="buyer_name"></label></td>         
        </tr>
        <tr class = "inner_tr_tooltip">
          <td>Mortgage Lender</td>
          <td><label id="Mortgage_Lender"></label></td>         
        </tr>
        <tr class = "inner_tr_tooltip">
          <td>Loan Officer</td>
          <td><label id="Loan_Officer"></label></td>         
        </tr>

        <tr id="lnk_for_click_popup">
          <td></td>
          <td id="view_edit_full_details" class="tooltip_data"></td>
        </tr>
        <tr id="image_hover_row" style="text-align:center;">
          <td id="image_hover" colspan='2'></td>
        </tr>
        <tr id="imagecountrow" >
          <td colspan="2" align="right">
            <span id="imagecount">
            <span class="glyphicon glyphicon-picture"></span>(<label id="image_count_rollover"></label>)</span>
            <span id="documentcount"><span class="glyphicon glyphicon-file"></span>(<label id="document_count_rollover"></label>)</span>
          </td>
      </tr>
</table>
</div>
</div>
