<script>
  $(document).ready(function(){
    $('.legend_color[data-role="Floor Plans View"][data-type="Sales Status"]').hide();
    <% if @type =="Floor Plan" && @role == "Floor Plans View" %>
      $(".legend_data_SalesStatus .legend_data .legend_data_content .legend_text").css("margin-left","-10px")
    <% end %>

    model_elevation_onload();
    if( $(".legend_data_<%= @type.gsub(' ','').gsub('/','')%> > .legend_data div").length == 0) {
      $("#no_status_<%= @type.gsub(" ","").gsub("/","") %>").html("No Status.");
      if("<%= @type %>" == "Model")
      {
        $("#model_plus_link").hide();
      }
      $("#no_status_<%= @type.gsub(" ","").gsub("/","") %>").show();
    }
    else{
      $("#no_status_<%= @type.gsub(" ","").gsub("/","") %>").hide();
    }
  })
  function model_elevation_onload(){
    if($('input:checkbox[name="legend_keys_ids[][Model]"]:checked').length > 0 ){
      $(".legend_data_Model").show();
      $("#exp_icon").hide();
      $("#com_icon").show() ;
    }
    else{
      $(".legend_data_Model").hide();
      $("#exp_icon").show()
      $("#com_icon").hide();
    }
  }
  function model_elevation_checked(){
    if($(".legend_data_Model").is(":visible") == true){
      $(".legend_data_Model").hide();
    }
    else{
      $(".legend_data_Model").show();
    }
    if($(".legend_data_Model").is(":visible") == true){
      $("#exp_icon").hide();
      $("#com_icon").show() ;
    }
    else{
      $("#exp_icon").show()
      $("#com_icon").hide();
    }
  }
</script>

<div id="legend">
  <!-- < if @type_check %> -->
    <div id="legend_title"> 
      <h4><%= @type %> </h4>
    </div>
    <% if @type=="Model" %>
      <label id="model_plus_link" style="color:blue;cursor:pointer" onclick="model_elevation_checked()"><span id="exp_icon" class="glyphicon glyphicon-plus"></span><span id="com_icon" class="glyphicon glyphicon-minus" style="display:none"></span><span style="margin-left:5px">Model</span></label>
    <% end %>
    <span id="no_status_<%= @type.gsub(" ","").gsub("/","") %>" class="zero_count_error"></span>
    <div id="legend_data" class="legend_data_<%= @type.gsub(" ","").gsub("/","") %>">
      <% @legend_data.each do |legend| %>
        <% legend_count =  Tbldatum.get_lot_count(@opted_community, @role, legend.StatusKey,  @opted_parcel, @all_lots, @type) %>
            <% if legend_count > 0 || (legend_count == 0 && ZeroCountStatus.first.zero_status_check == "Show") %>
            
              <div class="legend_data">
                <div class="legend_data_controls">
                  <% if @opted_product == "Lot Buzz"%>
                    <span class="legend_text" data-description= "<%= legend.Status_Display_Name %>" data-role= "<%= @role %>"><%= check_box_tag "legend_keys_ids[][#{@type}]", legend.StatusKey,false,:onclick => "filterLegend(this.value,'#{@type}');",   :class => legend.StatusLabel.gsub(" ", "_").gsub("<","").gsub(">","").gsub("=","").gsub("-","").gsub(/[^0-9A-Za-z]/, '') ,:style =>"vertical-align: inherit;display: inline-block;margin:2px 0px" %></span>
                  <%else%>
                    <span class="legend_text" data-description= "<%= legend.Status_Display_Name %>" data-role= "<%= @role %>"><%= check_box_tag "legend_keys_ids[][#{@type}]", legend.Status_Display_Name,false,:onclick => "filterLegend(this.value,'#{@type}');",  :class => legend.id  ,:style =>"vertical-align: inherit;display: inline-block;margin:2px 0px"%></span>
                  <%end%>

                  <%if @type == "Floor Plan" && @role == "Sales Status" %>
                      <span data-description= "<%= legend.Status_Display_Name %>" data-role= "<%= @role %>" class="legend_color" style="display:none"></span>
                  <% elsif @type == "Lot Premium" || @type == "VPO Status"%>             
                    <span data-description= "<%= legend.Status_Display_Name %>" data-role= "<%= @role %>" style="color:<%= legend.ColorCode %>;"><p style="font-size:15px;" class="glyphicon glyphicon-star" ></p></span>
                  <%elsif (@type == "Lot Status" && @role == "Construction View") || @type=="Model" %>
                     <span data-description= "<%= legend.Status_Display_Name %>" data-role= "<%= @role %>" class="legend_color" style="background-color:<%= legend.ColorCode %>; display: inline-block;vertical-align: middle;border-radius:6px;"></span>
                  <%elsif  @type!="Completed Specs" %>
                      <span data-description= "<%= legend.Status_Display_Name %>" data-role= "<%= @role %>" data-type="<%= @type%>" class="legend_color" style="background-color:<%= legend.ColorCode %>; display: inline-block;vertical-align: middle;"></span>
                  <% end %>
                </div>

                <div class="legend_data_content">
                    <% if @type == "Floor Plan"%>
                        <% if @role == "Sales Status" %>
                          <span class="legend_text floor_plan_txt" style="margin-left:-15px;cursor:default !important;" id="<%= legend.id %>"><%=legend.Status_Display_Name %></span>
                        <% else %>
                          <span class="legend_text floor_plan_txt" id="<%= legend.id %>" style="cursor:default !important;"><%=legend.Status_Display_Name %></span>
                        <% end %>
                        <% floor_img = ImageGallery.find_by_plan_id_and_plan_key_image(legend.id,1)%>
                        <% if !floor_img.blank?%>
                          <div id="floor_plan_image_modal_<%= legend.id %>" style="display:none">
                            <div class="modal-body"> 
                               <%= image_tag(floor_img.pics(:thumb_add_images), :class => "floor_plan_key_image img-thumbnail", :style=>"width:150px") %>
                            </div>
                          </div>
                        <% end %>
                    <% else %>
                       <span class="legend_text"><%= legend.Status_Display_Name %></span>
                    <%end%>
                      <!-- count -->
                      (<span id="<%= legend.id%>"><%= legend_count %></span>)
                </div>
              </div>
            <% end %>
      <% end %>
    </div>

  <!-- < end %> -->
</div>

<script type="text/javascript">
  $(".floor_plan_txt").mouseover(function(e) {
    floor_plan_id = $(this).attr("id")
    var mouseX = e.pageX-120;
    var mouseY = e.pageY+40;
    $("#floor_plan_image_modal_"+floor_plan_id).show();
    $("#floor_plan_image_modal_"+floor_plan_id).dialog({
      position:[mouseX, mouseY],
      create:function (event, ui) {
        $("#floor_plan_image_modal_"+floor_plan_id).prev().hide();
        $(".ui-widget-content").css("border", 0);
        $(".ui-dialog").css("padding",0);
        $(".ui-dialog .ui-dialog-content").css("padding",0);
        $(".ui-dialog").css({ width:'140px' });
      },
      resizable:false,
      modal:false,
      width:140,
      closeOnEscape:false,
      draggable:false,
      minHeight:0
    });   
      }).mouseout(function() {
      $("#floor_plan_image_modal_"+floor_plan_id).hide();
      if ($("#floor_plan_image_modal"+floor_plan_id).dialog( "isOpen" )==true) {
        $("#floor_plan_image_modal_"+floor_plan_id).dialog("close");
      }     
  });

  $(".floor_plan_txt").click(function(){
    l_id = $(this).attr("id")
    plan_name = $(this).html()
    $.ajax({
      url:'/images/display_plan_images',
      type:'GET',
      dataType:'html',
      data:{ "project": 'Lot Buzz', "plan_view":"plan_click_view", "community": "<%= @community_name %>", "plan_id":l_id},
      success:function (response, status) {  
        if ($("#floor_plan_image_modal"+floor_plan_id).dialog( "isOpen" )==true) {
          $("#floor_plan_image_modal_"+floor_plan_id).dialog("close");
        }              
        $("#floor_plan_view_image_display").html(response);
        $("#floor_plan_view .modal-header #data_view_header").html("Floor Plan: "+plan_name)
         $("#floor_plan_view").modal({
            backdrop: true
          });
      }
    });
  })

  <% unless @legend_keys.blank? %>    
    <%unless @legend_keys['filter1'].blank?%>
        <% @legend_keys['filter1'].each do |key1|%>
            if($('input:checkbox[name="legend_keys_ids[][Sales Status]"]').hasClass('<%=key1.gsub(" ", "_").gsub("<","").gsub(">","").gsub("=","").gsub("-","").gsub(/[^0-9A-Za-z]/, '')  %>') == true)
            {
                $(".<%= key1.gsub(" ", "_").gsub("<","").gsub(">","").gsub("=","").gsub("-","").gsub(/[^0-9A-Za-z]/, '')  %>").attr("checked", true)
            }
        <%end%>           
    <% end %>
  <%end%>

  <% unless @legend_keys.blank? %>    
    <%unless @legend_keys['filter2'].blank?%>
        <% @legend_keys['filter2'].each do |key2|%>           
            if($('input:checkbox[name="legend_keys_ids[][Floor Plan]"]').hasClass('<%=key2.gsub(" ", "_").gsub("<","").gsub(">","").gsub("=","").gsub("-","").gsub(/[^0-9A-Za-z]/, '')  %>') == true)
            {
                $(".<%= key2.gsub(" ", "_").gsub("<","").gsub(">","").gsub("=","").gsub("-","").gsub(/[^0-9A-Za-z]/, '')  %>").attr("checked", true)
            }
        <%end%>
    <% end %>    
  <%end%>

var role = '<%= @role%>'
var type = '<%= @type %>'

      if(role == "Warranty View")
      {
        <% unless @legend_keys.blank? %>    
          <%unless @legend_keys['filter1'].blank?%>
              <% @legend_keys['filter1'].each do |key1|%>
               <% status_key_rec = StatusDetail.find_by_Status_Display_Name_and_LegendType(key1, @type)%>
                <%unless status_key_rec.blank? %>
                  if($('input:checkbox[name="legend_keys_ids[]['+type+']"]').hasClass('<%=status_key_rec.id  %>') == true)
                  {
                      $(".<%= status_key_rec.id  %>").attr("checked", true)
                  }
              <%end%>
            <%end%>
          <% end %>    
        <%end%>
      }


// Accounting view, 
<% unless @legend_keys.blank? %>    
    <%unless @legend_keys['filter2'].blank?%>
        <% @legend_keys['filter2'].each do |key2|%>    
            <% status_key_rec = StatusDetail.find_by_Status_Display_Name_and_LegendType(key2, @type)%>
              <%unless status_key_rec.blank? %>
                if($('input:checkbox[name="legend_keys_ids[][Lot Status]"]').hasClass('<%=status_key_rec.id  %>') == true)
                {
                    $(".<%= status_key_rec.id  %>").attr("checked", true)
                }
              <%end%>
            <%end%>
    <% end %>    
<%end%>

// sales view, construction view
<% unless @legend_keys.blank? %>    
    <%unless @legend_keys['filter1'].blank?%>
        <% @legend_keys['filter1'].each do |key1|%>
          <% status_key_rec = StatusDetail.find_by_Status_Display_Name_and_LegendType(key1, @type)%>
            <%unless status_key_rec.blank? %>
              if($('input:checkbox[name="legend_keys_ids[][Lot Status]"]').hasClass('<%=status_key_rec.id  %>') == true)
            {
                $(".<%= status_key_rec.id  %>").attr("checked", true)
            }
            <%end%>
        <%end%>           
    <% end %>
<%end%>
//construction view
<% unless @legend_keys.blank? %>    
    <%unless @legend_keys['filter2'].blank?%>
        <% @legend_keys['filter2'].each do |key1|%>
          <% status_key_rec = StatusDetail.find_by_Status_Display_Name_and_LegendType(key1, @type)%>
            <%unless status_key_rec.blank? %>
              if($('input:checkbox[name="legend_keys_ids[][Schedule Status]"]').hasClass('<%=status_key_rec.id  %>') == true)
            {
                $(".<%= status_key_rec.id  %>").attr("checked", true)
            }
            <%end%>
        <%end%>           
    <% end %>
<%end%>

//construction view
<% unless @legend_keys.blank? %>    
    <%unless @legend_keys['filter3'].blank?%>
        <% @legend_keys['filter3'].each do |key3|%>    
            <% status_key_rec = StatusDetail.find_by_Status_Display_Name_and_LegendType(key3, @type)%>
              <%unless status_key_rec.blank? %>
                if($('input:checkbox[name="legend_keys_ids[][VPO Status]"]').hasClass('<%=status_key_rec.id  %>') == true)
                {
                    $(".<%= status_key_rec.id  %>").attr("checked", true)
                }
              <%end%>
            <%end%>
    <% end %>    
<%end%>

//sale view
<% unless @legend_keys.blank? %>    
    <%unless @legend_keys['filter3'].blank?%>
      <% @legend_keys['filter3'].each do |key3|%>  
          <% status_key_rec = StatusDetail.find_by_Status_Display_Name_and_LegendType(key3, @type)%>
          <%unless status_key_rec.blank? %>
            if($('input:checkbox[name="legend_keys_ids[][Lot Premium]"]').hasClass('<%=status_key_rec.id%>') == true)
            {
                $(".<%= status_key_rec.id%>").attr("checked", true)
            }
        <%end%>
      <% end %>    
    <% end %>    
<%end%>

//sale view
<% unless @legend_keys.blank? %>    
    <%unless @legend_keys['filter4'].blank?%>
      <% @legend_keys['filter4'].each do |key4|%>  
          <% status_key_rec = StatusDetail.find_by_Status_Display_Name_and_LegendType_and_Community(key4, @type, @opted_community)%>
          <%unless status_key_rec.blank? %>
            if($('input:checkbox[name="legend_keys_ids[][Model]"]').hasClass('<%=status_key_rec.id%>') == true)
            {
                $(".<%= status_key_rec.id%>").attr("checked", true)
            }
        <%end%>
      <% end %>    
    <% end %>    
<%end%>

<% unless @legend_keys.blank? %>    
    <%unless @legend_keys['filter5'].blank?%>
      <% @legend_keys['filter5'].each do |key5|%>  
          <% status_key_rec = StatusDetail.find_by_Status_Display_Name_and_LegendType(key5, @type)%>
          <%unless status_key_rec.blank? %>
            if($('input:checkbox[name="legend_keys_ids[][Completed Specs]"]').hasClass('<%=status_key_rec.id%>') == true)
            {
                $(".<%= status_key_rec.id%>").attr("checked", true)
            }
        <%end%>
      <% end %>    
    <% end %>    
<%end%>

  if(navigator.platform == "Linux x86_64")
    { 
      $('#legend').css('right','88px');
    }
    else if (navigator.platform == "Win32" && navigator.userAgent.match(/(chrome)/i))
    { 
      $('#legend').css('right','7.6%');
    }
    else if(navigator.platform == "Win32" && navigator.userAgent.match(/(touch)/i))
    {   
      $('#legend').css('right','157px');
    }
    else if (navigator.platform == "Win32" && navigator.userAgent.match(/(windows)/i))
    { 
      $('#legend').css('right','7.6%');
    }
    else if (navigator.platform == "Win64" && navigator.userAgent.match(/(windows)/i))
    { 
     $('#legend').css('right','7.6%');
    }
    else
    {
        $('#legend').css('right','5.6%');
    }


  function filterLegend(elem,type){
      var vals = [];
      var vals1 = [];
      var vals2 = [];
      var vals3 = [];
      var vals4 = [];
      var vals5 = [];
      
      var first_filter =[];
      var second_filter =[];
      var third_filter =[];
      var fourth_filter =[];
      var fifth_filter =[];
      var sixth_filter =[];
      var model_filter =[];
      // var model_filter_vals_119=[];
      var all_sub_filters = "";
      var role = '<%= @role%>'
      
      
      $('input:checkbox[name="legend_keys_ids[][Sales Status]"]').each(function() {
          if (this.checked) {
              vals.push(this.value);  
              first_filter.push("Sales Status")
          }
      });

      $('input:checkbox[name="legend_keys_ids[][Floor Plan]"]').each(function() {
          if (this.checked) {
              vals1.push(this.value); 
              second_filter.push("Floor Plan") 
         }
      }); 
      

 
      if(role == "Warranty View")
      {
         $('input:checkbox[name="legend_keys_ids[]['+type+']"]').each(function() {
            if (this.checked) {
                vals.push(this.value);  
                first_filter.push(type)
            }
        });
      }

      if(role == "Accounting View" || role == "Closing View")
      {
        
         $('input:checkbox[name="legend_keys_ids[][Lot Status]"]').each(function() {
              if (this.checked) {
                  vals1.push(this.value);  
                  second_filter.push("Lot Status")
              }
          });
      }


      if(role == "Construction View")
      {
          $('input:checkbox[name="legend_keys_ids[][Lot Status]"]').each(function() {
              if (this.checked) {
                  vals.push(this.value);  
                  first_filter.push("Lot Status")
              }
          });

          $('input:checkbox[name="legend_keys_ids[][Schedule Status]"]').each(function() {
              if (this.checked) {
                  vals1.push(this.value);  
                  second_filter.push("Schedule Status")
              }
          });
         
         $('input:checkbox[name="legend_keys_ids[][VPO Status]"]').each(function() {
              if (this.checked) {
                  vals2.push(this.value);  
                  third_filter.push("VPO Status")
              }
          });
         
      }

       if(role == "Sales View")
      {
        
         $('input:checkbox[name="legend_keys_ids[][Lot Status]"]').each(function() {
              if (this.checked) {
                  vals.push(this.value);  
                  first_filter.push("Lot Status")
              }
          });
         $('input:checkbox[name="legend_keys_ids[][Lot Ownership]"]').each(function() {
              if (this.checked) {
                  vals1.push(this.value);  
                  second_filter.push("Lot Ownership")
              }
          });
         $('input:checkbox[name="legend_keys_ids[][Lot Premium]"]').each(function() {
              if (this.checked) {
                  vals2.push(this.value);  
                  third_filter.push("Lot Premium")
              }
          });
         $('input:checkbox[name="legend_keys_ids[][Model]"]').each(function() {
              if (this.checked) {
                  vals3.push(this.value);  
                  fourth_filter.push("Model")
              }
          });
         $('input:checkbox[name="legend_keys_ids[][Completed Specs]"]').each(function() {
              if (this.checked) {
                  vals4.push(this.value);  
                  fifth_filter.push("Completed Specs")
              }
          });
      }
      

 
      first_filter =  $.unique(first_filter)
      second_filter = $.unique(second_filter)
      third_filter = $.unique(third_filter)
      fourth_filter = $.unique(fourth_filter)
      fifth_filter = $.unique(fifth_filter)
      sixth_filter = $.unique(sixth_filter)
      model_filter = $.unique(model_filter)

        var role = '<%= @role%>';
        var parent_tab_id = '<%= @parent_tab_id %>';
        var legend_keys = elem;
        var filter = "filter";
        var access_permission = '<%= @access_permission_id%>';
        var is_touch = '<%= @is_touch%>';
        var community = '<%= @opted_community%>';
        var phase_parcel = '<%= @opted_parcel%>';
        var project_opted = '<%= @opted_product%>';        
        var filter_flag = "filter_flag";
        var type = type

      $("#ajax_loader").css("display", "block");
      $("body").addClass("inactiveLink")
      if ($("#dialog_toolltip.ui-widget-content").length > 0) {
        $("#dialog_toolltip.ui-widget-content").remove();

        
      }

      if (vals.length<1 && vals1.length< 1 && vals2.length<1 && vals3.length<1 && vals4.length<1 && vals5.length<1){
        filter = null;
      }
      var model_filter_vals_arr = {}
      var model_filter_checked_arr = {}
      

      var data_string =  {legend_keys: {"filter1":vals,"filter2":vals1,"filter3":vals2,"filter4":vals3,"filter5":vals4,"filter6":vals5},filter_type: {"first_filter":first_filter, "second_filter":second_filter,"third_filter":third_filter,"fourth_filter":fourth_filter,"fifth_filter":fifth_filter,"sixth_filter":sixth_filter},role: role, filter: filter, access_permission: access_permission, community: community, phase_parcel: phase_parcel, project: project_opted, is_touch: is_touch, parent_tab_id: parent_tab_id, type : type }

       $.ajax({
              url: '/tbldata/render_role_view',
              data: $.extend(true, data_string, model_filter_vals_arr, model_filter_checked_arr),
              type:"post",
              beforeSend: function(xhr){xhr.setRequestHeader('X-CSRF-Token', $( 'meta[name="csrf-token"]' ).attr( 'content' ));},
              success:function (response) {
                      $(".map_render").html(response);
                      $("#ajax_loader").css("display", "none");
                      $("body").removeClass("inactiveLink")
                  }
          });
       // used to rest zoom after applying filter
       // svgPanZoom('#alphasvg').resetGlobalVar();
<%status_option_name = StatusKey.all.map{|x|x.MenuOptionName}.uniq%>
 <% status_option_name.each do |l|%>
  if ("<%= l %>" == role){  
<% @legendtypes = StatusKey.order("legend_order").where(:MenuOptionName => l).select('DISTINCT LegendType').map{|x| x.LegendType} %>
<% @legendtypes = @legendtypes.select{|x| x unless StatusDetail.find_all_by_LegendType(x).empty? } %>

        <% @legendtypes.each_with_index do |legend_type,counter| %> 
            var legend_view_data_string = {legend_keys: {"filter1":vals,"filter2":vals1,"filter3":vals2,"filter4":vals3,"filter5":vals4,"filter6":vals5},filter_type: {"first_filter":first_filter, "second_filter":second_filter,"third_filter":third_filter,"fourth_filter":fourth_filter,"fifth_filter":fifth_filter,"sixth_filter":sixth_filter}, role: role, filter_flag: filter_flag, access_permission: access_permission, community: community, phase_parcel: phase_parcel, project: project_opted, is_touch: is_touch, "legendtype" : "<%= legend_type %>", parent_tab_id: parent_tab_id }
            $.ajax({
                url: '/tbldata/render_legend_view',
                data: $.extend(true, legend_view_data_string, model_filter_vals_arr, model_filter_checked_arr),
                 type:"post",
                beforeSend: function(xhr){xhr.setRequestHeader('X-CSRF-Token', $( 'meta[name="csrf-token"]' ).attr( 'content' ));},
                success:function (response) {
                        $("#update_notification").css("display", "none");
                        $("body").removeClass("inactiveLink")
                        $("#legend<%= counter+1 %>").html(response);
                        $("#ajax_loader").css("display", "none");
                        // on_click_out_legend();
                    },
                    complete: function (data) {
                        if($.trim($("#legend2").html())=="")
                            {
                              $("#legend2").css("margin-top","0px")
                            }
                        else{
                             $("#legend2").css("margin-top","1.5px") 
                        }
                    }

            });
<%end%>
 }
 
        <% end %>
      }
  </script>
  <style>
  .legend_data {
    line-height: 18px;
    word-break: break-word;
    /*overflow: hidden;*/
}

.legend_data_controls {
    float: left;
}

.legend_data_controls input {
    vertical-align: middle;
    display: inline-block;
}


.legend_data_content {
    margin-left: 34px;
}
</style>