<table  class="table table-bordered table-striped">
    <tr class="inner_th" style="background-color:#f5f5f5 !important" onclick="toggleDiv('lot_info')">
        <td class="table_th" colspan=2 style="background-color:#f5f5f5 !important">
        <h5 class="modal-title" id="myModalLabel">  <label class="clk_header">Lot Info </label><img src="/assets/arrow.gif" class="lot_info_image_rotate"></h5>
        </td>
    </tr>
    <tr class = "inner_tr lot_info">
      <td class="text_align_right">Lot #</td>
      <td>
          <label id="Lot_Number"></label></td>
    </tr>
    <tr class = "inner_tr lot_info">
      <td class="text_align_right">Address</td>
      <td>
          <label id="Address" ></label>
      </td>    
    </tr>
    <tr class = "inner_tr lot_info">
      <td class="text_align_right">Development Code</td>
      <td>
          <label id="Development_Code"></label></td>
    </tr>
    <tr class = "inner_tr lot_info">
      <td class="text_align_right">House Number</td>
      <td>
          <label id="House_Number"></label></td>
    </tr>
    <tr class = "inner_tr lot_info">
      <td class="text_align_right">Lot Status</td>
      <td>
          <label id="Lot_Status"></label>
      </td>
    </tr>
    <tr class = "inner_tr lot_info">
      <td class="text_align_right">Model Code</td>
      <td>
          <label id="Model_Code"></label>
      </td>
    </tr>
    <tr class = "inner_tr lot_info">
      <td class="text_align_right">Model Description</td>
      <td>
          <label id="Model_Description"></label>
      </td>
    </tr>
    <tr class = "inner_tr lot_info">
      <td class="text_align_right">Elevation</td>
      <td>
          <label id="Elevation"></label></td>
    </tr>
    <tr class = "inner_tr lot_info">
      <td class="text_align_right">Elevation Description</td>
      <td>
          <label id="Elevation_Description"></label></td>
    </tr>
    <tr class = "inner_tr lot_info">
      <td class="text_align_right">Buyer Name</td>
      <td>
          <label id="buyer_name"></label></td>
    </tr>
    <tr class = "inner_tr lot_info">
      <td class="text_align_right">Release Sale Date</td>
      <td>
          <label id="Release_Sale_Date"></label>
      </td>
    </tr>
    <tr class = "inner_tr lot_info">
      <td class="text_align_right">Contract Date</td>
      <td>
          <label id="Contract_Date"></label></td>
    </tr>
    <tr class = "inner_tr lot_info">
      <td class="text_align_right">Ratified Date</td>
      <td>
          <label id="Ratified_Date"></label>
      </td>
    </tr>
    <tr class = "inner_tr lot_info">
      <td>Estimated Settlement Date</td>
      <td>
        <label id="Estimated_Settlement_Date"></label>
      </td>
    </tr>
    <tr class = "inner_tr lot_info">
      <td class="text_align_right">Settlement Date</td>
      <td>
          <label id="Settlement_Date"></label>
      </td>
    </tr> 
</table>