<div id="all_reports" class='content_mid' ng-app="reportsMdl" ng-controller="reportsCtrl" style="padding-top:20px">
  <div id="update_notification" class="alert alert-success" style="display:none;margin-top:-3%;width:43% !important;"></div>
  <div class="flash_notice">
    <font size="3" color="red" align="center"><%= flash[:notice] %>
    </font>
  </div>
  <center>
    <select ng-model="selectedReport" class="form-control all_reports_select_drop_down" style="display:inline;width:auto" ng-change="resetToDefaults()">     
      <option ng-repeat="report in reports" value="{{report.report_name}}">{{report.report_name}}</option>
    </select>
    
  </center>
  <div id="list_users">
    <div class="col-sm-12 col-md-12 col-sm-push-0 col-md-push-0 col_content_mid" style="">
      <div ng-show="selectedReport=='Select a Report'" id="report_tbldata" class="empty_report_select">
        <center><b>Please Select a Report Type To Generate Report</b></center>
      </div>
       <div id ="ajax_loader_common_2" style="display:none;text-align:center;">
        <%= image_tag "ajax-loader.gif", :alt => "loader", :id=> "ajax_loader_img_common_2" %>
      </div>

      <div style="padding-bottom:1%;margin-top:1%" ng-show="selectedReport=='Sales Status'" ng-controller="SalesStatusReportCtrl" class="gen_rep">
           <%= render :partial => "reports/sales_status_report"%>
      </div>
    </div>
  </div>
</div>
<style>
  .col_content_mid{
    border:0px !important;margin-top:0% !important
  }
</style>
<script>
$(".all_reports_select_drop_down").change(function(){
    $(window).scrollTop(0);
  var select_drop_value = $(this).val()
  if(select_drop_value != "Select a Report"){
     $("body").removeClass("cbp-spmenu-push")
  }
  else{
    $("body").addClass("cbp-spmenu-push")
  }
  if(select_drop_value== "Sales Status"){
    setTimeout(function(){ 
      sales_status_scroll();
      sales_sts_resize();
     },2);
  }
});


$(window).resize(function(){
  // spec_dash_mg_resize();
  // lot_dash_mg_resize();
});

setInterval(function(){ 
  $("#all_reports").css("width",$(window).width());
}, 1);

var app=angular.module("reportsMdl",[]);
//Reports CTRL

app.controller("reportsCtrl",function($scope,$http, $rootScope){
$("#ajax_loader_common_2").css("display","block");
  $http({"method":"GET", "url":"/reports/get_generated_reports"}).success(    
    function(reports){
      $rootScope.reports = reports
      $rootScope.reports.unshift({report_name: 'Select a Report' });
      $rootScope.selectedReport = $rootScope.reports[0].report_name
    }
  );
});


//SPEC Reports CTRL

app.controller("SalesStatusReportCtrl",function($scope,$http, $rootScope){  
  $scope.status=[];  
  $scope.dev_codes=[];  
  $scope.sales_status_lots=[];
  $http({"method":"GET", "url":"/reports/get_logs"}).success(    
    function(logs){         
      angular.forEach(logs, function(logged_item){      
        $scope.sales_status_lots.push(logged_item)
      });

      // Dev code dropdown values for filtering
      angular.forEach($scope.sales_status_lots, function(logged_item){      
        if(logged_item.Development_Code!= null && ($.inArray(logged_item.Development_Code, $scope.dev_codes)==-1)) {        
          $scope.dev_codes.push(logged_item.Development_Code)
        }
      });
      // Status dropdown values for filtering
      angular.forEach($scope.sales_status_lots, function(logged_item){      
        if(logged_item.Lot_Status_Val!= null && ($.inArray(logged_item.Lot_Status_Val, $scope.status)==-1)) {
          $scope.status.push(logged_item.Lot_Status_Val)
        }
      });

      $scope.exceptEmptyComparator = function (actual, expected) {
        if (!expected) {
        return true;
        }
        return angular.equals(expected, actual);
      }

      $scope.DevandStsDropdownChange=function()
      {   
          $("#update_notification").css("display", "none");
          if($scope.search_by_status == undefined || $scope.search_by_status == ''){
            $scope.status=[];
            $scope.search_by_status=''
          }
          if($scope.search_by_development_code == undefined || $scope.search_by_development_code == ''){
            $scope.dev_codes=[];
            $scope.search_by_development_code=''
          }
          dev_code_sele_dropdown=$scope.search_by_development_code
          status_sele_dropdown=$scope.search_by_status
          angular.forEach($scope.sales_status_lots, function(logged_item){ 
            if(dev_code_sele_dropdown.length > 0 && status_sele_dropdown.length == 0){
              if(logged_item.Development_Code == dev_code_sele_dropdown && ($.inArray(logged_item.Lot_Status_Val, $scope.status)==-1)) {
                $scope.status.push(logged_item.Lot_Status_Val)
              }
            }
            else if(dev_code_sele_dropdown.length == 0 && status_sele_dropdown.length > 0){
              if(logged_item.Lot_Status_Val == status_sele_dropdown && ($.inArray(logged_item.Development_Code, $scope.dev_codes)==-1)) {
                $scope.dev_codes.push(logged_item.Development_Code)
              }
            }
            else if(dev_code_sele_dropdown.length > 0 && status_sele_dropdown.length > 0){
              if(logged_item.Development_Code == dev_code_sele_dropdown && ($.inArray(logged_item.Lot_Status_Val, $scope.status)==-1)) {
                $scope.status.push(logged_item.Lot_Status_Val)
              }
            }
            else{
              if(logged_item.Lot_Status_Val!= null && ($.inArray(logged_item.Lot_Status_Val, $scope.status)==-1)) {
                $scope.status.push(logged_item.Lot_Status_Val)
              }
              if(logged_item.Development_Code!= null && ($.inArray(logged_item.Development_Code, $scope.dev_codes)==-1)) {        
                $scope.dev_codes.push(logged_item.Development_Code)
              }
            }
          }); 
      }

      // $scope.StatusDropdownChange=function()
      // {   
      //     $("#update_notification").css("display", "none");
      //     $scope.dev_codes=[];
      //     $scope.search_by_development_code=''
      //     status_sele_dropdown=$scope.search_by_status

      //     angular.forEach($scope.sales_status_lots, function(logged_item){ 
      //       if(status_sele_dropdown.length > 0){
      //         if(logged_item.Lot_Status_Val == status_sele_dropdown && ($.inArray(logged_item.Development_Code, $scope.dev_codes)==-1)) {
      //           $scope.dev_codes.push(logged_item.Development_Code)
      //         }
      //       }
      //       else{
      //         if(logged_item.Development_Code!= null && ($.inArray(logged_item.Development_Code, $scope.dev_codes)==-1)) {        
      //           $scope.dev_codes.push(logged_item.Development_Code)
      //         }
      //       }
      //     }); 
      // }

      $scope.resetDevelopmentCodeFilter=function(){
        $scope.search_by_development_code="";
        $scope.DevandStsDropdownChange();
      }
      $scope.resetStatusFilter=function(){
        $scope.search_by_status="";
        $scope.DevandStsDropdownChange();
      }
      $scope.exportData_sales_status = function (report_type) {   
        $("#update_notification").css("display", "none");
        dev_code = $(".selected_dev_code").val(); 
        status = $(".selected_status").val(); 

      window.location="/reports/print_report?report_type=Sales Status"+"&&dev_code="+dev_code+"&&status="+status;
      };

    }
  );  
    $("#ajax_loader_common_2").css("display","none");
     
});


angular.element(document).ready(function () {
    angular.bootstrap($("#all_reports"), ['reportsMdl']);
    $("#all_reports").css("margin-top",$("#main_nav").offset().top-$("#main_nav").outerHeight()+"px")
});

$(window).on('unload', function() {
   $(window).scrollTop(0);
});

$(document).on('touchstart',function (e) {
  $(".navbar-header a").attr("href","#")
   // console.log("t"+e.target)
});

</script>

<style>
  #legend_border{ border:0px !important; }
  .glyphicon-chevron-up, .glyphicon-chevron-down{  color : #ffffff !important; }
  .fixed {
  position: fixed;
  width: 100%;left:0;; width:100%; }
  .nav-tabs > li{
    float:none;
    display:inline-block;
  }

  .nav-tabs, .nav-pills {
      text-align:center;
  }
  .filter_cross_icon{
    vertical-align: middle;padding-top: 4%;
  }
  /* for icons inside select in filters*/
  .icon-addon {
    position: relative;
    color: #555;
    display: block;
  }
  .icon-addon .glyphicon{
      position: absolute;
      left: 10px;
      font-size: 14px;
      padding: 10px 0;
  }

  .icon-addon.addon-lg .form-control {
      text-indent: 15px;
  }
  .icon-addon.addon-lg .glyphicon {
      top: -1px;
  }
  .filter_first_td{
    width: 116px;
    padding-right:0px !important;
  }
  .filter_tds{
    width:172px;
    padding-right:0px !important;
  }
</style>