<% if filing.blank?%>
    <% cache("#{community}") do %>
    	<object data="/<%= community%>.svg" type="image/svg+xml" id="alphasvg" width="100%" height="100%">
      	</object>
    <%end%>
<%else%>
    <% cache("#{community}-#{filing}") do %>
	   	<object data="/<%= community+"_section"+filing %>.svg" type="image/svg+xml" id="alphasvg" width="100%" height="100%">
    	</object>
    <% end %>
<%end%>  