<div class="table-responsive">
  <% legend_ids = StatusDetail.find(:all, :conditions => 'LegendType = "Model Type"').map(&:id) %>
  <div id="filter_error_message" style="display:none" class="cancel_text_color">Please select atleast one modal name</div>
  <% legend_ids.each do |lg_id|%>
    <div id="legend_data_<%= lg_id %>" style="margin-left: 2%;">
      <table>
        <tr>
          <td>
            <input type="checkbox"  id="selectall" class="selectall_<%= lg_id %>" checked onchange="select_all(<%= lg_id %>)">
          </td> 
          <td>Select All</td>
        </tr>
      </table>
      <% if @opted_parcel.blank?%>
        <% @modal_names = Tbldatum.find_all_by_Model_Status_and_Community("#{lg_id}", @opted_community).uniq(&:Model_Name) %>
      <%else%>
        <% @modal_names = Tbldatum.find_all_by_Model_Status_and_Community_and_Phase_Name("#{lg_id}", @opted_community, @opted_parcel).uniq(&:Model_Name) %>
      <%end%>
        
        <% unless @modal_names.blank?%>

          <% @modal_names.each do |modal_number| %>
            <div class="legend_data_filter">
              <div class="legend_data_controls">
                  <span class="legend_text" data-role= "<%= @role %>"><%= check_box_tag "model_type_keys_ids[][#{modal_number.Model_Status}]", modal_number.Model_Name,false,  :class => modal_number.Model_Name.gsub(" ","_").gsub(",","_").gsub(".","_").gsub("-","_").gsub("/","_")  ,:style =>"vertical-align: middle;display: inline-block;margin-top: -6%;"%></span>
              </div>
            </div>
            <div class="legend_data_content_filter">
              <span class="legend_text" style="margin-left: 8px;"><%= modal_number.Model_Name %></span>
              (<%= Tbldatum.get_lot_count_for_sub_filters(community, lg_id, modal_number.Model_Name,  phase_parcel, all_lots) %>)
            </div>
          <% end %>
        <% end %>
    </div>
  <% end %>
  <div class="create_collection_button">
    <button type="submit" class="btn btn-primary" id="model_filtering_update">Save</button>
    <a href="#" class="cancel_text_color" data-dismiss="modal">cancel</a>
  </div>
</div>
<script>
function select_all(status_id){
  if($('.selectall_'+status_id).is(":checked")){
        $('input:checkbox[name="model_type_keys_ids[]['+status_id+']"]').each(function(){
          this.checked = true;
        });
  }else{
    $('input:checkbox[name="model_type_keys_ids[]['+status_id+']"]').each(function(){
      this.checked = false; 
    });
  }
}

</script>
<style>
  #empty_modal_name_message{
    display:none;text-align: center;font-weight:bold;
  }
</style>