<% if plat.blank?%>
  <% app_menus = @udata.get_menus_for_community(village, product_type) %>
<%else%>
  <% app_menus = @udata.get_menus(village, plat, product_type) %>  
<%end%>

<% default_menu = app_menus.first unless app_menus.empty? %>

<% default_menu_name = ""%>
<% default_sub_menu_name = ""%>

<% app_menus.each do |d|%>
  <% if menus.present? and menus == d[0] %>
    <% default_menu_name = menus %>
    <% d[1].each do |d| %>
      <% if menuoption == d.MenuOptionName%>
        <% default_sub_menu_name = menuoption %>
        <% break %>
      <% else %>
            <% default_sub_menu = app_menus[app_menus.keys.first][0].MenuOptionName unless default_menu_name.nil? %>
            <% default_sub_menu_name = default_sub_menu unless default_sub_menu.nil? %>
      <% end %>
    <% end %>
    <% break %>
  <% else %>
        <% default_menu_name = app_menus[app_menus.keys.first][0].MenuName unless app_menus.empty?%>
        <% default_sub_menu = app_menus[app_menus.keys.first][0].MenuOptionName unless default_menu_name.nil? %>
        <% default_sub_menu_name = default_sub_menu unless default_sub_menu.nil? %>
  <% end %>
<% end%>


<nav class="navbar navbar-default" role="navigation" id="nav_slide">
  <div class="container-fluid" id="full_nav">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle offcanvas-toggle pull-right menu_bar_button" data-toggle="offcanvas" data-target="#js-bootstrap-offcanvas" style="float:left;">
              <span class="sr-only">Toggle navigation</span>
              <span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </span>
          </button>
      </div>
      <div class="navbar-offcanvas navbar-offcanvas-touch" id="js-bootstrap-offcanvas">
      <% unless app_menus.empty? %>
        <% app_menus.each do |app_menu| %>
          <ul class="nav navbar-nav navbar-left">
          <label class="dropdown">  
            <a href=# id="<%= app_menu[0].gsub(" ","_") %>" class="main_menu"  data-hover="dropdown" data-toggle="dropdown">
              <%= app_menu[0] %> <b class="caret"></b>              
            </a>
            <ul id = "drop" class="dropdown-menu" role="menu" >
              <% app_menu[1].each do|app_menu_menu_option| %>  
                <li>
                  <a href=# id="<%= app_menu_menu_option.MenuOptionName %>" tabindex="-1" class="sub_menu" onclick="changeRole('1','<%= app_menu_menu_option.MenuOptionName %>','<%=  app_menu[0] %>');activeMainMenu('<%= app_menu[0].gsub(" ","_") %>');">
                    <%= app_menu_menu_option.MenuOptionName %>
                  </a>
                </li>
              <% end %>     
            </ul>
          </label>
          </ul>
        <% end %> 
          <% if @opted_product == "Lot Buzz"%>
                 <a href="/lotbuzz/demo?community='<%=@opted_community%>'" target="_blank"  id="site_view" style="font-weight:bold;">Community Website</a> 
          <% end %>
                  
      <% end %> 
    </div>
  </div>
</nav>



<script>
  $("#js-bootstrap-offcanvas ul ul a").click(function(e) {
    $('#js-bootstrap-offcanvas').removeClass('in');
    $('#full_nav  div button').removeClass('is-open');
  });
  $(document).ready(function(){
    if (window.matchMedia('(max-width: 767px)').matches) {
        button_width = Math.floor($("#full_nav div button").outerWidth() / $('body').width() * 100)*2;
        $("#nav_slide").css({width:button_width-2+'%'})
    }
    else{
      $("#nav_slide").css({width: ""})
    }
  });

  function width_of_slide_button(){
    setTimeout(function(){
      if (window.matchMedia('(max-width: 767px)').matches) {
        slide_menu_width = 100*($('#js-bootstrap-offcanvas').outerWidth()+$("#full_nav div button").outerWidth()) / $('body').width();
        btn_width = Math.floor($("#full_nav div button").outerWidth() / $('body').width() * 100)*2;
        button_width = Math.floor($("#full_nav div button").outerWidth() / $('body').width() * 100)*2;
        slide_menu_width = Math.floor(slide_menu_width+btn_width-6)+'%';
        setTimeout(function(){
          if($("#full_nav div button").hasClass("is-open")){
            // $("#nav_slide").css({width:slide_menu_width})
            $("#full_nav div button").css({"display":"none"})
            $("#js-bootstrap-offcanvas").removeAttr("style")
            $("#js-bootstrap-offcanvas").addClass("in")
          }
          else{
            // $("#nav_slide").css({width:button_width-2+'%'})
            $("#nav_slide").attr("style","width:"+(button_width-2)+'%;min-height: 0px !important')
            $("#full_nav div button").css({"display":"block"})
          }
        }, 200);
      }
      else{

        $("#nav_slide").removeAttr("style");
        $("#full_nav div button").css({"display":"none"})
      }
    },100);
  }
  // close the menu slider on clicking the button  
  $("#full_nav div button").click(function(){
    width_of_slide_button();
  });

  $(window).resize(function(){ 
    width_of_slide_button();
  });

  // close the menu slider on clicking outside the menu panel
  $("body").click(function(e) {
    if (e.target.id == "js-bootstrap-offcanvas"| $(e.target).parents("#js-bootstrap-offcanvas").size()) {
    } else {
      width_of_slide_button()
    }
  });

  var default_menu_name = '<%= default_menu_name %>';
  var default_sub_menu_name = '<%= default_sub_menu_name %>';
  
 <% if @role.present? && @parent_tab_id.present? %>
    changeRole('<%= user_group.id %>', '<%= @role %>', '<%= @parent_tab_id %>');
 <% elsif  default_sub_menu_name.present?%>
    changeRole('<%= user_group.id %>', default_sub_menu_name, default_menu_name);
    activeMainMenu('<%= default_menu_name.gsub(" ","_")%>');
 <%else%>   
    fetchViewIfRoleDoesNotExist();
 <% end %>

$("#js-bootstrap-offcanvas ul label ul li a").hover(function(){
  $("#js-bootstrap-offcanvas ul label a").attr("style","background-color:transparent !important")
});

</script>
