<div style="margin-top:20%;text-align:center;font-size:20px;">
 No views enabled, please contact your Administrator.
</div>


<style type="text/css">
#main_nav
{
	border-bottom:none !important;
}
#legend_border
{
	border: none;
}
</style>
</style>