<script>
    $(document).ready(function () {
        $('#tbldata_tbldataattachments_image').MultiFile();
    });

    function hide_hover_fields()
 {
    if($("#lot_nbr_status").val() == "off")
    {
       $("#lt_nbr_row").hide();
    }
    if($("#lot_status_status").val() == "off")
    {
       $("#lot_status_row").hide();
    }
    if($("#lot_address_status").val() == "off")
    {
       $(".lot_address_row").hide();
    }

    if($("#sale_price_status").val() == "off")
    {
       $("#sale_price_row").hide();
    }
    if($("#est_cmp_date_status").val() == "off")
    {
       $("#date_row").hide();
    }
    if($("#size_status").val() == "off")
    {
       $("#size_row").hide();
    }
    if($("#description_status").val() == "off")
    {
       $("#desc_row").hide();
    }
    if($("#lot_type_status").val() == "off")
    {
       $("#lt_type_row").hide();
    }    
 }

 function hide_lot_fields()
 { 
    if($("#lnbr_status").val() == "off")
    {
       $(".lot_nbr_click").hide();
    }
    if($("#status_click").val() == "off")
    {
       $(".status_click").hide();
    }
    if($("#address_click").val() == "off")
    {
       $(".address_click").hide();
    }
    
    if($("#price_status_clk").val() == "off")
    {
       $(".price_row_clk").hide();
    }
    if($("#est_date_statusclk").val() == "off")
    {
       $(".est_date_clk_row").hide();
    }
    if($("#lot_size_status_clk").val() == "off")
    {
       $(".lt_size_clk_row").hide();
    }
    if($("#desc_status_clk").val() == "off")
    {
       $(".desc_clk_row").hide();
    }
    if($("#lt_type_clk_status").val() == "off")
    {
       $(".lt_type_row").hide();
    }
    if($("#avbl_plans_clk_status").val() == "off")
    {
       $(".avbl_plans_click").hide();
    }
 }

function hide_inactive_plan_fields()
{       
    if($("#plan_desc_status").val() == "off"){
        $(".plan_desc_tr").hide();
    }
  
    if($("#sq_feet_status").val() == "off"){
        $(".sq_feet_tr").hide();
    }
     if($("#floors_status").val() == "off"){
        $(".floors_tr").hide();
    }
    if($("#bedrooms_status").val() == "off"){
        $(".bedrooms_tr").hide();
    }
    if($("#bathrooms_status").val() == "off"){
        $(".bathrooms_tr").hide();
    }
    if($("#full_bathrooms_status").val() == "off"){
        $(".full_bathrooms_tr").hide();
    }
    if($("#garages_status").val() == "off"){
        $(".garages_tr").hide();
    }


}
function hide_plans_info()
{   
<% if LotFieldDisplayName.find(1).Avble_Clk_Status == "on"%>

    if($("#plan_count_hidden").val() == 0 || $("#plan_count_hidden").val() > 1){
        $(".plan_info_table").hide();
    }
    else{
     $(".plan_info_table").show();   
     hide_inactive_plan_fields();
    }
<%else%>
     $(".plan_info_table").hide();   
<%end%>
}
function toggleDiv(table_tr) {
    if($("."+table_tr).is(':visible'))
    {
     $("."+table_tr+"_image_rotate").addClass("image_rotate_oncollapse").removeClass("image_rotate_onexpand");
    }
    else{
    $("."+table_tr+"_image_rotate").addClass("image_rotate_onexpand").removeClass("image_rotate_oncollapse");
    }
   $("."+table_tr).toggle();
    hide_plans_info();
    hide_lot_fields();
    hidden_lot_status = $("#lbuzz_status_hidden").val();
   if( (hidden_lot_status == "Quick Move In") && $("#price_status_clk").val() == "on")
    {
       $(".price_row_clk").show();
    }
    else
    {
      $(".price_row_clk").hide();
    }
    footer_buttons_visibility();
}
</script>

<div class="modal fade" role="dialog" style="z-index:2000" id="image_upload_modal">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <label class="modal_title_ui"> Upload Images</label>
            <button type="button" class="close modal_title_cross_button" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body table-responsive" id="image_upload" style="margin-bottom:0px !important">
            <%= render :partial => 'images/image_upload', locals: {role: @role, 
            access_permission_id: @access_permission_id, phase_parcel: @opted_parcel, product_type: @opted_product} %>
          </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" style="z-index:2000" id="file_upload_modal">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <label class="modal_title_ui"> Upload Files</label>
            <button type="button" class="close modal_title_cross_button" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body table-responsive" id="file_upload"  style="margin-bottom:0px !important">
        <%= render :partial => 'images/file_upload', locals: {role: @role, access_permission_id: @access_permission_id, phase_parcel: @opted_parcel, product_type: @opted_product} %>
          </div>
        </div>

    </div>
</div>
<% community = @opted_community.delete(" ")%>
<div class="svgview">
  <input type="hidden" id="is_draggable" value="false">
  <input type="hidden" id="hover_draggable" value="false">  
  <% cache("#{community}-#{@parcel_map}") do %>
  <object data="/<%= community+"_"+@parcel_map %>.svg" type="image/svg+xml" id="alphasvg" width="100%" height="100%"></object>
  <% end %>
</div>
<script>
validate_lot()

    var array = <%= raw @legend_keys.to_json unless @legend_keys.nil?%>
    edit_mode = 0;
    hide_rollover_on_dbl_click =0; 
    var unknownid;
    var unknwonclass;
    var lot_to_color;
    var a = document.getElementById("alphasvg");

var load_map = function () {
        var svgDoc = a.contentDocument;
        lot_class = svgDoc.getElementsByClassName("land");
        Tbldatum_svg_ids_arr = "<%= Tbldatum.get_all_svg_ids %>"
            for(i=0;i<lot_class.length;i++)
                {
                  svg_lot_id = lot_class[i].getAttribute("id")
                  
                    result = Tbldatum_svg_ids_arr.indexOf(svg_lot_id)
                    if(result == -1)
                    {
                      $(lot_class[i]).css("fill","#D8d8d8")                                           
                      text_element = svgDoc.getElementById("Txt_"+svg_lot_id)
                      if(text_element != null)
                      { 
                        text_element.style.opacity= "0.2"
                      }
                    }                    
                    else
                    {
                      $(lot_class[i]).css("fill","#FFFFFF")
                      $(svgDoc.getElementById(svg_lot_id)).mouseenter(function(){                        
                            originl_style = $(svgDoc.getElementById(this.id)).attr("style") 
                            $(svgDoc.getElementById(this.id)).attr("style",""+originl_style+";stroke-opacity:0.5 !important;stroke-width:5px !important");
                        }).mouseleave(function() {            
                            $(svgDoc.getElementById(this.id)).attr('style',originl_style)
                      });                     
                    }
                  }
                
        <% @colorize_lots= @click_data%>          
          <% if @filter %>          
              <% @colorize_lots.each do |l| %>  
                <% unless l.SVG_ID.blank? %>
                  svgDoc.getElementById('<%=l.SVG_ID %>').style.fill = '#FFFBFF' 
                  svgDoc.getElementById("Cir_" + '<%=l.SVG_ID %>').style.fill = '#FFFBFF'
                  svgDoc.getElementById("Star_" + '<%=l.SVG_ID %>').style.fill = '#FFFBFF'  
                <% end %>  
              <% end %>
              <% @all_lots.each do |l| %>                
                <% unless l.SVG_ID.blank? %>
                  lot_to_color = svgDoc.getElementById('<%=l.SVG_ID %>'); 
                  lot_to_circle = svgDoc.getElementById("Cir_" + '<%=l.SVG_ID %>'); 
                  lot_to_star = svgDoc.getElementById("Star_" + '<%=l.SVG_ID %>');                      
                  if(lot_to_color)
                  {
                    lot_to_color.style.fill = '<%= l.Lot_Buzz_Status.blank? ? "#FFFFFF" : l.get_color_code %>';
                    lot_to_circle.style.fill = '<%= l.Lot_Buzz_Status.blank? ? "#FFFFFF" : l.get_color_code %>';
                    lot_to_star.style.fill = '<%= l.Lot_Buzz_Status.blank? ? "#FFFFFF" : l.get_color_code %>';
                  }          
                <% end %>  
           <% end %>
        <% else %>                
            <% @colorize_lots.each do |l| %>
                lot_to_color = svgDoc.getElementById('<%=l.SVG_ID %>');
                lot_to_circle = svgDoc.getElementById("Cir_" + '<%=l.SVG_ID %>');
                lot_to_star = svgDoc.getElementById("Star_" + '<%=l.SVG_ID %>');   
                if(lot_to_color)
                {          
                  lot_to_color.style.fill = '<%= l.Lot_Buzz_Status.blank? ? "#FFFFFF" : l.get_color_code %>';
                  lot_to_circle.style.fill = '<%= l.Lot_Buzz_Status.blank? ? "#FFFFFF" : l.get_color_code %>';
                  lot_to_star.style.fill = '<%= l.Lot_Buzz_Status.blank? ? "#FFFFFF" : l.get_color_code %>';
                }
            <% end %>    
        <% end %>     
        var delta = svgDoc.getElementsByTagName('path');
       <% if @filter %>
            svgLots = new Array();
            svgLots1 = new Array();
            svgLots2 = new Array();
            <% if @hover_data.present? %>
                mappingIds = new Array('<%= @hover_data.map(&:SVG_ID).join(',') %>')[0].split(',');
                $(mappingIds).each(function(i, mId){
                    $(delta).each(function(i, lot)
                    {
                        if(mId==lot.id)
                        {
                            svgLots.push(lot); 
                            return false;
                        }
                    });

                    $(delta).each(function(i, lot)
                    {                     
                        if(("Cir_" + mId) ==lot.id )
                        {  
                          svgLots1.push(lot); 
                          return false;
                        }
                    });

                   $(delta).each(function(i, lot)
                   {                     
                       if(("Star_" + mId) ==lot.id )
                       {  
                          svgLots2.push(lot); 
                          return false;
                      }
                  });
                });
            <% end %>
            result = $.merge(svgLots, svgLots1)
            delta = $.merge(result, svgLots2)
        <% end %>

        delta = $(delta).filter("[class=land]");

        doubleclickhandler = function (ev) {
          $("#update_notification").css("display", "none");
           if(document.getElementById("is_draggable").value=="false"){

            $(".plan_info_image_rotate").addClass("image_rotate_oncollapse").removeClass("image_rotate_onexpand");
            $(".lot_info_image_rotate").addClass("image_rotate_onexpand").removeClass("image_rotate_oncollapse");
             $(".lot_info").show();
             $(".plan_info").hide();            

            $(".close_in_view_mode").css("display","inline");
            $(".close_in_edit_mode").css("display","none")
            $(".tb_visible").addClass("tb_hidden");
            $(".tb_visible").removeClass("tb_visible");
            $(".lb_hidden").addClass("lb_visible");
            $(".lb_hidden").removeClass("lb_hidden");
            $(".btn_edit_mode").css("display","inline")
            $(".btn_view_mode").css("display","none")
            $(".update_lot").attr("disabled", true);
            $("#dialog #validation_msgs_td").empty(); 
            if ($("#dialog_toolltip").dialog( "isOpen" )==true) {
                $('#dialog_toolltip').dialog('close');
             } 
             $(".close").css("margin-top","0.2%")
            $(".tb_visible").addClass("tb_hidden");
            $(".tb_visible").removeClass("tb_visible");
            $(".lb_hidden").addClass("lb_visible");
            $(".lb_hidden").removeClass("lb_hidden");
            $(".btn_edit_mode").css("display","inline")
            $(".btn_view_mode").css("display","none")
            $('.help-block').css('display', "none");
            $("#dialog .footer_buttons").addClass("tb_visible").removeClass("tb_hidden");
            $(".Zebra_DatePicker_Icon_Wrapper").addClass("Zebra_DatePicker_Hidden").removeClass("Zebra_DatePicker_Visible");
            $("#dialog #view_images, #dialog #edit_images").removeClass("hide_control");
            $("#dialog #edit_docs, #dialog #view_docs").removeClass("hide_control");
            var idlot = lotn = lotbuzzstatus = floor_plan_click=floor_plan_click_dropdown=
                floor_plans=floor_plan_link=floor_number=number_of_bedrooms=number_of_bathrooms=furnish_status=possession_timeline=sale_type=possession_date=sale_by=sale_price=est_cmp_date=lot_size=description=lot_type=sale_price_v=sqft=sqft_v=status_value=address=plan_number=floor_plan_name=""
            var zip = "";
            var image_count=doc_count= 0;
                role = '<%= @role %>';
                parent_tab_id='<%= @parent_tab_id %>';
                access_permission='<%= @access_permission_id %>';
                phase_parcel='<%= @opted_parcel %>';
                project='<%= @opted_product %>';
                test = this.id;
                var flag=0     
                
                <% @click_data && @click_data.each do |tl| %>                  
                  <% if @is_admininstrator %>
                      $("#dialog .footer_buttons").addClass("tb_visible").removeClass("tb_hidden");
                  <% elsif tl.permission.include? 1 %>
                      $("#dialog .footer_buttons").addClass("tb_visible").removeClass("tb_hidden");
                  <% else %>
                      $("#dialog .footer_buttons").addClass("tb_hidden").removeClass("tb_visible");
                 <% end %>

                    var svg = '<%= tl.SVG_ID %>';
                    var circle_svg = "Cir_" + '<%= tl.SVG_ID %>';
                    var star_svg = "Star_" + '<%= tl.SVG_ID %>';
                        
                if ( (svg == this.id) || (circle_svg == this.id) || (star_svg == this.id) ) {
                            
                        flag=1;

                      <% is_admin = @is_admininstrator%>
                      $("#is_admin").val("<%= is_admin%>")

                      $("#dialog  input.date_picker").Zebra_DatePicker({
                                  format: 'm/d/Y',
                       onSelect: function(){
                           $(".update_lot").attr("disabled", false);
                       },
                       onChange: function() {
                          $(".update_lot").attr("disabled",false);
                      }
                     });    
                        idlot = '<%= tl.Unique_ID%>';
                        lotn = '<%= tl.Lot_Number %>'; 
                        lotbuzzstatus = '<%= tl.status_detail.Status_Display_Name unless tl.Lot_Buzz_Status.blank? && tl.status_detail.blank? %>'
                        lotbuzzstatus_v = '<%= tl.Lot_Buzz_Status_Val %>'
                        sale_price_v = '<%= (tl.Rp_Sales_Price.blank?)?"": number_to_currency(tl.Rp_Sales_Price, :precision => 2)%>'; 
                        sale_price= '<%= tl.Rp_Sales_Price %>'
                        floor_plan_name = '<%= tl.Floor_Plan_Name%>'

                        <%unless tl.Lot_Buzz_Status_Val.blank? %>
                          <% if tl.Lot_Buzz_Status_Val == "Quick Move In"%>
                            $(".price_row_clk").show();
                          <%else%>
                            $(".price_row_clk").hide();
                          <%end%>
                          <%else%>
                            $(".price_row_clk").hide();
                        <%end%>

                        est_cmp_date = '<%= tl.Estimated_Completion_Date %>';
                        lot_size = '<%= tl.Lot_SF %>';
                        description = '<%= tl.Description.gsub(/\r/, ' ').gsub(/\n/, ' ') unless tl.Description.blank? %>';                    
                        lot_type = '<%=LotType.find_by_id(tl.Lot_Type_Id).Lot_Type unless LotType.find_by_id(tl.Lot_Type_Id).blank? %>';
                        address = '<%= tl.Address %>'
                        plan_number='<%= tl.Model_Code%>'

                        <% floor_names = tl.Floor_Plan_Id.split(",") unless tl.Floor_Plan_Id.blank? %>
                        $("#plan_count_hidden").val("<%= floor_names.count unless floor_names.blank? %>");
                         <% lot_fields = LotFieldDisplayName.find(1)%>
                        $("#dialog input#lot_nbr_click").val("<%= lot_fields.Lot_Number_Click_Status %>");
                        $("#dialog input#status_click").val("<%= lot_fields.Click_Status %>");
                        $("#dialog input#address_click").val("<%= lot_fields.Address_Clk_Status %>");
                        $("#dialog input#price_status_clk").val("<%= lot_fields.Price_Clk_Status %>");
                        $("#dialog input#est_date_statusclk").val("<%= lot_fields.Date_Clk_Status %>");
                        $("#dialog input#lot_size_status_clk").val("<%= lot_fields.Size_Clk_Status %>");
                        $("#dialog input#desc_status_clk").val("<%= lot_fields.Desc_Clk_Status %>");
                        $("#dialog input#lt_type_clk_status").val("<%= lot_fields.Lt_Type_Clk_Status %>");
                        $("#dialog input#avbl_plans_clk_status").val("<%= lot_fields.Avble_Clk_Status %>");
                    hide_lot_fields();
                     
                    <% unless floor_names.blank? %>
                        <% if  floor_names.count == 1 %>
                           <% floor_names.each_with_index do |x,i| %>
                                <% plan_details = StatusDetail.find(x)%>                                
                                    $("#dialog label#plandesc").html("<%= plan_details.Plan_Description %>");
                                    $("#dialog input#plan_desc_status").val("<%= plan_details.Plan_Description_Status %>");
                                     
                                    sqft= '<%=plan_details.Sq_Feet%>'
                                    sqft_v = sqft + " " + '<%=(plan_details.Sq_Feet.present?) ? "SqFt" : '' %>';

                                    $("#dialog label#sq_feet").html(sqft_v);
                                    $("#dialog input#sq_feet_status").val("<%= plan_details.Sq_Feet_Status %>");
                                    $("#dialog label#floors").html("<%= plan_details.Floors %>");
                                    $("#dialog input#floors_status").val("<%= plan_details.Floors_Status %>");
                                    $("#dialog label#number_of_bedrooms").html("<%= plan_details.Bedrooms %>");
                                    $("#dialog input#bedrooms_status").val("<%= plan_details.Bedrooms_Status %>");
                                    $("#dialog label#number_of_bathrooms").html("<%= plan_details.Bathrooms %>");
                                    $("#dialog input#bathrooms_status").val("<%= plan_details.Bathrooms_Status %>");
                                    $("#dialog label#number_of_full_bathrooms").html("<%= plan_details.Full_Bathrooms %>");
                                    $("#dialog input#full_bathrooms_status").val("<%= plan_details.Full_Bathrooms_Status %>");
                                    $("#dialog label#garages").html("<%= plan_details.Garages %>");
                                    $("#dialog input#garages_status").val("<%= plan_details.Garages_Status %>");

                                <% end %>
                        <% end %>
                    <% end %>
                hide_plans_info();                                           
                    
                         var plan_images_count=''
                    <%unless floor_names.blank?%>
                        <% if floor_names.count == 1 %>
                            var plan_images_count = '<%= ImageGallery.find_all_by_plan_id(tl.Floor_Plan_Id).count unless tl.Floor_Plan_Id.blank? && ImageGallery.find_all_by_plan_id(tl.Floor_Plan_Id).blank? %>'
                            image_count = parseInt('<%= tl.pic_count_lotbuzz%>') + parseInt(plan_images_count)
                        <%else%>
                            image_count = '<%= tl.pic_count_lotbuzz%>'
                        <%end%>
                    <%else%>
                            image_count = '<%= tl.pic_count_lotbuzz%>'   
                    <%end%>                      
                        doc_count = '<%= tl.doc_count_lotbuzz %>'

                    }

                <% end %>    
                if(flag){
                    if (image_count==0) {
                        $("#dialog #view_images, #dialog #edit_images").addClass("hide_control");
                    }
                 
                     if (doc_count==0) {
                        $("#dialog #edit_docs, #dialog #view_docs").addClass("hide_control");
                    }
                    $("#dialog").data("lot_id", idlot).data("lotn", lotn).data("user_role", role).data("parent_tab_id", parent_tab_id).data("phase_parcel",phase_parcel).data("access_permission", access_permission).data("product_type","<%= @opted_product%>").data("community","<%= @opted_community%>").modal({
                                                backdrop: false,
                                                keyboard: false,
                                                show: true
                        }); 

                    $("#dialog  input#idlot").val(idlot);  
                    $("#dialog  label#idlot").html(lotn);  
                    $("#dialog  input#user_role").val(role);  
                    $("#dialog  input#parent_tab_id").val(parent_tab_id);
                    $("#dialog  input#access_permission").val(access_permission);
                    $("#dialog  input#phase_parcel").val(phase_parcel);
                    $("#dialog  input#product_type").val(project);
                    $("#dialog  label#lotn").html(lotn);
                    $("#dialog  label#lotdetails_Id").html(lotn);
                    $("#dialog  input#lotn").val(lotn);
                      
                    $("#dialog  label#sale_price").html(sale_price_v);
                    $("#dialog  input#sale_price").val(sale_price);

                    $("#dialog  label#est_cmp_date").html(est_cmp_date);
                    $("#dialog  input#est_cmp_date").val(est_cmp_date);

                    $("#dialog  label#lot_size").html(lot_size);
                    $("#dialog  input#lot_size").val(lot_size);

                    $("#dialog  label#description").html(description);
                    $("#dialog  textarea#description").val(description);

                    $("#dialog  label#lot_type").html(lot_type);
                    $("#dialog  select#lot_type").val(lot_type);
                      
                    $("#dialog  label#lbuzz_status").html(lotbuzzstatus);    
                    $("#dialog  input#lbuzz_status_hidden").val(lotbuzzstatus_v);    

                    $("#dialog  label#address").html(address);
                    $("#dialog  input#address").val(address);

                    $("#dialog  label#floor_plan_name").html(floor_plan_name);

                    $("#dialog  label#plan_number").html(plan_number);

                    var original_data = $("div#dialog #upload_data").serialize();
                    $("#original_data").val(original_data);
                    $("#dialog  input#lscd").Zebra_DatePicker({
                      direction: false,
                       format: 'm/d/Y',
                       onSelect: function(){
                           $(".update_lot").attr("disabled", false);
                       }
                      });
                    footer_buttons_visibility()
                   hide_rollover_on_dbl_click = 1;         
                }        
                
            } // if close
            else
            {
                document.getElementById("is_draggable").value="false"
            }

        } //end of click handler
        // for (c = 0; c < delta.length; c++) {

        //     $(delta[c]).on('click', doubleclickhandler);

             
        // }// end of forloop for  intitialsizing double click


           // for (c = 0; c < delta.length; c++) {
            // delta[c].onmouseover = function (e) { 
              taphandler = function (e) { 
                if(document.getElementById("hover_draggable").value=="false"){
                   var mouseX = (e.pageX+120)-window.pageXOffset;
                   var mouseY = (e.pageY+200)-window.pageYOffset;
                   var windowWidth=$(window).width();
                   var windowHeight=$(window).height();

                   if(windowWidth- mouseX<450){
                       mouseX=mouseX-530;
                   }
                   if(windowHeight- mouseY<250){
                       mouseY=mouseY-330;
                   }
                   $("#dialog_toolltip .modal-body .table tbody > tr#imagecountrow").removeClass("hide_control");
                   $("#dialog_toolltip .modal-body .table tbody > tr > td > span#imagecount").removeClass("hide_control");
                   $("#dialog_toolltip .modal-body .table tbody > tr > td > span#documentcount").removeClass("hide_control");
                   $("#dialog_toolltip .modal-body .table tbody > tr#image_hover_row").removeClass("hide_control");
                   $("#dialog_toolltip .modal-body .table tbody > tr > td#image_hover").removeClass("hide_control");
          
                    var test = lotn = address = image_count = floor_plan =idlot=phase=status=buyer_name=sales_agent = '';
                    document_count_rollover=image_count_rollover=0;

                    unknown = this.id;
                    test = unknown;
                    var filter = '<%= @filter%>';
                    var thisAllocation = '<%= @allocation%>';
                    var flag = 0;
                    <% @hover_data && @hover_data.each do |tl| %>
                        var svg = '<%= tl.SVG_ID %>';
                        var circle_svg = "Cir_" + '<%= tl.SVG_ID %>';
                        var star_svg = "Star_" + '<%= tl.SVG_ID %>';
                        
                if ( (svg == test) || (circle_svg == test) || (star_svg == test) ) {
                        
                            flag = 1;
                            lotn = '<%= tl.Lot_Number %>';
                            idlot = '<%= tl.Unique_ID%>';                            
                            status = '<%= StatusDetail.find(tl.Lot_Buzz_Status).Status_Display_Name unless tl.Lot_Buzz_Status.blank?%>'                       
                            sale_price = '<%= (tl.Rp_Sales_Price.blank?)?"": number_to_currency(tl.Rp_Sales_Price, :precision => 2)%>';                             
                            est_cmp_date = '<%= tl.Estimated_Completion_Date %>';
                            lot_size = '<%= tl.Lot_SF %>';
                            description = '<%= tl.Description.gsub(/\r/, ' ').gsub(/\n/, ' ') unless tl.Description.blank? %>';
                            lot_type = '<%=LotType.find_by_id(tl.Lot_Type_Id).Lot_Type unless LotType.find_by_id(tl.Lot_Type_Id).blank? %>';
                            address = '<%= tl.Address %>'
                            floor_plan = '<%= tl.Floor_Plan_Name%>'

                        <%unless tl.Lot_Buzz_Status_Val.blank? %>
                          <% if tl.Lot_Buzz_Status_Val == 'Quick Move In'%>
                            $("#sale_price_row").show();
                          <%else%>
                            $("#sale_price_row").hide();
                          <%end%>
                        <%else%>
                         $("#sale_price_row").hide();
                        <%end%>

                            <% lot_fields = LotFieldDisplayName.find(1)%>
                        $("#dialog_toolltip input#lot_nbr_status").val("<%= lot_fields.Lot_Number_Hover_Status %>");
                        $("#dialog_toolltip input#lot_status_status").val("<%= lot_fields.Hover_Status %>");                        
                        $("#dialog_toolltip input#lot_address_status").val("<%= lot_fields.Address_Hvr_Status %>");
                        $("#dialog_toolltip input#sale_price_status").val("<%= lot_fields.Price_Hvr_Status %>");
                        $("#dialog_toolltip input#est_cmp_date_status").val("<%= lot_fields.Date_Hvr_Status %>");
                        $("#dialog_toolltip input#size_status").val("<%= lot_fields.Size_Hvr_Status %>");
                        $("#dialog_toolltip input#description_status").val("<%= lot_fields.Desc_Hvr_Status %>");
                        $("#dialog_toolltip input#lot_type_status").val("<%= lot_fields.Lt_Type_Hvr_Status %>");
                        
                           hide_hover_fields();

                        
                             var plan_images_count=''
                             <% floor_names = tl.Floor_Plan_Id.split(",") unless tl.Floor_Plan_Id.blank? %>
                    <%unless floor_names.blank?%>
                        <% if floor_names.count == 1 %>
                            var plan_images_count = '<%= ImageGallery.find_all_by_plan_id(tl.Floor_Plan_Id).count unless tl.Floor_Plan_Id.blank? && ImageGallery.find_all_by_plan_id(tl.Floor_Plan_Id).blank? %>'
                            <%plan_hover_image = ImageGallery.find_by_plan_id_and_plan_key_image(tl.Floor_Plan_Id,1 )   %>                              
                            <%if (tl.pic_count_lotbuzz <= 0)%>
                                 image_count_rollover = plan_images_count
                             <%else%>
                                image_count_rollover = parseInt('<%= tl.pic_count_lotbuzz%>') + parseInt(plan_images_count) 
                            <%end%>
                        <%else%>                        
                            image_count_rollover = '<%= tl.pic_count_lotbuzz%>'                        
                        <%end%>   
                    <%else%>
                        image_count_rollover = '<%= tl.pic_count_lotbuzz%>'                
                    <%end%>                            

                            document_count_rollover = '<%= tl.doc_count_lotbuzz%>';
                            $('#image_hover').empty();

                           
                            <%unless tl.Key_Image_Url.blank?%>
                                key_image_url = '<%= tl.Key_Image_Url %>';
                                if (/^\/pictures*/i.test('<%= tl.Key_Image_Url %>') == true)
                                {
                                   $('#image_hover').append("<img src='"+key_image_url+"' />");   
                                }
                                else
                                {
                                  $('#image_hover').append("<img src='http://img.youtube.com/vi/<%= tl.Key_Image_Url%>/default.jpg' />")
                                  $('#image_hover').append("<img src='/assets/youtube_logo.png' class='OverlayIcon' style='margin-left:-19%' />")
                                }
                            <%else%>
                                $("#dialog_toolltip .modal-body .table tbody > tr#image_hover_row").addClass("hide_control");                            
                            <%end%>

                        }
                   <% end %>
                    $("#dialog_toolltip #view_edit_full_details").empty();
                    $("#dialog_toolltip #view_edit_full_details").append("<div></div>");
                    $("#dialog_toolltip #view_edit_full_details div").attr('id', this.id);
                    $("#dialog_toolltip #view_edit_full_details div").attr('class', this.class);
                    $("#dialog_toolltip #view_edit_full_details div").on("tap", doubleclickhandler);
                    $("#dialog_toolltip #view_edit_full_details div").text("View Full Details");
                   if(flag){
                    if (image_count_rollover == 0) {
                       $("#imagecount").addClass("hide_control");
                       $("#image_hover").addClass("hide_control");
                    }
                    if (document_count_rollover == 0) {
                        $("#dialog_toolltip .modal-body .table tbody > tr > td >span#documentcount").addClass("hide_control");
                    }
                    if(document_count_rollover == 0 && image_count_rollover == 0){
                         $("#dialog_toolltip .modal-body .table tbody > tr#imagecountrow").addClass("hide_control");
                         $("#dialog_toolltip .modal-body .table tbody > tr#image_hover_row").addClass("hide_control");
                        }
                    // if (flag == 0) {
                    //     lotn = address =lotcity= lotarea = allocation = buyer_name= sales_agent=phase='';
                    //     document_count_rollover=image_count_rollover=0;
                    // }
                    unknwonclass = this.class;
                
                    if(hide_rollover_on_dbl_click == 0){
                      var dWidth = $(window).width() * 0.6;
                        $("#dialog_toolltip").dialog({
                            position:[mouseX, mouseY],
                            create:function (event, ui) {
                                $("#dialog_toolltip").prev().hide();
                                $(".ui-widget-content").css("border", 0);
                                $(".ui-dialog").css("padding",0);
                                $(".ui-dialog .ui-dialog-content").css("padding",0);
                                
                            },
                            resizable:false,
                            modal:false,
                            width:dWidth,
                            closeOnEscape:false,
                            draggable:false,
                            minHeight:0
                        });
                    
                        $("#dialog_toolltip").dialog().data();
                        $("#dialog_toolltip #lotn").html(lotn);
                       
                        $("#dialog_toolltip #phase").html(phase);
                        $("#dialog_toolltip #status").html(status);
                        $("#dialog_toolltip #floor_plan").html(floor_plan);
                        $("#dialog_toolltip #sale_price").html(sale_price);
                        $("#dialog_toolltip #est_cmp_date").html(est_cmp_date);
                        $("#dialog_toolltip #lot_size").html(lot_size);
                         $("#dialog_toolltip #lot_type").html(lot_type);
                        $("#dialog_toolltip #description").html(description);
                        $("#dialog_toolltip  label#address").html(address);
                        $("#dialog_toolltip #image_count_rollover").html(image_count_rollover);
                        $("#dialog_toolltip #document_count_rollover").html(document_count_rollover);
                    }                        
            }
          }
              else
               {
                 document.getElementById("hover_draggable").value="false";
               }
            }//// end of initialising mouse hover

        //     delta[c].onmouseout = function () {              
        //       if(hide_rollover_on_dbl_click==0){
        //           if ($("#dialog_toolltip").dialog( "isOpen" )==true) {
        //             $("#dialog_toolltip").dialog("close");
        //           }              
        //       } 
        //     } // end of initialising mouse out
        // } // end of initialising mouse hover and mouse out
        for (c = 0; c < delta.length; c++) {
          $(delta[c]).on("tap",taphandler); 
        }
    } // end of load map
    a.addEventListener("load", load_map, false);
     $('#dialog').on('hidden.bs.modal', function (e) {
        hide_rollover_on_dbl_click = 0;
     });   
    

$(".btn_edit_mode").click(function(){

    

     $(".lot_info_image_rotate, .plan_info_image_rotate").addClass("image_rotate_onexpand").removeClass("image_rotate_oncollapse");
        $(".plan_info, .lot_info").show();

    // $(".inner_tr ").find("td:first").css("padding-top","14px")
    $(".not_editable").css("padding-top","8px")
    $(".close").css("margin-top","1%");
   
    $(".close_in_edit_mode").css("display","inline");
    $(".close_in_view_mode").css("display","none");
  
    $(".notes_description").show();
    $(".outside_radio_tr").show();
    
    $("#dialog #validation_msgs_td").empty(); 
    $(".tb_hidden").addClass("tb_visible");
    $(".tb_hidden").removeClass("tb_hidden");
    $(".lb_visible").addClass("lb_hidden");
    $(".lb_visible").removeClass("lb_visible");
    $(".btn_edit_mode").css("display","none")
    $(".btn_view_mode").css("display","inline");
    $(".update_lot").attr("disabled","true");
   
    $(".Zebra_DatePicker_Icon_Wrapper").addClass("Zebra_DatePicker_Visible").removeClass("Zebra_DatePicker_Hidden");
    $(".date_picker_div").addClass("Zebra_DatePicker_Hidden");
    
    hide_plans_info();
    hide_lot_fields();

    hidden_lot_status = $("#lbuzz_status_hidden").val();
    if( (hidden_lot_status == "Quick Move In") && $("#price_status_clk").val() == "on")
    {
       $(".price_row_clk").show();
    }
    else
    {
      $(".price_row_clk").hide();
    }
});

function view_mode()
{
       $(".plan_info").hide();    
        $(".plan_info_image_rotate").addClass("image_rotate_oncollapse").removeClass("image_rotate_onexpand"); 
        $(".lot_info_image_rotate").addClass("image_rotate_onexpand").removeClass("image_rotate_oncollapse"); 
        $(".lot_info").show();  
        $("#message").css("display","none")
        $(".inner_tr ").find("td:first").css("padding-top","8px")
        $(".close").css("margin-top","0.2%");
        $(".close_in_edit_mode").css("display","none")
        $(".close_in_view_mode").css("display","inline")
        $("#dialog #validation_msgs_td").empty();  
        $(".radio_tr").hide();
        $(".tb_visible").addClass("tb_hidden");
        $(".tb_visible").removeClass("tb_visible");
        $(".lb_hidden").addClass("lb_visible");
        $(".lb_hidden").removeClass("lb_hidden");
        $(".btn_edit_mode").css("display","inline")
        $(".btn_view_mode").css("display","none")
        $('.help-block').css('display', "none");
        $("#dialog #footer_buttons").addClass("tb_visible").removeClass("tb_hidden");
        $("#dialog .footer_buttons").addClass("tb_visible").removeClass("tb_hidden");
        $(".Zebra_DatePicker_Icon_Wrapper").addClass("Zebra_DatePicker_Hidden").removeClass("Zebra_DatePicker_Visible")
        hide_lot_fields();
        hide_plans_info();
        hidden_lot_status = $("#lbuzz_status_hidden").val();
    if( (hidden_lot_status == "Quick Move In") && $("#price_status_clk").val() == "on")
    {
       $(".price_row_clk").show();
    }
    else
    {
      $(".price_row_clk").hide();
    }
}

$("#close_in_edit_mode , .close_in_edit_mode").click(function(){

    var changed_data = $("div#dialog #upload_data").serialize();
        if(changed_data!=$("#original_data").val())
            {
                var result = confirm("Your changes have not been saved. Do you want to close?");
                if(result == true){
                    view_mode()
                }
                else
                {
                    $('#dialog').modal('show');
                }
            }
        else
            {
                view_mode();
            }
});
$("#close_cross_button").click(function(){ 
    var changed_data = $("div#dialog #upload_data").serialize();
    if(changed_data!=$("#original_data").val())
        {
            var result = confirm("Your changes have not been saved. Do you want to close?");
            if(result == true){
                $('.close_in_view_mode').unbind('click')
                $('#dialog').modal('hide');
            }
            else{
                $('#dialog').modal('show');
            }
        }
    else
        {
            $('.close_in_view_mode').unbind('click')
            $('#dialog').modal('hide');
        }
});

$("#edit_images").click(function(){
        document.getElementById('close').disabled=true;
        $(".btn_view_mode").attr("disabled","true")
        $("#edit_images").attr("disabled","true")
        $("#upload_images").attr("disabled","true")
        $("#update_lot").attr("disabled","true")
        $("#edit_docs").attr("disabled","true")
        $("#files_upload").attr("disabled","true")
        $("#edit_mode").attr("disabled","true")
        $("#view_docs").attr("disabled","true")
        $("#view_images").attr("disabled","true")
})
    // $("#upload_images").click(function(){
$(".upload_images").click(function(){        
        document.getElementById('close').disabled=true;
        $(".btn_view_mode").attr("disabled","true")
        $(".edit_images").attr("disabled","true")
        $(".upload_images").attr("disabled","true")
        $(".update_lot").attr("disabled","true")
        $(".edit_docs").attr("disabled","true")
        $(".files_upload").attr("disabled","true")
        $(".edit_mode").attr("disabled","true")
        $(".view_docs").attr("disabled","true")
        $(".view_images").attr("disabled","true")
        $(".close_in_edit_mode").attr("disabled","true")
})
    // $("#files_upload").click(function(){
$(".files_upload").click(function(){
        document.getElementById('close').disabled=true;
        $(".btn_view_mode").attr("disabled","true")
        $(".edit_images").attr("disabled","true")
        $(".upload_images").attr("disabled","true")
        $(".update_lot").attr("disabled","true")
        $(".edit_docs").attr("disabled","true")
        $(".files_upload").attr("disabled","true")
        $(".edit_mode").attr("disabled","true")
        $(".view_docs").attr("disabled","true")
        $(".view_images").attr("disabled","true")
})
    // $("#edit_docs").click(function(){
$(".edit_docs").click(function(){
        document.getElementById('close').disabled=true;
        $(".btn_view_mode").attr("disabled","true")
        $(".edit_images").attr("disabled","true")
        $(".upload_images").attr("disabled","true")
        $(".update_lot").attr("disabled","true")
        $(".edit_docs").attr("disabled","true")
        $(".files_upload").attr("disabled","true")
        $(".edit_mode").attr("disabled","true")
        $(".view_docs").attr("disabled","true")
        $(".view_images").attr("disabled","true")
})
   
$(".view_docs").click(function(){
        document.getElementById('close').disabled=true;
        $(".btn_edit_mode").attr("disabled","true")

        $(".view_images").attr("disabled","true")
        $(".view_docs").attr("disabled","true")
        $(".edit_mode").attr("disabled","true")
        $(".files_upload").attr("disabled","true")
})
$("#upload_data :input").click(function() {
        $(' input, select,textarea').bind('keyup change', function(){        
           
            $(".update_lot").attr("disabled",false);
        });
});
   $( "select" ).change(function () {   
        $(".update_lot").attr("disabled",false);
  })

   $(document).on('change', 'input[type="checkbox"]', function(){
       $(".update_lot").attr("disabled",false);
        });

</script>
<style>
  .sticky{
     position: fixed;
     /*position: relative; top: 5%; left: 3%;*/
  }
  #left span
  {
    color: #D9534F !important; 
    font-weight: normal !important;
  }

  </style>
<div class="modal fade" id="dialog" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= hidden_field_tag  "original_data"%>
    <div class="modal-dialog" style="width:65%">
      <div class="modal-content">
         <%= form_tag "",:id=> "upload_data" do %>
         <%= hidden_field_tag "idlot" %>
         <%= hidden_field_tag "lotn" %>
         <%= hidden_field_tag "user_role" %>
         <%= hidden_field_tag "parent_tab_id" %>
         <%= hidden_field_tag "access_permission" %>
         <%= hidden_field_tag "phase_parcel" %>
         <%= hidden_field_tag "product_type" %>
         <%= hidden_field_tag "community", @opted_community %>         
        <div class="modal-header header_hgt">
        <h5 class="modal-title" id="myModalLabel"> <div style="width:27%;float:left;margin:0px !important;">Lot: <label id="lotdetails_Id"></label><!-- <br />Status: <label id="status" style=";word-wrap: break-word;width:70%;vertical-align:top;white-space:inherit"></label> --></div>
          <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="z-index:2000;margin-top:-3.7%">&times;</button> -->
        <!-- </div> -->
        <div class="modal-footer" style="width:73%;float:right;margin:-5px !important">                           
            <div id="footer_buttons" class="footer_buttons">
            <div id="view_images" class="btn btn-primary lb_visible view_images" onclick="view_images()">View Images</div>
             <div id="view_docs" class="btn btn-primary lb_visible view_docs" onclick="view_docs()">View Docs</div>
                <div id="edit_mode" class="btn_edit_mode btn btn-primary edit_mode">Edit</div>
                 <div id="edit_images" class="btn btn-primary tb_hidden edit_images" onclick="edit_images()">Edit Images</div>     
                 <div id="edit_docs" class="btn btn-primary tb_hidden edit_docs" onclick="edit_docs()">Edit Docs</div>   
                <div id="upload_images" class="btn btn-primary tb_hidden upload_images" onclick="upload_images()">Add Images
                </div>            
                <div id="files_upload" class="btn btn-primary tb_hidden files_upload" onclick="files_upload()">Upload Files
                </div>
                <button type="submit" id="update_lot" class="btn btn-primary tb_hidden btn_save_css update_lot">Save</button>
               
                <a href='#' id="close" data-dismiss="modal" class="cancel_text_color close_in_view_mode" style="font-size:12px">cancel</a>
                <a href='#' id="close_in_edit_mode" class="cancel_text_color close_in_edit_mode" style="display:none;font-size:12px">cancel</a>
                <!-- <a href='#' id="close_in_edit_mode" class="cancel_text_color close_in_edit_mode" style="display:none">cancel</a> -->
                <!-- <button id="close_cross_button" type="button" class="close" data-dismiss="modal" aria-hidden="true" style="z-index:2000;margin-left:0.7%;margin-top:0.2% !important">&times;</button> -->
                
        </div>
        <button id="close_cross_button" type="button" class="close" aria-hidden="true" style="z-index:2000;margin-left:0.7%;margin-top:0.2%">&times;</button>
        </div>
        </h5>
        </div>


        <div class="modal-body">        
          <div class="table-responsive">
          <div id=""></div>
          <div id="errormessages"></div>
          <%= hidden_field_tag "is_admin"%>
            <table id="outer_table" class="table table-bordered table-striped " >
           
             <!--  <tr>
                  <td id="validation_msgs_td" colspan="2"></td>
              </tr>    -->
              <tr>
                  <td class="outer_td">
                    <table  id="outer_table" class="table table-bordered table-striped">
                        <tr class="inner_th" style="background-color:#f5f5f5 !important" onclick="toggleDiv('lot_info')">
                            <td class="table_th" colspan="2" style="background-color:#f5f5f5 !important">
                            <h5 class="modal-title" id="myModalLabel"> <label class="clk_header"> Lot Information</label><img src="/assets/arrow.gif" class="lot_info_image_rotate"></h5>
                            </td>
                            <!-- <td class="table_th" style="background-color:#f5f5f5 !important"></td> -->
                        </tr>

                        <%LotFieldDisplayName.all.each do |each_lot_field|%>
                        <tr class = "inner_tr lot_info lot_nbr_click">
                            <td><%= each_lot_field.Lot_Number%></td>
                                <td>
                                  <label id="idlot"></label>
                                   <input type="hidden" id="lnbr_status">
                                </td>
                        </tr>
                        <tr  class = "inner_tr lot_info status_click">
                         <td> <%= each_lot_field.Lot_Status%></td>
                         <td><label id="lbuzz_status"></label>
                          <%= hidden_field_tag "lbuzz_status_hidden"%>
                              <!--%= select_tag "lbuzz_status", options_for_select(Tbldatum.sales_status_for_lotbuzz(@opted_community)),:class=>"tb_hidden form-control", :style=>"width:100% !important;color:#000000" %> -->
                               <input type="hidden" id="status_click">
                         </td>
                        </tr>                                     

                         <tr class = "inner_tr lot_info address_click">
                            <td class="text_align_right"><%= each_lot_field.Address%></td>
                            <td>
                                <label id="address"></label>
                                <!--<%= text_field_tag "address","",:class=>"tb_hidden form-control " %> -->
                                <input type="hidden" id="address_click">
                            </td>
                          </tr>

                        <tr class = "inner_tr lot_info price_row_clk">
                            <td class="text_align_right"><%= each_lot_field.Sale_Price %></td>
                            <td>
                                <label id="sale_price"></label>
                                <!--<%= text_field_tag "sale_price","",:class=>"tb_hidden form-control" %> -->
                                <input type="hidden" id="price_status_clk">
                            </td>
                        </tr>

                        <tr class = "inner_tr lot_info est_date_clk_row" >
                            <td><%= each_lot_field.Estimated_Completion_Date %></td>
                            <td>
                                <label id="est_cmp_date" class="lb_visible"></label>
                                <%= text_field_tag "est_cmp_date","",:class=>"tb_hidden form-control date_picker" %>
                                 <input type="hidden" id="est_date_statusclk">
                            </td>
                        </tr>
                        <tr class = "inner_tr lot_info lt_size_clk_row">
                            <td><%= each_lot_field.Lot_Size %></td>
                            <td>
                                <label id="lot_size"></label>
                                 <!-- <%= text_field_tag "lot_size","",:class=>"tb_hidden form-control" %> -->
                                <input type="hidden" id="lot_size_status_clk"> 
                            </td>
                        </tr>

                        <tr class = "inner_tr lot_info desc_clk_row">
                            <td><%= each_lot_field.Description %></td>
                            <td>
                                <label id="description" class="lb_visible"></label>
                                <%= text_area_tag "description","",:class=>"tb_hidden form-control" %>
                                 <input type="hidden" id="desc_status_clk">
                            </td>
                        </tr>

                        <tr class = "inner_tr lot_info lt_type_row">
                            <td><%= each_lot_field.Lot_Type %></td>
                            <td>
                                <label id="lot_type" class="lb_visible"></label>
                                <%= select_tag "lot_type", options_for_select(Tbldatum.lot_types),:class=>"tb_hidden form-control", :style=>"width:100% !important" %>
                                 <input type="hidden" id="lt_type_clk_status">
                            </td>
                        </tr>

                         <!-- <tr class = "inner_tr lot_info avbl_plans_click">
                            <td><%=each_lot_field.Available_Plans %></td>
                            <td>
                                <div id="floor_plans" class="lb_visible"></div>
                                <div id="floor_plans_checkbox" class="tb_hidden" ></div>
                                <input type="hidden" id="avbl_plans_clk_status">
                            </td>
                        </tr>   -->
                    <% end %> 
                    <%PlanFieldDisplayName.all.each do |planfield|%>
                      <tr class = "inner_tr lot_info avbl_plans_click" id="floor_plan_row1">
                      <td><%= planfield.Plan_Name%></td>
                      <td>
                      <label id="floor_plan_name">   
                      </td> 
                      </tr>
                  <%end%>
                    </table>

                    <table  id="outer_table" class="table table-bordered table-striped inner_table plan_info_table">
                    <tr class="inner_th" style="background-color:#f5f5f5 !important" onclick="toggleDiv('plan_info')">
                        <td class="table_th" colspan="2" style="background-color:#f5f5f5 !important">
                        <h5 class="modal-title" id="myModalLabel"><label class="clk_header">Plan Information</label><img class="plan_info_image_rotate" src="/assets/arrow.gif" ></h5>
                        </td>
                        <!-- <td class="table_th " style="background-color:#f5f5f5 !important"></td> -->
                    </tr>
                    <%PlanFieldDisplayName.all.each do |planfield|%>
                        <tr class = "inner_tr plan_info ">
                            <td class="text_align_right"><%= planfield.Plan_Name %></td>
                            <td>
                                <label id="floor_plan_name"></label>
                                <input type="hidden" name="plan_count_hidden" id="plan_count_hidden">
                            </td>
                        </tr>

                        <tr class = "inner_tr plan_info hide_plan_info plan_number_tr">
                            <td class="text_align_right">Plan Number</td>
                            <td>
                                <label id="plan_number"></label>
                            </td>
                        </tr>

                        <tr class = "inner_tr plan_info hide_plan_info plan_desc_tr" >
                            <td><%= planfield.Plan_Description %></td>
                            <td>
                                <label id="plandesc"></label>
                                <input type="hidden" id="plan_desc_status">
                            </td>
                        </tr>
                       
                        <tr class = "inner_tr plan_info hide_plan_info sq_feet_tr">
                            <td><%= planfield.Sq_Feet %></td>
                            <td>
                                <label id="sq_feet"></label>
                                <input type="hidden" id="sq_feet_status">
                            </td>
                        </tr>

                        <tr class = "inner_tr plan_info hide_plan_info floors_tr">
                            <td><%= planfield.Floors %></td>
                            <td>
                                <label id="floors"></label>
                                <input type="hidden" id="floors_status">
                            </td>
                        </tr>

                        <tr class = "inner_tr plan_info hide_plan_info bedrooms_tr">
                          <td> <%= planfield.Bedrooms %></td>
                          <td><label id="number_of_bedrooms"></label>
                          <input type="hidden" id="bedrooms_status">
                          </td>
                          </td>
                        </tr>   

                         <tr class = "inner_tr plan_info hide_plan_info full_bathrooms_tr">
                          <td> <%= planfield.Full_Bathrooms %></td>
                          <td><label id="number_of_full_bathrooms"></label>
                          <input type="hidden" id="full_bathrooms_status">
                            </td>
                          </td>
                        </tr> 

                        <tr class = "inner_tr plan_info hide_plan_info bathrooms_tr">
                          <td> <%= planfield.Bathrooms %></td>
                          <td><label id="number_of_bathrooms"></label>
                          <input type="hidden" id="bathrooms_status">
                            </td>
                          </td>
                        </tr> 

                        <tr class = "inner_tr plan_info hide_plan_info garages_tr">
                          <td> <%= planfield.Garages %> </td>
                          <td><label id="garages"></label>
                          <input type="hidden" id="garages_status">
                            </td>
                          </td>
                        </tr>
                    <% end %> 
                     
                         
               </table>



                  </td>                  
                  
              </tr>              
            </table>


          </div>
        </div>
     
        <div class="modal-footer">                           
              <div id="footer_buttons" class="footer_buttons bottom_footer_buttons">
                  <div id="view_images" class="btn btn-primary view_images btn_mrg" onclick="view_images()" >View Images</div>
                  <div id="view_docs" class="btn btn-primary view_docs btn_mrg" onclick="view_docs()" >View Docs</div>
                   <div id="edit_images" class="btn btn-primary edit_images btn_mrg" onclick="edit_images()" >Edit Images</div>     
                   <div id="edit_docs" class="btn btn-primary edit_docs btn_mrg" onclick="edit_docs()" >Edit Docs</div>   
                  <div id="upload_images" class="btn btn-primary upload_images btn_mrg" onclick="upload_images()" >Add Images
                  </div>            
                  <div id="files_upload" class="btn btn-primary files_upload btn_mrg" onclick="files_upload()" >Upload Files
                  </div>              
                  <a href='#' id="close" data-dismiss="modal" class="cancel_text_color close_in_view_mode" style="font-size:12px">cancel</a>
                  <a href='#' id="close_in_edit_mode" class="cancel_text_color close_in_edit_mode" style="display:none;font-size:12px">cancel</a>                
                 </div>
              </div>
          </div>
      <% end %>
    </div>
  </div>

<div id="dialog_toolltip" title="LOT TOOLTIP">
<div class="modal-body">        

<table style="width:100%" class="table table-bordered table-striped table-hover" >    
        <%LotFieldDisplayName.all.each do |each_lot_field|%>
        <tr id="lt_nbr_row">
        <td><%= each_lot_field.Lot_Number%></td>
        <td><label id="lotn"></label></td> 
        <input type="hidden" id="lot_nbr_status">
        </tr>
        <tr id="lot_status_row">
        <td><%= each_lot_field.Lot_Status%></td>
        <td><label id="status"></label></td> 
        <input type="hidden" id="lot_status_status">
        </tr>
        <tr class ="lot_address_row">
          <td class="text_align_right"><%= each_lot_field.Address%></td>
          <td>
              <label id="address"></label></td>
              <input type="hidden" id="lot_address_status">
        </tr>
        <tr id="sale_price_row">
        <td><%= each_lot_field.Sale_Price%></td>
        <td><label id="sale_price"></label> </td> 
        <input type="hidden" id="sale_price_status">
        </tr>
        <tr id="date_row">
        <td><%= each_lot_field.Estimated_Completion_Date%></td>
        <td><label id="est_cmp_date"></label> </td>
        <input type="hidden" id="est_cmp_date_status"> 
        </tr>
        <tr id="size_row">
        <td><%= each_lot_field.Lot_Size%></td>
        <td><label id="lot_size"></label> </td> 
        <input type="hidden" id="size_status">
        </tr>
        <tr id="desc_row">
        <td><%= each_lot_field.Description%></td>
        <td><label id="description"></label> </td>
        <input type="hidden" id="description_status"> 
        </tr>
        <tr id="lt_type_row">
        <td><%= each_lot_field.Lot_Type%></td>
        <td><label id="lot_type"></label> </td> 
        <input type="hidden" id="lot_type_status">
        </tr>            
    <%end%>
    <%PlanFieldDisplayName.all.each do |planfield|%>
        <tr id="floor_plan_row1">
        <td><%= planfield.Plan_Name%></td>
        <td>
        <label id="floor_plan">       
        </label> 
        </td> 
        </tr>
    <%end%>
        <tr>
          <td class="tooltip_lbl"></td>
          <td id="view_edit_full_details" class="tooltip_data"></td>
        </tr>
        <tr id="image_hover_row" style="text-align:center;">
        <td id="image_hover" colspan='2'></td>
        </tr>
        <tr id="imagecountrow" >
        <td colspan="2" align="right">
        <span id="imagecount">
        <span class="glyphicon glyphicon-picture"></span>(<label id="image_count_rollover"></label>)</span>
        <span id="documentcount"><span class="glyphicon glyphicon-file"></span>(<label id="document_count_rollover"></label>)</span>
      </td>
      </tr>
</table>
</div>
</div>
