
<script>
    $(document).ready(function () {
        $('#tbldata_tbldataattachments_image').MultiFile();
    });
    nav_filter_click();
</script>
<div class="modal fade" role="dialog" style="z-index:2001" id="add_lot_images_modal">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <label class="modal_title_ui"></label>
            <button type="button" class="close modal_title_cross_button" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body table-responsive" id="add_lot_images" style="margin-bottom:0px !important">
          </div>
        </div>
    </div>
</div>
<div class="modal fade" role="dialog" style="z-index:2000" id="image_upload_modal">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <label class="modal_title_ui"> Upload Images</label>
            <button type="button" class="close modal_title_cross_button" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body table-responsive" id="image_upload" style="margin-bottom:0px !important">
            <%= render :partial => 'images/image_upload', locals: {role: @role, 
            access_permission_id: @access_permission_id, phase_parcel: @opted_parcel, product_type: @opted_product} %>
          </div>
        </div>
    </div>
</div>
<div class="modal fade" role="dialog" style="z-index:2000" id="file_upload_modal">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <label class="modal_title_ui"> Upload Files</label>
            <button type="button" class="close modal_title_cross_button" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body table-responsive" id="file_upload"  style="margin-bottom:0px !important">
        <%= render :partial => 'images/file_upload', locals: {role: @role, access_permission_id: @access_permission_id, phase_parcel: @opted_parcel, product_type: @opted_product} %>
          </div>
        </div>

    </div>
</div>
<% community = @opted_community.delete(" ")%>
<div class="svgview">
  <input type="hidden" id="is_draggable" value="false">
  <input type="hidden" id="hover_draggable" value="false">  
  <%= render :partial => "tbldata/map_based_on_community_and_filing", :locals => {:community => community, :filing =>@parcel_map} %>
</div>
<script>
    var array = <%= raw @legend_keys.to_json unless @legend_keys.nil?%>
    edit_mode = 0;
    hide_rollover_on_dbl_click =0; 
    var unknownid;
    var unknwonclass;
    var lot_to_color;
    var a = document.getElementById("alphasvg");
    $("#alphasvg").css("visibility","hidden");
var load_map = function () {
        var svgDoc = a.contentDocument;
        lot_class = svgDoc.getElementsByClassName("land");
        Tbldatum_svg_ids_arr = <%= Tbldatum.get_all_svg_ids.compact.to_json.html_safe %>
               for(i=0;i<lot_class.length;i++)
                {
                  svg_lot_id = lot_class[i].getAttribute("id")
                  
                    result = $.inArray(svg_lot_id, Tbldatum_svg_ids_arr)
                    if(result == -1)
                    {
                      $(lot_class[i]).css("fill","#D8d8d8")                                           
                      text_element = svgDoc.getElementById("Txt_"+svg_lot_id)
                      if(text_element != null)
                      { 
                        text_element.style.opacity= "0.2"
                      }
                    }                    
                    else
                    {
                      $(lot_class[i]).css("fill","#FFFFFF") 
                      // $(svgDoc.getElementById(svg_lot_id)).mouseenter(function(){                        
                      //       originl_style = $(svgDoc.getElementById(this.id)).attr("style") 
                      //       $(svgDoc.getElementById(this.id)).attr("style",""+originl_style+";stroke-opacity:0.5 !important;stroke-width:5px !important");
                      //   }).mouseleave(function() {            
                      //       $(svgDoc.getElementById(this.id)).attr('style',originl_style)
                      // });                    
                    }
                  }
                
        <% @colorize_lots= @click_data%>          
          <% if @filter %>          
              <% @colorize_lots.each do |l| %>  
                <% unless l.SVG_ID.blank? %>
                  svgDoc.getElementById('<%=l.SVG_ID %>').style.fill = '#FFFBFF' 
                  svgDoc.getElementById("Cir_" + '<%=l.SVG_ID %>').style.fill = '#FFFBFF'
                  svgDoc.getElementById("Star_" + '<%=l.SVG_ID %>').style.fill = '#FFFBFF'   
                <% end %>  
              <% end %>
              <% @all_lots.each do |l| %>                
                <% unless l.SVG_ID.blank? %>
                  lot_to_color = svgDoc.getElementById('<%=l.SVG_ID %>');                  
                  lot_to_circle = svgDoc.getElementById("Cir_" + '<%=l.SVG_ID %>');  
                  lot_to_star = svgDoc.getElementById("Star_" + '<%=l.SVG_ID %>');    
                  if(lot_to_color)
                  {                     
                      lot_to_color.style.fill =  '<%= l.Outstanding_Service_Orders.blank? ? "#FFFFFF": l.get_color_code_for_warranty_view %>';
                      lot_to_circle.style.fill =  '<%= l.Outstanding_Service_Orders.blank? ? "#FFFFFF": l.get_color_code_for_warranty_view %>';  
                      lot_to_star.style.fill =  '<%= l.Outstanding_Service_Orders.blank? ? "#FFFFFF": l.get_color_code_for_warranty_view %>';  
                  }          
                <% end %>  
           <% end %>
        <% else %>                
            <% @colorize_lots.each do |l| %>
                lot_to_color = svgDoc.getElementById('<%=l.SVG_ID %>');
                lot_to_circle = svgDoc.getElementById("Cir_" + '<%=l.SVG_ID %>'); 
                 lot_to_star = svgDoc.getElementById("Star_" + '<%=l.SVG_ID %>');     
                if(lot_to_color)
                {                
                    lot_to_color.style.fill = '<%= l.Outstanding_Service_Orders.blank? ? "#FFFFFF": l.get_color_code_for_warranty_view %>';
                    lot_to_circle.style.fill =  '<%= l.Outstanding_Service_Orders.blank? ? "#FFFFFF": l.get_color_code_for_warranty_view %>';
                    lot_to_star.style.fill =  '<%= l.Outstanding_Service_Orders.blank? ? "#FFFFFF": l.get_color_code_for_warranty_view %>';                  
                }
            <% end %>    
        <% end %>     
        var delta = svgDoc.getElementsByTagName('path');
       <% if @filter %>
            svgLots = new Array();
            svgLots1 = new Array();
            svgLots2 = new Array();
            <% if @hover_data.present? %>
                mappingIds = new Array('<%= @hover_data.map(&:SVG_ID).join(',') %>')[0].split(',');
                $(mappingIds).each(function(i, mId){
                    $(delta).each(function(i, lot)
                    {
                        if(mId==lot.id)
                        {
                            svgLots.push(lot); 
                            return false;
                        }
                    });

                    $(delta).each(function(i, lot)
                    {                     
                        if(("Cir_" + mId) ==lot.id )
                        {  
                          svgLots1.push(lot); 
                          return false;
                        }
                    });

                   $(delta).each(function(i, lot)
                   {                     
                       if(("Star_" + mId) ==lot.id )
                       {  
                          svgLots2.push(lot); 
                          return false;
                      }
                  });
                });
            <% end %>
            result = $.merge(svgLots, svgLots1)
            delta = $.merge(result, svgLots2)
        <% end %>

        delta = $(delta).filter("[class=land]");
        on_page_load_blink_lot();
        zoom_control_functionality();
        $("#alphasvg").css("visibility","visible");
        doubleclickhandler = function (ev) {
          rm_blink_after_click_on_lot()
          $("#update_notification").css("display", "none");
          $("#left.map_render").css("margin-top",$("#main_nav").outerHeight()+"px");
           if(document.getElementById("is_draggable").value=="false"){
          var clickEvent = ((document.ontouchstart!==null)?'click':'touchstart');
          if(clickEvent=='touchstart' && ev.type =="touchstart"){
                   var mouseX = (ev.originalEvent.touches[0].pageX+120)-window.pageXOffset;
                   var mouseY = (ev.originalEvent.touches[0].pageY+200)-window.pageYOffset;
                   var windowWidth=$(window).width();
                   var windowHeight=$(window).height();
                   if(windowWidth- mouseX<450){
                       mouseX=mouseX-530;
                   }
                   if(windowHeight- mouseY<250){
                       mouseY=mouseY-330;
                   }

                   $("#dialog_toolltip .modal-body .table tbody > tr#imagecountrow").removeClass("hide_control");
                   $("#dialog_toolltip .modal-body .table tbody > tr > td > span#imagecount").removeClass("hide_control");
                   $("#dialog_toolltip .modal-body .table tbody > tr > td > span#documentcount").removeClass("hide_control");
                   $("#dialog_toolltip .modal-body .table tbody > tr#image_hover_row").removeClass("hide_control");
                   $("#dialog_toolltip .modal-body .table tbody > tr > td#image_hover").removeClass("hide_control");
          
                    var test = lotn  = image_count = idlot  = lot_builder =lot_status_tool = lot_cost ='';
                    document_count_rollover=image_count_rollover=0;

                    unknown = this.id;
                    test = unknown;

                    var filter = '<%= @filter%>';
                    var thisAllocation = '<%= @allocation%>';
                    var flag = 0;
                    <% @hover_data && @hover_data.each do |tl| %>
                        var svg = '<%= tl.SVG_ID %>';
                        var circle_svg = "Cir_" + '<%= tl.SVG_ID %>';
                        var star_svg = "Star_" + '<%= tl.SVG_ID %>';
                        
                        if ( (svg == test) || (circle_svg == test) || (star_svg == test) ) {
                            flag = 1;
                            lotn = '<%= tl.Lot_Number %>';
                            idlot = '<%= tl.Unique_ID%>';                            
                            house_number = '<%= tl.HouseNumber %>'
                            owner_name = '<%= tl.Buyer_Name %>'                            
                            model_number = '<%= tl.Model_Code %>'
                            settlement_date = '<%= ( tl.Settlement_Date.present?)?tl.Settlement_Date.strftime("%m/%d/%Y"):'' %>'                            
                            owner_phone = ''
                            
                            image_count_rollover = '<%= tl.pic_count_lotinsight%>'; 
                            document_count_rollover = '<%= tl.doc_count_lotinsight%>';
                            $('#image_hover').empty();               

                            <%unless tl.Key_Image_Url.blank?%>
                                <% unless tl.Key_Image_Id.blank?%>
                                  <% unless ImageGallery.find(tl.Key_Image_Id).youtube_url.blank?%>
                                    $('#image_hover').append("<img src='/assets/youtube_logo.png' class='OverlayIcon' style='padding-left: 10px;' />") 
                                  <% else %>
                                    key_image_url = '<%= tl.Key_Image_Url %>';
                                    $('#image_hover').append("<img src='"+key_image_url+"' />");   
                                  <% end %>  
                                <% else %>
                                  key_image_url = '<%= tl.Key_Image_Url %>';
                                  $('#image_hover').append("<img src='"+key_image_url+"' />");   
                                <% end %>
                            <%else%>
                                $("#dialog_toolltip .modal-body .table tbody > tr#image_hover_row").addClass("hide_control");                            
                            <%end%>

                        }
                   <% end %>
                    $("#dialog_toolltip #view_edit_full_details").empty();
                    $("#dialog_toolltip #view_edit_full_details").append("<div></div>");
                    $("#dialog_toolltip #view_edit_full_details div").attr('id', this.id);
                    $("#dialog_toolltip #view_edit_full_details div").attr('class', this.class);
                    $("#dialog_toolltip #view_edit_full_details div").on("tap", doubleclickhandler);
                    $("#dialog_toolltip #view_edit_full_details div").text("View Full Details");
                    $("#dialog_toolltip #lnk_for_click_popup").show();
                   if(flag){
                    if (image_count_rollover == 0) {
                       $("#imagecount").addClass("hide_control");
                       $("#image_hover").addClass("hide_control");
                    }
                    if (document_count_rollover == 0) {
                        $("#dialog_toolltip .modal-body .table tbody > tr > td >span#documentcount").addClass("hide_control");
                    }
                    if(document_count_rollover == 0 && image_count_rollover == 0){
                         $("#dialog_toolltip .modal-body .table tbody > tr#imagecountrow").addClass("hide_control");
                         $("#dialog_toolltip .modal-body .table tbody > tr#image_hover_row").addClass("hide_control");
                        }

                    unknwonclass = this.class;
                
                    if(hide_rollover_on_dbl_click == 0){
                      var dWidth = $(window).width() * 0.5;
                        if(dWidth > 270 )
                        {
                            dWidth = 330
                        } 
                        $("#dialog_toolltip").dialog({
                            position:[mouseX, mouseY],
                            create:function (event, ui) {
                                $("#dialog_toolltip").prev().hide();
                                $(".ui-widget-content").css("border", 0);
                                $(".ui-dialog").css("padding",0);
                                $(".ui-dialog .ui-dialog-content").css("padding",0);
                                
                            },
                            buttons:{
                                CLOSE:function () {
                              $(this).dialog("destroy");
                                }
                            },
                            resizable:false,
                            modal:false,
                            // width:400,
                            width: dWidth,
                            closeOnEscape:false,
                            draggable:false,
                            minHeight:0
                        });

                    
                        $("#dialog_toolltip").dialog().data();
                        $("#dialog_toolltip #owner_name").html(owner_name);
                        $("#dialog_toolltip #lotn").html(lotn);
                        $("#dialog_toolltip #house_number").html(house_number);
                        $("#dialog_toolltip #model_number").html(model_number);
                        $("#dialog_toolltip #settlement_date").html(settlement_date);
                        $("#dialog_toolltip #owner_phone").html(owner_phone);
                        $("#dialog_toolltip #image_count_rollover").html(image_count_rollover);
                        $("#dialog_toolltip #document_count_rollover").html(document_count_rollover);
                    }
                  }
                      // }
                ev.preventDefault()
          }//touch
          else{

              $("#dialog_toolltip #view_full_details").html("")

              $(".lot_info_image_rotate, .cust_model_clo_info_image_rotate, .serv_order_track_image_rotate").addClass("image_rotate_oncollapse").removeClass("image_rotate_onexpand");              
             $(".lot_info, .serv_order_track, .cust_model_clo_info").hide();

            $(".close_in_view_mode").css("display","inline");
            $(".close_in_edit_mode").css("display","none")
            $(".tb_visible").addClass("tb_hidden");
            $(".tb_visible").removeClass("tb_visible");
            $(".lb_hidden").addClass("lb_visible");
            $(".lb_hidden").removeClass("lb_hidden");
            $("#dialog #validation_msgs_td").empty(); 
            if ($("#dialog_toolltip").dialog( "isOpen" )==true) {
                $('#dialog_toolltip').dialog('close');
             } 
            $(".close").css("margin-top","0.2%")
            $(".tb_visible").addClass("tb_hidden");
            $(".tb_visible").removeClass("tb_visible");
            $(".lb_hidden").addClass("lb_visible");
            $(".lb_hidden").removeClass("lb_hidden");
            $("#dialog .footer_buttons").addClass("tb_visible").removeClass("tb_hidden");
            $(".Zebra_DatePicker_Icon_Wrapper").addClass("Zebra_DatePicker_Hidden").removeClass("Zebra_DatePicker_Visible");
            $("#dialog #view_images, #dialog #edit_images").removeClass("hide_control");
            $("#dialog #edit_docs, #dialog #view_docs").removeClass("hide_control");
            var idlot = lotn = Address = house_number = filing = phase = block = Development_Code = lot_sf =  ownership = release_date =  lot_status = developer = lot_cost = lot_basis = lot_premium  =  purchase_date = lender   = Contract_Date  = Elevation = Elevation_Description  = Lot_Number = Lot_Status_Val = Model_Code = Model_Description = Ratified_Date= Release_Sale_Date = "";
            var image_count=doc_count= 0;
                role = '<%= @role %>';
                parent_tab_id='<%= @parent_tab_id %>';
                access_permission='<%= @access_permission_id %>';
                phase_parcel='<%= @opted_parcel %>';
                project='<%= @opted_product %>';
                test = this.id;
                var flag=0     
               

                <% @click_data && @click_data.each do |tl| %>                  
                  <% if @is_admininstrator %>
                      $("#dialog .footer_buttons").addClass("tb_visible").removeClass("tb_hidden");
                  <% elsif tl.permission.include? 1 %>
                      $("#dialog .footer_buttons").addClass("tb_visible").removeClass("tb_hidden");
                  <% else %>
                      $("#dialog .footer_buttons").addClass("tb_hidden").removeClass("tb_visible");
                 <% end %>


                    var svg = '<%= tl.SVG_ID %>';
                    var circle_svg = "Cir_" + '<%= tl.SVG_ID %>';
                    var star_svg = "Star_" + '<%= tl.SVG_ID %>';
                        
                    if ( (svg == this.id) || (circle_svg == this.id) || (star_svg == this.id) ) {
                          
                        flag=1;

                      <% is_admin = @is_admininstrator%>
                      $("#is_admin").val("<%= is_admin%>")

                      $("#dialog  input.date_picker").Zebra_DatePicker({
                                  format: 'm/d/Y',
                       onSelect: function(){
                           $(".update_lot").attr("disabled", false);
                       },
                       onChange: function() {
                          $(".update_lot").attr("disabled",false);
                      }
                     });    
                        idlot = '<%= tl.Unique_ID%>';
                        lotn = '<%= tl.Lot_Number %>'; 
                        filing = '<%= tl.Phase_Name %>'
                        phase = '<%= tl.Phase %>'
                        block = '<%= tl.Block %>'

                        Address = '<%= tl.Address %>'
                        house_number = '<%= tl.HouseNumber %>'
                        Contract_Date = '<%= ( tl.Contract_Date.present?)?tl.Contract_Date.strftime("%m/%d/%Y"):'' %>'
                        Development_Code = '<%= tl.Development_Code%>'
                        Elevation = '<%= tl.Elevation%>'
                        Elevation_Description = '<%= tl.Elevation_Description%>'
                        Lot_Number = '<%= tl.Lot_Number%>'
                        Lot_Status_Val = '<%= tl.Lot_Status_Val%>'
                        Model_Code = '<%= tl.Model_Code%>'
                        Model_Description = '<%= tl.Model_Description%>'
                        Ratified_Date = '<%= ( tl.Ratified_Date.present?)?tl.Ratified_Date.strftime("%m/%d/%Y"):'' %>'
                        Release_Sale_Date = '<%= ( tl.Release_Sale_Date.present?)?tl.Release_Sale_Date.strftime("%m/%d/%Y"):'' %>'

                        Settlement_Date = '<%= ( tl.Settlement_Date.present?)?tl.Settlement_Date.strftime("%m/%d/%Y"):'' %>'
                        Warranty_Date = '<%= ( tl.Warranty_Date.present?)?tl.Warranty_Date.strftime("%m/%d/%Y"):'' %>'

                        buyer_name = '<%= tl.Buyer_Name %>'
                        buyer_name2 = '<%= tl.BUYERSNAME2 %>'
                        buyer_name3 = '<%= tl.BUYERSNAME3 %>'
                        Address1 = '<%= tl.Address1 %>'
                        Address2 = '<%= tl.Address2 %>'
                        Address3 = '<%= tl.Address3 %>'
                        home_phone = '<%= number_to_phone(tl.HOMEPHONE) %>'
                        cell_phone = '<%= number_to_phone(tl.CELLPHONE) %>'
                        email = '<%= tl.EMAIL %>'

                        Service_Rep_Name = "<%= tl.Service_Rep_Name %>"
                        Days_Warranty_Issues_Aged = "<%= tl.Days_Warranty_Issues_Aged%>"
                        Outstanding_Warranty_Issues = "<%= tl.Outstanding_Warranty_Issues%>"
                        Total_Warranty_Issues = "<%= tl.Total_Warranty_Issues%>"
                         Warranty_Costs = '<%= number_to_currency(tl.Warranty_Costs, :precision => 2) %>'
                         Estimated_Settlement_Date = '<%= ( tl.Estimated_Settlement_Date.present?)?tl.Estimated_Settlement_Date.strftime("%m/%d/%Y"):'' %>'
                         buyer_name = '<%= tl.Buyer_Name %>'
                        image_count = '<%= tl.pic_count_lotinsight %>'; 
                        doc_count = '<%= tl.doc_count_lotinsight %>'

                    }

                <% end %>    
                if(flag){
                    if (image_count==0) {
                        $("#dialog #view_images, #dialog #edit_images").addClass("hide_control");
                    }
                 
                     if (doc_count==0) {
                        $("#dialog #edit_docs, #dialog #view_docs").addClass("hide_control");
                    }
                    $("#dialog").data("lot_id", idlot).data("lotn", lotn).data("user_role", role).data("parent_tab_id", parent_tab_id).data("phase_parcel",phase_parcel).data("access_permission", access_permission).data("product_type","<%= @opted_product%>").data("community","<%= @opted_community%>").modal({
                                                backdrop: true,
                                                keyboard: false,
                                                show: true
                        }); 


                    $("#dialog  input#idlot").val(idlot);  
                    $("#dialog  label#idlot").html(idlot);  
                    $("#dialog  input#user_role").val(role);  
                    $("#dialog  input#parent_tab_id").val(parent_tab_id);
                    $("#dialog  input#access_permission").val(access_permission);
                    $("#dialog  input#phase_parcel").val(phase_parcel);
                    $("#dialog  input#product_type").val(project);
                    $("#dialog  label#lotdetails_Id").html(lotn);

                    $("#dialog  label#Address").html(Address);
                    $("#dialog  label#House_Number").html(house_number);
                    $("#dialog  label#Contract_Date").html(Contract_Date);
                    $("#dialog  label#Development_Code, #dialog #dev_nm").html(Development_Code);
                    $("#dialog  label#Elevation").html(Elevation);
                    $("#dialog  label#Elevation_Description").val(Elevation_Description);
                    $("#dialog  label#Lot_Number").html(Lot_Number);
                    $("#dialog  label#Lot_Status").html(Lot_Status_Val);
                    $("#dialog  label#Model_Code").html(Model_Code);
                    $("#dialog  label#Model_Description").html(Model_Description);
                    $("#dialog  label#Ratified_Date").html(Ratified_Date);
                    $("#dialog  label#Release_Sale_Date").html(Release_Sale_Date);
                    $("#dialog  label#Settlement_Date").html(Settlement_Date);
                    $("#dialog  label#Settlement_Date_customer_sec").html(Settlement_Date);
                    $("#dialog  label#Warranty_Date").html(Warranty_Date);
                    $("#dialog  label#Estimated_Settlement_Date").html(Estimated_Settlement_Date);

                    $("#dialog  label#buyer_name").html(buyer_name);
                    $("#dialog  label#buyer_name2").html(buyer_name2);
                    $("#dialog  label#buyer_name3").html(buyer_name3);
                    $("#dialog  label#Address1").html(Address1);
                    $("#dialog  label#Address2").html(Address2);
                    $("#dialog  label#Address3").html(Address3);
                    $("#dialog  label#home_phone").html(home_phone);
                    $("#dialog  label#cell_phone").html(cell_phone);
                    $("#dialog  label#email").html(email);

                    $("#dialog  label#Service_Rep_Name").html(Service_Rep_Name);
                    $("#dialog  label#Days_Warranty_Issues_Aged").html(Days_Warranty_Issues_Aged);
                    $("#dialog  label#Total_Warranty_Issues").html(Total_Warranty_Issues);
                    $("#dialog  label#Outstanding_Warranty_Issues").html(Outstanding_Warranty_Issues);
                    $("#dialog  label#Warranty_Costs").html(Warranty_Costs);
                    $("#dialog  label#buyer_name").html(buyer_name);
                    dialog_header_style();
                    footer_buttons_visibility()
                    hide_rollover_on_dbl_click = 1;         
                }        
             }//non-touch   
            } // if close
            else
            {
                document.getElementById("is_draggable").value="false"
            }

        } //end of click handler
        for (c = 0; c < delta.length; c++) {
            var clickEvent = ((document.ontouchstart!==null)?'click':'touchstart');
            $(delta[c]).on(clickEvent, doubleclickhandler);
            // $(delta[c]).on('mousedown', doubleclickhandler);
            if(clickEvent=='touchstart'){
              $(delta[c]).on('mousedown', doubleclickhandler);              
            }

        }// end of forloop for  intitialsizing double click


           for (c = 0; c < delta.length; c++) {
            delta[c].onmouseover = function (e) { 
                if(document.getElementById("hover_draggable").value=="false"){
                   var mouseX = (e.pageX+120)-window.pageXOffset;
                   var mouseY = (e.pageY+200)-window.pageYOffset;
                   var windowWidth=$(window).width();
                   var windowHeight=$(window).height();

                   if(windowWidth- mouseX<450){
                       mouseX=mouseX-530;
                   }
                   if(windowHeight- mouseY<250){
                       mouseY=mouseY-330;
                   }
                   $("#dialog_toolltip .modal-body .table tbody > tr#imagecountrow").removeClass("hide_control");
                   $("#dialog_toolltip .modal-body .table tbody > tr > td > span#imagecount").removeClass("hide_control");
                   $("#dialog_toolltip .modal-body .table tbody > tr > td > span#documentcount").removeClass("hide_control");
                   $("#dialog_toolltip .modal-body .table tbody > tr#image_hover_row").removeClass("hide_control");
                   $("#dialog_toolltip .modal-body .table tbody > tr > td#image_hover").removeClass("hide_control");
          
                    var test = lotn  = image_count = idlot = house_number = owner_name = model_number = settlement_date = owner_phone = '';
                    document_count_rollover=image_count_rollover=0;

                    unknown = this.id;
                    test = unknown;
                    var filter = '<%= @filter%>';
                    var thisAllocation = '<%= @allocation%>';
                    var flag = 0;
                    <% @hover_data && @hover_data.each do |tl| %>
                        var svg = '<%= tl.SVG_ID %>';
                        var circle_svg = "Cir_" + '<%= tl.SVG_ID %>';
                        var star_svg = "Star_" + '<%= tl.SVG_ID %>';
                        
                    if ( (svg == test) || (circle_svg == test) || (star_svg == test) ) {
                        
                            flag = 1;
                            lotn = '<%= tl.Lot_Number %>';
                            idlot = '<%= tl.Unique_ID%>';                            
                            house_number = '<%= tl.HouseNumber %>'
                            owner_name = '<%= tl.Buyer_Name %>'                            
                            model_number = '<%= tl.Model_Code %>'
                            settlement_date = '<%= ( tl.Settlement_Date.present?)?tl.Settlement_Date.strftime("%m/%d/%Y"):'' %>'                            
                            owner_phone = ''
                            
                            image_count_rollover = '<%= tl.pic_count_lotinsight%>'; 
                            document_count_rollover = '<%= tl.doc_count_lotinsight%>';
                            $('#image_hover').empty();               

                            <%unless tl.Key_Image_Url.blank?%>
                                key_image_url = '<%= tl.Key_Image_Url %>';
                                $('#image_hover').append("<img src='"+key_image_url+"' />");   
                            <%else%>
                                $("#dialog_toolltip .modal-body .table tbody > tr#image_hover_row").addClass("hide_control");                            
                            <%end%>

                        }
                   <% end %>
                   if(flag){
                    if (image_count_rollover == 0) {
                       $("#imagecount").addClass("hide_control");
                       $("#image_hover").addClass("hide_control");
                    }
                    if (document_count_rollover == 0) {
                        $("#dialog_toolltip .modal-body .table tbody > tr > td >span#documentcount").addClass("hide_control");
                    }
                    if(document_count_rollover == 0 && image_count_rollover == 0){
                         $("#dialog_toolltip .modal-body .table tbody > tr#imagecountrow").addClass("hide_control");
                         $("#dialog_toolltip .modal-body .table tbody > tr#image_hover_row").addClass("hide_control");
                        }

                    unknwonclass = this.class;
                
                    if(hide_rollover_on_dbl_click == 0){
                      var dWidth = $(window).width() * 0.5;
                        if(dWidth > 270 )
                        {
                            dWidth = 330
                        } 
                        $("#dialog_toolltip").dialog({
                            position:[mouseX, mouseY],
                            create:function (event, ui) {
                                $("#dialog_toolltip").prev().hide();
                                $(".ui-widget-content").css("border", 0);
                                $(".ui-dialog").css("padding",0);
                                $(".ui-dialog .ui-dialog-content").css("padding",0);
                                
                            },
                            buttons:{
                            },                                                                                    
                            resizable:false,
                            modal:false,
                            // width:400,
                            width:dWidth,
                            closeOnEscape:false,
                            draggable:false,
                            minHeight:0
                        });
                        $("#dialog_toolltip #view_edit_full_details").empty();
                        $("#dialog_toolltip #lnk_for_click_popup").hide();                    
                        $("#dialog_toolltip").dialog().data();
                        $("#dialog_toolltip #owner_name").html(owner_name);
                        $("#dialog_toolltip #lotn").html(lotn);
                        $("#dialog_toolltip #house_number").html(house_number);
                        $("#dialog_toolltip #model_number").html(model_number);
                        $("#dialog_toolltip #settlement_date").html(settlement_date);
                        $("#dialog_toolltip #owner_phone").html(owner_phone);
                        $("#dialog_toolltip #image_count_rollover").html(image_count_rollover);
                        $("#dialog_toolltip #document_count_rollover").html(document_count_rollover);
                    }                        
            }
          }
              else
               {
                 document.getElementById("hover_draggable").value="false";
               }
            }//// end of initialising mouse hover

            delta[c].onmouseout = function () {              
              if(hide_rollover_on_dbl_click==0){
                  if ($("#dialog_toolltip").dialog( "isOpen" )==true) {
                    $("#dialog_toolltip").dialog("close");
                  }              
              } 
            } // end of initialising mouse out
        } // end of initialising mouse hover and mouse out
    } // end of load map
    a.addEventListener("load", load_map, false);
     $('#dialog').on('hidden.bs.modal', function (e) {
        hide_rollover_on_dbl_click = 0;
     });   
    
$("#edit_images, .edit_docs, .files_upload, .view_docs").click(function(){
    $("#close, .btn_view_mode, .edit_images, .upload_images, .update_lot, .edit_docs, .files_upload, .edit_mode, .view_docs, .view_images").attr("disabled","true")
  })

  $(".upload_images").click(function(){
    $("#close, .btn_view_mode, .edit_images, .upload_images, .update_lot, .edit_docs, .files_upload, .edit_mode, .view_docs, .view_images, close_in_edit_mode").attr("disabled","true")        
  })

</script>
<div class="modal fade" id="dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= hidden_field_tag  "original_data"%>
    <div class="modal-dialog views_dialog">
      <div class="modal-content">
        <%= form_tag "",:id=> "upload_data" do %>
          <%= hidden_field_tag "idlot" %>
          <%= hidden_field_tag "lotn" %>
          <%= hidden_field_tag "user_role" %>
          <%= hidden_field_tag "parent_tab_id" %>
          <%= hidden_field_tag "access_permission" %>
          <%= hidden_field_tag "phase_parcel" %>
          <%= hidden_field_tag "product_type" %>
          <%= hidden_field_tag "community", @opted_community %>         
          <div class="modal-header header_hgt">
            <h5 class="modal-title" id="myModalLabel"><div class="clk_lt_nm"><span id="dev_nm"></span> Lot: <label id="lotdetails_Id"></label></div>
              <div class="modal-footer">
                <div id="footer_buttons" class="footer_buttons">
                  <div id="view_images" class="btn btn-primary view_images btn_mrg" onclick="view_images()">View Images</div>
                  <div id="view_docs" class="btn btn-primary view_docs btn_mrg" onclick="view_docs()">View Docs</div>
                  <div id="edit_images" class="btn btn-primary edit_images btn_mrg" onclick="edit_images()">Edit Images</div>     
                  <div id="edit_docs" class="btn btn-primary edit_docs btn_mrg" onclick="edit_docs()">Edit Docs</div>   
                  <div id="upload_images" class="btn btn-primary upload_images btn_mrg" onclick="upload_images()">Add Images
                  </div>            
                  <div id="files_upload" class="btn btn-primary files_upload btn_mrg" onclick="files_upload()">Upload Files
                  </div>              
                  <a href='#' id="close" data-dismiss="modal" class="cancel_text_color close_in_view_mode" style="font-size:12px">cancel</a>
                  <a href='#' id="close_in_edit_mode" class="cancel_text_color close_in_edit_mode" style="display:none;font-size:12px">cancel</a>                
                </div>
                  <!-- <button id="close_cross_button" type="button" data-dismiss="modal" class="close" aria-hidden="true" style="z-index:2000;margin-left:0.7%;margin-top:0.2%">&times;</button> -->
              </div>
            </h5>
          </div>

          <div class="modal-body">        
            <div class="table-responsive">
              <%= hidden_field_tag "is_admin"%>
              <table id="outer_table" class="table table-bordered table-striped " >           
                <tr>
                    <td class="outer_td">
                      <%= render :partial => "common_section_partial"%>
                      <table  class="table table-bordered table-striped inner_table">
                            <tr class="inner_th" style="background-color:#f5f5f5 !important" onclick="toggleDiv('cust_model_clo_info')">
                                <td class="table_th" colspan="2" style="background-color:#f5f5f5 !important">
                                <h5 class="modal-title" id="myModalLabel"> <label class="clk_header"> Customer and Closing Information</label><img src="/assets/arrow.gif" class="cust_model_clo_info_image_rotate"></h5>
                                </td>
                            </tr>
                            <tr class = "inner_tr cust_model_clo_info">
                                <td>Buyer Name</td>
                                <td><label id="buyer_name"></label></td>
                            </tr>
                            <tr class = "inner_tr cust_model_clo_info">
                                <td>Buyer Name2</td>
                                <td><label id="buyer_name2"></label></td>
                            </tr>
                            <tr class = "inner_tr cust_model_clo_info">
                                <td>Buyer Name3</td>
                                <td><label id="buyer_name3"></label></td>
                            </tr>
                            <tr class = "inner_tr cust_model_clo_info">
                                <td>Address1</td>
                                <td><label id="Address1"></label></td>
                            </tr>
                            <tr class = "inner_tr cust_model_clo_info">
                                <td>Address2</td>
                                <td><label id="Address2"></label></td>
                            </tr>
                            <tr class = "inner_tr cust_model_clo_info">
                                <td>Address3</td>
                                <td><label id="Address3"></label></td>
                            </tr>
                            <tr class = "inner_tr cust_model_clo_info">
                                <td>Home Phone</td>
                                <td><label id="home_phone"></label></td>
                            </tr>
                            <tr class = "inner_tr cust_model_clo_info">
                                <td>Cell Phone</td>
                                <td><label id="cell_phone"></label></td>
                            </tr>
                            <tr class = "inner_tr cust_model_clo_info">
                                <td>Email</td>
                                <td><label id="email"></label></td>
                            </tr>


                            <tr class = "inner_tr cust_model_clo_info">
                              <td class="text_align_right">Service Rep Name</td>
                              <td>
                                  <label id="Service_Rep_Name"></label></td>
                            </tr>
                            <tr class = "inner_tr cust_model_clo_info">
                              <td class="text_align_right">Settlement Date</td>
                              <td>
                                  <label id="Settlement_Date_customer_sec"></label>
                              </td>
                            </tr> 
                            <tr class = "inner_tr cust_model_clo_info">
                              <td class="text_align_right">Warranty Date</td>
                              <td>
                                  <label id="Warranty_Date"></label>
                              </td>
                            </tr> 
                          </table>
                          <table  class="table table-bordered table-striped inner_table">
                            <tr class="inner_th" style="background-color:#f5f5f5 !important" onclick="toggleDiv('serv_order_track')">
                                <td class="table_th" colspan="2" style="background-color:#f5f5f5 !important">
                                <h5 class="modal-title" id="myModalLabel"> <label class="clk_header"> Service Order Tracking</label><img src="/assets/arrow.gif" class="serv_order_track_image_rotate"></h5>
                                </td>
                            </tr>
                            <tr class = "inner_tr serv_order_track">
                              <td class="text_align_right"># Outstanding Warranty issues</td>
                              <td>
                                  <label id="Outstanding_Warranty_Issues"></label>                               
                              </td>
                            </tr>

                            <tr class = "inner_tr serv_order_track">
                              <td class="text_align_right"> # Days Aging Oldest Outstanding Issue</td>
                              <td>
                                  <label id="Days_Warranty_Issues_Aged"></label>
                              </td>
                            </tr>

                            <tr class = "inner_tr serv_order_track">
                              <td class="text_align_right">Total No. of Issues</td>
                              <td>
                                  <label id="Total_Warranty_Issues"></label></td>
                            </tr>

                           <!--  <tr class = "inner_tr serv_order_track">
                              <td class="text_align_right">Warranty Costs</td>
                              <td>
                                  <label id="Warranty_Costs"></label></td>
                            </tr> -->
                        </table>
                    </td>                   
                </tr>              
              </table>
            </div>
          </div>
     
          <div class="modal-footer">                           
            <div id="footer_buttons" class="footer_buttons bottom_footer_buttons">
              <div id="view_images" class="btn btn-primary view_images btn_mrg" onclick="view_images()" >View Images</div>
              <div id="view_docs" class="btn btn-primary view_docs btn_mrg" onclick="view_docs()" >View Docs</div>
              <div id="edit_images" class="btn btn-primary edit_images btn_mrg" onclick="edit_images()" >Edit Images</div>     
              <div id="edit_docs" class="btn btn-primary edit_docs btn_mrg" onclick="edit_docs()" >Edit Docs</div>   
              <div id="upload_images" class="btn btn-primary upload_images btn_mrg" onclick="upload_images()" >Add Images
              </div>            
              <div id="files_upload" class="btn btn-primary files_upload btn_mrg" onclick="files_upload()" >Upload Files
              </div>              
              <a href='#' id="close" data-dismiss="modal" class="cancel_text_color close_in_view_mode" style="font-size:12px">cancel</a>
              <a href='#' id="close_in_edit_mode" class="cancel_text_color close_in_edit_mode" style="display:none;font-size:12px">cancel</a>                
            </div>
          </div>
        <% end %>
      </div>
    </div>
</div>

<div id="dialog_toolltip" title="LOT TOOLTIP">
  <div class="modal-body">        
    <table style="width:100%" class="table table-bordered table-striped table-hover" >    
      <tr class = "inner_tr_tooltip">
        <td width="30%">House Number</td>
        <td><label id="house_number"></label></td> 
        </tr>
        <tr class = "inner_tr_tooltip">
        <td>Homeowner Name</td>
        <td><label id="owner_name"></label></td>         
        </tr>
        <tr class = "inner_tr_tooltip">
        <td>Model Number</td>
        <td><label id="model_number"></label></td>         
        </tr>
        <tr class = "inner_tr_tooltip">
        <td>Settlement Date</td>
        <td><label id="settlement_date"></label></td>         
        </tr>
        <tr class = "inner_tr_tooltip">
        <td>Homeowner Phone</td>
        <td><label id="owner_phone"></label></td>         
        </tr>
        <tr id="lnk_for_click_popup"><td></td><td id="view_edit_full_details" class="tooltip_data"></td></tr>        
        <tr id="image_hover_row" style="text-align:center;">
        <td id="image_hover" colspan='2'></td>
        </tr>
        <tr id="imagecountrow" >
        <td colspan="2" align="right">
          <span id="imagecount">
          <span class="glyphicon glyphicon-picture"></span>(<label id="image_count_rollover"></label>)</span>
          <span id="documentcount"><span class="glyphicon glyphicon-file"></span>(<label id="document_count_rollover"></label>)</span>
        </td>
      </tr>
    </table>
  </div>
</div>
