<%= javascript_include_tag 'jQuery-ui-1.9.2' %>
<%= javascript_include_tag 'MultiFile' %>
<%= javascript_include_tag 'jquery.mobileevents' %>
<%= stylesheet_link_tag "demo" %> 
<%= stylesheet_link_tag "bootstrap" %>
<%= stylesheet_link_tag "common" %>


<script>
    var edit_mode = 0;
    var legend_toggle = 0;
    var touch_or_nontouch = 0;
    $search_original_style = "";
    if(navigator.userAgent.match(/(ipad)|(android)|(android 3.0)|(xoom)|(sch-i800)|(playbook)|(kindle)|(iphone)|(ipod)|(blackberry)|(opera)|(mini)|(palm)|(smartphone)|(iemobile)/i)){
        touch_or_nontouch=1;
    }

    function update_notification(){
        $(".map_update_notification").css("margin-top",$("#main_nav").outerHeight()+"px")
        $("#left.map_render").css("margin-top","");
    }
    function gallery_items_align(){
    	$("#gallery_back_to_map").css("margin-top",$("#main_nav").outerHeight()+"px");
        $("#gallery_add_buttons, .gallery_filtering").css("margin-top",$("#main_nav").outerHeight()+$("#gallery_back_to_map").outerHeight()+"px");
        $("#show_images_based_on_lots").css("margin-top",$("#main_nav").outerHeight()+$("#gallery_back_to_map").outerHeight()+ $("#gallery_add_buttons").outerHeight()+8+"px")
    }

    function onload_functions(){
        $("#left.map_render").css("margin-top",$("#main_nav").outerHeight()-8+"px");
        $(".cbp-spmenu").css({"margin-top":$("#main_nav").outerHeight()+"px", "max-height": document.documentElement.clientHeight-($(".nav_bar_container_app").outerHeight()+$("#main_nav").outerHeight()+$("#footer").height()+7)});
        gallery_items_align();
    }
    $(window).resize(function(){
        onload_functions();
    });

    function enable_modal_buttons(){
        $("#close").attr("disabled",false)
        $(".btn_edit_mode").attr("disabled",false)
        $(".view_images").attr("disabled",false)
        $(".view_docs").attr("disabled",false)
        $(".upload_images").attr("disabled",false)
        $(".files_upload").attr("disabled",false)
        $(".edit_images").attr("disabled",false)
        $(".update_lot").attr("disabled",true)
        $(".edit_docs").attr("disabled",false)
        $(".edit_mode").attr("disabled",false)
    }
    
    function add_lot_images(){
       var l_id= $("#dialog").data("lot_id");
        $.ajax({
            url:'/image_gallery/gallery_items/' + l_id,
            type:'GET',
            dataType:'html',
             data: { 
                "project": "<%= @opted_product%>",
                "user_role": $("#dialog").data("user_role"),
                "parent_tab_id": $("#dialog").data("parent_tab_id"),
                "community": '<%= @opted_community %>',
                "access_permission": $("#dialog").data("access_permission"),
                "phase_parcel": $("#dialog").data("phase_parcel")
                
            },
            success:function (response, status) {
                $("#add_lot_images").html(response);
                 $("#add_lot_images_modal").modal({
                    backdrop: true,
                    keyboard: false,
                    show: true
                });
                
            }
        });
    }

    function changeMode(value) {
        edit_mode = value;
    }

    function activeSubMenu(id) {
        // retaining same view
        $('.menu').removeClass('active');
        $('#' + id + '.menu').addClass('active');
        if ($(".ui-dialog.ui-widget.ui-widget-content").length > 0) {
            $(".ui-dialog.ui-widget.ui-widget-content").remove();
        }
    }

    function changelink(menu,menuoption,access_id){
        var links = $(".phase_navigator");
        $.each(links,function(i,d){
        var append_link= $(d).attr("data-url");
        var test=$(d).attr("href",append_link+"/"+menu+"/"+menuoption);
       });
    }

    function changeRole(group_id, group_role, parent_tab_id) {
        width_of_slide_button()
        $("#update_notification").css("display", "none");
        changelink(parent_tab_id,group_role)
        $("#ajax_loader").css("display", "block");
        $("body").addClass("inactiveLink")
        $(".map_render").empty();
        $(".legend1").empty();
        $(".legend2").empty();
        $(".legend3").empty();
        $(".legend4").empty();
        $(".legend5").empty();
        $(".legend6").empty();
        $("#image_gallery").empty();
        if ($(".ui-dialog.ui-widget.ui-widget-content").length > 0) {
            $(".ui-dialog.ui-widget.ui-widget-content").remove();
        }
        if(group_role == "Configure Gallery")
        { 
            $.ajax({
                url: '/image_gallery/index',
                type: 'get',
                data: { 
                    "project": "<%= @opted_product%>",
                    "comm_city": "<%= @opted_comm_city%>",
                    "community": "<%= @opted_community %>",
                    "parcel" : "<%= @opted_parcel %>"
                },
                success:function (response) { 
                    $("#menu_name_display").html(group_role);
                    $(".loader").css("display","none");
                    $("body").removeClass("inactiveLink")
                    $("#filter_toggle, #nav_filter_div, .map_render").hide();
                    gallery_items_align();
                }
            });      
        }
        <%status_option_name = StatusKey.all.map{|x|x.MenuOptionName}.uniq%>
            var x = 0;       
            if(group_role !="Configure Gallery")
            { 
                <% status_option_name.each do |l|%>
                    if ("<%= l %>" == group_role){                       
                        <% @legendtypes = StatusKey.order("legend_order").where(:MenuOptionName => l).select('DISTINCT LegendType').map{|x| x.LegendType} %>
                        <% @legendtypes = @legendtypes.select{|x| x unless StatusDetail.find_all_by_LegendType(x).empty? } %>
                        <% @legendtypes.each_with_index do |legend_type,counter| %>
                            $.ajax({
                                url:'/tbldata/render_legend_view',
                                type:'get',
                                dataType:'html',
                                data:{
                                    "group_id":group_id,
                                    "role":group_role,
                                    "is_touch":touch_or_nontouch,
                                    "parent_tab_id":parent_tab_id,
                                    "project": '<%= @opted_product%>',
                                    "comm_city": "<%= @opted_comm_city%>",
                                    "community": "<%= @opted_community %>",
                                    "phase_parcel" : "<%= @opted_parcel %>",
                                    "legendtype" : "<%= legend_type %>"
                                },
                                success:function (response) { 
                                    $(".jPushMenuBtn").trigger("click");                         
                                    $("#legend<%= counter+1 %>").html(response);
                                    x++;
                                    $("#ajax_loader").css("display", "none");
                                    $("body").removeClass("inactiveLink");
                                },
                                complete: function (data) {
                                    if($.trim($("#legend2").html())=="")
                                        {
                                          $("#legend2").css("margin-top","0px")
                                        }
                                    else{
                                         $("#legend2").css("margin-top","1.5px") 
                                    }
                                }
                            });
                        <%end%>
                    }   
                <% end %>
                $.ajax({
                    url:'/tbldata/render_role_view',
                    type:'get',
                    dataType:'html',
                    data:{
                        "group_id":group_id,
                        "role":group_role,
                        "is_touch":touch_or_nontouch,
                        "parent_tab_id":parent_tab_id,
                        "project": '<%= @opted_product%>',
                        "comm_city": "<%= @opted_comm_city%>",
                        "community": "<%= @opted_community %>",
                        "phase_parcel" : "<%= @opted_parcel %>"
                    },
                    success:function (response) {
                        $("#menu_name_display").html(group_role);
                        $(".jPushMenuBtn").trigger("click");
                        if(group_role == "Floor Plans View"){
                            $("#filter_text").html("Floor Plans")
                        }
                        address_search_url_change(parent_tab_id, group_role)
                        $(".map_render").html(response);  
                        $(".cbp-spmenu").css("margin-top",$("#main_nav").outerHeight()-8+"px");
                        $("#ajax_loader, #update_notification").css("display", "none"); 
                        $("body").removeClass("inactiveLink");
                    },
                    complete: function (data) {
                        if(parent_tab_id == "Reports" ||  parent_tab_id == "Gallery"){
                            $("#filter_toggle, #nav_filter_div").hide();
                            $(".close_icon").hide();
                            gallery_items_align();

                        }
                        else{
                            $("#filter_toggle, #nav_filter_div").hide();
                            $("body").addClass("cbp-spmenu-push");
                        }
                        if(touch_or_nontouch == 1){
                            $(".spec_dash, .spec_plan_view, .lot_owned_table, .lot_optioned_summary_table, #owned_loan, #lot_aging_owned_table, #lot_optioned_table").css("margin-bottom","20px")
                        }else{
                            $(".spec_dash, .spec_plan_view, .lot_owned_table, .lot_optioned_summary_table, #owned_loan, #lot_aging_owned_table, #lot_optioned_table").css("margin-bottom","10px")
                        }

                        if (window.matchMedia('(max-width: 775px)').matches) {
                            $(".map_render").css("margin-top",$("#main_nav").outerHeight()+"px") 
                        }
                        if (parent_tab_id == "Gallery"){
                            $("#left.map_render").hide();
                            $("#footer").css("margin-top","4%")
                        }
                        else{
                            $("#left.map_render").show();
                            $("#footer").css("margin-top","")   
                        }
                        onload_functions();
                    }
                });
            }
    }

    function address_search_url_change(parent_tab_id, role){
        search_add = $("#search_form_submit").attr("href")
        if(search_add.length > 0){
            search_url = search_add.split("/").reverse()
            sub_menu_string = search_url[0].split("?")
            sub_menu_string[0] = role
            search_url[0] = sub_menu_string.join("?")
            search_url[1] = parent_tab_id
            search_url = search_url.reverse().join("/")
            $("#search_form_submit").attr("href",search_url)
        }
    }

    function fetchViewIfRoleDoesNotExist()
    {       
        $.ajax({
            url:'/tbldata/render_view_if_role_nor_exist',
            type:'get',
            dataType:'html',
          
            success:function (response) {
                $(".map_render").html(response);
                $("#ajax_loader").css("display", "none");
                $("body").removeClass("inactiveLink")
            }
        });
    }

    function activeMainMenu(id){
        <%if @parent_tab_id %>
            $('.main_menu').removeClass('active');
            $('#' + id + '.main_menu').addClass('active');
        <%else%>        
            $('.main_menu').removeClass('active');
            $('#' + id + '.main_menu').addClass('active');
        <%end%>
    }
    
    function togglelegend() {
        $('#legend_data').slideToggle('slow', function () {
            if (legend_toggle == 0) {
                legend_toggle = 1;
                $("#legend_img").attr('src', '/assets/legend_down.png');
            }
            else {
                legend_toggle = 0;
                $("#legend_img").attr('src', '/assets/legend_up.png');
            }
        });
    }

    function view_lot_images(l_id){
        $.ajax({
            url:'/images/display/' + l_id,
            type:'GET',
            dataType:'html',
            data:{ "project": '<%= @opted_product%>'},
            success:function (response, status) {
                $("#image_display").html(response);
            $("#image_display").prev().removeClass('ui-widget-header');
            }
        });
    }

    function view_images() {        
        view_lot_images($('#dialog').data('lot_id'))
    }

    function view_docs() {   
        $.ajax({
            url:'/images/view_docs/' + $('#dialog').data('lot_id'),
            type:'GET',
            dataType:'html',
            data:{ "project": '<%= @opted_product%>',
                    "user_role": $('#dialog').data('user_role')
                    },
            success:function (response, status) {
                var dWidth = $(window).width() * 0.7;
                var dHeight = $(window).height();
                $("#image_display").html(response);
                $("#image_display_modal").modal({
                    backdrop: true,
                    keyboard: false,
                    show: true
                });
                $('#image_display_modal').on('hidden.bs.modal', function (e) {
                    enable_modal_buttons()
                })
            $("#image_display").prev().removeClass('ui-widget-header');
            }
        });
    }
   
    var view_images_touch=function(ev){       
        view_images(ev.target);
    }
    function edit_images() {
        edit_lot_images($('#dialog').data('lot_id'),
                        $('#dialog').data('user_role'),
                        $('#dialog').data('parent_tab_id'),        
                        $('#dialog').data('phase_parcel'),
                        $('#dialog').data('community')
        )        
    }

    function edit_lot_images(l_id, l_user_role, l_parent_tab_id,l_phase_parcel, l_community, update_key_image){
        $.ajax({
            url:'/images/edit/' + l_id,
            type:'GET',
            dataType:'html',
            data: {"user_role": l_user_role, "parent_tab_id":l_parent_tab_id,"phase_parcel": l_phase_parcel,"project": '<%= @opted_product%>', "community": '<%= @opted_community%>', "update_key_image": update_key_image},
            success:function (response, status) {
                
                $("#image_edit").html(response);
                $("#image_edit_modal").modal({
                    backdrop: true,
                    keyboard: false,
                    show: true
                });
                $("#image_edit_modal .modal-dialog").css("width","90%");
                $("#image_edit_modal .modal-header button").attr("style","margin-top: -1% !important");

                $('#image_edit_modal').on('hidden.bs.modal', function (e) {
                    enable_modal_buttons()
                })

                $("#image_edit").prev().removeClass('ui-widget-header');
            }
        });
    }

    function edit_docs() {      
        edit_lot_docs($('#dialog').data('lot_id'),
                        $('#dialog').data('user_role'),
                        $('#dialog').data('parent_tab_id'),        
                        $('#dialog').data('phase_parcel'),
                        $('#dialog').data('community')
        )     
    }

    function edit_lot_docs(l_id, l_user_role, l_parent_tab_id,l_phase_parcel, l_community) {
        $.ajax({
            url:'/images/display_docs/' + l_id,
            type:'GET',
            dataType:'html',
            data: {"user_role": l_user_role, "parent_tab_id":l_parent_tab_id,"phase_parcel": l_phase_parcel, "community" : '<%= @opted_community %>',"project": '<%= @opted_product%>'},
            success:function (response, status) {
                $("#image_edit").html(response);
                $("#image_edit_modal").modal({
                    backdrop: true,
                    keyboard: false,
                    show: true
                });
                $("#image_edit_modal .modal-dialog").css("width","");
                $("#image_edit_modal .modal-header button").attr("style","margin-top: -2% !important");
                $('#image_edit_modal').on('hidden.bs.modal', function (e) {
                    enable_modal_buttons()
                })
                $("#image_edit").prev().removeClass('ui-widget-header');
            }
        });
    }
    
    //view for uploading images
    function upload_images(){
        $("#image_already_exists").empty();
        $("#image_upload_error").empty();
        $("#youtube_url").val(" ");
        $("#tbldata_tbldataattachments_image_wrap_list").empty();            
        $("#image_upload #lot_id").val($("#dialog").data("lot_id"));
        $("#image_upload #lotn").val($("#dialog").data("lotn"));
        $("#image_upload #product_type").val($("#dialog").data("product_type"));
        $("#image_upload #user_role").val($("#dialog").data("user_role"));
        $("#image_upload #parent_tab_id").val($("#dialog").data("parent_tab_id"));
        $("#image_upload #community").val($("#dialog").data("community"));
        filehtml='<input type="file" multiple accept="gif|jpg|png|jpeg" name="tbldataattachments_attributes[][pics]" id="tbldata_tbldataattachments_image" onChange="browse_image()" class="multi" value="">';
        $("#tbldata_tbldataattachments_image_wrap").html(filehtml);
        $('#tbldata_tbldataattachments_image').MultiFile();
        $('input[type="file"]').css('color', 'transparent'); 
        $("#image_upload_modal").modal({
                backdrop: true,
                keyboard: false,
                show: true
            });
            $('#image_upload_modal').on('hidden.bs.modal', function (e) {
                enable_modal_buttons()
            })
    }
           
    function files_upload(){             
        $("#file_upload_error").empty();  
        $("#file_already_exists").empty();
        $('#tbldata_tbldataattachments_file_wrap_list').empty();
        $("#file_upload #lot_id").val($("#dialog").data("lot_id"));
        $("#file_upload #lotn").val($("#dialog").data("lotn"));
        $("#file_upload #user_role").val($("#dialog").data("user_role"));
        $("#file_upload #parent_tab_id").val($("#dialog").data("parent_tab_id"));
        $("#file_upload #community").val($("#dialog").data("community"));
        $("#file_upload #product_type").val($("#dialog").data("product_type"));
        filehtml='<input type="file" multiple class="multi" onChange="browse_file()" id="tbldata_tbldataattachments_file" name="tbldataattachments_attributes[][image]" accept="xls|pdf|xlsx|txt"/>'
        $("#tbldata_tbldataattachments_file_wrap").html(filehtml);
        $('#tbldata_tbldataattachments_file').MultiFile();
        $('input[type="file"]').css('color', 'transparent'); 
        $("#file_upload_modal").modal({
                backdrop: true,
                keyboard: false,
                show: true
        });
        $('#file_upload_modal').on('hidden.bs.modal', function (e) {
            enable_modal_buttons()
        })
    }

    function validate_lot(){          
        $("div#dialog #upload_data").submit(function() {
            var clicked_lot_num = $("div#dialog #lotn").val();
            if($(this).valid()) {            
            $("#ajax_loader").css("display", "block");
            $("body").addClass("inactiveLink")
            var mydata = $("div#dialog #upload_data").serialize();
                $.ajax({
                    type: "POST",
                    data: mydata,
                    url: '/tbldata/upload',
                    success: function(response, textStatus, xhr) {
                        if(response.result.status == "success"){  
                            if ($(".ui-dialog.ui-widget.ui-widget-content").length > 0) {
                                $(".ui-dialog.ui-widget.ui-widget-content").remove();
                                $("#update_notification").text("Lot" + " " + clicked_lot_num + " " + "updated successfully");
                                $(".modal-backdrop").remove();
                                update_notification();
                            }
                            var filter = "filter";
                            var vals = [];           
                            $('input:checkbox[name="legend_keys_ids[]"]').each(function() {
                                if (this.checked) {
                                    vals.push(this.value);
                                }
                            });
                            if (vals.length<1){                
                                      filter = "";
                            } 
                            var data_string={
                                "filter":filter,                
                                "role":$("div#dialog #user_role").val(),
                                "parent_tab_id":$("div#dialog #parent_tab_id").val(),
                                "access_permission":$("div#dialog #access_permission").val(),
                                "legend_keys": vals,
                                "phase_parcel": $("div#dialog #phase_parcel").val(),
                                "community": $("div#dialog #community").val(),
                                "project": '<%= @opted_product%>',
                                "is_touch":touch_or_nontouch,
                                "svg_id": $("div#dialog #svg_id").val()
                            };           
                            $.ajax({
                                url:'/tbldata/render_role_view',
                                type:'get',
                                dataType:'html',
                                data:data_string,
                                success:function (response) {  
                                    $("body").removeClass("modal-open")                
                                    $(".map_render").html(response);                                
                                    $(".ui-dialog").remove();
                                    $("#update_notification").css("display", "block");
                                    $("#ajax_loader").css("display", "none");
                                    $("body").removeClass("inactiveLink")
                                }
                            }); 
                            <% @legendtypes = StatusKey.order("legend_order").map{|x| x.LegendType} %>
                            <% @legendtypes = @legendtypes.select{|x| x unless StatusDetail.find_all_by_LegendType(x).empty? } %>
                            var x = 0;
                            <% @legendtypes.each_with_index do |legend_type,counter| %>                            
                                <% status_option_name = StatusKey.find_all_by_LegendType(legend_type).map(&:MenuOptionName).uniq %>
                                    <% status_option_name.each do |l|%>
                                        if ("<%= l %>" == $("div#dialog #user_role").val()){                   
                                            $.ajax({
                                                url:'/tbldata/render_legend_view',
                                                type:'get',
                                                dataType:'html',
                                                data:{
                                                           "filter":filter,                
                                                           "role":$("div#dialog #user_role").val(),
                                                           "parent_tab_id":$("div#dialog #parent_tab_id").val(),
                                                           "access_permission":$("div#dialog #access_permission").val(),
                                                           "legend_keys": vals,
                                                           "phase_parcel": $("div#dialog #phase_parcel").val(),
                                                           "community": $("div#dialog #community").val(),
                                                           "project": '<%= @opted_product%>',
                                                           "is_touch":touch_or_nontouch,
                                                           "legendtype": '<%= legend_type %>'
                                                    },
                             

                                                success:function (response) {
                                                    $(".legend"+(x+1)).html(response);
                                                    x++;
                                                    $("#ajax_loader").css("display", "none");
                                                    $("body").removeClass("inactiveLink")
                                                },
                                                complete: function (data) {
                                                    if($.trim($("#legend2").html())=="")
                                                        {
                                                          $("#legend2").css("margin-top","0px")
                                                        }
                                                    else{
                                                         $("#legend2").css("margin-top","1.5px") 
                                                    }
                                                },async:   false
                                            });
                                        }   
                                    <% end %>
                            <% end %>
                        }
                        else if(response.result.status == "notvalid"){
                            $("#dialog #validation_msgs_td").empty();
                            $("#dialog #validation_msgs_td").append("<div id='validation_messages'></div>");
                            $("#dialog #validation_messages").append("<div id='validation_header'>Please Follow Below Instructions to Update Successfully</div>");

                            for(var err=0; err<response.result.errors_msgs.length; err++){
                            $("#dialog #validation_messages").append("<div id='validation_error'>"+'*'+response.result.errors_msgs[err]+"</div>");
                           }
                           $( "#dialog" ).scrollTop("0"); 
                           $("#ajax_loader").css("display", "none");
                           $("body").removeClass("inactiveLink")                     
                        }
                        else if(response.result.status == "failed"){
                            $("#dialog #validation_msgs_td").empty();
                            $("#dialog #validation_msgs_td").append("<div id='validation_messages'></div>");
                            $("#dialog #validation_messages").append("<div id='validation_header'> Update Unsuccessful</div>") ;
                            $( "#dialog" ).scrollTop("0");                    
                        }                    
                    },
                    error: function(xhr, textStatus, errorThrown) { 
                       $("#dialog #validation_msgs_td").empty();
                       $("#dialog #validation_msgs_td").append("<div id='validation_messages'></div>");
                        $("#dialog #validation_messages").append("<div id='validation_header'> Update Unsuccessful</div>") ;
                        $( "#dialog" ).scrollTop("0");                                     
                    }
                });   
                return false; 
            }        
        });
    }

    (function ($, window, undefined) {
        // outside the scope of the jQuery plugin to
        // keep track of all dropdowns
        var $allDropdowns = $();

        // if instantlyCloseOthers is true, then it will instantly
        // shut other nav items when a new one is hovered over
        $.fn.dropdownHover = function (options) {
            // don't do anything if touch is supported
            // (plugin causes some issues on mobile)
            if('ontouchstart' in document) return this; // don't want to affect chaining

            // the element we really care about
            // is the dropdown-toggle's parent
            $allDropdowns = $allDropdowns.add(this.parent());

            return this.each(function () {
                var $this = $(this),
                    $parent = $this.parent(),
                    defaults = {
                        delay: 100,
                        instantlyCloseOthers: true
                    },
                    data = {
                        delay: $(this).data('delay'),
                        instantlyCloseOthers: $(this).data('close-others')
                    },
                    showEvent   = 'show.bs.dropdown',
                    hideEvent   = 'hide.bs.dropdown',
                    // shownEvent  = 'shown.bs.dropdown',
                    // hiddenEvent = 'hidden.bs.dropdown',
                    settings = $.extend(true, {}, defaults, options, data),
                    timeout;

                $parent.hover(function (event) {
                    // so a neighbor can't open the dropdown
                    if(!$parent.hasClass('open') && !$this.is(event.target)) {
                        // stop this event, stop executing any code 
                        // in this callback but continue to propagate
                        return true; 
                    }

                    $allDropdowns.find(':focus').blur();

                    if(settings.instantlyCloseOthers === true)
                        $allDropdowns.removeClass('open');

                    window.clearTimeout(timeout);
                    $parent.addClass('open');
                    $this.trigger(showEvent);
                }, function () {
                    timeout = window.setTimeout(function () {
                        $parent.removeClass('open');
                        $this.trigger(hideEvent);
                    }, settings.delay);
                });

                // this helps with button groups!
                $this.hover(function () {
                    $allDropdowns.find(':focus').blur();

                    if(settings.instantlyCloseOthers === true)
                        $allDropdowns.removeClass('open');

                    window.clearTimeout(timeout);
                    $parent.addClass('open');
                    $this.trigger(showEvent);
                });

                // handle submenus
                $parent.find('.dropdown-submenu').each(function (){
                    var $this = $(this);
                    var subTimeout;
                    $this.hover(function () {
                        window.clearTimeout(subTimeout);
                        $this.children('.dropdown-menu').show();
                        // always close submenu siblings instantly
                        $this.siblings().children('.dropdown-menu').hide();
                    }, function () {
                        var $submenu = $this.children('.dropdown-menu');
                        subTimeout = window.setTimeout(function () {
                            $submenu.hide();
                        }, settings.delay);
                    });
                });
            });
        };

        $(document).ready(function () {
            $("#nav_filter_div").css("margin-top",$("#main_nav").outerHeight()-7+"px");
            // $("#nav_filter_div").css("margin-top",$("#js-bootstrap-offcanvas ul a").outerHeight()+10+"px");

            // apply dropdownHover to all elements with the data-hover="dropdown" attribute
            $('[data-hover="dropdown"]').dropdownHover();

            if(touch_or_nontouch == 1){

                // $("#left.map_render").css("min-height", "540px");
            }else if(touch_or_nontouch == 0){        
                // $("#left.map_render").css("min-height", "800px");
            }
        });
    })(jQuery, this);

    function filter_icon_position(){
        $("#nav_filter_div").css("margin-top",$("#main_nav").outerHeight()-7+"px")
        $("#nav_filter_div").css("margin-right","15px")
    }
    $(window).resize(function(){
       filter_icon_position();
    });

    $("document").ready(function() {
        $("#js-bootstrap-offcanvas ul").hover(function(){ 
           $("#nav_filter_div").css("z-index","")
         },
        function(){   
            $("#nav_filter_div").css("z-index",1)  
        });

        $('.toggle-menu').jPushMenu();
        filter_icon_position();
        $(".close_icon").click(function(){
            $(".close_icon").hide();
            $('.jPushMenuBtn,body,.cbp-spmenu').removeClass('disabled active cbp-spmenu-open cbp-spmenu-push-toleft cbp-spmenu-push-toright');
            $("#nav_filter_div").show();
            $('.cbp-spmenu').hide();
            $("#filter_toggle, #filter_div").show();
            $(".close_icon").hide();
            $(".cta_form").hide(500);
        });
    });

    // used to close filter on clicking map
    function nav_filter_click(){
        $("#filter_toggle, #filter_text").click(function(){
            $(".close_icon").show();
            on_click_out_legend()
        });
    }

    $(function(){ 
        //clicking outside of click up
        $(document).click(function (e) {
           if (e.target === $('.click_modal')[0]) {
               var changed_data = $("div#dialog #upload_data").serialize();
               if(changed_data!=$("#original_data").val() && $("#dialog #btn_edit_mode").is(':visible') == false)
               {
                 e.preventDefault();
                   var result = confirm("Your changes have not been saved. Do you want to close?");
                   if(result == true){
                       $('#dialog').modal('hide');
                   }
                   else
                   {
                       $('#dialog').modal('show');
                   }
               }
               else
                   {
                       $('#dialog').modal('hide');
                   }
           }
        })
    });

</script>

<!-- content -->
<div id="content" class='content_mid'>
    <div id="main_nav" style="height:32px !important">
        <div  class="containser menu_navigator">
        
            <%= render :partial => 'tbldata/navigation', :locals => {:user_group_id => @udata.group.ID, :user_group => @udata.group, :menus => @menu, :menuoption =>@menuoption, :access_id => @access_id, :village => @opted_community , :plat =>@opted_parcel, :product_type => @opted_product }%>        
        </div>
    </div>
    
    <div id="nav_filter_div" style="display:none; position: absolute;right: 0;z-index: 1;word-break: normal;border: 1px solid #225ea8; padding: 2px; border-radius: 3px;">
      <div style="font-size: 11px; color: #225ea8;float: left;font-weight: bold;margin-left:1px;line-height:28px;cursor:pointer" id="filter_text" class="toggle-menu menu-right">Show Lot Filter</div>
      <div style="float: right;">
        <img src="/assets/filter.png" class="toggle-menu menu-right" id="filter_toggle" style="margin-top:3px;width: 24px;cursor:pointer" title="Click to filter Lots">
      </div>
    </div>
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="filter_legend" style="overflow-y:auto;">
        
        <div id="legend_border" style="background-color: #ffffff;">
        <span class="glyphicon glyphicon-remove close_icon" style="color:#225ea8;font-size:13px !important;float:right;cursor:pointer"></span>
          <div id="legend1" class="legend1">
          </div>
          <div id="legend2" class="legend2">
          </div>
          <div id="legend3" class="legend3">
          </div>
          <div id="legend4" class="legend4">
          </div>
          <div id="legend5" class="legend5">
          </div>
          <div id="legend6" class="legend6">
          </div>

        </div>
    </nav>
   <!-- <div id="image_display" style="z-index:2000" class="table-responsive"></div> -->
   <div class="modal fade" role="dialog" style="z-index:2000" id="image_display_modal">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" style="margin-top:-2% !important">&times;</button>
          </div>
          <div class="modal-body table-responsive" id="image_display">
          </div>
        </div>

      </div>
   </div>
  
   <div id="image_gallery" ></div>   

    <div id="update_notification" class="alert alert-success map_update_notification" style="display:none;"></div>
   <div id="left" class='map_render'></div>   
  <!-- <div id="image_edit" style="z-index:2000"> -->
   <div class="modal fade" role="dialog" style="z-index:2000" id="image_edit_modal">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" style="margin-top:-2% !important">&times;</button>
          </div>
          <div class="modal-body table-responsive" id="image_edit">
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade bs-example-modal-lg" id="floor_plan_view" role="dialog" style="z-index:3000;">
        <div class="modal-dialog  modal-xl" style="width:55%">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title" id="data_view_header" style="margin-top: 5px;margin-bottom: 5px;">Modal Header</h4>
            </div>
            <div class="modal-body container" id="floor_plan_view_image_display">
            </div>
          </div>      
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="design_data_view" role="dialog" style="z-index:3000">
        <div class="modal-dialog  views_dialog">
              
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title" id="design_data_view_header" style="margin-top: 5px;margin-bottom: 5px;">Modal Header</h4>
            </div>
            <div class="modal-body container" id="design_data_view_img_dsply">
            </div>
          </div>      
        </div>
    </div>

   <div id="ajax_loader" class="loader">
         <%= image_tag "ajax-loader.gif", :alt => "loader", :id=> "ajax_loader_img" %>
   </div>

</div>
<!-- / content  -->



