
<div id="content" class='content_mid' ng-app="setTimeZoneMdl" ng-controller="setTimeZoneCtrl">
<div class="css_back_to_map_div">
    <img src="/assets/back_arrow.png" class="css_back_arrow">
    <%= render :partial => 'layouts/back_to_map'%>  
</div>   
<div class="flash_notice"><font size="3" color="red" align="center"><%= flash[:notice] %></font></div>
<div id="list_users">
  <div id ="ajax_loader_common_2" class="loader" style="display:none;margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%;">
    <p style="position: absolute; top: 50%; left: 45%;">
    <%= image_tag "ajax-loader.gif", :alt => "loader", :id=> "ajax_loader_img" %>
    </p>
</div>
<!-- <div class="panel panel-success"> -->
<div class="col-sm-12 col-md-6 col-sm-push-0 col-md-push-3 col_content_mid" >
  <div class="panel-heading main_heading">
    Set Time Zone      
  </div>  
  <table class="table">    
    <tr>  
      <td><b>Current Time Zone Selection:</b> </td><td>{{selected_time_zone}}</td>
    </tr>
    <tr>
      <td>            
          <select ng-model="selected_time_zone" class="form-control" style="display:inline">  
            <option ng-repeat="time_zone in time_zones" ng-selected="selected_time_zone==time_zone[1]" value="{{time_zone[1]}}">{{time_zone[0]}}
            </option>
          </select>
      </td>            
        <td>          
          <button ng-click="onSave()" class="btn btn-success" ng-disabled="selected_time_zone==saved_time_zone">
            <span class="glyphicon glyphicon-ok-sign"></span> 
            Save
          </button>         
        </td>      
    </tr>    
  </table>
</div>
</div>
<script>
var app=angular.module("setTimeZoneMdl",[]);
app.controller("setTimeZoneCtrl",function($scope,$http){
  $scope.time_zones=[]
  $scope.saved_time_zone="";
  $scope.selected_time_zone="";

$("#ajax_loader_common_2").css("display","block");

$http({"method":"GET", "url":"/set_time_zone/get_zones"}).success(
  function(time_zone_data){
    $scope.time_zones = time_zone_data.time_zones
    $scope.saved_time_zone = time_zone_data.saved_time_zone;    
    $scope.selected_time_zone = time_zone_data.saved_time_zone;   
    $("#ajax_loader_common_2").css("display","none");    
  }
);


$scope.onSave=function(){  
  if(confirm("WARNING - changing the time zone will result in changes to the data that you see in data refresh")){
      $("#ajax_loader_common_2").css("display","block");
       $http({
        "headers":{'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')},
         "method":"POST", 
         "url":"/set_time_zone/save",
         "data" : {"time_zone_new" : $scope.selected_time_zone} 
       }).
       success(
          function(time_zone_data){
            $scope.time_zones = time_zone_data.time_zones
            $scope.saved_time_zone = time_zone_data.saved_time_zone;    
            $scope.selected_time_zone = time_zone_data.saved_time_zone;               
            $("#ajax_loader_common_2").css("display","none");
            location.reload();
          }
       );  
  }
}


});



</script>