
<table id="outer_table" class="table lot_collection_table table_bottom tablesorter" style="margin-top:5%">
    <thead>
        <tr class="table_heading">
            <th class="sort_table">Activity Code</th>
            <!-- <th class="sort_table">Step Number</th> -->
             <!-- <th class="sort_table">Description</th> -->
            <th class="sortable_edit sort_table"></th>
        </tr>
    </thead>
    <%unless @spec_aging_rec.blank?%>
        <%@spec_aging_rec.each do |sa|%>
            <tr>
                <td class="lot_collection_button_table_td">          
                     <%= sa.Activity_Code %>
                </td>
               <!--  <td class="lot_collection_button_table_td">          
                     <%= sa.Step_Number %>
                </td>
                <td class="lot_collection_button_table_td">          
                     <%= sa.Description %>
                </td> -->
                <td class="text-center">
                    <%=link_to 'Edit ', "/spec_aging/#{sa.id}/edit" %>  
                </td>
            </tr> 
        <% end %>
    <%else%>
        <tr>
        <td colspan="3">
            <center>No data added</center>
        </td>
        </tr>
    <%end%>
    <div id ="ajax_loader" style="display:none">
        <%= image_tag "ajax-loader.gif", :alt => "loader", :id=> "ajax_loader_img" %>
    </div>
</table>

<%= javascript_include_tag  "jquery.tablesorter.min.js" %>
<%= javascript_include_tag  "jquery.tablesorter.widgets.js" %>
<%= stylesheet_link_tag    "theme.default" %>
<script>
    $(function(){
        $('table').tablesorter({
            widgets        : ['zebra', 'columns'],
            usNumberFormat : false,
            emptyTo        : 'none',
            sortRestart    : true
        });
    });
</script>
<script>
$(".delete_status_key").click(function(){         
            status = this.dataset.status            
            var result = confirm("Are you sure ?");
            $("#ajax_loader").css("display", "block");
            $("body").addClass("inactiveLink")
        if(this.getAttribute("data-status_color_count")!=0)
        {
            if (result==true) {
                $.ajax({
                    type: "GET",
                    url: '/sas/change_status',
                    data:{id : this.getAttribute("data-status_key_id"), status : this.getAttribute("data-status")},
                    success: function(data) { 
                        $("#sas_list").html(data);
                        $("#ajax_loader").css("display", "none");
                        $("body").removeClass("inactiveLink")
                      }
                });
            }
            else
            {
                $("#ajax_loader").css("display", "none");
                $("body").removeClass("inactiveLink")
            }
        }
         else
        {
            if (result==true) {
                $.ajax({
                    type: "GET",
                    url: '/sas/destroy',
                    data:{id : this.getAttribute("data-status_key_id"), status : this.getAttribute("data-status")},
                    success: function(data) { 
                        $("#sas_list").html(data);
                        $("#ajax_loader").css("display", "none");
                        $("body").removeClass("inactiveLink")
                      }
                });
            }
            else
            {
                $("#ajax_loader").css("display", "none");
                $("body").removeClass("inactiveLink")
            }
        }
});
</script>