<div id="content" class='content_mid'>
	<div class="col-xs-8 col-sm-6 col-md-4 col-sm-push-3 col-md-push-4 col-lg-2 col-lg-push-5 col_content_mid xs_egt_push">
		<div class="names_align">&ensp;Manage Spec Aging</div>
		<br />
		<hr>
		<div>
		    <%= form_tag "/spec_aging/#{@spec_aging_details.id}",:id=>"update_spec_aging_form", :method => :put do %>
		        <table>
		            <tr>
						<td class="edt_type_td">&ensp;&ensp;Activity Code&emsp;</td>
						<td>
						 	<%= select_tag "activity_code_dropdown", options_for_select(@activity_list, selected:  @spec_aging_details.Activity_Code),:onchange => "activity_code_change(this.value)", :class => "form-control"%>
						</td>
					</tr>
					<!-- <tr>
						<td class="edt_type_td">Step Number </td>
						<td>
						   <= select_tag "step_num_dropdown", options_for_select(@step_recs.map{ |c| [c.STEPNUMBER, c.STEPNUMBER, {'class'=>c.ACTIVITYCODE, 'description'=>c.description}]}), :class => "form-control"%>
						</td>
					</tr>
					<tr>
						<td  class="edt_type_td"> Description </td>
						<td>
						<input type="text" value="<%= @spec_aging_details.Description%>" name="description" id="description" class="spec_aging_desc" readonly >
							<label name="descripstion" id="desscription" class="spec_agsing_desc"></label>
						</td>
					</tr> -->
		            
		        </table><br />
			    <div class="create_collection_button"  style="margin-top:-4%">
			       <button type="submit" class="btn btn-success spec_aging_sub_btn" style="margin-right:3px">Save</button>
			    	<a href="/spec_aging" class="cancel_text_color cancel_css_users_page"  style="margin-right:3px">cancel</a>
			    </div>
		    <% end %>    
		</div>
	</div>
</div>


<%= javascript_include_tag  "lot_collection" %> 
<script>
$(".spec_aging_sub_btn").click(function(e){
	var result = confirm("Are you sure ?");
	if(result == true){
		$("#ajax_loader").css("display","block")
	}
	else{
		e.preventDefault();
	}
})
activity_code_change("<%= @spec_aging_details.Activity_Code %>");

function activity_code_change(activity_value){
	if ($("#activity_code_dropdown").data('options') == undefined) {
    	/*Taking an array of all options-2 and kind of embedding it on the select1*/
    	$("#activity_code_dropdown").data('options', $('#step_num_dropdown option').clone());
  	}
  var id = $("#activity_code_dropdown").val();
  var options = $("#activity_code_dropdown").data('options').filter('[class=' + id + ']');
  $('#step_num_dropdown').html(options);
    if (activity_value != "<%= @spec_aging_details.Activity_Code %>"){
			$("#step_num_dropdown").val("")
	}
	else{
		$('#step_num_dropdown option[value=<%= @spec_aging_details.Step_Number %>][class='+activity_value+']').attr('selected','selected');
	}
	desc = $('#step_num_dropdown option').attr("description");
	$("#description").val(desc)
}
                  
</script>
<script>

	$(document).ready(function() {							
		$("#update_spec_aging_form").validate({		
			rules: {
				"activity_code": {
					required : true,					
				},
				"step_number": {
					required : true,					
				}
			},
			
			messages: {
				"activity_code": {
          			required : "Please Enter Activity Code",          
		        },
		        "step_number": {
          			required : "Please Enter Step Number",          
		        }
			},
			errorElement: 'span',
    		errorClass: 'help-block',
		    highlight: function(element) {
		        $(element).closest('.form-group').addClass('has-error');
		    },
		    unhighlight: function(element) {
		        $(element).closest('.form-group').removeClass('has-error');
		    }			
		});					
	});
</script>

<div id ="ajax_loader" class="loader" style="display:none;margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%;">
    <p style="position: absolute; top: 50%; left: 45%;">
    <%= image_tag "ajax-loader.gif", :alt => "loader", :id=> "ajax_loader_img" %>
    </p>
</div>