
<div id="content" class='content_mid' > 
<div class="flash_notice"><font size="3" color="red" align="center"><%= flash[:notice] %></font></div>
<div class="col-xs-8 col-sm-6 col-md-4 col-sm-push-3 col-md-push-4 col_content_mid xs_egt_push">
<div class="names_align">Manage Lot Types</div>
<br />
<hr>
        <%= form_tag "/lot_types",:id=>"create_lot_type_form", :method => :post do %>
         <div class="builder_create">   
           <table>
             <tr>
    				<td valign="top" class="lt_type_nme_edit">&emsp;Lot Type Name </td>
    				<td><input type="text" name="lot_type_name"  class="input_filed_border txt_lt_type_new" placeholder = "Enter Lot Type Name" />
    				</td>
    			</tr>
          </table>
        </div>
        	<div class="create_collection_button">
	                <button type="submit" class="btn btn-success">Save</button>
	                <a href="/lot_types" class="cancel_text_color cancel_css_users_page">cancel</a>
        		</div>
        <% end %>
</div>
</div>

<script>
	$(document).ready(function() {							
		$.validator.addMethod("registeredBuilder", function(value, element){			
			var registered_builder = $.inArray($("#create_lot_type_form .input_filed_border").val().toLowerCase(), 
				<%= @lot_types.map{|lot_types| lot_types.Lot_Type.downcase}.to_json.html_safe unless @lot_types.nil?%>);
			if(registered_builder>-1){
				return false
			}else
			{
				return true		
			}			 
		},"lot Type Name Already registered");

		$("#create_lot_type_form").validate({		
			rules: {
				"lot_type_name": {
					required : true,					
					registeredBuilder: true,				
				},
		
			},
			messages: {
				"lot_type_name": {
					required : "Please Enter Lot Type Name",					
					registeredBuilder: "Lot Type Already registered",				
				},                
       
			},
			errorElement: 'span',
    		errorClass: 'help-block',
		    highlight: function(element) {
		        $(element).closest('.form-group').addClass('has-error');
		    },
		    unhighlight: function(element) {
		        $(element).closest('.form-group').removeClass('has-error');
		    }			
		});					

		
	});
</script>

