
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html>
 <head> 
 	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /> </head> 
<body> 
Hello <%=@first_name%> <%=@last_name %>,<br/><br/>

You have been invited to register as a user for LotVue. Please click <a href="<%=@url %>">here</a> to complete the registration process.
<br/><br/>


Thank you,<br/>
LotVue Support Team
</body> 
</html>
