
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html>
 <head> 
 	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /> </head> 
<body> 
Hi ,<br/><br/>

Name: <b><%= @name %></b><br/>
Email Address: <b><%= @email_address %></b><br />

<% unless @contact_num.blank? %>
	Contact Number: <b><%= @contact_num %></b><br />
<% end %>

Community: <b><%= @community_name%></b><br />

<%  unless @phase_name.blank? %>
	Filing: <b><%= @phase_name%></b><br />
<% end %>

<%  unless @lot_number.blank? %>
	Lot Number: <b><%= @lot_number%></b>
<% end %>

<br/><br/>


</body> 
</html>
