	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html>
 <head> 
 	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /> </head> 
<body> 
Hi,<br><br>

The connection and data load was Successful.<br /><br />
	Reported Time: <%= Time.now.utc.in_time_zone(SetTimeZone.first.TimeZone).strftime("%d-%b-%Y-%H:%M:%S") + SetTimeZone.first.Abbrevation %><br /><br />
	Message: <%= @message %><br/><br/><br/>


Thank you,<br/>
LotVue Support Team
</body> 
</html>
