
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html>
 <head> 
 	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /> </head> 
<body> 
Hello,<br/><br/>
<% unless @lots.empty?%>
Status of lots listed below are changed to <b>Closed</b> as the <b>Expected Closing Date</b> is past<br/><br/>
<table>
	<tr>
		<th>Seq No</th>
		<th>Unique ID</th>
		<th>Sale Status</th>
		<th>Expected Closing Date</th>
	</tr>
	<%@lots.each_with_index do |lot, index| %>
	<tr>
		<td style="text-align:center">
			<%= index+1 %>
		</td>
		<td style="text-align:center">
			<%= lot[0] %>
		</td>
		<td style="text-align:center">
			<%= lot[1] %>
		</td>
		<td style="text-align:center">
			<%= lot[2] %>
		</td>
	</tr>
	<% end %>	
</table>
<%else%>
	There Is No Lot With Expected Closing Date Matching Today's Date
<%end%>
<br/><br/>

Thank you,<br/>
LotVue Support Team
</body> 
</html>