
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html>
 <head> 
 	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /> 
 </head> 
<body> 
Hello,<br/><br/>

<%= @event_name %> at <%= @event_date %> on <%= @lot.Unique_ID %>  by <%= @event_by %>

<br/><br/>
<table>
	<tr>		
		<th>Unique ID</th>
		<th>Previous Lot Status</th>
		<th>Current Lot Status</th>
	</tr>	
	<tr>
		<td style="text-align:center">
			<%= @lot.Unique_ID %>
		</td>
		<td style="text-align:center">
			<%= @previous_lot_status %>
		</td>
		<td style="text-align:center">
			<%= @current_lot_status%>
		</td>		
	</tr>	
</table>
<br/><br/>

Thank you,<br/>
LotVue Support Team
</body> 
</html>