<div class="top_marg"><b>&ensp; Common Permissions:</b></div>
<div class="comm_per" id="role_common_permissions">
	<% @product_types.each do |each_product| %>
		<div class="div_min_wdth">
			<div>
				<%= check_box_tag "product_type_checkboxes", each_product.Id, :checked,:data => {:prdt_cls_name => "#{each_product.Project_Name.gsub(' ','_')}", :role_chk_comm_per => each_product.Id}, :name => "comm_prdt_type[]" %><%= each_product.Project_Name %>
			</div>
			<div class="comm_per permi_div prdt_<%= each_product.Project_Name.gsub(' ','_') %>">
				<table>
					<% ProductTypeMenuOption.where(:ProjectId => each_product.id).each do |menu| %>
						<% if menu.menu_option.MenuName != "Reports" %>
							<tr>
								<td>
									<span><%= menu.menu_option.MenuOptionName %> </span>
								</td>
								<td>
									<%= select_tag "role_access_for_views", options_for_select(Access.fetch_access,1),:class=>"view_acc_cls form-control role_select role_access_for_views",:data => {:menu_class => "#{menu.menu_option.MenuOptionName.gsub(' ','')}", :role_views_comm_per => menu.Id}, :name => "common_menus_permi[#{each_product.Id}][#{menu.Id}][]"%> 
								</td>
							</tr>
						<% end %>
					<% end %>
				</table>
			</div>
		</div>
	<% end %>
	<div style="clear:both">
		<% @menus_for_reports.reverse.each do |rep| %>
			<div class="prdt_<%= rep.product_types[0].Project_Name.gsub(' ','_') %> no_permi_div" >
				<%= check_box_tag "report_checkboxes", rep.Id, :checked,:data => {:prdt_cls_name => "#{rep.MenuOptionName.gsub(' ','')}", :role_report_chk_comm_per => rep.Id, :pd_nm => rep.product_types[0].Project_Name.gsub(' ','_')}, :name => "comm_reports[]" %><%= rep.MenuOptionName %>
				<div class="comm_per permi_div report_<%= rep.MenuOptionName.gsub(" ","") %> <%= rep.product_types[0].Project_Name.gsub(' ','_')%> report_<%= rep.product_types[0].Project_Name.gsub(' ','_')%>">
					<table>
						<% if rep.MenuOptionName == "Generated Reports"%>
							<% unless @generated_reports.blank? %>
								<% @generated_reports.each do |gr| %>
									<tr>
										<td>
											<%= gr.document_file_name %>
										</td>
										<td>
											<%= hidden_field_tag "report_nm_id[#{gr.document_file_name.gsub(' ','').gsub('.','')}][#{rep.Id}]", "#{gr.id}"%>
											<%= select_tag "role_access_for_reports", options_for_select(Access.fetch_access.reject{ |r| r[1] == 1 },1),:class=>"view_acc_cls form-control role_select role_access_for_reports" ,:data => {:menu_class =>  "#{gr.document_file_name.gsub(' ','').gsub('.','')}", :role_views_comm_per => rep.Id}, :name => "common_generated_report_permi[#{rep.product_types[0].Id}][#{rep.Id}][#{gr.document_file_name.gsub(' ','').gsub('.','')}]"%> 
										</td>
									</tr>
								<% end %>
							<% end %>
						<% elsif rep.MenuOptionName == "Uploaded Reports"%>
							<tr>
								<td>
									<span class="report_<%= rep.MenuOptionName.gsub(" ","") %> can_uploaded_span">
										<%= check_box_tag "report_can_upload_checkboxes", rep.MenuOptionName.gsub(" ",""), :checked,:data => {:prdt_cls_name => "#{rep.MenuOptionName.gsub(' ','')}"},:name => "can_upload_chk[]" %>Can Upload?
									</span>
								</td>
							</tr>
							<% unless @uploaded_reports.blank? %>
								<% @uploaded_reports.each do |ur| %>
									<tr>
										<td>
											<%= ur.document_file_name %>
										</td>
										<td>
											<%= hidden_field_tag "report_nm_id[#{ur.document_file_name.gsub(' ','').gsub('.','')}][#{rep.Id}]", "#{ur.id}"%>
											<%= select_tag "role_access_for_reports1", options_for_select(Access.fetch_access,1),:class => "view_acc_cls form-control role_select role_access_for_reports1",:data => {:menu_class => "#{ur.document_file_name.gsub(' ','').gsub('.','')}", :role_views_comm_per => rep.Id}, :name => "common_uploaded_report_permi[#{rep.product_types[0].Id}][#{rep.Id}][#{ur.document_file_name.gsub(' ','').gsub('.','')}]"%> 
										</td>
									</tr>
								<% end %>
							<% end %>
						<% end %>
					</table>
				</div>
			</div>
		<% end %>
	</div>
</div>
<script>
	// < if !@edit.present?%>
		// $("#role_access_for_reports1 option[value='2']").attr("selected", "selected");
	 //    $("#role_access_for_reports option[value='2']").attr("selected", "selected");
	// < end %>

	<% if @edit.present? %>
		<% unless @role_comm_per.blank?%>
			<% @product_types.each do |each_product| %>
				<% if @role_comm_per.pluck(:product_id).uniq.include?(each_product.Id) %>
					$(".prdt_<%= each_product.Project_Name.gsub(' ','_')%>").show();
				<% else %>
					$(".prdt_<%= each_product.Project_Name.gsub(' ','_')%>").hide();
					$("input:checkbox[data-role-chk-comm-per = <%= each_product.Id %>]").prop("checked",false)

				<% end %>
			<% end %>

			<% @menus_for_reports.reverse.each do |rep| %>
				<% if !@role_comm_per.pluck(:menu_id).uniq.include?(rep.Id)%>
					$(".report_<%= rep.MenuOptionName.gsub(" ","") %>").hide();
					$("input:checkbox[data-role-report-chk-comm-per = <%= rep.Id %>]").prop("checked",false)
				<% end %>
			<% end %>

			<% @role_comm_per.each do |l| %>
				<% if l.report_name.blank? %>
					$("select[data-role-views-comm-per = <%= l.menu_id %>]").val("<%= l.permission %>")
				<% else %>
					$("select[data-role-views-comm-per = <%= l.menu_id %>][data-menu-class = <%= l.report_name %>]").val("<%= l.permission %>")
				<% end %>
			<% end %>
		<% end %>
	<% end %>

	$("#report_can_upload_checkboxes").change(function(){
	    if($(this).is(":checked")){
	      <% @all_collections.each do |l_cn| %>
	        $('input:checkbox[name="can_upload[<%=l_cn.id%>][]"]').prop("checked",true)
	      <% end %>
	    }
	    else{
	      <% @all_collections.each do |l_cn| %>
	        $('input:checkbox[name="can_upload[<%=l_cn.id%>][]"]').prop("checked",false)
	      <% end %>
	    }
	})

	
	$("input[name = 'comm_prdt_type[]']").change(function(){
		prdt_name = "prdt_"+this.getAttribute("data-prdt-cls-name")
		sub_div_per_prdt_nm = this.getAttribute("data-prdt-cls-name")
		if(!$(this).is(":checked")){
			$("."+prdt_name).hide().removeClass("permi_div");
			$("."+sub_div_per_prdt_nm).hide();
			$("input[data-pd-nm='"+sub_div_per_prdt_nm+"']").prop("checked",false);
			$(".comm_chkbx_"+sub_div_per_prdt_nm).prop("checked",false)
		}
		else{
			$("."+prdt_name+", .report_"+sub_div_per_prdt_nm).show().addClass("permi_div");
			$(".no_permi_div").removeClass("permi_div");
			$("."+sub_div_per_prdt_nm).show();
			$("."+sub_div_per_prdt_nm).find(":checkbox").prop("checked",true);
			$(".view_acc_cls, .can_uploaded_span").show();
			$("input[data-pd-nm='"+sub_div_per_prdt_nm+"']").prop("checked",true);
		}
		$(".can_uploaded_span").removeClass("permi_div");
	});

	$("input[name = 'comm_reports[]']").click(function(){
		report_name = "report_"+this.getAttribute("data-prdt-cls-name")
		sub_div_per_report_name = this.getAttribute("data-prdt-cls-name")
		if(!$(this).is(":checked")){
			$("."+report_name).hide().removeClass("permi_div");
			$("."+sub_div_per_report_name).hide();
			$("input[data-pd-nm='"+sub_div_per_report_name+"']").prop("checked",false);
		}
		else{
			$("."+report_name).show().addClass("permi_div");
			$("."+sub_div_per_report_name).show();
			$("input[data-pd-nm='"+sub_div_per_report_name+"']").prop("checked",true);
		}
		$(".can_uploaded_span").removeClass("permi_div");
	});

	$(".view_acc_cls").change(function(){
		menu_cls = this.getAttribute("data-menu-class")
		permis_val = $(this).val();
		if($(this).hasClass("role_access_for_views")){
			$("."+menu_cls+".role_access_for_views").val(permis_val);
		}
		else{
			$("."+menu_cls+".role_access_for_reports").val(permis_val);
		}
	});
	
</script>
