<div class="comm_per">
  <table>
    <% lc_community_name =  LotCollectionLot.find_by_Lot_Collection_Id(lot_collection_id).Community%>
    <%= hidden_field_tag "lot_collection_id", lot_collection_id %>
    <table>
      <% ProductTypeMenuOption.where(:ProjectId => "#{prossd_id}").each do |menu| %>
        <% if menu.menu_option.MenuName != "Reports" %>
          <tr class="<%= menu.product_type.Project_Name.gsub(' ','_')%> <%= menu.product_type.Project_Name.gsub(' ','_')%>_<%= lot_collection_id %>">
            <td>
               <%= check_box_tag "collection_keys_ids[#{lot_collection_id}][][menu_options]", menu.Id, true, :class=> "view_#{lot_collection_id}_#{menu.Id} comm_chkbx_#{menu.product_type.Project_Name.gsub(' ','_')}_#{lot_collection_id} comm_chkbx_#{menu.product_type.Project_Name.gsub(' ','_')}", :style=>"display:none"%>
              <span><%= menu.menu_option.MenuOptionName %> </span>
            </td>
            <td>
              <!-- while adding a role -->

              <% if @role_definition.blank?%>
                <%= select_tag "role_access_for_views", options_for_select(Access.fetch_access,1), :name=>"collection_keys_ids[#{lot_collection_id}][][permission][#{menu.Id}][]",:class=>"view_acc_cls form-control #{menu.menu_option.MenuOptionName.gsub(' ','')} #{menu.product_type.Project_Name.gsub(' ','_')}_#{lot_collection_id} role_access_for_views", :style => "border:1px solid;margin-left:10px;"%> 
              <% else %>

              <!-- while editing a role -->
                <% rds_lc = @role_definition.rds_lot_collections.find_by_Lot_Collection_Id(lot_collection_id) %> 
                <% if !rds_lc.blank? %>
                  <% rds_menu_options = rds_lc.rds_lot_collections_menu_options %>
                  <% rds_menus_ids = rds_menu_options.pluck(:Menu_Option_Id) %>
                <% else %>
                  <% rds_menu_options = []%>
                <% end %>
                  <% if rds_menu_options.blank? || !rds_menus_ids.include?(menu.Id)%> 
                    <%= select_tag "role_access_for_views", options_for_select(Access.fetch_access,1), :name=>"collection_keys_ids[#{lot_collection_id}][][permission][#{menu.Id}][]",:class=>"view_acc_cls form-control #{menu.menu_option.MenuOptionName.gsub(' ','')} #{menu.product_type.Project_Name.gsub(' ','_')}_#{lot_collection_id} role_access_for_views", :style => "border:1px solid;margin-left:10px;"%> 
                  <% else %>
                    <% rds_menu = rds_menu_options.select{|x| x.Menu_Option_Id == menu.Id}[0]%>
                    <%= select_tag "role_access_for_views", options_for_select(Access.fetch_access,rds_menu.rds_lot_collections_menu_options_role_access.Role_Access_Id), :name=>"collection_keys_ids[#{lot_collection_id}][][permission][#{rds_menu.Menu_Option_Id}][]",:class=>"view_acc_cls form-control #{menu.menu_option.MenuOptionName.gsub(' ','')} #{menu.product_type.Project_Name.gsub(' ','_')}_#{lot_collection_id} role_access_for_views", :style => "border:1px solid;margin-left:10px;"%> 
                  <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
     <tr><div id="no_views_<%= lot_collection_id%>" style="text-align:center;display:none"><b>No Views</b></div></tr>
  </table>
</div>
<script type="text/javascript">
  $(document).ready(function () {  
   $('input:checkbox[name="prodcut_type_checkboxes[<%= lot_collection_id%>][][product_type]"]').each(function() {
        if ($(this).is(":checked")) 
        {
          $("."+this.getAttribute("data-pid")+"_"+<%=lot_collection_id%>).show();
        }
        else
        {
          $("."+this.getAttribute("data-pid")+"_"+<%=lot_collection_id%>).hide();
        }
        });
  }); 
</script>