<table>
  <% unless @menus_for_reports.blank?%>
    <% @menus_for_reports.reverse.each_with_index do |option,counter| %>
      <% rds_lc = @role_definition.rds_lot_collections.find_by_Lot_Collection_Id(lot_collection_id) unless @role_definition.blank? || @role_definition.rds_lot_collections.blank?%> 
        
      <% menuoption_arr = rds_lc.menu_options.map(&:Id).sort unless rds_lc.blank? || rds_lc.menu_options.blank? %> 
      <tr class='<%= option.product_types.first.Id%>_<%= lot_collection_id%>  <%= option.product_types[0].Project_Name.gsub(" ","_")%> <%= option.product_types[0].Project_Name.gsub(" ","_")%>_<%= lot_collection_id%>'>
        <td> 
        <% unless menuoption_arr.blank? %> 
          <% if (menuoption_arr.include?(option.Id))%>    
            <%= check_box_tag "collection_keys_ids[#{lot_collection_id}][][menu_options]", option.Id, true,:onclick => "report_menus_click(this.value, '#{lot_collection_id}', '#{option.MenuOptionName}');",:data => {:optionid => option.Id, :pd_nm => "#{option.MenuOptionName.gsub(' ','')}"}, :class => "chkbox_#{lot_collection_id}_#{option.Id} comm_chkbx_#{option.product_types[0].Project_Name.gsub(' ','_')}_#{lot_collection_id}" %>
          <% else %>
            <%= check_box_tag "collection_keys_ids[#{lot_collection_id}][][menu_options]", option.Id, false,:onclick => "report_menus_click(this.value, '#{lot_collection_id}', '#{option.MenuOptionName}');",:data => {:optionid => option.Id, :pd_nm => "#{option.MenuOptionName.gsub(' ','')}"}, :class => "chkbox_#{lot_collection_id}_#{option.Id} comm_chkbx_#{option.product_types[0].Project_Name.gsub(' ','_')}_#{lot_collection_id}" %>
          <% end %>
        <% else %>
          <%= check_box_tag "collection_keys_ids[#{lot_collection_id}][][menu_options]", option.Id, true,:onclick => "report_menus_click(this.value, '#{lot_collection_id}', '#{option.MenuOptionName}');",:data => {:optionid => option.Id, :pd_nm => "#{option.MenuOptionName.gsub(' ','')}"}, :class => "chkbox_#{lot_collection_id}_#{option.Id} comm_chkbx_#{option.product_types[0].Project_Name.gsub(' ','_')}_#{lot_collection_id}" %>
        <% end %>
          <span class="menu_for_reports"><%=  option.MenuOptionName %></span>
        </td>                      
          <%= hidden_field_tag "collection_keys_ids[#{lot_collection_id}][][permission][#{option.Id}][]", 1%>                        
      </tr>
      <tr class="<%= option.MenuOptionName.gsub(' ','') %> test_tr_<%= lot_collection_id %>_<%= option.Id%> <%= option.product_types[0].Project_Name.gsub(' ','_') %> <%= option.product_types[0].Project_Name.gsub(' ','_') %>_<%= lot_collection_id%> <%= option.product_types[0].Project_Name.gsub(" ","_")%>_<%= lot_collection_id%>"></tr>
      <tr class="<%= option.MenuOptionName.gsub(' ','') %> generated_test_tr_<%= lot_collection_id %>_<%= option.Id%> <%= option.product_types[0].Project_Name.gsub(' ','_') %> <%= option.product_types[0].Project_Name.gsub(' ','_') %>_<%= lot_collection_id%> <%= option.product_types[0].Project_Name.gsub(" ","_")%>_<%= lot_collection_id%>"></tr>
    <% end %> 
  <%else%>
    <div style="text-align:center;margin-top:60px;"><b>No Reports</b></div>
  <% end %> 
 
</table> 


<div class="views_container_for_reports">
  <%=render :partial => "get_reports_based_on_report_type", :locals => {:lot_collection_id => lot_collection_id, :role_id => @role_id }%>
</div>



<script type="text/javascript">

function report_menus_click(menu_option_id, lot_collection_id, menu_option_name)
{
  if ($(".chkbox_"+lot_collection_id+"_"+menu_option_id).is(":checked") )
  {
      if(menu_option_name == "Uploaded Reports")
      {
        $(".chkbox_"+lot_collection_id+"_"+menu_option_id).closest('tr').next().show()
      }
      else
      {
        $(".chkbox_"+lot_collection_id+"_"+menu_option_id).closest('tr').next().next().show()
      }
  }
  else
  {
     if(menu_option_name == "Uploaded Reports")
      {
        $(".chkbox_"+lot_collection_id+"_"+menu_option_id).closest('tr').next().hide()
      }
      else
      {
        $(".chkbox_"+lot_collection_id+"_"+menu_option_id).closest('tr').next().next().hide()
      }
  }
}

</script>