<% @comm_city_lc.each do |cc|%>
  <label>
  <!-- comunity checkbox -->
    <%= check_box_tag "comm_city_checkboxes", cc, :checked,:data => {:comm_city_cls_name => "#{cc.gsub(' ','')}"} %> <%= cc %>
  </label>
  <% LotCollection.where(:community_city => cc).each do |lot_collection| %>
    <%= hidden_field_tag "lot_collection_id", lot_collection.id%>
    <div class="panel panel-default lot_collection_panel" id="panel_<%= lot_collection.id %>" style="margin:1%">
      <div class="panel-body bc_color" style="padding:0px !important">   
         <div style="padding:15px !important">   
              <div> 
              <!-- onclick="togglelcperm('lc_per_<%= lot_collection.collection_name.gsub(' ','') %>', '<%= lot_collection.id%>','<%= cc.gsub(' ','')%>')" -->
                <div  id="lc_div_<%= lot_collection.id%>" class="toggle_div_cls_<%= lot_collection.id%>">
                  <!-- checkbox before collection name -->
                  <%= check_box_tag "#{lot_collection.id}", lot_collection.collection_name.gsub(' ',''), :checked,:class => "#{cc.gsub(' ','')} lc_cls #{cc.gsub(' ','')}_#{lot_collection.id} no_clk_ckkbx", :data => {:lc_comm_city => "#{cc.gsub(' ','')}"} %>
                  <label class="lbl_mrg_btm " ><%= lot_collection.collection_name %></label>
                  <img class="lc_per_<%= lot_collection.collection_name.gsub(' ','') %>_img float_right image_rotate_oncollapse" src="/assets/arrow.gif">
                </div>
                <div class="comm_lc_sub_div comm_lc_sub_div_<%= lot_collection.id%>" style="display:none">
                  <div id="product_type_div" class="lc_per_<%= lot_collection.collection_name.gsub(' ','') %>" style="display:none;">
                    <label class="no_prd_err_msg_<%= lot_collection.id%> role_err" style="display:none;color:#D9534F">Please select atleast one product type</label>
                    <br/>
                      <% @product_types.each do |each_product|%>
                        <div class="div_min_wdth">
                          <div>
                            <%= check_box_tag "prodcut_type_checkboxes[#{lot_collection.id}][][product_type]", each_product.Id,:checked, :class => "product_type_class_#{lot_collection.id} sub_per_#{lot_collection.id}",:data => {:pid => each_product.Id, :pd_nm => "#{each_product.Project_Name.gsub(' ','_')}", :lc_id => lot_collection.id, :chk_bx_nm => "#{each_product.Project_Name.gsub(' ','_')}_#{lot_collection.id}"} %><%= each_product.Project_Name %>
                            <br/>
                            <label id="select_view_<%= each_product.Project_Name.gsub(' ','_') %>_<%=lot_collection.id%>" class="error_class role_err" style="display:none;color:#D9534F">Select View for <%= each_product.Project_Name %></label>
                          </div>

                          <%= render :partial => "get_views_based_on_product_type", :locals => { :prossd_id => each_product.Id, :lot_collection_id => lot_collection.id}%>
                        </div>
                      <%end%>
                  </div>
                  <div class="menu_options_list lc_per_<%= lot_collection.collection_name.gsub(' ','') %>" id="menu_option_container_<%=lot_collection.id%>" style="display:none;clear:both">
                    <div class="reports_container 1">
                      <%=render :partial => "get_reports_based_on_product_type", :locals => {:lot_collection_id => lot_collection.id }%>
                    </div>
                  </div>
                </div>
              </div>
        </div>  
      </div>
    </div>  
    <script>
    // expand and collapse lot collections
    $(".toggle_div_cls_<%= lot_collection.id%>").click(function(e){
      console.log("===")
      if (!$(e.target).hasClass('no_clk_ckkbx')) {
        togglelcperm('lc_per_<%= lot_collection.collection_name.gsub(' ','') %>', '<%= lot_collection.id%>','<%= cc.gsub(' ','')%>');
      }
    })
      // To show the default access as VIEW ACCESS  in report access dropdown
        $("#role_access_for_reports1 option[value='2']").attr("selected", "selected");
        $("#role_access_for_reports option[value='2']").attr("selected", "selected");

      // toggle - clicking on lc name
      $(".<%= cc.gsub(' ','') %>_<%= lot_collection.id %>").change(function(){
        if(!$(this).is(":checked")){
          $(".comm_lc_sub_div_<%= lot_collection.id %>").hide();
        }
      });


     
      $(".sub_per_<%= lot_collection.id%>").change(function(e){
        lc_id = this.getAttribute("data-lc-id")
        prj_nm = this.getAttribute("data-pd-nm")
        if(!$(this).is(":checked"))
          { 
            $("."+prj_nm+"_"+lc_id).hide();
            $(".comm_chkbx_"+prj_nm+"_"+lc_id).prop("checked",false)
          }
          else
          {
            $("."+prj_nm+"_"+lc_id).show();
            $("."+prj_nm+"_"+lc_id+"> tr").show();
            $("."+prj_nm+"_"+lc_id+"> tr").find("."+prj_nm+"_"+lc_id).show();
            $(".comm_chkbx_"+prj_nm+"_"+lc_id).prop("checked",true)
          }
      });

      $("input[name = 'collection_keys_ids[<%= lot_collection.id%>][][menu_options]']").click(function(){
          report_nm = this.getAttribute("data-pd-nm")
          if(!$(this).is(":checked")){
            $("."+report_nm+"_<%= lot_collection.id %>").hide();
          }
          else{
            $("."+report_nm+"_<%= lot_collection.id %>").show();
          }
      })

      $("input[name = 'comm_city_checkboxes']").change(function(){
        com_city = this.getAttribute("data-comm-city-cls-name")
        if(!$(this).is(":checked")){
          $("."+com_city).removeAttr("checked");
          if(!$(this).is(":checked")){
            $(".comm_lc_sub_div_<%= lot_collection.id %>").hide();
          }
        }
        else{
          $("."+com_city).prop('checked', true);
        }
      });

      $(".lc_cls").click(function(){
        com_city = this.getAttribute("data-lc-comm-city")
        if($('.'+com_city+':not(:checked)').length > 0 ){
          $("input[data-comm-city-cls-name='"+com_city+"']").prop("indeterminate", true);
        }
        else{
          $("input[data-comm-city-cls-name='"+com_city+"']").prop("indeterminate", false);
        }
      })

      $(document).ready(function(){
        <% if @edit.present? %>
          <% if @lc_coll_nms.include?(lot_collection.collection_name.gsub(" ","")) %>
            $(".<%= cc.gsub(' ','') %>_<%= lot_collection.id %>").prop("checked",true)
          <% else %>
            $(".<%= cc.gsub(' ','') %>_<%= lot_collection.id %>").prop("checked",false)
          <% end %>
          if($('.<%= cc.gsub(' ','') %>:not(:checked)').length > 0 ){
            $("input[data-comm-city-cls-name='<%= cc.gsub(' ','') %>']").prop("indeterminate", true);
          }
          else{
            $("input[data-comm-city-cls-name='<%= cc.gsub(' ','') %>']").prop("indeterminate", false);
          }
        <% end %>
      })
      
    </script>
  <% end %>
<% end %>
<script>
  
  $(document).ready(function(){
        <% if @edit.present? %>
          <% @rds_colls.each do |r| %>
            <% menu_ids = r.rds_lot_collections_menu_options.pluck(:Menu_Option_Id) %>
            <% @menus_for_reports.each do |menu| %>
              <% if !menu_ids.include?(menu.Id) %>
                $(".chkbox_<%= r.Lot_Collection_Id %>_<%= menu.id%>").prop("checked",false);
                $(".<%= menu.MenuOptionName.gsub(' ','') %>_<%= r.Lot_Collection_Id %>").hide();
              <% end %>
            <% end %>
            <% @product_types.each do |pt| %>
              <% if r.Product_Type_Id.split(",").include?(pt.Id.to_s) %>
                $("input:checkbox[data-chk-bx-nm='<%= pt.Project_Name.gsub(' ','_')%>_<%= r.Lot_Collection_Id %>']").prop("checked",true);
              <% else %>
                $(".<%= pt.Project_Name.gsub(' ','_')%>_<%= r.Lot_Collection_Id %>").hide();
                $("input:checkbox[data-chk-bx-nm='<%= pt.Project_Name.gsub(' ','_')%>_<%= r.Lot_Collection_Id %>']").prop("checked",false);

              <% end %>
            <% end %>
          <% end %>
        <% end %>
      })

</script>