<hr style="margin-top:-1%">
<div class="role_lot_collection_builder_div">
<table>
	<% unless @lot_collections.nil? || @lot_collections.count == 0 %>
		<tr>
			<th></th>	
			<th style="font-size:13px;"><u>Collection Name</u></th>
		</tr>
		<tr>
			<td>
				<input type="checkbox" checked="checked" id="selectall">
			</td>	
			<td>Select All</td>
		</tr>			

		<% @lot_collections.each_with_index do |lc,i| %>
			<tr>
				<td>
					<input type="checkbox" checked="checked" class="lot_collections_list" name="lot_collections_list" id="lot_collections_list_<%=lc[0]%>" value="<%=lc[0] %>">
				</td>				
				<td>
					<%=lc[1] %>
				</td>
			</tr>
		<%end%>
	<%else%>
		No Lot Collections Found
	<% end %>
</table>	
</div>

<script>
// $(document).ready(function(){
	$('#selectall').click(function(event){
		if(this.checked){
			$('.lot_collections_list').each(function(){
				this.checked = true;
			});

		}else{
			$('.lot_collections_list').each(function(){
				this.checked = false;	
			});
		}
	});
// });
</script>