<table id="outer_table" class="table role_table table_bottom tablesorter role_index">
<thead>
<tr class="table_heading">
	<th class="sort_table">Name</th>
	<th class="sort_table"># of Lot Collections</th>
    <th class="sort_table"># of Users</th>
    <th class="sort_table">Status</th>
    <th class="sortable_edit sort_table"></th>
</tr>
</thead>
<% message_array = Array.new%>
<%@roles.each do |role|%>
<% message_array.clear() %>
        <% role_count = role.lot_collections.count %>
        <% role_users = role.users.count %>
        <% users = role.users%>
        <% c = 0%>
        <% users.each do |x|%>
            <% c =  x.user_role_definitions.count%>
            <% message_array << c %>
        <% end %>
         
        <% count = message_array.include?(1) %> 
    <% if role.Is_Active !=0 %>
              <tr>
                <td class="role_button_table_td">                
                <%= role.Role_Definition%>
                </td>
                <td>
                   <span class="collection_count">
                        <% if role_count !=0 %>
                            <%= link_to role_count ,"/lot_collection?role=#{role.id}"%>
                        <% else %>
                            <%= role_count %>
                        <% end %>
                    </span>
                </td>
                <td>
                   <span class="collection_count">
                        <%= role_users %>
                   </span>
                </td>
                
                
                    <%unless role.is_admin? %>
                      
                        <td>Active</td>
                        <td class="role_table_td">
                            <b><%=link_to 'Edit ', "/roles/#{role.id}/edit" %></b>
                                <a id="delete_role" style="cursor:pointer" class="delete_role delete_pointer lot_collection_index_delete" data-role_user_count=  <%= count %> data-role_id=<%= role.id %> data-status="archive" data-lot_collection_count=<%= role_count%> data-user_count=<%= role_users%>>Delete</a>
                        </td>
                        <% else %>
                            <td></td><td></td>
                        <% end %>
                        </tr>
    <% else %>
        <tr>
            <td class="role_button_table_td">
                <%= role.Role_Definition %>
            </td>
            <td align="center">
                <span class="collection_count">
                    <%= role_count %>
                </span>
            </td>
            <td align="center"><span class="collection_count"><%= role_users %></span></td>
                <%unless role.is_admin? %>
                    <td class="role_table_td">Archived</td>
                    <td>
                        <a style="cursor:default">Edit</a>
                        <a id="delete_role" style="cursor:pointer" class="delete_role delete_pointer lot_collection_index_delete" data-role_user_count=<%= count %> data-role_id=<%= role.id %> data-status="active" data-lot_collection_count=<%= role_count%> data-user_count=<%= role_users%>>Delete</a>
                    </td>
                <% end %>
                </tr>
    <% end %>   
           
<% end %>
<div id ="ajax_loader" style="display:none">
    <%= image_tag "ajax-loader.gif", :alt => "loader", :id=> "ajax_loader_img" %>
</div>
</table>

<script>
$(".delete_role").click(function(){ 
        if(this.getAttribute("data-role_user_count") == "false")
        {
            var result = confirm("Are you sure ?");
            $("#ajax_loader").css("display", "block");
            $("body").addClass("inactiveLink")
            if (result==true) {
                    $.ajax({
                        type: "GET",
                        url: '/roles/destroy',
                        data:{id : $(this).attr("data-role_id")},
                        success: function(data) { 
                            $("#roles_list").html(data);
                            $("#ajax_loader").css("display", "none");
                            $("body").removeClass("inactiveLink")
                          }
                    });
            }
            else
            {
                $("#ajax_loader").css("display", "none");
                $("body").removeClass("inactiveLink")
            }
        }
        else{
        $("#delete_msg #delete_count").text(this.getAttribute("data-user_count"));
            $("#delete_msg").modal({
                backdrop: false,
                keyboard: false,
                show: true
            });
        } 
        return false;
});

    $(function(){
        $('table').tablesorter({
            widgets        : ['zebra', 'columns'],
            usNumberFormat : false,
            sortReset      : true,
            sortRestart    : true
        });
    });
</script>

<div class="modal fade" id="delete_msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="margin-bottom:2%">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <label style="float:left">Role Information</label>
        </div>
        <div class="modal-body">        
            <table class="table table_bottom" >
                <tr>
                    <td>
                        This role has <label id="delete_count"></label> users. Delete the users or change the roles allocated to the users.
                    </td>
                </tr>
            </table>            
        </div>
        <div class="modal-footer" style="margin-top:0px !important">          
          <a href="#" class="cancel_text_color cancel_css_users_page" data-dismiss="modal">cancel</a>                  
        </div>
      </div>      
    </div>
  </div>


