
<div id="content" class='content_mid'>
<div class="css_back_to_map_div" >
    <img src="/assets/back_arrow.png" class="css_back_arrow">
    <%= render :partial => 'layouts/back_to_map'%>  
</div>
    <div class="col-xs-11 col-sm-10 col-md-8 col-lg-6 col-lg-push-3 col-sm-push-1 col-md-push-2 col_content_mid xs_cols_push">
        <div class="names_align" style="margin-top: 11px !important;">Manage Roles</div>
            <div class="buttons_list add_role_btn" style="margin-bottom:1%">
            <%=link_to 'Add Role', "/roles/new" ,class:"btn btn-success add_role_btn", :id=>"hello"%>
            </div>
            <br /><br />
            <div id="roles_list" class="table-responsive table_bottom" >
            <%= render :partial => "roles_list"%>
            </div>
    </div>
</div>
<%= javascript_include_tag  "jquery.tablesorter.min.js" %>
<%= javascript_include_tag  "jquery.tablesorter.widgets.js" %>
<%= stylesheet_link_tag    "theme.default" %>
<script>
$(function(){
        $('table').tablesorter({
            widgets        : ['zebra', 'columns'],
            usNumberFormat : false,
            sortReset      : true,
            sortRestart    : true
        });
    });
</script>

