<div id="content" class='content_mid'> 
  <div class="col-xs-11 col-sm-6 col-md-6 col-lg-4 col-lg-push-4 col-sm-push-3 col-md-push-3 col_content_mid xs_cols_push plans_index">
    <div class="names_align">Manage Roles</div>
    <br />
    <hr>
    <% unless @lot_collections_count.nil? ||  @lot_collections_count==0 %>
      <%= form_tag "/roles",:id=>"create_role_form", :method => :post do %>
        <div class="float_left">
          <table>
            <tr>
              <td valign="top"><b>&ensp;Role Name: </b></td>
              <td valign="top"></b><input type="text" name="name" class="input_filed_border" value="" />
              </td>
            </tr>
          </table>
        </div>
        <div class="create_collection_button" style ="margin-top:0% !important;">
            <button type="submit" class="btn btn-success" >Save</button>
            <a href="/roles" class="cancel_text_color cancel_css_users_page">cancel</a>
        </div>
        <%= render :partial => "common_permissions_for_roles" %>
        <%= render :partial => "get_role_view_per_collection" %>
        <div class="create_collection_button" style ="margin-top:0% !important;">
            <button type="submit" class="btn btn-success" >Save</button>
            <a href="/roles" class="cancel_text_color cancel_css_users_page">cancel</a>
        </div>
      <% end %>
    <% else %>
        Atleast One Lot Collection is required to create a Role
        <a href="/lot_collection/new" class="cancel_text_color cancel_css_users_page">Create Role</a>
    <% end %>
</div>
<script>

  $(document).ready(function() {      
    $.validator.addMethod("registeredRole", function(value, element){    
      var registered_role = $.inArray($("#create_role_form .input_filed_border").val().toLowerCase(),
        <%= @roles.map{|role| role.Role_Definition.downcase}.to_json.html_safe  unless @roles.nil?%>);
      if(registered_role>-1){
        return false
      }else{
        return true
      }        
    },"Role name already registered");

    $("#create_role_form").validate({
      ignore: "not:hidden",
      rules: {
        "name": {
          required : true,          
          registeredRole: true,        
        },
      },
      messages: {
        "name": {
          required : "Please Enter Role Name",         
          registeredRole: "Role name already registered",        
        },
     
      },
      errorElement: 'span',
        errorClass: 'help-block role_err',
        highlight: function(element) {
            $(element).closest('.form-group').addClass('has-error');
        },
        unhighlight: function(element) {
            $(element).closest('.form-group').removeClass('has-error');
        }           
    });  

    function create_form_validate(e){
      <% @lot_collections.pluck(:community_city).uniq.each do |cc| %>
        <% @all_collections.each do |l_cn| %>
          if($(".<%= cc.gsub(' ','')%>_<%= l_cn.id%>").is(":checked")){
            $('input:checkbox[name="prodcut_type_checkboxes[<%= l_cn.id %>][][product_type]"]:checked').each(
              function() {
                prdt_nm = this.getAttribute("data-pd-nm")
                lc_id  = this.getAttribute("data-lc-id")
                perm_arr = $("select."+prdt_nm+"_"+lc_id).map(function() {
                    return $(this).val();
                }).get();
                if($.unique(perm_arr).length == 1){
                    if($.unique(perm_arr)[0] == "3"){
                      $("#select_view_"+prdt_nm+"_"+lc_id).show();
                      e.preventDefault();
                    }
                    else{
                      $("#select_view_"+prdt_nm+"_"+lc_id).hide();
                    }
                }
                else{
                  $("#select_view_"+prdt_nm+"_"+lc_id).hide();
                }
            });

            if($("#<%= l_cn.id %>").is(":checked")){
              if($('input:checkbox[name="prodcut_type_checkboxes[<%= l_cn.id %>][][product_type]"]:checked').length==0 ){
                $(".no_prd_err_msg_"+<%= l_cn.id%>).show();
                e.preventDefault();
              }
              else{
                $(".no_prd_err_msg_"+<%= l_cn.id%>).hide();
              }
            }

            $('.reports_<%= l_cn.id%>_<%= @generated_rpt_id%>').each(function(){       
              if($(".reports_<%= l_cn.id%>_<%= @generated_rpt_id%> :selected").text().includes("View"))
                {
                  $("#error_msg_generated_<%= l_cn.id%>_<%= @generated_rpt_id%>").hide(); 
                }
                else
                {
                   $("#error_msg_generated_<%= l_cn.id%>_<%= @generated_rpt_id%>").show(); 
                   e.preventDefault();       
                }
            });

            <% if @uploaded_reports_array.blank? %>
              if($('input:checkbox[name="can_upload[<%= l_cn.id%>][]"]').is(':checked') == false){
                $(".error_msg_can_upload_<%= l_cn.id%>").show();
                 e.preventDefault(); 
              }
              else{
                $(".error_msg_can_upload_<%= l_cn.id%>").hide();
              }
            <% end %>
          }

        <% end %>
      <% end %>
    }


    $("#create_role_form").on("submit", function (e) {
      create_form_validate(e);
        if($(".role_err:visible").first().length > 0 ){
          $('html,body').animate({scrollTop: $(".role_err:visible").first().offset().top-100});
        }
        else if($(".role_err:hidden").first().length > 0){
          $('html,body').animate({scrollTop: $(".role_err:hidden").first().offset().top-100});
        }
    });

    <% @all_collections.each do |l_cn| %>
     $('input:checkbox[name="prodcut_type_checkboxes[<%= l_cn.id %>][][product_type]"]').change(function(e) {
        create_form_validate(e);
      });
     $('.reports_<%= l_cn.id%>_<%= @generated_rpt_id%>').change(function(e){
        create_form_validate(e);
     });
    <% end %>
  });
</script>
<!-- <= javascript_include_tag  "role" %> -->
