<style>
  .table_lot_collection_th{
    min-width: 185px;
    max-width: 185px;
  }
  .table_lot_collection_last_th{
    min-width: 234px;
    max-width: 234px;
  }
  .table_lot_collection_last_td{
    min-width: 234px;
    max-width: 234px;
  }
</style>
<div id="content" class='content_mid'>
  <div class="col-xs-11 col-sm-10 col-md-7 col-lg-6 col-lg-push-3 col-sm-push-1 col-md-push-2 col_content_mid xs_cols_push">
  <!-- <div class="panel panel-default panel-success"> -->
    <div class="names_align">Manage Roles</div><br />
    <hr>   
    &ensp;<label>Name: </b><%= @role_definition.Role_Definition %></label>
  
    <% role_lot_collection_count = @role_definition.lot_collections.count %>
    <% if role_lot_collection_count > 0  %>
      <div  class="table-responsive" style="overflow:auto;max-height:400px;-webkit-overflow-scrolling: touch;">
        <table class="table" style="display:table;width:100%;margin-bottom:0px" >  
          <thead style="width:100%">                  
            <tr class="table_heading">
              <th>Lot Collection Name</th>
              <th>Access Permissions</th>
              <th>Views</th>          
            </tr>
          </thead>
          <tbody  style="width:100%;overflow:auto;">
            <% @role_definition.lot_collections.each_with_index do |lc,i| %>
                <tr>
                  <td><%= lc.collection_name%></td>
                  <td><%= @role_definition.rds_lot_collections[i].rds_lot_collections_menu_options.first.role_access.name %></td>
                  <td><% rds_lc=@role_definition.rds_lot_collections.find_by_Lot_Collection_Id(lc.id) %><%rds_lc.menu_options.each do|menu_option|%>
                        <%= menu_option.product_types.first.Project_Name%> - <%= menu_option.MenuOptionName %><br>
                            <%end%></td>              
                </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>    
      <h5 style="margin-left:1%;text-align: center;"> No Lot Collection(s) Available</h5>
    <% end %>
  <div  class="table-responsive" style="overflow:auto;max-height:400px;-webkit-overflow-scrolling: touch;">
    <table class="table" >                    
        <tr class="table_heading">
          <th>Report Type</th>
          <th>Report Name</th>
          <th>Access Permissions</th>              
        </tr>

        <%unless @all_reports.blank?%>
            <%@all_reports.each do |each_rep|%>
                <tr>
                  <td><%= each_rep.report_type%></td>
                  <td style="white-space:initial !important;word-break:keep-all !important;word-wrap: break-word;"><%= each_rep.display_document_file_name %></td>
                  <td>
                      <% role_access_id = Report.get_access_permission_for_report(each_rep, @role_id,'') %>
                      <% unless role_access_id.blank? %>
                        <%= Access.find(role_access_id).name %>
                      <%else%>
                        No Access
                      <%end%>
                  </td> 
                </tr>
            <% end %>      
        <% end %>

    </table>
  </div>
    <table width="100%">
      <tr>
         <td width="20%">&ensp;<label>Users</label></td>
         <% if @role_users.count !=0%>
            <td><%= link_to "Edit" ,"/users?role=#{@role_definition.id}"%></td>
         <% else %>
            <td></td>
         <% end %>

      </tr>
    </table>
    <% role_users_count = @role_users.count %>
    <% if role_users_count > 0 %>
     <div  class="table-responsive table_bottom" style="overflow:auto;max-height:400px;-webkit-overflow-scrolling: touch;border-bottom:1px solid #dddddd">
        <table class="table table_bottom">                    
            <tr class="table_heading">
              <th>First Name</th>
              <th>Last name</th>
            </tr>

            <% @role_users.each_with_index do |lc,i| %>
                <tr>
                  <td><%= lc.First_Name%></td>
                  <td><%= lc.Last_Name%></td>
                </tr>
            <% end %>

        </table>
      </div>
      <!-- <hr style="margin-top:5px;margin-bottom:5px"> -->
    <% else %>    
          <center><div style="border:1px solid #dddddd;width:50%">No Users with this Role</div></center>
    <% end %>
    
    <div class="buttons_list role_show_btn" style="margin-bottom:1%;">    
    <%=link_to 'Roles List', "/roles" ,class:"btn btn-success"%>
    </div>
	</div>
	<!-- </div> -->
</div>