<% community = @community.delete(" ")%>
<div>		
  <input type="hidden" id="is_draggable" value="false">
  <input type="hidden" id="hover_draggable" value="false">
<object data="/<%= community+"_"+@parcel_map %>.svg" type="image/svg+xml" id="alphasvg" width="100%" height="100%"></object>
</div>

  <div id="view_lot_info_on_hover">
  <div id="modelboxsample">
    <table style="width:100%">
      <tr>
        <td class='tooltip_lbl' style="width:53%">Lot Number<span>:</span></td>
        <td id="Lot_Number"></td>
      </tr>
      <tr>
        <td class='tooltip_lbl' style="width:53%">Plat Number<span>:</span></td>
        <td id="Phase_Name"></td>
      </tr>
       <tr>
        <td class='tooltip_lbl' style="width:53%">Unique ID<span>:</span></td>
        <td id="Unique_ID"></td>
      </tr>
    </table>
  </div>
</div>


<div class="modal fade" id="tie_lot_info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:50%">
      <div class="modal-content">

        <%= form_tag tie_lots_url,:id=>"tie_lot_form", :method => :put do %>
        <%= hidden_field_tag "parcel_name", @parcel_name %>
        <%= hidden_field_tag "parcel_map", @parcel_map %>
        <%= hidden_field_tag "community", community %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Tie Lot</h4>
        </div>
        <div class="modal-body">       
          <div class="table-responsive">
            <label id="Lot_Number" class="td_lbl_visible">Lot Number</label>
            <%= select_tag "ID", options_for_select(all_lots_options(@parcel_name)), :class => "form-control" , :name=>"lot[ID]" %>
          <%= hidden_field_tag "Mapping_ID", '', :name => "lot[Mapping_ID]" %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <div id="tie_lots_of_parcel" class="btn btn-primary">Tie it</div>          
        </div>
      </div>
      <% end %>
    </div>
  </div>
  
    <div class="modal fade" id="retie_lot_info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:50%">
      <div class="modal-content">
        <%= form_tag retie_lots_url,:id=>"retie_lot_form", :method => :put do %>
        <%= hidden_field_tag "parcel_name", @parcel_name %>
        <%= hidden_field_tag "parcel_map", @parcel_map %>
        <%= hidden_field_tag "community", community %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Retie Lot</h4>
        </div>
        <div class="modal-body">        
          <div class="table-responsive">
              <label id="Lot_Number" class="td_lbl_visible">Lot Number</label>
              <%= select_tag "ID", options_for_select(all_lots_options(@parcel_name)), :class => "form-control" , :name=>"lot[ID]" %>
              <%= hidden_field_tag "Mapping_ID", '', :name => "lot[Mapping_ID]" %>
              <%= hidden_field_tag "construction_sales_status_ID", '', :name => "lot[construction_sales_status]" %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <div id="retie_lots_of_parcel" class="btn btn-primary">Retie it</div>             
        </div>
      </div>
      <% end %>
    </div>
  </div>



    <div class="modal fade" id="view_lot_info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:80%">
      <div class="modal-content">        
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel"></h4>
        </div>
        <div class="modal-body">        
          <div class="table-responsive">
            <table style="width:100%" class="table table-bordered table-striped table-hover">    
              <tr>
                  <td style="width:50%">
                    <table  class="table table-bordered table-striped table-hover">  
                      <tr><td style="width:60%">Plat Number</td>
                        <td style="width:40%">
                          <label id="Phase_Name" class="td_lbl_visible">
                          </label>     
                        </td>
                      </tr>
                      <tr><td style="width:60%">Lot Number</td>
                        <td style="width:40%">
                          <label id="Lot_Number" class="td_lbl_visible">
                          </label>     
                        </td>
                      </tr> 
<tr><td style="width:60%">Unique ID</td>
                        <td style="width:40%">
                          <label id="Unique_ID" class="td_lbl_visible">
                          </label>     
                        </td>
                      </tr> 
                       <tr><td>Mapping ID</td>
                        <td>
                          <label id="Mapping_ID" class="td_lbl_visible">
                          </label>     
                        </td>
                      </tr> 	      
                    </table>
                  </td>                  

              </tr>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    	  <button type="button" id="btn_retie" class="btn btn-primary">Retie</button>
        </div>
      </div>      
    </div>
  </div>


  <script>
  var svgObj =  document.getElementById("alphasvg");

    svgObj.addEventListener("load", load_map);
      function load_map () {        
        svgDoc = svgObj.contentDocument.getElementsByClassName("land");
        tiedUntiedStatusColor(svgObj.contentDocument)
        $(svgDoc).each(function(){
        bindDoubleClickEvent(this);
        bindHoverEvent(this);
      })
      }
    function tiedUntiedStatusColor(svgDoc){     
      var path;     
    <% @lots && @lots.each do |l| %>        
      path = svgDoc.getElementById('<%=l.SVG_ID %>');  
      if (path) {                                                 
        path.style.fill = '#00b301';
      }
    <% end %> 
    }
    function bindDoubleClickEvent(selector){      
    $(selector).dblclick(function(){      
      if ($(".ui-dialog.ui-widget.ui-widget-content").length > 0) {
        $(".ui-dialog.ui-widget.ui-widget-content").remove();
      }     
      var lId=mappingId=lotNumber=PhaseName=lot_id=Unique_ID='';
      <% @lots && @lots.each do |tl| %>
                      
        if('<%= tl.SVG_ID %>' == this.getAttribute("id")){ 
          lId = lot_id = '<%= tl.Lot_Number %>';        
          lotNumber = '<%= tl.Lot_Number %>';
          PhaseName='<%= tl.Phase_Name %>' ;
          mappingId = '<%= tl.SVG_ID %>';  
          Unique_ID = '<%=tl.Unique_ID %>'           
        }       
      <% end %>
      if(mappingId){            
        $("#view_lot_info label#Lot_Number").text(lotNumber);
        $("#view_lot_info label#Mapping_ID").text(mappingId);
        $("#view_lot_info label#Phase_Name").text(PhaseName);
        $("#view_lot_info label#Unique_ID").text(Unique_ID);
        $("#view_lot_info").data("lot_id",lot_id).modal({
          backdrop: false,
          keyboard: false,
          show: true
        });   
        $('#btn_retie').unbind().on("click",function (){   
           // alert(lId);
          $('#view_lot_info').unbind().modal();                         
          $('#view_lot_info').modal('hide');          
          $("#retie_lot_info input#Mapping_ID").val(mappingId);
          // tiedLot = $("#retie_lot_info select#ID option[value=" + lId + "]");
          $("#retie_lot_info select#ID").val(lId);
          // $(tiedLot).attr('selected', true);
          //$(tiedLot).text($(tiedLot).text() + '*');
          $('#retie_lot_info').data("lot_id", lot_id).modal({
            backdrop: false,
            keyboard: false,
            show: true
          });
        });     
      }
      else{
        $("#tie_lot_info input#Mapping_ID").val(this.getAttribute("id"));
        $("#tie_lot_info").data("lot_id",lot_id).modal({
          backdrop: false,
          keyboard: false,
          show: true
        });       
      }
    });    
  }
      function bindHoverEvent(selector){
            $(selector).mouseover(function(e){         


         var mouseX = (e.pageX+100)-window.pageXOffset;
               var mouseY = (e.pageY+200)-window.pageYOffset;
               var windowWidth=$(window).width();
               var windowHeight=$(window).height();

               if(windowWidth- mouseX<420){
                   mouseX=mouseX-420;
               }
               if(windowHeight- mouseY<250){
                   mouseY=mouseY-250;
               } 



      var lotNumber=PhaseName=Unique_ID='';
      <% @lots && @lots.each_with_index do |tl, index| %>          
        if('<%= tl.SVG_ID %>' == this.getAttribute("id")){
          lotNumber = '<%= tl.Lot_Number %>';         
          PhaseName = '<%= tl.Phase_Name %>'
          Unique_ID = '<%=tl.Unique_ID %>'  
        } 
      <%end%>
      $("#view_lot_info_on_hover td#Lot_Number").text(lotNumber);
      $("#view_lot_info_on_hover td#Phase_Name").text(PhaseName);
      $("#view_lot_info_on_hover td#Unique_ID").text(Unique_ID);
      $("#view_lot_info_on_hover").dialog({
        position:[mouseX, mouseY],
        create:function (event, ui) {
          $("#view_lot_info_on_hover").prev().hide();
          },                
        resizable:false,
        modal:false,
        width:350,
        closeOnEscape:false,
        draggable:false
      });
  
    });
  
      $(selector).mouseout(function(e){  
        if ($(".ui-dialog.ui-widget.ui-widget-content").length > 0) {
          $(".ui-dialog.ui-widget.ui-widget-content").remove();
        }
      })   
      }


$("#tie_lots_of_parcel").click(function() {
  var mydata = $("#tie_lot_form").serialize();    
  $.ajax({
        type: "GET",
        url: 'tie',
        data: mydata,
        success: function(data) {          
          $("#show_map").html(data);                                
          $(".ui-dialog").remove();
        }
  });
 });

$("#retie_lots_of_parcel").click(function() {
  var mydata = $("#retie_lot_form").serialize();    
  $.ajax({
        type: "GET",
        url: 'retie',
        data: mydata,
        success: function(data) {          
          $("#show_map").html(data);                                
          $(".ui-dialog").remove();
        }
  });
 });
</script>