<%= select_tag "parcels_dropdown", options_for_select(@parcels), :onchange=>"showmap(this.value)", :class => "form-control parcel_dropdown", :autocomplete=>"off"%> 
<div id="show_map"></div>

<script type="text/javascript">
value = $("#parcels_dropdown").val();
community = $("#communities_dropdown").val()
// showmap(value);
showmap(value,community);
function showmap(value){
 $.ajax({
        type: "GET",
        url: 'show_map_based_on_parcel',
        data: {Parcel: value, Community: community},
        success: function(data) {
          $("#show_map").html(data);
        }
});
}
</script>