<div id="content" class='content_mid'>      
    <%= select_tag "communities_dropdown", options_for_select(Tbldatum.get_all_communities), :onchange=>"showparcels(this.value)", :class => "form-control community_dropdown", :autocomplete=>"off"%> 
    <div id="parcel_dropdown"></div>
</div>

<script type="text/javascript">
value = $("#communities_dropdown").val();
showparcels(value);
function showparcels(value){
 $.ajax({
        type: "GET",
        url: 'show_parcels_based_on_community',
        data: {Community: value},
        success: function(data) {
          $("#parcel_dropdown").html(data);
        }
});
}
</script>


