<table id="outer_table" class="table lot_collection_table table_bottom tablesorter">
  <thead>
    <tr class="table_heading">
      <th>City</th>
      <th>Message</th>
      <th>Email Address</th>
      <th>Contact Number</th>
      <th class="sortable_edit"></th>
    </tr>
  </thead>

    <%unless @contact_info.blank?%>
        <%@contact_info.each do |contact_info|%>
            <tr>
                <td><%= contact_info.city_name %></td>
                <td><%= contact_info.Name %></td>
                <td><%= contact_info.Email_Address %></td>
                <td><%= contact_info.Contact_Num %></td>
                <td><%=link_to 'Edit', "/contact_forms/#{contact_info.id}/edit", :style=> "margin-right: 8%;"%></td>
            </tr> 
        <% end %>
    <%else%>
        <tr>
            <td colspan="3">
                <center>No Conatct_info added</center>
            </td>
        </tr>
    <%end%>
    <div id ="ajax_loader" style="display:none">
        <%= image_tag "ajax-loader.gif", :alt => "loader", :id=> "ajax_loader_img" %>
    </div>
</table>
 
<%= javascript_include_tag  "jquery.tablesorter.min.js" %>
<%= javascript_include_tag  "jquery.tablesorter.widgets.js" %>
<%= stylesheet_link_tag    "theme.default" %>
<script>
    $(function(){
        $('table').tablesorter({
            widgets        : ['zebra', 'columns'],
            usNumberFormat : false,
            sortReset      : true,
            sortRestart    : true
        });
    });
</script>