<%= form_for @contact, html: {id: :new_cnt_form }  do |f| %>
          <table>
            <tr>
              <td>&emsp;<label for="first_name">City Name</label>&emsp;</td>
              <td>
                <% if edit_cnt == "no" %>
                  <%= f.select(:city_name, options_for_select(@city_names_select, :selected => ""), {},{ :class => 'form-control' }) %>
                <% else %>
                  &emsp;<%= @contact_info.city_name %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td valign="top">&emsp;<label for="last_name">Contact Form Text</label>&emsp;</td>
              <td><%= f.text_field :Name, :class => "form-control ", :required => true %></td>
            </tr>
            <tr>
              <td valign="top">&emsp;<label for="email">Email</label>&emsp;</td>
              <td><%= f.text_field :Email_Address, :class => "form-control", :required => true %></td>
            </tr>
            <tr>
              <td valign="top">&emsp;<label for="role">Contact Number</label>&emsp;</td>
              <td><%= f.text_field :Contact_Num, :class => "form-control", :required => true %></td>
            </tr>
          </table>
          <div class="create_collection_button"  style="margin-top:0%">
            <button type="submit" class="btn btn-success">Save</button>
            <%= link_to "Cancel", contact_forms_path,:class => "cancel_text_color cancel_css_users_page" %>
          </div>
      <% end %>