<div id="content" class='content_mid'>
    <div class="css_back_to_map_div" >
        <img src="/assets/back_arrow.png" class="css_back_arrow">
        <%= render :partial => 'layouts/back_to_map'%>  
    </div>
    <div class="col-xs-11  col-sm-7 col-md-5 col-sm-push-2 col-md-push-3  col_content_mid xs_cols_push" >
        <div class="names_align names_align_text">Manage Contact Form</div>
        <div class="buttons_list">
        <%= link_to "Add Contact","/contact_forms/new" ,class:"btn btn-success new_contact" %>
        </div>
        <br /><br />

        <hr class="hr_mg">
    
        <%= form_tag contact_forms_path, :method => 'get', :id => "users_search", remote: true do %>
            <table class="floor_plan">
                <tr>
                    <td width="20%"><h6><b></b></h6></td>
                    <td>
                    <%= select_tag "city", options_for_select(@city_names), :class => 'form-control city_search drop_down_select',prompt: "select city"%>
                     <%= submit_tag "Search", :name => "city_search_submit",:id => "city_search_submit", :class => "btn btn-info", :style => "display:none" %>
                    </td>
                </tr>
            </table>
        <% end %>
        <div id="contact_form_list" style="margin-top: 10px;">
            <%= render "contact_forms/contact_form_list"%>  
        </div>
    </div>
</div>

<script>
    $(".city_search").change(function(){
        $("#city_search_submit").trigger("click")
    })
    $(document).ready(function(){
        <% if @matched_cnt == "yes"%>
            $(".new_contact").attr("disabled","disabled")
        <% else %>
            $(".new_contact").removeAttr("disabled")
        <% end %>
    })
    
</script>