<div id="content" class='content_mid'>
  <div class="col-xs-10  col-sm-6 col-md-6 col-lg-4 col-lg-push-4 col-sm-push-3 col-md-push-3  col_content_mid xs_ten_push">
    <div class="names_align">&ensp;Manage Contact Form</div>
    <br/><br/>
    <hr class="hr_mg">
    <div>
      <%= render "form", :edit_cnt => "no"%>
    </div>
  </div>
</div>
<%= javascript_include_tag 'inputmask' %>
<script>

 jQuery.validator.addMethod("usPhoneFormat", function (value, element) {
  value_splitted = value.split("_").join("")
  value1 = value_splitted.replace(/-/g,"")
    return value.match(/^\d{3}\-\d{3}\-\d{4}?$/) || value1=="";
}, "Enter a valid phone number.");

 $("#new_cnt_form").validate({    
    rules: {
      "contact_form[Email_Address]": { 
        email: true ,
        required: true,

      },
      "Contact_Num":{
        required:true,
        maxlength: 20,
      },
      "Name":{
        required:true,
        maxlength: 30,
      } 
    },
    messages: {

  },
    
    errorElement: 'span',
    errorClass: 'help-block',
      highlight: function(element) {
          $(element).closest('.form-group').addClass('has-error');
      },
      unhighlight: function(element) {
          $(element).closest('.form-group').removeClass('has-error');
      }     
  }); 


</script>
<style>
  .input_field{
    width:90%;
  }
</style>