body{
	padding-top: 50px;
}
.help-block{
	color: #D9534F;
}
.well{
	/*border-radius: 0px !important;*/
	border-radius: 0px 0px 2px 2px;
	-webkit-border-radius: 0px 0px 2px 2px;
	-moz-border-radius: 0px 0px 2px 2px;
}
#body_container{
	margin-bottom: 0px !important;
}
#header_container{
	margin-bottom: 10px;
}
#body_container{
	background-color: #fff; /*#4A94CC;*/
	border-radius: 2px 2px 0px 0px;
	-webkit-border-radius: 2px 2px 0px 0px;
	-moz-border-radius: 2px 2px 0px 0px;
    min-height: 500px;
}
.td_tb_hidden{
	display: none;	
}
.td_lbl_hidden, .error_msgs_hidden{
	display: none;
}
.td_tb_visible{
	display: inline;	
}
.td_lbl_visible, .error_msgs_visible{
	display: inline;	
}
.btn_hidden, .tb_hidden{
	display: none
}
.btn_display{
	display: inline
}

.Zebra_DatePicker_Visible{
	display: block !important;	
}
.Zebra_DatePicker_Hidden{
	display: none !important;	
}
.Zebra_DatePicker{
	z-index: 1050 !important;
}
button.Zebra_DatePicker_Icon_Inside{
 left: 87% !important;
 /*top: 30% !important;*/
 top: 25% !important;
}

.tooltip_lbl {   
   text-align: left;  
}
   
.tooltip_lbl span {
   float: right;
   padding-right: 10%;
}
#view_lot_info_on_hover{
	display: none;
}
#view_lot_info{
	z-index: 10 !important;	
}
#upload_images{
	cursor: pointer;
}
/*, #image_display,, #image_edit*/
/*#image_upload ,  #file_upload{
	display: none;	
}*/
.hide_control{
	display: none !important; 
}


span.ui-icon-closethick{
    background-position: -94px -127px !important;
}

a.ui-dialog-titlebar-close{
    height: 23px !important;
    margin: -11px 0 0 !important;
    top: 47% !important;
    width: 24px !important;
}

.ui-dialog{
 z-index: 1060 !important;
}

.img_edit_upload_time {
    float: left;
    width: 29%;
    margin-right: -5%;
}

.img_edit_upload_checkbox {
    float: right;
    margin-right: 52px;
}

 #image_display{
    /*border: 1px solid #aaaaaa !important;*/
}

#crr_map{
    position: relative;
}

#admin_settings{
    margin-right:0.5%;
}

h4#myModalLabel{font-weight: bold;}
#allocation_ids_{
    margin: 24% 0% 0% !important;
}
#ajax_loader, #ajax_loader_common_2{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity:0.5;
    /*background-color: #C0C0C0;*/
    /*z-index: 1300;*/
      z-index: 2185;
}
#ajax_loader_img, #ajax_loader_img_common_2{
    position: absolute;
    top: 25%;
    left: 45%;    
}
.table_heading{
    font-weight: bold;
    background-color: #006698;
    color: white;
}

table.scroll_body tr {
        width: 100%;
        display: table;
        text-align: left;
    }
    table.scroll_body td:nth-child(1)  {
        width: 475px;
    }
    .table tbody + tbody {
        border-top :0px !important;
    }


.main_heading{
    font-weight: bold;
    font-size: 20px;
}

.tb_hidden{
    display: none
}
.tb_visible{
    display: inline;
}
.lb_visible{
    display: inline;
}
.lb_hidden{
    display: none;
}

.cancellation_hidden{
    display: none
}
.cancellation_visible{
    display: inline;
}


.btn_edit_mode{
    display: inline
}
.btn_view_mode{
    display: none
}

.Zebra_DatePicker_Visible{
    display: block !important;  
}
.Zebra_DatePicker_Hidden{
    display: none !important;   
}
.Zebra_DatePicker{
    z-index: 1250 !important;
}
.hide_control{
    display: none !important; 
}
.select_owner_visible{
    display: inline-block !important;
}
.select_owner_hidden{
    display: none !important;
}
.flash_notice{

    text-align: center;
}

.modal.in .modal-dialog{
    -ms-transform: translate(0px, 60px); /* IE 9 */
    -webkit-transform: translate(0px, 60px); /* Chrome, Safari, Opera */
    transform: translate(0px, 60px);
}
.modal-footer {
    border-top: 0px solid #E5E5E5 !important;   
    margin-top: 14px !important;   
    padding: 0 10px 7px !important;  
    margin-bottom: 5px !important; 
}
.modal-body {
    padding: 0px !important;    
}
.modal-header {
    border-bottom: 0px solid #E5E5E5 !important;
}
.doc_edit_upload_checkbox {
    float: right;
    margin-right: 222px;
}


.panel-success
{
    margin-left : 8px;
}

.plan_container
{
    margin-left: 34%;
    width:249px;
    height:299px;
    //background-color:Gray;
    overflow-y: auto;
    max-width:243px;
    max-height:150px;
    border:1px solid;
}

.views_container
{
    margin-left: 25%;
    width : 350px;
    /*height : 138px;*/
    //background-color:Gray;
    /*overflow-y: auto;    */
    border:1px solid;
    border-radius: 5px;
}

.role_lot_collection_builder_div
{
    margin-left:2%;
    overflow-y: auto;
    width:550px;
    height:400px;
    max-width:500px;
    max-height:500px;
}
#legend_border
{
    border: 1px solid;
    height: auto;
    /*margin: 2.7% 0 0 0;    */
    padding: 0.2%;
    float: right;
    width: 97%;
}
#legend2> #legend{  
  margin-bottom:1%;
}
#legend3> #legend{
  margin-bottom: 1%;
}
#legend4> #legend{  
  margin-bottom:1%;
}
#legend5> #legend{
  margin-bottom: 1%;
}
#legend6> #legend{  
  margin-bottom:1%;
}

.menu_for_reports
{
   vertical-align:top;
   /*font-weight:bold;*/
}

.report_types_div
{
   /*display:none;*/
   border:1px solid;
   border-radius:5px;
   margin-left: 132px;
   width: 353px;
}

.no_of_records_css
{
  /*margin-top:10px;*/
  margin-left:16px;
}
.width_for_buttons{
    width: 84% !important;
}
.alert_menu_name{
    float: left;
    line-height: 20px;
    padding:15px 0px;
    color: #999999 ;
    padding-left: 10px;
}
.alert_menu_name_sm{
    color: #999999 ;
    padding-left: 10px;
    margin-top:-10px;
}
 
input[class="chkbox_switcher_disable"] + span::before,
input[class="chkbox_switcher"] + span::before
{
    content: "";
    width: 15px;
    height: 15px;
    margin: 0 4px 0 0;
    border: solid 1px #000000;
    line-height: 14px;
    text-align: center;
     
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
     
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
}
input[class="chkbox_switcher_disable"] + span,
input[class="chkbox_switcher_disable"] + span::before,
input[class="chkbox_switcher"] + span,
input[class="chkbox_switcher"] + span::before
{
    display: inline-block;
    vertical-align: middle;
}
 
input[class="chkbox_switcher_disable"], 
input[class="chkbox_switcher"]
{
    opacity: 0;
    position: absolute;
}
input[class="chkbox_switcher_disable"] + span, 
input[class="chkbox_switcher"] + span
{
    font: normal 11px/14px Arial, Sans-serif;
    color: #333;
}
input[class="chkbox_switcher_disable"]:checked + span::before,
input[class="chkbox_switcher"]:checked + span::before
{
    color: #121212;
}
input[class="chkbox_switcher_disable"]:disabled + span, 
input[class="chkbox_switcher"]:disabled + span
{
    cursor: default;
     
    -moz-opacity: .4;
    -webkit-opacity: .4;
    opacity: .4;
}
input[class="chkbox_switcher_disable"] + span::before, 
input[class="chkbox_switcher"] + span::before
{
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
 
input[class="chkbox_switcher_disable"]:checked + span::before, 
input[class="chkbox_switcher"]:checked + span::before
{
    content: "\2714";
    font-size: 12px;
}
input[class="chkbox_switcher_disable"],
input[class="chkbox_switcher"] {
    width: 15px !important;
    height: 15px !important;
}