.rslides {
 margin: 0 auto 40px;
 }

.callbacks_tabs {
 list-style: none;
 padding: 0;
 background: rgba(0,0,0,.25);
 box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
 -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
 -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
 font-size: 18px;
 list-style: none;
/*Modified by developer*/
 /*margin: 0 auto 50px;*/
 /*max-width: 540px;*/
 padding: 10px 0;
 text-align: center;
 width: 61%;
 position: fixed;
 left: 19%;
 top: 93%;
 }

.callbacks_tabs li {
 display: inline;
 float: none;
 margin-right: 1px;
 }

.callbacks_tabs a {
 width: auto;
 line-height: 20px;
 padding: 9px 20px;
 height: auto;
 background: transparent;
 display: inline;
 }

.callbacks_tabs li:first-child {
 margin-left: 0;
 }

.callbacks_tabs .callbacks_here a{
 background: rgba(255,255,255,.1);
 color: #fff;
 font-weight: bold;
 }

.callbacks_container {
 /*Modified by developer*/
 /*margin-bottom: 50px;*/
    display: inline-block;
  }

.callbacks {
 position: relative;
 list-style: none;
 overflow: hidden;
 width: 100%;
 padding: 0;
 margin: 0;
 }

.callbacks li {
 position: absolute;
 width: 100%;
 left: 0;
 top: 0;
 vertical-align: middle;
 }

.callbacks img {
 display: block;
 /*position: relative;*/
 z-index: 1;
 height: auto;
 width: 100%;
 border: 0;
 }

.callbacks .caption {
 display: block;
 position: absolute;
 z-index: 2;
 font-size: 20px;
 text-shadow: none;
 color: #fff;
 background: #000;
 background: rgba(0,0,0, .8);
 left: 0;
 right: 0;
 bottom: 0;
 padding: 10px 20px;
 margin: 0;
 max-width: none;
 }

.callbacks_nav {
 position: fixed;
 -webkit-tap-highlight-color: rgba(0,0,0,0);
 top: 52%;
 left: 0;
 opacity: 0.7;
 z-index: 3;
 text-indent: -9999px;
 overflow: hidden;
 text-decoration: none;
 height: 61px;
 width: 3%;
 background: transparent url("themes.gif") no-repeat left top;
 margin-top: -45px;
 margin-left: 21%;
 margin-right: 21%;
 }

.callbacks_nav:active {
 opacity: 1.0;
 }

.callbacks_nav.next {
 left: auto;
 background-position: right top;
 right: 0;
 }


@media screen and (max-width: 600px) {
 h1 {
   font: 24px/50px "Helvetica Neue", Helvetica, Arial, sans-serif;
   }
 .callbacks_nav {
   top: 47%;
   }
 }

 #image_display{
   text-align: center; 
 }