.btn-link:hover { text-decoration: none }
      .modal-xl {
        width: 92%;
       max-width:1500px;
      }

  .Phases{
        width:100% !important;        
    }

iframe{
	border: none;
}
.CTA_input_fields_display
{
  margin-top:5px; border-radius:4px !important;font-size:12px !important;height: 25px !important;
}
.normal_lbl{font-weight: normal !important;color: #000000 !important;}
.info_label{color: #000000 !important;}
