
div#fieldChooser {
    /*width: 60%;*/
    height: 300px;
}

.fc-field {
    /*width: 60%;*/
    height: 25px;
    margin: 2% 16%;
    background-color: #ffffff;
    /*border: 1px solid;    */
    text-align: left;
}

.fc-field:hover {
    outline: #cacaca solid 1px;
}

.fc-selected {
    background-color: #ffe284;
}

.fc-selected:hover {
    background-color: #ffd448;
}

.fc-field-list {
    /*width: 60%;*/
    /*width:100%;*/
    height: 300px;
    margin: 0px;
    padding: 3px;
    overflow: scroll;
}

.fc-source-fields {
    /*float: left;*/
    /*width: 55%;*/
    width: 75%;
    float: right;
    margin-right:22%
}

.fc-destination-fields {
    /*float: right;*/
    /*width: 45%;	*/
     width: 75%;
    float: right;
    margin-right:22%;
}


.fc-field:hover
{
    background-color: #FFFFCC;
}
.create_collection_button
{
    
}
.collection_name
{
    /*float:left;*/
    margin-left:0.7%;
    margin-bottom:1%;
}
.lotlevel_table_td
{
    border:0px !important
}
.inner_td_lotlevel
{
    width:50%;text-align:center
}

