
#community_filing_view a,#data_view a{
  cursor:pointer;
}
#community_filing_view body, #data_view body {
  margin: 0;
}
#data_view  a:focus {
  outline: thin dotted;
}

#data_view a:active,
#data_view a:hover {
  outline: 0;
}

#data_view h1 {
  margin: 0.67em 0;
  font-size: 2em;
}
#data_view img {
  border: 0;
}

#data_view svg:not(:root) {
  overflow: hidden;
}

#data_view button,
#data_view input,
{
  margin: 0;
  font-family: inherit;
  font-size: 100%;
}

#data_view button,
#data_view input {
  line-height: normal;
}

#data_view button,
#data_view select {
  text-transform: none;
}

#data_view button,
#data_view html input[type="button"],
#data_view input[type="reset"],
#data_view input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

#data_view button::-moz-focus-inner,
#data_view input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

#data_view  table {
  border-collapse: collapse;
  border-spacing: 0;
}

#community_filing_view *,
#community_filing_view *:before,
#community_filing_view *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#data_view *,
#data_view *:before,
#data_view *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#data_view input,
#data_view button,
#data_view select,
#data_view textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

#data_view button,
#data_view input {
  background-image: none;
}

#data_view a {
  color: #428bca;
  text-decoration: none;
}

#data_view a:hover,
#data_view a:focus {
  /*color: #2a6496;*/
}

#data_view a:focus {
    outline:0 ! important;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

#data_view img {
  vertical-align: middle;
}

#data_view .img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

#data_view .img-thumbnail {
  display: inline-block;
  height: auto;
  max-width: 100%;
  padding: 4px;
  line-height: 1.428571429;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

#data_view .text-left {
  text-align: left;
}

#data_view .text-right {
  text-align: right;
}

#data_view .text-center {
  text-align: center;
}

#data_view h1,
#data_view h2,
#data_view h3,
#data_view h4,
#data_view h5,
#data_view h6,
#data_view .h1,
#data_view .h2,
#data_view .h3,
#data_view .h4,
#data_view .h5,
#data_view .h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
}

#data_view h1,
#data_view h2,
#data_view h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

#data_view h4,
#data_view h5,
#data_view h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

#data_view h4,
#data_view .h4 {
  font-size: 18px;
}

#data_view h5,
#data_view .h5 {
  font-size: 14px;
}

#data_view h6,
#data_view .h6 {
  font-size: 12px;
}

#data_view ul{
  margin-top: 0;
  margin-bottom: 10px;
}

#data_view ul ul
{
  margin-bottom: 0;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}


#data_view .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#data_view .container:before,
#data_view .container:after {
  display: table;
  content: " ";
}

#data_view .container:after {
  clear: both;
}

#data_view .container:before,
#data_view .container:after {
  display: table;
  content: " ";
}

#data_view .container:after {
  clear: both;
}

#data_view .row {
  margin-right: -15px;
  margin-left: -15px;
}

#data_view .row:before,
#data_view .row:after {
  display: table;
  content: " ";
}

#data_view .row:after {
  clear: both;
}

#data_view .row:before,
#data_view .row:after {
  display: table;
  content: " ";
}

#data_view .row:after {
  clear: both;
}

#data_view .col-xs-1,
#data_view .col-xs-2,
#data_view .col-xs-3,
#data_view .col-xs-4,
#data_view .col-xs-5,
#data_view .col-xs-6,
#data_view .col-xs-7,
#data_view .col-xs-8,
#data_view .col-xs-9,
#data_view .col-xs-10,
#data_view .col-xs-11,
#data_view .col-xs-12,
#data_view .col-sm-1,
#data_view .col-sm-2,
#data_view .col-sm-3,
#data_view .col-sm-4,
#data_view .col-sm-5,
#data_view .col-sm-6,
#data_view .col-sm-7,
#data_view .col-sm-8,
#data_view .col-sm-9,
#data_view .col-sm-10,
#data_view .col-sm-11,
#data_view .col-sm-12,
#data_view .col-md-1,
#data_view .col-md-2,
#data_view .col-md-3,
#data_view .col-md-4,
#data_view .col-md-5,
#data_view .col-md-6,
#data_view .col-md-7,
#data_view .col-md-8,
#data_view .col-md-9,
#data_view .col-md-10,
#data_view .col-md-11,
#data_view .col-md-12,
#data_view .col-lg-1,
#data_view .col-lg-2,
#data_view .col-lg-3,
#data_view .col-lg-4,
#data_view .col-lg-5,
#data_view .col-lg-6,
#data_view .col-lg-7,
#data_view .col-lg-8,
#data_view .col-lg-9,
#data_view .col-lg-10,
#data_view .col-lg-11,
#data_view .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

#data_view .col-xs-1,
#data_view .col-xs-2,
#data_view .col-xs-3,
#data_view .col-xs-4,
#data_view .col-xs-5,
#data_view .col-xs-6,
#data_view .col-xs-7,
#data_view .col-xs-8,
#data_view .col-xs-9,
#data_view .col-xs-10,
#data_view .col-xs-11 {
  float: left;
}

#data_view .col-xs-1 {
  width: 8.333333333333332%;
}

#data_view .col-xs-2 {
  width: 16.666666666666664%;
}

#data_view .col-xs-3 {
  width: 25%;
}

#data_view .col-xs-4 {
  width: 33.33333333333333%;
}

#data_view .col-xs-5 {
  width: 41.66666666666667%;
}

#data_view .col-xs-6 {
  width: 50%;
}

#data_view .col-xs-7 {
  width: 58.333333333333336%;
}

#data_view .col-xs-8 {
  width: 66.66666666666666%;
}

#data_view .col-xs-9 {
  width: 75%;
}

#data_view .col-xs-10 {
  width: 83.33333333333334%;
}

#data_view .col-xs-11 {
  width: 91.66666666666666%;
}

#data_view .col-xs-12 {
  width: 100%;
}

@media (min-width: 768px) {
  #community_filing_view{
    z-index: 10000 !important;
  }
  #data_view{
    z-index: 10001 !important;
  }
 #community_filing_view.container,  #data_view .container {
    max-width: 750px !important;
  }
  #data_view .col-sm-1,
  #data_view .col-sm-2,
  #data_view .col-sm-3,
  #data_view .col-sm-4,
  #data_view .col-sm-5,
  #data_view .col-sm-6,
  #data_view .col-sm-7,
  #data_view .col-sm-8,
  #data_view .col-sm-9,
  #data_view .col-sm-10,
  #data_view .col-sm-11 {
    float: left;
  }
  #data_view .col-sm-1 {
    width: 8.333333333333332%;
  }
  #data_view .col-sm-2 {
    width: 16.666666666666664%;
  }
  #data_view .col-sm-3 {
    width: 25%;
  }
  #data_view .col-sm-4 {
    width: 33.33333333333333%;
  }
  #data_view .col-sm-5 {
    width: 41.66666666666667%;
  }
  #data_view .col-sm-6 {
    width: 50%;
  }
  #data_view .col-sm-7 {
    width: 58.333333333333336%;
  }
  #data_view .col-sm-8 {
    width: 66.66666666666666%;
  }
  #data_view .col-sm-9 {
    width: 75%;
  }
  #data_view .col-sm-10 {
    width: 83.33333333333334%;
  }
  #data_view .col-sm-11 {
    width: 91.66666666666666%;
  }
  #data_view .col-sm-12 {
    width: 100%;
  }
  #data_view .col-sm-push-1 {
    left: 8.333333333333332%;
  }
  #data_view .col-sm-push-2 {
    left: 16.666666666666664%;
  }
  #data_view .col-sm-push-3 {
    left: 25%;
  }
  #data_view .col-sm-push-4 {
    left: 33.33333333333333%;
  }
  #data_view .col-sm-push-5 {
    left: 41.66666666666667%;
  }
  #data_view .col-sm-push-6 {
    left: 50%;
  }
  #data_view .col-sm-push-7 {
    left: 58.333333333333336%;
  }
  #data_view .col-sm-push-8 {
    left: 66.66666666666666%;
  }
  #data_view .col-sm-push-9 {
    left: 75%;
  }
  #data_view .col-sm-push-10 {
    left: 83.33333333333334%;
  }
  #data_view .col-sm-push-11 {
    left: 91.66666666666666%;
  }
  #data_view .col-sm-pull-1 {
    right: 8.333333333333332%;
  }
  #data_view .col-sm-pull-2 {
    right: 16.666666666666664%;
  }
  #data_view .col-sm-pull-3 {
    right: 25%;
  }
  #data_view .col-sm-pull-4 {
    right: 33.33333333333333%;
  }
  #data_view .col-sm-pull-5 {
    right: 41.66666666666667%;
  }
  #data_view .col-sm-pull-6 {
    right: 50%;
  }
  #data_view .col-sm-pull-7 {
    right: 58.333333333333336%;
  }
  #data_view .col-sm-pull-8 {
    right: 66.66666666666666%;
  }
  #data_view .col-sm-pull-9 {
    right: 75%;
  }
  #data_view .col-sm-pull-10 {
    right: 83.33333333333334%;
  }
  #data_view .col-sm-pull-11 {
    right: 91.66666666666666%;
  }
  #data_view .col-sm-offset-1 {
    margin-left: 8.333333333333332%;
  }
  #data_view .col-sm-offset-2 {
    margin-left: 16.666666666666664%;
  }
  #data_view .col-sm-offset-3 {
    margin-left: 25%;
  }
  #data_view .col-sm-offset-4 {
    margin-left: 33.33333333333333%;
  }
  #data_view .col-sm-offset-5 {
    margin-left: 41.66666666666667%;
  }
  #data_view .col-sm-offset-6 {
    margin-left: 50%;
  }
  #data_view .col-sm-offset-7 {
    margin-left: 58.333333333333336%;
  }
  #data_view .col-sm-offset-8 {
    margin-left: 66.66666666666666%;
  }
  #data_view .col-sm-offset-9 {
    margin-left: 75%;
  }
  #data_view .col-sm-offset-10 {
    margin-left: 83.33333333333334%;
  }
  #data_view .col-sm-offset-11 {
    margin-left: 91.66666666666666%;
  }
}

@media (min-width: 992px) {
  #community_filing_view{
    z-index: 10000 !important;
  }
  #data_view{
    z-index: 10001 !important;
  }
  #community_filing_view.container, #data_view .container {
    max-width: 970px !important;
  }
  #data_view .col-md-1,
  #data_view .col-md-2,
  #data_view .col-md-3,
  #data_view .col-md-4,
  #data_view .col-md-5,
  #data_view .col-md-6,
  #data_view .col-md-7,
  #data_view .col-md-8,
  #data_view .col-md-9,
  #data_view .col-md-10,
  #data_view .col-md-11 {
    float: left;
  }
  #data_view .col-md-1 {
    width: 8.333333333333332%;
  }
  #data_view .col-md-2 {
    width: 16.666666666666664%;
  }
  #data_view .col-md-3 {
    width: 25%;
  }
  #data_view .col-md-4 {
    width: 33.33333333333333%;
  }
  #data_view .col-md-5 {
    width: 41.66666666666667%;
  }
  #data_view .col-md-6 {
    width: 50%;
  }
  #data_view .col-md-7 {
    width: 58.333333333333336%;
  }
  #data_view .col-md-8 {
    width: 66.66666666666666%;
  }
  #data_view .col-md-9 {
    width: 75%;
  }
  #data_view .col-md-10 {
    width: 83.33333333333334%;
  }
  #data_view .col-md-11 {
    width: 91.66666666666666%;
  }
  #data_view .col-md-12 {
    width: 100%;
  }
  #data_view .col-md-push-0 {
    left: auto;
  }
  #data_view .col-md-push-1 {
    left: 8.333333333333332%;
  }
  #data_view .col-md-push-2 {
    left: 16.666666666666664%;
  }
  #data_view .col-md-push-3 {
    left: 25%;
  }
  #data_view .col-md-push-4 {
    left: 33.33333333333333%;
  }
  #data_view .col-md-push-5 {
    left: 41.66666666666667%;
  }
  #data_view .col-md-push-6 {
    left: 50%;
  }
  #data_view .col-md-push-7 {
    left: 58.333333333333336%;
  }
  #data_view .col-md-push-8 {
    left: 66.66666666666666%;
  }
  #data_view .col-md-push-9 {
    left: 75%;
  }
  #data_view .col-md-push-10 {
    left: 83.33333333333334%;
  }
  #data_view .col-md-push-11 {
    left: 91.66666666666666%;
  }
  #data_view .col-md-pull-0 {
    right: auto;
  }
  #data_view .col-md-pull-1 {
    right: 8.333333333333332%;
  }
  #data_view .col-md-pull-2 {
    right: 16.666666666666664%;
  }
  #data_view .col-md-pull-3 {
    right: 25%;
  }
  #data_view .col-md-pull-4 {
    right: 33.33333333333333%;
  }
  #data_view .col-md-pull-5 {
    right: 41.66666666666667%;
  }
  #data_view .col-md-pull-6 {
    right: 50%;
  }
  #data_view .col-md-pull-7 {
    right: 58.333333333333336%;
  }
  #data_view .col-md-pull-8 {
    right: 66.66666666666666%;
  }
  #data_view .col-md-pull-9 {
    right: 75%;
  }
  #data_view .col-md-pull-10 {
    right: 83.33333333333334%;
  }
  #data_view .col-md-pull-11 {
    right: 91.66666666666666%;
  }
  #data_view .col-md-offset-0 {
    margin-left: 0;
  }
  #data_view .col-md-offset-1 {
    margin-left: 8.333333333333332%;
  }
  #data_view .col-md-offset-2 {
    margin-left: 16.666666666666664%;
  }
  #data_view .col-md-offset-3 {
    margin-left: 25%;
  }
  #data_view .col-md-offset-4 {
    margin-left: 33.33333333333333%;
  }
  #data_view .col-md-offset-5 {
    margin-left: 41.66666666666667%;
  }
  #data_view .col-md-offset-6 {
    margin-left: 50%;
  }
  #data_view .col-md-offset-7 {
    margin-left: 58.333333333333336%;
  }
  #data_view .col-md-offset-8 {
    margin-left: 66.66666666666666%;
  }
  #data_view .col-md-offset-9 {
    margin-left: 75%;
  }
  #data_view .col-md-offset-10 {
    margin-left: 83.33333333333334%;
  }
  #data_view .col-md-offset-11 {
    margin-left: 91.66666666666666%;
  }
}

@media (min-width: 1200px) {
  #community_filing_view{
    z-index: 10000 !important;
  }
  #data_view{
    z-index: 10001 !important;
  }
 #community_filing_view.container, #data_view .container {
    max-width: 1170px !important;
  }
  #data_view .col-lg-1,
  #data_view .col-lg-2,
  #data_view .col-lg-3,
  #data_view .col-lg-4,
  #data_view .col-lg-5,
  #data_view .col-lg-6,
  #data_view .col-lg-7,
  #data_view .col-lg-8,
  #data_view .col-lg-9,
  #data_view .col-lg-10,
  #data_view .col-lg-11 {
    float: left;
  }
  #data_view .col-lg-1 {
    width: 8.333333333333332%;
  }
  #data_view .col-lg-2 {
    width: 16.666666666666664%;
  }
  #data_view .col-lg-3 {
    width: 25%;
  }
  #data_view .col-lg-4 {
    width: 33.33333333333333%;
  }
  #data_view .col-lg-5 {
    width: 41.66666666666667%;
  }
  #data_view .col-lg-6 {
    width: 50%;
  }
  #data_view .col-lg-7 {
    width: 58.333333333333336%;
  }
  #data_view .col-lg-8 {
    width: 66.66666666666666%;
  }
  #data_view .col-lg-9 {
    width: 75%;
  }
  #data_view .col-lg-10 {
    width: 83.33333333333334%;
  }
  #data_view .col-lg-11 {
    width: 91.66666666666666%;
  }
  #data_view .col-lg-12 {
    width: 100%;
  }
  #data_view .col-lg-push-0 {
    left: auto;
  }
  #data_view .col-lg-push-1 {
    left: 8.333333333333332%;
  }
  #data_view .col-lg-push-2 {
    left: 16.666666666666664%;
  }
  #data_view .col-lg-push-3 {
    left: 25%;
  }
  #data_view .col-lg-push-4 {
    left: 33.33333333333333%;
  }
  #data_view .col-lg-push-5 {
    left: 41.66666666666667%;
  }
  #data_view .col-lg-push-6 {
    left: 50%;
  }
  #data_view .col-lg-push-7 {
    left: 58.333333333333336%;
  }
  #data_view .col-lg-push-8 {
    left: 66.66666666666666%;
  }
  #data_view .col-lg-push-9 {
    left: 75%;
  }
  #data_view .col-lg-push-10 {
    left: 83.33333333333334%;
  }
  #data_view .col-lg-push-11 {
    left: 91.66666666666666%;
  }
  #data_view .col-lg-pull-0 {
    right: auto;
  }
  #data_view .col-lg-pull-1 {
    right: 8.333333333333332%;
  }
  #data_view .col-lg-pull-2 {
    right: 16.666666666666664%;
  }
  #data_view .col-lg-pull-3 {
    right: 25%;
  }
  #data_view .col-lg-pull-4 {
    right: 33.33333333333333%;
  }
  #data_view .col-lg-pull-5 {
    right: 41.66666666666667%;
  }
  #data_view .col-lg-pull-6 {
    right: 50%;
  }
  #data_view .col-lg-pull-7 {
    right: 58.333333333333336%;
  }
  #data_view .col-lg-pull-8 {
    right: 66.66666666666666%;
  }
  #data_view .col-lg-pull-9 {
    right: 75%;
  }
  #data_view .col-lg-pull-10 {
    right: 83.33333333333334%;
  }
  #data_view .col-lg-pull-11 {
    right: 91.66666666666666%;
  }
  #data_view .col-lg-offset-0 {
    margin-left: 0;
  }
  #data_view .col-lg-offset-1 {
    margin-left: 8.333333333333332%;
  }
  #data_view .col-lg-offset-2 {
    margin-left: 16.666666666666664%;
  }
  #data_view .col-lg-offset-3 {
    margin-left: 25%;
  }
  #data_view .col-lg-offset-4 {
    margin-left: 33.33333333333333%;
  }
  #data_view .col-lg-offset-5 {
    margin-left: 41.66666666666667%;
  }
  #data_view .col-lg-offset-6 {
    margin-left: 50%;
  }
  #data_view .col-lg-offset-7 {
    margin-left: 58.333333333333336%;
  }
  #data_view .col-lg-offset-8 {
    margin-left: 66.66666666666666%;
  }
  #data_view .col-lg-offset-9 {
    margin-left: 75%;
  }
  #data_view .col-lg-offset-10 {
    margin-left: 83.33333333333334%;
  }
  #data_view .col-lg-offset-11 {
    margin-left: 91.66666666666666%;
  }
}

#data_view  table {
  max-width: 100%;
  background-color: transparent;
}

#data_view th {
  text-align: left;
}

#data_view .table {
  width: 100%;
  margin-bottom: 20px;
}

#data_view .table thead > tr > th,
#data_view .table tbody > tr > th,
#data_view .table tfoot > tr > th,
#data_view .table thead > tr > td,
#data_view .table tbody > tr > td,
#data_view .table tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

#data_view .table tbody + tbody {
  border-top: 2px solid #dddddd;
}

#data_view .table .table {
  background-color: #ffffff;
}

#data_view .table-bordered {
  border: 1px solid #dddddd;
}

#data_view .table-bordered > thead > tr > th,
#data_view .table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}

#data_view table col[class*="col-"] {
  display: table-column;
  float: none;
}

#data_view table td[class*="col-"],
#data_view table th[class*="col-"] {
  display: table-cell;
  float: none;
}

@media (max-width: 768px) {
  #community_filing_view{
    z-index: 10000 !important;
  }
  #data_view{
    z-index: 10001 !important;
  }
 #data_view .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    border: 1px solid #dddddd;
  }
  #data_view .table-responsive > .table {
    margin-bottom: 0;
    background-color: #fff;
  }

  #data_view .table-responsive > .table-bordered {
    border: 0;
  }

}

#data_view label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}

#data_view .form-control:-moz-placeholder {
  color: #999999;
}

#data_view .form-control::-moz-placeholder {
  color: #999999;
}

#data_view .form-control:-ms-input-placeholder {
  color: #999999;
}

#data_view .form-control::-webkit-input-placeholder {
  color: #999999;
}

#data_view .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

#data_view .form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}


#data_view .form-group {
  margin-bottom: 15px;
}


#data_view.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

#data_view.input-lg {
  height: 45px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

#data_view select.input-lg, #community_filing_view select.input-lg {
  height: 45px;
  line-height: 45px;
}

.has-error .help-block,
.has-error .control-label {
  color: #b94a48;
}

.has-error .form-control {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-error .form-control:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

.has-error .input-group-addon {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #b94a48;
}

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}


#data_view .form-horizontal .control-label,
#data_view .form-horizontal .radio,
#data_view .form-horizontal .checkbox,
#data_view .form-horizontal .radio-inline,
#data_view .form-horizontal .checkbox-inline {
  padding-top: 7px;
  margin-top: 0;
  margin-bottom: 0;
}
#community_filing_view .form-horizontal .control-label,
#community_filing_view .form-horizontal .radio,
#community_filing_view .form-horizontal .checkbox,
#community_filing_view .form-horizontal .radio-inline,
#community_filing_view .form-horizontal .checkbox-inline {
  padding-top: 7px;
  margin-top: 0;
  margin-bottom: 0;
}

#community_filing_view .form-horizontal .form-group , #data_view .form-horizontal .form-group {
  margin-right: -15px;
  margin-left: -15px;
}

#community_filing_view .form-horizontal .form-group:before,
#community_filing_view .form-horizontal .form-group:after {
  display: table;
  content: " ";
}

#community_filing_view .form-horizontal .form-group:after {
  clear: both;
}

#data_view .form-horizontal .form-group:before,
#data_view .form-horizontal .form-group:after {
  display: table;
  content: " ";
}

#data_view .form-horizontal .form-group:after {
  clear: both;
}

@media (min-width: 768px) {
  #community_filing_view{
    z-index: 10000 !important;
  }
  #data_view{
    z-index: 10001 !important;
  }
  #data_view .form-horizontal .control-label {
    text-align: right;
  }
  #community_filing_view .form-horizontal .control-label {
    text-align: right;
  }
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}

.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-primary {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #3276b1;
  border-color: #285e8e;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}


.btn-success {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #47a447;
  border-color: #398439;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
          transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}


.btn-default .caret {
  border-top-color: #333333;
}

.btn-primary .caret,
.btn-success .caret,
.btn-warning .caret,
.btn-danger .caret,
.btn-info .caret {
  border-top-color: #fff;
}


.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

#data_view .container .jumbotron {
  border-radius: 6px;
}

@media screen and (min-width: 768px) {
  #community_filing_view{
    z-index: 10000 !important;
  }
  #data_view{
    z-index: 10001 !important;
  }
  .jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  #data_view .container .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
  }
  .jumbotron h1 {
    font-size: 63px;
  }
}

.thumbnail {
  display: inline-block;
  display: block;
  height: auto;
  max-width: 100%;
  padding: 4px;
  line-height: 1.428571429;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.thumbnail > img {
  display: block;
  height: auto;
  max-width: 100%;
}

a.thumbnail:hover,
a.thumbnail:focus {
  border-color: #428bca;
}

.thumbnail > img {
  margin-right: auto;
  margin-left: auto;
}

.thumbnail .caption {
  padding: 9px;
  color: #333333;
}

#community_filing_view .close ,#data_view .close {
  float: right;
  font-size: 21px !important;
  font-weight: bold !important;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.modal-open {
  overflow: hidden;
}

body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
  margin-right: 15px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  display: none;
  overflow: auto;
  overflow-y: scroll;
}

.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
          transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
     -moz-transition: -moz-transform 0.3s ease-out;
       -o-transition: -o-transform 0.3s ease-out;
          transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.modal-dialog {
  z-index: 1050;
  width: auto;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
}

.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: #000000;
}

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}

.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.modal-header {
  min-height: 16.428571429px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-header .close {
  margin-top: -2px;
}

.modal-title {
  margin: 0;
  line-height: 1.428571429;
}

.modal-body {
  position: relative;
  padding: 20px;
}

.modal-footer {
  padding: 19px 20px 20px;
  margin-top: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}

.modal-footer:after {
  clear: both;
}

.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}

.modal-footer:after {
  clear: both;
}

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

@-ms-viewport {
  width: device-width;
}

@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: 320px;
  }
  #community_filing_view{
    z-index: 10000 !important;
  }
  #data_view{
    z-index: 10001 !important;
  }
}

 #data_view  .panel {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}


 #data_view .panel-default {
  border-color: #dddddd;
}


/*============================================================*/


#community_filing_view  .conatiner{
    max-width: none !important;
}
@media (min-width: 400px) {
  #data_view .container, #community_filing_view .container {
    width: 100% !important;
     }
  #community_filing_view{
    z-index: 10000 !important;
  }
  #data_view{
    z-index: 10001 !important;
  }
}

/* For devices larger than 550px */
@media (min-width: 996px) {
  #data_view .container, #community_filing_view .container {
    width: 100% !important; }
  #community_filing_view{
    z-index: 10000 !important;
  }
  #data_view{
    z-index: 10001 !important;
  }
}
#data_view table td {
  background-color: transparent !important;
  font-size: 12px !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  line-height: inherit !important;
 }
 #data_view table {
  margin-bottom: 0px !important;
 }

#data_view .button,
#data_view button,
#data_view input[type="submit"],
#data_view input[type="reset"],
#data_view input[type="button"] {
  height: inherit !important;
  font-weight: normal !important;
  line-height: inherit !important;
  letter-spacing: inherit !important;
  text-transform: none !important;
}
#data_view form{
     margin-bottom: 0rem !important;
}
#community_filing_view .modal-header .close {
  margin-top: -11px !important;
}
#community_filing_view  input, #community_filing_view textarea, #community_filing_view,
#data_view  input, #data_view textarea, #data_view {
  margin-bottom: 0rem !important;
}
#community_filing_view .modal-body{
  max-width:none !important
}
#community_filing_view div, #data_view div{
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
#data_view #plan_details_div table td:nth-child(2){
    padding-left: 5px !important;
}
