.tbldata_pager{
 text-decoration:underline;
 margin: 0 0.2%;
 cursor:pointer;
}
.next_pager, .previous_pager{ 	
 margin: 0 0.2%;
 cursor:pointer;
}
.tbldata_pager:hover{
  text-decoration:underline;
  margin: 0 0.2%;
  cursor:pointer;
  color: #545303;
}
.next_pager:hover, .previous_pager:hover{
  margin: 0 0.2%;
  cursor:pointer;
  color: #545303;
}
.tbldata_pager_selected{
 color: #8E0000;
}
.next_pager_hidden,.previous_pager_hidden{
  display: none;
}
#available_lot_header, #lscd_header, #hscd_header, #anticipated_header, #release_of_dot_header{
    font-size: 22px; font-weight: bold;
}
#available_lot_header_text, #lscd_header_text, #hscd_header_text, #anticipated_header_text, #release_of_dot_header_text {
	
	padding: 1%;
}
.report_summary{	
	padding-left: 1%;	
	font-size: 13px; font-weight: bold;	
}
#pager_data{
	font-weight: bold;
	text-align: center
}
#tbldata_table{
	border: 1px solid #c0c0c0;
	width: 100%;
}
#tbldata_table tr,#tbldata_table tr th,#tbldata_table tr td{
	white-space: nowrap !important;
}
#tbldata_table tr th,#tbldata_table tr td{
	padding-left: 10px !important;
}
#allocation_dd{
	border: 2px solid #DCDCDC;
	width: 25%;
}
#tbldata_no_data{
	font-weight:bold;color: #8E0000;
}
/*#print_excel{
	background-color: #FFFFFF;
    color: #000000;
    padding: 2%;    
}*/
 #lot_sale_close_date_ok, #home_sale_close_date_ok, #anticipated_close_date_ok, #report_of_dot_ok{ 	
    margin-left: 10%;
 }

#report_header, #report_tbldata, #lot_sale_close_date_header, #lot_sale_close_date_data, #home_sale_close_date_header, #home_sale_close_date_data, #anticipated_close_date_header, #anticipated_close_date_data, #release_of_dot_data, #release_of_dot_header_content {
	margin-left: 5%; 
	width: 91%;
}

#lot_sale_close_date_filter, #home_sale_close_date_filter, #anticipated_close_date_filter, #release_of_dot_filter{
	text-align : center;
	margin-bottom: 1%;
 }
 #lot_sale_close_date_filter_content, #home_sale_close_date_filter_content, #anticipated_close_date_filter_content, #release_of_dot_filter_content { 	
    border-radius: 5px 5px 5px 5px;    
    padding: 1%;
    border: 1px solid;    
 }
#allocation_list{
	margin-left: 5%;
	margin-bottom: 1%
}
#report_paging{
	margin-left: 5%; 
	width: 91%; 
	padding-bottom: 2%;
}
#lot_sale_start_date, #lot_sale_end_date, #home_sale_start_date, #home_sale_end_date, #anticipated_start_date, #anticipated_end_date, #release_of_dot_start_date, #release_of_dot_end_date{
    height: 21px;
    margin-left: 8%;
    width: 45%;
    border: 1px solid;
}

#lscd_date_range, #hscd_date_range, #anticipated_date_range, #release_of_dot_range{
	margin-left: 5%;
	font-weight: normal;
	font-size: 15px;
}

.link_back_to_home_page{
	font-weight: bold;
    text-decoration: underline;
}
.link_back_to_reports_home_page{
	font-weight: bold;
    text-decoration: underline;	
}
#report_tbldata{
	border: 1px solid #000000;
    border-radius: 5px;
}
