@media (max-width: 700px){
	#nav_slide{
		min-height:0px !important;
	}
}
@media (max-width: 670px){
	/*for edit modal in manage users*/
	#edit_user_modal > .modal-dialog, #create_user_modal > .modal-dialog, #reinvite_user_modal > .modal-dialog{
		width: 70% !important;
	}
}
@media (max-width: 570px){
	/*for edit modal in manage users*/
	#edit_user_modal > .modal-dialog, #create_user_modal > .modal-dialog, #reinvite_user_modal > .modal-dialog{
		width: 90% !important;
	}
}
@media (max-width: 992px){
	.sm_cols_push{
			margin-left:4%;
	}
}


@media (max-width: 767px){
	#nav_bar_navigation{
		padding-left:0px !important;padding-right:0px !important
	}
    .nav_bar_container_app{
      background-color: #000000;
    }
    #main_navigation{
    	background-color: #dddddd;
	    margin: 0;
    }
    #main_navigation li a span,#main_navigation .dropdown-toggle > span , #main_navigation .dropdown ul a{
	    color: #000000;
	    /*font-weight: bold;*/
	}
	#main_navigation .dropdown-toggle > .dropdown_arrow {
	    border-bottom-color: #000000 !important;
	    border-top-color: #000000 !important;
	}
    .logo-margin-padding
	{
	  margin-top: 1%;
	  width:181px;
	  padding-left:2%;
	}
	.nav .dropdown.open .caret{
    border-top: none;
    border-bottom: 5px solid #000000;
	}
	.navbar-collapse{
		text-align: center;
		/*padding-left: 50% !important;*/
	}
	.nav .dropdown li a:hover{
    background-color: #C0C0C0 !important;
	}
	.navbar-nav > li > a {
		padding-bottom:2px !important;
		padding-top:3px !important;
	}
	.navbar-inverse .navbar-nav > .open > a,
	.navbar-inverse .navbar-nav > .open > a:hover,
	.navbar-inverse .navbar-nav > .open > a:focus {
	  color: #ffffff;
	  background-color: #C0C0C0  !important; 
	}
	.menu_bar_button{
	  margin-right: 4px !important;
	  margin-top: 0px !important;
	  padding: 5px 3px !important;
	  background-color:  #006698 !important;
	  border-color: #006698 !important;
	}
	#nav_slide{
		/*min-height:0px !important;*/
		border: 0px #ffffff  !important;
	}
	#drop > li {
    text-indent: 13px;
	}
	#drop > li > a:hover{
    background-color: transparent !important;
	}
	#nav_slide .navbar-offcanvas{
		top: auto !important;
	}
	#nav_slide.navbar-default{
		background-color: transparent !important;
		border:0px !important;
	}
	.xs_cols_push{
		margin-left:4%;
	}
	.xs_egt_push{
		margin-left:17%;
	}
	.xs_ten_push{
		margin-left:8%;
	}

}
@media (max-width: 410px){
	 .logo-margin-padding
	{
	  margin-top: 1%;
	  width:200px;
	}
	#nav_slide.navbar-offcanvas{
		top: auto !important;
	}
}

@media (min-width: 768px){
	#nav_slide.navbar-default{
		background-color: transparent !important;
		min-height: 10px !important;
		border:0px !important;
	}
	#nav_slide.navbar-offcanvas{
		top: auto !important;
	}
}

@media (max-width: 850px){
	#left.map_render .modal-dialog{
		width:95% !important;
	}
}
@media (max-width: 380px){
	.modal-header .close_in_view_mode:before {
	    content:"\000A";
	    white-space: pre;
	}
	.modal-header .files_upload{
		margin-right: -7px;
	}
}

@media (max-width: 1207px){
	#dialog .modal-header{
		margin-bottom: 2em !important;
	}
}

@media (max-width: 934px){
	#main_nav a.main_menu{
	    margin-right: 0px !important;
	    padding: 0 10px !important;
	}
}
@media (min-width:768px) and (max-width: 786px){
	#main_nav a.main_menu {
	    margin-right: 0px !important;
	    padding: 0 7px !important;
	}
}

@media (max-width: 634px){
	.back_map_div{
		margin-top : 3% !important;
	}
}
@media (max-width: 446px){
	.back_map_div{
		margin-top : 3% !important;
	}
}
@media (max-width: 370px){
	.back_map_div{
		margin-top : 3% !important;
	}
}

#js-bootstrap-offcanvas ul a:hover{
	background-color: transparent !important;
}
.btn_mrg{
	margin-bottom:3px !important;
}

.modal_footer_buttons{
	text-align: right;margin-bottom: 1%;margin-right: 3%;
}

.upload_images_content tbody >tr > td{
	border-top:0px !important;

}
.upload_images_content tbody >tr > td:first-child{
	width: 17%;
  	/*padding: 0px !important;*/
  	vertical-align: middle;
  	padding-left:3%;
}

.modal_title_ui{
	font-size:13px;margin-top: 1% !important;padding-left: 2%;
}
.modal_title_cross_button{
	margin-top:1% !important;margin-right:2%
}
#image_upload_modal  .modal-header ,  #file_upload_modal  .modal-header, #add_images_gallery_modal .modal-header{
	padding: 5px !important;	
}
.header_hgt .modal-footer{
	width:90%;float:right;margin:-5px !important;margin-right:-14px !important
}
.clk_header{
	font-weight:normal;width:98%;
}
#content.content_mid{
	padding-right: 0px !important;padding-left: 0px !important;
}
.hr_mg{
	margin-top:10px !important;margin-bottom:10px !important
}
.names_align_text{
	text-align:left !important;float:none
}




/*lot_collection*/
@media (max-width: 555px){
	.lc_show table td.inner_td_border{
		width:32%;
	}
	.lc_show_plans{
		margin-left: 33% !important;
	}
	.lc_edit_txt_fld{
		width:100% !important;
	}
}
@media (max-width: 453px){
	.lc_show table td.inner_td_border{
		width:44%;
	}
	.lc_show_plans{
		margin-left: 46% !important;
	}
	.lc_show_btn_list{
		margin-top:2%;
	}
	.lc_src_desc_fields{
		width:113px !important;
	}
}
@media (min-width: 767px) and (max-width: 1111px){
	.lc_show table td.inner_td_border{
		width:29%;
	}
	.lc_show_plans{
		margin-left: 31% !important;
	}
}


/* roles*/
@media (max-width: 453px){
	.add_role_btn{
		margin-top:1% !important;
	}
	.role_show_btn{
		margin-top:2%;
	}
}

/*lot fields*/
@media (max-width: 425px){
	.lt_fileds_btn{
		margin-top:2%;
	}
}

/*status_color*/
@media (max-width: 400px){
	.edit_stst_clr_frst_td{
		width:36% !important;
	}
	.edit_sts_clr tr td:nth-child(2) input{
		width:70% !important;
	}

}

/*contact form */
@media (min-width: 350px)and (max-width: 438px){
	.ctc_frm_td{
		width:34% !important;
	}
}

/* lot type */
@media (max-width: 385px){
	.lt_type_nme_edit{
		font-size: 11px;
		width:40%;
	}
	.txt_lt_type_new{
		width:100%;
	}
	.edt_type_td{
		font-size:11px;
	}
}

/*lot status */
@media (max-width: 358px){
	.display_nms td{
		font-size:11px;
	}
	.display_nms_txt{
		width: 120px !important;
	}
}

@media (min-width: 320px){
	.lot_status_table{
		margin-top: 22px !important;
	}
}

@media (max-width: 318px){
	.lot_status_table{
		margin-top: 53px !important;
	}
}


/*tblusers*/
@media (max-width: 1195px){
  .tblusers_tbl td, .tblusers_tbl th{
      width: 134px;
  }
  .tblusers_div{
    overflow-x: scroll;
  }
  .tblusers_tbl th{
  	white-space: nowrap !important;
  }
}


/*fixed header for reports*/
.fix_footer{
	position:fixed;width:100%;bottom:0px;padding:6px 0 0
}
