/*
Design by Metamorphosis Design
http://www.metamorphozis.com
Released for free under a Creative Commons Attribution 2.5 License
*/

* {
    border: 0;
    margin: 0
}

.fleft {
    float: left;
    margin-left: 2%;
}

.fright {
    float: right;
    margin-right: 2%;
}

.fclear {
    clear: both
}

img {
    border: 0
}

a {
    /*color: #4F6383;*/
    text-decoration: none
}

a:hover {
    text-decoration: none;
    color: #4F6383
}

body {
    font: 12px Arial, Helvetica, sans-serif;
    color: #000;
    /*background: #A9A9A9;*/
}

#main {
    /*width: 95%;*/
    margin: 0 auto;
    padding: 0;
}

#bg {
    background: white;    
}

#header {
   /* height: 80px;
    padding: 16px 0 0 135px;*/
}

#comp_logo {
    background: url("/assets/logo.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 120px;
    margin-left: -403px;
    margin-top: -138px;
    position: absolute;
    width: 324px;
}

#logo {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 18px;
    font-style: italic;
    padding: 91px 0 0 270px;
    background: url() left top no-repeat;
    height: 60px
}

#logo a {
    text-decoration: none;
    text-transform: lowercase;
    font-style: italic;
    font-size: 18px;
    color: #fff
}

#logo H2 a {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: none;
    font-weight: 100
}

#metamorph {
    float: right;
    padding: 0px 140px 0 0;
}

#buttons {
    background-color: #225EA8;
    border-radius: 10px 10px 10px 10px;
    height: 51px;
    margin-left: 220px;
    padding-left: 12px;
    padding-top: 2px;
    text-align: center;
    width: 780px;
}

#buttons a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    display: block;
    float: left;
    height: 33px;
    text-decoration: none;
    color: #fff;
    padding-top: 15px;
    padding-left: 0;
    text-align: center;
    width: 135px;
    background: url() 30px 20px no-repeat
}

#buttons a:hover {
    //text-decoration: underline;
    background: url(/assets/temp/but_ov.png) top repeat-x
}

#buttons div.dummy {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: block;
    float: left;
    height: 33px;
    text-decoration: none;
    color: #fff;
    padding-top: 15px;
    padding-left: 0;
    text-align: center;
    width: 135px;
    background: url() 30px 20px no-repeat
}

#top {
    height: 0px;
    width: 1200px;    
    background: url(/assets/temp/top.png) left top no-repeat;
    background-size: 100%;
}

#content {
   /* width: 1200px;*/
    padding: 8px 0 0 15px;
    background: url(/assets/temp/cont.gif) 656px 0 repeat-y #fff;
    margin: 0;
    line-height: 19px;
    /*min-height: 595px;*/
}

.content_mid {
    position: relative;
    background: #fff !important;
    min-height: 257px;
}

.inner_copy {
    border: 0;
    color: #f00;
    float: left;
    width: 50% !important;
    margin: -100% 0 0 0;
    overflow: hidden;
    line-height: 0;
    padding: 0;
    font-size: 11px
}

#left {
    width: 636px;
    /*margin: 0 0 0 10px;*/
    float: left;
    color: #000
}

.razd {
    height: 20px;
    border-top: 1px solid #C4C5C5
}

.right_b {
    padding-left: 0;
    padding-right: 5px
}

.text {
    padding: 0
}

.img {
    float: left;
    margin: 4px 10px 3px 0
}

.img_fr {
    float: right;
    margin: 4px 20px 3px 13px
}

#left span {
    color: #4F6383;
    font-weight: bold
}

#right span {
    color: #4F6383;
    font-weight: bold
}

#left H1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: #0661EC;
    text-align: left;
    padding: 5px 0 15px 0
}

#right H1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: #0661EC;
    padding-top: 12px;
    padding-left: 0;
    text-align: center;
    padding: 5px 0 15px 0
}

.read {
    text-align: right;
    padding-right: 10px;
    padding-top: 5px;
    font-weight: bold;
    text-decoration: none
}

.read a {
    border-bottom: 1px dotted #4F6383
}

.read a:hover {
    border-bottom: none
}

#right {
    float: right;
    width: 310px;
    margin-right: 24px;
    padding: 0
}

.tit_bot {
    background: url() left top no-repeat;
    padding: 0 8px 0 8px
}

.tit_mid {
    padding: 5px 8px 0 436px;
}

.col_l {
    float: left;
    width: 295px
}

.col_l_sign_in {
    width: 330px;
}

.col_r {
    float: right;
    width: 295px;
    padding-right: 5px
}

.col_top {
    background-color: #225EA8;
    border-radius: 10px 10px 0 0;
    height: 41px;
    text-align: center;
    width: 295px;
}

.col_top_bot {
    background-size: 330px auto !important;
    width: 330px !important;
}

.col_top H5 {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    padding-top: 12px;
    font-weight: 100
}

.col_mid {
    padding: 13px 11px 5px 11px;
    background: #EDEDEE
}

.col_bot {
    background: url(/assets/temp/bot_b.gif) bottom no-repeat;
    width: 295px;
    height: 12px
}

#footer {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 1px solid #C4C5C5;
    clear: both;
    color: #000000;
    font-size: 12px;    
    /*padding: 1% 0 0;*/
    text-align: center;    
}



#footer a {
    color: #000;
    font-size: 12px;
    text-decoration: none
}

#footer a:hover {
    color: #000;
    font-size: 11px;
    text-decoration: underline
}

div.wel_msg {
    color: #F7DE60 !important;
    font-weight: bold;
    font-size: 16px !important;
    width: 405px !important;
    text-align: right !important;
}

/**************** Login page **************/
#left.login_main_wrapper {
    min-height: 300px;
}

#login_firstname_wrapper, #login_email_wrapper, #login_password_wrapper, #login_submit_wrapper {
    position: relative;
    left: 25px;
}

#login_firstname_wrapper .l_lbl, #login_email_wrapper .l_lbl, #login_password_wrapper .l_lbl {
    text-align: left;
    font-size: 14px;
}

#login_firstname_wrapper .l_ctrl, #login_email_wrapper .l_ctrl, #login_password_wrapper .l_ctrl {
    display: block;
    width: 200px;
}

#login_submit_wrapper {
    left: 120px;
}

.login_wrapper #submit_button {
    width: 80px;
    height: 25px;
    font-weight: bold;
    background: #8F8F8F;
    border: 1px solid #000;
}

.login_wrapper #First_name, .login_wrapper #Email_Address, .login_wrapper #Password {
    width: 250px;
    height: 25px;
    border: 1px solid #000;
}

#login_firstname_wrapper .mand_star, #login_email_wrapper .mand_star, #login_password_wrapper .mand_star {
    display: inline;
    color: #AA00FF;
}

.error_msg {
    color: red;
}

/*************** Map page ***************/
#left.map_render {
    /*width: 75%;*/
    position: relative;
}

#left.map_sender {
    width: 100%;
    min-height: 300px;
}
/*.svgview {				Commented since using this feature
    position: relative;    for IPad touch functionable
    overflow: hidden;      using along with container .svgview
    /*margin: 4% 0 0 0%;*/
}*/
#views_list, #list_users{
   /* margin: 2% 2.6% 0 -0.5%;
    width: 1127px;*/
    width:100%;
    margin-top:2%;
}

#alphasvg {
    float: left;
    position: relative;
}

#main_nav{
    background: none repeat scroll 0 0 #FFFFFF;
    margin: -8px 0 0 4px;
    position: fixed;
    /*right:0;*/
    /*left: -21px;*/
    left : -0.3%;
    z-index: 1030;    
    border-bottom-width: 1px;    
    height: 5%;
    width: 100%;
    padding: 0.6%;
    z-index: 1;
    /*border-bottom: 1px solid #C4C5C5*/
}

#main_nav a {
    width: 200px;
    //color: #FFFFFF;
    //background-color: #225EA8;
    padding: 8px 16px;
    //border-radius: 4px 4px 0 0;
    margin-right: 5px;
}

#main_nav a:hover, #main_nav .active {
   // background-color: #FFFFFF;
    color: #B13E0F;
}

#sub_nav {
    border: 0;
    color: #f00;
    float: left;
    margin: -13px 0 0 40%;
    line-height: 0;
    padding: 0;
    font-size: 15px;
    font-weight: bold;
}

#sub_nav a {
    width: 200px;
    color: #FFFFFF;
    background-color: #225EA8;
    padding: 4px 16px;
    border-radius: 4px 4px 0 0;
    margin-right: 2px;
}

#sub_nav a:hover, #sub_nav .active {
    background-color: #FFFFFF;
    color: #B13E0F;
}

#content > img {
    left: 42%;
    position: absolute;
    top: 20%;
}

/********* File upload page **********/
.col_top_bot_upload {
    background-size: 400px auto !important;
    width: 400px !important;
}

.col_l_upload {
    width: 400px;
}

/** copied from index.html.erb**/
#dialog, #dialog_toolltip, #dialog_viewmode, #dialog_unmapped_lot, #admin_dialog, #lotdatapopup {
    display: none;
}



.tooltip_lbl {
    width: 220px;
    text-align: left;
    color: #9D0903;
}
.tooltip_lbl_hover {
    width: 50%;
    text-align: left;
    color: #9D0903;
}

.dialog_admin_view_edit_lbl {
    width: 250px;
    text-align: left;
    color: #9D0903;
}

.tooltip_lbl span {
    float: right;
    padding-right: 6px;
}

.dialog_admin_view_edit_lbl span {
    float: right;
    padding-right: 6px;
}

.dialog_admin_view_edit_data {
    min-width: 120px;
}

.tooltip_data {
    min-width: 120px;
}

#dialog select, #dialog_unmapped_lot input, #dialog_unmapped_lot select {
    background: #EBEBEB;
    border: 1px solid #000;
}

#dialog select, #dialog_unmapped_lot select {
    width: 151px;
}

/* Firefox3-specific CSS property for header_right.gif */
@-moz-document url-prefix() {
		 #dialog select, #dialog_unmapped_lot select{
		   width:164px;
		 }
	 }

 #map_svg {
    float: right;
    width: 80px;
    height: 25px;
    font-weight: bold;
    background: #8F8F8F !important;
    border: 1px solid #000;
}

#update_images,#upload_file_btn {
    /*margin-top: 20px;
    */width: 80px;

    height: 28px;
    /*margin-top: 20px;*/
    padding-top: 4px;    
    width: 70px;


}
 #dialog_toolltip #view_edit_full_details, #dialog_toolltip #view_images_on_touch {
    height: 20px;
    font-weight: bold;
    color: #9D0903;
    text-decoration: underline;
}
#dialog_toolltip #view_edit_full_details div, #dialog_toolltip #view_images_on_touch div{
     height: 20px;
}

.ui-widget-content a.view_images, #dialog_toolltip #view_edit_full_details div  {
    color: #9D0903;
}

#map_svg {
    margin: 15px 65px 0 0;
}

.ui-widget {
    font-family: Arial, Helvetica, sans-serif;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: Arial, Helvetica, sans-serif;
}

#legend {
   height: auto;
   min-height: 20px;
   width: auto;
   /*position: fixed;*/
   //left: 926px;
   top: 103px;
   z-index: 1;
   background-color: #E8E8E8;    
   padding: 5px;
   /*right: 94px;*/
}

#legend_title {
    text-align: center;
    min-height: 25px;
    width: 100%;
}

.legend_text {
    vertical-align: top;
}

.legend_color {
    width: 12px;
    height: 12px;
    min-height: 8px;
    text-align: center;
    display: inline-block;
    margin-top: 1.3%;

    }

.legend_data {
    clear: both;
    margin-top: 3px;
    /*height: 20px;*/
}

/*#legend_img {
    float: right;
    display: block;
    min-height: 24px;
}*/

.individual_price1 {
    color: #FE00FF !important;
}

.individual_price2 {
    color: #080E86 !important;
}

.svg_upload_home {
    text-decoration: underline;
    margin-left: 50px;
    font-weight: bold;
}

.img_upload_time {   
    font-weight: bold;    
    background-color:green; 
    z-index: 1;
    position: absolute;
    right: 0px;    
}

.img_edit_upload_time {
    float: left;
    width: 200px;
    margin-right: 20px;
}

.img_edit_upload_checkbox {
    float: right;
}
a.ui-dialog-titlebar-close{
    height: 23px !important;
    margin: -11px 0 0 !important;
    top: 47% !important;
    width: 24px !important;
}
span.ui-icon-closethick{
    background-position: -94px -127px !important;
}
a.ui-state-hover{
    background-image: none !important;
}
.dialog-main-table{
  width: 100%;
}
.dialog-sub-table{
    width: 48%;
}

#dialog_toolltip .modal-body{
position: relative;
padding: 0px;
}
#dialog_toolltip .modal-body .table{
margin: 0px;
}
#dialog_toolltip .modal-body .table tbody > tr >td{
 color:#B13E0F;
}

#dialog_toolltip .modal-body .table tbody > tr >td > label{
font-size: 100%;
  font-weight: normal;
  line-height: 1;
  color: black;

}



#dialog_toolltip .modal-body .table thead > tr > th,
#dialog_toolltip .modal-body .table tbody > tr > th,
#dialog_toolltip .modal-body .table tfoot > tr > th,
#dialog_toolltip .modal-body .table thead > tr > td,
#dialog_toolltip .modal-body .table tbody > tr > td,
#dialog_toolltip .modal-body .table tfoot > tr > td {
  padding: 3px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
#validation_messages{
    border: 1px solid #AAAAAA;
    border-radius: 6px 6px 6px 6px;
    color: #FF0000;
    padding: 2%;    
    background-color: #D5D5D5;
}
#validation_header{
    color: #000000;
    font-weight: bold;
    margin-bottom: 4px;
    text-align: center;
}
#validation_error{
    padding: 0% 8%
}

.navbar{
    height: 0px !important;
}

.navbar-nav > li > a{
    padding-bottom: 15px !important;
}
.cancel_text_color, .cancel_text_color:hover, .cancel_text_color:visited {
    color: red;
    margin-left: 5px;
}
.cancel_btn_css
{
    /*position: relative;*/
    top: 10px;
    margin-left: 5px;
    color:red;
}
.cancel_css_users_page
{
   margin-left:5px;
   font-weight: normal;
   font-size: 15px; 
}
.ui-widget-header
{
    background:none;
}
.cancel_css_access_level_page
{
   font-weight: normal;
   font-size: 15px;
   float: right;   
}
.btn_save_css
{
    height: 32px;
}
.upload_err_css
{
    color: red;
    margin-left:3%;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, 
.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus 
{
     border: none !important; 
     background: none !important;
     font-weight: normal !important; 
}

.panel-success > .panel-heading
{
    background-color: white !important;
    color: black !important; 
    padding-left: 4px;   
}

.btn-success
{
    margin-top: -3px !important; 
}

.panel-success
{
    border-color: black !important;
}

.panel-title-margin-left
{
    margin-left: 10px;
}

.text_center
{
    text-align: center; 
    padding-top: 16px !important;
}
.ui-widget-header
{
    border: none !important;   
}
.border_upload_popup
{
    /*border-style: inset;
    border-width: 2px;
    margin-left: -15px;
    margin-top: -9px;
    width: 106%;
    font: 15px Arial,Helvetica,sans-serif !important;
    opacity: 0.4;*/
    border: 1px solid #dddddd;
    opacity: 0.3;
}
.margin_top_upload_popup
{
    margin: 10px 0;
}

span.ui-icon-closethick
{
    opacity: 0.2 !important;
}
span.ui-icon-closethick:hover
{
    opacity: 2 !important;
}

#edit_user_group,#delete_user_group{
    cursor: pointer;
}
body
{
font: 12px Arial,Helvetica,sans-serif !important;
font-family : "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
h4
{
    font-size: 15px !important;
    font-weight: bold !important;
}
.dropdown-menu
{
  font: 12px Arial,Helvetica,sans-serif !important;
  font-family : "Helvetica Neue",Helvetica,Arial,sans-serif !important;  
}
#main_nav
{
    font: 13px Arial,Helvetica,sans-serif !important;
    font-family : "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.btn
{
    font: 13px Arial,Helvetica,sans-serif !important;
    font-family : "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
#dialog_toolltip
{
     font: 12px Arial,Helvetica,sans-serif !important;
    font-family : "Helvetica Neue",Helvetica,Arial,sans-serif !important;   
}
#tbldata_tbldataattachments_file_wrap_list
{
    font: 13px Arial,Helvetica,sans-serif !important;
    font-family : "Helvetica Neue",Helvetica,Arial,sans-serif !important;  
}
.font-family-images
{
    font: 14px Arial,Helvetica,sans-serif !important;
    font-family : "Helvetica Neue",Helvetica,Arial,sans-serif !important; 
}
.cancel_btn_css_reports
{
    top: 10px;
    margin-left: 5px;
}
#dialog select, #dialog_unmapped_lot select
{
    width: auto !important;
}
.ui-widget-content a 
{
    color: #428BCA;
}
.landing_page_image
{    
    /*margin: 0% 0 0 14%;*/
}
.landing_page_image img
{
    margin-left:auto !important;margin-right:auto !important;
}
.tie_retie_css
{
    margin: 2% 2.6% 0 0%;
}
.svg_css_for_comm_page
{
     text-align: center;
}




.modal-body .table-responsive .table
{
    margin-bottom:0px !important;
    border-bottom:0px;
    border-right:0px;
    border-left:0px
}
.table-responsive .table #outer_td
{
    width:50%;
    border:0px;
    /*border-collapse:collapse*/
}
.table-responsive .table .outer_td
{
    width:50%;
    border:0px;
    /*border-collapse:collapse*/
}
.table-responsive .table .inner_tr td
{
    /*width:50%;*/
    /*border-collapse:collapse*/
}
#dialog .modal-content
{
    box-shadow:none !important
}
.modal-body .table-responsive .table #validation_msgs_td
{
    border-bottom:0px;
    border-right:0px;
    border-left:0px
}
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
background-color: #ffffff !important;
}


.menudisable
{
    pointer-events: none;
    opacity:0.5;
}

.Pop_links
{
    color : #0000E0;
    font-weight: bold;
    text-decoration: underline;
}
#list_documents
{
    /*margin-left: -2%;*/
    /*margin-top: 4%;*/
    /*width: 94%;*/
}

/*.nav>li>a{
    padding-right: 0% !important;
}*/

.container>.dropdown:first-child>a
{
    /*padding:0px !important;*/
}

.community_dropdown
{
    margin: 1% 36%;
    width: 15%;
}
.parcel_dropdown
{
    margin: 1% 36%;
    width: 15%;
}
.index_parcel_dropdown
{
    margin: 1% 27%;
    width: 46%;
}
#legend_keys_ids_
{
    margin-top: 3px;
    vertical-align: top;
}

.container {
  /*padding-right: 4% !important;    */
  padding-left: 0 !important;
}

.container .svgview {
    position: absolute;    
    height: 100%;
    width: 100%;    
}

@media (max-width: 770px){
    .alert_menu_name{font-size:10px;}
}
@media (min-width: 771px){
    .alert_menu_name{font-size:12px;}
    
}

@media (max-width: 774px){
    .logo-margin-padding { margin:7px !important; margin-right:0px !important;  margin-left: 4px !important;;padding-left: 3.5%;}
}
@media (min-width: 775px){
    .logo-margin-padding { margin:7px !important; padding-left: 8.5%;margin-right:0px !important;  margin-left: 4px !important;}
}

.lot_collection_button_table_td{
width:50%;
/*border-top:0px !important;*/
/*word-break:break-all;*/
word-wrap:break-word;
}

.lot_collection_table
{
    table-layout:fixed;
    width:100%;
    border-top:1px solid black;

}
.lot_collection_index_delete
{
    /*text-decoration:underline;*/
    color:red;
    margin-left:13%
}
.collection_name
{
    /*font-size: 13px;*/
    margin-left: 5px;
    margin-left: 0.7%;
    margin-bottom: 1%;
    font-weight: bold;
}
.collection_count
{
    font-size: 13px;
    margin-left: 5px;
    margin-left: 0.7%;
    margin-bottom: 1%;
    font-weight: bold;
    color: #4F6383;
}

.lots_of_parcel_table tbody > tr > td {
padding: 8px;
line-height: 1.428571429;
vertical-align: top;
}
.input_filed_border{
    border:1px solid #000000;
    border-radius:3px;
    padding-left:5px;
}
/*.create_collection_button
{
    margin-top:-3%;
    float:right;
    margin-right:0.7%;
}*/
    .create_collection_button
    {
    /*float: right;*/
    text-align: right;
    margin-bottom: 2%;
    margin-right: 2.7%;
    margin-top: 5%;
}

.inner_tr>td:first-child
{
    width:31%;
    text-align: right;
    font-weight:bold;
}
.inner_tr_tooltip>td:first-child
{
    text-align: right;
}
.inner_tr>td:nth-child(2)>label
{
    font-weight:normal !important;

}
.inner_th>td
{
    background-color: #000000 !important
}
.table_th:first-child
{
    border-top: 0px solid #ffffff !important;
    /*border-right: 0px solid #ffffff !important;*/
}

.table_th:nth-child(2)
{
    border-top: 0px solid #ffffff !important;
    border-left: 0px solid #ffffff !important;
}
.inner_table
{
    margin-top:1%;
}

.floor_create_collection_button
{
    float:right;
    margin-right:0.7%;
}
.names_align
{
    float:left;
    margin-left:1%;
    font-size:14px;
    margin-top:2%;
    font-weight:bold;
}
.floor_names_align
{
    float:left;
    margin-left:1%;
    font-size:14px;
    margin-top:1%;
}
.lot_name
{
    margin-left:1%;
}
.builder_create
{
    margin-top:2%;
}
.floor_plan {
   width: 100%;
   border-top:0px !important;
   margin-left:1%;
}
/*.builder_show
{
    height:195px;
    overflow-x:hidden;
    overflow-y: auto;
    width:100px;
}*/
.main_lable
{
    float:left;
    margin-left:0.5%;
    font-size:16px;
    font-weight:bold
}
.col_content_mid
{
    border:1px solid #000000;
    border-radius:5px;
    margin-top:2%;
    padding:0px !important;
}
.drop_down_select
{
    width:50%;
    margin-left:3%
}
.buttons_list
{
    float:right;
    /*margin-right:1%*/
    margin:1%;
    margin-bottom:0%
}
#index_plans
{
    height:200px;
    overflow-x:hidden;
    overflow-y: auto;
}
#role_lots_collection
{
    width:100%;
    height:290px;
    /*overflow-x:hidden;*/
    overflow-y: auto;
}
.input_width
{
    width:50%;
}
.edit_button
{
    margin-top:5%;
    margin-bottom:2%
}
.lots_of_parcel_table
{
    margin-left:16.8%;
}
.no-border > tbody >tr >td{
    /*border-left:0px !important;*/
    /*border-right:0px !important;*/
    /*border-bottom:1px !important;*/
}
.realtor_details
{
    display:none;

}
.referral_details
{
    display:none;

}
.collection_buttons
{
    margin-top:0px;
    margin-right:0px
    float:right;
}
.table_bottom
{
    margin-bottom:0px !important;
}
.inner_td_border
{
    width:25%;
    border:0px !important;
}
.builder_div
{
    width:50%;
    margin-bottom:5px;
    border:1px solid #dddddd;
    margin-left:25%;
    border-radius:2px;
}
.builder_index_plans
{
    width:50%;
    margin-bottom:5px;
    border-bottom:1px solid #dddddd;
    border-top:1px solid #dddddd;
}
.sort_table
{
    border-bottom:0px !important
}
.sortable_edit
{
    background-image:none !important;
}
.archive
{
    margin-left:13%;
    cursor: default;
}
#destinationFieldsUnavailable{
    width: 75%;
    float: right;
    margin: 2% 22% 0% 0%;
    height: 200px;
    overflow: scroll;
}
.break_for_lot_ids
{
    width:20%;
    word-break:break-all;
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation:portrait){
  .landing_page_image{
      /*margin: 0 0 49% -32%;
      padding: 30% 0 0 0;
      position: fixed;
      right: -150px;*/
    }

   .container{
    margin: 0 0 47% 0%;
   } 

   .table {
        table-layout: fixed;
        word-break: break-all;
   }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation:landscape) {
 /* .landing_page_image{    
      margin: 10% 0 0 -82%;
      position: fixed;
      right: -150px;
    }*/
  
  .container{
    margin: 0 0 9% 0%;
   }

  .table {
        table-layout: fixed;
        word-break: break-all;
   }
}
.form-control
{
    color:#000000 !important;
}
#dialog select
{
    background: #ffffff !important;
}
.image_rotate_oncollapse
{
    /*float:right;*/
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.image_rotate_onexpand
{
    /*float:right;*/
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.css_back_to_map_link
{
   font-weight:bold;
   text-decoration:underline;
}
.css_back_arrow
{
   /*width:1%;*/
   width:12px;
   /*left:70.5% !important;
   top:1.5% !important;*/
}
.css_back_to_map_div
{
    text-align: right;
    margin-right: 1%;

}
#update_notification
{ 
  width: 34%;
  margin: auto;
  text-align: center;
  font-size: 14px;
}
#update_notification.alert{
    padding: 4px !important;
}
.header_hgt{
    min-height: 45px !important
}
#dialog select.lot_builder_disabled
{
    background:#EEEEEE !important;
}
.OverlayIcon 
{
    position: relative;
    margin-left: -25%
}
/*show the images strip only on hover*/
.pp_gallery
{
  display: none;
}
.pp_content_container:hover .pp_gallery{
  display: block !important;

}
.tablesorter-header-inner
{
    margin-left: 7px;
}
.container_in_reports{
      margin: 0 !important;
}
.content_mid_in_reports{
    padding-left: inherit !important;
}
.lc_names_align{margin-top:1.3%;float:none!important;margin-bottom:1%}
.views_dialog{width:60% !important;padding: 0px !important;}
.spec_aging_desc{vertical-align: middle;margin-bottom:0px !important;}
.align_radio_n_lbl{margin-top: -1px !important;vertical-align: middle;}
.generated_report_style{pointer-events: none !important;color:gray !important}
.show-tick > .dropdown-menu{ margin: -5px 0 0 !important;max-height: 350px !important;}
.align_chbx_n_lbl{vertical-align: sub}
.zero_count_error{display: table;margin: 0px auto;}
.map_render{width:100% !important;}
.plans_index{margin-bottom: 40px !important}








/*-------------------reports css ----------------------*/
.empty_report_select{
  width:80%;
  margin:auto !important;
  margin-top: 1% !important; border: 1px solid #000000;
}
.clk_lt_nm{
    width:10%;float:left;margin:0px !important;
}
#dev_nm{color:#000000 !important;}
.tblusers_tbl th{border-bottom:0px !important;}
.lot_basis_err_cls{margin-left:12px;}
.inactiveLink {pointer-events: none;cursor: default;}

/*===========Role css ================*/
.comm_per{padding-left:25px;}
.view_acc_cls{height: 26px !important;padding: 2px 6px !important;font-size: 12px !important;}
.permi_div{width: 248px;padding: 10px; margin: 10px;background: #f5f5f5 !important;}
.bc_color{background-color:#f5f5f5 !important;}
.float_right{float:right;}
.float_left{float:left;}
.lbl_mrg_btm{margin-bottom: 0px !important}
.comm_lc_sub_div{background-color:#ffffff;margin: 0px -14px -15px -14px;padding-left: 30px;padding-bottom: 15px;padding-top: 5px;}
.top_marg{margin-top:34px !important;}
.div_min_wdth{min-width: 267px;}
.role_select{border:1px solid #000000;margin-left:10px;}
.sub_per_com_div{background: #f5f5f5 !important; padding: 15px; border: 1px solid #dddddd;border-radius: 4px;margin: 1%;}