<div class="panel panel-success">
    <div class="panel-heading main_heading">       
      Manage Groups   
       <div class="btn-group btn-group-sm pull-right">        
          <a href="" class="cancel_text_color cancel_css_users_page">cancel</a> 
       </div>
    </div>  
    <div id="manage_access_level"> 


  <%= form_tag "",:id=>"create_user_group_access_form",:method => :post do %>
          <table class="table">      
            <tr class="form-group"> 
              <td width="33%"><b>Group Name*</b></td>         
              <td width="33%"><%= text_field_tag "Group_Name","",:class=>"form-control"%></td>
              <td width="33%"></td>
            <tr class="form-group">
              <td><b>Description*</b></td>
              <td><%= text_field_tag "Description","",:class=>"form-control"%></td>
              <td></td>
            </tr>                  
            </tr>
          </table>  
          <table class="table">       
            <tr class="table_heading">
              <td>Category</td>
              <td>View Name</td>
              <td>Access Level</td>
              <td>Product Name</td>
            </tr>
            <% @main_menu_tabs.each do|menu_item| %>
              <% sub_menu_items = MenuOption.filter_by_menu_name(menu_item.MenuName) %>                      
                  <% sub_menu_items.each do |sub_menu|%>
                  <% projectName=MenuOption.project_name(sub_menu.MenuOptionName)%>
                     <% projectName.each do|pname|%>
                    <tr>
                      <td width="25%"><%= menu_item.MenuName%></td>
                      <td width="25%">
                        <%= sub_menu.MenuOptionName %>
                      </td>
                      <td width="25%">
                        <%= select_tag "User_Group_Access", options_for_select(all_access_options), :class => "form-control" , :name=>"Access_id[#{sub_menu.MenuOptionName}]", :style=>"width:auto" %>
                        </td>
                        <td width="25%"><%= pname.Project_Name%></td>
                    </tr>     
              <% end %> 
            <% end %>
            <% end %>
            <tr>
              <td colspan="4">
                <div class="modal-footer">                                  
                  <button type="submit" class="btn btn-primary" >Save</button>                  
                  <a href="" class="cancel_text_color cancel_css_users_page cancel_add_user">cancel</a> 
                 </div>
               </td>
            </tr>
          </table>        
    <% end %>          
    </div>
  </div>


<script>
$.validator.addMethod("uniqueGroupName", function(value, element) {          
  var group_name_match = $.inArray($("#Group_Name").val(), <%= all_user_group_names.to_json.html_safe %>);
   if(group_name_match>-1){
    return false
   }
   else
   {
    return true
   }
},"Group Name already exists");
$.validator.addClassRules({
    uniqueGroupName : { uniqueGroupName : true }    
});
var create_user_group_access_form = $("form#create_user_group_access_form");
create_user_group_access_form.validate({    
   rules: {
          "Group_Name": {            
              required: true,           
              uniqueGroupName: true
          },
          "Description": {            
            required: true
        }
      },
       messages: {
        "Group_Name": {            
            required: "Please Enter Group Name",            
            uniqueGroupName: "Group Name already exists"
        },
        "Description": {
            required: "Please Enter Description"
        }
    },
    errorElement: 'span',
    errorClass: 'help-block',
    highlight: function(element) {
        $(element).closest('.form-group').addClass('has-error');
    },
    unhighlight: function(element) {        
        $(element).closest('.form-group').removeClass('has-error');
    }
});


$("#create_user_group_access_form").submit(function(){    
  if(create_user_group_access_form.valid()){
    $("#ajax_loader").css("display", "block");
    $("body").addClass("inactiveLink")
   data=$(this).serialize();
   $.ajax({
            type: "POST",
            url: '/user_access_levels/create_user_group',
            data: data,
            success: function(data) { 
                $("#views_list").html(data);
                $("#ajax_loader").css("display", "none");
                $("body").removeClass("inactiveLink")
              }
      });
 }
  return false;
});
$(".cancel_add_user").click(function(){  
  $.ajax({
            type: "GET",
            url: '/user_access_levels/',
            data: {Group_ID: this.dataset.group_id},
            success: function(data) { 
                $("#views_list").html(data);                
              }
      });
  return false;
});
</script>


