<div class="panel panel-success">
    <div class="panel-heading main_heading">             
        Manage Groups     
         <div class="btn-group btn-group-sm" style="position:absolute;margin-top:-0.6%;margin-left:3%"> 
          <%= select_tag "group_access", options_for_select(all_user_group_options,:selected=>@user_groups.ID) , :name=>"user[Access_Group]",:onchange=>"changeGroupView(this.value)", :class => "form-control", :autocomplete=>"off"%> 
         </div>
         <div class="btn-group btn-group-sm pull-right">                  
          <a href="" class="cancel_text_color cancel_css_users_page">cancel</a> 
         </div>
    </div>  
    <div id="manage_access_level"> 


  <%= form_tag "",:id=>"edit_user_group_access_form",:method => :post do %>
    <%= hidden_field_tag "Group_ID", @user_groups.ID %>
          <table class="table">      
            <tr class="form-group"> 
              <td width="33%"><b>Group Name*</b></td>
              <td width="33%"> 
                <% unless @user_groups.Group_Name=="Admin" %>
                  <%= text_field_tag "Group_Name",@user_groups.Group_Name,:class=>"form-control"%>
                <%else%>  
                  <%= @user_groups.Group_Name %>
                <% end %>                      
              </td>            
              <td width="33%"></td>
            </tr>
            <tr class="form-group">
              <td><b>Description*</b></td>
              <td><%= text_field_tag "Description",@user_groups.Description,:class=>"form-control"%></td>
              <td></td>
            </tr>
          </table>  
          <table class="table">       
            <tr class="table_heading">
            <td width="25%">Product Name</td>
              <td width="25%">Category</td>
              <td width="25%">View Name</td>
              <td width="25%">Access Level</td>
              
            </tr>
            <% @main_menu_tabs.each do|menu_item| %>
                  
                    <tr>
                    <td> <%= menu_item.Project_Name%></td>
                      <td><%= menu_item.MenuName%></td>
                      <td>
                        <%= menu_item.MenuOptionName %>
                      </td>
                      <td>                        
                        <% role_access_tab=@user_groups.fetch_by_menu_option_name(menu_item.Id) %>
                          <% unless role_access_tab.nil? %>
                          <%= hidden_field_tag "menu_details[][id]", menu_item.Id%>
                            <%= select_tag "User_Group_Access", options_for_select(all_access_options, :selected => role_access_tab.Access_id), :class => "form-control" , :name=>"menu_details[][#{menu_item.MenuOptionName}]", :style=>"width:auto"%>
                          <%else %>
                            <%= select_tag "User_Group_Access", options_for_select(all_access_options), :class => "form-control" , :name=>"menu_details[][#{menu_item.MenuOptionName}]", :style=>"width:auto"%>
                          <% end %>                                       
                      </td>
                      
                    </tr>
            <% end %>
            <tr>
              <td colspan="4">
                <div class="modal-footer">                                  
                  <button type="submit" class="btn btn-primary" >Save</button>
                  <a href="#" class="cancel_text_color cancel_css_users_page cancel_edit_action" data-group_id = <%= @user_groups.ID %> >
                    cancel
                  </a>                  
                 </div>
               </td>
            </tr>
          </table>        
    <% end %>          
    </div>
  </div>


<script>
var edit_user_group_access_form = $("form#edit_user_group_access_form");
$.validator.addMethod("uniqueGroupName", function(value, element) {          
  var group_name_match = $.inArray($("#Group_Name").val(), <%= @all_user_groups.to_json.html_safe %>);
   if(group_name_match>-1){
    return false
   }
   else
   {
    return true
   }
},"Group Name already exists");
$.validator.addClassRules({
    uniqueGroupName : { uniqueGroupName : true }    
});
edit_user_group_access_form.validate({    
   rules: {
          "Group_Name": {            
              required: true,
              uniqueGroupName: true           
          },
          "Description": {            
            required: true
        }
      },
       messages: {
        "Group_Name": {            
            required: "Please Enter Group Name",
            uniqueGroupName: "Group Name already exists"           
        },
        "Description": {
            required: "Please Enter Description"
        }
    },
    errorElement: 'span',
    errorClass: 'help-block',
    highlight: function(element) {
        $(element).closest('.form-group').addClass('has-error');
    },
    unhighlight: function(element) {
        $(element).closest('.form-group').removeClass('has-error');
    }
});

$("#edit_user_group_access_form").submit(function(){  
  if(edit_user_group_access_form.valid()){
    $("#ajax_loader").css("display", "block");
    $("body").addClass("inactiveLink")
   data=$(this).serialize();
   $.ajax({
            type: "POST",
            url: '/user_access_levels/update_info',
            data: data,
            success: function(data) { 
                $("#views_list").html(data);
                $("#ajax_loader").css("display", "none");
                $("body").removeClass("inactiveLink")
              }
      });
 }
  return false;
});
$(".cancel_edit_action").click(function(){  
  $.ajax({
            type: "GET",
            url: '/user_access_levels/',
            data: {Group_ID: this.dataset.group_id},
            success: function(data) { 
                $("#views_list").html(data);                
              }
      });
  return false;
});

</script>