<div class="panel panel-success">
      <div class="panel-heading main_heading">       
          Manage Groups     
         <div class="btn-group btn-group-sm" style="position:absolute;margin-top:-0.6%;margin-left:3%">                  
          <%= select_tag "group_access", options_for_select(all_user_group_options,:selected=>@user_groups.ID) , :name=>"user[Access_Group]",:onchange=>"changeGroupView(this.value)", :class => "form-control", :autocomplete=>"off"%> 
         </div>
         <div class="btn-group btn-group-sm pull-right">        
          <a class="btn btn-success" id="create_user_group">Add Group</a>
          <a href="/products" class="cancel_text_color cancel_css_users_page">cancel</a> 
         </div>
      </div>  
      <div id="manage_access_level">
        <%= render :partial => "views_sub_view_list" %>
      </div>
</div>

<script>
$(".cancel_edit_access_btn").click(function(){
     $.ajax({
            type: "GET",
            url: '/user_access_levels',
            data: {ID: this.dataset.group_id},
            success: function(data) { 
                $("#views_list").html(data);
              }
      });
});



$("#create_user_group").click(function(){  
	 $.ajax({
            type: "GET",
            url: '/user_access_levels/create_user_group_view',            
            success: function(data) { 
                $("#views_list").html(data);
              }
      });
	return false;
});
</script>