<table class="table">	
	<tr>		  		
		<td width="25%"><b>Group Name</b></td>
		<td width="25%"><%= @user_groups.Group_Name %></td>
		<td width="25%"><a id="edit_user_group" data-group_id=<%= @user_groups.ID %>>Edit</a></td>
		<td width="25%">
			<% unless @user_groups.Group_Name=="Admin" %>			
				<a id="delete_user_group" data-group_id=<%= @user_groups.ID %> data-users_count=<%= @user_groups.users.count %>>Delete</a>
			<% end %>
		</td>		
	</tr>
	<tr>
		<td ><b>Description</b></td>
		<td ><%= @user_groups.Description %></td>
		<td ></td>
		<td ></td>
	</tr>
</table>
<table class="table">
	<tr class="table_heading">		  
	    <td width="15%">Product Type</td>		
		<td width="25%">Category</td>
		<td width="35%">View Name</td>
		<td width="25%">Access Level</td>
		
	</tr>
	<% @main_menu_tabs.each do|menu_item| %>
	
			<tr>
			    <td width="25%"><%= menu_item.Project_Name%></td>
				<td width="25%"><%= menu_item.MenuName %></td>
				<td width="25%"><%= menu_item.MenuOptionName %></td>
				<td width="25%">
					<% role_access_tab=@user_groups.fetch_by_menu_option_name(menu_item.Id) %>
  				<% unless role_access_tab.nil? %>
  					<%= Access.find(role_access_tab.Access_id).name %>	
  				<%else %>
  				<%= all_access_options.first[0]%>
  				<% end %>
				</td>
				
			</tr>  		
	<% end %>	
</table>	
<script>
		$("#edit_user_group").click(function(){
		  $.ajax({
		            type: "GET",
		            url: '/user_access_levels/edit_user_group_view',
		            data:{Group_ID : this.dataset.group_id},
		            success: function(data) { 
		                $("#views_list").html(data);
		              }
		      });
		  return false;
		});
		$("#delete_user_group").click(function(){			
			if(this.dataset.users_count==0){
				$.ajax({
		            type: "GET",
		            url: '/user_access_levels/delete_user_group',
		            data:{Group_ID : this.dataset.group_id},
		            success: function(data) { 
		                $("#views_list").html(data);
		              }
		      });
			}else{
				$("#group_delete_msg #group_user_count").text(this.dataset.users_count);
				$("#group_delete_msg").modal({
					backdrop: false,
                    keyboard: false,
                    show: true
			});
			}					  
		  return false;
		});

</script>
 
  <div class="modal fade" id="group_delete_msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">User Group Information</h4>
        </div>
        <div class="modal-body">        
        	<table class="table">
        		<tr>
        			<td>
        				This group has <label id="group_user_count"></label> users.Delete the users or reassign to an other group
        			</td>
        		</tr>
        	</table>            
        </div>
        <div class="modal-footer">          
          <a href="#" class="cancel_text_color cancel_css_users_page" data-dismiss="modal">
                    cancel
                  </a>                  
        </div>
      </div>      
    </div>
  </div>