<div id="content" class='content_mid'>  
    <div id="views_list">     
          <%= render :partial => "views_list"%>
    </div>
</div>


<script type="text/javascript">

function changeGroupView(value){

 $.ajax({
        type: "GET",
        url: 'user_access_levels/change_group_view',
        data: {Group_ID: value},
        success: function(data) {
          $("#manage_access_level").html(data);
        }
          
});
}
if (navigator.platform == "Win32")
    { 
      $('#views_list').css('margin' , '2% 0.3% 0 0%');
    }
</script>
