  <%= javascript_include_tag 'bootstrap-select' %>

<select class="form-control selectpicker show-tick street_num_drp_down" id="street_number_dropdown" name="Street_Number_Drp" data-live-search="true">
<option value="">Select Street Number</option>
<% Tbldatum.where("Address LIKE ? " , "%#{@street_name_id}%").each do |c| %>
	<option id="<%= c.Community %>, <%= c.Phase_Name%>, <%= c.SVG_ID %>, <%= c.community_city %>" value="<%= c.Address %>"><%= c.Address.split(" ")[0] %> </option>
<% end %>

</select>
<script type="text/javascript">

  function street_add_url_change(){
    comm = $("#street_number_dropdown option:selected").attr("id");
    if (comm != undefined){
      com_ph = comm.split(", ")
      lt_address = $("#street_number_dropdown").val();
      //  get product name from url if exists
      prd_frm_url = window.location.pathname.split("/")
      if (prd_frm_url[2] == '' || prd_frm_url[2] == undefined){
        prd_frm_url = "Lot Insight"
      }
      else{
        prd_frm_url = prd_frm_url[2]
      }
      // if(prd_frm_url == "Lot Insight"){
        var newPath ="<%= SITE_ROOT_DOMAIN_NAME %>/products/"+prd_frm_url+"/"+com_ph[3]+"/communities/"+com_ph[0]+"/"+com_ph[1]+"/<%= @menu %>/<%= @menuoption %>?svg_id="+com_ph[2]+"&lt_address="+lt_address;
      // }
      // else{
      //   var newPath ="<%= SITE_ROOT_DOMAIN_NAME %>/products/"+prd_frm_url+"/"+com_ph[3]+"/communities/"+com_ph[0]+"/"+com_ph[1]+"/LotBuzz Configuration/Sales Status?svg_id="+com_ph[2]+"&lt_address="+lt_address;
      // }
      $("#search_form_submit").attr("style","background-color: #5cb85c !important; border-color: #4cae4c !important")
      $('#search_form_submit').attr('href', newPath);
    }
  }
  $("#street_number_dropdown").change(function(){
    street_add_url_change();
  })
  $(document).ready(function(){
    street_num  = $.urlParam('lt_address')
    if(street_num != null){
      street_num = street_num.replace(/%20/g," ")
      // street_num.substr(0,street_num.indexOf(' '))
  	 $("#street_number_dropdown").val(street_num);
     street_add_url_change();
    }

  })
</script>