
<div id="content" class="content_mid">   
<center>
<h3>Select your project</h3>
<%= form_tag "update_product_selection", :url => "update_product_selection", :id => 'product_select' do |f| %>
  <%@project.each do |project|%>
  <% if project.Active == 1%>
          <table><tr><div>
                <%=hidden_field_tag "product_types[][id]", project.Id %>
                <td><%= check_box_tag "product_types[][active]", project.Active, true ,class: "legend_text"%>&emsp;</td>
                <td><%= project.Project_Name%></td>
              </div></tr></table>
          <% else %>
          <table><tr><div>
                <%=hidden_field_tag "product_types[][id]", project.Id%>
                <td><%= check_box_tag "product_types[][active]", project.Active, false,class: "legend_text" %>&emsp;</td><td><%= project.Project_Name%></td>
                </div></tr></table>
           <% end %>         
  <% end %><br />
       <%= submit_tag ("Save") ,:class=> "btn btn-success"%>
 <% end %>
</center>
<a href=<%= tie_retie_lots_url %> class="list-group-item list-group-item-success" style="margin-top:10%" target="_blank">Lots Tie/Retie</a>
 </div>
