<div>
<input type="hidden" id="is_draggable" value="false">
<input type="hidden" id="hover_draggable" value="false">
<object data="/<%= @opted_community_map%>.svg" type="image/svg+xml" id="alphasvg" width="100%" height="100%"></object>
</div>
<script>
    hide_rollover_on_dbl_click =0; 
    var unknownid;
    var unknwonclass;
    var a = document.getElementById("alphasvg");
    function zoom_resize(svg){
  if(window.matchMedia('(max-width: 550px)').matches){
    $(svg.getElementById("zoom_controller_cordera")).attr("transform","matrix(3.8,0,0,3.8,-80,40)")
  }
  else{
    $(svg.getElementById("zoom_controller_cordera")).attr("transform","matrix(0.8,0,0,0.8,0,40)")
  }
}
 window.onload = function() {
        svgPanZoom('#alphasvg', {
          zoomEnabled: true,
          controlIconsEnabled: true
        });
};
$(window).resize(function(){
  zoom_resize(a.contentDocument);
})
    var load_map = function () {
        var svgDoc = a.contentDocument;     
        zoom_resize(svgDoc);   
        var deltaPaths = svgDoc.getElementsByTagName('path');
        <% if @filter %>
                <% @colurize_data.each do |l| %>
                 allocation1 = '<%=l.Parcel_Development_Status %>';
                    path = svgDoc.getElementById('<%=l.SVG_ID %>');
                    if (path){
                        path.style.fill = '#FFFBFF'
                        <% @legend_keys.each do |filtered_item| %>
                            if('<%= filtered_item %>'==allocation1){
                                 path.style.fill = '<%= l.Color %>';
                            }
                        <%end %>                        
                    }
            <% end %>          
        <% else %>
              <% @colurize_data.each do |l| %>
                path = svgDoc.getElementById('<%=l.SVG_ID %>');
                if (path) {
                    path.style.fill = '<%= l.Color %>';
                }
            <% end %>
        <% end %>
    <% if @filter %>
        svgLots = new Array();
        <% if @hover_data.present? %>
        mappingIds = new Array('<%= @hover_data.map(&:SVG_ID).join(',') %>')[0].split(',');
        $(mappingIds).each(function(i, mId){
        $(deltaPaths).each(function(i, lot){
        if(mId==lot.id){svgLots.push(lot); return false;}
        });
        });
         <% end %>
        deltaPaths = svgLots;
        <% end %>        
        delta = $(deltaPaths).filter("[class=Parcels]");
        $(delta).css("cursor","pointer")
        deltaHover=$.merge($(deltaPaths).filter("[class=Parcels]"),$(deltaPaths).filter("[class=Parks]"));
        $.merge(deltaHover,$(deltaPaths).filter("[class=Feature]"));        
                

        lot_class = svgDoc.getElementsByClassName("Parcels");
        var parcels=[];
        <% @parcels.each do |parcel|%>
            parcels.push("Plat_"+"<%= parcel%>");
        <% end %>
        
         var length = parcels.length;
                for(i=0;i<lot_class.length;i++)
                {
                   svg_lot_id = lot_class[i].getAttribute("id");
                   result = parcels.indexOf(svg_lot_id)
                    if(result == -1)
                    {
                      $(lot_class[i]).css({fill:"#FFFFFF", cursor:"default"});
                    }
                    else
                    {
                    }  
                    
                }
zoom_control_functionality();
        taphandler = function (ev) {
            var flag1=0;
            // if ($("#dialog_toolltip").dialog( "isOpen" )==true) {
            //     $('#dialog_toolltip').dialog('close');
            //  } 
            var Pop_Parcel_Id=Pop_Parcel_Name=Pop_Parcel_Size=Pop_Parcel_Development_Status='';            
            if(document.getElementById("is_draggable").value=="false")
            {


            // <% @hover_data && @hover_data.each do |tl| %>                
            //     var svg = '<%= tl.SVG_ID %>';
            //     if (svg == this.id) { 
            //       window.location.href = "<%= SITE_ROOT_DOMAIN_NAME %>/communities/Tehaleh/<%= tl.Parcel_Name%>"
            //     }
            // <% end %>                       
               
                 test=this.id
              <% @hover_data && @hover_data.each do |tl| %>                 
                var svg = '<%= tl.SVG_ID %>';
                if (svg == this.id) { 
                    
                    flag1 = 1;
                    Pop_Parcel_ID = '<%= tl.Parcel_id %>';
                    // Pop_Parcel_Name = '<%= tl.Parcel_Name %>';
                    // Pop_Parcel_Size = '<%= tl.Parcel_Size %>';
                    // Pop_Parcel_Development_Status = '<%= tl.Parcel_Development_Status %>';   
                    <% lot_map_name= tl.Parcel_Name.delete(" ")%>
                    <% @parcels.each do |t|%>
                          <% if t.delete(" ") == "#{lot_map_name}"%>
                          <% community = @opted_community.delete(" ")%>
                               <% if File.exist?("public/#{community+'_'+lot_map_name}.svg")%> 
                                       // $("#Pop_link").show();
                                       // $("#Pop_link").attr("href","<%= SITE_ROOT_DOMAIN_NAME %>/products/<%= @opted_product %>/communities/<%= @opted_community %>/<%= tl.Parcel_Name%>");


                                       // $("#dialog").data("parcel_id", Pop_Parcel_ID).modal({
                                       //              backdrop: false,
                                       //              keyboard: false,
                                       //              show: true
                                       //  }); 
                                       
                                       url =   "<%= SITE_ROOT_DOMAIN_NAME %>/products/<%= @opted_product %>/communities/<%= @opted_community %>/<%= tl.Parcel_Name%>";
                                       window.location.href = url             

                                        hide_rollover_on_dbl_click = 1;


                              <% else %> 
                                     $("#Pop_link").hide();
                              <% end %>
                          

                          <% end %>
                    <% end %>
                   }
                  if(flag1){
                // $("#dialog").data("parcel_id", Pop_Parcel_ID).modal({
                //             backdrop: false,
                //             keyboard: false,
                //             show: true
                // });                
                // hide_rollover_on_dbl_click = 1;
            }

                <% end %> 
            
        }
          else{
               document.getElementById("is_draggable").value="false"
            }
    }

        for (c = 0; c < deltaHover.length; c++) {
            $(deltaHover[c]).on('tap', taphandler);
        }

        // for (c = 0; c < deltaHover.length; c++) {
            // deltaHover[c].onmouseover = function (e) {
            // if(document.getElementById("hover_draggable").value=="false")
            // {                
            //    var mouseX = (e.pageX+120)-window.pageXOffset;
            //    var mouseY = (e.pageY+200)-window.pageYOffset;
            //    var windowWidth=$(window).width();
            //    var windowHeight=$(window).height();

            //    if(windowWidth- mouseX<450){
            //        mouseX=mouseX-640;
            //    }
            //    if(windowHeight- mouseY<250){
            //        mouseY=mouseY-440;
            //    }                
               
            //      var test=Parcel_id=Parcel_Name=Parcel_Size=Parcel_Development_Status=0;                     
            //     unknown = this.id;
            //     test = unknown;
            //     var filter = '<%= @filter%>';
            //     var thisAllocation = '<%= @allocation%>';
            //     //alert(test);
            //     var flag = 0;
            //     <% @hover_data && @hover_data.each do |tl| %>

            //     var svg = '<%= tl.SVG_ID %>';
                
            //     if (svg == test) {                    
            //         flag = 1;
            //         Parcel_id = '<%= tl.Parcel_id %>';
            //         Parcel_Name = '<%= tl.Parcel_Name %>';
            //         Parcel_Size = '<%= tl.Parcel_Size %>';
            //         Parcel_Development_Status = '<%= tl.Parcel_Development_Status %>';
            //     }
            //     <% end %>                
            //     if (flag == 0) {
            //         test=Parcel_id=Parcel_Name=Parcel_Size=Parcel_Development_Status='';
            //     }                
            //     unknwonclass = this.class;
            //         if(hide_rollover_on_dbl_click == 0){

            //                             $("#dialog_toolltip").dialog({
            //                                 position:[mouseX, mouseY],
            //                                 create:function (event, ui) {
            //                                     $("#dialog_toolltip").prev().hide();
            //                                     $(".ui-widget-content").css("border", 0); 
            //                              $(".ui-dialog").css("padding",0);
            //                              $(".ui-dialog .ui-dialog-content").css("padding",0);

            //                                 },
            //                                 resizable:false,
            //                                 modal:false,
            //                                 width:400,
            //                                 minHeight:109,
            //                                 closeOnEscape:false,
            //                                 draggable:false
            //                             });

            //                             $("#dialog_toolltip").dialog().data();
            //                             // $("#dialog_toolltip #Parcel_id").html(Parcel_id);
            //                             // $("#dialog_toolltip #Parcel_Name").html(Parcel_Name);
            //                             // $("#dialog_toolltip #Parcel_Size").html(Parcel_Size);
            //                             // $("#dialog_toolltip #Parcel_Development_Status").html(Parcel_Development_Status);

            //         }
            //     }
            //     else
            //     {
            //       document.getElementById("hover_draggable").value="false";
            //     }

            }
            // deltaHover[c].onmouseout = function () {              
            //   if(hide_rollover_on_dbl_click==0){
            //       if ($("#dialog_toolltip").dialog( "isOpen" )==true) {
            //         $("#dialog_toolltip").dialog("close");
            //       }              
            //  } 
            // }

        // }
    // }
    a.addEventListener("load", load_map, false);  
         $('#dialog').on('hidden.bs.modal', function (e) {
    hide_rollover_on_dbl_click = 0;
});
</script>
<div class="modal fade" id="dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:20%">
      <div class="modal-content">
         <%= form_tag "",:id=> "upload_data" do %>
         <%= hidden_field_tag "idlot" %>
         <%= hidden_field_tag "user_role" %>
         <%= hidden_field_tag "parent_tab_id" %>
         <%= hidden_field_tag "access_permission" %>
        <div class="modal-header" >
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Plat Details</h4>
        </div>
        <div class="modal-body">        
          <div class="table-responsive">
            <table  class="table table-bordered table-striped table-hover" >    
              <!-- <tr>
                  <td id="validation_msgs_td" colspan="2"></td>
              </tr> -->
             <!--  <tr>
                     <td>Parcel ID</td>
                        <td>
                          <label id="Pop_Parcel_ID" class="lb_visible"></label>                          
                        </td>
                </tr>
                <tr>
                    <td> Parcel Name</td>
                        <td>
                          <label id="Pop_Parcel_Name" class="lb_visible"></label>
                        </td>
                </tr> 

                <tr>
                    <td>Parcel Size</td>
                        <td>
                          <label id="Pop_Parcel_Size" class="lb_visible"></label>
                        </td>
                </tr>
                <tr>
                    <td>Parcel Development Status</td>
                        <td>
                          <label id="Pop_Parcel_Development_Status" class="lb_visible"></label>
                        </td>
                </tr> -->
            </table>
          </div>
        </div>
        <div class="modal-footer">                        
            <a href="" id="Pop_link" class="Pop_links">View Lot Level Map</a>             
            <a href='#' id="close" data-dismiss="modal" class="cancel_text_color">cancel</a>
        </div>
      </div>
      <% end %>
    </div>
  </div>



<div id="dialog_toolltip" title="LOT TOOLTIP">
<div class="modal-body">        

<table style="width:100%" class="table table-bordered table-striped table-hover">    
<tr>
<td>Parcel ID</td>
<td>
<label id="Parcel_id">
</label> 

</td> 
</tr>
<tr>
<td>Parcel Name</td>
<td>
<label id="Parcel_Name">
</label> 

</td> 
</tr>
<tr>
<td>Parcel Size</td>
<td>
<label id="Parcel_Size">
</label> 

</td> 
</tr>
<tr>
<td>Parcel Development Status</td>
<td>
<label id="Parcel_Development_Status">
</label> 

</td> 
</tr>                                             
</table>
</div>
</div>

