<div id="legend">
  <div id="legend_title">
    
    <h4>LotVue Highlands <img onclick="togglelegend()" id="legend_img" src="/assets/legend_up.png"/></h4>
  </div>
  <div id="legend_data">
    <% @legend_data.each do |legend| %>
        <div class="legend_data">
           <span class="legend_text" data-description= "<%= legend.Parcel_Development_Status %>" data-role= "<%= @role %>"><%= check_box_tag "legend_keys_ids[]", legend.Parcel_Development_Status,false,:onclick => "filterLegend(this.value);" %></span>
          <span data-description= "<%= legend.Parcel_Development_Status %>"  class="legend_color" style="background-color:<%= legend.Color %>"></span>
          <span class="legend_text"><%= legend.Parcel_Development_Status %>  
            (<%= ProductSalesContractParcel.get_lot_count(legend.Parcel_Development_Status) %>)
          </span>
        </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  if(navigator.platform == "Linux x86_64")
    { 
      $('#legend').css('right','88px');
    }
    else if (navigator.platform == "Win32" && navigator.userAgent.match(/(chrome)/i))
    { 
      $('#legend').css('right','7.6%');
    }
    else if(navigator.platform == "Win32" && navigator.userAgent.match(/(touch)/i))
    {   
      $('#legend').css('right','157px');
    }
    else if (navigator.platform == "Win32" && navigator.userAgent.match(/(windows)/i))
    { 
      $('#legend').css('right','7.6%');
    }
    else if (navigator.platform == "Win64" && navigator.userAgent.match(/(windows)/i))
    { 
     $('#legend').css('right','7.6%');
    }
    else
    {
      $('#legend').css('right','5.6%');
    }


  function filterLegend(elem){
    $("#ajax_loader").css("display", "block");
      var vals = [];
      $('input:checkbox[name="legend_keys_ids[]"]').each(function() {
          if (this.checked) {
              vals.push(this.value);  
          }
      });
      var filter = "filter";
      var community = '<%= @opted_community%>';             
      if ($(".ui-dialog.ui-widget.ui-widget-content").length > 0) {
                  $(".ui-dialog.ui-widget.ui-widget-content").remove();
              }

              if (vals.length<1){
                filter = null;
              }
       $.ajax({
              url: '/communities/render_community_view',
              data: {legend_keys: vals,filter: filter,community: community},
              success:function (response) {
                      $("#community_map_holder").html(response);
                      $("#ajax_loader").css("display", "none");
                  }


          });
      }

</script>
