<% app_menus = @udata.get_menus_for_community(village, product_type) %>
<% default_menu = app_menus.first unless app_menus.empty? %>

<% default_menu_name = ""%>
<% default_sub_menu_name = ""%>


<!-- < default_menu_name = app_menus[app_menus.keys.first][0].MenuName unless app_menus.empty? %>
< default_sub_menu = app_menus[app_menus.keys.first][0].MenuOptionName unless default_menu_name.nil? %>

< default_sub_menu_name = default_sub_menu unless default_sub_menu.nil? %>
 -->





 <% app_menus.each do |d|%>
<% if menus.present? and menus == d[0] %>
          <% default_menu_name = menus %>
           <% d[1].each do |d| %>
           <% if menuoption == d.MenuOptionName%>
              <% default_sub_menu_name = menuoption %>
              <% break %>
            <% else %>
                  <% default_sub_menu = app_menus[app_menus.keys.first][0].MenuOptionName unless default_menu_name.nil? %>
                  <% default_sub_menu_name = default_sub_menu unless default_sub_menu.nil? %>
              <% end %>
              <% end %>

 <% break %>
<% else %>
      <% default_menu_name = app_menus[app_menus.keys.first][0].MenuName unless app_menus.empty?%>
      <% default_sub_menu = app_menus[app_menus.keys.first][0].MenuOptionName unless default_menu_name.nil? %>
      <% default_sub_menu_name = default_sub_menu unless default_sub_menu.nil? %>
<% end %>
<% end%>




<% unless app_menus.empty? %>
  <% app_menus.each do |app_menu| %>
    <label class="dropdown">  
      <a href=# id="<%= app_menu[0].gsub(" ","_") %>" class="main_menu"  data-hover="dropdown" data-toggle="dropdown">
        <%= app_menu[0] %> <b class="caret"></b>              
      </a>
      <ul id = "drop" class="dropdown-menu" role="menu" >
         <% app_menu[1].each do|app_menu_menu_option| %>          
            <li><a href=# id="<%= app_menu_menu_option.MenuOptionName %>" tabindex="-1" class="sub_menu" onclick="changeRole('1','<%= app_menu_menu_option.MenuOptionName %>','<%=  app_menu[0] %>');activeMainMenu('<%= app_menu[0].gsub(" ","_") %>');">
            <%= app_menu_menu_option.MenuOptionName %>
          </a></li>
         <% end %>     
      </ul>
    </label>
  <% end %> 
   <% if @opted_product == "Lot Buzz"%>
                 <a href="/lotbuzz/demo?community='<%=@opted_community%>'" target="_blank"  id="site_view" style="font-weight:bold;">Community Website</a> 
       <% end %>
            
<% end %> 


<script>
 
   function changeRole(group_id, group_role, parent_tab_id) {
         $.ajax({
            url:'/tbldata/render_role_view',
            type:'get',
            dataType:'html',
            data:{
                "group_id":group_id,
                "role":group_role,                
                "parent_tab_id":parent_tab_id,
                "project": '<%= @opted_product%>',
                "comm_city": "<%= @opted_comm_city%>",
                "community": "<%= @opted_community %>"                
            },
            success:function (response) {
                $(".map_render").html(response);                 
                $("#ajax_loader").css("display", "none");              
            },
            complete: function (data) {
                if(parent_tab_id == "Reports"){
                    $(".main_container").addClass("container_in_reports");
                    $("#content").addClass("content_mid_in_reports")
                }
                else{
                    $(".main_container").removeClass("container_in_reports");
                    $("#content").removeClass("content_mid_in_reports")
                }
                if(group_role == "Generated Reports" || group_role == "Uploaded Reports"){
                    $(".map_render").attr("style","min-height:800px;width:100%;");
                }
                else{
                    $(".map_render").attr("style","min-height:800px;width:100%");   
                }
            }
        });
       }

   function activeMainMenu(id){
        <%if @parent_tab_id %>
            $('.main_menu').removeClass('active');
            $('#' + id + '.main_menu').addClass('active');
        <%else%>        
            $('.main_menu').removeClass('active');
            $('#' + id + '.main_menu').addClass('active');
        <%end%>
       
    }
    
</script>

