<%= javascript_include_tag 'MultiFile' %>

<div id="content" class='content_mid'>
 
    <div id="main_nav">
        <div  class="container"> 
            <% if @opted_product == "Lot Buzz"%>       
                <a href="/lotbuzz/demo?community='<%= @opted_community%>'" target="_blank"  id="site_view" style="color:#428bca;font-size:13px">Community Website</a>     
            <%else%>
                <%= render :partial => 'communities/navigation', :locals => {:user_group_id => @udata.group.ID, :user_group => @udata.group, :menus => "Reports", :menuoption =>"", :access_id => @access_id, :village => @opted_community , :product_type => @opted_product }%>            
            <% end %>
        </div>
    </div>

	<div id="legend1" class="legend1"></div>
	<div id="left" class="map_render" style="width:100% !important">		
	</div>
    <div id ="ajax_loader">
        <%= image_tag "ajax-loader.gif", :alt => "loader", :id=> "ajax_loader_img" %>
    </div>	 
</div>
<script>
    var touch_or_nontouch = 0;    

    if(navigator.userAgent.match(/(ipad)|(android)|(android 3.0)|(xoom)|(sch-i800)|(playbook)|(kindle)|(iphone)|(ipod)|(blackberry)|(opera)|(mini)|(palm)|(smartphone)|(iemobile)/i)){
        touch_or_nontouch=1;
    }
    
    $("#ajax_loader").css("display", "block");
    $.ajax({
                url:'/communities/render_community_view',
                type:'get',
                dataType:'html',
                data:{"project": '<%= @opted_product%>',
                      "community": '<%= @opted_community %>',
                      "is_touch":touch_or_nontouch},
                success:function (response) {
                    $(".map_render").html(response);
                    $("#ajax_loader").css("display", "none");
                }
            });

    var legend_toggle=0;
	function togglelegend() {
        $('#legend_data').slideToggle('slow', function () {
            if (legend_toggle == 0) {
                legend_toggle = 1;
                $("#legend_img").attr('src', '/assets/legend_down.png');
            }
            else {
                legend_toggle = 0;
                $("#legend_img").attr('src', '/assets/legend_up.png');
            }
        });
    };

(function ($, window, undefined) {
    // outside the scope of the jQuery plugin to
    // keep track of all dropdowns
    var $allDropdowns = $();

    // if instantlyCloseOthers is true, then it will instantly
    // shut other nav items when a new one is hovered over
    $.fn.dropdownHover = function (options) {
        // don't do anything if touch is supported
        // (plugin causes some issues on mobile)
        if('ontouchstart' in document) return this; // don't want to affect chaining

        // the element we really care about
        // is the dropdown-toggle's parent
        $allDropdowns = $allDropdowns.add(this.parent());

        return this.each(function () {
            var $this = $(this),
                $parent = $this.parent(),
                defaults = {
                    delay: 100,
                    instantlyCloseOthers: true
                },
                data = {
                    delay: $(this).data('delay'),
                    instantlyCloseOthers: $(this).data('close-others')
                },
                showEvent   = 'show.bs.dropdown',
                hideEvent   = 'hide.bs.dropdown',
                // shownEvent  = 'shown.bs.dropdown',
                // hiddenEvent = 'hidden.bs.dropdown',
                settings = $.extend(true, {}, defaults, options, data),
                timeout;

            $parent.hover(function (event) {
                // so a neighbor can't open the dropdown
                if(!$parent.hasClass('open') && !$this.is(event.target)) {
                    // stop this event, stop executing any code 
                    // in this callback but continue to propagate
                    return true; 
                }

                $allDropdowns.find(':focus').blur();

                if(settings.instantlyCloseOthers === true)
                    $allDropdowns.removeClass('open');

                window.clearTimeout(timeout);
                $parent.addClass('open');
                $this.trigger(showEvent);
            }, function () {
                timeout = window.setTimeout(function () {
                    $parent.removeClass('open');
                    $this.trigger(hideEvent);
                }, settings.delay);
            });

            // this helps with button groups!
            $this.hover(function () {
                $allDropdowns.find(':focus').blur();

                if(settings.instantlyCloseOthers === true)
                    $allDropdowns.removeClass('open');

                window.clearTimeout(timeout);
                $parent.addClass('open');
                $this.trigger(showEvent);
            });

            // handle submenus
            $parent.find('.dropdown-submenu').each(function (){
                var $this = $(this);
                var subTimeout;
                $this.hover(function () {
                    window.clearTimeout(subTimeout);
                    $this.children('.dropdown-menu').show();
                    // always close submenu siblings instantly
                    $this.siblings().children('.dropdown-menu').hide();
                }, function () {
                    var $submenu = $this.children('.dropdown-menu');
                    subTimeout = window.setTimeout(function () {
                        $submenu.hide();
                    }, settings.delay);
                });
            });
        });
    };

    $(document).ready(function () {
        $("#left.map_render").css("margin-top",$("#main_nav").outerHeight()+"px")
        // apply dropdownHover to all elements with the data-hover="dropdown" attribute
        $('[data-hover="dropdown"]').dropdownHover();
        
        if(touch_or_nontouch == 1){
            $("#left.map_render").css("min-height", "540px");
        }else if(touch_or_nontouch == 0){        
            $("#left.map_render").css("min-height", "800px");
        }
    });
})(jQuery, this);   
$(window).resize(function(){
    $("#left.map_render").css("margin-top",$("#main_nav").outerHeight()+"px")
});
</script>

