<!-- content -->
<div id="content" class='content_mid' style="padding:0px !important">  
<div style="position:relative;" >
  <div class="pull-left" style="margin-left:5px">
    <h3><label id="uploaded_tab_name"><%= @tab_name %></label></h3>
  </div>
  <div  class="pull_right upload_button_position"  style="right:0;position:absolute;width: 70px;">
    <%if Tblusers.can_see_upload_button(@udata, @opted_community) == true%> 
          <a class="btn btn-success" id="upload_docs" onclick="upload_docs()">Upload</a>      
    <% end%>
  </div>
</div>
<br/ >
  <div id="list_documents">
    <div style="border:0px !important ">
     <!--  <div class="panel-heading main_heading uploaded_buttons_head" style="position: relative;">
        <label id="uploaded_tab_name"><= @tab_name %></label>          
        <if Tblusers.can_see_upload_button(@udata) == true%>     
          <div class="btn-group btn-group-sm pull-right upload_button_position" style="right:0;position: absolute;">        
            <a class="btn btn-success" id="upload_docs" onclick="upload_docs()">Upload</a>      
          </div>  
        <end%>
      </div> -->  
      <table class="table  uploaded_report_list_table">
        <thead style="float:left;" class="upload_thead">
          <tr class="table_heading">
            <th class="cols_report_name">Report Name</th>
            <th class="cols_report_name">File Name</th>                
            <th class="cols_uploaded">Uploaded Date</th>
            <th class="cols_uploaded">Uploaded By</th>
            <th class="cols_description">Description</th>
            <th class="cols_action_th">Action</th>
            <%if @access_permission=="Edit_Access" %>
              <th></th>      
            <% end %>
          </tr>
        </thead>
        <tbody style="float:left;"> 
          <% if @reports.present? %>
            <%  @reports.each do |report|%>
              <tr>  
                <td class="cols_report_name" style="word-wrap:break-word;">          
                  <%= link_to "#{report.display_document_file_name}", report %>
                </td>    
                <td class="cols_report_name" style="word-wrap:break-word;">          
                  <%= report.document_file_name %>
                </td>            
                <td class="cols_uploaded"><%= report.created_at.strftime("%m/%d/%Y") unless report.created_at.nil?%></td>      
                <td class="cols_uploaded" class="cols_description" style="word-wrap:break-word;"> 
                  <%= Tblusers.get_first_name(report.user_id) unless report.user_id.nil? %>       
                </td>
                <td class="cols_description" style="word-wrap:break-word;"><label id="description" style="font-weight:normal"><%= report.description%></label>
                </td>         
                <td class="cols_action_td">  
                  <%= link_to "Download", report %>
                  
                   <%if report.user_id == @udata.ID || @udata.is_admin? == true %>
                    <a href="#" class="edit_report" style="margin-left: 8%;" data-report_name="<%= report.display_document_file_name %>" data-report_description="<%= report.description %>"  data-report_id="<%= report.id%>" >Edit</a>
                    <a href="#" class="delete_report cancel_text_color" style="margin-left: 8%;" data-report_id=<%= report.id%> data-report_tab_name=<%= @tab_name %> data-access_permission= <%= @access_permission %> >Delete</a>
                  <%end%>
                </td>        
              </tr>
            <%end %>
          <%else%>
            <tr>
              <td colspan="8" style="width:1285px"><center>No Reports Present</center></td>
            </tr>
          <%end %>
        </tbody>
      </table>
    </div>
  </div>
<!--   <div id="upload_documents" style="display:none;">
        <= render :partial => 'reports/report_upload' %>   
  </div> -->

  <div class="modal fade" role="dialog" style="z-index:2000" id="upload_documents">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header" style="padding: 5px !important;">
            <label class="modal_title_ui"> Upload Reports</label>
            <button type="button" class="close modal_title_cross_button" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body table-responsive" id="" style="margin-bottom:0px !important">
            <%= render :partial => 'reports/report_upload' %>  
          </div>
        </div>
    </div>
</div>


  <div class="modal fade" id="edit_report_details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:50%">
      <div class="modal-content">
       
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Edit Report</h4>
          </div>
          <div class="modal-body">        
            <div class="table-responsive">
              <table style="width:100%" class="table table-bordered">
                <%= hidden_field_tag "ID", '', :name => "" %>
                <tr>
                  <td class="text-right td_alignment" >Report Name</td>
                  <td>
                    <input type="text"  id="reports_file_name" class = "form-control"></input>
                  </td>
                </tr>
                <tr>
                  <td class="text-right td_alignment">Description</td>
                  <td>
                    <input type="text"  id="reports_description" class = "form-control"></input>
                  </td>
                </tr> 
                 
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="reports_update">Save</button>          
            <a href="#" class="cancel_text_color" data-dismiss="modal">cancel</a>          
          </div>
        
      </div>
    </div>
  </div>
</div>
<script>

$(".edit_report").click(function(){   
  var description=file_name=""
  description = this.getAttribute("data-report_description")  // getAttribute works in all browsers
  file_name =  this.getAttribute("data-report_name")
  ID = this.getAttribute("data-report_id")
  $("#edit_report_details input#reports_description").val(description)
  $("#edit_report_details input#reports_file_name").val(file_name); 
  $("#edit_report_details #ID").val(ID);

  $('#edit_report_details').data("user_role", '<%= @role %>').data("parent_tab_id", '<%= @parent_tab_id %>').data("phase_parcel",'<%= @opted_parcel %>').data("access_permission", '<%= @access_permission_id %>').data("product_type","<%= @opted_product%>").data("community","<%= @opted_community%>").modal({
            backdrop: false,
            keyboard: false,
            show: true
          });    
  $('#edit_user_modal').on('hidden.bs.modal', function(){  
    $("#edit_report_details .form-group").removeClass('has-error');    
  });   
})

  $("#reports_update").click(function(){
    $("#ajax_loader").css("display", "block");
    $("body").addClass("inactiveLink") 
    $.ajax({
      url:"/reports/update_uploaded_reports_info",
      type:'get',
      dataType:'html',
      data:{
          "id":$("#edit_report_details #ID").val(),
          "description": $("#edit_report_details input#reports_description").val(),
          "file_name":$("#edit_report_details input#reports_file_name").val(),
          "tab_name": "<%= @tab_name %>",
          "community": '<%= @opted_community%>'
      },
      success:function (response) {
          $(".map_render").html(response); 
           $("body").removeClass("modal-open")              
          $("#ajax_loader").css("display", "none");
          $("body").removeClass("inactiveLink")
      }
    });  
  })


  // $("#legend_border").hide()
  $(".delete_report").click(function(){ 
   $("#ajax_loader").css("display", "block"); 
   $("body").addClass("inactiveLink")
   if(confirm("Are you sure you want to delete this report?")){
    $.ajax({
            url:"/reports/delete",
            type:'get',
            dataType:'html',
            data:{
                "id":this.dataset.report_id,
                "tab_name":"<%= @tab_name %>",
                "access_permission": this.dataset.access_permission,
                "community": '<%= @opted_community%>'
            },
            success:function (response) {
                $(".map_render").html(response);               
                 $("#ajax_loader").css("display", "none");
                 $("body").removeClass("inactiveLink")
            }
        });  
  } 
    else
     {
      $("#ajax_loader").css("display", "none"); 
      $("body").removeClass("inactiveLink")
      return false;  
     }           
})
</script>
<style>
  #legend_border{
    border: 0px !important;
  }
.cols_report_name{ max-width: 240px; min-width: 239px;   }
.cols_uploaded{ max-width: 114px;min-width: 112px;}
.cols_description{ max-width: 417px; min-width: 417px;}
.cols_action_td {min-width: 165px; }
.cols_action_th{min-width: 165px;}
.fixed {position: fixed;}
</style>
<script>
$(window).on('unload', function() {
   $(window).scrollTop(0);
});
$(document).ready(function(){
  $(".uploaded_buttons_head").css("width",$(window).width())
  $(".uploaded_report_list_table tbody tr:last").css("border-bottom","1px solid #dddddd");
  upload_buttons_width()
});

$(window).resize(function(){
  upload_buttons_width();
  upld_btn_pstn()
})
function upld_btn_pstn(){
  upload_button_left_position = $(window).width() - $(".upload_button_position").outerWidth();
  upload_max_scroll = upload_button_left_position+parseInt($(this).scrollLeft())+$(".upload_button_position").width()-1
    if(upload_max_scroll <=  $('.uploaded_report_list_table').width()){
      $(".upload_button_position").css({
          left: upload_button_left_position + parseInt($(this).scrollLeft())
      });
    }
}
function upload_buttons_width(){
  $("#uploaded_tab_name").css("margin-top",$("#main_nav").outerHeight());
  $(".upload_button_position").css("margin-top",$("#main_nav").outerHeight()+20+"px");
  $("#list_documents").css("margin-top", $("#main_nav").outerHeight()+$("#uploaded_tab_name").outerHeight()+20+"px")
  if($(".upload_button_position").is(":visible")){
    // uploaded_report_offset_left = $(".uploaded_report_list_table thead tr:first th:last").position().left;
    // uploaded_report_td_n_th_width = $(window).width() - uploaded_report_offset_left
    // $(".uploaded_report_list_table tbody tr:first td:last,  .uploaded_report_list_table thead tr:first th:last").css({"max-width": uploaded_report_td_n_th_width-2, "min-width":uploaded_report_td_n_th_width-2});

    // $(".uploaded_report_list_table tbody tr").each(function() {
    //    $(this).find("td:last-child").css({"max-width": uploaded_report_td_n_th_width-2, "min-width":uploaded_report_td_n_th_width-2});
    // });
  }
}

  upload_button_left_position = $(window).width() - $(".upload_button_position").outerWidth();
 
  $(window).scroll(function () {
    // upload_max_scroll = $(this).scrollLeft()+$("window").width()
    upload_max_scroll = upload_button_left_position+parseInt($(this).scrollLeft())+$(".upload_button_position").width()-1
    if(upload_max_scroll <=  $('.upload_thead').width()){
      $(".upload_button_position").css({
          left: upload_button_left_position + parseInt($(this).scrollLeft())
      });
    }
  });
  upload_thead_scroll_top = $("#main_nav").offset().top+$("#main_nav").outerHeight();
  
$(window).scroll(function(){
  var upload_sticky = $('.upload_thead'),
      upload_scroll = $(window).scrollTop();
  if (upload_scroll >= (upload_thead_scroll_top+13)){ upload_sticky.addClass('fixed');
    $(".fixed").css("top",upload_thead_scroll_top);
    upload_sticky.css('left', 0 - $(window).scrollLeft());
  }
  else {
    upload_sticky.removeClass('fixed');
  }
});


</script>