<%= form_tag("/reports",:multipart => true,:id=>"upload_reports") do %>
      <input type="hidden" name="tab_name" value="<%= @tab_name %>">
      <input type="hidden" name="access_permission" value="<%= @access_permission %>">
      <input type="hidden" name="community" value="<%= @opted_community %>">
      <input type="hidden" name="report_type" value="Uploaded">
      <div class="border_upload_popup"></div>
       <p id="tbldata_tbldataattachments_image_wrap" class="margin_top_upload_popup" style="margin-left: 2%;"></p>
       <p id="file_upload_error" class="upload_err_css"></p>
      
       <div class="text-right" style="margin-bottom:1%;margin-right:2%">
       <%= submit_tag "Upload Documents", :class => "btn btn-primary", :id=> "upload_doc_btn", :value => "Upload"%>
       <a href='#' onclick="close_report_popup()" data-dismiss="modal" style="color:red;" class="cancel_btn_css_reports">cancel</a>
        </div>
      <% end %>
<script>
    $(document).ready(function () {
      $('#reports_input_field').MultiFile();  
    });
    function browse_report(){        
      $('input[type="file"]').change(function() {            
      $('input[type="file"]').css('color', 'transparent'); 
      $("#file_upload_error").empty();   
      });
    }
    function close_report_popup()
    {   
      // $("#upload_documents").dialog("close");
    }
    function upload_docs(){    
        filehtml='<input type="file" multiple onChange="browse_report()" class="multi" id="reports_input_field" name="reports[][document]" accept="doc|docx|log|odt|tex|txt|wpd|wps|csv|dat|pps|ppt|pptx|xlr|xls|xlsx|pdf"/> ';
        $("#tbldata_tbldataattachments_image_wrap").html(filehtml);
        $('#reports_input_field').MultiFile();
        $('input[type="file"]').css('color', 'transparent');  
        $("#file_upload_error").empty();
        $('#tbldata_tbldataattachments_image_wrap_list').empty();
        $("#upload_documents").modal({
          backdrop: false,
          keyboard: false,
          show: true
        });
    }
    var options = {     
      success: function(res) 
    {    
      $(".map_render").html(res)
      $("#ajax_loader").css("display", "none");
      $("body").removeClass("inactiveLink")
      $(".ui-dialog").remove();      
      $("#file_upload_error").empty();
      display_error_msg()
    },
    complete: function(response) 
    {

    },
    error: function()
    {

    }

    }; 
    $("#upload_reports").submit(function(){
      $("#ajax_loader").css("display", "block");
      $("body").addClass("inactiveLink")
      $("#upload_reports").ajaxSubmit(options); 
      return false;
    });

function display_error_msg () {
  report_blank_message = '<%= @report_blank_message %>';
  if(report_blank_message == 'true')      
   {        
    upload_docs()
    $("#file_upload_error").text("Please upload a report");     
    }
}
</script>