<hr class="border_above_spec_dash_bord_filters">
<div style="position:relative" id="filter_div">
  <div id="sales_status_filter_table" class="pull-left home_closing filter_table_width" style="width:46%">
    <table class="table filters  spec_filter_table_width" id="spec_filters" style="margin-bottom:0px !important; border-right: 0px;width:63% !important">     
      <tr style="padding-bottom:1%">    
        <td style="vertical-align: middle;" class="no_of_records_css filter_first_td">
          <b># of Records : </b><span style="display:inline-block;font-weight:normal;">{{filtered_lots.length}}<span>    
          <!-- <div id ="ajax_loader_common_2" class="loader" ng-hide="filtered_lots.length" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%;">
            <p style="position: absolute; top: 50%; left: 45%;">
              <= image_tag "ajax-loader.gif", :alt => "loader", :id=> "ajax_loader_img_common_2" %>
            </p>
           </div> -->
        </td>  
        <td class="filter_tds">
          <div class="icon-addon addon-lg pull-left">
            <select ng-model="search_by_development_code" class="form-control selected_dev_code filter_tds" style="display:inline;" ng-change="DevandStsDropdownChange()">
              <option value="" selected>Select Development Code</option>
              <option ng-repeat="dev_code in dev_codes" ng-selected="selected_dev_code == dev_code" value="{{dev_code}}">{{dev_code}}
              </option>
            </select>
             <label for="search" class="glyphicon glyphicon-search" rel="tooltip" title="dev_code"></label>
          </div>
           <span ng-show="search_by_development_code.length" style="padding-left:1%;cursor:pointer" ng-click="resetDevelopmentCodeFilter()" class="glyphicon glyphicon-remove filter_cross_icon" aria-hidden="true"></span>
        </td>
        <td class="filter_tds">
          <div class="icon-addon addon-lg pull-left">
            <select ng-model="search_by_status" class="form-control selected_status filter_tds" style="display:inline;" ng-change="DevandStsDropdownChange()">
              <option value="" selected>Select Status</option>
              <option ng-repeat="sts in status" ng-selected="selected_status == sts" value="{{sts}}">{{sts}}
              </option>
            </select>
            <label for="search" class="glyphicon glyphicon-search" rel="tooltip" title="filing"></label>
          </div>
           <span ng-show="search_by_status.length" style="padding-left:1%;cursor:pointer" ng-click="resetStatusFilter()" class="glyphicon glyphicon-remove filter_cross_icon" aria-hidden="true" ></span>
        </td>
       
      </tr>
    </table>
  </div>
  <div  class="pull_right dwnld_xl_sales_status" id="sales_status_dwnld" style="right:0;position:absolute;width: 215px;margin-top:0.7%">
    <button ng-click="exportData_sales_status()" class="btn btn-success" style=";margin-top:2px !important" id="sales_status_download_excel">
      <span class="glyphicon glyphicon-download-alt"></span>             
      Download Excel</button>
  </div>
</div>
<div> 
 <div> 
    <table class="table sales_status_tbl table-bordered table-hover" style="display:table;width:100%; border-right: 0px;" >
      <thead style="float:left;" class="sales_status_thead">
        <tr class="table_heading"  >
          <th class="cols_sm_address">        
            <a href="" style="color:#ffffff" ng-click="orderByField='Community';reverseSort = !reverseSort">    Community
              <span ng-show="orderByField=='Community'">
                <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>   
              </span>
            </a>
          </th>
          <th class="cols_sm_address">        
            <a href="" style="color:#ffffff" ng-click="orderByField='Lot_Status_Val';reverseSort = !reverseSort">    Status
              <span ng-show="orderByField=='Lot_Status_Val'">
                <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>   
              </span>
            </a>
          </th>
          <th class="cols_sm_address">        
            <a href="" style="color:#ffffff" ng-click="orderByField='Unique_ID';reverseSort = !reverseSort">    House Number
              <span ng-show="orderByField=='Unique_ID'">
                <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>   
              </span>
            </a>
          </th>
          <th class="cols_width_ho_td">
            <a href="" style="color:#ffffff" ng-click="orderByField='Filing';reverseSort = !reverseSort"> Block #
              <span ng-show="orderByField=='Filing'">
                <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>   
              </span>
            </a>        
          </th>
          <th class="cols_width_ho_td">
            <a href="" style="color:#ffffff" ng-click="orderByField='Lot_Number';reverseSort = !reverseSort"> Lot #
              <span ng-show="orderByField=='Lot_Number'">
                <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>   
              </span>
            </a>        
          </th>
          <th class="cols_width_ho">        
            <a href="#" style="color:#ffffff" ng-click="orderByField='Buyer_Name';reverseSort = !reverseSort"> Name
              <span ng-show="orderByField=='Buyer_Name'">
                <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>            
              </span>
            </a>     
          </th>
          <th class="cols_width_ho_td">
            <a href="" style="color:#ffffff" ng-click="orderByField='Model_Code';reverseSort = !reverseSort">    Model
              <span ng-show="orderByField=='Model_Code'">
                <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>   
              </span>
            </a>        
          </th>      
          <th class="cols_width_ho_td">
            <a href="" style="color:#ffffff" ng-click="orderByField='Elevation';reverseSort = !reverseSort"> Elevation
              <span ng-show="orderByField=='Elevation'">
                <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>   
              </span>
            </a>        
          </th>
          <th class="cols_width_ho_th">
            <a href="" style="color:#ffffff" ng-click="orderByField='Lot_Premium_Val';reverseSort = !reverseSort"> Sales Amount
              <span ng-show="orderByField=='Lot_Premium_Val'">
                <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>   
              </span>
            </a>        
          </th>
          <th class="cols_sm_date_width_th">
            <a href="" style="color:#ffffff" ng-click="orderByField='Contract_Date';reverseSort = !reverseSort"> A/S Date
              <span ng-show="orderByField=='Contract_Date'">
                <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>   
              </span>
            </a>        
          </th>
          <th class="cols_sm_date_width_th">
            <a href="" style="color:#ffffff" ng-click="orderByField='Ratified_Date';reverseSort = !reverseSort"> Ratified Date
              <span ng-show="orderByField=='Ratified_Date'">
                <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>   
              </span>
            </a>        
          </th>
          <th class="cols_sm_date_width_th">
            <a href="" style="color:#ffffff" ng-click="orderByField='Settlement_Date';reverseSort = !reverseSort"> Settlement Date
              <span ng-show="orderByField=='Settlement_Date'">
                <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>   
              </span>
            </a>        
          </th>
          <th>
            <a href="" style="color:#ffffff" ng-click="orderByField='Mortgage_Lender';reverseSort = !reverseSort"> Mortgage Company
              <span ng-show="orderByField=='Mortgage_Lender'">
                <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>   
              </span>
            </a>        
          </th>
        </tr>
      </thead>
      <tbody style="float:left;"> 
        <tr ng-repeat="event in sales_status_lots | filter : {Lot_Status_Val: search_by_status}: false | filter:search_by_status:exceptEmptyComparator|  filter:search_by_development_code:exceptEmptyComparator | orderBy:orderByField:reverseSort as filtered_lots "  >
          <td class="cols_sm_address">{{event.Community}}</td>  
          <td class="cols_sm_address">{{event.Lot_Status_Val}}</td>  
          <td class="cols_sm_address">{{event.Unique_ID}}</td>  
          <td class="cols_width_ho_td">{{event.Filing}}</td>    
          <td class="cols_width_ho_td">{{event.Lot_Number}}</td>    
          <td class="cols_width_ho">{{event.Buyer_Name}}</td>
          <td class="cols_width_ho_td">{{event.Model_Code}}</td>            
          <td class="cols_width_ho_td">{{event.Elevation}}</td>     
          <!-- <td class="cols_width_ho_th">{{event.Lot_Premium_Val}}</td>      -->
          <td class="cols_width_ho_th text-right">{{event.total_sales_price | currency:"$":0 }}</td>     
          <td class="cols_sm_date_width_th">{{event.Contract_Date | date:'MM/dd/yyyy'}}</td>     
          <td class="cols_sm_date_width_th">{{event.Ratified_Date| date:'MM/dd/yyyy'}}</td>     
          <td class="cols_sm_date_width_th">{{event.Settlement_Date| date:'MM/dd/yyyy'}}</td>     
          <td>{{event.Mortgage_Lender}}</td>     
        </tr>
        <tr>
          <!-- <td colspan="10" ng-hide="filtered_lots.length"><center><b>No Records Found</b></center></td> -->
          <td colspan="12" ng-hide="filtered_lots.length" style="width:1825px;border-right: 0px !important;" class="no_rec_td"><center><b>No Records Found</b></center></td>
        </tr>
      </tbody>
    </table>
    </div>
</div>    
<style>
  .cols_width_ho{  max-width: 245px;  min-width: 239px;   }
  .cols_width_tbody{ max-width: 240px; min-width: 239px;   }
  .cols_width_ho_td { min-width:92px; }
  .cols_width_ho_th{ max-width: 159px;min-width: 114px;}
  .cols_sm_width_th{ max-width:151px;min-width:151px; }
  .cols_xsm_width{ max-width: 90px; min-width: 90px;}
  .cols_sm_date_width_th{ max-width: 118px;min-width: 118px;}
  .cols_sm_date_width_th_hc_date{max-width: 135px;min-width: 135px;}
  .cols_sm_address{ max-width: 195px; min-width: 189px; }
  .cols_buttons{ min-width: 193px;max-width:195px;}
  .filters tr td{border-top:0px !important;}
</style>

<script>
  var  sales_status_scroll_buttons_left_position = 0;
  sales_status_scroll_buttons_left_position = $(window).width()-215

  function sales_status_scroll(){
    // Horizontal scrolling
      buttons_community_left_position = $(window).width()-$("#sales_status_dwnld").outerWidth()
      $(window).scroll(function () {
        comm_max_scroll = $(this).scrollLeft()+$(".sales_status_tbl").width()
        if(comm_max_scroll <=  $('.sales_status_thead').width()){
            $("#sales_status_dwnld").css({
                left: buttons_community_left_position+ parseInt($(this).scrollLeft())
            });
        }
      });
    $(".border_above_dev_allocation_filters").css({"margin":"0px"});
     // vertical scrolling
    sales_status_thead_scroll_top = $("#main_nav").offset().top+$("#main_nav").outerHeight()
      $(window).scroll(function(){
        if ($("#sales_status_filter_table").is(":visible")){
            var sales_status_sticky = $('.sales_status_thead'),
                sales_status_scroll = $(window).scrollTop();
            if (sales_status_scroll >= ($("#sales_status_filter_table").offset().top-40)){ 
              sales_status_sticky.addClass('fixed')
              $(".fixed").css("top",sales_status_thead_scroll_top);
              sales_status_sticky.css('left', $("#sales_status_filter_table").offset().left - $(window).scrollLeft());

            }
            else {
              sales_status_sticky.removeClass('fixed');
            }
        }
        sales_sts_resize();
      });
    }
// ............runs when plan report is selected and also while resizing.............
  function sales_sts_resize(){
    $(".sales_status_tbl").css("margin-top",$("#sales_status_filter_table").height()+1+"px");
    setTimeout(function(){
      sales_status_tbl_offset_left = $(".sales_status_tbl thead tr:first th:last").position().left+4;
        sales_status_tbl_td_n_th_width = $(window).width() - sales_status_tbl_offset_left
        $(".sales_status_tbl tbody tr:first td:last, .sales_status_tbl thead tr:first th:last").css({"max-width": sales_status_tbl_td_n_th_width, "min-width":sales_status_tbl_td_n_th_width});
        $(".sales_status_tbl tbody tr:first td:last").each(function() {
          $(this).css({"max-width": sales_status_tbl_td_n_th_width, "min-width":sales_status_tbl_td_n_th_width});
        });
       
        $(".border_above_spec_plan_filters").css({"width":$(".sales_status_tbl thead").width(),"margin":"0px"});
    },1);
    
  }

</script>
