<%= form_tag delete_files_images_path, :id =>"delete_files" do %>
<%= hidden_field_tag "lot_id", lot_id %>
<%= hidden_field_tag "lot_number", lot_number %>
<%= hidden_field_tag "user_role", user_role %>
<%= hidden_field_tag "parent_tab_id", parent_tab_id %>    
<%= hidden_field_tag "access_permission", access_permission %>
<%= hidden_field_tag "phase_parcel", phase_parcel %>

    <table class="table">
    <tr class="table_heading">
    <th>File Name</th>               
    <th>Uploaded Date</th>    
    <th></th>
    </tr>
    <% if files_count > 0 %>
        <% images.each do |image| %>
        <%= hidden_field_tag 'tbldataattachments[][id]', image.id %>  
        <tr>      
        <td>          
        <%= link_to image.image_file_name, :controller=> "images", :action=> "show", :id=>image %>
        </td>            
        <td><%= image.created_at.strftime("%m/%d/%Y") unless image.created_at.nil?%></td>             
        <td>
        <%= check_box_tag 'tbldataattachments[][_destroy]' %>
        </td>
        <%end%>
        </tr>               
    <%else %>
        <tr>
        <td colspan="8"><center>No Files Present</center></td>
        </tr>
    <%end%>
    </table>
    <% if files_count > 0 %>
    <div class="modal_footer_buttons">
        <%= submit_tag "Delete", :class => "btn btn-primary", :id=> "update_images", :value => "Delete", :confirm => 'Are you sure you want to delete this file?' %>
        <a href='#' onclick="close_docs_popup()" data-dismiss="modal" style="color:red;" class="cancel_btn_css">cancel</a>  
    </div>
    <%end%>      
    <% end %>
    

<script>
var touch_or_nontouch = 0;
if(navigator.userAgent.match(/(ipad)|(android)|(android 3.0)|(xoom)|(sch-i800)|(playbook)|(kindle)|(iphone)|(ipod)|(blackberry)|(opera)|(mini)|(palm)|(smartphone)|(iemobile)/i)){
        touch_or_nontouch=1;
    }
function close_docs_popup()
{
    $("#image_edit").dialog("close")
}
var del_options = {     
    success: function(res) 
    {                

        if(res.status=="success"){
         var clicked_lot_num = $("#delete_files #lot_number").val();
         $("#update_notification").css("display", "block");
         $("#update_notification").text("Media for Lot" + " " + clicked_lot_num + " " + "updated successfully");
         update_notification()

            if ($(".ui-dialog.ui-widget.ui-widget-content").length > 0) {
                  $(".ui-dialog.ui-widget.ui-widget-content").remove();
              }
           var filter = "filter";
           var vals = [];
           
            $('input:checkbox[name="legend_keys_ids[]"]').each(function() {
                if (this.checked) {
                    vals.push(this.value);
                }
            });

            if (vals.length<1){                
                      filter = "";
            } 
           
           
    	   var data_string={
                "filter":filter,                
                "role": role,
                "parent_tab_id": parent_tab_id,
                "access_permission":access_permission,
                "legend_keys": vals,
                "phase_parcel": phase_parcel,
                 "community": '<%=@opted_community%>',
                 "project": '<%= @opted_product %>',
                 "is_touch":touch_or_nontouch  
            };
         
                        
    	   $.ajax({
            url:'/tbldata/render_role_view',
            type:'get',
            dataType:'html',
            data:data_string,
            success:function (response) {                
                $("body").removeClass("modal-open")
                var l_id = "<%= lot_id %>";
                $(".map_render").html(response); 
                $(".ui-dialog").remove();
                edit_lot_docs(l_id);
                $("#ajax_loader").css("display", "none");
                $("body").removeClass("inactiveLink")
            }
        }); 
     }else{
        alert(res.msg);        
        $("#ajax_loader").css("display", "none");
        $("body").removeClass("inactiveLink")
     }	

    },
    complete: function(response) 
    {
    
    },
    error: function()
    {
    
    }
 
}; 
$("#delete_files").submit(function(){
	$("#ajax_loader").css("display", "block");
    $("body").addClass("inactiveLink")
    $("#delete_files").ajaxSubmit(del_options); 
    return false;
});

</script>