<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){ 
    pretty_viewer("on_load");
    if(window.parent.$("#community_filing_view").is(':visible'))
    {
      window.parent.$("#data_view").on('hidden.bs.modal', function () {
          setTimeout(function(){
            window.parent.$('body').addClass('modal-open');  
          },1)
      });
    }
  });

  $("#key_image").click(function(){
    pretty_viewer(this.getAttribute("data-image-url"))
  })

  function pretty_viewer(click_val)
  {
    var counter =0     
    $("a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'normal',theme:'light_square',slideshow:5000, autoplay_slideshow: false, show_title: true,  social_tools:false, deeplinking:false, changepicturecallback: function(){
      add_nav_link_for_images()},
    callback: function() { counter =0;}
    }); 

    function add_nav_link_for_images()
      { 
        if(counter == 0)
          { 
            $(".pp_hoverContainer").wrap('<a target="_blank" id="sample" href="#" />');
            counter++;
          }          
          var img_src = $("#fullResImage").attr('src');
          <% unless images.blank?%>
            <% images.each do |image| %>  
              <% unless image.pics_file_name.blank? %>   
                  <% if plan_view.blank? %>
                      var img_from_app = '<%=image.pics(:thumb) %>'
                  <% else %>
                      var img_from_app = '<%=image.pics(:thumb_community_images) %>'
                  <%end%>   

                  if (img_src ==  img_from_app)
                  {   
                      nav_link = '<%= image.navigation_link%>'
                      
                      if(nav_link.length>0)
                      { 
                        $("#sample").attr("href", nav_link);
                        $(".pp_hoverContainer").css("display", "block");
                      }
                      else
                      {  
                         $("#sample").removeAttr("href");
                      }
                  }                                      
              <%end%>   
            <%end%> 
          <% end %>  
      }
      var api_images = []
      var api_titles = []
      var api_desc = []
        <% unless images.empty? %>
          <% view_images_community_website.each do |image| %>
            api_titles.push('<%= image.title unless image.title.blank? %>')
            api_desc.push('<%= image.description unless image.description.blank? %>')
            <%if image.pics_file_size.blank?%>
              api_images.push('<%=image.youtube_url %>')                     
            <%else%>
              <% if plan_view.blank? %>
                api_images.push('<%= SITE_ROOT_DOMAIN_NAME%><%=image.pics(:thumb) %>')              
              <% else %>
               api_images.push('<%= SITE_ROOT_DOMAIN_NAME%><%=image.pics(:thumb_community_images) %>');
              <%end%>            
            <%end%>            
          <%end%> 
          if(click_val != "on_load"){
            if(click_val.indexOf("pictures") >= 0){
              img_url = click_val.split("pictures").pop();
              click_val = ('/pictures'+img_url).replace("thumb_view_details_images","thumb_community_images");
              var imageIndex= api_images.indexOf(click_val);
              api_images_length = api_images.length;
              var imageIndex= api_images.indexOf(click_val);
              api_images_split = api_images.splice(imageIndex,api_images_length-1);
              api_images = api_images_split.concat(api_images)
              // api_images.splice(imageIndex,1);
              // api_images.unshift(click_val);
            }
            else{
              var imageIndex= api_images.indexOf(click_val);
              api_images_length = api_images.length;
              var imageIndex= api_images.indexOf(click_val);
              api_images_split = api_images.splice(imageIndex,api_images_length-1);
              api_images = api_images_split.concat(api_images)
              // api_images.splice(imageIndex,1);
              // api_images.unshift(click_val);
            }
          }
          $.prettyPhoto.open(api_images,api_titles,api_desc);
          $.prettyPhoto.changePage('next');
          $.prettyPhoto.changePage('previous');       
        <%end%>
  }
</script>
<% if images.count == 1 %>
  <style type="text/css">
    .pp_previous, .pp_next
    {
      display: none !important;
    }
  </style>
<%end%>


<div class="container">
  <div class="col-md-7 col-xs-12">
    <div class="col-xs-12">
      <% if plan_view.present? %>
        <ul id="key_image_ul">
          <% unless key_image.empty? %>
            <% key_image.each do |key_image|%>
              <li style="line-height:281px;text-align:center">
                <% if key_image.navigation_link.blank?%> 
                    <% if key_image.youtube_url.blank? %>
                      <%= image_tag(SITE_ROOT_DOMAIN_NAME+key_image.pics(:thumb_view_details_images)  , :data => {:image_url => SITE_ROOT_DOMAIN_NAME+key_image.pics(:thumb_view_details_images)}, :class => "img_preview img-responsive",  :id=>"key_image", :style => "cursor:pointer") %> 
                    <% else%>
                      <img src="http://img.youtube.com/vi/<%= key_image.ytube_video_id%>/default.jpg" data-image-url="SITE_ROOT_DOMAIN_NAME+<%= key_image.youtube_url %>" id="key_image" style="cursor:pointer" class="img-responsive">
                    <% end %>
                <% else %> 
                  <%= link_to image_tag(SITE_ROOT_DOMAIN_NAME+key_image.pics(:thumb_view_details_images), :data => {:image_url => SITE_ROOT_DOMAIN_NAME+key_image.pics(:thumb_view_details_images)}, :id=>"key_image"), key_image.navigation_link, :target => "_blank", :class => "img-responsive"    %> 
                <% end %>
              </li>
            <% end %>
          <% else %>
            <div style="border: 1px solid;line-height:281px;text-align:center"  id="key_image" >No Media Available</div>
          <% end %>
        </ul>
      <% end %>
      <div id="phase_nav_container">
          <div id="next_nav"><img src="<%= SITE_ROOT_DOMAIN_NAME %>/assets/right_arrow.png"></div>
          <div id="prev_nav"><img src="<%= SITE_ROOT_DOMAIN_NAME %>/assets/left_arrow.png"></div>
        <div id="nav">
          <ul class="rslides" id="images-slider">
            <% unless view_images_community_website.empty? %>
              <%view_images_community_website.each_with_index do |image,index|%>
                <% if index ==0 %>
                  <li class="activeSlide">
                <% else %>
                  <li>
                <% end %>
                <% unless images.blank?%>
                  <% if image.pics_file_name.blank? %>        
                    <div>
                      <a>
                      <% if view.blank? %>
                        <img src="http://img.youtube.com/vi/<%= image.ytube_video_id%>/default.jpg">
                        <img class="OverlayIcon" src="/assets/youtube_logo.png" style="width: 20%;margin-top: 25%;margin-left: -61%;" />
                      <% else %>
                        <div style="position: relative;left: 0;top: 0;">
                          <img src="http://img.youtube.com/vi/<%= image.ytube_video_id%>/default.jpg" class="image_thumbnails img-responsive" data-image-url="<%= image.youtube_url %>" style="position: relative; top: 0; left: 0;">
                          <img class="OverlayIcon image_thumbnails img-responsive" src="/assets/youtube_logo.png" style="  width: 43%;position: absolute;top: 7px;left: 32px;height: 61%;" data_key_image_default = "http://img.youtube.com/vi/<%= image.ytube_video_id%>/default.jpg" data-image-url="<%= image.youtube_url %>" />
                        </div>
                      <% end %>

                      </a>
                    </div>  
                  <%else%>  
                    <% if plan_view.blank? %>
                        <% if image.navigation_link.blank?%>  
                          <%= image_tag(SITE_ROOT_DOMAIN_NAME+image.pics(:thumb) , :class => "img_preview") %>  
                        <% else %>                  
                            <%= link_to image_tag(SITE_ROOT_DOMAIN_NAME+image.pics(:thumb)), image.navigation_link, :target => "_blank" %> 
                        <% end %>
                    <% else %>
                     
                        <%= image_tag(SITE_ROOT_DOMAIN_NAME+image.pics(:thumb_view_details_images) , :class => "img_preview image_thumbnails img-responsive", :data => { :index_count => index, :image_url => SITE_ROOT_DOMAIN_NAME+image.pics(:thumb_view_details_images)}, :style => "cursor:pointer;width: 46px;height: 45px;") %>  
                     
                    <% end %>
                  <% end %>
                <% end %>
                </li>
              <%end%>     
          
            <% else %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <% if plan_view.present?%>
    <div class="col-md-5 col-xs-12">
        <div>
          <div id="plan_view_details" class="btn_edit_mode btn btn-primary edit_mode" style="background-color:#006698;;border-color:#006698 !important">Plan Info</div>
        </div>
        <div class="table-responsive col-xs-12 panel panel-default" style="max-height: 311px;overflow:auto;margin-top:2%;padding:0px !important" id="plan_details_div">
          <table>
            <% plan_details = StatusDetail.find(plan_id)%>
            <%PlanFieldDisplayName.all.each do |planfield|%>
              <tr>                        
                <td style="width:115px" class="right_align">
                  <label class="info_label"><%= planfield.Plan_Name%></label></td>
                <td class="left_align" valign="top">
                  <% if plan_details.Link_Name.blank? %>
                    <%= plan_details.StatusKey%>
                  <% else %>
                    <%= link_to plan_details.StatusKey , plan_details.Link_Name, :target => "_blank"%>
                  <% end %>
                </td>
              </tr>

              <tr class="plan_desc_tr">
                <td class="right_align" valign="top"><label class="info_label"><%= planfield.Plan_Description %></label></td>
                <td class="left_align" valign="top">
                  <div id="plan_desc_div">
                    <%= plan_details.Plan_Description.gsub(/\r/, ' ').gsub(/\n/, ' ') unless plan_details.Plan_Description.blank? %>
                    <input type="hidden" id="plan_desc_status" value="<%= plan_details.Plan_Description_Status %>">
                  </div>
                </td>
              </tr>                                     
              <script type="text/javascript">
                sqft = sqft_v = ""
                <% unless plan_details.Sq_Feet.blank? %>
                  sqft_v='<%= plan_details.Sq_Feet %>';
                  sqft = sqft_v + " " + '<%=(plan_details.Sq_Feet.present?) ? "SqFt" : '' %>';
                  $("#sqft").html(sqft)                                   
                <%end %> 
              </script> 

              <tr class="sq_feet_tr">  
                <td class="right_align">
                  <label class="info_label"><%= planfield.Sq_Feet %></label>
                </td>
                <td class="left_align" valign="top">
                  <label id="sqft" style="font-weight:normal;"></label>
                  <input type="hidden" id="sq_feet_status" value="<%= plan_details.Sq_Feet_Status %>">
                </td>
              </tr>

              <tr class="floors_tr">                        
                <td class="right_align"><label class="info_label"><%= planfield.Floors %></label></td>
                <td class="left_align" valign="top">
                  <label  id="floor_label" style="font-weight:normal"><%= plan_details.Floors %></label>
                  <input type="hidden" id="floors_status" value="<%= plan_details.Floors_Status %>">
                </td>
              </tr>

              <tr class="bedrooms_tr">
                <td class="right_align">
                  <label class="info_label"><%= planfield.Bedrooms %></label>
                </td>
                <td class="left_align" valign="top">
                  <label id="bedrooms_label" style="font-weight:normal"><%= plan_details.Bedrooms %></label>
                  <input type="hidden" id="bedrooms_status" value="<%= plan_details.Bedrooms_Status %>">
                </td>
              </tr>

              <tr class="full_bathrooms_tr">                        
                <td class="right_align"><label class="info_label"><%= planfield.Full_Bathrooms %></label>
                </td>
                <td class="left_align" valign="top">
                  <label id="full_bathrooms_label" style="font-weight:normal"><%= plan_details.Full_Bathrooms %></label>
                  <input type="hidden" id="full_bathrooms_status" value="<%= plan_details.Full_Bathrooms_Status %>">
                </td>
              </tr>
              <tr class="bathrooms_tr">                        
                <td class="right_align"><label class="info_label"><%= planfield.Bathrooms %></label></td>
                <td class="left_align" valign="top">
                  <label  id="bathrooms_label" style="font-weight:normal" ><%= plan_details.Bathrooms %></label>
                  <input type="hidden" id="bathrooms_status" value="<%= plan_details.Bathrooms_Status %>">
                </td>
              </tr>
              <tr class="last_tr garages_tr">
                <td class="right_align"><label class="info_label"><%= planfield.Garages %></label></td>
                <td class="left_align" valign="top">
                  <label id="garages_label" style="font-weight:normal"><%= plan_details.Garages %></label>
                  <input type="hidden" id="garages_status" value="<%= plan_details.Garages_Status %>">
                  </td>
              </tr>
            <%end%>
          </table>
        </div>
    </div>
  <% end %>



 <script>
    <%status_name = StatusDetail.find(plan_id)%>
        $("#floor_plans_website").append("<a id='plan_link' target='_blank'><%= status_name.StatusKey%></a>")
    <%link_name = StatusDetail.find_by_StatusKey(status_name.StatusKey).Link_Name%>
    <% if link_name.blank? %>
      $("#plan_link, #plan_name").css("color", "black")
    <%else%>
      $("#plan_link, #plan_name").attr("href",'<%=link_name%>')
    <%end%>

  function hide_empty_plan_rows(){
    if($("#plan_desc_div").text().trim().length == 0 ){
        $(".plan_desc_tr").hide();
      }
    else{
        $(".plan_desc_tr").show()
    }
   
    if($("#sqft").text().length == 0 ){
        $(".sq_feet_tr").hide();
      }
    else{
        $(".sq_feet_tr").show()
    }
    if($("#floor_label").text().length == 0 ){
        $(".floors_tr").hide();
      }
    else{
        $(".floors_tr").show()
    }
    if($("#bedrooms_label").text().length == 0 ){
        $(".bedrooms_tr").hide();
      }
    else{
        $(".bedrooms_tr").show()
    }
     if($("#bathrooms_label").text().length == 0 ){
        $(".bathrooms_tr").hide();
      }
    else{
        $(".bathrooms_tr").show()
    }
    if($("#full_bathrooms_label").text().length == 0 ){
        $(".full_bathrooms_tr").hide();
      }
    else{
        $(".full_bathrooms_tr").show()
    }
    if($("#garages_label").text().length == 0 ){
        $(".garages_tr").hide();
      }
    else{
        $(".garages_tr").show()
    }
  }


  function hide_inactive_plan_fields()
  {   
    if($("#plan_desc_status").val() == "off"){
        $(".plan_desc_tr").hide();
    }
   
    if($("#sq_feet_status").val() == "off"){
        $(".sq_feet_tr").hide();
    }
     if($("#floors_status").val() == "off"){
        $(".floors_tr").hide();
    }
    if($("#bedrooms_status").val() == "off"){
        $(".bedrooms_tr").hide();
    }
    if($("#bathrooms_status").val() == "off"){
        $(".bathrooms_tr").hide();
    }
    
    if($("#full_bathrooms_status").val() == "off"){
        $(".full_bathrooms_tr").hide();
    }
    if($("#garages_status").val() == "off"){
        $(".garages_tr").hide();
    }
  }
</script>

<style>
  .ui-tabs .ui-tabs-panel{
      padding: 0 !important;                
      margin-left: 3px;
      border: 1px solid #aaaaaa;
      /*height: 123px;*/
  }
  .right_align{
    text-align: right !important;
  }

  .left_align{
    text-align: left !important;
  }
</style>

<% if plan_view.present? %>
   <style>
    #lot_view_details, #plan_view_details{
      padding: 7px 12px;
    }
     .img-responsive{
      display:initial;
    }
    @media (max-width: 768px) { 
      div.phase_form_group_div {
       padding-right: 5%;
      } 
      div .phase_form_submit_button{
        text-align: center;
        margin-top: 6px;
        margin-bottom: 6px;
      }

      #phase_cta_details{
        margin-top: 0px !important;
      }    
    }
    #phase_cta_details{
      padding: 5px 10px !important;
      font-size: 13px !important;
    }
    .col-sm-2, .col-sm-9 {
        display: inline-block;
        float: none !important;
    }
    .col-sm-9 {
        vertical-align: middle;
    }
    #key_image_ul li img{
    /*display: block;*/
    margin-left: auto;
    margin-right: auto;
    }
     #nav ul{
    text-align: center;
    }
    .info_label{
      /*color:#5D7E94;*/
      color: #ba8648
      font-weight:normal;
    }
  #nav ul{     -webkit-padding-start: 5px;
      -moz-padding-start: 5px;
      -o-padding-start: 5px;
    }
  #nav li {  display: inline-block; margin: 20px 5px 5px 0px;list-style: none }
  #key_image_ul li{ list-style: none   }
  #phase_nav_container {
      z-index: 10000;
      height: 80px;
      overflow: hidden;
      width:89%;
      white-space: nowrap;
    }
  .image_thumbnails{width: 60px;height: 45px;}
  #prev_nav{position: absolute; left: 20px;font-size:20px;cursor: pointer;z-index: 1000;vertical-align:middle;line-height:80px}
  #next_nav{position: absolute;right: 2px;/*top:30px;*/cursor: pointer;z-index: 1000;vertical-align:middle;line-height:80px}
  /*#nav{position: absolute;width:86%; overflow: hidden;margin-left:6%;}*/
  /*#nav a { width: 60px; height:45px; display: block; }*/
  /*#nav img { border: none; display: block }*/
  #plan_details_div table, #lot_details_div table{  font-size:12px;width:100%;}
#plan_details_div table tr th,#plan_details_div table tr td,
#lot_details_div table tr th,#lot_details_div table tr td{
  border-right: 1px solid #F5F5F5 !important;
  border-bottom: 1px solid #F5F5F5 !important;
  padding: 5px;
}

.CTA_input_fields_display
{
  margin-top:5px; border-radius:4px !important;font-size:12px !important;height: 25px;
}
 .style_block{
  color:#ffffff;
  float: right;
  margin-top: -6%;
  margin-right:7%;
 }
</style>


  <script>
  $(document).ready(function(){
    hide_empty_plan_rows();
    hide_inactive_plan_fields();
      $("div#nav ul").removeAttr("class id");
      if("<%= key_image.count %>" == 0)
      {
        $("#next_nav, #prev_nav").hide();
      }
      else{
         var width = 0;
        $.map($('div#nav li img'),function(val){
            width+=$(val).width();
          });
        
          if(width >= 480)
          {
            $("#next_nav, #prev_nav").show();
          }
          else{
           $("#next_nav,#prev_nav").hide(); 
          }
      }
  });

  setInterval(function(){ 
      window_width  = $(window).width();
      images_count = $('div#nav li').length;
        
        if(images_count == 7  ){
          if(window_width < 690 ){
            $("#next_nav, #prev_nav").show();
          }
          else{
           $("#next_nav, #prev_nav").hide();
          }
        }
       
        else if(images_count == 6 ){
          if(window_width < 600 ){
             $("#next_nav, #prev_nav").show();
            }
            else{
            $("#next_nav, #prev_nav").hide();
          }
        }

        else if(images_count == 5 ){
          if(window_width < 525 ){
              $("#next_nav, #prev_nav").show();
            }
            else{
           $("#next_nav, #prev_nav").hide();
          }
        }
        else if(images_count == 4 ){
          if(window_width < 430 ){
              $("#next_nav, #prev_nav").show();
            }
            else{
            $("#next_nav, #prev_nav").hide();
          }
        }
        else if(images_count > 1 &&  images_count < 8 ){
          if(window_width < 355 ){
              $("#next_nav, #prev_nav").show();
          }
            else{
            $("#next_nav, #prev_nav").hide();
          }
        }
  }, 1);

    $(".edit_mode").mouseover(function(){
      if($(this).hasClass("clicked")){
        $(this).css("opacity","1");
      }else{
        $(this).css("opacity","1");
      }
    }).mouseout(function(){
       if($(this).hasClass("clicked")){
        $(this).css("opacity","1");
      }else{
        $(this).css("opacity","0.6");
      }
    });

    $("#nav img").click(function(){
        $("#key_image").attr("data-image-url", this.getAttribute("data-image-url"))
        $("#key_image").attr("src", this.src);
    });
    $(".OverlayIcon").click(function(){
      $("#key_image").attr("src", this.getAttribute("data_key_image_default"));
      $("#key_image").attr("data-image-url", this.getAttribute("data-image-url"));
    })

    $("#key_image").attr("src", $("li.activeSlide .image_thumbnails").attr("src"));
    $('#next_nav').click(function () {
        $active = $("#nav li.activeSlide");
        $next = $active.next();
        if( $next.length > 0 ) {
            $( "#nav" ).animate({
                scrollLeft: '+=156px'
            });                    
            $active.toggleClass("activeSlide");
            $next.toggleClass("activeSlide");        
        }
    });
    $('#prev_nav').click(function () {
        $active = $("#nav li.activeSlide");
        $prev = $active.prev(); 
        if( $prev.length > 0 ) {
            $( "#nav" ).animate({
                scrollLeft: '-=156px'
            });
            $active.toggleClass("activeSlide");
            $prev.toggleClass("activeSlide");  
        }    
    });

  </script>
<% end %>
