<%= form_tag delete_images_images_path, :id=>"delete_images" do %>
<%= hidden_field_tag "lot_id", lot_id %>
<%= hidden_field_tag "lot_number", lot_number %>
<%= hidden_field_tag "user_role", user_role %>
<%= hidden_field_tag "parent_tab_id", parent_tab_id %>    
<%= hidden_field_tag "access_permission", access_permission %>
<%= hidden_field_tag "project", project %>

<%= hidden_field_tag "phase_parcel", phase_parcel %>
<%= hidden_field_tag "product_type", project %>
<%= hidden_field_tag "community", community %>

<table class="table">
  <% if images.count > 0 %>
  <tr class="table_heading">
  <td>Image</td>    
    <td>Title</td>      
    <td>Description</td>      
    <td>Navigation Link</td>      
    <td>Key Image</td>  
    <td>Action</td>
</tr>
  
  
  <% unless images.empty?%>
    <% images.each do |image| %>

    <% if image.plan_id.blank? %>

    <tr>
      <td style="padding-left:5px;">
         <% if image.pics_file_name.blank? %>        
            <div>
                <a>
                <div style="position: relative; left: 0; top: 0;">
                  <img src="http://img.youtube.com/vi/<%= image.ytube_video_id%>/default.jpg" style="position: relative; top: 0; left: 0;">
                  <img class="OverlayIcon img-responsive" src="/assets/youtube_logo.png"  alt="" style="position: absolute; top: 30px; left: 85px;"/>
                  <!-- style="position: relative;margin-left: -30%" -->
                 </div>
                </a>
            </div>  
      <%else%>
        <% if image.navigation_link.blank?%>    
          <%= hidden_field_tag 'tbldataattachments[][id]', image.id %> 
          <%= image_tag(image.pics(:thumb_add_images)) %> 
        <% else %>                
          <%= link_to image_tag(image.pics(:thumb_add_images)), image.navigation_link, :target => "_blank" %> 
        <% end %>
        <% end %>
        </td>
        <td>                
        <%= text_area_tag "tbldataattachments[][title]" , image.title, :class=>"form-control", :autocomplete => "off",:data => {:value => image.title}, :maxlength=> 50, 
                  :style=>"height:75px;resize: vertical", :placeholder => "Tiltle (max length 50 characters)"%>
      </td>
      <td>                
        <%= text_area_tag "tbldataattachments[][description]" , image.description, :class=>"form-control", :style=>"height:80px;resize: vertical", :autocomplete => "off",:data => {:value => image.description},  :maxlength=> 250, :placeholder => "Description (max length 250 characters)"%>
      </td>
      <td>                
        <%= text_field_tag "tbldataattachments[][navigation_link]" , image.navigation_link, :class=>"form-control", :autocomplete => "off",:data => {:value => image.navigation_link}%>
      </td>

     

    <td>      

        <%= hidden_field_tag 'key_image[][id]', image.id %>   
        <% if @selected_key_image_id.to_i == image.id %>               
          <%= radio_button_tag 'key_image[][_key_image]', 1, true %>
        <%else%>
          <%= radio_button_tag 'key_image[][_key_image]', 1, false %>
        <%end%>
      </td>    
      <td>        
         <label id="remove_chkbx_lb"><%= check_box_tag 'key_image[][_destroy]', :style=>""%> Remove</label>
      </td> 

         
    </tr>
<%else%>
<tr>
      <td style="padding-left:0px;">
        <% if image.pics_file_name.blank? %>        
            <div>
                <a>
                <img src="http://img.youtube.com/vi/<%= image.ytube_video_id%>/default.jpg">
                 <img class="OverlayIcon" src="/assets/youtube_logo.png" style="position: relative;margin-left: -30%" alt="" />
                </a>
            </div>  
      <%else%>
          <% if image.navigation_link.blank?%>                
            <%= image_tag(image.pics(:thumb_add_images)) %> 
          <% else %>                
            <%= link_to image_tag(image.pics(:thumb_add_images)), image.navigation_link, :target => "_blank" %> 
          <% end %>
      <% end %>
        </td>
        <td>                
        <%= text_area_tag "tbldataattachments[][title]" , image.title, :class=>"form-control", :autocomplete => "off",:data => {:value => image.title, toggle: "tooltip", placement: "left"}, title:"Go to manage plans to update title", :disabled=> true%>
      </td>
      <td>                
        <%= text_area_tag "tbldataattachments[][description]" , image.description, :class=>"form-control", :style=>"height:80px;", :autocomplete => "off",:data => {:value => image.description, toggle: "tooltip", placement: "left"}, title:"Go to manage plans to update description",:disabled=> true%>
      </td>
      <td>                
        <%= text_field_tag "tbldataattachments[][navigation_link]" , image.navigation_link, :class=>"form-control", :autocomplete => "off",:data => {:value => image.navigation_link, toggle: "tooltip", placement: "left"}, title:"Go to manage plans to update navigation link",:disabled=> true%>
      </td>
   <td>
    
       <%= hidden_field_tag 'key_image[][id]', image.id %>   
       <%= hidden_field_tag 'key_image[][plan_id]', image.plan_id %>   
       <%= hidden_field_tag 'key_image[][pics_file_name]', image.pics_file_name %>   
       <%= hidden_field_tag 'key_image[][ytube_video_id]', image.ytube_video_id %>   
        <% if @selected_key_image_id.to_i == image.id %>                   
          <%= radio_button_tag 'key_image[][_key_image]', 1, true %>
        <%else%>
          <%= radio_button_tag 'key_image[][_key_image]', 1, false %>
        <%end%>
      </td>    
      <td>   
          
        <%= check_box_tag 'key_image[][_destroy]','',false,:disabled=> true%> Remove
      </td> 
    </tr>
  <%end%>    
  <%end%>             
  <%end%>             
  
  <tr>
    <td colspan="6">
      <div class="pull-right">                  
      <span>
      <%= submit_tag "Delete", :class => "btn btn-primary", :id=> "update_images", :value => "Save" %>
    <a href='#' onclick="close_popup()" data-dismiss="modal" style="color:red;" class="cancel_btn_css">cancel</a></span>
     </div>
    </td>
  </tr>  
  
  <% else %>            
      <tr>
        <td colspan="6">
          <center><p>No Images to Display</p></center>
        </td>
      </tr>
<%end%>
              
  
</table>

<%end%>
<style>
#remove_chkbx_lb{
  font-weight:normal !important;
}
#remove_chkbx_lb input[type=checkbox]{
  vertical-align: sub
}
</style>
<script>
var touch_or_nontouch = 0;
if(navigator.userAgent.match(/(ipad)|(android)|(android 3.0)|(xoom)|(sch-i800)|(playbook)|(kindle)|(iphone)|(ipod)|(blackberry)|(opera)|(mini)|(palm)|(smartphone)|(iemobile)/i)){
        touch_or_nontouch=1;
    }
function close_popup()
{   
    $("#image_edit").dialog("close")
}

var del_options = {     
    success: function(res) 
    {       
           var clicked_lot_num = $("#delete_images #lot_number").val();
            // $("#update_notification").css("display", "block");
            // $("#update_notification").text("Media for Lot" + " " + clicked_lot_num + " " + "updated successfully");
            update_notification()
        if(res.status=="success"){
            if ($(".ui-dialog.ui-widget.ui-widget-content").length > 0) {
                  $(".ui-dialog.ui-widget.ui-widget-content").remove();
              }
           var filter = "filter";
           var vals = [];
           
            $('input:checkbox[name="legend_keys_ids[]"]').each(function() {
                if (this.checked) {
                    vals.push(this.value);
                }
            });

            if (vals.length<1){                
                      filter = "";
            } 
           
           
    	   var data_string={
                "filter":filter,                
                "role": role,
                "parent_tab_id": parent_tab_id,
                "legend_keys": vals,
                "phase_parcel": phase_parcel,
                "community": '<%=@opted_community%>',
		            "access_permission": access_permission,
                "is_touch":touch_or_nontouch,
                "project": project

            };          
                
    	   $.ajax({
            url:'/tbldata/render_role_view',
            type:'get',
            dataType:'html',
            data:data_string,
            success:function (response) {                
                $("body").removeClass("modal-open")                
                var l_id = "<%= lot_id %>"
                $(".map_render").html(response);                                
                $(".ui-dialog").remove();
                // edit_lot_images(l_id) 
                edit_lot_images(l_id, "", "", "", "", res.update_flag);
                if($(".modal-backdrop").length > 0 ){
                  $(".modal-backdrop")[0].remove();   
                }
                $("#ajax_loader").css("display", "none");
                $("body").removeClass("inactiveLink")
            }
        }); 
     }else
     { 
     	alert(res.msg);              
        $("#ajax_loader").css("display", "none");
        $("body").removeClass("inactiveLink")
     }	

    },
    complete: function(response) 
    {
    
    },
    error: function()
    {
    
    }
 
}; 
$("#delete_images").submit(function(){
	$("#ajax_loader").css("display", "block");
  $("body").addClass("inactiveLink")
    $("#delete_images").ajaxSubmit(del_options); 
    $("#image_delete_error").empty();
    return false;
});

</script>
