<script>
    $(document).ready(function () {
        $('#tbldata_tbldataattachments_file').MultiFile();  
    });

    function browse_file(){        
        $('input[type="file"]').change(function() {            
           $('input[type="file"]').css('color', 'transparent'); 
           $("#file_upload_error").empty();
           $("#file_already_exists").empty();      
        });
    }
</script>
<%= form_tag(upload_files_images_path,:multipart => true,:id=>"upload_file") do %>
<%= hidden_field_tag "lot_id", "" %>   
<%= hidden_field_tag "lotn", "" %>   
<%= hidden_field_tag "user_role", "" %>   
<%= hidden_field_tag "parent_tab_id", "" %>
<%= hidden_field_tag "access_permission_id", access_permission_id %>
<%= hidden_field_tag "phase_parcel", phase_parcel%>
<%= hidden_field_tag "community", ""%>
<%= hidden_field_tag "product_type", product_type %>   

<div class="border_upload_popup"></div>
<p id="tbldata_tbldataattachments_file_wrap" class="margin_top_upload_popup" style="padding-left:3%"></p>
<p id="file_upload_error" class="upload_err_css"></p>
<div id="file_already_exists"></div>

<div class="modal_footer_buttons">
 <%= submit_tag "Upload Files", :class => "btn btn-primary", :id=> "upload_file_btn", :value => "Upload"%>
 <a href='#' onclick="close_file_popup()" data-dismiss="modal" style="color:red;" class="cancel_btn_css">cancel</a>
</div>

<% end %>

<script>
var touch_or_nontouch = 0;
if(navigator.userAgent.match(/(ipad)|(android)|(android 3.0)|(xoom)|(sch-i800)|(playbook)|(kindle)|(iphone)|(ipod)|(blackberry)|(opera)|(mini)|(palm)|(smartphone)|(iemobile)/i)){
        touch_or_nontouch=1;
    }
function close_file_popup()
{   
    $("#file_upload").dialog("close")
}
var file_options = {     
    success: function(res) 
    {       
        
        res = $.parseJSON(res);
        if(res.status=="success"){
            var clicked_lot_num = $("#upload_file #lotn").val();
            $("#update_notification").css("display", "block");
            $("#update_notification").text("Media for Lot" + " " + clicked_lot_num + " " + "updated successfully");
            update_notification()
            
            if ($(".ui-dialog.ui-widget.ui-widget-content").length > 0) {
                  $(".ui-dialog.ui-widget.ui-widget-content").remove();
              }
           var filter = "filter";
           var vals = [];

            $('input:checkbox[name="legend_keys_ids[]"]').each(function() {
                if (this.checked) {
                    vals.push(this.value);
                }
            });

            if (vals.length<1){
                      filter = "";
            } 
            var data_string = {
                "filter":filter,
                "role":$('#upload_file #user_role').val(),
                "parent_tab_id":$('#upload_file #parent_tab_id').val(),
                "access_permission":$('#upload_file #access_permission_id').val(),
                "legend_keys": vals,
                "phase_parcel": $('#upload_file #phase_parcel').val(),
                "community": '<%=@opted_community%>',
                 "project": "<%= @opted_product%>",
                 "is_touch":touch_or_nontouch  
            };        
           $.ajax({
            url:'/tbldata/render_role_view',
            type:'get',
            dataType:'html',
            data:data_string,
            success:function (response) {
                $("body").removeClass("modal-open")
                var l_id = $('#upload_file #lot_id').val();
                $(".modal-backdrop").remove();   
                $(".map_render").html(response);  
                $(".ui-dialog").remove();
                edit_lot_docs(l_id);
                filehtml='<input type="file" multiple accept="xls|pdf|xlsx|txt" name="tbldataattachments_attributes[][image]" id="tbldata_tbldataattachments_file" class="multi" value="">';
                $("#tbldata_tbldataattachments_file_wrap").html(filehtml);
                $('#tbldata_tbldataattachments_file').MultiFile();                 
                // $("#file_upload").dialog("destroy");
                $("#ajax_loader").css("display", "none");
                $("body").removeClass("inactiveLink")
                $("#file_upload_error").empty();
                $("#file_already_exists").empty();
           }
        }); 
     }else{
        $("#file_upload_error").text(res.msg);
        $("#file_already_exists").empty();
        if(res.upload_file_errors !=null ){      
        res.upload_file_errors.forEach(function(each_error_msg) {
        $("#file_already_exists").append($("<li/>").text(each_error_msg));
        });
    }
        $("#ajax_loader").css("display", "none");
        $("body").removeClass("inactiveLink")
        }  
    },
    complete: function(response) 
    {
    
    },
    error: function()
    {
    
    }
 
}; 
$("#upload_file").submit(function(){
    $("#file_already_exists").empty();
    $(".loader").css("display", "block");
    $("body").addClass("inactiveLink")
    $("#upload_file").ajaxSubmit(file_options); 
    return false;
});

</script>

