<script>
    $(document).ready(function () {
        $('#tbldata_tbldataattachments_image').MultiFile();  
    });

    function browse_image(){        
        $('input[type="file"]').change(function() {            
           $('input[type="file"]').css('color', 'transparent'); 
           $("#image_upload_error").empty();   
           $("#image_already_exists").empty();   
        });
    }
</script>
<%= form_tag(upload_images_images_path,:multipart => true,:id=>"upload_files") do %>
    <%= hidden_field_tag "lot_id", "" %>   
    <%= hidden_field_tag "lotn", "" %>   
    <%= hidden_field_tag "user_role", "" %>   
    <%= hidden_field_tag "parent_tab_id", "" %>
    <%= hidden_field_tag "product_type", product_type %>   
    <%= hidden_field_tag "phase_parcel", phase_parcel%>
    <%= hidden_field_tag "community", ""%>
    <%= hidden_field_tag "access_permission_id", access_permission_id %> 

    <div class="border_upload_popup"></div>
    <p id="tbldata_tbldataattachments_image_wrap" class="margin_top_upload_popup upload_images_content" style="margin-left: 2%;"></p>

    <div id="image_already_exists"></div>

    <table class="table upload_images_content" style="margin-bottom:0px !important">
        <tr>
            <td>Youtube Url:</td>
            <td><%= text_field_tag "youtube_url","",:class=>"form-control", :style => "width: 90%" %></td>
        </tr>
    </table>

         <p id="image_upload_error" class="upload_err_css"></p>
    <div  class="text-right" style="margin-bottom:1%;margin-right:2%">
        <%= submit_tag "Upload Files", :class => "btn btn-primary", :id=> "upload_file_btn", :value => "Upload"%>
        <% @images = ImageGallery.where("product_type like ? and community=?", "%#{@opted_product}%", @opted_community) %> 
        <% if !@images.empty?%>
            <button type="button" class="btn_add_images btn btn-primary" onclick="add_lot_images()">Select From Gallery</button> 
        <% else %>
        <% end %>
        <a href='#' onclick="close_image_popup()" data-dismiss="modal" style="color:red;" class="cancel_btn_css">cancel</a>
    </div>
<% end %>

<!-- <div id="add_lot_images" style="z-index:4000">
  </div>
 -->
<script>
var touch_or_nontouch = 0;
if(navigator.userAgent.match(/(ipad)|(android)|(android 3.0)|(xoom)|(sch-i800)|(playbook)|(kindle)|(iphone)|(ipod)|(blackberry)|(opera)|(mini)|(palm)|(smartphone)|(iemobile)/i)){
        touch_or_nontouch=1;
    }
function close_image_popup()
{   
    $("#image_upload").dialog("close")
}
var options = {  
    success: function(res) 
    {       
        res = $.parseJSON(res);
        if(res.status=="success"){
            var clicked_lot_num = $("#upload_files #lotn").val();
            $("#update_notification").css("display", "block");
            $("#update_notification").text("Media for Lot" + " " + clicked_lot_num + " " + "updated successfully");
            update_notification()
            if ($(".ui-dialog.ui-widget.ui-widget-content").length > 0) {
                  $(".ui-dialog.ui-widget.ui-widget-content").remove();
              }
           var filter = "filter";
           var vals = [];           
           
            $('input:checkbox[name="legend_keys_ids[]"]').each(function() {
                if (this.checked) {
                    vals.push(this.value);
                }
            });

            if (vals.length<1){                
                      filter = "";
            } 
            var data_string={
                "filter":filter,                
                "role":$('#upload_files #user_role').val(),
                "parent_tab_id":$('#upload_files #parent_tab_id').val(),                
                "legend_keys": vals,
                "phase_parcel": $('#upload_file #phase_parcel').val(),
                "project": '<%= product_type%>',
                "community": $('#upload_files #community').val(),
                "access_permission":$('#upload_file #access_permission_id').val(),
                "is_touch":touch_or_nontouch
            };           
    	   $.ajax({
            url:'/tbldata/render_role_view',
            type:'get',
            dataType:'html',
            data:data_string,
            success:function (response) {  
                $("body").removeClass("modal-open")
                var l_id = $('#upload_files #lot_id').val();
                $(".modal-backdrop").remove();
                $(".map_render").html(response);                                
                $(".ui-dialog").remove();
                edit_lot_images(l_id)  
                $("#ajax_loader").css("display", "none");
                $("body").removeClass("inactiveLink")
                $("#image_upload_error").empty();
            }
        }); 
     }else{
        $("#image_upload_error").text(res.msg);
        $("#image_already_exists").empty();
        if(res.upload_image_errors !=null ){
        res.upload_image_errors.forEach(function(each_error_msg) {
        $("#image_already_exists").append($("<li/>").text(each_error_msg));
        });
       }
        $("#ajax_loader").css("display", "none");
        $("body").removeClass("inactiveLink")
     }	

    },
    complete: function(response) 
    {
    
    },
    error: function()
    {
    
    }
 
}; 
$("#upload_files").submit(function(){
    $("#image_already_exists").empty();
    $("#ajax_loader").css("display", "block");
    $("body").addClass("inactiveLink")
    $("#upload_files").ajaxSubmit(options); 
    return false;
});

</script>

<style>
    span.MultiFile-label {
      display: block;
    }
    span.MultiFile-label:first-child {
      display: inline;
    }
</style>