	<table class="table">
	<tr class="table_heading">
	<th>File Name</th>               
	<th>Uploaded Date</th>    
	</tr>

	<% images.each do |image| %>
	<%= hidden_field_tag 'tbldataattachments[][id]', image.id %>  
	<tr align="left">      
	<td>          
	<%= link_to image.image_file_name, :controller=> "images", :action=> "show", :id=>image %>
	</td>            
	<td><%= image.created_at.strftime("%m/%d/%Y") unless image.created_at.nil?%></td>
	<%end%>
	</tr>               
	</table>
