<% if session[:project].blank? %>
    <%=link_to "Back to map", "/products/", :class=>"css_back_to_map_link"%>
<% elsif session[:community].blank? %>
	<%=link_to "Back to map", "/products/"+session[:project], :class=>"css_back_to_map_link"%>
<%elsif session[:parcel].blank? && !session[:community].blank? && !(session[:mainmenu].blank? || session[:menuoption].blank?)%>
	<%=link_to "Back to Map", "/products/"+session[:project]+"/communities/"+session[:community]+"/"+session[:mainmenu]+"/"+session[:menuoption], :class=>"css_back_to_map_link"%>
<%elsif session[:mainmenu].blank? || session[:menuoption].blank?%>
	<%=link_to "Back to map", "/products/", :class=>"css_back_to_map_link"%>
<%else%>
	<%=link_to "Back to Map", "/products/"+session[:project]+"/communities/"+session[:community]+"/"+session[:parcel]+"/"+session[:mainmenu]+"/"+session[:menuoption], :class=>"css_back_to_map_link"%>
<%end %>