<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="IE=EmulateIE9" >
    <title>Echelon Homes</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "bootstrap-select" %>
    <%= javascript_include_tag "jquery-1.9.0" %>
    <%= javascript_include_tag "jquery-ui" %>
    <%= javascript_include_tag "zebra_datepicker" %>
    <%= javascript_include_tag "jquery.mobileevents" %>
    <%= javascript_include_tag 'MultiFile' %>
    <%= javascript_include_tag "jquery.validate-1.11.1" %>
    
    <%= javascript_include_tag 'jquery.prettyPhoto' %>
    <%= javascript_include_tag :application %>
    <%= javascript_include_tag "jquery.form" %>
    <%= javascript_include_tag "jquery.tablesorter.min.js" %>
    <%= javascript_include_tag "jquery.tablesorter.widgets.js" %>
    <%= javascript_include_tag 'inputmask' %>
    <%= javascript_include_tag 'matchMedia' %>
    <%= javascript_include_tag 'svg-pan-zoom' %>
    <%= javascript_include_tag 'hammer' %>    
    <%= javascript_include_tag 'jscolor' %>
    <%= javascript_include_tag  "bootstrap.offcanvas" %>
    <%= javascript_include_tag  "bootstrap-multiselect" %>

    <%= stylesheet_link_tag "bootstrap" %>
    <%= stylesheet_link_tag "jquery-ui" %>
    <%= stylesheet_link_tag "common" %>  
    <%= stylesheet_link_tag "zebra_datepicker" %>  
    <%= stylesheet_link_tag "theme.default" %>
    <%= javascript_include_tag 'jPushMenu' %>
    <%= stylesheet_link_tag "jPushMenu" %>
    <%= stylesheet_link_tag "prettyPhoto" %>
    <%= stylesheet_link_tag "responsiveness_style" %>
    <%= stylesheet_link_tag "bootstrap.offcanvas" %>
    <%= stylesheet_link_tag "styles" %>

    <script>
      $(function($) {
            $.mask.definitions['~']='[+-]';
            $('#dialog input#phone').mask('999-999-9999');
            $('#dialog input#outside_phone').mask('999-999-9999');
            $('#dialog input#referral_phone').mask('999-999-9999');
      });
    </script>
    <meta equiv="X-UA-Compatible" content="chrome=1">
  </head>
  <body class="<%= params[:controller]+"_"+params[:action]%>">
    <div id="bg">
        <div id="main">
          <div id="header">
            <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
              <div class="contaisner nav_bar_container_app">
                <div class="navbar-header">
                  <% if @udata.present? %> 
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav_bar_navigation" id="nav_toggle_button">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>  
                  <% end %>
                  <%= link_to products_path do %>
                     <%= image_tag "/assets/logo.png", class: "logo-margin-padding img-responsive" %>
                  <% end %>
                </div>    
                <div class="alert_menu_name" id="menu_name_display"></div>
                <div class="navbar-collapse collapse" id="nav_bar_navigation" style="max-height: none !important;">
                  <ul class="nav navbar-nav navbar-right" id="main_navigation">
                    <% if @udata.present? %> 
                      <li class="dropdown mega-dropdown">     
                        <a href="#" class="dropdown-toggle" > 
                          <span class="glyphicon glyphicon-search"></span>
                          <span class="dropdown_arrow"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" style="min-width: 273px;padding-top:0px !important">
                            <table class="table table_bottom">
                              <tr>
                                <td id="error_msg_td" class='collapse'>Please select Street Name and Street Number</td>
                              </tr>
                              <tr>
                                <td>
                                <select class="form-control selectpicker show-tick" id="lt_add_dropdown" name="Street_Number_Drp" data-live-search="true">
                                  <option value="">Select Street Name</option>
                                    <!-- < Tbldatum.find_by_sql("select  distinct substring_index(substring_index(Address, ' ',-2), ' ',  -2) as Address from GIS_LotsInfo where Address != ''").each do |c| %> -->
                                    <% Tbldatum.find_by_sql("select distinct substring_index(substring_index(Address, ' ',-(ROUND(( LENGTH(Address)-LENGTH( REPLACE ( Address, ' ', '')))/LENGTH(' ')))), ' ', -(ROUND(( LENGTH(Address)-LENGTH( REPLACE ( Address, ' ', '')))/LENGTH(' ')))) as Address from GIS_LotsInfo where Address != '' and SVG_ID is not null order by Address").each do |c| %>
                                      <option value="<%= c.Address.downcase %>"><%= c.Address %> </option>
                                    <% end %>
                                  </select>
                                </td>
                              </tr>
                              <tr id="street_num_tr" class='collapse'>
                                <td>
                                  <div id="street_numbers_dropdown"></div>
                                </td>
                              </tr>
                              <tr>
                                <td ><a href="" id="search_form_submit" class="btn btn-success pull-right"/>Search</td>
                              </tr>
                            </table>
                        </ul>
                      </li>
                      

                      <li>
                        <%= link_to products_path do %>
                            <span class="glyphicon glyphicon-home"></span>
                        <% end %>
                      </li>

                      <!-- # < unless @project.nil? ? true : @project.empty? ? true :false %> -->
                        <li class="dropdown">     
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span><%= @chosen_project %></span><span class="dropdown_arrow"></span>
                          </a>

                            <ul class="dropdown-menu" role="menu">
                              <% @project.each do |project| %>                   
                                <% if !@opted_community.nil? %> 
                                  <%l_c_id=LotCollectionLot.find_by_Community(@opted_community).Lot_Collection_Id %>  
                                    <% projectStatus = @udata.roles.map{|role| role.rds_lot_collections.where(:Lot_Collection_Id=>l_c_id)}.flatten.map{|x|x.Product_Type_Id.split(",")}.flatten.uniq.include?(project.Id.to_s) %>
                                    <% if projectStatus == true %>
                                      <li role="presentation">
                                       <%= link_to project.Project_Name ,"/products/#{project.Project_Name}/communities/#{@opted_community}", :class => "'main_navigator", :role => "menuitem" %>
                                      </li>
                                    <% else%>
                                        <li role="presentation">
                                          <%= link_to project.Project_Name ,"/products/#{project.Project_Name}", :class => "'menudisable", :role => "menuitem" %>
                                        </li>   
                                    <% end %>
                                <%else%>
                                    <% projectStatus = @udata.roles.map{|role| role.rds_lot_collections}.flatten.map{|x|x.Product_Type_Id.split(",")}.flatten.uniq.include?(project.Id.to_s) %>
                                    <% if projectStatus == true %>                                
                                      <li role="presentation">
                                        <%= link_to project.Project_Name ,"/products/#{project.Project_Name}", :class => "'main_navigator", :role => "menuitem" %>
                                      </li>
                                    <% else %>
                                      <li role="presentation">
                                        <%= link_to project.Project_Name ,"/products/", :class => "'menudisable", :role => "menuitem" %>
                                      </li> 
                                    <% end %>
                                <%end%>          
                              <% end %>
                            </ul>
                        </li>
                      <!-- <end%> -->
                                  
                      <% unless @communities.nil?? true : @communities.empty??true:false %>
                        <li class="dropdown">     
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span><%= @chosen_community %></span><span class="dropdown_arrow"></span>
                          </a>

                          <ul class="dropdown-menu" role="menu">
                            <%@communities.each do |community|%>  
                              <% map_name= community.delete(" ")%>
                              <% if File.exist?("public/#{map_name}.svg")%>
                                <li role="presentation">
                                   <%= link_to community ,"/products/#{@opted_product}/communities/#{community}", :class => "'main_navigator", :role => "menuitem" %>
                                </li> 
                              <% end %>
                            <% end %>                                                     
                          </ul>           
                        </li>
                      <% end %> 
                      <% community_name = @chosen_community%>
                      <% if community_name == "Select Community"%>
                        <li class="dropdown">     
                          <a href="#" class="menudisable" data-toggle="dropdown">
                            <span><%= @chosen_parcel %></span><span class="dropdown_arrow"></span>
                          </a>
                        </li>
                      <% else %>                      
                        <% unless @parcels.nil?? true : @parcels.empty??true:false %>     
                          <li class="dropdown">     
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                              <span>
                                <% if @chosen_parcel == "Select Phase"%>
                                  <%= @chosen_parcel %>
                                <% else %>
                                  <%= @chosen_parcel %>
                                <%end %>
                              </span><span class="dropdown_arrow"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                              <%@parcels.each do |parcel|%>                                 
                                <% unless parcel.nil?%>     
                                <%community =  @opted_community.delete(" ")%>
                                 <!-- map_name= parcel.delete(" ")%> -->
                                  <% map_name= community+"_section"+parcel.delete(" ")%>
                                <% end %>
                                <% if File.exist?("public/#{map_name}.svg")%>
                                  <li role="presentation">
                                      <a role="menuitem" id="<%= parcel%>" class="main_navigator phase_navigator" data-url='/products/<%= @opted_product%>/communities/<%= @opted_community%>/<%= parcel%>' href="/products/<%= @opted_product%>/communities/<%= @opted_community%>/<%= parcel%>"><%= parcel %>
                                      </a>
                                    </li>                                        
                                  <% end %>                        
                                <% end %> 
                            </ul>           
                          </li>
                        <% end %> 
                      <% end %>
                      <% if @udata.is_admin? %>  
                         <% session[:community] = @previous_selected_com %>
                         <% session[:project] = @previous_selected_pro %>
                         <% session[:parcel] = @previous_selected_phase %>
                          <li class="dropdown">     
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">  
                                 <span class="glyphicon glyphicon-cog"></span><span class="dropdown_arrow"></span>
                              </a>
                              <ul class="dropdown-menu" role="menu">
                                <li role="presentation">
                                  <%= link_to "Data Refresh" ,"/data_load_statuses/fetch_date_and_status" %>
                                </li>
                                 <li role="presentation"> 
                                  <%= link_to "Manage Lot Collections" ,"/lot_collection" %>     
                                </li>
                                <li role="presentation">      
                                  <%= link_to "Manage Roles" ,"/roles" %>     
                                </li>
                                <li role="presentation">      
                                  <%= link_to "Manage Lot Fields" ,"/manage_click_fields" %>     
                                </li> 
                                <li role="presentation">      
                                  <%= link_to "Manage Filter" ,"/status_color" %>
                                </li>  
                                 <li role="presentation">                       
                                  <%= link_to "Manage Contact Form" ,"/contact_form" %>
                                </li> 
                                <li role="presentation">      
                                  <%= link_to "Manage Lot Types" ,"/lot_types" %>
                                </li>
                                <li role="presentation">      
                                  <%= link_to "Manage Lot Status" ,"/lot_status" %>
                                </li>  
                                <li role="presentation">      
                                  <%= link_to "Manage Spec Aging" ,"/spec_aging" %>
                                </li>
                                <% if LotFieldDisplayName.find(1).Avble_Clk_Status == "on"%>
                                  <li role="presentation">      
                                    <%= link_to "Manage Plans" ,"/status_key" %>
                                  </li>
                                <%else%>
                                  <li role="presentation">      
                                    <%= link_to "Manage Plans" ,"/status_key" , :class => "menudisable"%>
                                  </li>
                                <%end%>                                
                                  <li role="presentation">               
                                    <%= link_to "Manage Users" , users_url %>        
                                  </li>   
                                  <li role="presentation">  
                                    <%= link_to "Set Time Zone" , "/set_time_zone" %>           
                                  </li> 
                                  <li role="presentation">  
                                    <%= link_to "Manage Zero Count Status" , "/zero_count_statuses" %>
                                  </li>
                                  <li role="presentation">  
                                    <%= link_to "Manage Lot Basis" , "/lot_bases" %>   
                                  </li>                                   
                              </ul>           
                          </li>  
                      <% end %>    
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">        
                          <span><%= @udata.First_Name %></span><span class="dropdown_arrow"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu"> 
                          <li role="presentation">                       
                            <a role="menuitem" class="main_navigator" href="/home/reset_pwd" >Reset Password</a>               
                          </li>
                          <li role="presentation">                        
                            <a role="menuitem" class="main_navigator" href="/home/sign_out" >   Sign out
                            </a>               
                          </li>
                        </ul>
                      </li>
                    <% end %>
                  </ul>  
                </div>           
              </div>
            </div>
          </div>          
          <!-- / header-->
          <div class="contasiner main_container">                
            <%= yield %>        
          </div>  
      </div>
      <!-- main-->

      <!-- footer -->    
      <div id="footer" class="fix_footer">
        <div class="fleft"><p>Copyright &copy; <%= Time.now.year %> Mark Systems All Rights Reserved</p></div>
        <div class="fright"><p><a href="http://www.lotvue.com/" target="_blank">www.lotvue.com</a></p></div>
        <div class="fclear"></div>            
      </div>          
      <!-- / footer -->    
    </div>
  </body>
  <script>
  $("#search_form_submit").click(function(e){
    $(".dropdown-menu a#search_form_submit").attr("style","background-color:#5cb85c !important;border:#5cb85c !important;")
    if($(this).attr("href") == ""){
      e.preventDefault();
      $("#error_msg_td").removeClass("collapse")
      $("#error_msg_td").attr("style","display:inline-grid !important; color:red");
    }
  })
    function render_street_number_drpdown(Street_Name_Id){
       $.ajax({
        url:'/products/render_street_numbers',
        type:'get',
        dataType:'html',
        data:{
            "Street_Name_Id":Street_Name_Id,
            "Menu": "<%= @menu %>",
            "Menuoption":"<%= @menuoption %>"
          },
        success:function (response) {
            $("#street_numbers_dropdown").html(response);
            $("#street_num_tr").removeClass("collapse")
            $("#street_num_tr").attr("style","display:inline-grid !important");
            $(".street_num_drp_down").attr("style","display:block !important");
            
            $('.street_num_drp_down').selectpicker({
              liveSearch: true,
              maxOptions: 1
            });
        },
        complete: function (data) {

        }
      })
    }
    $("#lt_add_dropdown").change(function(){
      Street_Name_Id= $(this).val()
      render_street_number_drpdown(Street_Name_Id)
      return false;
    })
    $(document).ready(function(){
      lt_address = $.urlParam('lt_address');
      if(lt_address != null){
        lt_address = lt_address.replace(/%20/g," ")
        if($.urlParam('svg_id') && lt_address){
          lt_address = lt_address.substr(lt_address.indexOf(' ')+1)
          $("#lt_add_dropdown").val(lt_address.toLowerCase());
          render_street_number_drpdown(lt_address)
        }
      }
    })
    $('li.dropdown.mega-dropdown a').on('click', function (event) {
        $(this).parent().toggleClass('open');
    });

    $('body').on('click', function (e) {
        if (!$('li.dropdown.mega-dropdown').is(e.target) 
            && $('li.dropdown.mega-dropdown').has(e.target).length === 0 
            && $('.open').has(e.target).length === 0
        ) {
            $('li.dropdown.mega-dropdown').removeClass('open');
        }
    });
    $.urlParam = function(name){
      var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
      if (results==null){
         return null;
      }
      else{
         return results[1] || 0;
      }

    }
    function dropdown_arrow(){
      if (window.matchMedia('(max-width: 767px)').matches) {
          $(".dropdown_arrow").addClass("caret");
          $("#menu_name_display").removeClass("alert_menu_name").addClass("alert_menu_name_sm")
      } else {
          $(".dropdown_arrow").removeClass("caret")
          $("#menu_name_display").addClass("alert_menu_name").removeClass("alert_menu_name_sm")
      }
    }
    $(window).resize(function(){ 
      dropdown_arrow()
    });
    $(document).ready(function(){ 
      dropdown_arrow();
    });
  </script>
  <%= javascript_include_tag "bootstrap.min" %>

</html>
