<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="x-ua-compatible" content="IE=EmulateIE9" >
<title>Demo LotVue</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width">
 <%= csrf_meta_tags %>
  <%= javascript_include_tag "jquery-1.9.0" %>
  <%= javascript_include_tag "jquery-ui" %>
  <%= javascript_include_tag "zebra_datepicker" %>
  <%= javascript_include_tag "jquery.mobileevents" %>


  <%= javascript_include_tag "jquery.validate-1.11.1" %>
  <%= stylesheet_link_tag    "bootstrap" %>
  <%= stylesheet_link_tag    "jquery-ui" %>
  <%= stylesheet_link_tag    "common" %>  

 <%= javascript_include_tag 'jPushMenu' %>
 <%= stylesheet_link_tag    "jPushMenu" %>
  <%= javascript_include_tag "jquery.form" %>
<%= javascript_include_tag "bootstrap.min" %>
  <link rel="stylesheet" href="/assets/prettyPhoto.css" type="text/css" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" />
<script src="/assets/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>

<link href="/assets/styles.css" rel="stylesheet" type="text/css" />
<%#= javascript_include_tag "application" %>
<%= javascript_include_tag 'svg-pan-zoom' %>
<%= csrf_meta_tags %>
<meta equiv="X-UA-Compatible" content="chrome=1">
</head>
<body>
  <div id="bg">
      <!-- main -->
      <div id="main">
          <!-- header -->
         
          <!-- / header-->      
          <%= yield %>
      </div>
      <!-- main-->

      <!-- footer -->    
     <!--  <div id="footer">
          <div class="fleft"><p>Copyright &copy; 2014 LogicMatter</p></div>
          <div class="fright"><p><a href="http://www.logicmatter.com/" target="_blank">www.logicmatter.com</a></p></div>
          <div class="fclear"></div>            
      </div>   -->        
      <!-- / footer -->    
  </div>

  <%= javascript_include_tag "bootstrap.min" %>
  </body>
</html>
<style>
body
{
  background: none !important;
  overflow: hidden; 
  padding-top: 0px !important;
}
.svgview {
    margin: 2% 0 0 104px !important;
    }
#bg {
    background: none !important;    
}
</style>